

/*************** hero banner ******************/

#hero-banner-wrapper {
	position: absolute; 
	top: 166px; 
	height: 365px; 
	width: 100%; 
	min-width: 1006px; 
	padding: 0;
	margin: 0;
	
}


/*Three content boxes*/

.featurebox {
	margin: 25px 0 0 0;
	width:300px;
	height:231px;
	background-color:#f9f8f8; 
	border:1px solid #f2f2f2; 
	border-bottom:2px solid #cccccc;
	border-right:1px solid #cccccc;
	border-radius:3px; 
	float: left;
	box-shadow: 0 2px 2px #666;
	-o-box-shadow: 0 2px 2px #888;
	-icab-box-shadow: 0 2px 2px #888;
	-khtml-box-shadow: 0 2px 2px #888;
	-moz-box-shadow: 0 2px 2px #888;
	-webkit-box-shadow: 0 2px 2px #888;
	box-shadow: 0 2px 2px #888;
	}

.spacing {
 margin: 25px 27px 0 27px;
 padding: 0 0 0 0;
}
/*************** call to action button *********************/

.cta-button {
    background: none repeat scroll 0 0 #3FACEF;
    font-size: 17px;
    font-weight: bold;
    padding: 11px 50px;
	cursor: pointer;
	color: #ffffff;
	width: 150px;
	
}	

.cta-button a, a:visited, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

/*************** form overlay *********************/

.overlaybox{
    position:fixed;
    top:-300px;
    left:40%;
    right:40%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
	border-radius:20px; 
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}


.overlaybox h1{
    border-bottom: 1px dashed #f2f2f2;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#e5e5e5;
    color:#333;
	border-radius:20px; 	
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}

/*************** form *********************/


.box input[type="text"], .box input[type="password"], .txtField, .cjComboBox {
    border: 6px solid #F7F9FA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95A2A7 inset;
    display: block;
    margin: 3px 0 4px;
    padding: 8px 6px;
    width: 200px;
}



#hero-banner .sub-slogan {

    padding: 2px 0 0 975px;
	width:420px;
}