﻿

body {
    background: #1C1C1C;
    font-family: "Roboto","Helvetica-Neue","Helvetica",sans-serif;
    position: relative;
    height: 100%;
}

.landingBody {
    height: 100%;
    width: 100%;
    margin: 0;
}

.landingContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #272727;
    background: url('../../Images/VisionLanding/DarkTheme/Asset_Boomerang grey.png') bottom right;
    background-repeat: no-repeat;
    position: fixed;
    background-size: 861px 680px;
}

.loginContainer {
    width: 375px;
    height: 500px;
    position: absolute;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    padding: 0px;
    margin: 0px;
    border: none;
}

.loginFieldsContainer {
    width: 100%;
    height: 400px;
    position: relative;
    top: 50px;
    background-color: rgba(88, 88, 88, 0.85);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#contactContainer {
    left: 0px;
    bottom: -30px;
    position: absolute;
    height: 50px;
    background: transparent;
    width: 100%;
    border-width: 0px;
}

#loginTopMask {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    background: transparent;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#usernameContainer {
    top: 150px;
}

#passwordContainer {
    top: 214px;
}

.loginTextBox {
    height: 36px;
    background: black;
    color: white;
    width: 260px;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
    border-style: solid;
    font-size: 13px;
}

.loginTextBoxContainer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.loginButton {
    background: rgb(17, 17, 17);
    border-color:  rgb(17, 17, 17);
    border-style: solid;
    font-weight: bold;
    font-size: 14px;
    color: white;
    width: 140px;
    height: 40px;
    border-width: 1px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: 285px;
    position: absolute;
}

.logoContainer {
    background-image: url('../../Images/VisionLanding/DarkTheme/VisionLogo.png');
    background-size: 200px 60px;
    width: 200px;
    height: 60px;
    position: absolute;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: 30px;
}

.customerCareLabel {
    color: white;
}

.customerCareNumber {
    color: white;
    color: #007AFF;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 375px;
}

.loginFooter {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: rgb(221, 221, 221);
}

.bregUrl {
    position: absolute;
    top: 50%;
    right: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a {
    color: rgb(221, 221, 221);
    text-decoration: none;
}
.loginError {
    bottom: 0px;
    padding: 15px 15px;
    position: absolute;
    color: rgb(128,0,0)
}