
/* CSS Document */



/*************** hero banner ******************/

#hero-banner-wrapper {
	position: inherit;
	top: 166px; 
	height: 365px; 
	width: auto; 
	min-width: 1006px;
	padding: 0;
	margin: 0px auto;
	text-align:center;
	
}
#hero-banner {
	height: 364px; 
	position: relative;  
	background: url(../img/breg-vision-hero1.jpg) center no-repeat; 
	overflow: visible;
	padding: 0;
	margin: 0;
	width: 1006px;
}

.cta-button {
    background: #3FACEF;
	display:block;
}	