/*************** generic ******************/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

body {
    background: url("../../Images/LandingPage/top-background.jpg") repeat-x scroll 0 0 #ffffff;
    border-top: 3px solid #363636;
    color: #000000;
    font: 12px Helvetica,Arial;
    min-width: 1087px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -300px;
}

.footerpull, .push {
	height: 300px;
	clear: both;
}



a, a:visited, a:active {
    color: #3facef;
    text-decoration: none;
}

p {
	color: #999999;
	font-size: 1.25em;	
	line-height: 1.25em;
	
}

h1, h2, h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666666;	
}

.cta-button {
    background: none repeat scroll 0 0 #3FACEF;
	width: 270px;
    border-radius: 5px 5px 5px 5px;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding: 11px 50px;
    background-image: -moz-linear-gradient(center bottom , #3188BD 0%, #3FACEF 94%);
    border: 1px solid #3188BD;
    box-shadow: 0 3px 0 -2px rgba(255, 255, 255, 0.3) inset, 0 2px 0 #0F6AB1, 0.6px 3px 4px rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 #666666;
	cursor: pointer;
	color: #ffffff;
}	

.cta-button a, a:visited, a:active {
    color: #FFFFFF;
    text-decoration: none;
}


/*************** hero banner ******************/

#hero-banner-wrapper {
	position: absolute; 
	top: 166px; 
	height: 365px; 
	width: 100%; 
	min-width: 1006px; 
	padding: 0 0 0 0;
}

#hero-banner {
	height: 364px; 
	position: relative; 
	text-align: center; 
	width: auto; 
	background: url(../../Images/LandingPage/breg-vision-hero1.jpg) center no-repeat; 
	overflow:hidden
}
#hero-banner .slogan {
    color: #000;
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
    margin: 0 0 3px;
    padding: 25px 0 0 520px;
}

#hero-banner .sub-slogan {
	color: #666666;
    font-size: 20px;
	line-height: 24px;
	font-weight: bold;
    margin: 0;
    padding: 2px 0px 0 520px;
	
}
.cta-button-wrapper {
	padding: 24px 0 0 531px;
	margin: 0
}

/*************** header ******************/


#logo {
	padding: 0; 
	margin: 0 0 0 0;
}

#main-menu {
	padding: 51px 0 0 0; 
	margin: 0;
}


#main-menu ul {
    display: block;
    width: 100%;
	padding-left: 30px;
	
}
ul {
    list-style: none outside none;
}
#main-menu ul li {
    display: block;
    float: left;
    line-height: 30px;
    text-align: center;
    width: 120px;
}

#main-menu ul li a {
    color: #3facef;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:15px	
}

/*************** login form ********************/
#login_tab{
	background: url(../../Images/LandingPage/login-tab-background.png) no-repeat scroll center top #000000;
    border-top: 1px solid #3e3e3e;
    margin-left: auto;
    margin-right: auto;
    min-height: 55px;
    position: relative;
    width: 100%;
}

#login_form {
	margin-right: auto; 
	margin-left: auto;
	width:475px;
	padding-left:360px;
	height:55px;
	position:relative;
}
#login_form #login_password {
	width: 350px;
	text-align:center;
	min-height: 14px;
	
}
#login_form #login_password label{
	
	font-size: 10px;
	color: #ff3300;		
}

.textbox_bg {
	background: url(../../Images/LandingPage/login-text-background.png) no-repeat;
	float:left;	
	width: 137px;
	height: 29px;
	border: none;
	margin: 2px 4px 0 0;
	color: #d2d2d2;
}
#login_form input#UserName,
#login_form input#PassWord{
	width: 121px;
	height: 29px;
	border: none;
	padding: 0px 8px !important;
	color: #d2d2d2;
    background: transparent
}
#login_form input[type=submit]{
	background: url(../../Images/LandingPage/login_button.png) no-repeat;
	width: 68px;
	height: 29px;
	cursor: pointer;
	border: none;
	margin: 2px 2px 0 0;
	padding: 2px;
}


/*************** main-content ******************/

.intro-wrapper {
	width:960px;
	margin-left: auto; 
	margin-right: auto; 
	padding-top: 20px;	
	
}
.intro {
	
	width:740px;
	position:relative;
	float:left;
	padding: 20px 20px 0 0
}

.intro h2 {
	font-size: 1.75em;	
}

#see-demo {
	width:200px;
	position:relative;
	float:left
}

/*Three content boxes*/

.featurebox {
	margin: 25px 0 0 0;
	width:300px;
	height:231px;
	background-color:#f9f8f8; 
	border:1px solid #f2f2f2; 
	border-radius:3px; 
	float: left;
	box-shadow: 0 2px 2px #666;
	-o-box-shadow: 0 2px 2px #888;
	-icab-box-shadow: 0 2px 2px #888;
	-khtml-box-shadow: 0 2px 2px #888;
	-moz-box-shadow: 0 2px 2px #888;
	-webkit-box-shadow: 0 2px 2px #888;
	box-shadow: 0 2px 2px #888;
	}

.featurebox h3 {
	padding: 20px 10px 0 20px;
	font-size:1.45em;	
}

.spacing{
    margin: 25px 27px 0 27px;
}

.box-text {
	width:160px; 
	margin: 0 10px 10px 20px; 
	float:left;
}

.center-box {
	
	width: 260px;
}
.featurebox a {
	
	font-size: 1.13em;
	font-weight: bold;
}

/*************** footer ******************/

#footer-wrapper {
	position:absolute; 
	min-height: 400px; 
	width: 100%; 
	border-top: 13px solid #595959;
   background: url("../../Images/LandingPage/footer-background.gif") no-repeat scroll center top #000000;
   margin-left: auto;
   margin-right: auto;
	
}


#footer {
    color: #FFFFFF;
    margin: 0 auto 100px;
    padding-top: 25px;
    width: 960px;
}

#footer-inner {
	color: #ccc;
	padding: 10px 0px 15px;
	margin: 0 0 15px 0; 
	border-bottom: 1px solid #262626;
}

#footer-links {	
	position: relative;
	float: left; 
	width:auto;	
	
}
#footer h3 {
	color: #CCC;
	font-size: 1.3em;
	
	margin-bottom: 6px;
}
#footer p {

	font-size: 1.25em;
	margin-bottom: 3px;
}


#footer-links p {
	font-size: .9em;
	line-height: .9em;
	margin-bottom: 10px;
}
#footer a, a:visited, a:active {
    color: #3facef;
    text-decoration: none;
}

#footer-breg {
	float: left; 
	width: auto; 
	margin-left: 250px
	}
	
/*************** form overlay *********************/

.overlay{
    background:transparent url(../../Images/LandingPage/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.overlaybox{
    position:fixed;
    top:-300px;
	min-width: 320px;
    left:40%;
    right:40%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
	border-radius:20px; 
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url(../../Images/LandingPage/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}
.overlaybox h1{
    border-bottom: 1px dashed #f2f2f2;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#e5e5e5;
    color:#333;
	border-radius:20px; 	
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}

.contactbox{
    position:fixed;
    top:-1000px;
	min-width: 400px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
	border-radius:20px; 
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
.contactbox h1{
    border-bottom: 1px dashed #f2f2f2;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#e5e5e5;
    color:#333;
	border-radius:20px; 	
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}



/*************** form *********************/
#ContactForm {
	
	padding-left: 100px;	
}

.box label {
    display: block;
    font: 14px/22px Arial,Helvetica,Sans-serif;
    margin: 10px 0 0 6px;
}
.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box input[type="text"], .box input[type="password"], .txtField, .cjComboBox {
    border: 4px solid #f2f2f2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95A2A7 inset;
    display: block;
    margin: 3px 0 4px;
    padding: 8px 6px;
    width: 200px;
}
.box input.error {
    border: 2px inset red;
}

.box label.error, label.error {
    color: red;
    font-style: italic;
}