<%@ Page Language="C#" MasterPageFile="~/BregVision.master" AutoEventWireup="true" CodeBehind="LoadTest.aspx.cs" Inherits="BregVision.LoadTest" %>


<asp:Content ID="MainContent" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div>Mike was here</div>
</asp:Content>    

