/* Telerik RadAjaxLoadingPanel Office2007 Skin */

.RadAjax_Vision .raDiv
{
	background-image:url('Common/loading.gif');
}

.RadAjax_Vision .raColor
{
	background-color:#fff;
}

.RadAjax_Vision .raTransp
{
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}