/*Telerik RadCalendar from WebBlue skin...MWS*/

table.RadCalendar_Vision
{
	border-collapse:separate;
	border:0;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	width:220px;
}

/*titlebar*/

.RadCalendar_Vision .rcTitlebar
{
	width:100%;
	border:1px solid;
	border-color:#3d556c #3d556c #3a5168;
	padding:0;
	background:#738da2 0 -999px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendar_Vision .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:1px solid;
	border-color:#9bafc1 #8196ac #899fb1;
	font:12px/19px "segoe ui",arial,sans-serif;
}

.RadCalendar_Vision .rcTitlebar td
{
	border:0;
	padding:1px 0;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Vision .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}
.RadCalendar_Vision .rvNoNav .rcTitle
{
	cursor:default;
}

.RadCalendar_Vision .rcTitlebar .rcPrev,
.RadCalendar_Vision .rcTitlebar .rcNext,
.RadCalendar_Vision .rcTitlebar .rcFastPrev,
.RadCalendar_Vision .rcTitlebar .rcFastNext
{
	display:block;
	width:20px;
	height:20px;
	overflow:hidden;
	margin:0;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Vision .rcTitlebar .rcFastPrev
{
	margin-left:1px;
	background-position:0 -200px;
}

.RadCalendar_Vision .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_Vision .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_Vision .rcTitlebar .rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_Vision .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_Vision .rcTitlebar .rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_Vision .rcTitlebar .rcFastNext
{
	margin-right:1px;
	background-position:0 -500px;
}

.RadCalendar_Vision .rcTitlebar .rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendar_Vision .rcMain
{
	width:100%;
	border:1px solid #768ca5;
	border-top:0;
	padding:0;
}

.RadCalendar_Vision .rcMainTable
{
	width:100%;
	border-collapse:separate;
	border:0;
	color:#000;
	font:12px/20px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Vision .rcHeader,
.RadCalendar_Vision .rcFooter
{
	border:1px solid #768ca5;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Vision .rcRow th,
.RadCalendar_Vision .rcWeek th
{
	border:0;
	background:#dfeeff;
	font-weight:normal;
	vertical-align:middle;
	cursor:default;
}

.RadCalendar_Vision .rcWeek th
{
	border-bottom:1px solid #a7c0df;
	padding:2px 6px 3px 0;
	text-align:right;
}

.RadCalendar_Vision .rcWeek .rcViewSel,
.RadCalendar_Vision .rcRow th
{
	width:13px;
	border-right:1px solid #a7c0df;
	padding:0 7px 0 9px;
	text-align:center;
}

.RadCalendar_Vision .rcWeek .rcViewSel
{
	border-right-color:#dfeeff;
}

/*date cells*/

.RadCalendar_Vision .rcRow td
{
	border:1px solid #fff;
	padding:0;
	text-align:right;
	vertical-align:middle;
}

.RadCalendar_Vision .rcMain .rcRow a,
.RadCalendar_Vision .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
	color:#000;
}

.RadCalendar_Vision .rcPreview .rcRow a
{
	outline:none;
}

.RadCalendar_Vision .rcMain .rcWeekend a
{
	color:#444;
}

.RadCalendar_Vision .rcRow .rcToday
{
	border-color:#506175;
}

.RadCalendar_Vision .rcRow .rcToday a
{
	color:#0053a5;
}

.RadCalendar_Vision .rcMain .rcOtherMonth a
{
	color:#777;
}

.RadCalendar_Vision .rcMain .rcOutOfRange span
{
	color:#777;
	cursor:default;
}

.RadCalendar_Vision .rcRow .rcHover
{
	border-color:#5d9fb7;
	background:#bee3f6 0 -1600px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Vision .rcRow .rcHover a
{
	color:#0e3d4f;
}

.RadCalendar_Vision .rcRow .rcSelected
{
	border-color:#133c44;
	background:#75b7cc 0 -1700px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Vision .rcRow .rcSelected a
{
	color:#0d202b;
}

/*multimonth view*/

table.RadCalendarMultiView_Vision
{
	width:auto;
}

.RadCalendarMultiView_Vision .rcTitlebar
{
	border-color:#212f41;
	background:#495a70 0 -1199px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMultiView_Vision .rcTitlebar table
{
	border:1px solid;
	border-color:#63768a #465668 #58697d;
	line-height:25px;
}

.RadCalendarMultiView_Vision .rcTitlebar td
{
	padding-bottom:2px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcPrev,
.RadCalendarMultiView_Vision .rcTitlebar .rcNext,
.RadCalendarMultiView_Vision .rcTitlebar .rcFastPrev,
.RadCalendarMultiView_Vision .rcTitlebar .rcFastNext
{
	margin-top:1px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcFastPrev
{
	background-position:0 -600px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -650px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcPrev
{
	background-position:0 -700px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcPrev:hover
{
	background-position:0 -750px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcNext
{
	background-position:0 -800px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcNext:hover
{
	background-position:0 -850px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcFastNext
{
	background-position:0 -900px;
}

.RadCalendarMultiView_Vision .rcTitlebar .rcFastNext:hover
{
	background-position:0 -950px;
}

.RadCalendarMultiView_Vision .rcMain
{
	border-color:#768ca5;
}

.RadCalendarMultiView_Vision .rcCalendar
{
	width:220px;
	border:1px solid #768ca5;
	border-top:0;
	padding:0;
}

.RadCalendarMultiView_Vision .rcMainTable .rcTitle
{
	border-style:solid;
	border-width:1px 0;
	border-color:#3d556c #3a5168 #3a5168;
	padding:0 0 1px;
	background:#738da2 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#fff;
	text-align:center;
	line-height:23px;
}

/*month view*/

table.RadCalendarMonthView_Vision
{
	border-collapse:separate;
	border:1px solid #768ca5;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

table.RadCalendarMonthView_Vision td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView_Vision #rcMView_Feb,
.RadCalendarMonthView_Vision #rcMView_Apr,
.RadCalendarMonthView_Vision #rcMView_Jun,
.RadCalendarMonthView_Vision #rcMView_Aug,
.RadCalendarMonthView_Vision #rcMView_Oct,
.RadCalendarMonthView_Vision #rcMView_Dec
{
	border-right:1px solid #768ca5;
}

.RadCalendarMonthView_Vision a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_Vision .rcSelected a
{
	border:1px solid #133c44;
	padding:1px 3px;
	background:#75b7cc 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#0d202b;
}

.RadCalendarMonthView_Vision #rcMView_PrevY a,
.RadCalendarMonthView_Vision #rcMView_NextY a
{
	display:block;
	width:16px;
	height:13px;
	overflow:hidden;
	margin:0 auto;
	background:transparent no-repeat url('Calendar/sprite.gif');
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_Vision #rcMView_PrevY a
{
	background-position:6px -2095px;
}

.RadCalendarMonthView_Vision #rcMView_NextY a
{
	background-position:7px -2195px;
}

.RadCalendarMonthView_Vision .rcButtons
{
	padding:6px 7px 5px;
	text-align:center;
}

.RadCalendarMonthView_Vision input
{
	border:1px solid;
	border-color:#4e667e #5e7388 #425c71;
	padding:0;
	background:#d6e1e7 0 -2300px repeat-x url('Calendar/sprite.gif');
	color:#0d202b;
	font:12px "segoe ui",arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Vision input:hover
{
	border-color:#5d9fb7 #70aabf #5d9fb7;
	background-color:#bee3f6;
	background-position:0 -2350px;
}

.RadCalendarMonthView_Vision #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Vision #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Vision
{
	border-collapse:separate;
	border:1px solid #768ca5;
	border-top-color:#3d556c;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_Vision th
{
	border:0;
	border-top:1px solid #9bafc1;
	border-bottom:1px solid #3a5168;
	padding:0 0 1px;
	background:#738da2 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#fff;
	text-align:center;
	line-height:22px;
	cursor:default;
	font-weight:normal;
}

table.RadCalendarTimeView_Vision td
{
	border:0;
	border-left:1px solid #768ca5;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Vision td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Vision a
{
	display:block;
	padding:2px 6px;
	text-align:center;
	color:#333;
	text-decoration:none;
}

.RadCalendarTimeView_Vision td.rcSelected a
{
	border:1px solid #133c44;
	padding:1px 5px;
	background:#75b7cc 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#0d202b;
}

.RadCalendarTimeView_Vision td.rcHover a
{
	border:1px solid #5d9fb7;
	padding:1px 5px;
	background:#bee3f6 0 -1600px repeat-x url('Calendar/sprite.gif');
	color:#0e3d4f;
}

.RadCalendarTimeView_Vision .rcFooter
{
	border:0;
	border-top:1px solid #768ca5;
	padding:0;
}

/*pickers*/

.RadPicker_Vision,
.RadPicker_Vision td
{
	vertical-align:middle;
}

.RadPicker_Vision .RadInput
{
	vertical-align:baseline;
}

.RadPicker_Vision table.rcTable,
.RadPicker_Vision table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Vision table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Vision td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Vision td a{position:static}/*IE6*/
*+html .RadPicker_Vision td a{position:static}/*IE7*/

.RadPicker_Vision .rcCalPopup,
.RadPicker_Vision .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:22px;
	height:22px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker_Vision .rcCalPopup,
.RadPicker_Vision .rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Vision .rcCalPopup:hover,
.RadPicker_Vision .rcCalPopup:focus,
.RadPicker_Vision .rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Vision .rcTimePopup,
.RadPicker_Vision .rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Vision .rcTimePopup:hover,
.RadPicker_Vision .rcTimePopup:focus,
.RadPicker_Vision .rcTimePopup:active
{
	background-position:0 -150px;
}

.RadPicker_Vision .rcDisabled,
.RadCalendarMonthView_Vision .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Vision .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_Vision .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_Vision .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_Vision .rcTitlebar .rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_Vision .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_Vision .rcTitlebar .rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_Vision .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_Vision .rcTitlebar .rcFastNext:hover
{
	background-position:0 -250px;
}

.RadCalendarMultiViewRTL_Vision .rcTitlebar .rcFastPrev
{
	background-position:0 -900px;
}

.RadCalendarMultiViewRTL_Vision .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -950px;
}

.RadCalendarMultiViewRTL_Vision .rcTitlebar .rcPrev
{
	background-position:0 -800px;
}

.RadCalendarMultiViewRTL_Vision .rcTitlebar .rcPrev:hover
{
	background-position:0 -850px;
}

.RadCalendarMultiViewRTL_Vision .rcTitlebar .rcNext
{
	background-position:0 -700px;
}

.RadCalendarMultiViewRTL_Vision .rcTitlebar .rcNext:hover
{
	background-position:0 -750px;
}

.RadCalendarMultiViewRTL_Vision .rcTitlebar .rcFastNext
{
	background-position:0 -600px;
}

.RadCalendarMultiViewRTL_Vision .rcTitlebar .rcFastNext:hover
{
	background-position:0 -650px;
}
