/* RadColorPicker Vision skin */
.RadColorPicker_Vision .rcpPalette
{
	background-color:#fff;
	border:solid 1px #868686;	
}

.RadColorPicker_Vision .rcpColorBox
{
	border:solid 1px #e4e4e4;
}

.RadColorPicker_Vision .rcpSelectedColor,
.RadColorPicker_Vision .rcpMillionColorsPalette
{
    border:solid 1px #000;
}

.RadColorPicker_Vision .rcpColorPreview,
.RadColorPicker_Vision .rcpInput,
.RadColorPicker_Vision .rcpHexInput
{
	border:solid 1px #a9b1b8;
}

.RadColorPicker_Vision .rcpPalette,
.RadColorPicker_Vision input,
.RadColorPicker_Vision a,
.RadColorPicker_Vision .rcpApplyButton:hover span
{
	color:#000;
}

.RadColorPicker_Vision .rcpEmptyColor,
.RadColorPicker_Vision .rcpIcon a,
.RadColorPicker_Vision .rcpTabs,
.RadColorPicker_Vision .rcpTabs .rcpSelectedTab a,
.RadColorPicker_Vision .rcpTabs .rcpSelectedTab a span,
.RadColorPicker_Vision .rcpApplyButton,
.RadColorPicker_Vision .rcpApplyButton span,
.RadColorPicker_Vision .rcpMillionColorsHandle,
.RadColorPicker_Vision div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url('ColorPicker/ColorPickerSprites.gif');
	background-repeat:no-repeat;
}

/* no color button */
.RadColorPicker_Vision .rcpEmptyColor
{
	background-position:right -52px;
}

.RadColorPickerRTL_Vision .rcpEmptyColor
{
    background-position:-1001px -52px;
}

/* color picker rcpIcon */
.RadColorPicker_Vision .rcpIcon a
{
	background-position:0 -52px;
}

.RadColorPicker_Vision .rcpIcon a:hover
{
	background-position:0 -73px;
}

.RadColorPicker_Vision .rcpIcon a:active,
.RadColorPicker_Vision .rcpIcon a:focus
{
	background-position:0 -94px;
}

/* color picker tabs */
.RadColorPicker_Vision .rcpTabs
{
    background:#bfdbff;
    background-position:0 -169px;
}

.RadColorPicker_Vision .rcpTabs ul li a
{
    color:#00156e;
}

.RadColorPicker_Vision .rcpTabs .rcpSelectedTab a
{
    background-position:right -26px;
}

.RadColorPicker_Vision .rcpTabs .rcpSelectedTab a span
{
    background-position:left -26px;
}

/* apply color button */
.RadColorPicker_Vision .rcpApplyButton
{
    background-position:right -115px;
}

.RadColorPicker_Vision .rcpApplyButton:hover
{
    background-position:right -136px;
}

.RadColorPicker_Vision .rcpApplyButton span
{
    background-position:0 -115px;
    color:#00156e;
}

.RadColorPicker_Vision .rcpApplyButton:hover span
{
    background-position:0 -136px;
}

/* HSB, HSV palette handle */
.RadColorPicker_Vision .rcpMillionColorsHandle
{
    background-position:-1009px -73px;
    background-color:transparent;
}

/* HSB, HSV slider handle */
.RadColorPicker_Vision div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle,
.RadColorPicker_Vision div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:hover,
.RadColorPicker_Vision div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:focus,
.RadColorPicker_Vision div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:active
{
    background-position:-1002px -88px;
}