/* RadComboBox converted from WebBlue skin... MWS */

/*global*/

.RadComboBox_Vision,
.RadComboBox_Vision .rcbInput,
.RadComboBoxDropDown_Vision
{
	font: 12px "Segoe UI", Arial, sans-serif;
	color: #000;
}

/* combobox */

.RadComboBox_Vision .rcbInputCellLeft,
.RadComboBox_Vision .rcbInputCellRight,
.RadComboBox_Vision .rcbArrowCellLeft,
.RadComboBox_Vision .rcbArrowCellRight
{
	background-image: url('ComboBox/rcbSprite.png');
}

.RadComboBox_Vision td.rcbInputCellLeft { background-position: 0 -110px; }
.RadComboBox_Vision td.rcbInputCellRight { background-position: 100% -110px; }

.RadComboBox_Vision .rcbHovered td.rcbInputCellLeft { background-position: 0 -132px; }
.RadComboBox_Vision .rcbHovered td.rcbInputCellRight { background-position: 100% -132px; }

.RadComboBox_Vision .rcbFocused td.rcbInputCellLeft { background-position: 0 -154px; }
.RadComboBox_Vision .rcbFocused td.rcbInputCellRight { background-position: 100% -154px; }

.RadComboBox_Vision .rcbDisabled td.rcbInputCellLeft { background-position: 0 -154px; }
.RadComboBox_Vision .rcbDisabled td.rcbInputCellRight { background-position: 100% -154px; }

.RadComboBox_Vision .rcbReadOnly .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_Vision .rcbReadOnly .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_Vision .rcbHovered .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -22px; }
.RadComboBox_Vision .rcbHovered .rcbReadOnly td.rcbInputCellRight { background-position: 100% -22px; }

.RadComboBox_Vision .rcbFocused .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -44px; }
.RadComboBox_Vision .rcbFocused .rcbReadOnly td.rcbInputCellRight { background-position: 100% -44px; }

.RadComboBox_Vision .rcbInputCell .rcbEmptyMessage
{
	color: #666;
}

.RadComboBox_Vision .rcbHovered .rcbInputCell .rcbInput
{
	color: #0e3d4f;
}

.RadComboBox_Vision .rcbFocused .rcbInputCell .rcbInput
{
	color: #0d202b;
}

.RadComboBox_Vision td.rcbArrowCellLeft { background-position: -18px -88px; }
.RadComboBox_Vision td.rcbArrowCellRight { background-position: 0 -88px; }

.RadComboBox_Vision .rcbHovered .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox_Vision .rcbHovered .rcbArrowCellRight { background-position: -36px -88px; }

.RadComboBox_Vision .rcbFocused .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox_Vision .rcbFocused .rcbArrowCellRight { background-position: -72px -88px; }

.RadComboBox_Vision td.rcbArrowCellHidden { background-position: 100% -110px; }
.RadComboBox_Vision .rcbHovered td.rcbArrowCellHidden { background-position: 100% -132px; }
.RadComboBox_Vision .rcbFocused td.rcbArrowCellHidden { background-position: 100% -154px; }

.RadComboBox_Vision .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -51px -88px; }
.RadComboBox_Vision .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -87px -88px; }

/* Read-only styles */

.RadComboBox_Vision .rcbReadOnly td.rcbArrowCellLeft { background-position: -18px -88px; }
.RadComboBox_Vision .rcbReadOnly td.rcbArrowCellRight { background-position: -2px -88px; }

.RadComboBox_Vision .rcbHovered .rcbReadOnly .rcbArrowCellLeft { background-position: -54px -88px; }
.RadComboBox_Vision .rcbHovered .rcbReadOnly .rcbArrowCellRight { background-position: -38px -88px; }

.RadComboBox_Vision .rcbFocused .rcbReadOnly .rcbArrowCellLeft { background-position: -90px -88px; }
.RadComboBox_Vision .rcbFocused .rcbReadOnly .rcbArrowCellRight { background-position: -74px -88px; }

.RadComboBox_Vision .rcbReadOnly td.rcbArrowCellHidden { background-position: -15px -88px; }
.RadComboBox_Vision .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -51px -88px; }
.RadComboBox_Vision .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -87px -88px; }

/* dropdown */

.RadComboBoxDropDown_Vision .rcbMoreResults a
{
	background-image: url('ComboBox/rcbSprite.png');
}

.RadComboBoxDropDown_Vision
{
	background: #fff;
	border-color: #768ca5;
	color: #000;
}

.RadComboBoxDropDown_Vision .rcbHeader,
.RadComboBoxDropDown_Vision .rcbFooter
{
	background-color: #f0f2f4;
	color: #000;
}

.RadComboBoxDropDown_Vision .rcbHeader
{
	border-bottom-color: #c7dcf9;
}

.RadComboBoxDropDown_Vision .rcbFooter
{
	border-top-color: #c7dcf9;
}

.RadComboBoxDropDown_Vision .rcbItem em
{
	background: #e5e5e5;
}

div.RadComboBoxDropDown_Vision .rcbHovered
{
	padding: 1px 5px;
	border: 1px solid #5d9fb7;
	background: #bbddf4;
	color: #0e3d4f;
}

.RadComboBoxDropDown_Vision .rcbSeparator
{
    color: #666;
    background: #D3ECF9;
}

.RadComboBox_Vision .rcbDisabled .rcbInputCell .rcbInput,
.RadComboBoxDropDown_Vision .rcbDisabled
{
	color: #787777;
}

.RadComboBox_Vision .rcbDisabled td.rcbInputCellLeft { background-position: 0 -66px; }
.RadComboBox_Vision .rcbDisabled td.rcbInputCellRight { background-position: 100% -66px; }
.RadComboBox_Vision .rcbDisabled td.rcbArrowCellLeft { background-position: -126px -88px; }
.RadComboBox_Vision .rcbDisabled td.rcbArrowCellRight { background-position: -108px -88px; }
.RadComboBox_Vision .rcbDisabled .rcbReadOnly td.rcbArrowCellRight { background-position: -110px -88px; }
.RadComboBox_Vision table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_Vision .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -123px -88px; }

.RadComboBoxDropDown_Vision .rcbLoading
{
	background: #f0f0f0;
}

.RadComboBoxDropDown_Vision .rcbMoreResults
{
	border-top-color: #d3dde4;
	background: #f0f2f4;
	color: #8a8a8a;
}

.RadComboBoxDropDown_Vision .rcbMoreResults a
{
	background-position: -157px -94px;
}
