/* RadEditor for ASP.NET AJAX Office 2007 Skin */

.Vision.RadEditor
{
    background-color: #d6e6f4;
}

/* reWrapper */
.Vision.reWrapper
{
    border: solid 1px #688caf;
}

.Vision .reContentCell
{
    border: solid 1px #4969a8;
}

/* common settings for .reModule, .reEditorModes and .reWrapper */
.Vision.reColorPicker,
.Vision.reInsertTable,
.Vision.reDropDownBody,
.Vision.reCustomLinks a:hover
{
	border: solid 1px #688caf;
}

.Vision.reDropDownBody table
{
    background: transparent;
}

.Vision .reModule,
.Vision .reEditorModes,
.Vision .reWrapper
{
	background-color: #d6e6f4;
}

/*NEW: Only in the Bottom zone - where the Statistics module is commonly set, remove uppper border, because it looks ugly*/
.Vision .reBottomZone .reModule
{
    border-top: 0;
}


.Vision .reModule
{
    border-top: solid 1px #567db0;  
    color: #00156e;
}

.Vision.reCustomLinks a
{
    border: solid 1px #fff; /* should be the same as the background of the dropdown */
    color: black !important;
}

.Vision.reCustomLinks a:hover
{
    background-image: url('Editor/ToolbarSprites.gif') !important;
    background-position: 0 -325px !important;
    background-repeat: repeat-x !important;
    border: solid 1px #d8ca95;
}
/* end of module */

.reToolbar li
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -26px;
    color: #000;
}

.Vision .reSpinBox a
{
    background-image: url('Editor/ToolbarSprites.gif');
    -moz-user-select: none;
    outline: none;
}

/* separator */
.reToolbar.Vision .reSeparator
{
    background-position: center -148px;
    background-image: url('Editor/ToolbarSprites.gif');
}

/* common settings for left and right grip */
.reToolbar.Vision .reGrip
{
	background-image: url('Editor/ToolbarSprites.gif');
}

/* reTool */
.reTool span
{
    background-image: url('../Common/CommandSpritesLight.png');
}

/* IE6 does not support PNG alpha channel, so we use gifs for the command sprites instead */
* html .reTool span,
* html .reTool_text span,
* html .reTlbVertical .reTool_text span,
* html .reToolbar .reSplitButton.reTool_text span
{
    _background-image: url('../Common/CommandSpritesLightIE6.gif');
}

.reDialog .reTool,
.reModule .reTool
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -242px;
}

.reDialog .reTool:hover,
.reToolbar .reTool:hover,
.reModule .reTool:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -52px;
}

.reToolbar .reTool.reTool_selected,
.reToolbar .reTool.reTool_selected:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -124px;
    background-repeat: no-repeat;
}

/* .reTool_text */
.reToolbar .reTool_text span
{
    background-image: url('../Common/CommandSpritesLight.png');
}

.reToolbar .reTool_text:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-repeat: repeat-x;
    background-position: 0 -100px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #d8ca96;
    border-right: solid 1px #d8ca96;
}

.reToolbar .reTool_text.reTool_selected,
.reToolbar .reTool_text.reTool_selected:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-repeat: repeat-x;
    background-position: 0 -174px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #d8ca96;
    border-right: solid 1px #d8ca96;
}

/* these settings will not be included in the common CSS file of RadEditor */
.reToolbar .reTool_text.reTool_disabled,
.reToolbar .reTool_text.reTool_disabled:hover
{
    margin-left: 0;
    margin-right: 0;
    border: 0;
}
/* end of reTool_text */

.reTool.reSplitButton:hover
{
    background: url('Editor/ToolbarSprites.gif') no-repeat 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool.reSplitButton:hover
{
    background: url('Editor/ToolbarSprites.gif') no-repeat 0 -76px;
}

.Vision .reTool .split_arrow
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: -28px -362px;
}

.Vision .reSplitButton.reTool_text .split_arrow
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vision .reToolbar .reTool_text .split_arrow
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool_text:hover
{
    background: url('Editor/ToolbarSprites.gif');
    background-position: 0 -100px;
}

.reDialog .reTool.reSplitButton,
.reModule .reTool.reSplitButton
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -218px;
}

.reDialog .reTool.reSplitButton:hover,
.reModule .reTool.reSplitButton:hover
{
    background-position: 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool.reSplitButton.reTool_disabled:hover
{
    background: none;
}
/* end of reSplitButton */

/* reDropdown */
.reDropdown:link,
.reDropdown:visited
{
    color: black !important;
}

.reDropdown,
.reTool_disabled.reDropdown:hover
{
    border: solid 1px #abc1de;
    background-color: #fff;
    background-image: url('Editor/ToolbarSprites.gif') !important;
    background-position: right -360px !important;
}

.reDropdown:hover
{
    border: solid 1px #d8ca95;
    background-image: url('Editor/ToolbarVerticalSprites.gif') !important;
    background-position: right 0 !important;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTool_disabled.reDropdown
{
    background-image: url('Editor/ToolbarSprites.gif')t;
    background-position: right -380px;
    background-repeat: no-repeat;
}
/* end of reDropdown */

/* vertical toolbar */
.RadEditor.Vision .reTlbVertical li
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-repeat: repeat-y;
    background-position: -26px 0;
}

.RadEditor.Vision .reTlbVertical .reToolbar.Default .reGrip
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
}

.RadEditor.Vision .reTlbVertical .reToolbar.Vision .grip_first
{
    background-position: 0 0;
}

.RadEditor.Vision .reTlbVertical .reToolbar.Vision .grip_last
{
    background-position: 0 -4px;
}

.RadEditor.Vision .reTlbVertical .reToolbar.Vision .reSeparator
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -99px -12px;
}

.reTlbVertical .reTool:hover,
.reTlbVertical .reTool_text.reSplitButton:hover,
.reTlbVertical .reTool_text:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -76px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTlbVertical .reTool_text:hover
{
	background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-repeat: no-repeat;
    background-position: -76px 0;
}

.reTlbVertical .reTool.reTool_selected,
.reTlbVertical .reTool_text.reTool_selected,
.reTlbVertical .reTool_text.reTool_selected:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -52px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTlbVertical .reSplitButton:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -76px 0;
    background-repeat: no-repeat;
}
/* end of vertical toolbar */

.reDropDownBody .reTlbVertical ul li a:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -602px 0;
}

/* InsertTable itself is a kind of tool strip, so it must be styled as a toolstrip */
.Vision.reInsertTable
{
    background-color: #fff;
}

.reDropDownBody .reTlbVertical .reToolbar
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-color: #fff;
    background-position: -125px 0;
}
/* end of context menu and toolstrip */

/* spinbox */
.Vision table.reSpinBox
{
	border: solid 1px #abc1de;
	background: white;
}

.Vision table.reSpinBox:hover
{
    border-color: #305090;
}

.Vision .reSpinBoxIncrease
{
	background-position: 0 -198px;
}

.Vision .reSpinBoxIncrease:hover
{
	background-position: 0 -208px;
}

.Vision .reSpinBoxDecrease
{
	background-position: -11px -198px;
}

.Vision .reSpinBoxDecrease:hover
{
	background-position: -11px -208px;
}
/* end of spinbox */

/* editor input elements */
.Vision.RadEditor input
{
	border: solid 1px #abc1de;
	background-color: white;
}

.Vision.RadEditor input:hover
{
    border: solid 1px #305090;
}
/* editor input elements */

/* editing modes */
.Vision .reMode_selected
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -948px 0;
}

.Vision .reEditorModes a
{
    color: #00156e;
}

.Vision .reEditorModes .reMode_design span,
.Vision .reEditorModes .reMode_selected.reMode_design span
{
	background-position: -6px -5px;
}

.Vision .reEditorModes .reMode_html span,
.Vision .reEditorModes .reMode_selected.reMode_html span
{
	background-position: -6px -36px;
}

.Vision .reEditorModes .reMode_preview span,
.Vision .reEditorModes .reMode_selected.reMode_preview span
{
	background-position: -6px -69px;
}
/* end of editing modes */

/* DOM inspector */
.Vision .reModule_domlink_selected,
.Vision .reModule_domlink
{
    color: black;
}
/* end of DOM inspector */

.Vision.reDropDownBody .reItemOver
{
	background: #ffe27b;
	color: #000;
}
/* end of expanded dropdowns */

* html .reTool_selected.reTool
{
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

/* color picker */
.Vision.reColorPicker table div
{
	border: solid 1px #c5c5c5;
}

.Vision.reColorPicker table td.reItemOver div
{
	border-color: #000;
}

.Vision.reColorPicker span
{
	border: solid 1px #c5c5c5;
}
/* end of color picker */

/* ajax spellchecker */
.reAjaxspell_button
{
    border: solid 1px #688caf;
    background: #d6e6f4;
    color: #688caf;
}

.Vision .reAjaxSpellCheckSuggestions table
{
    border-width: 0;
    width: 100%;
}

.Vision .reAjaxSpellCheckSeparator
{
    background-color: #979797;
}
/* ajax spellchecker */

/* custom links */
.Vision.reCustomLinks,
.Vision.reCustomLinks ul
{
	color: #000;
}

.Vision.reCustomLinks a,
.Vision.reCustomLinks a:link,
.Vision.reCustomLinks a:visited
{
    background: none transparent;
    color: #000 !important;
	cursor: default !important;
}
/* end of custom links */

/* insert table dropdown */
.reInsertTable table
{
    background: #fff;
}

.reInsertTable table td
{
    border: solid 1px #567db0;
    background: white;
}

.reInsertTable .reTlbVertical ul
{
    background-color: #fff;
}

.Vision.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text,
.Vision.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:link
.Vision.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:visited
{
    color: black !important;
    background: transparent none;
    _background: none !important;
}

.Vision.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:hover
{
    background: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -1403px 0;
}

.reInsertTable .reTlbVertical ul .reTool_text span
{
    background-image: url('../Common/CommandSpritesLight.png');
    background-position: -3575 center;
}

.reInsertTable .reToolbar li .reTool:hover
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: 0 -52px;
}
/* end of insert table dropdown */

/* modules selector */
.reModule_visible_icon,
.reModule_hidden_icon
{
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url('../Common/CommonIcons.gif');
	background-repeat: no-repeat;
}

.reModule_visible_icon
{
	background-position: -8px -199px;
}

.reModule_hidden_icon
{
	background-position: -8px -103px;
	
}
/* end of modules selector */

/* resize cell */
.reResizeCell div
{
    background-image: url('Editor/ToolbarSprites.gif');
    background-position: center -301px;
}

/* reTool_disabled */
.reDialog .reTool_disabled,
.reDialog .reTool_disabled:hover,
.reToolbar .reTool_disabled,
.reToolbar .reTool_disabled:hover,
.reModule .reTool_disabled,
.reModule .reTool_disabled:hover
{
    filter: alpha(opacity=40);
    opacity: .4;
    -moz-opacity: .4;
    background-image: none;
}
/* reTool_disabled */

/* the rule below styles RadWindow's content cell, which is used in the floating and show on focus toolbar modes */
.RadWindow_Vision.reToolbarWindow td.rwWindowContent
{
    background-color: #d6e6f4;
}