/* RadFormDecorator for ASP.NET Vision Skin */

/* CSS class for styling the decoration zone or the <html /> tag of the page */
.RadForm_Vision.rfdZone
{  
}

/* Decorate scrollbars */
.RadForm_Vision.rfdScrollBars
{
	scrollbar-3dlight-color: #606f94; 
	scrollbar-arrow-color: #4d5874;
	scrollbar-base-color: #f5f5f5; 
	scrollbar-darkshadow-color: #5f6e93; 
	scrollbar-face-color: #d8dfe8;
	scrollbar-highlight-color: #fff; 
	scrollbar-shadow-color: #a3a3a3;
	scrollbar-track-color: #efefef;
}

/* Decorate <input type="button | submit | reset" /> and <button type="button | submit | reset" /> - look if there is a secondary .rfdButton class applied to the root element */
.RadForm_Vision.rfdButton a.rfdSkinnedButton,
.RadForm_Vision.rfdButton input[type="button"].rfdDecorated,
.RadForm_Vision.rfdButton input[type="reset"].rfdDecorated,
.RadForm_Vision.rfdButton input[type="submit"].rfdDecorated,
.RadForm_Vision.rfdButton .rfdSkinnedButton button
{
	background-image: url('FormDecorator/ButtonSprites.gif');
	color: #000000;
}

.RadForm_Vision.rfdButton a.rfdSkinnedButton,
.RadForm_Vision.rfdButton a.rfdSkinnedButton *
{
    _background-image: url('FormDecorator/ButtonSprites.gif');
}

/* OPERA width fix - do not remove (and check if it is still necessary) */
@media screen and (min-width:1px)  
{
	/* 
       the hack below fixes a strange behavior under Opera - 
       input and button have a different CSS display when in anchor tag 
    */
	.RadForm_Vision.rfdButton a.rfdSkinnedButton input
	{
	    display: block;
	    float: left;
	}
}

/* Decorate <h4|5|6 /> */
.RadForm_Vision.rfdHeading h4
{
	color: #567db0;	
	border-bottom: solid 1px #a0a0a0;	
}

.RadForm_Vision.rfdHeading h5
{
	color: #000000;	
	border-bottom: solid 1px #a0a0a0;	
}

.RadForm_Vision.rfdHeading h6
{
	color: #000000;
}

/* Decorate <label /> */
.RadForm_Vision.rfdLabel label
{	
	color: #626262;
}

.RadForm_Vision.rfdLabel label:hover
{	
	color: #00156e;
}

/* Decorate <input type="checkbox" /> */
.RadForm_Vision .rfdCheckboxUnchecked,
.RadForm_Vision .rfdInputDisabled.rfdCheckboxUnchecked:hover
{
	background: transparent url('FormDecorator/CheckBoxSprites.gif') no-repeat 0 0;
}

.RadForm_Vision .rfdCheckboxUnchecked:hover
{
	background: transparent url('FormDecorator/CheckBoxSprites.gif') no-repeat 0 -200px;
}

.RadForm_Vision .rfdCheckboxChecked,
.RadForm_Vision .rfdInputDisabled.rfdCheckboxChecked:hover
{
	background: transparent url('FormDecorator/CheckBoxSprites.gif') no-repeat 0 -420px;
}

.RadForm_Vision .rfdCheckboxChecked:hover
{
	background: transparent url('FormDecorator/CheckBoxSprites.gif') no-repeat 0 -640px;
}

/* Decorate <input type="radio" /> */
.RadForm_Vision .rfdRadioUnchecked,
.RadForm_Vision .rfdInputDisabled.rfdRadioUnchecked:hover
{
	background: transparent url('FormDecorator/RadioButtonSprites.png') no-repeat 1px 0;
}

.RadForm_Vision .rfdRadioUnchecked:hover
{
	background: transparent url('FormDecorator/RadioButtonSprites.png') no-repeat 1px -220px;
}

.RadForm_Vision .rfdRadioChecked,
.RadForm_Vision .rfdInputDisabled.rfdRadioChecked:hover 
{
	background: transparent url('FormDecorator/RadioButtonSprites.png') no-repeat 1px -440px;
}

.RadForm_Vision .rfdRadioChecked:hover
{
	background: transparent url('FormDecorator/RadioButtonSprites.png') no-repeat 1px -640px;
}

/* IE6 - we set .gif")%> image instead of .png")%> due to the lack RGBA support */
.RadForm_Vision .rfdRadioUnchecked,
.RadForm_Vision .rfdInputDisabled.rfdRadioUnchecked:hover,
.RadForm_Vision .rfdRadioUnchecked:hover,
.RadForm_Vision .rfdRadioChecked,
.RadForm_Vision .rfdInputDisabled.rfdRadioChecked:hover,
.RadForm_Vision .rfdRadioChecked:hover
{
    _background-image: url('FormDecorator/RadioButtonSprites.gif'); /* IE6 hack */
}

/* <fieldset /> and <legend /> */
.rfdRoundedInner
{  
  width: 1px;
  font-size: 1px;      
  background-repeat :no-repeat;
}

.rfdRoundedOuter
{    
  width: 1px;
  font-size: 0px;
}

table.rfdRoundedWrapper,
table.rfdRoundedWrapper_fieldset
{
    display: -moz-inline-box; /* FF2 */
    display: inline-block; /* FF3, Opera, Safari */
    _display: inline; /* IE6 */            
    vertical-align: middle;
    border-width: 0px !important;
}

table.rfdRoundedWrapper td,
table.rfdRoundedWrapper_fieldset>tbody>tr>td
{
	padding: 0px !important;
	border: 0px !important;                 
}

/* IE7 */
*+html table.rfdRoundedWrapper,
*+html table.rfdRoundedWrapper_fieldset
{
   display: inline;
}

table.rfdRoundedWrapper td, table.rfdRoundedWrapper_fieldset td
{
    vertical-align: middle;
}

.RadForm_Vision.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
.RadForm_Vision fieldset.rfdFieldset legend
{
	color: #000000;	
}

.RadForm_Vision table.rfdRoundedWrapper:hover div.rfdRoundedInner
{
    background-color: #ffffff;
    border-color: #305090 !important;
}

/* this selector styles the hover of the side bars of the rounded elements */
.RadForm_Vision table.rfdRoundedWrapper:hover .rfdRoundedOuter
{	
	background-color: #305090 !important;
}

/* Decorate <input type="text | password" /> and <textarea /> */
/* For all browsers except IE6 we are using attribute selectors - single or double */
.RadForm_Vision.rfdTextbox input[type="text"],
.RadForm_Vision.rfdTextbox input[type="password"],
.RadForm_Vision.rfdTextarea textarea,
.RadForm_Vision.rfdTextarea textarea[disabled]:hover,
.RadForm_Vision.rfdTextbox input[disabled][type="text"]:hover,
.RadForm_Vision.rfdTextbox input[disabled][type="password"]:hover
{
    border: solid 1px #abc1de;
    background-color: #ffffff;
}

.RadForm_Vision.rfdTextbox .rfdDecorated:hover,
.RadForm_Vision.rfdTextbox .rfdDecorated:hover,
.RadForm_Vision.rfdTextarea textarea:hover
{
    border: solid 1px #305090;
}

/* Decorate <fieldset /> */
.RadForm_Vision.rfdFieldset fieldset
{	
	border: solid 1px #9ebfdb;
	background-image: url('FormDecorator/FieldsetBgr.png'); /* having a background image on a fieldset is not okay with IE */	
}

/* Decorate <fieldset /> and <legend /> */
.RadForm_Vision.rfdFieldset table.rfdRoundedWrapper_fieldset legend,
.RadForm_Vision.rfdFieldset fieldset.rfdFieldset legend
{
	color: #000000;	
}

.RadForm_Vision.rfdFieldset table.rfdRoundedWrapper_fieldset fieldset,
.RadForm_Vision.rfdFieldset fieldset.rfdFieldset
{	
	border: solid 1px #9ebfdb;
	background-image: url('FormDecorator/FieldsetBgr.png'); /* having a background image on a fieldset is not okay with IE */	
}

/* Because of a glitch in IE the following 2 CSS classes must be declared separately for correct parsing of the textarea class in IE6*/
.RadForm_Vision table.rfdRoundedWrapper input,
.RadForm_Vision table.rfdRoundedWrapper textarea,
.RadForm_Vision input.rfdInput, 
.RadForm_Vision textarea.rfdTextarea
{
	border: solid 1px #abc1de;
	background: #ffffff;	
	color: #000000;
}

.RadForm_Vision textarea.rfdTextarea,
.RadForm_Vision table.rfdRoundedWrapper textarea
{
    overflow: auto;
}

/* <select /> */
.rfdSelect_Vision,
.rfdSelect_Vision:hover,
.rfdSelect_Vision .rfdSelectOuter,
.rfdSelect_Vision:hover .rfdSelectOuter,
.rfdSelect_Vision .rfdSelectArrow span,
.rfdSelectBox_Vision .rfdSelect_selected,
.rfdSelectBox_Vision li:hover,
.rfdSelect_Vision.rfdSelectDisabled:hover,
.rfdRtl .rfdSelect_Vision,
.rfdRtl .rfdSelect_Vision:hover,
.rfdRtl .rfdSelect_Vision .rfdSelectOuter,
.rfdRtl .rfdSelect_Vision .rfdSelectOuter:hover
{
    background-image: url('FormDecorator/ComboSprites.gif');
    background-repeat: no-repeat;
    background-color: transparent;
}

.rfdSelect_Vision .rfdSelectOuter,
.rfdSelect_Vision.rfdSelectDisabled:hover .rfdSelectOuter
{
    color: black;
}

/* dropdown settings */
.rfdSelectBox_Vision
{
    background: white;
    border: solid 1px #828282;
    color: #000;
}

.rfdSelectBox_Vision li
{
    padding: 0 0 0 3px;
    background-image: none !important;
}

.rfdSelectBox_Vision .rfdSelect_selected,
.rfdSelectBox_Vision li:hover
{
    color: black;
    background-color: #ffdc7a;
}

.rfdSelectBox_Vision .rfdSelectBox_optgroup_label:hover
{
    background: none;
    color: black;
}

/* IE6 disabled state fix - this should not be added to the base stylesheet, but at the bottom of the skin file */
* html .rfdSkinnedButton.rfdInputDisabled
{
    _filter: alpha(opacity=50);
}

* html .RadForm_Vision.rfdButton a.rfdInputDisabled:hover
{
	_background-position: 0 0;
}

* html .RadForm_Vision.rfdButton a.rfdInputDisabled:hover *
{
	_background-position: right -21px;
	_color: #000000;
}

.RadForm_Vision.rfdTextbox input.rfdIE6TextBox,
.RadForm_Vision.rfdTextbox textarea.rfdIE6TextBox
{
    _border: solid 1px #abc1de;
    _background-color: #ffffff;
}

/* the styling of radiobuttons and checkboxes in Safari and Chrome is already fully achieved with CSS */
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    /* checkboxes */
    .rfdCheckbox input[type="checkbox"],
    .rfdCheckbox input[type="checkbox"][disabled]:hover
    {
        background-image: url('FormDecorator/CheckBoxSprites.gif');
    }
    
    /* radio buttons */
    .rfdRadio input[type="radio"],
    .rfdRadio input[type="radio"][disabled="disabled"]:hover
    {
        background-image: url('FormDecorator/RadioButtonSprites.png');
    }
}

/* ----------------------------------------------- Skin-specific Scrollbar Settings for WebKit ----------------------------------------------- */

/* the scrollbar face color */
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-thumb:horizontal,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-thumb:horizontal
{
    background-color: #d8dfe8;
}

/* scrollbar track background color */
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-track-piece,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-track-piece
{
    background-color: #efefef;
}

.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-button:vertical:decrement,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-button:vertical:increment,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-button:horizontal:decrement,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-button:horizontal:increment,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-thumb:horizontal,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-button:vertical:decrement,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-button:vertical:increment,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-button:horizontal:decrement,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-button:horizontal:increment,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-thumb:vertical,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-thumb:horizontal
{
    border-color: #ffffff #a3a3a3 #a3a3a3 #ffffff;
}

/* increment / decrement button settings */
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-button:vertical:decrement,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-button:vertical:increment,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-button:horizontal:decrement,
.RadForm.rfdScrollBars.RadForm_Vision textarea::-webkit-scrollbar-button:horizontal:increment,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-button:vertical:decrement,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-button:vertical:increment,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-button:horizontal:decrement,
.RadForm.rfdScrollBars.RadForm_Vision div::-webkit-scrollbar-button:horizontal:increment
{
    background-image: url('FormDecorator/ButtonSprites.gif');
    background-color: #d8dfe8;
}