/*Telerik RadGrid Vision Skin*/

/*global*/

.RadGrid_Vision
{
    border:1px solid #688caf;
    background:#fff;
    color:#333;
}

.RadGrid_Vision,
.RadGrid_Vision .rgMasterTable,
.RadGrid_Vision .rgDetailTable,
.RadGrid_Vision .rgGroupPanel table,
.RadGrid_Vision .rgCommandRow table,
.RadGrid_Vision .rgEditForm table,
.RadGrid_Vision .rgPager table,
.GridToolTip_Vision
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_Vision .rgMasterTable,
.RadGrid_Vision .rgDetailTable
{
    border-collapse:separate;
}

.RadGrid_Vision .rgRow,
.RadGrid_Vision .rgAltRow,
.RadGrid_Vision .rgHeader,
.RadGrid_Vision .rgResizeCol,
.RadGrid_Vision .rgPager,
.RadGrid_Vision .rgGroupPanel,
.RadGrid_Vision .rgGroupHeader
{
	cursor:default;
}

.RadGrid_Vision input[type="image"]
{
	cursor:pointer;
}

.RadGrid_Vision .rgRow td,
.RadGrid_Vision .rgAltRow td,
.RadGrid_Vision .rgEditRow td,
.RadGrid_Vision .rgFooter td,
.RadGrid_Vision .rgFilterRow td,
.RadGrid_Vision .rgHeader,
.RadGrid_Vision .rgResizeCol,
.RadGrid_Vision .rgGroupHeader td
{
	padding-left:7px;
	padding-right:7px;
}

.RadGrid_Vision .rgClipCells .rgHeader,
.RadGrid_Vision .rgClipCells .rgRow>td,
.RadGrid_Vision .rgClipCells .rgAltRow>td
{
	overflow:hidden;
}

.RadGrid_Vision .rgHeader:first-child,
.RadGrid_Vision th.rgResizeCol:first-child,
.RadGrid_Vision .rgFilterRow>td:first-child,
.RadGrid_Vision .rgRow>td:first-child,
.RadGrid_Vision .rgAltRow>td:first-child
{
	border-left:0;
	padding-left:8px;
}

.RadGrid_Vision .rgAdd,
.RadGrid_Vision .rgRefresh,
.RadGrid_Vision .rgEdit,
.RadGrid_Vision .rgDel,
.RadGrid_Vision .rgFilter,
.RadGrid_Vision .rgPagePrev,
.RadGrid_Vision .rgPageNext,
.RadGrid_Vision .rgPageFirst,
.RadGrid_Vision .rgPageLast,
.RadGrid_Vision .rgExpand,
.RadGrid_Vision .rgCollapse,
.RadGrid_Vision .rgSortAsc,
.RadGrid_Vision .rgSortDesc,
.RadGrid_Vision .rgUpdate,
.RadGrid_Vision .rgCancel,
.RadGrid_Vision .rgUngroup,
.RadGrid_Vision .rgExpXLS,
.RadGrid_Vision .rgExpDOC,
.RadGrid_Vision .rgExpPDF,
.RadGrid_Vision .rgExpCSV
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Vision .rgGroupItem input,
.RadGrid_Vision .rgCommandRow img,
.RadGrid_Vision .rgHeader input,
.RadGrid_Vision .rgFilterRow img,
.RadGrid_Vision .rgFilterRow input,
.RadGrid_Vision .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Vision .rgHeaderDiv
{
	background:#d6e5f3 0 -8050px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7550px;
}

.rgNoScrollImage .rgHeaderDiv
{
	background-image:none;
}

.RadGrid_Vision .rgHeader,
.RadGrid_Vision th.rgResizeCol
{
	border:solid #5d8cc9;
	border-width:0 0 1px 1px;
	padding-top:5px;
	padding-bottom:4px;
	background:0 -2300px repeat-x #c3d8f1 url('Grid/sprite.gif');
	text-align:left;
	font-weight:normal;
}

.RadGrid_Vision th.rgSorted
{
	border-bottom-color:#ff9b35;
	background-color:#ffca5e;
	background-position:0 -2600px;
}

.RadGrid_Vision .rgHeader,
.RadGrid_Vision .rgHeader a
{
    color:#00156e;
    text-decoration:none;
}

.RadGrid_Vision th.rgSorted,
.RadGrid_Vision th.rgSorted a
{
    color:#000;
}

.RadGrid_Vision .rgCheck
{
	height:15px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}

/*rows*/

.RadGrid_Vision .rgRow td,
.RadGrid_Vision .rgAltRow td,
.RadGrid_Vision .rgEditRow td,
.RadGrid_Vision .rgFooter td
{
	border:1px solid;
	border-top:0;
	border-right:0;
	padding-top:4px;
	padding-bottom:3px;
}

.RadGrid_Vision .rgRow td,
.RadGrid_Vision .rgAltRow td
{
	border-color:#d0d7e5;
}

.RadGrid_Vision .rgRow .rgSorted,
.RadGrid_Vision .rgAltRow .rgSorted
{
	background-color:#f2f2f2;
}

.RadGrid_Vision .rgSelectedRow .rgSorted,
.RadGrid_Vision .rgActiveRow .rgSorted,
.RadGrid_Vision .rgHoveredRow .rgSorted,
.RadGrid_Vision .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Vision .rgRow a,
.RadGrid_Vision .rgAltRow a,
.RadGrid_Vision .rgEditRow a,
.RadGrid_Vision .rgFooter a,
.RadGrid_Vision .rgEditForm a
{
	color:#00156e;
}

.RadGrid_Vision .rgSelectedRow
{
    background:#ffcb60 0 -3900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Vision .rgSelectedRow .rgSorted{background-color:#ffcb60}
* html .RadGrid_Vision .rgSelectedRow .rgSorted{background-color:#ffcb60}

.RadGrid_Vision .rgActiveRow,
.RadGrid_Vision .rgHoveredRow
{
    background:#ecf4ff;
}
*+html .RadGrid_Vision .rgActiveRow .rgSorted,
*+html .RadGrid_Vision .rgHoveredRow .rgSorted{background-color:#ecf4ff}
* html .RadGrid_Vision .rgActiveRow .rgSorted,
* html .RadGrid_Vision .rgHoveredRow .rgSorted{background-color:#ecf4ff}

.RadGrid_Vision .rgEditRow
{
	background:#ffe5ad;
}
*+html .RadGrid_Vision .rgEditRow .rgSorted{background-color:#ffe5ad}
* html .RadGrid_Vision .rgEditRow .rgSorted{background-color:#ffe5ad}

.RadGrid_Vision .rgSelectedRow td,
.RadGrid_Vision .rgActiveRow td,
.RadGrid_Vision .rgHoveredRow td,
.RadGrid_Vision .rgEditRow td
{
	border-left:0;
	padding-left:8px;
}

.RadGrid_Vision .rgSelectedRow td
{
	border-bottom-color:#ff9b35;
}

.RadGrid_Vision .rgActiveRow td,
.RadGrid_Vision .rgHoveredRow td,
.RadGrid_Vision .rgEditRow td
{
	border-bottom-color:#d0d7e5;
}

.RadGrid_Vision .rgSelectedRow,
.RedRow_Vision
{
	border-left:0;
	padding-left:8px;
	background: url('Grid/gridRedRow.gif') repeat-x !important ;	
}
.RadGrid_Vision .rgSelectedRow,
.YellowRow_Vision
{
	border-left:0;
	padding-left:8px;
	background:  url('Grid/gridYellowRow.gif') repeat-x !important ;
}
.RadGrid_Vision .rgSelectedRow,
.BlueRow_Vision
{
	border-left:0;
	padding-left:8px;
	background: url('Grid/gridBlueRow.gif') repeat-x !important ;	
}

.RadGrid_Vision .rgSelectedRow,
.RadGrid_Vision .rgActiveRow
{
	border-left:0;
	padding-left:8px;
	background:  url('Grid/gridSelectedRow.gif') repeat-x !important ;
	background-color: #F1C15F;
}

.RadGrid_Vision .rgHoveredRow
{
	background:none #f1c15f;
}

.RadGrid_Vision .rgHoveredRow td,
.RadGrid_Vision .rgSelectedRow td,
.RadGrid_Vision .rgActiveRow td,
.BlueRow_Vision td,
.YellowRow_Vision td,
.RedRow_Vision td
{
	border-right: solid 1px #9A9A9A;/*#f29536;*/
	border-bottom: solid 1px #9A9A9A;/*#f29536;*/
}

/*footer*/

.RadGrid_Vision .rgFooterDiv,
.RadGrid_Vision .rgFooter
{
	background:#9ab5db 0 -6500px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Vision .rgFooter td
{
	border-width:1px 0;
	border-color:#567db0 #fff #fff;
	padding-left:8px;
}

/*status*/

.RadGrid_Vision .rgPager .rgStatus
{
	width:35px;
	border:0;
	border-top:1px solid #5d8cc9;
	border-right:1px solid #9cb9dc;
	border-color:#5d8cc9 #9cb9dc;
	padding:3px;
}

.RadGrid_Vision .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent center center no-repeat url('Common/loading_small.gif');
	text-indent:-2222px;
}

/*pager*/

.RadGrid_Vision .rgPager
{
	background: #9ab5db url('Grid/GriPagerBg.gif') repeat-x;
	/*color: white;
	background:#ecf3fc 0 -7000px repeat-x url('Grid/sprite.gif');*/
}

.RadGrid_Vision .rgPager td
{
	padding:0;
    color: #fff;
}

.RadGrid_Vision .rgPager td a
{
	color: #fff;
}

.RadGrid_Vision .rgPager .rgPagerCell
{
	border:0;
	border-top:1px solid #5d8cc9;
	border-left:1px solid #fff;
	padding:0px 0;
    color: #fff;
}

.RadGrid_Vision .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:22px;
	white-space:nowrap;
}

.RadGrid_Vision .rgArrPart1
{
	padding-right:0;
}

.RadGrid_Vision .rgArrPart2
{
	padding-left:0;
}

.RadGrid_Vision .rgInfoPart
{
	float:right;
	color:#333;
}

.RadGrid_Vision .rgInfoPart strong
{
	font-weight:normal;
	color:#000;
}

.RadGrid_Vision .rgArrPart1 img,
.RadGrid_Vision .rgArrPart2 img
{
	margin:0 8px;
}

.RadGrid_Vision .rgPageFirst,
.RadGrid_Vision .rgPagePrev,
.RadGrid_Vision .rgPageNext,
.RadGrid_Vision .rgPageLast
{
	width:17px;
	height:22px;
	vertical-align:top;
}

.RadGrid_Vision .NextPrev .rgPageFirst,
.RadGrid_Vision .NextPrev .rgPagePrev,
.RadGrid_Vision .NextPrev .rgPageNext,
.RadGrid_Vision .NextPrev .rgPageLast
{
	vertical-align:middle;
}

.RadGrid_Vision .rgPageFirst
{
	margin:0 3px 0 0;
	background-position:0 -548px;
}
.RadGrid_Vision .rgPageFirst:hover
{
	background-position:0 -598px;
}
.RadGrid_Vision .rgPagePrev
{
	margin:0 3px 0 0;
	background-position:0 -698px;
}
.RadGrid_Vision .rgPagePrev:hover
{
	background-position:0 -748px;
}
.RadGrid_Vision .rgPageNext
{
	margin:0 0 0 3px;
	background-position:0 -848px;
}
.RadGrid_Vision .rgPageNext:hover
{
	background-position:0 -898px;
}
.RadGrid_Vision .rgPageLast
{
	margin:0 0 0 3px;
	background-position:0 -998px;
}
.RadGrid_Vision .rgPageLast:hover
{
	background-position:0 -1048px;
}

.RadGrid_Vision .rgPager .rgPagerButton
{
	height:22px;
	border:1px solid #7793b9;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#e8f1fc repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#00156e;
	font:12px/12px "segoe ui",arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Vision .rgNumPart
{
	padding:0;
}

.RadGrid_Vision .NumericPages .rgNumPart
{
	padding:0 10px;
}

.RadGrid_Vision .rgNumPart a:hover,
.RadGrid_Vision .rgNumPart a:hover span,
.RadGrid_Vision .rgNumPart a.rgCurrentPage,
.RadGrid_Vision .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
	color:Black;
}

.RadGrid_Vision .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#00156e;
	text-decoration:none;
}

.RadGrid_Vision .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Vision .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_Vision .rgNumPart a:hover span
{
	background-position:0 -1150px;
	cursor:pointer;
}

.RadGrid_Vision .rgNumPart a.rgCurrentPage,
.RadGrid_Vision .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	cursor:default;
}

.RadGrid_Vision .rgNumPart a.rgCurrentPage span,
.RadGrid_Vision .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
	cursor:default;
}

.RadGrid_Vision .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Vision .rgPager .RadSlider
{
	float:left;
	margin:0 10px 0 0;
}

.RadGrid_Vision .rgPager .rgPagerLabel,
.RadGrid_Vision .rgPager .RadComboBox,
.RadGrid_Vision .rgPager .RadInput_Vision
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

*+html .RadGrid_Vision .rgPager .RadComboBox{margin-top:-1px;}
* html .RadGrid_Vision .rgPager .RadComboBox{margin-top:-1px;padding:1px 0;}

.RadGrid_Vision .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Vision .rgHeader .rgSortAsc
{
	background-position:3px -147px;
	height:10px;
}

.RadGrid_Vision .rgHeader .rgSortDesc
{
	background-position:3px -96px;
	height:10px;
}

.GridReorderTop_Vision,
.GridReorderBottom_Vision
{
	width:9px !important;
	height:9px !important;
	margin-left:-5px;
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Vision
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Vision .rgFilterRow
{
	background:#d6e5f3;
}

.RadGrid_Vision .rgFilterRow td
{
    padding-top:5px;
    padding-bottom:6px;
    border:solid #9eb6ce;
    border-width:0 0 1px 1px;
}

.RadGrid_Vision .rgFilter
{
	width:22px;
	height:22px;
	margin:0 0 0 2px;
	background-position:0 -300px;
}

.RadGrid_Vision .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Vision .rgFilterActive,
.RadGrid_Vision .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Vision .rgFilterBox
{
	border:1px solid #abc1de;
	padding:2px 1px 3px;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Vision .rgGroupPanel
{
	height:24px;
	border:0;
	border-bottom:1px solid #688caf;
	background:#ecf3fc;
}

.RadGrid_Vision .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
	vertical-align:middle;
}

.RadGrid_Vision .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Vision .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Vision .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Vision .rgUngroup
{
	background-position:0 -7500px;
}

.RadGrid_Vision .rgGroupItem
{
	border:1px solid #4b78ca;
	padding:0 2px 1px 3px;
	background:#e6ebf5 0 -1900px repeat-x url('Grid/sprite.gif');
	color:#00156e;
	line-height:20px;
	font-weight:normal;
	vertical-align:middle;
}

.RadGrid_Vision .rgGroupHeader
{
    background:#d7e6f7;
    font-size:1.1em;
    line-height:21px;
	color:#567db0;
}

.RadGrid_Vision .rgGroupHeader td
{
	border-top:1px solid #fcfcfd;
	border-bottom:1px solid #6f92b3;
    padding:0 7px 0 8px;
}

.RadGrid_Vision td.rgGroupCol,
.RadGrid_Vision td.rgExpandCol
{
	background:#d7e6f7 none;
	border-color:#d7e6f7;
}

.RadGrid_Vision .rgGroupHeader .rgExpand
{
	background-position:5px -495px;
}

.RadGrid_Vision .rgGroupHeader .rgCollapse
{
	background-position:3px -93px;
}

.RadGrid_Vision .rgGroupHeader td p
{
    display:inline;
    margin:0;
    padding:0 10px;
}

.RadGrid_Vision .rgGroupHeader td div div
{
	top:-0.8em;
	padding:0 10px;
}

.RadGrid_Vision .rgGroupHeader td div div div
{
	top:0;
	padding:0;
	border:0;
}

/*editing*/

.RadGrid_Vision .rgEditForm
{
	border-bottom:1px solid #d0d7e5;
}

.RadGrid_Vision .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Vision .rgCancel
{
	background-position:2px -1848px;
}

/*hierarchy*/

.RadGrid_Vision .rgDetailTable
{
	border:1px solid #688caf;
	border-right-width:0;
}

.RadGrid_Vision .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Vision .rgCollapse
{
	background-position:3px -94px;
}

/*command row*/

.RadGrid_Vision .rgCommandRow
{
	background:#d6e6f4 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#333;
}

.RadGrid_Vision .rgCommandCell
{
	border:0;
	padding:0;
}

.RadGrid_Vision thead .rgCommandCell
{
	border-bottom:1px solid #688caf;
}

.RadGrid_Vision tfoot .rgCommandCell
{
	border-top:1px solid #688caf;
}

.RadGrid_Vision .rgCommandTable td
{
	border:0;
	padding:3px 7px 4px;
}

.RadGrid_Vision .rgCommandTable
{
	border:1px solid #f6f7f9;
}

.RadGrid_Vision .rgCommandRow a
{
	color:#00156e;
	text-decoration:none;
}

.RadGrid_Vision .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Vision .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Vision .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Vision .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Vision .rgExpXLS,
.RadGrid_Vision .rgExpDOC,
.RadGrid_Vision .rgExpPDF,
.RadGrid_Vision .rgExpCSV
{
	background-image:url('../Common/Grid/export.gif');
}

.RadGrid_Vision .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Vision .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Vision .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Vision .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Vision
{
	background:#00156e;
}

/*row drag n drop*/

.GridItemDropIndicator_Vision
{
    border-top:1px dashed #00156e;
}

/*tooltip*/

.GridToolTip_Vision
{
	border:1px solid #6187b8;
	padding:3px;
	background:#d7e3f2;
	color:#333;
}

/*rtl*/

.RadGridRTL_Vision .rgHeader,
.RadGridRTL_Vision .rgResizeCol
{
	text-align:right;
}

.RadGridRTL_Vision .rgHeader:first-child,
.RadGridRTL_Vision th.rgResizeCol:first-child,
.RadGridRTL_Vision .rgFilterRow>td:first-child,
.RadGridRTL_Vision .rgRow>td:first-child,
.RadGridRTL_Vision .rgAltRow>td:first-child
{
	border-left:1px solid;
	padding-left:7px;
}

.RadGridRTL_Vision .rgPager .rgStatus
{
	border-right:0;
	border-left-width:1px;
}

.RadGridRTL_Vision .rgWrap
{
	float:right;
}

.RadGridRTL_Vision .rgInfoPart
{
	float:left;
}

.RadGridRTL_Vision .rgNumPart
{
	width:220px;
}

.RadGridRTL_Vision .rgNumPart a
{
	float:right;
}

.RadGridRTL_Vision .rgPageFirst
{
	background-position:0 -998px;
}
.RadGridRTL_Vision .rgPageFirst:hover
{
	background-position:0 -1048px;
}
.RadGridRTL_Vision .rgPagePrev
{
	background-position:0 -848px;
}
.RadGridRTL_Vision .rgPagePrev:hover
{
	background-position:0 -898px;
}
.RadGridRTL_Vision .rgPageNext
{
	background-position:0 -698px;
}
.RadGridRTL_Vision .rgPageNext:hover
{
	background-position:0 -748px;
}
.RadGridRTL_Vision .rgPageLast
{
	background-position:0 -548px;
}
.RadGridRTL_Vision .rgPageLast:hover
{
	background-position:0 -598px;
}

.RadGridRTL_Vision .rgDetailTable
{
	border-right-width:1px;
	border-left-width:0;
}
