/*Telerik RadInput Office2007 Skin*/

/*global*/

.RadInput_Vision,
.RadInputMgr_Vision
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_Vision .riTextBox,
html body .RadInputMgr_Vision
{
	border-color:#abc1de;
	background:#fff;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_Vision .riEmpty,
html body .RadInput_Empty_Vision
{
	color:#8d8d8d;
}

html body .RadInput_Vision .riHover,
html body .RadInput_Hover_Vision,
html body .RadInput_Vision .riFocused,
html body .RadInput_Focused_Vision
{
	border-color:#305090;
}

html body .RadInput_Vision .riRead,
html body .RadInput_Read_Vision
{
	border-color:#ccdbed;
}

html body .RadInput_Vision .riDisabled,
html body .RadInput_Disabled_Vision
{
	border-color:#ccdbed;
	color:#8d8d8d;
	cursor:default;
}

html body .RadInput_Vision .riError,
html body .RadInput_Error_Vision
{
	border-color:#b32d34 #dc643f #ea8541;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

.RadForm.rfdTextbox .RadInput_Vision .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Vision[type="text"]
{
	border-color:#b32d34 #dc643f #ea8541;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

html body .RadInput_Vision .riNegative,
html body .RadInput_Negative_Vision
{
	color:#565656;
}

/*buttons*/

.RadInput_Vision a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_Vision .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_Vision .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_Vision .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_Vision .riUp
{
	background-position:4px -98px;
}

.RadInput_Vision .riUp:hover
{
	background-position:4px -148px;
}

.RadInput_Vision a.riDown
{
	background-position:4px -199px;
}

.RadInput_Vision a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_Vision .riLabel
{
	color:#000;
}