/*Telerik RadListView Vision Skin*/

/*global*/

.RadListView_Vision
{
	border:1px solid #688caf;
	background:#fff;
	color:#333;
}

.RadListView_Vision .rlvA
{
	/*background:#ecf4ff;*/
}

.RadListView_Vision .rlvISel
{
	background:#ffcb60;
}

.RadListView_Vision .rlvIEdit
{
	background:#ffe5ad;
}

/*buttons*/

.RadListView_Vision .rlvBAdd,
.RadListView_Vision .rlvBUpdate,
.RadListView_Vision .rlvBCancel,
.RadListView_Vision .rlvBDel,
.RadListView_Vision .rlvBEdit
{
	background-image:url('Grid/sprite.gif');
}

.RadListView_Vision .rlvBAdd
{
	background-position:0 -1650px;
}
.RadListView_Vision .rlvBUpdate
{
	background-position:0 -1800px;
}
.RadListView_Vision .rlvBCancel
{
	background-position:2px -1848px;
}
.RadListView_Vision .rlvBSel
{
	background-image:url('FormDecorator/CheckBoxSprites.gif');
	background-position:-2px -2px;
}
.RadListView_Vision .rlvISel .rlvBSel
{
	background-position:-2px -422px;
}
.RadListView_Vision .rlvBDel
{
	background-position:0 -1750px;
}
.RadListView_Vision .rlvBEdit
{
	background-position:0 -1700px;
}

/*flow*/

.RadListView_Vision div.rlvI,
.RadListView_Vision div.rlvA,
.RadListView_Vision div.rlvIEmpty,
.RadListView_Vision div.rlvIEdit
{
	border-color:#d0d7e5;
}

.RadListView_Vision div.rlvISel
{
	border-color:#ff9b35;
}

/*grid*/

.RadListView_Vision tr.rlvHeader th
{
	border:solid #5d8cc9;
	border-width:0 0 1px 1px;
	background:0 -2300px repeat-x #c3d8f1 url('Grid/sprite.gif');
	color:#00156e;
}

.RadListView_Vision tr.rlvI td,
.RadListView_Vision tr.rlvA td,
.RadListView_Vision tr.rlvISel td,
.RadListView_Vision tr.rlvIEmpty td,
.RadListView_Vision tr.rlvIEdit td
{
	border:1px solid;
	border-top:0;
	border-right:0;
}

.RadListView_Vision tr.rlvI td,
.RadListView_Vision tr.rlvA td,
.RadListView_Vision tr.rlvIEmpty td,
.RadListView_Vision tr.rlvIEdit td
{
	border-color:#d0d7e5;
}

.RadListView_Vision tr.rlvISel td
{
	border-color:#ff9b35;
}

/*single row*/

.RadListView_Vision td.rlvI,
.RadListView_Vision td.rlvA,
.RadListView_Vision td.rlvISel,
.RadListView_Vision td.rlvIEmpty,
.RadListView_Vision td.rlvIEdit
{
	border:0;
	border-right:1px solid #d0d7e5;
}

.RadListView_Vision td.rlvISel
{
	border-color:#ff9b35;
}

/*edit*/

.RadListView_Vision .rlvInput
{
	border-color:#abc1de;
	background:#fff;
	color:#000;
}

/*pager*/

.RadDataPager_Vision
{
	border:1px solid #688caf;
	background:#ecf3fc 0 -7000px repeat-x url('Grid/sprite.gif');
	color:#333;
}

.RadDataPager_Vision .rdpInfoPart strong
{
	color:#000;
}

.RadDataPager_Vision .rdpPageFirst,
.RadDataPager_Vision .rdpPagePrev,
.RadDataPager_Vision .rdpPageNext,
.RadDataPager_Vision .rdpPageLast
{
	width:17px;
	background:transparent no-repeat url('Grid/sprite.gif');
}

.RadDataPager_Vision .rdpPageFirst
{
	margin:0 3px 0 0;
	background-position:0 -548px;
}
.RadDataPager_Vision .rdpPageFirst:hover
{
	background-position:0 -598px;
}
.RadDataPager_Vision .rdpPagePrev
{
	margin:0 3px 0 0;
	background-position:0 -698px;
}
.RadDataPager_Vision .rdpPagePrev:hover
{
	background-position:0 -748px;
}
.RadDataPager_Vision .rdpPageNext
{
	margin:0 0 0 3px;
	background-position:0 -848px;
}
.RadDataPager_Vision .rdpPageNext:hover
{
	background-position:0 -898px;
}
.RadDataPager_Vision .rdpPageLast
{
	margin:0 0 0 3px;
	background-position:0 -998px;
}
.RadDataPager_Vision .rdpPageLast:hover
{
	background-position:0 -1048px;
}

.RadDataPager_Vision .rdpPagerButton
{
	border:1px solid #7793b9;
	background:#e8f1fc repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#00156e;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadDataPager_Vision .rdpNumPart a:hover,
.RadDataPager_Vision .rdpNumPart a:hover span,
.RadDataPager_Vision .rdpNumPart a.rdpCurrentPage,
.RadDataPager_Vision .rdpNumPart a.rdpCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadDataPager_Vision .rdpNumPart a
{
	color:#00156e;
}

.RadDataPager_Vision .rdpNumPart a:hover
{
	background-position:100% -1250px;
}

.RadDataPager_Vision .rdpNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadDataPager_Vision .rdpNumPart a.rdpCurrentPage,
.RadDataPager_Vision .rdpNumPart a.rdpCurrentPage:hover
{
	background-position:100% -1450px;
}

.RadDataPager_Vision .rdpNumPart a.rdpCurrentPage span,
.RadDataPager_Vision .rdpNumPart a.rdpCurrentPage:hover span
{
	background-position:0 -1350px;
}
