.RadListBox_Vision .rlbGroup
{
    border: 1px solid #abc1de;
    background: #FFF;
}

.RadListBox_Vision .rlbText,
.RadListBox_Vision .rlbItem,
.RadListBox_Vision .rlbButtonText,
.RadListBox_Vision .rlbEmptyMessage
{
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #00156e;
}

.RadListBox_Vision .rlbText,
.RadListBox_Vision .rlbItem
{
	line-height: 18px;
}

.RadListBox_Vision .rlbGroup .rlbHovered
{
	background: #ffe27b;
	color: #000;
}

.RadListBox_Vision .rlbGroup .rlbSelected
{
	background: #fcc365;
	color: #000;
}

.RadListBox_Vision .rlbDisabled .rlbText
{
	color: #777;
}

.RadListBox_Vision .rlbDisabled .rlbImage
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

.RadListBox_Vision .rlbDropClue
{
    background-image: url('ListBox/rlbDropClue.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
	left: -10px;
	width: 10px;
}

.RadListBox_Vision .rlbGroup .rlbDropClueAbove
{
	border-top-style: dotted;
	border-top-color: #8e8e8e;
}

.RadListBox_Vision .rlbGroup .rlbDropClueBelow
{
	border-bottom-style: dotted;
	border-bottom-color: #8e8e8e;
}

.RadListBox_Vision .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_Vision .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_Vision .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_Vision .rlbGroup .rlbHovered.rlbDropClueBelow
{
	border-color: #8e8e8e;
}

/* Buttons normal state vertical layout*/
.RadListBox_Vision .rlbButtonText
{
	background: transparent url('ListBox/rlbSprite.png') no-repeat;
}

.RadListBox_Vision .rlbButton:hover .rlbButtonTL,
.RadListBox_Vision .rlbButton:hover .rlbButtonTR,
.RadListBox_Vision .rlbButton:hover .rlbButtonBL,
.RadListBox_Vision .rlbButton:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonHover.png');
}

* html .RadListBox_Vision .rlbButton:hover .rlbButtonTL,
* html .RadListBox_Vision .rlbButton:hover .rlbButtonTR,
* html .RadListBox_Vision .rlbButton:hover .rlbButtonBL,
* html .RadListBox_Vision .rlbButton:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonHoverIE6.png');
}

.RadListBox_Vision .rlbButton .rlbButtonTL,
.RadListBox_Vision .rlbButton .rlbButtonTR,
.RadListBox_Vision .rlbButton .rlbButtonBL,
.RadListBox_Vision .rlbButton .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonNormal.png');
}

* html .RadListBox_Vision .rlbButton .rlbButtonTL,
* html .RadListBox_Vision .rlbButton .rlbButtonTR,
* html .RadListBox_Vision .rlbButton .rlbButtonBL,
* html .RadListBox_Vision .rlbButton .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonNormalIE6.png');
}

.RadListBox_Vision .rlbDisabled .rlbButtonTL,
.RadListBox_Vision .rlbDisabled .rlbButtonTR,
.RadListBox_Vision .rlbDisabled .rlbButtonBL,
.RadListBox_Vision .rlbDisabled .rlbButtonBR,
.RadListBox_Vision .rlbDisabled:hover .rlbButtonTL,
.RadListBox_Vision .rlbDisabled:hover .rlbButtonTR,
.RadListBox_Vision .rlbDisabled:hover .rlbButtonBL,
.RadListBox_Vision .rlbDisabled:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonDisabled.png');
}

* html .RadListBox_Vision .rlbDisabled .rlbButtonTL,
* html .RadListBox_Vision .rlbDisabled .rlbButtonTR,
* html .RadListBox_Vision .rlbDisabled .rlbButtonBL,
* html .RadListBox_Vision .rlbDisabled .rlbButtonBR,
* html .RadListBox_Vision .rlbDisabled:hover .rlbButtonTL,
* html .RadListBox_Vision .rlbDisabled:hover .rlbButtonTR,
* html .RadListBox_Vision .rlbDisabled:hover .rlbButtonBL,
* html .RadListBox_Vision .rlbDisabled:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonDisabledIE6.png');
}

.RadListBox_Vision .rlbButton:hover .rlbButtonText 
{ 
	color: #000; 
}

.RadListBox_Vision .rlbDisabled .rlbButtonText,
.RadListBox_Vision .rlbDisabled:hover .rlbButtonText
{
	color: #8d8d8d;
}

.RadListBox_Vision .rlbMoveUp .rlbButtonText { background-position: 0 0; }
.RadListBox_Vision .rlbMoveUp:hover .rlbButtonText { background-position: -400px 0; }
.RadListBox_Vision .rlbMoveUpDisabled .rlbButtonText,
.RadListBox_Vision .rlbMoveUpDisabled:hover .rlbButtonText { background-position: -200px 0; }

.RadListBox_Vision .rlbMoveDown .rlbButtonText { background-position: 0 -25px; }
.RadListBox_Vision .rlbMoveDown:hover .rlbButtonText { background-position: -400px -25px; }
.RadListBox_Vision .rlbMoveDownDisabled .rlbButtonText,
.RadListBox_Vision .rlbMoveDownDisabled:hover .rlbButtonText { background-position: -200px -25px; }

.RadListBox_Vision .rlbDelete .rlbButtonText { background-position: 0 -50px; }
.RadListBox_Vision .rlbDelete:hover .rlbButtonText { background-position: -400px -50px; }
.RadListBox_Vision .rlbDeleteDisabled .rlbButtonText,
.RadListBox_Vision .rlbDeleteDisabled:hover .rlbButtonText { background-position: -200px -50px; }


.RadListBox_Vision .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText { background-position: 0 -100px; }
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText { background-position: 0 -75px; }
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText { background-position: -400px -100px; }
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText { background-position: -400px -75px; }

.RadListBox_Vision .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText { background-position: -200px -100px; }

.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -200px -75px; }


.RadListBox_Vision .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText { background-position: 0 -150px; }
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText { background-position: 0 -125px; }
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText { background-position: -400px -150px; }
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText { background-position: -400px -125px; }

.RadListBox_Vision .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -200px -150px; }

.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -200px -125px; }


.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText { background-position: 0 -200px; }
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText { background-position: 0 -175px; }
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText { background-position: -400px -200px; }
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText { background-position: -400px -175px; }

.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText { background-position: -200px -200px; }

.RadListBox_Vision .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -200px -175px; }


.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText { background-position: 0 -250px; }
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText { background-position: 0 -225px; }
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText { background-position: -400px -250px; }
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText { background-position: -400px -225px; }

.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -200px -250px; }

.RadListBox_Vision .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Vision .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -200px -225px; }

