/* <RadMenu / Vision> */

.RadMenu_Vision .rmRootGroup,
.RadMenu_Vision .rmLink,
.RadMenu_Vision .rmText,
.RadMenu_Vision .rmLeftArrow,
.RadMenu_Vision .rmRightArrow,
.RadMenu_Vision .rmTopArrow,
.RadMenu_Vision .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Vision .rmRootGroup
{
	border: 1px solid #688caf;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #BBD9FF;
}

/* <Root items> */

.RadMenu_Vision,
.RadMenu_Vision .rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #00156e;
	text-decoration: none;
}

.RadMenu_Vision .rmLink,
.RadMenu_Vision .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Vision .rmLink:hover,
.RadMenu_Vision .rmFocused,
.RadMenu_Vision .rmSelected
{
	color: #000;
	background-position: 0 -72px;
}

.RadMenu_Vision .rmLink:hover .rmText,
.RadMenu_Vision .rmFocused .rmText,
.RadMenu_Vision .rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Vision .rmExpanded,
.RadMenu_Vision .rmExpanded:hover
{
	color: #000;
	background-position: 0 -120px;
}

.RadMenu_Vision .rmExpanded .rmText,
.RadMenu_Vision .rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Vision .rmDisabled,
.RadMenu_Vision .rmDisabled:hover
{
	color: #8d8d8d;
}

.RadMenu_Vision .rmDisabled:hover,
.RadMenu_Vision .rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Vision .rmGroup,
.RadMenu_Vision .rmMultiColumn,
.RadMenu_Vision .rmGroup .rmVertical
{
	border: 1px solid #868686;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Vision .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Vision_rtl .rmGroup,
.RadMenu_Vision_rtl .rmMultiColumn,
.RadMenu_Vision_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Vision .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Vision .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Vision .rmGroup .rmFirst,
.RadMenu_Vision .rmGroup .rmLast
{
	background: none;
}

.RadMenu_Vision .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Vision .rmGroup .rmLink:hover,
.RadMenu_Vision .rmGroup .rmFocused,
.RadMenu_Vision .rmGroup .rmSelected,
.RadMenu_Vision .rmGroup .rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Vision .rmGroup .rmLink:hover .rmText,
.RadMenu_Vision .rmGroup .rmFocused .rmText,
.RadMenu_Vision .rmGroup .rmSelected .rmText,
.RadMenu_Vision .rmGroup .rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Vision .rmGroup .rmExpandRight,
.RadMenu_Vision .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Vision .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Vision .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Vision .rmGroup .rmSelected .rmExpandRight,
.RadMenu_Vision .rmGroup .rmExpanded .rmExpandRight,
.RadMenu_Vision .rmGroup .rmLink:hover .rmExpandDown,
.RadMenu_Vision .rmGroup .rmFocused .rmExpandDown,
.RadMenu_Vision .rmGroup .rmSelected .rmExpandDown,
.RadMenu_Vision .rmGroup .rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_Vision .rmGroup .rmDisabled:hover .rmExpandRight,
.RadMenu_Vision .rmGroup .rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Vision_rtl .rmGroup .rmLink:hover,
.RadMenu_Vision_rtl .rmGroup .rmFocused,
.RadMenu_Vision_rtl .rmGroup .rmSelected,
.RadMenu_Vision_rtl .rmGroup .rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Vision_rtl .rmGroup .rmLink:hover .rmText,
.RadMenu_Vision_rtl .rmGroup .rmFocused .rmText,
.RadMenu_Vision_rtl .rmGroup .rmSelected .rmText,
.RadMenu_Vision_rtl .rmGroup .rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Vision_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Vision_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Vision_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Vision_rtl .rmGroup .rmSelected .rmExpandLeft,
.RadMenu_Vision_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Vision - specific, overlapping submenus)> */

.RadMenu_Vision .rmSlide
{
	margin: -3px 0 0 3px;
}

.RadMenu_Vision .rmVertical .rmSlide,
.RadMenu_Vision .rmSlide .rmSlide,
.RadMenu_Vision_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Vision_rtl .rmSlide
{
	margin: -3px 0 0 -3px;
}

.RadMenu_Vision_rtl .rmVertical .rmSlide,
.RadMenu_Vision_rtl .rmSlide .rmSlide,
.RadMenu_Vision_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Vision .rmLeftArrow,
.RadMenu_Vision .rmRightArrow
{
	background-color: #f6f6e8;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Vision .rmLeftArrow,
.RadMenu_Vision .rmRightArrow
{
	background-color: #E0E5F5;
}

.RadMenu_Vision .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #B7BDCD; }
.RadMenu_Vision .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #B7BDCD; }

.RadMenu_Vision .rmTopArrow,
.RadMenu_Vision .rmBottomArrow,
.RadMenu_Vision .rmGroup .rmLeftArrow,
.RadMenu_Vision .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_Vision .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #B7BDCD; }
.RadMenu_Vision .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #B7BDCD; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Vision .rmVertical .rmSeparator .rmText,
.RadMenu_Vision .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Vision .rmHorizontal .rmSeparator .rmText,
.RadMenu_Vision .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Vision> */