.RadPanelBar_Vision
{
	background: #fff;
}

.RadPanelBar_Vision .rpRootGroup
{
	border-color: #688caf;
}

.RadPanelBar_Vision .rpLink,
.RadPanelBar_Vision .rpTemplate
{
	color: #00156e;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_Vision .rpLink
{
	background-color: #a6d9f4;
	background-image: url('PanelBar/RootItemBg.gif');
	border-color: #C3D9F1;
}

.RadPanelBar_Vision .rpOut
{
	border-color: #C3D9F1;
}

.RadPanelBar_Vision .rpLink:hover
{
	color: #000;
	background-color: #ffca5e;
	border-color: #ff9b35;
}

.RadPanelBar_Vision .rpFocused,
.RadPanelBar_Vision .rpExpanded,
.RadPanelBar_Vision .rpSelected,
.RadPanelBar_Vision .rpSelected:hover
{
	background-color: #c3d8f1;
	border-color: #c3d8f1;
}

/* <disabled items> */
.RadPanelBar_Vision .rpDisabled,
.RadPanelBar_Vision .rpDisabled:hover
{
	color: #bbb;
}

.RadPanelBar_Vision .rpDisabled:hover .rpOut
{
	border-color: #e8f5fc;
}
/* </disabled items> */

/* <expand arrows> */
.RadPanelBar_Vision .rpExpandable .rpText,
.RadPanelBar_Vision .rpExpanded .rpText
{
	background-color: transparent;
	background-image: url('PanelBar/Expandable.png');
	background-repeat: no-repeat;
}
/* </expand arrows> */

/* <subitems> */
.RadPanelBar_Vision .rpGroup
{
	background-color: #fff;
}

.RadPanelBar_Vision .rpGroup .rpLink,
.RadPanelBar_Vision .rpGroup .rpTemplate
{
	color: #000;
	background-color: transparent;
	background-image: none;
}

.RadPanelBar_Vision .rpGroup .rpLink:hover
{
	color: #000;
}

.RadPanelBar_Vision .rpGroup .rpLink,
.RadPanelBar_Vision .rpGroup .rpOut
{
	background-color: transparent;
	background-image: url('PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}


/* <subitems (disabled)> */
.RadPanelBar_Vision .rpGroup .rpDisabled,
.RadPanelBar_Vision .rpGroup .rpDisabled:hover,
.RadPanelBar_Vision .rpGroup .rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_Vision .rpGroup .rpDisabled,
.RadPanelBar_Vision .rpGroup .rpDisabled:hover
{
	color: #bbb;
	text-decoration: none;
	background-color: #fff;
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_Vision .rpLink,
.RadPanelBar_Vision .rpExpanded
{
	background-position: 0 0;
}

.RadPanelBar_Vision .rpFocused,
.RadPanelBar_Vision .rpLink:hover,
.RadPanelBar_Vision .rpExpanded:hover
{
	background-position: 0 -200px;
}

.RadPanelBar_Vision .rpSelected,
.RadPanelBar_Vision .rpSelected:hover
{
	background-position: 0 -400px;
}

.RadPanelBar_Vision .rpFirst .rpLink,
.RadPanelBar_Vision .rpFirst .rpExpanded
{
	background-position: 0 -1px;
}

.RadPanelBar_Vision .rpFirst .rpFocused,
.RadPanelBar_Vision .rpFirst .rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_Vision .rpFirst .rpSelected,
.RadPanelBar_Vision .rpFirst .rpSelected:hover
{
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_Vision .rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_Vision .rpDisabled,
.RadPanelBar_Vision .rpDisabled:hover,
.RadPanelBar_Vision .rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
.RadPanelBar_Vision .rpExpandable .rpText,
.RadPanelBar_Vision .rpExpanded .rpText
{
	padding-right: 20px;
	background-repeat: no-repeat;
}

.RadPanelBar_Vision_rtl .rpExpandable .rpText,
.RadPanelBar_Vision_rtl .rpExpanded .rpText
{
	padding-left: 20px;
}

.RadPanelBar_Vision_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_Vision .rpExpandable .rpText { background-position: 100% 0; }
.RadPanelBar_Vision .rpExpanded .rpText { background-position: 100% -176px; }
.RadPanelBar_Vision_rtl .rpExpandable .rpText { background-position: 0 0; }
.RadPanelBar_Vision_rtl .rpExpanded .rpText { background-position: 0 -176px; }

.RadPanelBar_Vision .rpExpandable.rpSelected .rpText,
.RadPanelBar_Vision .rpExpandable.rpSelected:hover .rpText
{
	background-position: 100% -337px;
}

.RadPanelBar_Vision .rpExpanded.rpSelected .rpText,
.RadPanelBar_Vision .rpExpanded.rpSelected:hover .rpText
{
	background-position: 100% -476px;
}

.RadPanelBar_Vision_rtl .rpExpandable.rpSelected .rpText,
.RadPanelBar_Vision_rtl .rpExpandable.rpSelected:hover .rpText
{
	background-position: 0 -337px;
}

.RadPanelBar_Vision_rtl .rpExpanded.rpSelected .rpText,
.RadPanelBar_Vision_rtl .rpExpanded.rpSelected:hover .rpText
{
	background-position: 0 -476px;
}

/*      </expand arrows> */

.RadPanelBar_Vision .rpGroup .rpLink,
.RadPanelBar_Vision .rpGroup .rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_Vision .rpGroup .rpLink:hover,
.RadPanelBar_Vision .rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_Vision .rpGroup .rpLink:hover .rpOut,
.RadPanelBar_Vision .rpGroup .rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_Vision .rpGroup .rpSelected,
.RadPanelBar_Vision .rpGroup .rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_Vision .rpGroup .rpSelected .rpOut,
.RadPanelBar_Vision .rpGroup .rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_Vision .rpGroup .rpExpandable .rpText,
.RadPanelBar_Vision .rpGroup .rpExpandable:hover .rpText { background-position: 100% -938px; }
.RadPanelBar_Vision .rpGroup .rpExpanded .rpText,
.RadPanelBar_Vision .rpGroup .rpExpanded:hover .rpText { background-position: 100% -1078px; }
.RadPanelBar_Vision_rtl .rpGroup .rpExpandable .rpText,
.RadPanelBar_Vision_rtl .rpGroup .rpExpandable:hover .rpText { background-position: 0 -938px; }
.RadPanelBar_Vision_rtl .rpGroup .rpExpanded .rpText,
.RadPanelBar_Vision_rtl .rpGroup .rpExpanded:hover .rpText { background-position: 0 -1078px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */