/* new styles */
.RadRotator_Vision .rrClipRegion
{
	border: solid 1px #a7bac5;
}

/*================== The list ========================*/

.RadRotator_Vision .rrClipRegion  .rrItemsList 
{
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;          
}

/* For vertical carousel, not set, width defaults to auto */
/* Note if you explicitly set width to auto, this might cause */
/* problems with Safari */

.RadRotator_Vision .rrButton
{
	background-image: url('Rotator/RotatorButtons.gif');
	background-repeat: no-repeat;
	/*Button size is defined here, we use margins to position them too */
	height: 20px;
	width: 20px;
	line-height: 20px;
	/* Very important for the layout!*/	
}

.RadRotator_Vision .rrButton.rrButtonUp
{
	background-position: 0 0;
	top: -20px; /* -15px */
	left: 50%;
	margin-left: -10px;
}

.RadRotator_Vision .rrButton.rrButtonUp:hover
{
	background-position: -20px 0;
}

.RadRotator_Vision .rrButton.rrButtonRight
{
	background-position: 0 -20px;
	margin-top: -10px;
	right: -20px; /* -16px */
	top: 50%;   
}

.RadRotator_Vision .rrButton.rrButtonRight:hover
{
	background-position: -20px -20px;
}

.RadRotator_Vision .rrButton.rrButtonDown
{
	background-position: 0 -40px;
	top: 100%;
	left: 50%;
	margin-left: -10px;
}

.RadRotator_Vision .rrButton.rrButtonDown:hover
{
	background-position: -20px -40px;
}

.RadRotator_Vision .rrButton.rrButtonLeft
{
	background-position: 0 -60px;
	margin-top: -10px;
	left: -20px; /* -15px */
	top: 50%;
}

.RadRotator_Vision .rrButton.rrButtonLeft:hover
{
	background-position: -20px -60px;
}

.RadRotator_Vision .rrButton.rrButtonDisabled
{
	filter: alpha(opacity=20);
	opacity: .2;
	-moz-opacity: .2;
}