/* RadScheduler Vision skin */

/* common */
.RadScheduler_Vision,
.RadScheduler_Vision a,
.RadScheduler_Vision input,
.RadScheduler_Vision select,
.RadScheduler_Vision textarea
{
	color: #333;
	font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

.RadScheduler_Vision textarea
{
	background: #fff;
}

/* header */

/* header sprites */
.RadScheduler_Vision .rsHeader,
.RadScheduler_Vision .rsHeader ul a:hover,
.RadScheduler_Vision .rsHeader ul a:hover span,
.RadScheduler_Vision .rsHeader .rsSelected,
.RadScheduler_Vision .rsHeader .rsSelected em,
.RadScheduler_Vision .rsHeader .rsDatePickerActivator,
.RadScheduler_Vision .rsHeader .rsPrevDay,
.RadScheduler_Vision .rsHeader .rsNextDay
{
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Vision .rsHeader
{
	border: 1px solid #688caf;
}

.RadScheduler_Vision .rsHeader,
.RadScheduler_Vision .rsHeader a:hover
{
	color: #000;
}

.RadScheduler_Vision .rsHeader a
{
	color: #239;
}

.RadScheduler_Vision div.rsHeader .rsPrevDay
{
	margin: 6px 0 0 3px;
	background-position: 0 -48px;
}

.RadScheduler_Vision div.rsHeader .rsNextDay
{
	margin: 6px 6px 0 3px;
	background-position: -16px -48px;
}

.RadScheduler_Vision div.rsHeader .rsPrevDay:hover
{
	background-position: -70px -48px;
}

.RadScheduler_Vision div.rsHeader .rsNextDay:hover
{
	background-position: -86px -48px;
}

/* content */

.RadScheduler_Vision .rsContent
{
	background: #fff;
}

/* <headers> */

.RadScheduler_Vision .rsHorizontalHeaderTable
{
	color: #239;
	background: #e4e4e4;
}

.RadScheduler_Vision .rsHorizontalHeaderWrapper {
	border-color: #a7bac5;
	background: #d6e5f3;
}

.RadScheduler_Vision .rsSpacerCell,
.RadScheduler_Vision .rsAllDayHeader,
.RadScheduler_Vision .rsVerticalHeaderWrapper,
.RadScheduler_Vision .rsVerticalHeaderTable
{
	background: #e3efff;
}

.RadScheduler_Vision .rsVerticalHeaderTable th
{
	border-color: #868686 #5d8cc9;
	color: #6593cf;
}

.RadScheduler_Vision .rsHorizontalHeaderTable th
{
	border-color: #a7bac5;
	background-color: #C3D9F1;
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Vision .rsVerticalHeaderTable th
{
	border-color: transparent #5d8cc9;
	border-top: 0;
}

.RadScheduler_Vision .rsVerticalHeaderTable .rsAlt th
{
	border-color: #6593cf #5d8cc9;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_Vision .rsAllDayRow
{
	background: #d6e5f3;
}

.RadScheduler_Vision .rsSpacerCell,
.RadScheduler_Vision .rsAllDayHeader,
.RadScheduler_Vision .rsVerticalHeaderTable .rsAllDayHeader
{
	color: #6593cf;
	border-color: #a7bac5 #5d8cc9;
}

.RadScheduler_Vision .rsAllDayRow td,
.RadScheduler_Vision .rsContentTable .rsAllDayRow td
{
	border-color: #a7bac5;
	border-style: solid;
}

.RadScheduler_Vision .rsVerticalHeaderTable .rsMainHeader th
{
	border-bottom-color: #A7BAC5;
}

.RadScheduler_Vision .rsSpacerCell,
.RadScheduler_Vision .rsContent .rsAllDayHeader
{
	border-bottom-color: #6593cf;
}

/* </all-day-row> */

.RadScheduler_Vision .rsContent,
.RadScheduler_Vision .rsTopWrap .rsFooter
{
	border: 1px solid #688caf;
	border-top: 0;
}

.RadScheduler_Vision .rsContentTable td
{
	border-color: #e8eaec #d0d7e5;
	border-bottom-style: dotted;
}

.RadScheduler_Vision .rsContentTable .rsAlt td
{
	border-color: #d0d7e5;
	border-bottom-style: solid;
}

.RadScheduler_Vision .rsMonthView .rsOtherMonth
{
	background-color: #F5F5F5;
}

/* <appointments> */
.RadScheduler_Vision .rsApt .rsArrowTop,
.RadScheduler_Vision .rsApt .rsArrowBottom,
.RadScheduler_Vision .rsApt .rsArrowLeft,
.RadScheduler_Vision .rsApt .rsArrowRight,
.RadScheduler_Vision .rsApt .rsAptDelete,
.RadScheduler_Vision .rsApt .rsAptResize,
.RadScheduler_Vision .rsApt .rsAptRecurrence,
.RadScheduler_Vision .rsApt .rsAptRecurrenceException
{
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_Vision .rsApt .rsAptDelete
{
	width: 22px;
}

.RadScheduler_Vision .rsAptCreate,
.RadScheduler_Vision .rsMonthView .rsAptCreate
{
	background-color: #ECF4FF;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_Vision .rsAptCreateRow2,
.RadScheduler_Vision .rsMonthView .rsAptCreateRow2
{
	background-color: #ECF4FF;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_Vision .rsNonWorkHour,
.RadScheduler_Vision .rsSunCol,
.RadScheduler_Vision .rsSatCol
{
	background-color: #f5fcff;
}

.RadScheduler_Vision .rsAptCreateRow3,
.RadScheduler_Vision .rsMonthView .rsAptCreateRow3,
.RadScheduler_Vision .rsAptCreateRow4,
.RadScheduler_Vision .rsMonthView .rsAptCreateRow4,
.RadScheduler_Vision .rsAptCreateRow5,
.RadScheduler_Vision .rsMonthView .rsAptCreateRow5
{
	background: #ECF4FF;
}

.RadScheduler_Vision .rsAptContent,
.RadScheduler_Vision .rsAptIn,
.RadScheduler_Vision .rsAptMid,
.RadScheduler_Vision .rsAptOut
{
	background-image: url('Scheduler/rsAppointmentBg.png');
}

.RadScheduler_Vision .rsAptSimple
{
	background-color: #c7d8ed;
	border-color: #6187b8;
}

/* </appointments> */

/* <month view> */

.RadScheduler_Vision .rsMonthView .rsDateBox
{
	background-color: #d0dbed;
	background-image: url('Scheduler/rsSprites.png');
	border-bottom: 1px solid #81a5da;
}

.RadScheduler_Vision .rsMonthView .rsAptCreate .rsDateBox
{
	border-bottom: 1px solid #f99331;
}

.RadScheduler_Vision .rsMonthView .rsAptCreate
{
	background-image: none;
}

.RadScheduler_Vision .rsMonthView .rsContentTable td
{
	border-color: #d0d7e5;
	border-style: solid;
}

/* </month view> */

/* <footer> */

.RadScheduler_Vision div.rsFooter
{
	background-color: #f0fafd;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
	border-color: #a2a2a2;
}

.RadScheduler_Vision div.rsFooter a
{
	color: #239;
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_Vision div.rsFooter a:hover
{
	color: #000;
}

/* </footer> */

/* <inline edit form> */

.RadScheduler_Vision .rsEditOptions a,
.RadScheduler_Vision .rsAptEditResizeHandle,
.RadScheduler_Vision .rsAptEditFormWrapper
{
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Vision .rsAptEditFormOuter, /* top */
.RadScheduler_Vision .rsAptEditFormInner  /* bottom */
{
	background-image: url('Scheduler/rsInlineEditHSprite.png');
}

.RadScheduler_Vision .rsAptEditFormMiddle, /* left */
.RadScheduler_Vision .rsAptEditFormMiddle2 /* right */
{
	background-image: url('Scheduler/rsInlineEditVSprite.png');
}

.RadScheduler_Vision .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #9cb6c5;
	background: #fff;
}

.RadScheduler_Vision .rsAptEditFormWrapper .rsAptEditTextareaWrapper textarea
{
	background: #fff;
}

/* <inline edit form template and edit background> */

.RadScheduler_Vision .rsAptEditFormWrapper .rsTemplateWrapper,
.RadScheduler_Vision .rsAptEditFormWrapper .rsEditOptions 
{
	background: #BFD3EB;
}

/* </inline edit form template and edit background> */

/* </inline edit form> */

/* <advanced edit form> */

.RadScheduler_Vision .rsAdvancedEdit .rsAdvContentWrapper
{
	background: #fff;
	border: 1px solid #9ebfdb;
	border-top-color: #9BAFCA;
}

/* <xref input skins> */

.RadScheduler_Vision .rsAdvancedEdit .rsAdvInput,
.RadScheduler_Vision .rsAdvancedEdit select,
.RadScheduler_Vision .rsAdvancedEdit .textareaWrapper
{
	border-color: #abc1de;
}

.RadScheduler_Vision .rsAdvancedEdit .rsInvalid textarea,
.RadScheduler_Vision .rsAdvancedEdit .rsInvalid input,
.RadScheduler_Vision .rsAdvancedEdit .rsAdvTimePicker .riEmpty
{
	background-image: url('Input/sprite.gif');
}

.RadScheduler_Vision .rsAdvancedEdit .textareaWrapper
{
	background: #fff;
}

.RadScheduler_Vision .rsAdvancedEdit .rsInvalid
{
	border-color: #F32800;
	color: #F32800;
}
/* </xref input skins> */

.RadScheduler_Vision .rsAdvancedEdit h2,
.RadScheduler_Vision .rsAdvancedEdit h3
{
	color: #6d8ebb;
}

.RadScheduler_Vision .rsAdvancedEdit h2
{
	border-bottom: 1px solid #CCC;
}

.RadScheduler_Vision .rsAdvancedEdit h2 span
{
	background: #fff;
}

.RadScheduler_Vision .rsAdvancedEdit .rsAdvRecurrenceFreq
{
	border-right: 1px solid #fff;
}

.RadScheduler_Vision .rsAdvancedEdit ul.rsRecurrenceOptionList   /* ??? */
{
	border-right: 1px solid #CCC;
}

.RadScheduler_Vision .rsAdvancedEdit div.rsAdvPatternPanel
{
	border-left: 0;
}

.RadScheduler_Vision .rsAdvancedEdit .rsAdvancedSubmitArea
{
	border-color: #CCC;
}

.RadScheduler_Vision .rsAdvancedEdit div.rsAdvancedSubmitArea a 
{
	color: #333;
	background-image: url('Scheduler/rsSprites.png');
}

/* </advanced edit form> */

/* <date/time picker> */

.RadScheduler_Vision .rsTimePick .RadInput_Vision input.riEnabled,
.RadScheduler_Vision .rsTimePick .RadInput_Vision input.riHover,
.RadScheduler_Vision .rsTimePick .RadInput_Vision input.riFocused
{
	background-image: url('Scheduler/rsSprites.png');
}

/* </date/time picker> */

/* <modal dialogs> */

.RadScheduler_Vision .rsAdvancedEdit .rsAdvTitle,
.RadScheduler_Vision .rsModalWrapper .rsModalOuter
{
	border-color: #688caf;
	background-image: url('Scheduler/rsModalOuterBg.png');
}

.RadScheduler_Vision .rsAdvancedEdit .rsAdvInnerTitle,
.RadScheduler_Vision .rsModalWrapper .rsModalOuterTitle
{
	background-image: url('Scheduler/rsModalOuterTitleBg.png');
}

.RadScheduler_Vision .rsAdvancedEdit a.rsAdvEditClose,
.RadScheduler_Vision div.rsModalWrapper .rsModalWindowClose
{
	background-image: url('Scheduler/rsSprites.png');
	height:19px;
	margin-top:-24px;
	width:30px;
}

.RadScheduler_Vision .rsAdvancedEdit a.rsAdvEditClose:hover,
.RadScheduler_Vision .rsModalWrapper .rsModalWindowClose:hover
{
	background-position: -78px -526px;
}

.RadScheduler_Vision .rsModalWrapper .rsModalTitle
{
	color: #000;
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Vision .rsModalWrapper .rsModalInner
{
	border-color: #688caf;
	background: #fff;
}

.RadScheduler_Vision .rsModalWrapper .rsModalIcon,
.RadScheduler_Vision .rsModalWrapper .rsModalButtons a
{
	background-image: url('Scheduler/rsSprites.png');
}

/* Inline Edit buttons + ModalDialog buttons */
.RadScheduler_Vision .rsModalWrapper .rsModalButtons a,
.RadScheduler_Vision .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	color: #333;
}

/* </modal dialogs> */

.RadScheduler_Vision .rsBottomIndicator .rsOvertimeArrow
{
	background: transparent url('Scheduler/rsSprites.png') no-repeat -180px -31px;
}        	

.RadScheduler_Vision .rsTopIndicator .rsOvertimeArrow
{
	background: transparent url('Scheduler/rsSprites.png') no-repeat -134px -31px;
}      