/* RadSlider for ASP.NET AJAX Vision Skin */
.RadSlider_Vision .rslHorizontal a.rslHandle
{
	background-image:url('Slider/Handles.gif');
}

.RadSlider_Vision .rslHorizontal a.rslDraghandle
{
	background-image:url('Slider/DragHandle.gif');
	width:9px;
}

.RadSlider_Vision .rslHorizontal .rslTrack
{	
	background:url('Slider/TrackBgr.gif') repeat-x;
}

.RadSlider_Vision .rslHorizontal .rslSelectedregion
{
	background:url('Slider/SelectedRegionHorizontalBgr.gif') right top no-repeat;
}

/* vertical slider */
.RadSlider_Vision .rslVertical a.rslHandle
{
	background-image:url('Slider/HandlesVertical.gif');
}

.RadSlider_Vision .rslVertical .rslTrack
{
	background:url('Slider/TrackVerticalBgr.gif') repeat-y;
}

.RadSlider_Vision .rslVertical .rslSelectedregion
{
	background:url('Slider/SelectedRegionVerticalBgr.gif') left bottom no-repeat;
}

.RadSlider_Vision .rslVertical a.rslDraghandle
{
	background:url('Slider/DragVerticalHandle.gif') no-repeat;
	height:9px;
}

.RadSlider_Vision .rslItem,
.RadSlider_Vision .rslLargeTick span
{
	color:#333;
}

.RadSlider_Vision .rslItemsWrapper .rslItemSelected
{
    color:#000;
}

/* horizontal slider items */
.RadSlider_Vision .rslHorizontal .rslItem
{
	background-image:url('Slider/ItemHorizontalBgr.gif');
}

/* vertical slider items */
.RadSlider_Vision .rslVertical .rslItem
{
	background-image:url('Slider/ItemVerticalBgr.gif');
}

/* horizontal slider - TrackPosition=Top/Bottom */
.RadSlider_Vision .rslTop .rslSmallTick,
.RadSlider_Vision .rslBottom .rslSmallTick
{
    background-image:url('Slider/SmallChangeHorizontal.gif');
}

.RadSlider_Vision .rslTop .rslLargeTick,
.RadSlider_Vision .rslBottom .rslLargeTick
{
    background-image:url('Slider/LargeChangeHorizontal.gif');
}

/* vertical slider - TrackPosition=Left/Right */
.RadSlider_Vision .rslLeft .rslSmallTick,
.RadSlider_Vision .rslRight .rslSmallTick
{
    background-image:url('Slider/SmallChangeVertical.gif');
}

.RadSlider_Vision .rslLeft .rslLargeTick,
.RadSlider_Vision .rslRight .rslLargeTick 
{
    background-image:url('Slider/LargelChangeVertical.gif');
}

/* horizontal slider - TrackPosition=Center */
.RadSlider_Vision .rslMiddle .rslSmallTick
{
	background-image:url('Slider/SmallChangeMiddleHorizontal.gif');
}

.RadSlider_Vision .rslMiddle .rslLargeTick  
{
	background-image:url('Slider/LargeChangeMiddleHorizontal.gif');
}

/* vertical slider - TrackPosition=Center */
.RadSlider_Vision .rslCenter .rslSmallTick
{
    background-image:url('Slider/SmallChangeCenterVertical.gif');
}

.RadSlider_Vision .rslCenter .rslLargeTick 
{
    background-image:url('Slider/LargelChangeCenterVertical.gif');
}