/* RadSplitter for ASP.NET AJAX - Vision Skin */

/* Borders */
.RadSplitter_Vision,

/* Vertical RadSplitter items */
.RadSplitter_Vision .rspPane, 
.RadSplitter_Vision .rspResizeBar,
.RadSplitter_Vision .rspSlideContainerResize,

/* Horizontal RadSplitter items */
.RadSplitter_Vision .rspPaneHorizontal,
.RadSplitter_Vision .rspResizeBarHorizontal,
.RadSplitter_Vision .rspSlideContainerResizeHorizontal
{
	border-color:#dde8ee;
}

.RadSplitter_Vision .rspPaneTabContainer
{
    border-color:#9eb6ce;
}

/* RadSplitBar/RadSlidingPane resize elements */
.RadSplitter_Vision .rspResizeBar,
.RadSplitter_Vision .rspSlideContainerResize
{
	background:#fff url('Splitter/ResizeBarVerticalSprites.gif') repeat-y 0 0;
	border-right-color:#dfe9f2;
}

.RadSplitter_Vision .rspResizeBarOver,
.RadSplitter_Vision .rspSlideContainerResizeOver
{
    background:#dee8f5 none; /*-4px 0*/
}

.RadSplitter_Vision .rspResizeBarHorizontal,
.RadSplitter_Vision .rspSlideContainerResizeHorizontal
{
	background:#fff url('Splitter/ResizeBarHorizontalSprites.gif') repeat-x 0 0;
	border-bottom-color:#dfe9f2;
}

.RadSplitter_Vision .rspResizeBarOverHorizontal,
.RadSplitter_Vision .rspSlideContainerResizeOverHorizontal
{
    background:#dee8f5 none; /*0 -4px;*/
}

/* RadSlidingPane tab */
.RadSplitter_Vision .rspPaneTabContainer,
/* RadSlidingPane buttons */
.RadSplitter_Vision .rspSlideHeaderDockIcon,
.RadSplitter_Vision .rspSlideHeaderUndockIcon,
.RadSplitter_Vision .rspSlideHeaderCollapseIcon,
/* RadSplitBar buttons */
.RadSplitter_Vision .rspCollapseBarExpand,
.RadSplitter_Vision .rspCollapseBarCollapse,

.RadSplitter_Vision .rspCollapseBarHorizontalExpand,
.RadSplitter_Vision .rspCollapseBarHorizontalCollapse
{
    background-image:url('Splitter/ExpandCollapseBarsCommands.gif');
    background-repeat:no-repeat;
}

/* RadSlidingPane tab */
.RadSplitter_Vision .rspPaneTabContainer
{
    background-position:-81px 0;
    background-repeat:repeat-y;
}

/* RadSplitBar buttons */
.RadSplitter_Vision .rspCollapseBarCollapse
{	
	background-position:0 0;
}
.RadSplitter_Vision .rspCollapseBarCollapseOver
{
    background-position:-192px 0;
}

.RadSplitter_Vision .rspCollapseBarExpand
{	
	background-position:-4px 0;
}
.RadSplitter_Vision .rspCollapseBarExpandOver
{
    background-position:-196px 0;
}

.RadSplitter_Vision .rspCollapseBarHorizontalExpand
{
    background-position:-8px -4px;
}
.RadSplitter_Vision .rspCollapseBarHorizontalExpandOver
{
    background-position:-8px -12px;
}

.RadSplitter_Vision .rspCollapseBarHorizontalCollapse
{
    background-position:-8px 0;
}
.RadSplitter_Vision .rspCollapseBarHorizontalCollapseOver
{
    background-position:-8px -8px;
}

/* RadSlidingPane buttons */
.RadSplitter_Vision .rspSlideHeaderUndockIcon
{
	background-position:-50px 0;
}

.RadSplitter_Vision .rspSlideHeaderDockIcon
{
	background-position:-35px 0;
}

.RadSplitter_Vision .rspSlideHeaderCollapseIcon
{
	background-position:-65px 0;
}

/* RadSlidingPane header */
.RadSplitter_Vision .rspSlideHeader, 
/* RadSlidingPane title */
.RadSplitter_Vision .rspSlideTitleContainer,
/* RadSlidingPane tab, SlideDirection=Top/Bottom */
.RadSplitter_Vision .rspBottom .rspPaneTabContainer,
.RadSplitter_Vision .rspTop .rspPaneTabContainer
{
	background-image:url('Splitter/slideTitleContainerBgr.gif');
	background-repeat:repeat-x;
}

.RadSplitter_Vision .rspBottom .rspPaneTabContainer,
.RadSplitter_Vision .rspTop .rspPaneTabContainer
{
    background-position:0 -1px;
}

/* RadSlidingPane header elements */
.RadSplitter_Vision .rspSlideTitleContainer,
.RadSplitter_Vision .rspSlideHeaderIconWrapper
{
	border-bottom:solid 1px #dde8ee;
}

/* RadSlidingPane title text */
.RadSplitter_Vision .rspSlideTitle,
/* RadSlidingPane tab text */
.RadSplitter_Vision .rspPaneTabText
{
	font:normal 10px "Segoe UI", Arial, Sans-serif;
	color:#000;
}
.RadSplitter_Vision .rspSlideTitle
{	
	font-size:12px;
}

/* RadSlidingPane content - this element should not be transparent as it shows above content in adjacent RadPanes */
.RadSplitter_Vision .rspSlideContent
{
	background-color:#fff;
}