.RadTabStrip_Vision .rtsLI,
.RadTabStrip_Vision .rtsLink
{
	color: #000;
	font: 12px/26px "Segoe UI", Arial, sans-serif;
}


.RadTabStripTop_Vision .rtsLevel1{

margin: 0;
padding: 0;
float: left;
width: 100%;
font: 14px/26px "Segoe UI", Arial, sans-serif;
background: white url('TabStrip/homeline2.png') center center repeat-x; /*default background of menu bar*/

}

.RadTabStripTop_Vision .rtsLevel1 .rtsLI,
.RadTabStripTop_Vision .rtsLevel1 .rtsLink
{
	font: 14px/26px "Segoe UI", Arial, sans-serif, bold;
    color: #022b6c;
   
}


.RadTabStripTop_Vision .rtsLevel1 .rtsLink:hover

{
	font: 14px/26px "Segoe UI", Arial, sans-serif, bold ;
    color: white;
    background: #242c54 url('TabStrip/homeline_over.png')  center center repeat-x; /*default background of menu bar*/
}


.RadTabStripTop_Vision .rtsLevel1 .rtsSelected
{
	
    font: 14px/26px "Segoe UI", Arial, sans-serif, bold;
    color: white;
    background: #242c54 url('TabStrip/homeline_over.png')  center center repeat-x; /*default background of menu bar*/
}




.RadTabStrip_Vision .rtsLI,
.RadTabStrip_Vision .rtsLink
{
	color: #fff;
}
.RadTabStrip_Vision .rtsLink:hover,
.RadTabStrip_Vision .rtsSelected
{
	color: #0f3789;
}

.RadTabStripLeft_Vision .rtsSeparator,
.RadTabStripRight_Vision .rtsSeparator
{
	background: #6788BE;
}

/* <disabled tabs> */
.RadTabStrip_Vision .rtsLevel .rtsDisabled,
.RadTabStrip_Vision .rtsLevel .rtsDisabled:hover
{
	color: #ddd;
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_Vision .rtsNextArrow,
.RadTabStrip_Vision .rtsPrevArrow,
.RadTabStrip_Vision .rtsPrevArrowDisabled,
.RadTabStrip_Vision .rtsNextArrowDisabled
{
	background-image: url('TabStrip/TabStripStates.png');
}
/* </scrolling arrows> */
C:\DevProjects\BregVisionSystem\BregVisionSolution\BregVisionLite\MasterPages\Images\HomeLine.png
/* <tab backgrounds> */

/*.RadTabStripTop_Vision .rtsLevel { background-color: transparent; } */

.RadTabStripTop_Vision .rtsLevel {background: transparent url(C:\DevProjects\BregVisionSystem\BregVisionSolution\BregVisionLite\MasterPages\Images\mockuphome_21.png) center center repeat-x; /*default background of menu bar*/ } 


.RadTabStripTop_Vision rtsLevel1 .rtsUL .rtsLink:hover
{
background: #242c54 url('TabStrip/homeline2.png')  center center repeat-x; /*default background of menu bar*/

}




.RadTabStripTop_Vision .rtsLevel2 .rtsLink, 
.RadTabStripTop_Vision .rtsLevel2 .rtsOut,
.RadTabStripBottom_Vision .rtsLevel2 .rtsLink,
.RadTabStripBottom_Vision .rtsLevel2 .rtsOut,
.RadTabStripTop_Vision_Baseline .rtsLevel2,
.RadTabStripBottom_Vision_Baseline .rtsLevel2 { background-image: url('TabStrip/TabStripStates.png'); }


.RadTabStripTop_Vision .rtsLevel3 .rtsLink, 
.RadTabStripTop_Vision .rtsLevel3 .rtsOut,
.RadTabStripBottom_Vision .rtsLevel3 .rtsLink,
.RadTabStripBottom_Vision .rtsLevel3 .rtsOut,
.RadTabStripTop_Vision_Baseline .rtsLevel3,
.RadTabStripBottom_Vision_Baseline .rtsLevel3 { background-image: url('TabStrip/TabStripStates.png'); }

.RadTabStripLeft_Vision .rtsLink,
.RadTabStripRight_Vision .rtsLink { background-image: url('TabStrip/TabStripVStates.png'); }

.RadTabStripLeft_Vision .rtsLast .rtsLink,
.RadTabStripRight_Vision .rtsLast .rtsLink
{
	border-bottom: 1px solid #898C95;
}

.RadTabStripRight_Vision .rtsLink,
.RadTabStripRight_Vision .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_Vision .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_Vision .rtsSelected,
.RadTabStripRight_Vision .rtsSelected:hover { background-position: 100% -400px; }
/* </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */

.RadTabStripTop_Vision .rtsLink { background-position: 0 0; }
.RadTabStripTop_Vision .rtsOut { background-position: 100% 0; }

.RadTabStripTop_Vision .rtsLink:hover { background-position: 0 -52px; }
.RadTabStripTop_Vision .rtsLink:hover .rtsOut { background-position: 100% -52px; }

.RadTabStripTop_Vision .rtsSelected,
.RadTabStripTop_Vision .rtsSelected:hover { background-position: 0 -26px; }
.RadTabStripTop_Vision .rtsSelected .rtsOut,
.RadTabStripTop_Vision .rtsSelected:hover .rtsOut { background-position: 100% -26px; }

.RadTabStripTop_Vision .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripTop_Vision .rtsDisabled:hover .rtsOut { background-position: 100% 0; }

.RadTabStripTop_Vision_Baseline .rtsLevel { background-position: 0 100%; background-repeat: repeat-x; }

/* </orientation: top> */

/* <orientation: bottom> */

.RadTabStripBottom_Vision .rtsLink { background-position: 0 -182px; }
.RadTabStripBottom_Vision .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_Vision .rtsLink:hover { background-position: 0 -130px; }
.RadTabStripBottom_Vision .rtsLink:hover .rtsOut { background-position: 100% -130px; }

.RadTabStripBottom_Vision .rtsSelected,
.RadTabStripBottom_Vision .rtsSelected:hover { background-position: 0 -156px; }
.RadTabStripBottom_Vision .rtsSelected .rtsOut,
.RadTabStripBottom_Vision .rtsSelected:hover .rtsOut { background-position: 100% -156px; }

.RadTabStripBottom_Vision .rtsDisabled:hover { background-position: 0 -182px; }
.RadTabStripBottom_Vision .rtsDisabled:hover .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_Vision_Baseline .rtsLevel { background-position: 0 -599px; background-repeat: repeat-x; }

/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_Vision .rtsUL .rtsLink,
.RadTabStripRight_Vision .rtsUL .rtsLI .rtsDisabled:hover { background-position: 100% 0; text-align: left; }
.RadTabStripRight_Vision .rtsUL .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_Vision .rtsUL .rtsSelected,
.RadTabStripRight_Vision .rtsUL .rtsSelected:hover { background-position: 100% -400px; }

/* </orientation: right> */

/* </background positioning: tabs with hovers> */

/* <simplistic sub-item styles> */








.RadTabStrip_Vision_SimpleSubItems .rtsLevel2  { background: black; }
.RadTabStrip_Vision_SimpleSubItems .rtsLevel3  { background: #fff; }
.RadTabStrip_Vision_SimpleSubItems .rtsLevel4 { background: #fff; }

.RadTabStrip_Vision_SimpleSubItems .rtsLevel2 .rtsLink,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel3 .rtsLink,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel4 .rtsLink
{
	color: #000;
}

.RadTabStrip_Vision_SimpleSubItems .rtsLevel2 .rtsLink:hover,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel3 .rtsLink:hover,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel4 .rtsLink:hover
{
	color: #0f3789;
}

.RadTabStrip_Vision_SimpleSubItems .rtsLevel2 .rtsSelected,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel3 .rtsSelected,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel4 .rtsSelected
{
	text-decoration: underline;
	color: #0f3789;
}

.RadTabStrip_Vision_SimpleSubItems .rtsLevel2 .rtsLink,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel2 .rtsOut,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel2 .rtsIn,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel3 .rtsLink,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel3 .rtsOut,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel3 .rtsIn,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel4 .rtsLink,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel4 .rtsOut,
.RadTabStrip_Vision_SimpleSubItems .rtsLevel4 .rtsIn
{
	background: none;
}

/* </simplistic sub-item styles> */