/* <RadToolBar / Telerik> */

/* <tool wrapper> */

/* <horizontal> */

.RadToolBar_Vision .rtbOuter
{
	/*border: 1px thin #b0b3b8;*/
}

.RadToolBar_Vision .rtbMiddle
{
	/*border: 1px solid #b0b3b8;*/
	background: #fff url('ToolBar/toolbarBgH.png') repeat-x 0 0 ;
	/*background: #e4edf8 url('ToolBar/rtbControlBg.png') repeat-x 0 0;*/
}

/* </horizontal> */

/* <vertical> */

.RadToolBar_Vision_Vertical .rtbMiddle
{
	/*background: #fff url('ToolBar/rtbVerticalControlBg.png') repeat-y 0 0;*/
}

/* </vertical> */

/* </tool wrapper> */

/* <buttons> */

.RadToolBar_Vision .rtbWrap /*these are the buttons*/
{
	color: #1e395b ;
	font: normal 12px/20px "Segoe UI", Arial, sans-serif ;
}

.RadToolBar_Vision .rtbTemplate
{
	color: #1e395b ;
	font: normal 12px/20px "Segoe UI", Arial, sans-serif ;
}

/* <button states> */

.RadToolBar_Vision .rtbSplBtnFocused .rtbWrap, .RadToolBar_Vision .rtbSplBtnFocused .rtbOut, .RadToolBar_Vision .rtbSplBtnFocused .rtbMid, .RadToolBar_Vision .rtbSplBtnFocused .rtbIn,
.RadToolBar_Vision .rtbItemFocused .rtbWrap, .RadToolBar_Vision .rtbItemFocused .rtbOut, .RadToolBar_Vision .rtbItemFocused .rtbMid, .RadToolBar_Vision .rtbItemFocused .rtbIn,
.RadToolBar_Vision .rtbItemHovered .rtbWrap, .RadToolBar_Vision .rtbItemHovered .rtbOut, .RadToolBar_Vision .rtbItemHovered .rtbMid, .RadToolBar_Vision .rtbItemHovered .rtbIn
{
	background-color: transparent ;
	background-repeat: no-repeat ;
	background-image: url('ToolBar/rtbHoverBg.png') ;
}

.RadToolBar_Vision .rtbSplBtnExpanded .rtbWrap, .RadToolBar_Vision .rtbSplBtnExpanded .rtbOut, .RadToolBar_Vision .rtbSplBtnExpanded .rtbMid, .RadToolBar_Vision .rtbSplBtnExpanded .rtbIn,
.RadToolBar_Vision .rtbDropDownExpanded .rtbWrap, .RadToolBar_Vision .rtbDropDownExpanded .rtbOut, .RadToolBar_Vision .rtbDropDownExpanded .rtbMid, .RadToolBar_Vision .rtbDropDownExpanded .rtbIn,
.RadToolBar_Vision .rtbChecked .rtbWrap, .RadToolBar_Vision .rtbChecked .rtbOut, .RadToolBar_Vision .rtbChecked .rtbMid, .RadToolBar_Vision .rtbChecked .rtbIn
{
	background-color: transparent ;
	background-repeat: no-repeat ;
	background-image: url('ToolBar/rtbActiveBg.png') ;
	
}

.RadToolBar_Vision .rtbItemClicked .rtbWrap, .RadToolBar_Vision .rtbItemClicked .rtbOut, .RadToolBar_Vision .rtbItemClicked .rtbMid, .RadToolBar_Vision .rtbItemClicked .rtbIn
{
	background-color: transparent ;
	background-repeat: no-repeat ;
	background-image: url('ToolBar/rtbActiveBg.png') ;
	
}

/* </button states> */

/* <Drop Down Arrows> */

/*this is the drop down arrow*/
.RadToolBar_Vision .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_Vision .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Vision .rtbChoiceArrow 
{
    /*background-color:#808080 ;*/
    
	background-image: url('ToolBar/DropArrow.gif') ;
	
}

.RadToolBar_Vision .rtbSplBtn .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Vision .rtbExpandUp .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbUpArrows.png') ;
}

.RadToolBar_Vision .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Vision .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_Vision .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Vision .rtbItemClicked .rtbChoiceArrow
{
	background-color: transparent ;
	background-repeat: no-repeat ;
	background-image: url('ToolBar/rtbClickedDropArrows.png') ;
}

.RadToolBar_Vision .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Vision .rtbItemClicked .rtbExpandUp .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedUpArrows.png') ;
}

/* </Drop Down Arrows> */

.RadToolBar_Vision_Horizontal li.rtbSeparator 
{
	border-left: 1px solid #d1dce9 ;
	background: #e7eef7 ;
}

.RadToolBar_Vision_Vertical li.rtbSeparator
{
	border-top: 1px solid #d1dce9 ;
	background: #e7eef7 ;
}

/* </buttons> */

/* <disabled states> */

.RadToolBar_Vision .rtbDisabled .rtbWrap:hover,
.RadToolBar_Vision .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_Vision .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_Vision .rtbDisabled .rtbWrap:hover .rtbIn
{
	background: none ;
}

.RadToolBar_Vision .rtbDisabled .rtbWrap { color: #8BA1AE ; }

@media screen and (-webkit-min-device-pixel-ratio:0)  /* WebKit alpha + opacity/cleartype bug, like IE wasn't enough... */
{
	.RadToolBar_Vision .rtbDisabled .rtbWrap { color: #8BA1AE ; }
}

/* </disabled states */

/* <drop-down> */

div.RadToolBarDropDown_Vision
{
	border-color: #a5b3c5 ;
	background-color: #fff ;
	background-image: url('ToolBar/rtbDropDownBg.png') ;
	background-position: -1px 0 ;
	
}

div.RadToolBarDropDown_Vision_rtl
{
	background-position: 101% 0 ;
	
}

.RadToolBarDropDown_Vision .rtbWrap,
.RadToolBarDropDown_Vision .rtbTemplate /*these is the dropdown items*/
{
	color: #000 ;
	font-weight: normal ;
	font-size: 12px ;
	font-family: "Segoe UI", Arial, sans-serif ;	
}

.RadToolBarDropDown_Vision .rtbItemHovered,
.RadToolBarDropDown_Vision .rtbItemFocused,
.RadToolBarDropDown_Vision .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_Vision .rtbItemFocused .rtbWrap
{
	color: #4c607a ;
	background-image: url('ToolBar/rtbDropDownHover.png') ;
}

.RadToolBarDropDown_Vision .rtbDisabled .rtbWrap
{
	color: #999 ;
}

.RadToolBarDropDown_Vision .rtbSeparator
{
	border-color: #e0e0e0 ;
	background: #fff ;
}

/* </drop-down> */

/* </RadToolBar / Telerik> */