/* RadToolTip Vision Skin */

.RadToolTip_Vision.rtLoading
{	
	background: url('ToolTip/Loading.gif') no-repeat center;
}

div.RadToolTip_Vision table.rtWrapper td.rtWrapperTopLeft,
div.RadToolTip_Vision table.rtWrapper td.rtWrapperTopRight,
div.RadToolTip_Vision table.rtWrapper td.rtWrapperBottomLeft,
div.RadToolTip_Vision table.rtWrapper td.rtWrapperBottomRight
{
	background-image: url('ToolTip/ToolTipSprites.gif');
}

div.RadToolTip_Vision table.rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_Vision table.rtWrapper td.rtWrapperBottomCenter
{
	background-image: url('ToolTip/ToolTipSprites.gif') ;
}

div.RadToolTip_Vision table.rtWrapper td.rtWrapperLeftMiddle,
div.RadToolTip_Vision table.rtWrapper td.rtWrapperRightMiddle
{
	background-image:  url('ToolTip/ToolTipVerticalSprites.gif');
}

div.RadToolTip_Vision table.rtWrapper td.rtWrapperContent
{
	background-color: #d7e3f2;	
	color: #272722;
}

div.RadToolTip_Vision div.rtTitlebar
{	
	color: #272722;
}

div.RadToolTip_Vision a.rtCloseButton
{
	background-image: url('ToolTip/ToolTipSprites.gif');
}

div.RadToolTip_Vision div.rtCallout
{
	background-image: url('ToolTip/Callouts.gif');
}