.RadTreeView_Vision,
.RadTreeView_Vision a.rtIn,
.RadTreeView_Vision .rtEdit .rtIn input
{
	color: #00156e;
	font: 12px/18px "Segoe UI", Arial, sans-serif;
}

.RadTreeView_Vision .rtPlus, 
.RadTreeView_Vision .rtMinus
{
	background-image: url('TreeView/PlusMinus.png');
}

.RadTreeView_Vision .rtChecked,
.RadTreeView_Vision .rtUnchecked,
.RadTreeView_Vision .rtIndeterminate
{
	background-image: url('TreeView/TriState.png');
}

.RadTreeView_Vision .rtHover .rtIn
{
	color: #000;
	border-color: #d8ca95 #b89f73 #c6ba9d;
	background-color: #fffde6;
	background-image: url('TreeView/ItemHoveredBg.png');
}

.RadTreeView_Vision .rtSelected .rtIn
{
	color: #000;
	border-color: #8f8267 #a79d87 #c3bdae;
	background-color: #f99631;
	background-image: url('TreeView/ItemSelectedBg.png');
}

.RadTreeView_Vision .rtSelected .rtLoadingBefore,
.RadTreeView_Vision .rtSelected .rtLoadingAfter,
.RadTreeView_Vision .rtSelected .rtLoadingBelow
{
	color: #333;
}

.RadTreeView .rtLI .rtEdit .rtIn
{
	border-color: #0f3789;
	background: #fff;
}

.RadTreeView_Vision_disabled .rtIn,
.RadTreeView_Vision .rtDisabled .rtIn
{
	color: #ccc;
}


/* <node lines> */

.RadTreeView_Vision .rtLines .rtLI,
.RadTreeView_Vision .rtLines .rtFirst .rtUL { background-image: url('../Common/TreeView/NodeSpan.png'); }
.RadTreeView_Vision_rtl .rtLines .rtLI,
.RadTreeView_Vision_rtl .rtLines .rtFirst .rtUL { background-image:url('../Common/TreeView/NodeSpan_rtl.png'); }

.RadTreeView_Vision .rtLines .rtFirst,
.RadTreeView_Vision .rtLines .rtFirst .rtUL { background-image: url('../Common/TreeView/FirstNodeSpan.png'); }
.RadTreeView_Vision_rtl .rtLines .rtFirst,
.RadTreeView_Vision_rtl .rtLines .rtFirst .rtUL { background-image: url('../Common/TreeView/FirstNodeSpan_rtl.png'); }
.RadTreeView_Vision .rtLines .rtLast,
.RadTreeView_Vision .rtLines .rtLast .rtUL { background-image: none; }

.RadTreeView_Vision .rtLines .rtTop { background-image:url('../Common/TreeView/TopLine.png'); }
.RadTreeView_Vision_rtl .rtLines .rtTop { background-image:url('../Common/TreeView/TopLine_rtl.png'); }
.RadTreeView_Vision .rtLines .rtMid { background-image:url('../Common/TreeView/MiddleLine.png'); }
.RadTreeView_Vision_rtl .rtLines .rtMid { background-image:url('../Common/TreeView/MiddleLine_rtl.png'); }
.RadTreeView_Vision .rtLines .rtBot { background-image:url('../Common/TreeView/BottomLine.png'); }
.RadTreeView_Vision_rtl .rtLines .rtBot { background-image: url('../Common/TreeView/BottomLine_rtl.png'); }
.RadTreeView_Vision .rtLines .rtLast .rtTop { background-image:url('../Common/TreeView/SingleLine.png'); }
.RadTreeView_Vision_rtl .rtLines .rtLast .rtTop { background-image:url('../Common/TreeView/SingleLine_rtl.png'); }

/* </node lines> */
