/* RadUpload / Vision skin */

/* <general styles> */

.RadUpload_Vision,
.RadUpload_Vision a,
.RadUpload_Vision input,
.RadUploadProgressArea_Vision,
.RadUploadProgressArea_Vision input
{
    font: normal 11px/10px "Segoe UI", Arial, sans-serif;
}

/* </general styles> */

/* <file inputs> */

.RadUpload_Vision .ruStyled .ruFileInput
{
    border-color: #abc1de;
}

.RadUpload_Vision input.ruFakeInput
{
    border-color: #abc1de;
    color: #000;
    background-image: url('Upload/ruSprite.png');
}
* html .RadUpload_Vision .ruFileWrap .ruInputHover { border-color: #7b91ae; }
*+html .RadUpload_Vision .ruFileWrap .ruInputHover { border-color: #7b91ae; }

.RadUpload_Vision .ruReadOnly .ruFakeInput
{
	background: #f3f3f3;
}

/* </file inputs> */

/* <buttons> */

.RadUpload_Vision .ruButton,
.RadUploadProgressArea_Vision .ruButton
{
    background-image: url('Upload/ruSprite.png');
    color: #0e2377;
}

.RadUpload_Vision .ruRemove
{
	color: #0e2377;
}

div.RadUpload_Vision .ruInputs .ruButtonHover,
div.RadUpload_Vision .ruActions .ruButtonHover,
div.RadUploadProgressArea_Vision .ruActions .ruButtonHover
{
    background-position: 100% -23px;
    color: #000;
}

div.RadUpload_Vision .ruFileWrap .ruButtonHover
{
    background-position: 100% 0;
    color: #000;
}

/* </buttons> */

/* <submit button> */
/* (use this class to style a single button for uploads) */

.RadUploadSubmit
{
    background-image: url('Upload/ruSprite.png');
    color: #000;
}

/* </submit button> */

/* <progress area> */

.RadUploadProgressArea_Vision .ruProgress
{
    border-color: #9ebfdb;
    background-image: url('Upload/ruSprite.png');
    background-color: #fff;
}

.RadUploadProgressArea_Vision .ruProgress li
{
    color: #3e69a3;
}

.RadUploadProgressArea_Vision .ruProgress li.ruCurrentFile
{
    color: #3e69a3;
}

.RadUploadProgressArea_Vision .ruProgress .ruBar
{
    border-color: #abc1de;
    background-image: url('Upload/ruSprite.png');
}
 
.RadUploadProgressArea_Vision .ruProgress .ruBar div
{
    background-image: url('Upload/ruProgress.gif');
    border-right: 1px solid #e99d4a;
}

.RadUploadProgressArea_Vision_rtl .ruProgress .ruBar div
{
    background-image: url('Upload/ruProgress.gif');
    border-right: 0;
    border-left: 1px solid #e99d4a;
}
 
.RadUploadProgressArea_Vision .ruProgress .ruActions
{
	border-top-color: #9ebfdb;
	background: #d6e6f4;
}

/* </progress area> */
