.RadWindow_Vision .rwTopLeft,
.RadWindow_Vision .rwTopRight,
.RadWindow_Vision .rwTitlebar,
.RadWindow_Vision .rwFooterLeft,
.RadWindow_Vision .rwFooterRight,
.RadWindow_Vision .rwFooterCenter,
.RadWindow_Vision .rwTopResize,
.RadWindow_Vision .rwStatusbar div,
.RadWindow_Vision .rwStatusbar,
.RadWindow_Vision .rwPopupButton,
.RadWindow_Vision .rwPopupButton span,
.RadWindow_Vision.rwMinimizedWindow .rwCorner
{
    background-image: url('Window/WindowHorizontalSprites.gif');
}

.RadWindow_Vision .rwBodyLeft,
.RadWindow_Vision .rwBodyRight,
.RadWindow_Vision .rwStatusbarRow .rwCorner
{
	background-image: url('Window/WindowVerticalSprites.gif');
}

.RadWindow_Vision .rwStatusbar input
{
    background-color: #f7f3e9;
}

.RadWindow_Vision .rwControlButtons
{
    margin-top: 0;
}

.RadWindow_Vision .rwControlButtons a
{
    background-image: url('Window/CommandButtonSprites.gif');
}

.RadWindow_Vision a.rwIcon
{
	background-image: url('Window/WindowHorizontalSprites.gif');
}

div.RadWindow_Vision .rwTitlebarControls em
{
	color: #00156e;
}

div.RadWindow_Vision .rwDialogInput
{
	border: solid 1px #abc1de;
}

div.RadWindow_Vision .rwDialogInput:hover
{
	border-color: #305090;
}

div.RadWindow_Vision td.rwLoading
{
    background-color: #fff;
}

div.RadWindow_Vision td.rwWindowContent
{
    background-color: #fff;
}

/* Loading Indicators */

/* When ShowContentDuringLoad="true" */
div.RadWindow_Vision td.rwWindowContent.rwLoading
{
    background-image: url('Common/loading.gif');
}

/* When ShowContentDuringLoad="false" */
div.RadWindow_Vision input.rwLoading
{
    background-image: url('Common/loading_small.gif');
}

div.RadWindow_Vision td.rwStatusbar
{
    background-position: 0 -370px;
    background-repeat: repeat-x;
}