﻿/* WRAPPER SETTINGS */

.radInput_Web20
{
	font: normal 18px  Arial, Verdana, Sans-Serif;	
	color: black;
	vertical-align: top;
}

.radInput_Web20 table
{
	width: 179px;
	border: 0;
	margin: 0;
	padding: 0;
}

.radInput_Web20 .inputCell 
{
	padding: 0 2px 0 0;
	*padding: 0 4px 0 0; /*IE hack*/	
}

.radInput_Web20 .inputCell input,
.radInput_Web20 .inputCell textarea
{	
	margin: 0;
}

.radInput_Web20 .imageCell,
.radInput_Web20 .spinImgCell
{	
	padding: 0 2px 2px 0;		
	outline: none;
}

/* SPIN BUTTONS */

.radInput_Web20 a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	top: 5px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;	
}

.radInput_Web20 a.spinbutton.up
{
	background-position: center 0;
}

.radInput_Web20 a.spinbutton.down
{
	background-position: center -9px;
}

.radInput_Web20 a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	top: 3px;
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;
}

/* END OF WRAPPER SETTINGS */



/* INPUT STYLES SETTINGS */
.radEnabledCss_Web20 
{
	width: 179px;
	color: #000;
	border: solid 1px #6788be;
	border-bottom-width: 2px;
	background-color: #fefefe;
}

.radHoverCss_Web20 
{
	width: 179px;
	color: #242424;
	border: solid 1px #a5bedf;
	border-bottom-width: 2px;
	background-color: #fefefe;
}

.radDisabledCss_Web20
{
	width: 179px;
	color: #ccc;
	border: solid 1px #6788be;
	border-bottom-width: 2px;
	background-color: #fefefe;
}

.radDisabledCss_Web20 a.gobutton,
.radDisabledCss_Web20 a.spinbutton
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity: .3; 
	-moz-opacity: .3;
	cursor: no-drop;
}

.radEmptyMessageCss_Web20
{
	width: 179px;
	color: #000000;
	border: solid 1px #6788be;
	border-bottom-width: 2px;
	background-color: #fefefe;
}


.radFocusedCss_Web20
{
	width: 179px;
	color: #000000;
	background-color: #fff;
	border: solid 1px #6788be;
	border-bottom-width: 2px;
}

.radNegativeCss_Web20
{
	width: 179px;
	border: solid 1px #6788be;
	border-bottom-width: 2px;
	background-color: #fefefe;
}

.radInvalidCss_Web20
{
	width: 179px;
	color: #f00;
	border: solid 1px #f00;
	border-bottom-width: 2px;
	background-color: #fefefe;
}

.radLabelCss_Web20
{
	color: #000; 
	padding-right: 5px; 
}

.radHint_Web20 
{
	background: infobackground;
	margin-top: 5px;
	border: solid 1px black;
	text-align: left;
	overflow: auto; 
}

.radHint_Web20 a,
.radHint_Web20 a:visited,
.radHint_Web20 a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}
