/* RadCalendar Default skin */

table.calendarWrapper_Default
{
	border: 1px solid #212121 !important;
	border-collapse:separate !important;
	background:#fff url(Img/headerBg.gif) repeat-x left top;
	width:200px;
}

.calendarWrapper_Default .titlebar_Default,
.calendarWrapper_Default .TableLayout_Default
{
	width: 100%;
}

.calendarWrapper_Default .titlebar_Default td
{
	padding: 9px 4px 8px;
	background:#3d3d3d url(Img/headerBg.gif) repeat-x left bottom;
	color:#fff;
	font:16px arial,sans-serif;
}

.calendarWrapper_Default .TableLayout_Default
{
	border:solid #fff;
	border-width:6px 13px 10px;
	border-collapse:separate !important;
	font:11px arial,sans-serif;
	text-align:right;
	cursor:default;
}

.calendarWrapper_Default .TableLayout_Default td
{
	border:0;
	padding:0;
	overflow:visible;
}

.calendarWrapper_Default .TableLayout_Default a,
.calendarWrapper_Default .TableLayout_Default td span
{
	display:block;
	height:13px;
	border:1px solid #fff;
	padding:3px 4px;
	text-decoration:none;
	text-align:center;
}

.calendarWrapper_Default .TableLayout_Default a
{
	color: #333;
}

.calendarWrapper_Default .TableLayout_Default .DaysOfWeek_Default
{
	padding-right:1px;
	text-align:center;
	font-weight:bold;
	color:#333;
}

th.DaysOfWeek_Default
{
	padding:2px 0 3px;
	background: transparent url("Img/weekdaysUnderline.gif") repeat-x left bottom;
}

.calendarWrapper_Default .TableLayout_Default .radCalHover_Default
{
	background:#d3d3d3;
}

.calendarWrapper_Default .TableLayout_Default .radCalHover_Default a
{
	border:1px solid #d3d3d3;
}

.calendarWrapper_Default .TableLayout_Default .radCalSelect_Default a
{
	border:1px solid #000;
	background:#e0e0e0;
}

.calendarWrapper_Default .TableLayout_Default .radCalToday_Default a
{
	border:1px solid #363636;
	background:#454545 url("Img/todayBg.gif") repeat-x 0 0;
	color:#fff;
}

.calendarWrapper_Default .otherMonth_Default a,
.calendarWrapper_Default .outOfRange_Default span
{
	color: #ccc;
}

/* fast navigation styles */
.MonthYearFastNav_Default
{
	border:1px solid #000;
	background:#fff;
	font:11px arial,sans-serif;
	color:#707070;
	cursor:default;
	border-collapse:collapse;
}

.MonthYearFastNav_Default #RadCalendar_FastNav_PrevYears,
.MonthYearFastNav_Default #RadCalendar_FastNav_NextYears
{
	text-align:center;
}

.MonthYearFastNav_Default td
{
	padding:3px 5px 3px 0;
	width:30px;
	text-align:right;
}

.MonthYearFastNav_Default td#RadCalendar_FastNav_Feb,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Apr,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Jun,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Aug,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Oct,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Dec
{
	border-right: 1px solid #ccc;
	padding-right: 6px;
	background: transparent url("Img/whitePixels.gif") repeat-y top right;
}

.MonthYearFastNav_Default .selected_Default
{
	background-color: #cdcdcd;
	color: #000;
}

.MonthYearFastNav_Default td#RadCalendar_FastNav_Feb.selected_Default,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Apr.selected_Default,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Jun.selected_Default,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Aug.selected_Default,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Oct.selected_Default,
.MonthYearFastNav_Default td#RadCalendar_FastNav_Dec.selected_Default
{
	background: #cdcdcd url("Img/whitePixels.gif") repeat-y top right;
}

.MonthYearFastNav_Default .bottom_Default
{
	background: #e3e3e3 none;
	padding: 8px 0 4px 8px;
	overflow: hidden;
	border: 0 !important;
}

*+html .MonthYearFastNav_Default .bottom_Default
{
	padding-left: 4px;
}

.MonthYearFastNav_Default .bottom_Default input
{
	height: 18px;
	background: #474747 url("Img/buttonBg.gif") repeat-x top left;
	border: 0;
	font: normal 10px/8px "Arial", sans-serif;
	color: #fff;
	padding: 0 2px;
	outline: 0;
	display: block;
	float: left;
	cursor: pointer;
	margin: 0;
}

#RadCalendar_FastNav_TodayButton
{
	margin-right: 12px;
}

* html #RadCalendar_FastNav_TodayButton
{
	margin-right: 8px;
}

#RadCalendar_FastNav_OkButton
{
	margin-right: 4px;
}

* html #RadCalendar_FastNav_OkButton
{
	margin-right: 2px;
}

.pickerWrapper_Default table
{
	vertical-align: bottom; 
}

.pickerWrapper_Default table,
.pickerWrapper_Default td
{
	border: 0;
	padding: 0;
	margin: 0;
}

.pickerWrapper_Default
{
	vertical-align: middle;
	height:22px;
}

.pickerWrapper_Default .radInput_Default
{
	vertical-align: baseline;
}

.pickerWrapper_Default .inputCell
{
	padding:0 2px;
	_padding:0 4px 0 2px;
}
*+html .pickerWrapper_Default .inputCell
{
	padding:0 4px 0 2px;
}

.pickerWrapper_Default td.inputCell
{
    padding:0 2px 0 0;
    _padding:0 4px 0 0;
}
*+html .pickerWrapper_Default td.inputCell
{
    padding:0 4px 0 0;
}

.radPopupImage_Default
{	
	position:relative;
	outline:none;
	_position:static;
}
*+html .radPopupImage_Default
{
	position:static;
}

.radPopupImage_Default img
{
	vertical-align:middle;
	margin:0 2px;
	border:0;	
}

*+html .radPopupImage_Default img
{
	margin-top:0;
}
