﻿.radTimeTableCss_Default caption
{
    display: none;
}

.radTimeTableCss_Default 
{
	cursor: default;
	background: white;
	font: normal 11px Arial, Verdana, Sans-serif;
	border: solid 1px #000;
}

.radTimeTableCss_Default td
{
	border: 0;
	margin: 0;
	padding: 0;
}

.radTimeTableCss_Default td+td
{
	padding: 0;
	border-left: 1px solid #b0b0b0;
}

.radHeaderCss_Default,
th.radTimeOverCss_Default
{
	color: #000;
	background: #e3e3e3;
	text-align: center;
	font-weight: normal;
	padding: 5px 0;
}

.radTimeTableCss_Default a
{
	display: block;
    text-align: right;
    text-decoration: none;
    cursor: hand;
	cursor: pointer;
	padding: 5px 8px 7px 2px
}

.radItemCss_Default a,
.radAlternatingItemCss_Default a
{
	color:#666;
}

.radTimeOverCss_Default a
{	
	background-color: #cdcdcd;
	color: #666;
}

.radFooterCss_Default
{
	color: #666;
	background: white url(Img/calendarWrapperBg.gif) left bottom repeat-x;
	padding-left: 8px !important;
	height: 18px;
}

.pickerWrapper_Default table
{
	vertical-align: bottom; 
}

.pickerWrapper_Default table,
.pickerWrapper_Default td
{
	border: 0;
	padding: 0;
	margin: 0;
}

.pickerWrapper_Default
{
	vertical-align: middle;
	height:22px;
}

.pickerWrapper_Default .radInput_Default
{
	vertical-align: baseline;
}

.pickerWrapper_Default .inputCell
{
	padding:0 2px;
	_padding:0 4px 0 2px;
}
*+html .pickerWrapper_Default .inputCell
{
	padding:0 4px 0 2px;
}

.pickerWrapper_Default td.inputCell
{
    padding:0 2px 0 0;
    _padding:0 4px 0 0;
}
*+html .pickerWrapper_Default td.inputCell
{
    padding:0 4px 0 0;
}

.radPopupImage_Default
{	
	position:relative;
	outline:none;
	_position:static;
}
*+html .radPopupImage_Default
{
	position:static;
}

.radPopupImage_Default img
{
	vertical-align:middle;
	margin:0 2px;
	border:0;	
}

*+html .radPopupImage_Default img
{
	margin-top:0;
}

.radDisabled_Default img
{
	 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;	
}