﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="InventoryCycle.ascx.cs" Inherits="BregVision.UserControls.InventoryCount.InventoryCycle" %>
<asp:DropDownList ID="cboInventoryCycle" runat="server" OnSelectedIndexChanged="cboInventoryCycle_SelectedIndexChanged" AutoPostBack="true">
</asp:DropDownList>