﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="InventoryCycleType.ascx.cs" Inherits="BregVision.UserControls.InventoryCount.InventoryCycleType" %>
<asp:DropDownList ID="cboInventoryCycleType" runat="server" OnSelectedIndexChanged="cboInventoryCycleType_SelectedIndexChanged" AutoPostBack="true">
</asp:DropDownList>
