/* RadToolBar default embedded skin */

.vista_radtoolbar_left,
.vista_radtoolbar_right
{
	width: 1px;
	background-color: #5d6873;
	height: 32px;
	overflow: hidden;
}

.vista_radtoolbar_top,
.vista_radtoolbar_bot
{
	height: 1px;
	background-color: #5d6873;
	width: 100%;
}

.vista_radtoolbar_horizontal
{
	background: transparent url("Img/toolbarBg.gif") repeat-x top left;
	height: 30px;
	font: bold 11px SegoeUI, Arial, sans-serif;
	color: #fff;
	padding: 0;
}

.vista_radtoolbar_vertical
{
	background: #0d5676 url("Img/toolbarBgVertical.gif") repeat-y top right;
	font: bold 11px SegoeUI, Arial, sans-serif;
	color: #fff;
}

.vista_radtoolbar_horizontal a /* e.g. custom links */
{
	font: normal 11px SegoeUI, Arial, sans-serif;
	color: #fff;
	text-decoration: none;
}

.vista_radtoolbar_horizontal,
.vista_radtoolbar_vertical
{
}

.vista_radbutton_normal,
.vista_radbutton_hover,
.vista_radbutton_mousedown,
.vista_radtbutton_normal,
.vista_radtbutton_hover,
.vista_radtbutton_mousedown,
.vista_radtbutton_toggled,
.vista_radtbutton_hover_toggled,
.vista_radtbutton_mousedown_toggled
{
	margin: 1px 0 0 1px;
	padding: 2px 6px 1px 0;
	overflow: visible !important;
	position: relative;
	cursor: pointer;
}

.vista_radbutton_text_normal,
.vista_radbutton_text_hover,
.vista_radbutton_text_mousedown,
.vista_radtbutton_text_toggled,
.vista_radtbutton_text_hover_toggled,
.vista_radtbutton_text_mousedown_toggled,
.vista_radtbutton_text_normal,
.vista_radtbutton_text_hover,
.vista_radtbutton_text_mousedown
{
	padding: 0 0 3px 0;
}

.vista_radtoolbar_vertical div
{
	margin-top: 0;
}

.vista_radbutton_normal img,
.vista_radbutton_text_normal img,
.vista_radbutton_hover img,
.vista_radbutton_text_hover img,
.vista_radbutton_mousedown img,
.vista_radtbutton_normal img,
.vista_radtbutton_hover img,
.vista_radtbutton_mousedown img,
.vista_radtbutton_toggled img,
.vista_radtbutton_hover_toggled img,
.vista_radtbutton_mousedown_toggled img,
.vista_radbutton_text_mousedown img,
.vista_radtbutton_text_toggled img,
.vista_radtbutton_text_hover_toggled img,
.vista_radtbutton_text_mousedown_toggled img,
.vista_radtbutton_text_normal img,
.vista_radtbutton_text_hover img,
.vista_radtbutton_text_mousedown img
{
	left: 0;
	top: 0;
	padding: 2px 3px 3px 3px;
	position: absolute;
}

.vista_radbutton_hover,
.vista_radbutton_text_hover,
.vista_radtbutton_hover,
.vista_radtbutton_hover_toggled,
.vista_radtbutton_text_hover,
.vista_radtbutton_text_hover_toggled
{
	background: transparent url("Img/toolbarButtonOver.gif") no-repeat top left;
}

.vista_radbutton_hover img,
.vista_radbutton_text_hover img,
.vista_radtbutton_hover img,
.vista_radtbutton_hover_toggled img,
.vista_radtbutton_text_hover img,
.vista_radtbutton_text_hover_toggled img
{
	background: transparent url("Img/toolbarBgHover.gif") no-repeat top left;
}

.vista_radbutton_mousedown,
.vista_radbutton_text_mousedown,
.vista_radtbutton_mousedown,
.vista_radtbutton_toggled
{
}

.vista_radtbutton_text_mousedown,
.vista_radtbutton_text_toggled
{
	background: transparent url("Img/toolbarBgSelected.gif") no-repeat top right;
}

.vista_radbutton_mousedown img,
.vista_radbutton_text_mousedown img,
.vista_radtbutton_mousedown img,
.vista_radtbutton_toggled img,
.vista_radtbutton_text_mousedown img,
.vista_radtbutton_text_toggled img
{
	background: transparent url("Img/toolbarBgSelected.gif") no-repeat top left;
}

.vista_radbutton_text_normal,
.vista_radbutton_text_hover,
.vista_radbutton_text_mousedown,
.vista_radtbutton_text_toggled,
.vista_radtbutton_text_hover_toggled,
.vista_radtbutton_text_mousedown_toggled,
.vista_radtbutton_text_normal,
.vista_radtbutton_text_hover,
.vista_radtbutton_text_mousedown
{
	margin: 2px 0 0 1px;
	text-align: left !important;
	width: auto !important;
}

.vista_radbutton_text_normal img,
.vista_radbutton_text_hover img,
.vista_radbutton_text_mousedown img,
.vista_radtbutton_text_toggled img,
.vista_radtbutton_text_hover_toggled img,
.vista_radtbutton_text_mousedown_toggled img,
.vista_radtbutton_text_normal img,
.vista_radtbutton_text_hover img,
.vista_radtbutton_text_mousedown img
{
	z-index: 2;
	float: left;
	display: block;
	position: relative;
}

.vista_radbutton_text_normal span,
.vista_radbutton_text_hover span,
.vista_radbutton_text_mousedown span,
.vista_radtbutton_text_toggled span,
.vista_radtbutton_text_hover_toggled span,
.vista_radtbutton_text_mousedown_toggled span,
.vista_radtbutton_text_normal span,
.vista_radtbutton_text_hover span,
.vista_radtbutton_text_mousedown span
{
	padding: 2px 4px 2px 3px !important;
	position: relative;
	height: 23px;
	float: left;
	display: block;
	font: bold 11px/23px SegoeUI, Arial, sans-serif;
	z-index: 3;
	text-indent: 5px;
	margin-left: -5px;
	cursor: pointer;
}

.vista_radbutton_text_hover span,
.vista_radtbutton_text_hover span,
.vista_radtbutton_text_hover_toggled span
{
	background: transparent url("Img/toolbarBgRightOver.gif") no-repeat top right;
}

.vista_radbutton_text_mousedown span,
.vista_radtbutton_text_toggled span,
.vista_radtbutton_text_mousedown_toggled span,
.vista_radtbutton_text_mousedown span
{
	background: transparent url("Img/toolbarBgRightSelected.gif") no-repeat top right;
	color: #fff;
}

.vista_radseparator_h
{
	border-left: 1px solid #4f768d;
	width: 1px;
	background-color: #35708f;
	height: 20px;
	line-height: 0;
	margin: 0 1px;
	filter: alpha(opacity='70'); 
	opacity: 0.7;
}

.vista_radseparator_v
{
	border-left: 1px solid #4f768d;
	height: 1px;
	overflow: hidden;
	background-color: #35708f;
	margin: 0 auto;
	width: 90%;
	line-height: 1px;
}

.vista_radbutton_disabled
{
	filter: alpha(opacity='40'); 
	opacity: 0.4;
}