/* Telerik RadCalendar Default2006 skin */

table.calendarWrapper_Default2006
{
	background: #fff url(Img/calendarWrapperBg.gif) repeat-x;
	cursor: default;
	border: solid 1px #e5e5e5;
	border-bottom:0;	
	filter: progid:DXImageTransform.Microsoft.dropShadow(Color=e5e5e5,offX=2,offY=2,positive=true);	
}

.TableLayout_Default2006
{
	width: 100%;		
}

.TableLayout_Default2006 td
{
	border-bottom: solid 1px #dfdfdf;
	width: 20px;
	font: normal 11px Arial, Verdana, Sans-serf;	
}

.TableLayout_Default2006 td a
{
	text-align: center;
	height: 13px;
	padding: 1px;
	display: block;
	text-decoration: none;
	color: #000;
	cursor: default;	
}

.DaysOfWeek_Default2006
{
	color: #666666;
	text-align: center;
	text-transform: uppercase;
	height: 17px;
	border-bottom: solid 1px #dfdfdf;
	background: url('Img/titlebarBg.gif');
}

.otherMonth_Default2006 span
{
	color: #d1d1d1 !important;
	text-align: center !important;
	height: 13px;
}

.otherMonth_Default2006 a
{
	color: #d1d1d1 !important;
	text-align: center !important;
	height: 13px;
}

.outOfRange_Default2006 span
{
	background: #fff;
	color: #d1d1d1;
	padding: 1px;
	display: block;
	width: 100%;
	text-align: center !important;
	height: 13px;
	margin: 1px;
}

.titlebar_Default2006
{
	font: bold 11px Arial, Verdana, Sans-serf;
	height: 20px !important;
	border-bottom: solid 1px #bbb !important;
	width: 100%;
	color: #666;
}

.MonthYearFastNav_Default2006
{
	border: solid 1px #e5e5e5;
	font: normal 10px Arial, Verdana, Sans-serf;
	background: #fff;	
	cursor: default;
	border-bottom:0;
	filter: progid:DXImageTransform.Microsoft.dropShadow(Color=e5e5e5,offX=2,offY=2,positive=true);
	color: #000;
	border-collapse: collapse;
}

.MonthYearFastNav_Default2006 td
{
	vertical-align: middle;	
}

.MonthYearFastNav_Default2006 td.selected_Default2006
{
	background: #909090;
	border: solid 1px #909090;
	color: white !important;
	text-align: center;
}

.MonthYearFastNav_Default2006 td input
{
	background: transparent url(Img/MonthYearFastNavBtnBg.gif) repeat-x;
	border: solid 1px #000;
	font: normal 10px Arial, Verdana, Sans-serf;
	color: #000000;
	float: left;
	width: auto;
	margin-right: 1px;
}

.radCalHover_Default2006,
.radCalWeekendHover_Default2006
{
	background: #e4e4e4;
}

.radCalHover_Default2006 a,
.radCalWeekendHover_Default2006 a
{
	height: 13px;
	display: block;
}

.radCalDefault_Default2006 a,
.radCalWeekendDefault_Default2006 a
{
	height: 13px;
	text-decoration: none;
	color: #363636;
}

.radCalToday_Default2006 a
{
	background: #fff;
	border: solid 1px #909090;
}

.radCalTodaySelected_Default2006 a
{
	background: #909090;
	color: white !important;
}

.radCalTodaySelected_Default2006
{
	background: #909090 !important;
	color: white !important;
}

.radCalSelect_Default2006 a,
.radCalWeekendSelect_Default2006 a
{
	background: #909090;
	width: 100% !important;
	color: white !important;
	text-align: center !important;
}

.radCalSelect_Default2006,
.radCalWeekendSelect_Default2006
{
	background: #909090 !important;
	color: white !important;
}

.radPopupImage_Default2006
{	
	position: relative; 
	*position: inherit; /*IE fix*/
	outline: none;
}

.radPopupImage_Default2006 img
{
	vertical-align: middle;
	_vertical-align: top; /* IE fix */	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: -1px; /* IE margins fix */
	_margin-top: 0px; 
	border-width: 0px;	
}

.radDisabled_Default2006 img
{
	 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.radTemplateDay_Default2006
{	
}

.pickerWrapper_Default2006
{	
}