﻿.radTimeTableCss_Default2006 caption
{
    display: none;
}

.radTimeTableCss_Default2006 
{
	cursor: default;
	background: white;
	font: normal 11px Arial, Verdana, Sans-serif;
	border: solid 1px #e5e5e5;
	filter: progid:DXImageTransform.Microsoft.dropShadow(Color=e5e5e5,offX=2,offY=2,positive=true);
}

.radTimeTableCss_Default2006 td
{
	padding: 0px;
}

.radHeaderCss_Default2006
{
	color: #666;
	background: #fff url(Img/calendarWrapperBg.gif) left bottom repeat-x;
	text-align: center;
}

.radTimeTableCss_Default2006 a
{
	display: block;
    text-align: center;
    text-decoration: none;
    cursor: hand;
	cursor: pointer;
	padding: 5px;
}

.radItemCss_Default2006 a,
.radAlternatingItemCss_Default2006 a
{
	color:#666;
	background: #f7f7f7; 
	border: solid 1px white;
}

.radTimeOverCss_Default2006 a
{	
	color: #333;
	background: white url(Img/calendarWrapperBg.gif) left bottom repeat-x;
	border: solid 1px #e5e5e5;
}

.radFooterCss_Default2006
{
	color: #666;
	background: white url(Img/calendarWrapperBg.gif) left bottom repeat-x;
	padding-left: 8px !important;
	height: 18px;
}

.radPopupImage_Default2006 img
{
	vertical-align: middle;
	_vertical-align: top; /* IE fix */	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: -1px; /* IE margins fix */
	_margin-top: 0px; 
	border-width: 0px;
}

.radDisabled_Default2006 img
{
	 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}