/* WRAPPER SETTINGS */

.radInput_Telerik
{
	font-family: Arial, Verdana, Tahoma, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
}

.radInput_Telerik table
{
	width: 179px;
	border: 0;
	margin: 0;
	padding: 0;
}

.radInput_Telerik .inputCell 
{
	padding: 0 2px 0 0;	
	*padding: 0 4px 0 0; /*IE hack*/	
}

.radInput_Telerik .inputCell input,
.radInput_Telerik .inputCell textarea
{	
	margin: 0;
}

.radInput_Telerik .imageCell,
.radInput_Telerik .spinImgCell
{
	padding: 2px 2px 0 0;
}

/* SPIN BUTTONS */

.radInput_Telerik a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	top: 2px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;	
}

.radInput_Telerik a.spinbutton.up
{
	background-position: center 0;
}

.radInput_Telerik a.spinbutton.down
{
	background-position: center -9px;
}

.radInput_Telerik a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;
}
/* END OF WRAPPER SETTINGS */



/* INPUT STYLES SETTINGS */
.radEnabledCss_Telerik 
{
	width: 179px;
	color: #666;
	border: solid 1px #e7e7e7; 
	background-color: #fff;
	color: #000000;
}

.radHoverCss_Telerik 
{
	width: 179px;
	color: #000;
	border: solid 1px #d6d6d6;
	background-color: #fff;	
}

.radDisabledCss_Telerik
{
	width: 179px;
	color: #ccc;
	border: solid 1px #e4e4e4; 
	background-color: #e3e3e3;
}

.radDisabledCss_Telerik a.gobutton,
.radDisabledCss_Telerik a.spinbutton
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity: .3; 
	-moz-opacity: .3;
	cursor: no-drop;
}

.radEmptyMessageCss_Telerik
{
	width: 179px;
	color: #000;
	border: solid 1px #d6d6d6;
	background-color: #fff;	
}


.radFocusedCss_Telerik
{
	width: 179px;
	color: #000;
	border: solid 1px #d6d6d6;
	background-color: #fff;	
}

.radNegativeCss_Telerik
{
	width: 179px;
	color:  #ff9900;
	border: solid 1px #e7e7e7; 
	background-color: #fff;	
}

.radInvalidCss_Telerik
{
	width: 179px;
	color: #f00;
	border: solid 1px #e7e7e7; 
	background: #f4f3e7 url('Img/error-sign.gif') no-repeat center right;
}

.radLabelCss_Telerik
{
	color: #000000; 
	padding-right: 5px; 	
}

.radHint_Telerik 
{
	background: infobackground;
	margin-top: 5px;
	border: solid 1px black;
	text-align: left;
	overflow: auto; 
}

.radHint_Telerik a,
.radHint_Telerik a:visited,
.radHint_Telerik a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}
