/* WRAPPER SETTINGS */

.radInput_Windows
{
	color: #242424;
	font-family: Arial, Verdana, Tahoma, Sans-Serif;
	font-size: 12px;
	font-weight: normal;	
	vertical-align: top;
	*padding-bottom: 4px; /*IE hack*/	
}

.radInput_Windows table
{
	width: 179px;	
	border: 0;
	margin: 0;
	padding: 0;
}

.radInput_Windows .inputCell 
{
	padding: 0 4px 0 0;	
	*padding: 0 6px 0 0; /*IE hack*/		
}

.radInput_Windows .inputCell input,
.radInput_Windows .inputCell textarea
{	
	margin: 0;
}

.radInput_Windows .imageCell
{
	padding-left: 2px;
}

.radInput_Windows .spinImgCell
{
	padding-left: 2px;
}

/* SPIN BUTTONS */

.radInput_Windows a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	top: 2px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;	
}

.radInput_Windows a.spinbutton.up
{
	background-position: center 0;
}

.radInput_Windows a.spinbutton.down
{
	background-position: center -9px;
}

.radInput_Windows a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;
}


/* END OF WRAPPER SETTINGS */



/* INPUT STYLES SETTINGS */
.radEnabledCss_Windows 
{
	width: 179px;
	color: #899aa2;
	background-color: #fff;
}

.radHoverCss_Windows 
{
	width: 179px;
	color: #899aa2;
	background-color: #fff;
}

.radDisabledCss_Windows
{
	width: 179px;
	background-color: #ccc;
	color: #424242;
}

.radDisabledCss_Windows a.gobutton,
.radDisabledCss_Windows a.spinbutton
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity: .3; 
	-moz-opacity: .3;
	cursor: no-drop;
}

.radEmptyMessageCss_Windows
{
	width: 179px;
	color: #424242;
	background: #fff;
}


.radFocusedCss_Windows
{
	width: 179px;
	color: #424242;
	background-color: #fff;
}

.radNegativeCss_Windows
{
	width: 179px;
	color: red;
	border: solid 1px #afbec5;
	background: #f7f8f9;
}

.radInvalidCss_Windows
{
	width: 179px;
	color: red;
	background-color: #f5f5f5;
}

.radLabelCss_Windows
{
	color: #b7b7b7; 
	font-size: 10px; 
	padding-right: 5px;
}

.radHint_Windows 
{
	background: infobackground;
	margin-top: 5px;
	border: solid 1px black;
	text-align: left;
	overflow: auto; 
}

.radHint_Windows a,
.radHint_Windows a:visited,
.radHint_Windows a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}
