﻿.radTimeTableCss_Vista caption
{
    display: none;
}

.radTimeTableCss_Vista 
{
	cursor:default;
	background:#fff;
	font:normal 11px "segoe ui", arial, verdana, sans-serif;
	border:solid 1px #979797;
	border-collapse:collapse;
	empty-cells:show;
}

.radTimeTableCss_Vista td
{
	padding:0;
	margin:0;
}

.radHeaderCss_Vista
{
	text-align:center;
	padding:7px 0;
}

.radTimeTableCss_Vista a
{
	display: block;
    text-align: center;
    text-decoration: none;
	cursor: pointer;
}

.radAlternatingItemCss_Vista
{
	/*border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;*/
}

.radItemCss_Vista a,
.radAlternatingItemCss_Vista a,
.radTimeOverCss_Vista a
{
	display:block;
	width:58px;
	height:20px;
	line-height:20px;
	margin-bottom:6px;
}

.radItemCss_Vista a,
.radAlternatingItemCss_Vista a
{
	color:#666;
}

.radTimeOverCss_Vista a
{	
	color: #0064cc;
	background:url(Img/radTimeOver.gif) no-repeat;
}

.radTimeTableCss_Vista .radFooterCss_Vista
{
	color: #666;
}

.radPopupImage_Vista img
{
	vertical-align: middle;
	_vertical-align: top; /* IE fix */	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: -1px; /* IE margins fix */
	_margin-top: 0px; 
	border-width: 0px;
}

.radDisabled_Vista img
{
	 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}