// Color variables (appears count calculates by raw css)
@color0:#ffffff;
// Appears 5 times
@color1:#dddddd;
// Appears 4 times
@color2:#888888;
// Appears 2 times
@color3:#ff3300;
// Appears 2 times
.RadAutoCompleteBox_Breg {
  line-height: 1.42857;
  .racTokenList {
    background-color: @color0;
    border-color: @color1;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555555;
    padding-right: 27px;
    &:hover {
      border-color: #c4c4c4;
    }
  }
  .racTokenList.racFocused {
    border-color: #ff471a;
    box-shadow: 0 0 8px rgba(255, 71, 26, 0.6);
  }
  .racTokenList.racDisabled {
    background-color: #eeeeee;
    border-color: @color1;
    color: @color2;
  }
  .racToken {
    background-color: @color3;
    border-color: #e62e00;
    border-radius: 4px;
    color: @color0;
    padding: 4px 8px;
    &:hover {
      background-color: #cc2900;
      border-color: #a82200;
      color: @color0;
    }
  }
  .racToken.racTokenSelected {
    outline-offset: -2px;
    outline: 1px dotted @color0;
  }
  .racTextToken {
    line-height: 28px;
    padding-bottom: 1px;
    padding-top: 1px;
  }
  .racInput {
    height: 2.14286em;
    line-height: 2.14286em;
  }
  .racEmptyMessage {
    color: @color2;
  }
  .racLoadingIcon {
    background-image: url("images/Common/loading_small.gif");
    bottom: 0.35714em;
    right: 5px;
  }
}
.RadAutoCompleteBoxPopup_Breg {
  background-color: @color0;
  border-color: @color1;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: #333333;
  line-height: 1.42857;
  margin-top: 3px;
  padding: 5px 0;
  .racShowAll {
    border-color: @color1;
    color: @color3;
    &:hover {
      color: #991e00;
    }
  }
  .racItem {
    padding: 3px 12px;
  }
  .racItemHovered {
    background-color: #fcfcfc;
    color: #000000;
  }
}