﻿.RadAutoCompleteBox_Breg {
  line-height: 1.42857;
}
.RadAutoCompleteBox_Breg .racTokenList {
  background-color: #ffffff;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555555;
  padding-right: 27px;
}
.RadAutoCompleteBox_Breg .racTokenList:hover {
  border-color: #c4c4c4;
}
.RadAutoCompleteBox_Breg .racTokenList.racFocused {
  border-color: #ff471a;
  box-shadow: 0 0 8px rgba(255, 71, 26, 0.6);
}
.RadAutoCompleteBox_Breg .racTokenList.racDisabled {
  background-color: #eeeeee;
  border-color: #dddddd;
  color: #888888;
}
.RadAutoCompleteBox_Breg .racToken {
  background-color: #ff3300;
  border-color: #e62e00;
  border-radius: 4px;
  color: #ffffff;
  padding: 4px 8px;
}
.RadAutoCompleteBox_Breg .racToken:hover {
  background-color: #cc2900;
  border-color: #a82200;
  color: #ffffff;
}
.RadAutoCompleteBox_Breg .racToken.racTokenSelected {
  outline-offset: -2px;
  outline: 1px dotted #ffffff;
}
.RadAutoCompleteBox_Breg .racTextToken {
  line-height: 28px;
  padding-bottom: 1px;
  padding-top: 1px;
}
.RadAutoCompleteBox_Breg .racInput {
  height: 2.14286em;
  line-height: 2.14286em;
}
.RadAutoCompleteBox_Breg .racEmptyMessage {
  color: #888888;
}
.RadAutoCompleteBox_Breg .racLoadingIcon {
  background-image: url("images/Common/loading_small.gif");
  bottom: 0.35714em;
  right: 5px;
}
.RadAutoCompleteBoxPopup_Breg {
  background-color: #ffffff;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: #333333;
  line-height: 1.42857;
  margin-top: 3px;
  padding: 5px 0;
}
.RadAutoCompleteBoxPopup_Breg .racShowAll {
  border-color: #dddddd;
  color: #ff3300;
}
.RadAutoCompleteBoxPopup_Breg .racShowAll:hover {
  color: #991e00;
}
.RadAutoCompleteBoxPopup_Breg .racItem {
  padding: 3px 12px;
}
.RadAutoCompleteBoxPopup_Breg .racItemHovered {
  background-color: #fcfcfc;
  color: #000000;
}