﻿@navbar-padding: 5px;
@navbar-padding-height: 2 * @navbar-padding;

@siteNavbar-height-total: 65px;
@siteNavbar-height: @siteNavbar-height-total - @navbar-padding-height;

@welcomeBar-height-total: 60px;
@welcomeBar-height: @welcomeBar-height-total - @navbar-padding-height;

@welcomeBar-shadow-height: 6px;

@subWelcomeBar-height-total: 45px;
@subWelcomeBar-height: @subWelcomeBar-height-total - @navbar-padding-height;

@totalHeader-height: @siteNavbar-height-total + @welcomeBar-height-total + @subWelcomeBar-height-total;

/* TEXT */
.font-styling {
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  .font-styling;
  overflow: hidden;

  > form {
    overflow: hidden;
  }

  &.iFrame {
    overflow-y: auto;
  }
}

a {
  text-decoration: none;
  color: #ff3300;
  &:hover,
  &:focus {
    color: #cc2900;
    outline:none !important;
  }
  &[disabled] {
    color: #333;
  }
}

.textRight {
  text-align: right;
}

.textLeft{
    text-align: left;
}

p, div, input, button, a, select, option {
  .font-styling;
}

h1, h2, h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 24px !important;
  font-weight: 900 !important;
}

h2 {
  font-size: 20px !important;
  font-weight: 500;
}

h3 {
  font-size: 17px;
}

.riLabel {
  margin-right: 5px;
}

.no-wrap {
  white-space: nowrap;
}

.light {
  font-weight: 200;
}

.strong {
  font-weight: 500;
}

.x-strong {
  font-weight: 900;
}

.text-gray {
  color: #aaa;
}

.text-large {
  font-size: larger;
}

.text-separator::before {
  content: '\2022';
  margin: 0 5px;
  font-weight: 200;
  color: gray;
}

.SuccessMsg:not(:empty) {
  margin: 0 5px;
  display: table-cell;
  font-weight: bold;
  vertical-align:middle;
  padding-bottom: 10px;
  &:before {
    font-size:28px !important;
    padding-right:3px;
    .material-icons;
    content: '\e5ca';
    vertical-align:middle;
  }
}

.WarningMsg:not(:empty) {
  margin: 0 5px;
  display: table-cell;
  font-weight: bold;
  vertical-align:middle;
  padding-bottom: 10px;
  &:before {
    font-size:28px !important;
    padding-right:3px;
    .material-icons;
    content: '\E002';
    vertical-align:middle;
  }
}

.WarningMsgReplacement:not(:empty) {
  margin: 0 5px;
  display: table-cell;
  font-weight: bold;
  vertical-align:middle;
  padding-bottom: 10px;
  color: red;
  &:before {
    font-size:28px !important;
    padding-right:3px;
    .material-icons;
    content: '\E002';
    vertical-align:middle;
  }
}

.WarningMsgReplacementText:not(:empty) {
  margin: 0 5px;
  display: table-cell;
  font-weight: bold;
  vertical-align:middle;
  padding-bottom: 10px;
  color: red;
  &:before {
    font-size:28px !important;
    padding-right:3px;
    .material-icons;
    content: '\E002';
    vertical-align:middle;
  }
}

.ErrorMsg:not(:empty) {
  margin: 0 5px;
  display: table-cell;
  font-weight: bold;
  vertical-align:middle;
  padding-bottom: 10px;
  color: #EF4023;
  &:before {
    font-size:28px !important;
    padding-right:3px;
    .material-icons;
    content: '\E001';
    vertical-align:middle;
    
  }
}

/* POSITIONING */
.no-padding-top {
  padding-top: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.display-none {
  display:none;
}

table.hide-tfoot tfoot {
  display:none !important;
}

/* LAYOUT */
.main-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.section {
  margin-bottom: 20px;
  width: 100%;

  > h2,
  > .flex-row h2 {
    padding: 20px 0;
    margin: 0;
  }
}

.tabContent-container {
  overflow: hidden;
  height: calc(~'100vh - 120px');
}

.subTabContent-container {
  overflow-y: auto;
  overflow-x: auto;
  height: calc(~'100vh - 170px');

  > .flex-row:NOT(.flex-full) {
    height: 100%;

    > .flex-column {
      height: 100%;

      > div:first-child:last-child {
        height: 100%;
      }
    }
  }

  > .flex-row.flex-full {
    align-items: flex-start;
    height: 100%;
  }
}

.flex-row .help-icon {
  display: inline-block;
}

.flex-full-height {
  height: calc(~'100vh - 230px');
}


#ctl00_MainContent_grdSummary2 {
  height: calc(~'100vh - 240px');
  overflow-y: hidden;
}

#ctl00_MainContent_grdSummary2_GridData {
  height: calc(~'100vh - 315px') !important;
  > table > tbody > tr > td {
    &:first-child {
      line-height: 34px;
      z-index: 99;
    }
    &:nth-child(2) input {
      margin-top:2px;
      .hide{
          display:none;
      }
    }
    td:last-child {
      padding-right:5px;
    }
    &:nth-child(-n+2){
        vertical-align: middle !important;
    }
  }
  .rgDetailTable {
      tfoot, thead{
          display:none;
      }
      .rgSelectedRow > td{
          background-color: #ffffff !important;
      }
  } 
}
 
.subTabContent-container {
    RadGrid_WebBlue .rgNumPart a:hover,
    .RadGrid_WebBlue .rgNumPart a:hover span,
    .RadGrid_WebBlue .rgNumPart a.rgCurrentPage span{
        background: none;
    }
    .RadGrid_WebBlue .rgNumPart a.rgCurrentPage{
        background-color: #ff3300;
        background-image:none;
    }
}

#RAD_SPLITTER_PANE_CONTENT_ctl00_MainContent_paneDispenseQueue {
  overflow-y: hidden !important;
}

#ctl00_MainContent_grdSummary2_GridHeader th.rgHeader {
  padding-bottom: 0;
  height: 17.5px !important;
}

/*#ctl00_MainContent_splitterDispense, 
#RAD_SPLITTER_ctl00_MainContent_splitterDispense {
  width:100% !important;
}*/

.subSubTab-container {
  height: calc(~'100vh - 254px');
}

.subSubTabContent-container {
  overflow-y: auto;
  width: calc(~'100% - 40px');
  margin: 0 10px;
  align-items: stretch;
  flex-direction: column;
  .subSubTab-container;

  > div {
    width: 99%;
  }
}

.layout-padding {
  padding: 10px !important;
}

.content,
.layout-margin {
  margin: 20px 1%;
}

.content {
  width: 98%;
  max-width: 98%;
}

.rspPane,
.rspPane > div {
  overflow-x: hidden !important;
}

/* SITE NAVBAR (logo, cart, user) */
.site-navbar {
  padding: @navbar-padding;
  height: @siteNavbar-height;
  max-height: @siteNavbar-height;

  > div {
    flex: 1 1 50%;
  }
}

.addToCart-container > * {
  display: inline-block !important;
}

.siteHelp-button {
  margin-left: -40px;
}

.site-navbar-actions > div:first-child:last-child {
  float:right;
}

/* WELCOME BAR (location drop-down, main tabs) */
.welcome-bar {
  padding: @navbar-padding;
  background-color: #eeeeee !important;
  height: @welcomeBar-height;
  max-height: @welcomeBar-height;
  z-index: 1000;

  &:after {
    content: '';
    box-shadow: rgba(10, 10, 10, 0.3) 0 6px 5px 0;
    width: 100%;
    position: fixed;
    height: @welcomeBar-shadow-height;
    left: 0;
    top: @totalHeader-height - @welcomeBar-shadow-height;
    z-index: 999;
  }
}

.practice-location {
  -js-display: flex;
  display: flex;

  input {
    font-size: 25.5px;
  }

  span {
    -js-display: flex;
    display: flex;
  }

  span.light {
    font-size: 24px;
    display:inline;
  }
}

.actions-bar,
.actions-bar > div:NOT(.search-container, .RadToolBar) {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.actions-bar {
  height: 55px;

  h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  > div {
    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
}

.actions-bar-last-child-left {
    height: 55px;

    h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    > div {
        &:first-child {
            justify-content: flex-start;
        }

        &:last-child {
            justify-content: flex-start;
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
    }
}
.flex-no-space-between-children{
    justify-content:flex-start !important;
}

.calculate-par-levels-row {
    > div, input {
        justify-content:flex-start !important;
        margin-right: 5px;
        margin-left: 5px;
    }
}



/* SUB-WELCOME BAR (page title, page-specific sub-tabs) */
.subWelcome-bar {
  padding: @navbar-padding;
  padding-left: 10px;
  background-color: #f8f8f8 !important;
  height: @subWelcomeBar-height;
  max-height: @subWelcomeBar-height;
}

/* LEFT TAB MENU */

.left-menu-tabs {

    position: fixed;
    height: calc(~'100vh - 170px');

  background-color: #F5F5F5;
  margin-right: 20px;

  h2 {
    margin-top: 10px;
  }

  .rtsLI {
    margin:0 !important;
  }

  .rtsTxt {
    display: block;
    text-align: left;
    margin-bottom: 20px;
  }

  .rtsLink, .rtsIn {
    padding-left: 0 !important;
  }

  + div .content {
    margin-top: 4px;
    margin-right: 30px;

    .actions-bar,
    > .flex-row {
      width: 100%;

      h2 {
        flex: 0 1 auto;
        white-space: nowrap;
      }
    }
  }
}

/* FLEX */
.flex {
  -js-display: flex;
  display: flex;
}

.flex-grow {
  /*flex: 1 0 100%;*/
  width: 100%;

  > div {
    flex: 1 0 100%;
  }
}

.flex-auto {
  flex: 1 1 auto;
}

.fifth {
  max-width: 19%;
  width: 19%;
  margin-right: 1%;

  &:last-child {
    margin-right: 0;
  }

}

.flex-33 {
  flex: 0 1 33%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-full {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 100%;
  align-items: center;

  > * {
    -js-display: flex;
    display: flex;
  }

  > table,
  > table td {
    border-width: 0;
    position: relative;
  }
}

.flexRow {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.flexRowCenter {
  .flexRow;
  align-items: center;
}

.flexRowCenterJustify {
  .flexRow;
  justify-content: center;
}

.flex-row {
  .flexRowCenter;
  justify-content: space-between;

  > div:not(.flex-column, .search-container, .RadToolBar) {
    margin-right: 1%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.flex-row-start {
  .flexRowCenter;
  justify-content: flex-start;
}

.flex-row-stretch {
  .flexRowCenter;
  align-items: stretch;
}

.flex-row-end {
  .flexRowCenter;
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center !important;
}

.flex-row-align-start {
  .flexRow;
  .align-start;
}

.flex-row-align-end {
  .flexRow;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-row > h1 {
  margin: 0;
}

.flexColumn {
  -js-display: flex;
  display: flex;
  flex-direction: column;
}

.flex-column {
  .flexColumn;
}

.flex-column-start {
  .flexColumn;
  align-items: flex-start;
}

.justify-spaceAround {
  justify-content: space-around !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.align-self-center {
  align-self: center !important;
}

/*MATERIAL ICONS*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.help-icon {
  display: block;
  width: 15px;
  margin: 0 2px;
  &:hover {
    cursor:pointer;
  }
}

.RadButton_Breg.rbToggleButton {
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 2.5px;
  margin-right: 3px;

  + .FieldLabel {
    margin-bottom: 0;
  }
}

.RadButton_Breg .rbToggleCheckboxChecked.rbPrimaryIcon {
  top: 0 !important;
  margin: 0 !important;
  left: 0 !important;
  position: relative !important;
}

.rbToggleCheckboxChecked::after {
  .material-icons;
  content: '\E876';
  color: #fff;
  margin: 0 !important;
  top: 0;
  left: 0;
  font-size: 15px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  border-style: solid;
  outline: none;
}

#ctl00_ctlSiteHelp_txtHelpSearch_wrapper {
  width: 250px !important;
}

#ctl00_ctlSiteHelp_txtHelpSearch_text {
  padding-right: 30px !important;
}

#ctl00_cbxChangeLocation,
#ctl00_cbxChangeLocation *,
#ctl00_ctl00_cbxChangeLocation,
#ctl00_ctl00_cbxChangeLocation *,
#ctl00_ctl00_ctl00_cbxChangeLocation_Input,
#ctl00_ctl00_ctl00_cbxChangeLocation_Input * {
  width: auto !important;
}

#ctl00_ctlMainMenu_divNavigateLabel,
#ctl00_ctl00_ctlMainMenu_divNavigateLabel {
  margin-left: 0 !important;
}

#ctl00_ctlMainMenu_MainRadTabStrip,
#ctlMainMenu_MainRadTabStrip,
.RadTabStripTop_Breg {
  .rtsUL {
    justify-content: flex-end;
  }
}

#ctl00_ctl00_ctl00_MainContent_ctlPracticeMenu_PracticeAdminTabStrip,
#ctl00_ctl00_MainContent_ctlPracticeMenu_PracticeAdminTabStrip {
  .rtsLI {
    margin-right: 10px;
  }
}

.location-static #lblLocation {
  font-size: 25.5px;
  font-weight: 200 !important;
  margin:auto;
}

.RadGrid_Breg .MasterTable_Breg .SelectedRow_Breg > td,
.RadGrid_Breg .MasterTable_Breg .BlueRow_Office2007 > td,
.RadGrid_Breg .MasterTable_Breg .YellowRow_Office2007 > td,
.RadGrid_Breg .MasterTable_Breg .RedRow_Office2007 > td {
  color: #333333;
}

.RadGrid_Breg .MasterTable_Breg .BlueRow_Office2007,
.RadGrid_Breg .MasterTable_Breg .YellowRow_Office2007,
.RadGrid_Breg .MasterTable_Breg .RedRow_Office2007 {
  background-color: transparent !important;
}

.recordsDisplayed {
  .RadInput {
    width: auto !important;

    .riCell {
      width: 60px !important;
      max-width: 60px;
    }

    input[type="text"] {
      width: 50px !important;
      max-width: 50px;
    }
  }
}
/* home - search dropdown */
#ctl00_MainContent_RadToolbar1_rttbSearchFilter_ctl00_cboSearchFilter_wrapper {
  height: 28px !important;
}

#ctl00_MainContent_RadToolbar1_rttbSearchFilter_ctl00_cboSearchFilter {
  height: 27px !important;
  padding: 5px 6px;
}

/*.RadGrid .rgRow td .DispenseQueueTable td,
.RadGrid .rgAltRow td .DispenseQueueTable td {
  padding: 2px;
  vertical-align: top;
  position: relative;
}

.DispenseQueueTable td {
  max-width: 10px !important;
  position: relative;
  text-align: center;
}

#ctl00_MainContent_grdSummary2_ctl00_Header > thead > tr > th:nth-child(-n+5) {
  width: 18.5px !important;
  max-width: 18.5px !important;
  position: relative;
}

#ctl00_MainContent_grdSummary2_ctl00_Header > thead > tr > th {
  max-width: 30px !important;
}

#ctl00_MainContent_grdSummary2_ctl00 > tbody > tr > td:nth-child(-n+5) {
  width: 30px !important;
  max-width: 30px !important;
}

#ctl00_MainContent_grdSummary2_ctl00 > tbody > tr > td {
  text-align: left;
}

.DispenseQueue-Master > table > tbody > tr td {
  position: relative;
  width: 15px !important;
  max-width: 15px !important;
  vertical-align: top;
  text-align: center;

  > input[type="text"] {
    max-width: 87.5%;
  }
}*/

.rgRow > td,
.rgAltRow > td {
  position: relative;
}

/*.DispenseQueue-Master > table > tbody tr.rgGroupHeader td:nth-child(2) {
  text-align: left;
}*/

td > select {
  max-width: 97.5%;
  width: 97.5% !important;
}

/*.rcCalPopup {
  width: 2px !important;
  padding: 2px !Important;
  background-color: #37AAF1 !important;
}*/



.riCell > input {
  width: 80% !important;
  max-width: 80% !important;
}

/*.rdfd_, #ctl00_MainContent_grdSummary2_ctl00_ctl08_txtDateDispensed {
  display: none !important;
}

.patientDetails-btn {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 4px !important;
}

#ctl00_MainContent_grdSummary2_ctl00 > tbody > tr.rgGroupHeader > td:nth-child(2) > div {
  width: auto !important;
  height: auto !important;
  position: inherit !important;

  > div {
    position: relative !important;
    top: auto !important;
    padding: inherit !important;
  }
}*/

.legend {
  > div,
  > div span {
    display:inline-block;
  }
  .priorityIcon {
    margin-left:20px;
  }
}

td > .RadInput_Breg + img {
  position: absolute;
  top: 24px;
  right: 0;
}

.rcbSlide {
  z-index: 999999 !important;
}

span.priorityIcon {
  display: block;
  height: 15px;
  width: 15px;
}

.priority-1 span.priorityIcon {
  background-color: #EF4023; /*Critical*/
}

.priority-2 span.priorityIcon {
  background-color: #EDBC2B; /*Reorder*/
}

.shoppingCart span.priorityIcon {
  background-color: #1FCA23; /*In Cart*/
}

.priority-3 span.priorityIcon {
  background-color: #275E8E; /*On Order*/
}

.priority-split{
    width: 0;
    height: 0; 
    border-top: 16px solid transparent; 
    border-right: 16px solid #00cc00; 
}

.preAuthorization {
  /*color: #ff0000;*/
  font-style: italic;
}

.subTabContent-container .flex-column .adminPage{
    width: 100%;
}
.AdminPageTitle span {
  font-size: 16px;
  font-weight: 500;
}

table#OuterTable,
table#OuterTable td,
table#OuterTable table {
  border-width: 0px;
  border-color: white;
}

span.FieldLabel {
  font-size: .85em;
  margin-bottom: 2px;
  display: block;
  color: #777;

  &.FieldLabelLeft {
    display: inline;
    max-width: 90px;
  }
}

.FieldLabel {
  width: calc(~'100% - 14px') !important;
  white-space: nowrap;
}

.FieldLabelSelect {
  width: 100% !important;
  max-width: 100% !important;
  padding: 4px;
}

td > span.RadInput {
  width: 100%;
}

.rdfd_ {
  margin: 0 !important;
  display: none !important;
}

.admin-form {
  .flexColumn;

  > div {
    .admin-form-element;
    > div {
      margin-right:5px;
      &:last-child {
        margin-right:0;
      }
    }
  }

}

.left-menu-tabs + div {
    width: calc(~'100vw - 210px');
    margin-left: 210px;
    overflow-x:auto;
  > div > div:NOT(.no-max-width) {
    input {
        max-width:100% !important;
    }
    select{
      min-height:27px;
    }
      .help-icon {
    display:inline;
  }
  }
}

.admin-form-element {
  height: 60px;
  width: 100%;

  .help-icon {
    display: inline-block;
  }
}

.table-4col-even td {
  width: 25%;
  position: relative;

  input:NOT([type="checkbox"]) {
    .flex-grow() !important;
  }

  div.RadComboBox + img {
    position: absolute;
    right: 0;
    top: 45%;
  }
}

#ctl00_MainContent_grdItemsforReorder_ctl01 > tfoot > tr > td > a {
  margin-left: -.25em;
}

.justify-end {
  justify-content: flex-end !important;
}

.rtbItem .rcbReadOnly {
  line-height: 25px !important;
}

input[type="checkbox"] + label {
  white-space: nowrap;
  font-size: .9em;
  line-height: 1.1;
}


/*.DispenseQueueRow {
  display:block;
  width:100%

}
table.rgMasterTable#ctl00_MainContent_grdSummary2_ctl00 {
  display:block;
  tr {
    display:flex;
    flex-direction:row;
    tr {
      flex-direction:column;
    }
  }
> tbody td {
  flex: 1 1 40px;
    width:40px !important;
    max-width:40px !important;
    display:inline;
    td, td input {
      display:block;
      width:100% !important;
           max-width:100% !important;
    }
    &:nth-child(3) {
      display:flex;
      flex-direction:column;
      flex-grow: 3;
          width: 300px !important;
    max-width: 300px !important;
    height: auto;
    }
  }
}*/

#ctl00_ctl00_ctl00_ctlMainMenu_divNavigateLabel,
#ctlMainMenu_divNavigateLabel {
  display: none !important;
  margin: 0 !important;
}

.third > select {
  width: calc(~'100% - 14px');
}

.rgEditForm {
  > table > tbody > tr > td {
   border: 5px solid transparent;
    >input {
      width: calc(~'100% - 14px') !important;
      max-width:none;
    }
    >textarea{
      width: calc(~'100% - 14px') !important;
      max-width:none;
    }
    &:nth-child(odd) {
      font-size:.9em;
      font-weight:500;
      color:#888;
      text-align:right;
      padding-left:4px;
      width:30px;
    }
    .half {
      text-align:right;
    }
  }

  .customFormRow {
      text-align:left;
      padding: 5px;
      border-right: 1px solid #CCCCCC;
  }
}

.rgEditForm .customBraceForm{
  > table > tbody > tr > td {
    &:nth-child(odd) {
      text-align:left;

    }
    .half {
      text-align:left;
    }
  }
}


.DispenseModificationTable {
  width:100%;
  td {
    width:8.75%;
    vertical-align:top;
    small {
       line-height:1;
       white-space:nowrap;
    }   
    &:nth-child(-n+8),
    &:nth-last-child(-n+5) {
      width:5%;
    }
  }
}

#ctl00_MainContent_grdSummary2_ctl00_Header {
      th:first-child {
      text-align:center;
    }
}

#ctl00_MainContent_pnlTransfer {
  .ComboBox_Breg {
    display:block !important;
    > input {
      line-height:25px;
    }
  }
}

#ctl00_MainContent_cbxTransferToLocation_DropDown {
  height:auto !important;
}

.sideSizeGender {
  width:100%;
  tr {
    td:first-child {
      text-align:left;
    }
    td:last-child {
      text-align:right;
    }
  }
}

#ctl00_MainContent_grdSummary2_ctl00 {
  h3 {
    justify-content: space-between;
    margin-bottom: 0;
  }
  > thead {
    background-color: #B7B7B7;
  }

  > tbody > tr > td:nth-child(-n+2) {
    vertical-align: top;
    text-align:center;
    background-color: #ffffff;
  }
}
.DispenseQueueTable {
  width:100%;
  margin-top:5px;
  > tbody > tr > td {
    height: 32px !important;
  }
}

.block{
    display:block;
}

.Dropdown-Report{
    margin-right: 5px;
    max-width: 200px;
}
.DispenseQueueTable,
.admin-editUser table {

  > tbody > tr > td {
    background-color: rgba(255, 255, 255, 0.75);
    position:relative;
    > .RadPicker {
      width:100% !important;
    }
    > input:NOT([type="checkbox"]),
    > span > input:NOT([type="checkbox"]) {
      width: calc(~'100% - 14px');
      position:relative;
      &[type="text"] + input[type="button"] {
        position:absolute;
        right:0;
        top:1px;
      }
    }
  }

  td {
    border-width: 0 !important;

    .help-icon {
      display: inline;
    }

    .RadComboBox_Breg.dropdown-input {
      width: calc(~'100% - 14px') !important;
    }

    > textarea {
      width: calc(~'100% - 14px') !important;
      min-height: 15px;
    }

    .rcbInputCell {
      position:relative;
      .rcbInput {
        position:absolute;
        left:5px;
        top:0;
        height: 100% !important;
        width: calc(~'100% - 40px');
        color:rgb(84, 84, 84);
      }
    }

    > span.RadInput {
      width: 100% !important;
      position: relative;

      > input {
        width: calc(~'100% - 14px') !important;
      }

      > input.rdfd_ {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }

    span.validation-error-message[style*="inline"] {
        display:block !important;
    }
  }
}

.DispenseQueueTable .icd9code .rcbInput {
    position: inherit !important;
    float: left;
}

.DispenseQueueTable {
  td:first-child {
      width: 30%;
      font-size: .9em;
      text-align:right;
      padding-right:5px;
      color:#888;
    }
}

input[type="checkbox"] + label {
  margin-left: 5px;
}

input[type="button"][value="..."] {
  max-width: 35px !important;
}

.RadPicker table.rcTable,
.RadInput table {
  tr {
    position: relative;
  }

  td {
    /*display:inline-block;*/
    padding: 0 !important;
    background-color: transparent !important;
    border-width: 0 !important;

    &.rcInputCell,
    &.riCell {
      width: calc(~'92.5% - 20px') !important;
    }

    width: 20px;
  }
}

#ctl00_MainContent_grdSummary2_GridHeader {
  padding-right: 0 !important;
}

.DispenseQueueRow td .RadComboBox_Breg > table > tbody > tr > td.rcbInputCell.rcbInputCellLeft {
  width: 95.5% !important;
}

.DispenseQueueRow td > .RadComboBox_Breg {
  width: auto !important;
}

.dq-column {
  max-width: 510px;
}

.riCell > input.records-per-page {
  width: 23px !important;
}





.rcCalPopup::before {
  content: "...";
  position: absolute;
  height: 10px;
  width: 10px;
  color: white;
  /* background-color: yellow; */
  display: block;
  top: 7.5px;
  font-size: 10px;
  line-height: 1;
}

.rcTitlebar td a {
  height: 100%;
  vertical-align: middle;
  display: table-cell;

  img {
    vertical-align: middle;
  }
}

.RadCalendar .rcWeek {
  th {
    text-align: center !important;
    border-bottom: 1px solid #CCCCCC !important;
  }
}

.RadPicker table.rcTable td:last-child {
  width: 28px !important;
  position: absolute;
  right: 0;
  top: 2px;
}

html body .RadPicker table.rcTable .RadInput .riTextBox {
  width: calc(~'100% - 14px') !important;
}

.RadToolBar .RadPicker {
  max-width: 120px !important;
}

.RadToolBar_Horizontal .rtbSeparator {
  height: 35px !important;
  width: 1px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-color: #CCC;
  margin: 0 10px;
}

.subWelcome-bar {
  > h1 {
    flex: 1 1 10%;
    align-items: flex-start;
    white-space: nowrap;
  }

  > div:nth-child(2):NOT(:last-child) {
    flex: 1 1 30%;
    -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

    a > div, > img {
      display: inline-block !important;
    }
  }

  > div:last-child {
    flex: 2 1 60%;
    justify-content: flex-end;

    .rtsLevel {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .rtsIn {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}

.admin-editUser { 
  width:95%;
  margin:0 auto;
  .RadComboBox_Breg {
    display: inline-block;
  }
  td:not(.rcbInputCell) {
    padding-bottom:10px;
    white-space: nowrap;
    background-color: #fff !important;
    border-bottom-color: transparent !important;

    .layout-margin {
      margin-top: 0;
    }

    .rcbInputCell {
      // max-width:250px;
    }

    .help-icon {
      display: inline-block;
    }
  }

}

/*REPORTS*/

#ctlPracticeReports_ReportViewerUpdatePanel {
  flex: 1 1 100%;
}

#ParametersRowctlPracticeReports_ReportViewer1 table {
  background-color: #eee !important;

  select,
  input[type="image"] {
    height: 25px !important;
  }

  td {
    padding: 2.5px !important;
    background-color: #eee !important;
  }

  td > span,
  select,
  input {
    font-size: 11px !important;
  }

  select {
    width: 100% !important;
  }

  input[type="text"]:first-child:last-child {
    width: calc(~'100% - 12px') !important;
  }
}

#ctlPracticeReports_ReportViewer1_ToggleParam {
  background-color: #DDDDDD !important;
}

#ctlPracticeReports_ReportViewer1_fixedTable td[colspan="3"] > div > div {
  background-color: #eee !important;

  > * {
    background-color: transparent;
  }
}

#ctl00_ctl00_ctl00_MainContent_MainContent_MainContent_ctl00_ctl00_ctl00_MainContent_MainContent_MainContent_ctlPracticeLocationDispensementModifications_grdPracticeCatalogPanel {
  width:100%;
}

#ctlPracticeReports_ReportViewerUpdatePanel {
  td > span,
  select,
  input,
  a, div {
    font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif !important;
  }
  div {
    margin-bottom: 10px;
  }
}

.home-search-container {
  > div {
    height: 30px;
    margin: 6.5px;
  }
}

tr[isparameterrow="true"] > td > div > div {
  display: table-cell !important;

  > input {
    vertical-align: middle !important;
  }
}


.CheckboxList {
  list-style: none;
  padding-left: 25px;

  li {
    margin-bottom: 10px;

    input {
      margin-left: -25px;
    }
  }

  span {
    margin-top: -2px;
  }
}


.buttons-container {
  text-align:right;
  margin-bottom:10px;
}
/* patient schedule popup grid */
#grdPatientSchedule_ctl00 {
  tbody tr:hover td {
    background-color: rgba(255, 51, 0, 0.14);
    cursor:pointer;
  }
}

.half {
  width:48%;
  display:inline-block;
  position:relative;
  &:last-child {
    margin-left: .85%;
  }
}

.three-quarters{
    width:75%;
    margin: 2px;
}

.half > input {
    width:calc(~'98% - 12px');
}

.third {
  width:32%;
  display:inline-block;
  position:relative;
  &:NOT(:first-child) {
    margin-left: .85%;
  }
}

#ctl00_MainContent_grdSummary2 

.subTabContent-container > .flex-row:NOT(.flex-full) {
  overflow:hidden;
}

.rspCollapseBarExpand {
  background-image: url('images/Common/arrowRight.png');
  background-color:black;
}

.rspCollapseBarCollapse {
  background-image: url('images/Common/arrowLeft.png');
  background-color:black;
}

.rspCollapseBarSpacer {
  background-image: url('images/Common/resize.png');
}

.rspCollapseBarExpand,
.rspCollapseBarCollapse,
.rspCollapseBarSpacer {
  background-position:center center;
  background-repeat:no-repeat;
}

#ctl00_MainContent_splitterDispense {
  position:relative;
  > div {
    position:relative;
  }
}

table#RAD_SPLITTER_ctl00_MainContent_splitterDispense {
    max-width: 100% !important;
}

.pull-right {
  float:right;
}

.pull-left{
    float:left;
}

/* check in - search POs toolbar (taller)*/
#ctl00_MainContent_ctlSearchPOs_ctlSearchPOsToolbar_rtbToolbar .rtbUL {
  margin-top:-10px;
  height:45px;
  .rtbSeparator {
    margin-top:10px;
  }
}

.Dropdown-Container .abnFlag{
    border: 1px solid #ff3300 !important;
}

.Dropdown-Container .hide{
    display: none;
}

#spnChangeLocation .RadComboBox {
  width:auto !important;
  input{
    padding-right: 30px !important;
  }
}



.comma-list span:not(:empty):not(:first-child) {
  &::before {
    content: ', ';
  }
}

.subTabContent-container .alignLeft{
    text-align: left;
}

.queueIcon{
    width:30px;
    padding: 0 5px 0 0;
    float:right;
}

.customBraceSearch{
    width: 150px;
}