﻿    .ie {
    #ctl00_MainContent_pnlTransfer .ComboBox_Breg{
        display: inline !important;
    }

    .admin-page .flex-grow, .invoice .flex-grow{
        display: table !important;
        position: relative !important;
    }

    #ctl00_MainContent_cbxTransferToLocation_Input{
        height:24px !important;
    }
}

.ie9, .ie10 {

  .flex-row {
    display: table !important;
    position: relative;

    > * {
      display: inline-block;
    }
  }

  .flex-grow {
    display: table !important;
    position: relative;
  }

  .rcbSlide > iframe { 
      display: none !important;
  }
  .RadComboBox{
      .rcbSlide > iframe {
          display: none !important;
      }
  }
  .site-navbar, .welcome-bar, .subWelcome-bar, .actions-bar, .section > .flex-row {
    width: 100%;
  }

  .welcome-bar, .subWelcome-bar, .actions-bar, .practice-location {
    display: table !important;
  }

  .welcome-bar > div:first-child {
    margin-top: 10px;
  }

  .welcome-bar > div:last-child {
    margin-top: -25px;
  }

  .subWelcome-bar {
    margin-right: 25px;
    position: relative;

    .help-icon {
      margin-top: 7.5px;
      margin-bottom: 7.5px;
    }

    > div:last-child {
      position: absolute;
      top: 5px;
      right: 0;
    }
  }

  .subWelcome-bar > div:not(.flex-row), .actions-bar > div, .site-navbar-actions > div {
    display: table-cell !important;
    vertical-align: middle;
  }

  .subWelcome-bar h1 {
    display: inline-block;
    float: left;
    height: 25px;
    width: 25%;
  }

  .subWelcome-bar > .flex-row {
    display: block;
  }

  .subWelcome-bar .rtsLink {
    line-height: 35px !important;
  }

  .subWelcome-bar > div:first-child {
    display: table;
    height: 100%;

    > .RadTabStrip {
      height: 100%;
    }
  }

  .subWelcome-bar > div > * {
    float: left;
    display: block;
  }

  .site-navbar-actions {
    margin-right: 30px;
    position: relative;
    display: block;
    height: 30px;

    > div.flex-row {
      margin-left: 10px;

      > * {
        float: left;
        top: 0;
        margin-right: 3px;
      }

      span, a {
        height: 30px;
        line-height: 30px;
      }
    }
  }

  .practice-location > h1 {
    float: left;
  }

  .addToCart-container, .flex-row > div:last-child, .RadTabStrip_Breg.rtsHorizontal {
    float: right;
  }

  .addToCart-container {
    right: 10px;
    position: absolute;
    top: 17.5px;
  }

  .actions-bar > div:last-child {
    display: table !important;

    .help-icon {
      margin-top: 7.5px;
      margin-bottom: 7.5px;
    }
  }

  .actions-bar > div:last-child > * {
    display: table-cell !important;
    float: left;
  }

  .RadToolTip .rtCloseIcon:before {
    text-indent: -0.75em;
    margin: .03571429em 0 0 .64285714em;
  }

  .rspCollapseBarSpacer {
    border-width: 0 !important;
  }
  /*@media \0screen {
    .RadToolTip .rtCloseIcon:before {
      text-align: center;
    }
  }*/
  .subTabContent-container > div.flex-row {
    display: block !important;
    width: 100%;
  }

  .search-container {
    > * {
      display: block;
      float: left;
    }

    > div {
      height: 45px;

      &:last-child {
        float: left;
      }
    }

    .help-icon {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .practice-location span.light {
    margin-top: -5px;
  }

  select::-ms-expand {
    display: none;
  }

  script {
    display: none !important;
  }

  #ctlPracticeReports_ReportActionsUpdatePanel h1 {
    max-width: 40px;
  }

  #ctlPracticeReports_ReportActionsUpdatePanel .Dropdown-Container select {
    max-width: 430px;
  }

  #spnChangeLocation > div {
    width: 200px !important;
  }

  .flex-row.child-float-left > div:last-child {
    float: left !important;
  }
}


/*FIREFOX*/
.ff {
  @-moz-document url-prefix() {
    select {
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
    }
  }

  body .search-po-datepicker .RadPicker table.rcTable .RadInput .riTextBox {
    width: calc(~'100% - 50px') !important;
  }

  .search-po-datepicker .RadPicker table.rcTable td:last-child {
    right: 35px !important;
  }
    .RadComboBox{
          .rcbArrowCellRight {
              display: block !important;
              visibility: visible;
              color: transparent;
          }
          .rcbArrowCellRight > a{
              color: transparent;
          }
      }

    .admin-editUser .RadComboBox_Breg {
        width: 200px;
        table .rcbReadOnly .rcbInputCell .rcbInput{
            position: relative;
            width: 100%;
        }

    }     
}

/*SAFARI*/
.saf{
    .admin-page .flex-grow, .invoice .flex-grow{
        display: table !important;
        position: relative !important;
        .search-container > div .RadToolBar_Breg .rtbUL{
            width: 450px;
        }
    }

    .bar-code .flex-grow{
        display: table !important;
        position: relative !important;
        width: 45%;
    }

    .invoice{
        width: 500px;
    }
}
