﻿.ie #ctl00_MainContent_pnlTransfer .ComboBox_Breg {
  display: inline !important;
}
.ie .admin-page .flex-grow,
.ie .invoice .flex-grow {
  display: table !important;
  position: relative !important;
}
.ie #ctl00_MainContent_cbxTransferToLocation_Input {
  height: 24px !important;
}
.ie9,
.ie10 {
  /*@media \0screen {
    .RadToolTip .rtCloseIcon:before {
      text-align: center;
    }
  }*/
}
.ie9 .flex-row,
.ie10 .flex-row {
  display: table !important;
  position: relative;
}
.ie9 .flex-row > *,
.ie10 .flex-row > * {
  display: inline-block;
}
.ie9 .flex-grow,
.ie10 .flex-grow {
  display: table !important;
  position: relative;
}
.ie9 .rcbSlide > iframe,
.ie10 .rcbSlide > iframe {
  display: none !important;
}
.ie9 .RadComboBox .rcbSlide > iframe,
.ie10 .RadComboBox .rcbSlide > iframe {
  display: none !important;
}
.ie9 .site-navbar,
.ie10 .site-navbar,
.ie9 .welcome-bar,
.ie10 .welcome-bar,
.ie9 .subWelcome-bar,
.ie10 .subWelcome-bar,
.ie9 .actions-bar,
.ie10 .actions-bar,
.ie9 .section > .flex-row,
.ie10 .section > .flex-row {
  width: 100%;
}
.ie9 .welcome-bar,
.ie10 .welcome-bar,
.ie9 .subWelcome-bar,
.ie10 .subWelcome-bar,
.ie9 .actions-bar,
.ie10 .actions-bar,
.ie9 .practice-location,
.ie10 .practice-location {
  display: table !important;
}
.ie9 .welcome-bar > div:first-child,
.ie10 .welcome-bar > div:first-child {
  margin-top: 10px;
}
.ie9 .welcome-bar > div:last-child,
.ie10 .welcome-bar > div:last-child {
  margin-top: -25px;
}
.ie9 .subWelcome-bar,
.ie10 .subWelcome-bar {
  margin-right: 25px;
  position: relative;
}
.ie9 .subWelcome-bar .help-icon,
.ie10 .subWelcome-bar .help-icon {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.ie9 .subWelcome-bar > div:last-child,
.ie10 .subWelcome-bar > div:last-child {
  position: absolute;
  top: 5px;
  right: 0;
}
.ie9 .subWelcome-bar > div:not(.flex-row),
.ie10 .subWelcome-bar > div:not(.flex-row),
.ie9 .actions-bar > div,
.ie10 .actions-bar > div,
.ie9 .site-navbar-actions > div,
.ie10 .site-navbar-actions > div {
  display: table-cell !important;
  vertical-align: middle;
}
.ie9 .subWelcome-bar h1,
.ie10 .subWelcome-bar h1 {
  display: inline-block;
  float: left;
  height: 25px;
  width: 25%;
}
.ie9 .subWelcome-bar > .flex-row,
.ie10 .subWelcome-bar > .flex-row {
  display: block;
}
.ie9 .subWelcome-bar .rtsLink,
.ie10 .subWelcome-bar .rtsLink {
  line-height: 35px !important;
}
.ie9 .subWelcome-bar > div:first-child,
.ie10 .subWelcome-bar > div:first-child {
  display: table;
  height: 100%;
}
.ie9 .subWelcome-bar > div:first-child > .RadTabStrip,
.ie10 .subWelcome-bar > div:first-child > .RadTabStrip {
  height: 100%;
}
.ie9 .subWelcome-bar > div > *,
.ie10 .subWelcome-bar > div > * {
  float: left;
  display: block;
}
.ie9 .site-navbar-actions,
.ie10 .site-navbar-actions {
  margin-right: 30px;
  position: relative;
  display: block;
  height: 30px;
}
.ie9 .site-navbar-actions > div.flex-row,
.ie10 .site-navbar-actions > div.flex-row {
  margin-left: 10px;
}
.ie9 .site-navbar-actions > div.flex-row > *,
.ie10 .site-navbar-actions > div.flex-row > * {
  float: left;
  top: 0;
  margin-right: 3px;
}
.ie9 .site-navbar-actions > div.flex-row span,
.ie10 .site-navbar-actions > div.flex-row span,
.ie9 .site-navbar-actions > div.flex-row a,
.ie10 .site-navbar-actions > div.flex-row a {
  height: 30px;
  line-height: 30px;
}
.ie9 .practice-location > h1,
.ie10 .practice-location > h1 {
  float: left;
}
.ie9 .addToCart-container,
.ie10 .addToCart-container,
.ie9 .flex-row > div:last-child,
.ie10 .flex-row > div:last-child,
.ie9 .RadTabStrip_Breg.rtsHorizontal,
.ie10 .RadTabStrip_Breg.rtsHorizontal {
  float: right;
}
.ie9 .addToCart-container,
.ie10 .addToCart-container {
  right: 10px;
  position: absolute;
  top: 17.5px;
}
.ie9 .actions-bar > div:last-child,
.ie10 .actions-bar > div:last-child {
  display: table !important;
}
.ie9 .actions-bar > div:last-child .help-icon,
.ie10 .actions-bar > div:last-child .help-icon {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.ie9 .actions-bar > div:last-child > *,
.ie10 .actions-bar > div:last-child > * {
  display: table-cell !important;
  float: left;
}
.ie9 .RadToolTip .rtCloseIcon:before,
.ie10 .RadToolTip .rtCloseIcon:before {
  text-indent: -0.75em;
  margin: .03571429em 0 0 .64285714em;
}
.ie9 .rspCollapseBarSpacer,
.ie10 .rspCollapseBarSpacer {
  border-width: 0 !important;
}
.ie9 .subTabContent-container > div.flex-row,
.ie10 .subTabContent-container > div.flex-row {
  display: block !important;
  width: 100%;
}
.ie9 .search-container > *,
.ie10 .search-container > * {
  display: block;
  float: left;
}
.ie9 .search-container > div,
.ie10 .search-container > div {
  height: 45px;
}
.ie9 .search-container > div:last-child,
.ie10 .search-container > div:last-child {
  float: left;
}
.ie9 .search-container .help-icon,
.ie10 .search-container .help-icon {
  margin-top: 15px;
  margin-bottom: 15px;
}
.ie9 .practice-location span.light,
.ie10 .practice-location span.light {
  margin-top: -5px;
}
.ie9 select::-ms-expand,
.ie10 select::-ms-expand {
  display: none;
}
.ie9 script,
.ie10 script {
  display: none !important;
}
.ie9 #ctlPracticeReports_ReportActionsUpdatePanel h1,
.ie10 #ctlPracticeReports_ReportActionsUpdatePanel h1 {
  max-width: 40px;
}
.ie9 #ctlPracticeReports_ReportActionsUpdatePanel .Dropdown-Container select,
.ie10 #ctlPracticeReports_ReportActionsUpdatePanel .Dropdown-Container select {
  max-width: 430px;
}
.ie9 #spnChangeLocation > div,
.ie10 #spnChangeLocation > div {
  width: 200px !important;
}
.ie9 .flex-row.child-float-left > div:last-child,
.ie10 .flex-row.child-float-left > div:last-child {
  float: left !important;
}
/*FIREFOX*/
@-moz-document url-prefix() {
  .ff select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }
}
.ff body .search-po-datepicker .RadPicker table.rcTable .RadInput .riTextBox {
  width: calc(100% - 50px) !important;
}
.ff .search-po-datepicker .RadPicker table.rcTable td:last-child {
  right: 35px !important;
}
.ff .RadComboBox .rcbArrowCellRight {
  display: block !important;
  visibility: visible;
  color: transparent;
}
.ff .RadComboBox .rcbArrowCellRight > a {
  color: transparent;
}
.ff .admin-editUser .RadComboBox_Breg {
  width: 200px;
}
.ff .admin-editUser .RadComboBox_Breg table .rcbReadOnly .rcbInputCell .rcbInput {
  position: relative;
  width: 100%;
}
/*SAFARI*/
.saf .admin-page .flex-grow,
.saf .invoice .flex-grow {
  display: table !important;
  position: relative !important;
}
.saf .admin-page .flex-grow .search-container > div .RadToolBar_Breg .rtbUL,
.saf .invoice .flex-grow .search-container > div .RadToolBar_Breg .rtbUL {
  width: 450px;
}
.saf .bar-code .flex-grow {
  display: table !important;
  position: relative !important;
  width: 45%;
}
.saf .invoice {
  width: 500px;
}