﻿.button {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.button:focus,
.button:hover {
  cursor: pointer;
}
.btnSortClinicians {
  float: right;
  margin-top: -40px;
}
.button-hover {
  cursor: pointer;
}
.button-primary {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
.button-primary:focus,
.button-primary:hover {
  cursor: pointer;
}
.button-primary:focus,
.button-primary:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
.button-primary-colors {
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
.button-primary-colors-hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
.button-accent-colors {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
.button-accent-colors-hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
.button-accent {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
.button-accent:focus,
.button-accent:hover {
  cursor: pointer;
}
.button-accent:focus,
.button-accent:hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
.button-primary-container img,
.breg_radtbutton_normal,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"],
.breg_radtbutton_hover,
.breg_radtbutton_mousedown,
.breg_radtbutton_toggled {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
.button-primary-container img:focus,
.breg_radtbutton_normal:focus,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"]:focus,
.breg_radtbutton_hover:focus,
.breg_radtbutton_mousedown:focus,
.breg_radtbutton_toggled:focus,
.button-primary-container img:hover,
.breg_radtbutton_normal:hover,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"]:hover,
.breg_radtbutton_hover:hover,
.breg_radtbutton_mousedown:hover,
.breg_radtbutton_toggled:hover {
  cursor: pointer;
}
.button-primary-container img:focus,
.breg_radtbutton_normal:focus,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"]:focus,
.breg_radtbutton_hover:focus,
.breg_radtbutton_mousedown:focus,
.breg_radtbutton_toggled:focus,
.button-primary-container img:hover,
.breg_radtbutton_normal:hover,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"]:hover,
.breg_radtbutton_hover:hover,
.breg_radtbutton_mousedown:hover,
.breg_radtbutton_toggled:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
.button-primary-container img + .help-icon,
.breg_radtbutton_normal + .help-icon,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"] + .help-icon,
.breg_radtbutton_hover + .help-icon,
.breg_radtbutton_mousedown + .help-icon,
.breg_radtbutton_toggled + .help-icon {
  margin-left: 15px;
}
.RadButton_Breg.accent-button {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
.RadButton_Breg.accent-button:focus,
.RadButton_Breg.accent-button:hover {
  cursor: pointer;
}
.RadButton_Breg.accent-button:focus,
.RadButton_Breg.accent-button:hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
.RadButton_Breg.accent-button + .help-icon {
  margin-left: 15px;
}
.RadButton_Breg {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
.RadButton_Breg:focus,
.RadButton_Breg:hover {
  cursor: pointer;
}
.RadButton_Breg:focus,
.RadButton_Breg:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
.RadButton_Breg + .help-icon {
  margin-left: 15px;
}
.RadButton_Breg _:-ms-fullscreen {
  margin: -0.35714em -0.85714em -0.28571em 0.35714em;
  margin: -0.35714em 0.35714em -0.28571em -0.85714em;
  margin: 0.28571em 0em 0em 0.07143em;
  padding: 0.46429em 0.85714em;
}
.RadButton_Breg .rbSplitPart {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #333333;
  height: 2.28571em;
  width: 2.28571em;
}
.RadButton_Breg .rbSplitPartRight {
  margin: -0.35714em -0.85714em -0.21429em 0.35714em;
  /*margin: -0.35714em -0.85714em -0.21429em 0.35714em \9;*/
}
.RadButton_Breg .rbSplitPartRight:hover {
  border-left-color: #d0d0d0;
}
.RadButton_Breg .rbSplitPartLeft {
  margin: -0.35714em 0.35714em -0.21429em -0.85714em;
  /*margin: -0.35714em 0.35714em -0.21429em -0.85714em \9;*/
}
.RadButton_Breg .rbSplitPartLeft:hover {
  border-right-color: #d0d0d0;
}
.RadButton_Breg .rbSplitIcon {
  /*margin: 0.28571em 0 0 0.07143em \9;*/
  margin: 0.35714em 0em 0em 0.28571em;
}
.RadButton_Breg .rbSplitPartRight.rbHovered {
  border-left-color: #d0d0d0;
}
.RadButton_Breg .rbSplitPartRight.rbSelected {
  border-left-color: #afafaf;
}
.RadButton_Breg .rbSplitPartLeft.rbHovered {
  border-right-color: #d0d0d0;
}
.RadButton_Breg .rbSplitPartLeft.rbSelected {
  border-right-color: #afafaf;
}
.RadButton_Breg.text-large {
  font-size: 14px;
}
.RadButton_Breg.rbButton,
input[type="button"],
input[type="submit"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.RadButton_Breg.rbButton:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.RadButton_Breg.rbButton:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="image"] {
  opacity: 0.6;
}
input[type="image"]:hover {
  opacity: 1;
}
.RadButton_Breg.rbLinkButton {
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  text-decoration: none;
}
.RadButton_Breg.rbLinkButton .rbText {
  margin-top: 2.5px;
}
.RadButton_Breg.rbLinkButton .rbPrimaryIcon + .rbText {
  margin-left: 5px;
}
:root .RadButton_Breg.rbButton {
  padding: 0.46429em 0.85714em;
}
:root .RadButton_Breg .rbSplitPartRight {
  margin: -0.35714em -0.85714em -0.28571em 0.35714em;
}
:root .RadButton_Breg .rbSplitPartLeft {
  margin: -0.35714em 0.35714em -0.28571em -0.85714em;
}
:root .RadButton_Breg .rbSplitIcon {
  margin: 0.28571em 0em 0em 0.07143em;
}
:root span.RadButton_Breg.rbButton {
  padding: 0.21429em 0.85714em;
}
.RadButton_Breg.rbButton.rbHovered,
.RadButton_Breg .rbSplitPart.rbHovered,
.RadButton_Breg.rbButton:hover,
.RadButton_Breg .rbSplitPart:hover,
.RadButton_Breg.rbButton:focus,
.breg_radtbutton_hover {
  cursor: pointer;
}
.RadButton_Breg.rbButton.rbSelected {
  cursor: pointer;
}
.RadButton_Breg.rbButton.rbSelected .rbSplitPart {
  background-color: #ddd;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadButton_Breg.rbButton.rbToggled {
  background-color: #ddd;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadButton_Breg.rbPrimaryButton {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.RadButton_Breg.rbPrimaryButton:focus,
.RadButton_Breg.rbPrimaryButton:hover {
  cursor: pointer;
}
.RadButton_Breg.rbPrimaryButton.rbHovered,
.RadButton_Breg.rbPrimaryButton:hover,
.RadButton_Breg.rbPrimaryButton.rbFocused,
.RadButton_Breg.rbPrimaryButton:focus,
.RadButton_Breg.rbPrimaryButton.rbFocused,
.RadButton_Breg.rbPrimaryButton.rbSelected {
  cursor: pointer;
}
.RadButton_Breg.rbCheckBox,
.RadButton_Breg.rbRadioButton,
.RadButton_Breg.rbToggleButton,
.RadButton_Breg.rbCheckBox .rbIcon,
.RadButton_Breg.rbRadioButton .rbIcon,
.RadButton_Breg.rbToggleButton .rbIcon {
  color: #333333;
}
.RadButton_Breg.rbCheckBox.rbHovered,
.RadButton_Breg.rbRadioButton.rbHovered,
.RadButton_Breg.rbToggleButton.rbHovered,
.RadButton_Breg.rbCheckBox.rbHovered .rbIcon,
.RadButton_Breg.rbRadioButton.rbHovered .rbIcon,
.RadButton_Breg.rbToggleButton.rbHovered .rbIcon,
.RadButton_Breg.rbCheckBox.rbSelected .rbIcon,
.RadButton_Breg.rbRadioButton.rbSelected .rbIcon,
.RadButton_Breg.rbToggleButton.rbSelected .rbIcon {
  color: #428bca;
}
.RadButton_Breg.rbCheckBox.rbHovered.rbSelected,
.RadButton_Breg.rbRadioButton.rbHovered.rbSelected,
.RadButton_Breg.rbToggleButton.rbSelected.rbSelected,
.RadButton_Breg.rbCheckBox.rbHovered.rbSelected .rbIcon,
.RadButton_Breg.rbRadioButton.rbHovered.rbSelected .rbIcon,
.RadButton_Breg.rbToggleButton.rbSelected.rbSelected .rbIcon {
  color: #3071a9;
}
.RadButton_Breg.rbButton.rbPrimaryButton.rbCheckBox,
.RadButton_Breg.rbButton.rbPrimaryButton.rbRadioButton,
.RadButton_Breg.rbButton.rbPrimaryButton.rbToggleButton,
.RadButton_Breg.rbButton.rbPrimaryButton.rbCheckBox .rbIcon,
.RadButton_Breg.rbButton.rbPrimaryButton.rbRadioButton .rbIcon,
.RadButton_Breg.rbButton.rbPrimaryButton.rbToggleButton .rbIcon {
  color: #ffffff;
}
.RadButton_Breg.rbButton.rbRtl .rbSplitPart {
  border-right-color: #eeeeee;
}
.RadButton_Breg.rbButton.rbRtl .rbSplitPart.rbHovered {
  border-right-color: #eeeeee;
}
.RadButton_Breg.rbButton.rbRtl .rbSplitPart.rbSelected {
  border-right-color: #afafaf;
}
span.RadButton_Breg.rbButton {
  padding: 0.14286em 0.85714em 0.07143em;
  /*padding: 0.21429em 0.85714em 0.14286em \9;*/
}
span.RadButton_Breg.rbButton .rbText {
  vertical-align: sub;
}
_:-ms-fullscreen {
  padding: 0.21429em 0.85714em;
}
.RadButton_Breg[disabled] {
  opacity: .6;
}
.RadButton_Breg[disabled]:hover {
  cursor: not-allowed;
}
.rbPrimaryIcon {
  background-size: contain;
  display: inline-block;
}
.text-large .rbPrimaryIcon {
  height: 18px;
  width: 18px;
}
a.rcCalPopup {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
a.rcCalPopup:focus,
a.rcCalPopup:hover {
  cursor: pointer;
}
.materialIcon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.breg_radtbutton_normal,
.breg_radtbutton_hover,
.breg_radtbutton_mousedown,
.breg_radtbutton_toggled,
.breg_radtbutton_hover_toggled {
  margin-left: 4px;
  padding: 0 2px !important;
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.breg_radtbutton_normal:focus,
.breg_radtbutton_hover:focus,
.breg_radtbutton_mousedown:focus,
.breg_radtbutton_toggled:focus,
.breg_radtbutton_hover_toggled:focus,
.breg_radtbutton_normal:hover,
.breg_radtbutton_hover:hover,
.breg_radtbutton_mousedown:hover,
.breg_radtbutton_toggled:hover,
.breg_radtbutton_hover_toggled:hover {
  cursor: pointer;
}
.breg_radtbutton_normal::after,
.breg_radtbutton_hover::after,
.breg_radtbutton_mousedown::after,
.breg_radtbutton_toggled::after,
.breg_radtbutton_hover_toggled::after,
.breg_radtbutton_normal:hover::after,
.breg_radtbutton_hover:hover::after,
.breg_radtbutton_mousedown:hover::after,
.breg_radtbutton_toggled:hover::after,
.breg_radtbutton_hover_toggled:hover::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #fff;
  content: '\E8B6';
}
.breg_radtbutton_normal > img,
.breg_radtbutton_hover > img,
.breg_radtbutton_mousedown > img,
.breg_radtbutton_toggled > img,
.breg_radtbutton_hover_toggled > img,
.breg_radtbutton_normal:hover > img,
.breg_radtbutton_hover:hover > img,
.breg_radtbutton_mousedown:hover > img,
.breg_radtbutton_toggled:hover > img,
.breg_radtbutton_hover_toggled:hover > img {
  display: none;
}
.rgSortDesc {
  background-image: url('images/Common/sortAsc.png');
}
.rgSortAsc {
  background-image: url('images/Common/sortDesc.png');
}
.rgSortAsc,
.rgSortDesc {
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px 5px !important;
  background-color: #333;
  border-color: #333;
}
.RadToolBar .rtbIcon {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.RadToolBar .rtbIcon:focus,
.RadToolBar .rtbIcon:hover {
  cursor: pointer;
}
.image-button {
  background-size: cover;
}
.rgAdd {
  background-image: url('images/Common/add.png');
  background-size: cover;
}
.rgRefresh {
  background-image: url('images/Common/refresh.png');
  background-size: cover;
}
button[type="submit"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
button[type="submit"]:focus,
button[type="submit"]:hover {
  cursor: pointer;
}
button[type="submit"]:focus,
button[type="submit"]:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
button[type="submit"] + .help-icon {
  margin-left: 15px;
}
button[type="cancel"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
button[type="cancel"]:focus,
button[type="cancel"]:hover {
  cursor: pointer;
}
button[type="cancel"]:focus,
button[type="cancel"]:hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
button[type="cancel"] + .help-icon {
  margin-left: 15px;
}
#rtbFilter .rtbIcon,
#rtbBrowse .rtbIcon {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
#rtbFilter .rtbIcon:focus,
#rtbBrowse .rtbIcon:focus,
#rtbFilter .rtbIcon:hover,
#rtbBrowse .rtbIcon:hover {
  cursor: pointer;
}
#rtbFilter .rtbIcon:focus,
#rtbBrowse .rtbIcon:focus,
#rtbFilter .rtbIcon:hover,
#rtbBrowse .rtbIcon:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
#rtbFilter .rtbIcon + .help-icon,
#rtbBrowse .rtbIcon + .help-icon {
  margin-left: 15px;
}
img[alt="Search"].rtbIcon,
img[alt="Browse all products"].rtbIcon {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
img[alt="Search"].rtbIcon:focus,
img[alt="Browse all products"].rtbIcon:focus,
img[alt="Search"].rtbIcon:hover,
img[alt="Browse all products"].rtbIcon:hover {
  cursor: pointer;
}
img[alt="Search"].rtbIcon:focus,
img[alt="Browse all products"].rtbIcon:focus,
img[alt="Search"].rtbIcon:hover,
img[alt="Browse all products"].rtbIcon:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
img[alt="Search"].rtbIcon + .help-icon,
img[alt="Browse all products"].rtbIcon + .help-icon {
  margin-left: 15px;
}
.RadioButtons td,
.RadioButtons td * {
  white-space: nowrap;
}
.rcCalPopup,
input[type="button"][value="..."] {
  font-size: 13px !important;
  font-weight: 500 !important;
  border-radius: 7.5px !important;
  border-width: 1px !important;
  text-transform: uppercase !important;
  height: auto !important;
  line-height: normal !important;
  padding: 0.42857em 0.85714em !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0 !important;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1 !important;
  background-image: linear-gradient() !important;
  border-color: #37AAF1 !important;
  color: #ffffff !important;
}
.rcCalPopup:focus,
input[type="button"][value="..."]:focus,
.rcCalPopup:hover,
input[type="button"][value="..."]:hover {
  cursor: pointer !important;
}
.rcCalPopup:focus,
input[type="button"][value="..."]:focus,
.rcCalPopup:hover,
input[type="button"][value="..."]:hover {
  background-color: #0d75b5 !important;
  background-image: linear-gradient() !important;
  border-color: #0d75b5 !important;
  color: #ffffff !important;
}
.rcCalPopup + .help-icon,
input[type="button"][value="..."] + .help-icon {
  margin-left: 15px !important;
}
.RadPicker table.rcTable {
  position: relative;
}
input[type="button"][title="Spell Check"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
input[type="button"][title="Spell Check"]:focus,
input[type="button"][title="Spell Check"]:hover {
  cursor: pointer;
}
input[type="button"][title="Spell Check"]:focus,
input[type="button"][title="Spell Check"]:hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
input[type="button"][title="Spell Check"] + .help-icon {
  margin-left: 15px;
}
.rspCollapseBarExpand,
.rspCollapseBarSpacer,
.rspCollapseBarCollapse {
  padding: 1px;
}
.rbToggleButton {
  display: block;
  width: 98% !important;
  margin-bottom: 10px;
}
.rbToggleButton .rbText {
  text-transform: capitalize;
  color: white;
}
#trIsSpecificContact .rbToggleButton {
  display: inline-block;
  width: 15px !important;
}
.rgAdd,
.rgRefresh {
  margin-right: 5px;
}
.button-primary + .button-primary,
.button-primary + .button-accent,
.button-accent + .button-accent,
.button-accent + .button-primary {
  margin-left: 10px;
}
.button-primary + .help-icon,
.button-accent + .help-icon,
.RadButton_Breg + .help-icon {
  margin-left: 15px;
}
input[type="button"].button-moreInfo {
  background-color: transparent;
  background-image: url("images/Common/moreInfoPopup.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px !important;
  right: 8px !important;
  padding: 0 !important;
  border-radius: 0;
  box-shadow: none;
  border: none;
  height: 27px;
}
input[type="button"].button-moreInfo:hover {
  background-image: url("images/Common/moreInfoPopupHover.png");
}