// Color variables (appears count calculates by raw css)
@color0: #333333;
// Appears 10 times
@color1: #ffffff;
// Appears 9 times
@color2: #d0d0d0;
// Appears 6 times
@color3: #afafaf;
// Appears 6 times
@color4: #ddd;
// Appears 4 times
@color5: #eeeeee;
// Appears 4 times
@button-bg: #37AAF1;
@button-bg-hover: darken(@button-bg, 20);
@button-shadow-color: rgba(0, 0, 0, 0.3);
@button-border-radius: 7.5px;
@button-shadow-style: @button-shadow-color 0px 2px 2px 0;

// shadow - #000 .03 multiply 4px 4px 4px


.button {
  font-size: 13px;
  font-weight: 500;
  border-radius: @button-border-radius;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: @button-shadow-style;
  /*padding: 0.46429em 0.85714em \9;*/
  &:focus,
  &:hover {
    .button-hover;
  }
}

.btnSortClinicians {
  float: right;
  margin-top: -40px;
}

.button-hover {
  cursor: pointer;
}

.button-primary {
  .button;
  .button-primary-colors;
  &:focus,
  &:hover {
    .button-primary-colors-hover;
  }
}

.button-primary-colors {
  background-color: @button-bg;
  background-image: linear-gradient();
  border-color: @button-bg;
  color: @color1;
}

.button-primary-colors-hover {
  background-color: @button-bg-hover;
  background-image: linear-gradient();
  border-color: @button-bg-hover;
  color: @color1;
}

.button-accent-colors {
  background-color: @color1;
  background-image: linear-gradient();
  border-color: @color5;
  color:@button-bg;
}

.button-accent-colors-hover {
  background-color: @color5;
  background-image: linear-gradient();
  border-color:@color5;
  color: @button-bg-hover;
}

.button-accent {
  .button;
  .button-accent-colors;
  &:focus,
  &:hover {
    .button-accent-colors-hover;
  }
}

.button-primary-container img,
.breg_radtbutton_normal,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"],
.breg_radtbutton_hover, 
.breg_radtbutton_mousedown,
.breg_radtbutton_toggled {
    .button-primary;
}


.RadButton_Breg.accent-button {
  .button-accent;
}


.RadButton_Breg {
  .button-primary;

  _ {
    &:-ms-fullscreen {
      margin: -0.35714em -0.85714em -0.28571em 0.35714em;
      margin: -0.35714em 0.35714em -0.28571em -0.85714em;
      margin: 0.28571em 0em 0em 0.07143em;
      padding: 0.46429em 0.85714em;
    }
  }

  .rbSplitPart {
    background-color: @color1;
    background-image: linear-gradient();
    border-color: @color5;
    color: @color0;
    height: 2.28571em;
    width: 2.28571em;
  }

  .rbSplitPartRight {
    margin: -0.35714em -0.85714em -0.21429em 0.35714em;
    /*margin: -0.35714em -0.85714em -0.21429em 0.35714em \9;*/
    &:hover {
      border-left-color: @color2;
    }
  }

  .rbSplitPartLeft {
    margin: -0.35714em 0.35714em -0.21429em -0.85714em;
    /*margin: -0.35714em 0.35714em -0.21429em -0.85714em \9;*/
    &:hover {
      border-right-color: @color2;
    }
  }

  .rbSplitIcon {
    /*margin: 0.28571em 0 0 0.07143em \9;*/
    margin: 0.35714em 0em 0em 0.28571em;
  }

  .rbSplitPartRight.rbHovered {
    border-left-color: @color2;
  }

  .rbSplitPartRight.rbSelected {
    border-left-color: @color3;
  }

  .rbSplitPartLeft.rbHovered {
    border-right-color: @color2;
  }

  .rbSplitPartLeft.rbSelected {
    border-right-color: @color3;
  }
}

.RadButton_Breg.text-large {
  font-size: 14px;
}

.RadButton_Breg.rbButton,
input[type="button"],
input[type="submit"] {
  .button;
}

input[type="image"] {
  opacity:0.6;
  &:hover {
    opacity:1;
  }
}

.RadButton_Breg.rbLinkButton {
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  text-decoration:none;
  .rbText {

    margin-top: 2.5px;
  }
  .rbPrimaryIcon + .rbText {
    margin-left: 5px;
  }
}

&:root {
  .RadButton_Breg.rbButton {
    padding: 0.46429em 0.85714em;
  }

  .RadButton_Breg {
    .rbSplitPartRight {
      margin: -0.35714em -0.85714em -0.28571em 0.35714em;
    }

    .rbSplitPartLeft {
      margin: -0.35714em 0.35714em -0.28571em -0.85714em;
    }

    .rbSplitIcon {
      margin: 0.28571em 0em 0em 0.07143em;
    }
  }

  span.RadButton_Breg.rbButton {
    padding: 0.21429em 0.85714em;
  }
}

.RadButton_Breg.rbButton.rbHovered,
.RadButton_Breg .rbSplitPart.rbHovered,
.RadButton_Breg.rbButton:hover,
.RadButton_Breg .rbSplitPart:hover,
.RadButton_Breg.rbButton:focus,
.breg_radtbutton_hover {
  .button-hover;
}

.RadButton_Breg.rbButton.rbSelected {
  .button-hover;

  .rbSplitPart {
    background-color: @color4;
    background-image: linear-gradient();
    border-color: @color3;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    color: @color0;
  }
}

.RadButton_Breg.rbButton.rbToggled {
  background-color: @color4;
  background-image: linear-gradient();
  border-color: @color3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: @color0;
}

.RadButton_Breg.rbPrimaryButton {
  .button;
}

.RadButton_Breg.rbPrimaryButton.rbHovered,
.RadButton_Breg.rbPrimaryButton:hover,
.RadButton_Breg.rbPrimaryButton.rbFocused,
.RadButton_Breg.rbPrimaryButton:focus,
.RadButton_Breg.rbPrimaryButton.rbFocused,
.RadButton_Breg.rbPrimaryButton.rbSelected {
  .button-hover;
}

.RadButton_Breg.rbCheckBox,
.RadButton_Breg.rbRadioButton,
.RadButton_Breg.rbToggleButton,
.RadButton_Breg.rbCheckBox .rbIcon,
.RadButton_Breg.rbRadioButton .rbIcon,
.RadButton_Breg.rbToggleButton .rbIcon {
  color: @color0;
}

.RadButton_Breg.rbCheckBox.rbHovered,
.RadButton_Breg.rbRadioButton.rbHovered,
.RadButton_Breg.rbToggleButton.rbHovered,
.RadButton_Breg.rbCheckBox.rbHovered .rbIcon,
.RadButton_Breg.rbRadioButton.rbHovered .rbIcon,
.RadButton_Breg.rbToggleButton.rbHovered .rbIcon,
.RadButton_Breg.rbCheckBox.rbSelected .rbIcon,
.RadButton_Breg.rbRadioButton.rbSelected .rbIcon,
.RadButton_Breg.rbToggleButton.rbSelected .rbIcon {
  color: #428bca;
}

.RadButton_Breg.rbCheckBox.rbHovered.rbSelected,
.RadButton_Breg.rbRadioButton.rbHovered.rbSelected,
.RadButton_Breg.rbToggleButton.rbSelected.rbSelected,
.RadButton_Breg.rbCheckBox.rbHovered.rbSelected .rbIcon,
.RadButton_Breg.rbRadioButton.rbHovered.rbSelected .rbIcon,
.RadButton_Breg.rbToggleButton.rbSelected.rbSelected .rbIcon {
  color: #3071a9;
}

.RadButton_Breg.rbButton.rbPrimaryButton.rbCheckBox,
.RadButton_Breg.rbButton.rbPrimaryButton.rbRadioButton,
.RadButton_Breg.rbButton.rbPrimaryButton.rbToggleButton,
.RadButton_Breg.rbButton.rbPrimaryButton.rbCheckBox .rbIcon,
.RadButton_Breg.rbButton.rbPrimaryButton.rbRadioButton .rbIcon,
.RadButton_Breg.rbButton.rbPrimaryButton.rbToggleButton .rbIcon {
  color: @color1;
}

.RadButton_Breg.rbButton.rbRtl {
  .rbSplitPart {
    border-right-color: @color5;
  }

  .rbSplitPart.rbHovered {
    border-right-color: @color5;
  }

  .rbSplitPart.rbSelected {
    border-right-color: @color3;
  }
}

span.RadButton_Breg.rbButton {
  padding: 0.14286em 0.85714em 0.07143em;
  /*padding: 0.21429em 0.85714em 0.14286em \9;*/
  .rbText {
    vertical-align: sub;
  }
}

_ {
  &:-ms-fullscreen {
    padding: 0.21429em 0.85714em;
  }
}

.RadButton_Breg[disabled] {
  opacity: .6;

  &:hover {
    cursor: not-allowed;
  }
}

.rbPrimaryIcon {
  background-size: contain;
  display: inline-block;
}

.text-large {
  .rbPrimaryIcon {
    height: 18px;
    width: 18px;    
  }
}

a.rcCalPopup {
  .button;
}

.materialIcon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px; /* Preferred icon size */
  display: block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.breg_radtbutton_normal,
.breg_radtbutton_hover,
.breg_radtbutton_mousedown,
.breg_radtbutton_toggled,
.breg_radtbutton_hover_toggled {
  margin-left: 4px;
  padding: 0 2px !important;
  .button;

  &::after,
  &:hover::after {
    .materialIcon;
    color: #fff;
    content: '\E8B6';
  }

  > img,
  &:hover > img {
    display: none;
  }
}

.rgSortDesc {
  background-image: url('images/Common/sortAsc.png');
}

.rgSortAsc {
  background-image: url('images/Common/sortDesc.png');
}

.rgSortAsc,
.rgSortDesc {
  background-position:center;
  background-repeat:no-repeat;
  padding: 1px 5px !important;
  background-color: #333;
  border-color: #333;
}

.RadToolBar .rtbIcon {
  .button;
}

.image-button {
  background-size:cover;
}

.rgAdd {
  background-image: url('images/Common/add.png');
  .image-button;
}

.rgRefresh {
  background-image: url('images/Common/refresh.png');
  .image-button;

}

button {
  &[type="submit"] {
    .button-primary;
  }
  &[type="cancel"] {
    .button-accent;
  }
}

#rtbFilter,
#rtbBrowse {
  .rtbIcon {
   .button-primary;
   }
}

img[alt="Search"].rtbIcon,
img[alt="Browse all products"].rtbIcon {
  .button-primary;
}

.RadioButtons td, 
.RadioButtons td * {
 white-space: nowrap;
}

.rcCalPopup,
input[type="button"][value="..."] {
  .button-primary !important;
}

.RadPicker table.rcTable {
  position:relative;
  td:last-child {

  }
}

input[type="button"][title="Spell Check"] {
  .button-accent;
}

.rspCollapseBarExpand,
.rspCollapseBarSpacer,
.rspCollapseBarCollapse {
  padding:1px;
}

.rbToggleButton {
    display: block;
    width: 98% !important;
    margin-bottom: 10px;
    .rbText {
      text-transform: capitalize;
      color: white;
    }
}

#trIsSpecificContact {
  .rbToggleButton {
    display:inline-block;
    width:15px !important;
  }
}

.rgAdd,
.rgRefresh {
   margin-right:5px;    
}

.button-primary + .button-primary,
.button-primary  + .button-accent,
.button-accent + .button-accent,
.button-accent + .button-primary {
  margin-left:10px;
}

.button-primary,
.button-accent,
.RadButton_Breg {
  + .help-icon {
    margin-left:15px;
  }
}

input[type="button"].button-moreInfo {
  background-color: transparent;
  background-image: url("images/Common/moreInfoPopup.png");
  background-position: center;
  background-repeat: no-repeat;
  width:24px !important;
  right:8px !important;
  padding:0 !important;
  border-radius:0;
  box-shadow:none;
  border:none;
  height:27px;
  &:hover {
    background-image: url("images/Common/moreInfoPopupHover.png");
  }
}