// Color variables (appears count calculates by raw css)
@color0: #dddddd;
// Appears 17 times
@color1: #333333;
// Appears 15 times
@color2: #ffffff;
// Appears 14 times
@color3: #e6e6e6;
// Appears 7 times
@color4: #f5f5f5;
// Appears 5 times
@color5: #ff3300;
// Appears 4 times
@color6: #d0d0d0;
// Appears 4 times
@color7: #efefef;
// Appears 3 times
@color8: #eeeeee;
// Appears 2 times
@color9: #e2e2e2;
// Appears 2 times
@color10: #ff471a;
// Appears 2 times
@color11: #cc2900;
// Appears 2 times
@color12: #000000;
// Appears 2 times
// Width variables (appears count calculates by raw css)
@width7: 2.3em;
// Appears 3 times
// Height variables (appears count calculates by raw css)
@height5: 2.3em;
// Appears 3 times
.RadCalendar_Breg {
  font: 14px/1.42857 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;

  .rcTitlebar {
    background-color: @color4;
    border-color: @color0;
    border-radius: 0.29em 0.29em 0 0;
    color: @color1;
    font-size: 1em;
    line-height: 2.78;
    padding: 0;

    > table {
      width: 100%;
    }
  }

  .rcMain {
    background: @color2;
    border-color: @color0;
    border-radius: 0 0 0.29em 0.29em;

    > table {
      width: 100%;
    }

    .rcRow {
      a {
        border-radius: .29em;
        border: 1px solid transparent;
        color: @color1;
        height: @height5;
        line-height: 2.3;
        padding: 0;
        text-align: center;
        width: @width7;
        display: block;
      }

      span {
        border-radius: .29em;
        border: 1px solid transparent;
        color: @color1;
        height: @height5;
        line-height: 2.3;
        padding: 0;
        text-align: center;
        width: @width7;
      }

      .rcSelected {
        a {
          background: @color5;
          border-color: #357ebd;
          color: @color2;
        }
      }
    }
  }

  .rcMainTable {
    font: 1em/1.42857, 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .rcCalendars > .rcMainTable {
    border-collapse: collapse;
  }

  .rcHeader {
    border-color: @color0;
  }

  .rcFooter {
    border-color: @color0;
  }

  th.rcViewSel {
    background: @color4;
    border-right: 1px solid @color0;
    padding: 0.48em 1em;
    width: .43em;
  }

  .rcWeek {
    th {
      color: @color1;
      margin-left: 1px;
      padding-bottom: .5em;
      padding-top: .5em;
      text-align: center;
    }
  }

  .rcRow {
    th {
      background-color: @color4;
      border-right: 1px solid @color0;
    }

    td {
      border-color: transparent;
    }

    .rcToday {
      a {
        background: @color2;
        border-color: @color10;
        box-shadow: 0 0 6px 1px @color10;
      }
    }

    .rcHover {
      a {
        background-color: @color7;
        border-color: @color9;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        color: @color12;
      }
    }

    .rcFocus {
      a {
        border-color: @color11;
        box-shadow: 0 0 3px @color11 inset;
      }
    }
  }
}

.RadCalendar_Breg .rcTitlebar .rcPrev,
.RadCalendar_Breg .rcTitlebar .rcNext,
.RadCalendar_Breg .rcTitlebar .rcFastPrev,
.RadCalendar_Breg .rcTitlebar .rcFastNext {
  border-radius: .3em;
  border: 1px solid transparent;
  height: @height5;
  margin: .14em;
  width: @width7;
}

.RadCalendar_Breg .rcTitlebar .rcPrev:before,
.RadCalendar_Breg .rcTitlebar .rcNext:before,
.RadCalendar_Breg .rcTitlebar .rcFastPrev:before,
.RadCalendar_Breg .rcTitlebar .rcFastNext:before {
  line-height: 2.3;
}

.RadCalendar_Breg .rcTitlebar .rcPrev:hover,
.RadCalendar_Breg .rcTitlebar .rcNext:hover,
.RadCalendar_Breg .rcTitlebar .rcFastPrev:hover,
.RadCalendar_Breg .rcTitlebar .rcFastNext:hover {
  background-color: @color3;
  border-color: @color6;
  color: @color1;
}

.RadCalendar_Breg .rcRow th,
.RadCalendar_Breg .rcMain .rcWeekend a,
.RadCalendar_Breg .rcMain .rcOtherMonth a,
.RadCalendar_Breg .rcMain .rcOutOfRange span {
  color: #999999;
}

.RadCalendarMultiView_Breg {
  .rcTitlebar {
    background: @color4;
    border-bottom: 0 none;
    border-radius: 0.29em 0.29em 0 0;
    line-height: 2.65;
    padding: 0;

    td {
      height: 2.64em;
    }
  }

  .rcMain {
    border-color: @color0;
    border-radius: 0 0 0.29em 0.29em;
    border-width: 0 1px 1px 0;
  }

  .rcCalendar {
    border-color: @color0;
    border-width: 1px 0 0 1px;
  }

  .rcMainTable {
    .rcMainTable {
      font-size: 1em;
    }

    .rcTitle {
      background: @color2;
      border-color: @color3;
      color: @color1;
      line-height: 2.65em;
    }
  }
}

.RadCalendarMonthView_Breg {
  background: @color2;
  border-color: @color0;
  border-radius: .29em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: @color1;
  font: 14px/1.42857 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

  td {
    height: 1.86em;
    line-height: 1.86;
    width: 3.7em;
  }

  a {
    border-radius: .29em;
    color: @color1;
    height: 1.79em;
    line-height: 1.79em;
    margin: 1px;
    padding: 0;
    width: 3.57em;

    &:hover {
      background-color: @color7;
      border-color: @color9;
      color: @color12;
    }
  }

  .rcSelected {
    a {
      background: @color5;
      border-radius: .29em;
      border: 0 none;
      color: @color2;
      margin: 0;
      padding: 0;
    }
  }

  #rcMView_PrevY {
    a {
      height: 1.4em;
    }
  }

  #rcMView_NextY {
    a {
      height: 1.4em;
    }
  }

  .rcButtons {
    input {
      border-radius: .29em;
      border-style: solid;
      border-width: 1px;
      color: @color1;
      float: left;
      height: 2.4em;
      margin: 0 0.36em 0.36em;
    }
  }

  #rcMView_Today {
    background: @color2;
    border: 1px solid @color0;
    margin: 0 0.36em 0.36em;
    padding: 0 0.71em;
    width: 4.64em;

    &:hover {
      background: @color3;
      border-color: @color6;
      color: @color1;
    }
  }

  #rcMView_OK {
    background: @color2;
    background: @color5;
    border: 1px solid #e62e00;
    border: 1px solid @color0;
    color: @color2;
    margin: 0 0.36em 0.36em 0;
    padding: 0 0.71em;
    width: 4.45em;

    &:hover {
      background: @color3;
      border-color: @color6;
      color: @color1;
    }
  }

  #rcMView_Cancel {
    background: @color2;
    border: 1px solid @color0;
    margin: 0 0 0.36em 0;
    padding: 0 0.71em;
    width: 4.45em;

    &:hover {
      background: @color3;
      border-color: @color6;
      color: @color1;
    }
  }
}

.RadCalendarMonthView_Breg #rcMView_Feb,
.RadCalendarMonthView_Breg #rcMView_Apr,
.RadCalendarMonthView_Breg #rcMView_Jun,
.RadCalendarMonthView_Breg #rcMView_Aug,
.RadCalendarMonthView_Breg #rcMView_Oct,
.RadCalendarMonthView_Breg #rcMView_Dec {
  border-right: 1px solid @color0;
}

table.RadCalendarTimeView_Breg {
  background: @color2;
  border-color: @color0;
  border-radius: 0.28571em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;

  td {
    border-color: @color0;
    padding: 0.14em 0.36em;
    width: .36em;
  }
}

.RadCalendarTimeView_Breg {
  th {
    background: @color4;
    border-bottom: 1px solid @color0;
    border-radius: 0.29em 0.29em 0 0;
    line-height: 2.25;
    padding: 0;
  }

  a {
    border-radius: .32em;
    color: @color1;
    padding: 1px;
    white-space: nowrap;
  }

  td.rcSelected {
    a {
      background: @color5;
      border: 0;
      color: @color2;
      padding: 0;
    }
  }

  td.rcHover {
    a {
      background: @color7;
      border: 0;
      padding: 0;
    }
  }

  .rcFooter {
    border-color: @color0;
  }
}

.RadPicker_Breg {
  .rcCalPopup {
    background: @color2;
    border-left: 1px solid @color8;
    color: @color1;
    width: 2.28571em;

    &:hover {
      background: @color3;
    }
  }

  .rcTimePopup {
    background: @color2;
    border-left: 1px solid @color8;
    border-radius: 0 0.28571em 0.28571em 0;
    color: @color1;
    width: 2.28571em;

    &:hover {
      background: @color3;
    }
  }
}

.RadMonthYearPicker.RadPicker_Breg {
  .rcCalPopup {
    border-radius: 0 0.28571em 0.28571em 0;
  }
}

.RadCalendarPopup {
  margin: 2px 0;
  top: 100px !important;

  .RadCalendar_Breg {
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
}

.rcTitleBar {
  td {
    height: 2.64em;
    display: block;
    text-align: center;

    a {
      display: block;
      text-align: center;
    }
  }
}
