﻿.RadCalendar_Breg {
  font: 14px/1.42857 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadCalendar_Breg .rcTitlebar {
  background-color: #f5f5f5;
  border-color: #dddddd;
  border-radius: 0.29em 0.29em 0 0;
  color: #333333;
  font-size: 1em;
  line-height: 2.78;
  padding: 0;
}
.RadCalendar_Breg .rcTitlebar > table {
  width: 100%;
}
.RadCalendar_Breg .rcMain {
  background: #ffffff;
  border-color: #dddddd;
  border-radius: 0 0 0.29em 0.29em;
}
.RadCalendar_Breg .rcMain > table {
  width: 100%;
}
.RadCalendar_Breg .rcMain .rcRow a {
  border-radius: .29em;
  border: 1px solid transparent;
  color: #333333;
  height: 2.3em;
  line-height: 2.3;
  padding: 0;
  text-align: center;
  width: 2.3em;
  display: block;
}
.RadCalendar_Breg .rcMain .rcRow span {
  border-radius: .29em;
  border: 1px solid transparent;
  color: #333333;
  height: 2.3em;
  line-height: 2.3;
  padding: 0;
  text-align: center;
  width: 2.3em;
}
.RadCalendar_Breg .rcMain .rcRow .rcSelected a {
  background: #ff3300;
  border-color: #357ebd;
  color: #ffffff;
}
.RadCalendar_Breg .rcMainTable {
  font: 1em/1.42857, 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadCalendar_Breg .rcCalendars > .rcMainTable {
  border-collapse: collapse;
}
.RadCalendar_Breg .rcHeader {
  border-color: #dddddd;
}
.RadCalendar_Breg .rcFooter {
  border-color: #dddddd;
}
.RadCalendar_Breg th.rcViewSel {
  background: #f5f5f5;
  border-right: 1px solid #dddddd;
  padding: 0.48em 1em;
  width: .43em;
}
.RadCalendar_Breg .rcWeek th {
  color: #333333;
  margin-left: 1px;
  padding-bottom: .5em;
  padding-top: .5em;
  text-align: center;
}
.RadCalendar_Breg .rcRow th {
  background-color: #f5f5f5;
  border-right: 1px solid #dddddd;
}
.RadCalendar_Breg .rcRow td {
  border-color: transparent;
}
.RadCalendar_Breg .rcRow .rcToday a {
  background: #ffffff;
  border-color: #ff471a;
  box-shadow: 0 0 6px 1px #ff471a;
}
.RadCalendar_Breg .rcRow .rcHover a {
  background-color: #efefef;
  border-color: #e2e2e2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #000000;
}
.RadCalendar_Breg .rcRow .rcFocus a {
  border-color: #cc2900;
  box-shadow: 0 0 3px #cc2900 inset;
}
.RadCalendar_Breg .rcTitlebar .rcPrev,
.RadCalendar_Breg .rcTitlebar .rcNext,
.RadCalendar_Breg .rcTitlebar .rcFastPrev,
.RadCalendar_Breg .rcTitlebar .rcFastNext {
  border-radius: .3em;
  border: 1px solid transparent;
  height: 2.3em;
  margin: .14em;
  width: 2.3em;
}
.RadCalendar_Breg .rcTitlebar .rcPrev:before,
.RadCalendar_Breg .rcTitlebar .rcNext:before,
.RadCalendar_Breg .rcTitlebar .rcFastPrev:before,
.RadCalendar_Breg .rcTitlebar .rcFastNext:before {
  line-height: 2.3;
}
.RadCalendar_Breg .rcTitlebar .rcPrev:hover,
.RadCalendar_Breg .rcTitlebar .rcNext:hover,
.RadCalendar_Breg .rcTitlebar .rcFastPrev:hover,
.RadCalendar_Breg .rcTitlebar .rcFastNext:hover {
  background-color: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadCalendar_Breg .rcRow th,
.RadCalendar_Breg .rcMain .rcWeekend a,
.RadCalendar_Breg .rcMain .rcOtherMonth a,
.RadCalendar_Breg .rcMain .rcOutOfRange span {
  color: #999999;
}
.RadCalendarMultiView_Breg .rcTitlebar {
  background: #f5f5f5;
  border-bottom: 0 none;
  border-radius: 0.29em 0.29em 0 0;
  line-height: 2.65;
  padding: 0;
}
.RadCalendarMultiView_Breg .rcTitlebar td {
  height: 2.64em;
}
.RadCalendarMultiView_Breg .rcMain {
  border-color: #dddddd;
  border-radius: 0 0 0.29em 0.29em;
  border-width: 0 1px 1px 0;
}
.RadCalendarMultiView_Breg .rcCalendar {
  border-color: #dddddd;
  border-width: 1px 0 0 1px;
}
.RadCalendarMultiView_Breg .rcMainTable .rcMainTable {
  font-size: 1em;
}
.RadCalendarMultiView_Breg .rcMainTable .rcTitle {
  background: #ffffff;
  border-color: #e6e6e6;
  color: #333333;
  line-height: 2.65em;
}
.RadCalendarMonthView_Breg {
  background: #ffffff;
  border-color: #dddddd;
  border-radius: .29em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: #333333;
  font: 14px/1.42857 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadCalendarMonthView_Breg td {
  height: 1.86em;
  line-height: 1.86;
  width: 3.7em;
}
.RadCalendarMonthView_Breg a {
  border-radius: .29em;
  color: #333333;
  height: 1.79em;
  line-height: 1.79em;
  margin: 1px;
  padding: 0;
  width: 3.57em;
}
.RadCalendarMonthView_Breg a:hover {
  background-color: #efefef;
  border-color: #e2e2e2;
  color: #000000;
}
.RadCalendarMonthView_Breg .rcSelected a {
  background: #ff3300;
  border-radius: .29em;
  border: 0 none;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.RadCalendarMonthView_Breg #rcMView_PrevY a {
  height: 1.4em;
}
.RadCalendarMonthView_Breg #rcMView_NextY a {
  height: 1.4em;
}
.RadCalendarMonthView_Breg .rcButtons input {
  border-radius: .29em;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  float: left;
  height: 2.4em;
  margin: 0 0.36em 0.36em;
}
.RadCalendarMonthView_Breg #rcMView_Today {
  background: #ffffff;
  border: 1px solid #dddddd;
  margin: 0 0.36em 0.36em;
  padding: 0 0.71em;
  width: 4.64em;
}
.RadCalendarMonthView_Breg #rcMView_Today:hover {
  background: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadCalendarMonthView_Breg #rcMView_OK {
  background: #ffffff;
  background: #ff3300;
  border: 1px solid #e62e00;
  border: 1px solid #dddddd;
  color: #ffffff;
  margin: 0 0.36em 0.36em 0;
  padding: 0 0.71em;
  width: 4.45em;
}
.RadCalendarMonthView_Breg #rcMView_OK:hover {
  background: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadCalendarMonthView_Breg #rcMView_Cancel {
  background: #ffffff;
  border: 1px solid #dddddd;
  margin: 0 0 0.36em 0;
  padding: 0 0.71em;
  width: 4.45em;
}
.RadCalendarMonthView_Breg #rcMView_Cancel:hover {
  background: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadCalendarMonthView_Breg #rcMView_Feb,
.RadCalendarMonthView_Breg #rcMView_Apr,
.RadCalendarMonthView_Breg #rcMView_Jun,
.RadCalendarMonthView_Breg #rcMView_Aug,
.RadCalendarMonthView_Breg #rcMView_Oct,
.RadCalendarMonthView_Breg #rcMView_Dec {
  border-right: 1px solid #dddddd;
}
table.RadCalendarTimeView_Breg {
  background: #ffffff;
  border-color: #dddddd;
  border-radius: 0.28571em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
table.RadCalendarTimeView_Breg td {
  border-color: #dddddd;
  padding: 0.14em 0.36em;
  width: .36em;
}
.RadCalendarTimeView_Breg th {
  background: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-radius: 0.29em 0.29em 0 0;
  line-height: 2.25;
  padding: 0;
}
.RadCalendarTimeView_Breg a {
  border-radius: .32em;
  color: #333333;
  padding: 1px;
  white-space: nowrap;
}
.RadCalendarTimeView_Breg td.rcSelected a {
  background: #ff3300;
  border: 0;
  color: #ffffff;
  padding: 0;
}
.RadCalendarTimeView_Breg td.rcHover a {
  background: #efefef;
  border: 0;
  padding: 0;
}
.RadCalendarTimeView_Breg .rcFooter {
  border-color: #dddddd;
}
.RadPicker_Breg .rcCalPopup {
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  color: #333333;
  width: 2.28571em;
}
.RadPicker_Breg .rcCalPopup:hover {
  background: #e6e6e6;
}
.RadPicker_Breg .rcTimePopup {
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-radius: 0 0.28571em 0.28571em 0;
  color: #333333;
  width: 2.28571em;
}
.RadPicker_Breg .rcTimePopup:hover {
  background: #e6e6e6;
}
.RadMonthYearPicker.RadPicker_Breg .rcCalPopup {
  border-radius: 0 0.28571em 0.28571em 0;
}
.RadCalendarPopup {
  margin: 2px 0;
  top: 100px !important;
}
.RadCalendarPopup .RadCalendar_Breg {
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.rcTitleBar td {
  height: 2.64em;
  display: block;
  text-align: center;
}
.rcTitleBar td a {
  display: block;
  text-align: center;
}