// Color variables (appears count calculates by raw css)
@color0:#333333;
// Appears 17 times
@color1:#e6e6e6;
// Appears 4 times
@color2:#ffffff;
// Appears 4 times
@color3:#dddddd;
// Appears 4 times
@color4:#d0d0d0;
// Appears 3 times
@color5:#eeeeee;
// Appears 3 times
.RadColorPicker_Breg {
  color: @color0;
  font-size: 1em;
  .rcpPalette {
    background-color: #fcfcfc;
    border-color: @color3;
  }
  .rcpHeader {
    background-color: #f5f5f5;
    background-image: linear-gradient();
    border-color: @color3;
  }
  .rcpImageButton {
    color: @color0;
    &:hover {
      color: #ff3300;
    }
  }
  a.rslDraghandle {
    &:before {
      color: @color0;
    }
  }
  .rcpIcon {
    a {
      background-color: @color2;
      background-image: linear-gradient();
      border-color: @color5;
      color: @color0;
      &:before {
        color: @color0;
      }
      &:hover {
        background-color: @color1;
        background-image: linear-gradient();
        border-color: @color4;
        color: @color0;
        before {
          color: @color0;
        }
      }
      &:focus {
        box-shadow: inset 0 0 5px rgba(175, 175, 175, 0.5);
      }
      &:active {
        before {
          color: @color0;
        }
      }
    }
  }
  .rcpTabs {
    li {
      background-color: @color2;
      background-image: linear-gradient();
      border-color: @color5;
      color: @color0;
      &:hover {
        background-color: @color1;
        background-image: linear-gradient();
        border-color: @color4;
        color: @color0;
        a {
          color: @color0;
        }
      }
    }
    a {
      color: @color0;
    }
    .rcpSelectedTab {
      a {
        color: @color0;
      }
      &:hover {
        a {
          color: @color0;
        }
      }
    }
  }
  .rcpButton {
    background-color: @color2;
    background-image: linear-gradient();
    border-color: @color5;
    color: @color0;
    &:hover {
      background-color: @color1;
      background-image: linear-gradient();
      border-color: @color4;
      color: @color0;
    }
  }
  .rcpRecentColors {
    border-color: @color3;
  }
}
.RadColorPicker_Breg .rcpIcon em,
.RadColorPicker_Breg .rcpColorPreview,
.RadColorPicker_Breg .rcpInput,
.RadColorPicker_Breg .rcpHexInput,
.RadColorPicker_Breg .rcpMillionColorsPalette,
.RadColorPicker_Breg .rcpMillionColorsSlider div.rslTrack {
  background-color: @color2;
  border-color: @color3;
  color: #555555;
}
.RadColorPicker_Breg .rcpIcon a:active,
.RadColorPicker_Breg .rcpTabs .rcpSelectedTab,
.RadColorPicker_Breg .rcpTabs .rcpSelectedTab:hover,
.RadColorPicker_Breg .rcpButton:active {
  background-color: @color1;
  background-image: linear-gradient();
  border-color: #afafaf;
  color: @color0;
}
.RadColorPicker_Breg.rcpCustomColorWrapper {
  .rcpPalette {
    box-shadow: 2px 2px 3px rgba(221, 221, 221, 0.5);
  }
}