// Color variables (appears count calculates by raw css)
@color0: #333333;
// Appears 14 times
@color1: #cccccc;
// Appears 11 times
@color2: #ffffff;
// Appears 7 times
@color3: #eeeeee;
// Appears 6 times
@color4: #f5f5f5;
// Appears 5 times
@color5: #e6e6e6;
// Appears 4 times
@color6: #555555;
// Appears 4 times
@color7: #efefef;
// Appears 3 timest
@color8: #000000;
// Appears 3 times
@color9: #888888;
// Appears 3 times
@color10: #d0d0d0;
// Appears 2 times
@comboBox-border-radius: 4px;
@comboBox-border-color: #cccccc;
@comboBox-border-color-hover: darken(@comboBox-border-color,20);

.RadToolBarDropDown, .RadToolBarDropDown_Breg {
  .rtbWrap {
    padding: 0px !important;

    .rtbText {
      padding: 0px 3px !important;
      color: @color6;
      line-height: 1.5em;
    }
  }
}

.ComboBoxImage_Breg {
  display: none;
}

.comboBox {
  background-color: @color2 !important;
  border-radius: @comboBox-border-radius !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0 6px;
  min-height: 24px;
  color: @color6;
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-user-select: none;
  border-image: none !important;
  border: 1px solid @comboBox-border-color !important;

  &:hover {
    cursor: pointer !important;
    border-color: @comboBox-border-color-hover;
  }

  &:focus {
    .comboBox-focus;
  }
}

.comboBox-focus {
  border-color: rgb(102, 175, 233);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.dropdownArrow {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid @comboBox-border-color;
  position: absolute;
  right: 10px;
  top: 45%;
  pointer-events:none;
}

.FieldLabelSelect-Container,
.Dropdown-Container {
  position: relative;
  min-width: 70px;

  select {
    width: 100%;
    min-height: 27.5px;
    .comboBox;
  }

  select:disabled {
    background-color:#eeeeee !important;
    color:black !important;
  }

  &::after {
    .dropdownArrow;
  }
}

select:NOT([multiple]),
.rtbSplBtn span.rtbOut,
select.FieldLabel,
select.RadSpell_Breg,
.ComboBoxDropDown_Breg {
  .comboBox;
  position: relative;

  &:after {
    .dropdownArrow;
  }
}

select.RadSpell_Breg {
  -webkit-appearance: menulist;
  line-height: 13px;
  height: 28px !important;
  padding: 4px 3px !important;
}
/*.rcbInputCell {
  .comboBox;
  display:block;
  position:relative;
  width:inherit;
  height:auto !important;
  line-height:inherit !important;
  &:after{
    .dropdownArrow;
  }
  input:hover {
    cursor:pointer !important;
  }
}*/
.ComboBox_Breg:after {
  .dropdownArrow;
}

.RadComboBox_Breg,
.ComboBox_Breg,
.RadComboBox {
  .comboBox;
  display: block;
  position: relative;
  width: inherit;
  height: auto !important;
  line-height: inherit !important;

  > table {
    min-height:24px;
  }

  &:after {
    .dropdownArrow;
  }

  input:hover {
    cursor: pointer !important;
  }

  color: @color0;
  line-height: 1.42857;
  position: relative;
  /*&:hover {
      cursor:pointer;
    }
  .rcbInner,
  >input[type="text"] {
    .comboBox;
  }
  .rcbInput,*/
  /*.ComboBoxInput_Breg,
  .ComboBoxInputHover_Breg {
    height: 1.71429em !important;
    padding: 1.75px 6px !important;
    width: auto !important;
  }*/
  .rcbInputCell > .rcbInput {
    padding: 0 !important;
    height: auto !important;
    border-width: 0 !important;
  }

  .rcbEmptyMessage {
    color: @color6;
  }

  .rcbActionButton {
    background-color: @color2;
    border-color: @color3;
    color: @color0;
    width: 2.28571em;

    .rcbIconDown {
      font-size: 1em;
    }
  }

  .rcbLabel {
    line-height: 32px;
  }

  .rcbReadOnly {
    border-color: @color3;
    box-shadow: none;
    color: @color0;
  }

  .rcbReadOnly.rcbHovered {
    border-color: @color10;
    color: @color0;
  }

  .rcbReadOnly.rcbFocused {
    border-color: @color1;
    color: @color0;
  }

  .rcbReadOnly.rcbDisabled {
    background-color: @color3;
    border-color: @color1;
    color: @color9;
  }

  .rcbHovered,
  .ComboBoxInputHover_Breg {
    border-color: #c4c4c4;
    color: @color6;

    .rcbActionButton {
      background-color: @color5;
      border-color: @color10;
      color: @color0;
    }
  }

  .rcbFocused {
    border-color: @color1;
    box-shadow: none;
    color: @color6;

    .rcbActionButton {
      background-color: @color5;
      border-color: @color1;
      box-shadow: inset -2px 2px 3px rgba(0, 0, 0, 0.08);
      color: @color0;
    }
  }

  .rcbDisabled {
    background-color: @color3;
    border-color: @color1;
    color: @color9;
    opacity: 1;

    .rcbActionButton {
      background-color: @color3;
      border-color: @color1;
      color: @color9;
    }
  }
}

.RadComboBox_Breg_rtl {
  .rcbFocused {
    .rcbActionButton {
      box-shadow: none;
    }
  }
}

.rcbSlide {
  margin-left: -6px !important;
}

.RadComboBoxDropDown_Breg,
.ComboBoxDropDown_Breg,
.RadComboBoxDropDown,
.RadToolBarDropDown,
.RadToolBarDropDown_Breg {
  background: @color2;
  border-color: @color1;
  border-radius: @comboBox-border-radius;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: @color0;
  line-height: 1.42857;
  margin-top: 2px;
  overflow: hidden;

  .rcbScroll {
    padding: 5px 0;
    overflow: auto;
  }

  .rcbHeader {
    background-color: @color4;
    border-color: @color1;
    color: @color0;
  }

  .rcbFooter {
    background-color: @color4;
    border-color: @color1;
    color: @color0;
  }

  .rcbItem,
  .ComboBoxItem_Breg,
  .rtbItem {
    margin: 0;
    padding: 2px 12px;

    em {
      background-color: @color7;
      color: @color8;
    }

    > div {
      white-space: nowrap;

      > label {
        white-space: pre-line;
      }
    }
  }

  .rcbHovered,
  .ComboBoxItemHover_Breg,
  .rtbItemHovered {
    background-color: @color7 !important;
    color: @color8;
    margin: 0;
    padding: 2px 12px;
  }

  .rcbSelected,
  .ComboBoxItemSelect_Breg {
    background-color: #ff3300;
    color: @color2;
    margin: 0;
    padding: 2px 12px;
  }

  .rcbDisabled {
    margin: 0;
    padding: 2px 12px;
  }

  .rcbLoading {
    background-color: @color7;
    color: @color8;
    margin: 0;
    padding: 2px 12px;
  }

  .rcbCheckAllItems {
    background-color: @color4;
    color: @color0;
    padding: 0.14286em 0.85714em;
  }

  .rcbCheckAllItemsHovered {
    padding: 0.14286em 0.85714em;
  }

  .rcbMoreResults {
    background-color: @color4;
    border-color: @color1;
    color: @color0;

    a {
      border-top-color: @color0;
    }
  }

  .rcbSeparator {
    background: @color4;
    border-top: 1px solid @color1;
    color: @color0;
    margin-top: 10px;
  }
}

.RadComboBox.RadComboBox_Transparent {
  padding: 0 !important;
  background-color:transparent !important;

  input:hover {
    cursor: pointer;
  }

  > table {
    border-radius: @comboBox-border-radius;
    padding: 3px 6px;
    background-color: rgba(255, 255, 255, .05) !important;
    border-color: rgba(255, 255, 255, .05) !important;
    box-shadow: none !important;
    &.rcbHovered, &.rcbFocused {
      background-color: rgba(255, 255, 255, .85) !important;
    }
    * {
      background-color: transparent !important;
    }
  }

  table td.rcbInputCell {
    padding-left: 6px !Important;
  }
}

.rcbHovered:hover {
  cursor: pointer;

  .rcbInputCell {
    border-color: @comboBox-border-color !important;
  }
}

.rcbItem,
.rcbHovered {
  font-size: 1em !important;
}

td > .RadComboBox_Breg {
  /*width:100% !important;*/
  position: relative !important;
}

.rcbArrowCell, .rcbArrowCellRight {
  visibility: hidden;
  display: none;
}

.rcbReadOnly > .rcbInputCell {
  width: inherit !important;
}

/*.rtbSplBtn * {
  padding: 0 !important;
}

.rtbSplBtn .rtbOut {
  padding: 2.5px 6px !important;
  line-height: 1.5em;
}*/

.rcbInputCell {
  height: auto !important;
  padding: 0 !important;
  border-width: 0 !important;

  &:hover {
    border-width: 0 !important;
  }
}

.ComboBoxInput_Breg,
.ComboBoxInputHover_Breg {
  margin-bottom: 0;
  padding: 0 !important;
  border-color: transparent;
  border-radius: 0;
  color: #222222;
  background: transparent;
  box-shadow: none;
  max-width:none;
  /*width:auto !important;*/
  border-image:none;
  border:none;
  -webkit-appearance:none;
  background-image: none;
  background-clip:none;
}

.ComboBoxDropDown_Breg {
  z-index:1200 !important;
  font-size:12px;
  padding:0;
  &:after {
    border-color:white !important;
  }
  .ComboBoxItem_Breg,
  .ComboBoxItemHover_Breg {
    font-size:13px !important;
    &:focus,
    &:active,
    &:hover {
      font-size:13px !important;
    }
  }
}

select::-ms-expand {
    display: none;
}