﻿.RadToolBarDropDown .rtbWrap,
.RadToolBarDropDown_Breg .rtbWrap {
  padding: 0px !important;
}
.RadToolBarDropDown .rtbWrap .rtbText,
.RadToolBarDropDown_Breg .rtbWrap .rtbText {
  padding: 0px 3px !important;
  color: #555555;
  line-height: 1.5em;
}
.ComboBoxImage_Breg {
  display: none;
}
.comboBox {
  background-color: #ffffff !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0 6px;
  min-height: 24px;
  color: #555555;
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-user-select: none;
  border-image: none !important;
  border: 1px solid #cccccc !important;
}
.comboBox:hover {
  cursor: pointer !important;
  border-color: #999999;
}
.comboBox:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.comboBox-focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.dropdownArrow {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cccccc;
  position: absolute;
  right: 10px;
  top: 45%;
  pointer-events: none;
}
.FieldLabelSelect-Container,
.Dropdown-Container {
  position: relative;
  min-width: 70px;
}
.FieldLabelSelect-Container select,
.Dropdown-Container select {
  width: 100%;
  min-height: 27.5px;
  background-color: #ffffff !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0 6px;
  min-height: 24px;
  color: #555555;
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-user-select: none;
  border-image: none !important;
  border: 1px solid #cccccc !important;
}
.FieldLabelSelect-Container select:hover,
.Dropdown-Container select:hover {
  cursor: pointer !important;
  border-color: #999999;
}
.FieldLabelSelect-Container select:focus,
.Dropdown-Container select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.FieldLabelSelect-Container select:disabled,
.Dropdown-Container select:disabled {
  background-color: #eeeeee !important;
  color: black !important;
}
.FieldLabelSelect-Container::after,
.Dropdown-Container::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cccccc;
  position: absolute;
  right: 10px;
  top: 45%;
  pointer-events: none;
}
select:NOT([multiple]),
.rtbSplBtn span.rtbOut,
select.FieldLabel,
select.RadSpell_Breg,
.ComboBoxDropDown_Breg {
  background-color: #ffffff !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0 6px;
  min-height: 24px;
  color: #555555;
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-user-select: none;
  border-image: none !important;
  border: 1px solid #cccccc !important;
  position: relative;
}
select:NOT([multiple]):hover,
.rtbSplBtn span.rtbOut:hover,
select.FieldLabel:hover,
select.RadSpell_Breg:hover,
.ComboBoxDropDown_Breg:hover {
  cursor: pointer !important;
  border-color: #999999;
}
select:NOT([multiple]):focus,
.rtbSplBtn span.rtbOut:focus,
select.FieldLabel:focus,
select.RadSpell_Breg:focus,
.ComboBoxDropDown_Breg:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
select:NOT([multiple]):after,
.rtbSplBtn span.rtbOut:after,
select.FieldLabel:after,
select.RadSpell_Breg:after,
.ComboBoxDropDown_Breg:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cccccc;
  position: absolute;
  right: 10px;
  top: 45%;
  pointer-events: none;
}
select.RadSpell_Breg {
  -webkit-appearance: menulist;
  line-height: 13px;
  height: 28px !important;
  padding: 4px 3px !important;
}
/*.rcbInputCell {
  .comboBox;
  display:block;
  position:relative;
  width:inherit;
  height:auto !important;
  line-height:inherit !important;
  &:after{
    .dropdownArrow;
  }
  input:hover {
    cursor:pointer !important;
  }
}*/
.ComboBox_Breg:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cccccc;
  position: absolute;
  right: 10px;
  top: 45%;
  pointer-events: none;
}
.RadComboBox_Breg,
.ComboBox_Breg,
.RadComboBox {
  background-color: #ffffff !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0 6px;
  min-height: 24px;
  color: #555555;
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-user-select: none;
  border-image: none !important;
  border: 1px solid #cccccc !important;
  display: block;
  width: inherit;
  height: auto !important;
  line-height: inherit !important;
  color: #333333;
  line-height: 1.42857;
  position: relative;
  /*&:hover {
      cursor:pointer;
    }
  .rcbInner,
  >input[type="text"] {
    .comboBox;
  }
  .rcbInput,*/
  /*.ComboBoxInput_Breg,
  .ComboBoxInputHover_Breg {
    height: 1.71429em !important;
    padding: 1.75px 6px !important;
    width: auto !important;
  }*/
}
.RadComboBox_Breg:hover,
.ComboBox_Breg:hover,
.RadComboBox:hover {
  cursor: pointer !important;
  border-color: #999999;
}
.RadComboBox_Breg:focus,
.ComboBox_Breg:focus,
.RadComboBox:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.RadComboBox_Breg > table,
.ComboBox_Breg > table,
.RadComboBox > table {
  min-height: 24px;
}
.RadComboBox_Breg:after,
.ComboBox_Breg:after,
.RadComboBox:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cccccc;
  position: absolute;
  right: 10px;
  top: 45%;
  pointer-events: none;
}
.RadComboBox_Breg input:hover,
.ComboBox_Breg input:hover,
.RadComboBox input:hover {
  cursor: pointer !important;
}
.RadComboBox_Breg .rcbInputCell > .rcbInput,
.ComboBox_Breg .rcbInputCell > .rcbInput,
.RadComboBox .rcbInputCell > .rcbInput {
  padding: 0 !important;
  height: auto !important;
  border-width: 0 !important;
}
.RadComboBox_Breg .rcbEmptyMessage,
.ComboBox_Breg .rcbEmptyMessage,
.RadComboBox .rcbEmptyMessage {
  color: #555555;
}
.RadComboBox_Breg .rcbActionButton,
.ComboBox_Breg .rcbActionButton,
.RadComboBox .rcbActionButton {
  background-color: #ffffff;
  border-color: #eeeeee;
  color: #333333;
  width: 2.28571em;
}
.RadComboBox_Breg .rcbActionButton .rcbIconDown,
.ComboBox_Breg .rcbActionButton .rcbIconDown,
.RadComboBox .rcbActionButton .rcbIconDown {
  font-size: 1em;
}
.RadComboBox_Breg .rcbLabel,
.ComboBox_Breg .rcbLabel,
.RadComboBox .rcbLabel {
  line-height: 32px;
}
.RadComboBox_Breg .rcbReadOnly,
.ComboBox_Breg .rcbReadOnly,
.RadComboBox .rcbReadOnly {
  border-color: #eeeeee;
  box-shadow: none;
  color: #333333;
}
.RadComboBox_Breg .rcbReadOnly.rcbHovered,
.ComboBox_Breg .rcbReadOnly.rcbHovered,
.RadComboBox .rcbReadOnly.rcbHovered {
  border-color: #d0d0d0;
  color: #333333;
}
.RadComboBox_Breg .rcbReadOnly.rcbFocused,
.ComboBox_Breg .rcbReadOnly.rcbFocused,
.RadComboBox .rcbReadOnly.rcbFocused {
  border-color: #cccccc;
  color: #333333;
}
.RadComboBox_Breg .rcbReadOnly.rcbDisabled,
.ComboBox_Breg .rcbReadOnly.rcbDisabled,
.RadComboBox .rcbReadOnly.rcbDisabled {
  background-color: #eeeeee;
  border-color: #cccccc;
  color: #888888;
}
.RadComboBox_Breg .rcbHovered,
.ComboBox_Breg .rcbHovered,
.RadComboBox .rcbHovered,
.RadComboBox_Breg .ComboBoxInputHover_Breg,
.ComboBox_Breg .ComboBoxInputHover_Breg,
.RadComboBox .ComboBoxInputHover_Breg {
  border-color: #c4c4c4;
  color: #555555;
}
.RadComboBox_Breg .rcbHovered .rcbActionButton,
.ComboBox_Breg .rcbHovered .rcbActionButton,
.RadComboBox .rcbHovered .rcbActionButton,
.RadComboBox_Breg .ComboBoxInputHover_Breg .rcbActionButton,
.ComboBox_Breg .ComboBoxInputHover_Breg .rcbActionButton,
.RadComboBox .ComboBoxInputHover_Breg .rcbActionButton {
  background-color: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadComboBox_Breg .rcbFocused,
.ComboBox_Breg .rcbFocused,
.RadComboBox .rcbFocused {
  border-color: #cccccc;
  box-shadow: none;
  color: #555555;
}
.RadComboBox_Breg .rcbFocused .rcbActionButton,
.ComboBox_Breg .rcbFocused .rcbActionButton,
.RadComboBox .rcbFocused .rcbActionButton {
  background-color: #e6e6e6;
  border-color: #cccccc;
  box-shadow: inset -2px 2px 3px rgba(0, 0, 0, 0.08);
  color: #333333;
}
.RadComboBox_Breg .rcbDisabled,
.ComboBox_Breg .rcbDisabled,
.RadComboBox .rcbDisabled {
  background-color: #eeeeee;
  border-color: #cccccc;
  color: #888888;
  opacity: 1;
}
.RadComboBox_Breg .rcbDisabled .rcbActionButton,
.ComboBox_Breg .rcbDisabled .rcbActionButton,
.RadComboBox .rcbDisabled .rcbActionButton {
  background-color: #eeeeee;
  border-color: #cccccc;
  color: #888888;
}
.RadComboBox_Breg_rtl .rcbFocused .rcbActionButton {
  box-shadow: none;
}
.rcbSlide {
  margin-left: -6px !important;
}
.RadComboBoxDropDown_Breg,
.ComboBoxDropDown_Breg,
.RadComboBoxDropDown,
.RadToolBarDropDown,
.RadToolBarDropDown_Breg {
  background: #ffffff;
  border-color: #cccccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: #333333;
  line-height: 1.42857;
  margin-top: 2px;
  overflow: hidden;
}
.RadComboBoxDropDown_Breg .rcbScroll,
.ComboBoxDropDown_Breg .rcbScroll,
.RadComboBoxDropDown .rcbScroll,
.RadToolBarDropDown .rcbScroll,
.RadToolBarDropDown_Breg .rcbScroll {
  padding: 5px 0;
  overflow: auto;
}
.RadComboBoxDropDown_Breg .rcbHeader,
.ComboBoxDropDown_Breg .rcbHeader,
.RadComboBoxDropDown .rcbHeader,
.RadToolBarDropDown .rcbHeader,
.RadToolBarDropDown_Breg .rcbHeader {
  background-color: #f5f5f5;
  border-color: #cccccc;
  color: #333333;
}
.RadComboBoxDropDown_Breg .rcbFooter,
.ComboBoxDropDown_Breg .rcbFooter,
.RadComboBoxDropDown .rcbFooter,
.RadToolBarDropDown .rcbFooter,
.RadToolBarDropDown_Breg .rcbFooter {
  background-color: #f5f5f5;
  border-color: #cccccc;
  color: #333333;
}
.RadComboBoxDropDown_Breg .rcbItem,
.ComboBoxDropDown_Breg .rcbItem,
.RadComboBoxDropDown .rcbItem,
.RadToolBarDropDown .rcbItem,
.RadToolBarDropDown_Breg .rcbItem,
.RadComboBoxDropDown_Breg .ComboBoxItem_Breg,
.ComboBoxDropDown_Breg .ComboBoxItem_Breg,
.RadComboBoxDropDown .ComboBoxItem_Breg,
.RadToolBarDropDown .ComboBoxItem_Breg,
.RadToolBarDropDown_Breg .ComboBoxItem_Breg,
.RadComboBoxDropDown_Breg .rtbItem,
.ComboBoxDropDown_Breg .rtbItem,
.RadComboBoxDropDown .rtbItem,
.RadToolBarDropDown .rtbItem,
.RadToolBarDropDown_Breg .rtbItem {
  margin: 0;
  padding: 2px 12px;
}
.RadComboBoxDropDown_Breg .rcbItem em,
.ComboBoxDropDown_Breg .rcbItem em,
.RadComboBoxDropDown .rcbItem em,
.RadToolBarDropDown .rcbItem em,
.RadToolBarDropDown_Breg .rcbItem em,
.RadComboBoxDropDown_Breg .ComboBoxItem_Breg em,
.ComboBoxDropDown_Breg .ComboBoxItem_Breg em,
.RadComboBoxDropDown .ComboBoxItem_Breg em,
.RadToolBarDropDown .ComboBoxItem_Breg em,
.RadToolBarDropDown_Breg .ComboBoxItem_Breg em,
.RadComboBoxDropDown_Breg .rtbItem em,
.ComboBoxDropDown_Breg .rtbItem em,
.RadComboBoxDropDown .rtbItem em,
.RadToolBarDropDown .rtbItem em,
.RadToolBarDropDown_Breg .rtbItem em {
  background-color: #efefef;
  color: #000000;
}
.RadComboBoxDropDown_Breg .rcbItem > div,
.ComboBoxDropDown_Breg .rcbItem > div,
.RadComboBoxDropDown .rcbItem > div,
.RadToolBarDropDown .rcbItem > div,
.RadToolBarDropDown_Breg .rcbItem > div,
.RadComboBoxDropDown_Breg .ComboBoxItem_Breg > div,
.ComboBoxDropDown_Breg .ComboBoxItem_Breg > div,
.RadComboBoxDropDown .ComboBoxItem_Breg > div,
.RadToolBarDropDown .ComboBoxItem_Breg > div,
.RadToolBarDropDown_Breg .ComboBoxItem_Breg > div,
.RadComboBoxDropDown_Breg .rtbItem > div,
.ComboBoxDropDown_Breg .rtbItem > div,
.RadComboBoxDropDown .rtbItem > div,
.RadToolBarDropDown .rtbItem > div,
.RadToolBarDropDown_Breg .rtbItem > div {
  white-space: nowrap;
}
.RadComboBoxDropDown_Breg .rcbItem > div > label,
.ComboBoxDropDown_Breg .rcbItem > div > label,
.RadComboBoxDropDown .rcbItem > div > label,
.RadToolBarDropDown .rcbItem > div > label,
.RadToolBarDropDown_Breg .rcbItem > div > label,
.RadComboBoxDropDown_Breg .ComboBoxItem_Breg > div > label,
.ComboBoxDropDown_Breg .ComboBoxItem_Breg > div > label,
.RadComboBoxDropDown .ComboBoxItem_Breg > div > label,
.RadToolBarDropDown .ComboBoxItem_Breg > div > label,
.RadToolBarDropDown_Breg .ComboBoxItem_Breg > div > label,
.RadComboBoxDropDown_Breg .rtbItem > div > label,
.ComboBoxDropDown_Breg .rtbItem > div > label,
.RadComboBoxDropDown .rtbItem > div > label,
.RadToolBarDropDown .rtbItem > div > label,
.RadToolBarDropDown_Breg .rtbItem > div > label {
  white-space: pre-line;
}
.RadComboBoxDropDown_Breg .rcbHovered,
.ComboBoxDropDown_Breg .rcbHovered,
.RadComboBoxDropDown .rcbHovered,
.RadToolBarDropDown .rcbHovered,
.RadToolBarDropDown_Breg .rcbHovered,
.RadComboBoxDropDown_Breg .ComboBoxItemHover_Breg,
.ComboBoxDropDown_Breg .ComboBoxItemHover_Breg,
.RadComboBoxDropDown .ComboBoxItemHover_Breg,
.RadToolBarDropDown .ComboBoxItemHover_Breg,
.RadToolBarDropDown_Breg .ComboBoxItemHover_Breg,
.RadComboBoxDropDown_Breg .rtbItemHovered,
.ComboBoxDropDown_Breg .rtbItemHovered,
.RadComboBoxDropDown .rtbItemHovered,
.RadToolBarDropDown .rtbItemHovered,
.RadToolBarDropDown_Breg .rtbItemHovered {
  background-color: #efefef !important;
  color: #000000;
  margin: 0;
  padding: 2px 12px;
}
.RadComboBoxDropDown_Breg .rcbSelected,
.ComboBoxDropDown_Breg .rcbSelected,
.RadComboBoxDropDown .rcbSelected,
.RadToolBarDropDown .rcbSelected,
.RadToolBarDropDown_Breg .rcbSelected,
.RadComboBoxDropDown_Breg .ComboBoxItemSelect_Breg,
.ComboBoxDropDown_Breg .ComboBoxItemSelect_Breg,
.RadComboBoxDropDown .ComboBoxItemSelect_Breg,
.RadToolBarDropDown .ComboBoxItemSelect_Breg,
.RadToolBarDropDown_Breg .ComboBoxItemSelect_Breg {
  background-color: #ff3300;
  color: #ffffff;
  margin: 0;
  padding: 2px 12px;
}
.RadComboBoxDropDown_Breg .rcbDisabled,
.ComboBoxDropDown_Breg .rcbDisabled,
.RadComboBoxDropDown .rcbDisabled,
.RadToolBarDropDown .rcbDisabled,
.RadToolBarDropDown_Breg .rcbDisabled {
  margin: 0;
  padding: 2px 12px;
}
.RadComboBoxDropDown_Breg .rcbLoading,
.ComboBoxDropDown_Breg .rcbLoading,
.RadComboBoxDropDown .rcbLoading,
.RadToolBarDropDown .rcbLoading,
.RadToolBarDropDown_Breg .rcbLoading {
  background-color: #efefef;
  color: #000000;
  margin: 0;
  padding: 2px 12px;
}
.RadComboBoxDropDown_Breg .rcbCheckAllItems,
.ComboBoxDropDown_Breg .rcbCheckAllItems,
.RadComboBoxDropDown .rcbCheckAllItems,
.RadToolBarDropDown .rcbCheckAllItems,
.RadToolBarDropDown_Breg .rcbCheckAllItems {
  background-color: #f5f5f5;
  color: #333333;
  padding: 0.14286em 0.85714em;
}
.RadComboBoxDropDown_Breg .rcbCheckAllItemsHovered,
.ComboBoxDropDown_Breg .rcbCheckAllItemsHovered,
.RadComboBoxDropDown .rcbCheckAllItemsHovered,
.RadToolBarDropDown .rcbCheckAllItemsHovered,
.RadToolBarDropDown_Breg .rcbCheckAllItemsHovered {
  padding: 0.14286em 0.85714em;
}
.RadComboBoxDropDown_Breg .rcbMoreResults,
.ComboBoxDropDown_Breg .rcbMoreResults,
.RadComboBoxDropDown .rcbMoreResults,
.RadToolBarDropDown .rcbMoreResults,
.RadToolBarDropDown_Breg .rcbMoreResults {
  background-color: #f5f5f5;
  border-color: #cccccc;
  color: #333333;
}
.RadComboBoxDropDown_Breg .rcbMoreResults a,
.ComboBoxDropDown_Breg .rcbMoreResults a,
.RadComboBoxDropDown .rcbMoreResults a,
.RadToolBarDropDown .rcbMoreResults a,
.RadToolBarDropDown_Breg .rcbMoreResults a {
  border-top-color: #333333;
}
.RadComboBoxDropDown_Breg .rcbSeparator,
.ComboBoxDropDown_Breg .rcbSeparator,
.RadComboBoxDropDown .rcbSeparator,
.RadToolBarDropDown .rcbSeparator,
.RadToolBarDropDown_Breg .rcbSeparator {
  background: #f5f5f5;
  border-top: 1px solid #cccccc;
  color: #333333;
  margin-top: 10px;
}
.RadComboBox.RadComboBox_Transparent {
  padding: 0 !important;
  background-color: transparent !important;
}
.RadComboBox.RadComboBox_Transparent input:hover {
  cursor: pointer;
}
.RadComboBox.RadComboBox_Transparent > table {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-color: rgba(255, 255, 255, 0.05) !important;
  box-shadow: none !important;
}
.RadComboBox.RadComboBox_Transparent > table.rcbHovered,
.RadComboBox.RadComboBox_Transparent > table.rcbFocused {
  background-color: rgba(255, 255, 255, 0.85) !important;
}
.RadComboBox.RadComboBox_Transparent > table * {
  background-color: transparent !important;
}
.RadComboBox.RadComboBox_Transparent table td.rcbInputCell {
  padding-left: 6px !Important;
}
.rcbHovered:hover {
  cursor: pointer;
}
.rcbHovered:hover .rcbInputCell {
  border-color: #cccccc !important;
}
.rcbItem,
.rcbHovered {
  font-size: 1em !important;
}
td > .RadComboBox_Breg {
  /*width:100% !important;*/
  position: relative !important;
}
.rcbArrowCell,
.rcbArrowCellRight {
  visibility: hidden;
  display: none;
}
.rcbReadOnly > .rcbInputCell {
  width: inherit !important;
}
/*.rtbSplBtn * {
  padding: 0 !important;
}

.rtbSplBtn .rtbOut {
  padding: 2.5px 6px !important;
  line-height: 1.5em;
}*/
.rcbInputCell {
  height: auto !important;
  padding: 0 !important;
  border-width: 0 !important;
}
.rcbInputCell:hover {
  border-width: 0 !important;
}
.ComboBoxInput_Breg,
.ComboBoxInputHover_Breg {
  margin-bottom: 0;
  padding: 0 !important;
  border-color: transparent;
  border-radius: 0;
  color: #222222;
  background: transparent;
  box-shadow: none;
  max-width: none;
  /*width:auto !important;*/
  border-image: none;
  border: none;
  -webkit-appearance: none;
  background-image: none;
  background-clip: none;
}
.ComboBoxDropDown_Breg {
  z-index: 1200 !important;
  font-size: 12px;
  padding: 0;
}
.ComboBoxDropDown_Breg:after {
  border-color: white !important;
}
.ComboBoxDropDown_Breg .ComboBoxItem_Breg,
.ComboBoxDropDown_Breg .ComboBoxItemHover_Breg {
  font-size: 13px !important;
}
.ComboBoxDropDown_Breg .ComboBoxItem_Breg:focus,
.ComboBoxDropDown_Breg .ComboBoxItemHover_Breg:focus,
.ComboBoxDropDown_Breg .ComboBoxItem_Breg:active,
.ComboBoxDropDown_Breg .ComboBoxItemHover_Breg:active,
.ComboBoxDropDown_Breg .ComboBoxItem_Breg:hover,
.ComboBoxDropDown_Breg .ComboBoxItemHover_Breg:hover {
  font-size: 13px !important;
}
select::-ms-expand {
  display: none;
}