// Color variables (appears count calculates by raw css)
@color0:#333333;
// Appears 7 times
@color1:#ffffff;
// Appears 4 times
@color2:#d0d0d0;
// Appears 3 times
@color3:#e6e6e6;
// Appears 3 times
@color4:#eeeeee;
// Appears 3 times
// Width variables (appears count calculates by raw css)
@width0:1.42857em;
// Appears 2 times
.RadDataPager_Breg {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  color: @color0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  .rdpWrap {
    padding: 0;
  }
  .rdpNumPart {
    a {
      background-color: @color1;
      border-color: @color4;
      border-left-width: 0;
      border-radius: 0;
      border-style: solid;
      border-width: 1px;
      box-sizing: content-box;
      color: @color0;
      font-size: 1em;
      margin: 0;
      text-align: center;
      width: @width0;
      &:hover {
        background-color: @color3;
        border-color: @color2;
        color: @color0;
      }
    }
    a.rdpCurrentPage {
      background-color: #ff3300;
      border-color: #e62e00;
      color: @color1;
    }
  }
  .rdpPagerButton {
    background-color: @color1;
    border-color: @color4;
    border-radius: 0.28571em;
    border-style: solid;
    border-width: 1px;
    box-sizing: content-box;
    color: @color0;
    font-size: 1em;
    &:hover {
      background-color: @color3;
      border-color: @color2;
      color: @color0;
    }
  }
  .rdpActionButton {
    background-color: @color1;
    border-color: @color4;
    border-left-width: 0;
    border-style: solid;
    border-width: 1px;
    box-sizing: content-box;
    box-sizing: content-box;
    color: @color0;
    font-size: 1em;
    margin: 0;
    width: @width0;
    &:hover {
      background-color: @color3;
      border-color: @color2;
      color: @color0;
    }
  }
  .rdpPageFirst {
    border-left-width: 1px;
    border-radius: 0.28571em 0 0 0.28571em;
  }
  .rdpPageLast {
    border-radius: 0 0.28571em 0.28571em 0;
  }
  .NumericPages {
    .rdpNumPart {
      a {
        &:first-child {
          border-left-width: 1px;
          border-radius: 0.28571em 0 0 0.28571em;
        }
        &:last-child {
          border-radius: 0 0.28571em 0.28571em 0;
        }
      }
    }
  }
}