﻿.RadDataPager_Breg {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadDataPager_Breg .rdpWrap {
  padding: 0;
}
.RadDataPager_Breg .rdpNumPart a {
  background-color: #ffffff;
  border-color: #eeeeee;
  border-left-width: 0;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
  color: #333333;
  font-size: 1em;
  margin: 0;
  text-align: center;
  width: 1.42857em;
}
.RadDataPager_Breg .rdpNumPart a:hover {
  background-color: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadDataPager_Breg .rdpNumPart a.rdpCurrentPage {
  background-color: #ff3300;
  border-color: #e62e00;
  color: #ffffff;
}
.RadDataPager_Breg .rdpPagerButton {
  background-color: #ffffff;
  border-color: #eeeeee;
  border-radius: 0.28571em;
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
  color: #333333;
  font-size: 1em;
}
.RadDataPager_Breg .rdpPagerButton:hover {
  background-color: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadDataPager_Breg .rdpActionButton {
  background-color: #ffffff;
  border-color: #eeeeee;
  border-left-width: 0;
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
  color: #333333;
  font-size: 1em;
  margin: 0;
  width: 1.42857em;
}
.RadDataPager_Breg .rdpActionButton:hover {
  background-color: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadDataPager_Breg .rdpPageFirst {
  border-left-width: 1px;
  border-radius: 0.28571em 0 0 0.28571em;
}
.RadDataPager_Breg .rdpPageLast {
  border-radius: 0 0.28571em 0.28571em 0;
}
.RadDataPager_Breg .NumericPages .rdpNumPart a:first-child {
  border-left-width: 1px;
  border-radius: 0.28571em 0 0 0.28571em;
}
.RadDataPager_Breg .NumericPages .rdpNumPart a:last-child {
  border-radius: 0 0.28571em 0.28571em 0;
}