// Color variables (appears count calculates by raw css)
@color0:#dddddd;
// Appears 3 times
.RadDataForm_Breg {
  color: #333333;
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  .rdfLegend {
    border-color: @color0;
    font-size: 1.17em;
  }
  .rdfBorders {
    border-color: @color0;
  }
  .rdfHr {
    color: @color0;
  }
  .rdfFieldHint {
    color: #b3b3b3;
    font-size: 0.83em;
    line-height: .8;
    padding: 0 0 0 0.42em;
  }
  .rdfFieldHint.rdfBlock {
    padding: .42em 0 0 0;
  }
  .rdfLabel.rdfBlock {
    padding: 0 0 0.17em 0;
  }
  .rdfPager {
    margin-top: 1.25em;
    .rdfFirst {
      background-position: 3px 3px;
    }
    .rdfPrev {
      background-position: 1px -47px;
    }
    .rdfNext {
      background-position: 4px -97px;
    }
    .rdfLast {
      background-position: 4px -147px;
    }
    .rdfFirst,
    .rdfPrev,
    .rdfNext,
    .rdfLast {
      background: #ffffff no-repeat url("images/DataForm/sprite.png");
      border-radius: 4px;
      border: 1px solid #eeeeee;
      height: 32px;
      margin-left: 2px;
      width: 32px;
      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
}