// Color variables (appears count calculates by raw css)
@color0:#333333;
// Appears 4 times
@color1:#dddddd;
// Appears 4 times
// Width variables (appears count calculates by raw css)
@width0:2.28571em;
// Appears 2 times
// Height variables (appears count calculates by raw css)
@height0:2.28571em;
// Appears 2 times
.RadDock_Breg {
  background-color: #ffffff;
  border-color: @color1;
  color: @color0;
  font-size: 1em;
  .rdTitleWrapper {
    background-color: #f5f5f5;
    border-bottom-color: @color1;
    color: @color0;
    min-height: 2.14286em;
    padding: 0.28571em 0.85714em;
    .rdTitle {
      font-size: 1.14286em;
      padding: 0.25em 0em 0em;
    }
  }
  .rdCommands {
    margin: -1.21429em 0em 0em;
    .rdCommandButton {
      &:before {
        color: @color0;
        text-align: center;
      }
    }
  }
  .rdListItem {
    height: @height0;
    vertical-align: middle;
    width: @width0;
  }
  .rdCommandButton {
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    height: @height0;
    margin: 0em 0.14286em;
    overflow: hidden;
    width: @width0;
    &:hover {
      background-color: #ebebeb;
      border-color: #d0d0d0;
      border-radius: 0.21429em;
    }
    &:before {
      margin: 0.42857em 0em 0em 0.35714em;
    }
  }
  span.rdCustom {
    &:before {
      margin: 0.42857em 0em 0em 0.35714em;
    }
  }
  .rdContentWrapper {
    color: @color0;
  }
}
.RadDock_Breg.rdRoundedCorner {
  border-radius: 0.28571em;
}
@media 
  screen {
    and {
      (-webkit-min-device-pixel-ratio:0) {
          .RadDock_Breg .rdTitleWrapper {
            padding: 0.28571em 0.85714em 0.35714em 0.85714em;
          }
        }
      
    }
  
  .RadDock_Breg span.rdClose:before,
  .RadDock_Breg span.rdExpand:before,
  .RadDock_Breg span.rdCollapse:before,
  .RadDock_Breg span.rdPin:before,
  .RadDock_Breg span.rdUnpin:before {
    margin: 0.21429em 0em 0em 0.14286em;
  }
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdClose:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdExpand:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdCollapse:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdPin:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdUnpin:before {
    margin: 0.28571em 0em 0em 0.14286em;
  }
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdCustom:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg .rdCommandButton:before {
    margin: 0.5em 0em 0em 0.42857em;
  }
  .RadDock_Breg.RadDock.rdCollapsed {
    .rdTitleWrapper {
      border-bottom-color: @color1;
    }
  }
  .RadDock_Breg.rdRtl span.rdClose:before,
  .RadDock_Breg.rdRtl span.rdExpand:before,
  .RadDock_Breg.rdRtl span.rdCollapse:before,
  .RadDock_Breg.rdRtl span.rdPin:before,
  .RadDock_Breg.rdRtl span.rdUnpin:before {
    margin: 0.21429em 0.17857em 0em 0em;
  }
  .RadDock_Breg.rdRtl {
    span.rdCustom {
      &:before {
        margin: 0.42857em 0.5em 0em 0em;
      }
    }
    .rdCommandButton {
      &:before {
        margin: 0.42857em 0.5em 0em 0em;
      }
    }
  }
  .RadDockZone_Breg {
    background-color: #fcfcfc;
    border-color: @color1;
  }
 }