﻿.RadDock_Breg {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #333333;
  font-size: 1em;
}
.RadDock_Breg .rdTitleWrapper {
  background-color: #f5f5f5;
  border-bottom-color: #dddddd;
  color: #333333;
  min-height: 2.14286em;
  padding: 0.28571em 0.85714em;
}
.RadDock_Breg .rdTitleWrapper .rdTitle {
  font-size: 1.14286em;
  padding: 0.25em 0em 0em;
}
.RadDock_Breg .rdCommands {
  margin: -1.21429em 0em 0em;
}
.RadDock_Breg .rdCommands .rdCommandButton:before {
  color: #333333;
  text-align: center;
}
.RadDock_Breg .rdListItem {
  height: 2.28571em;
  vertical-align: middle;
  width: 2.28571em;
}
.RadDock_Breg .rdCommandButton {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  height: 2.28571em;
  margin: 0em 0.14286em;
  overflow: hidden;
  width: 2.28571em;
}
.RadDock_Breg .rdCommandButton:hover {
  background-color: #ebebeb;
  border-color: #d0d0d0;
  border-radius: 0.21429em;
}
.RadDock_Breg .rdCommandButton:before {
  margin: 0.42857em 0em 0em 0.35714em;
}
.RadDock_Breg span.rdCustom:before {
  margin: 0.42857em 0em 0em 0.35714em;
}
.RadDock_Breg .rdContentWrapper {
  color: #333333;
}
.RadDock_Breg.rdRoundedCorner {
  border-radius: 0.28571em;
}
@media screen {
  and (-webkit-min-device-pixel-ratio:0) .RadDock_Breg .rdTitleWrapper {
    padding: 0.28571em 0.85714em 0.35714em 0.85714em;
  }
  .RadDock_Breg span.rdClose:before,
  .RadDock_Breg span.rdExpand:before,
  .RadDock_Breg span.rdCollapse:before,
  .RadDock_Breg span.rdPin:before,
  .RadDock_Breg span.rdUnpin:before {
    margin: 0.21429em 0em 0em 0.14286em;
  }
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdClose:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdExpand:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdCollapse:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdPin:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdUnpin:before {
    margin: 0.28571em 0em 0em 0.14286em;
  }
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg span.rdCustom:before,
  .RadDock_Breg _:-ms-fullscreen,
  :root .RadDock_Breg .rdCommandButton:before {
    margin: 0.5em 0em 0em 0.42857em;
  }
  .RadDock_Breg.RadDock.rdCollapsed .rdTitleWrapper {
    border-bottom-color: #dddddd;
  }
  .RadDock_Breg.rdRtl span.rdClose:before,
  .RadDock_Breg.rdRtl span.rdExpand:before,
  .RadDock_Breg.rdRtl span.rdCollapse:before,
  .RadDock_Breg.rdRtl span.rdPin:before,
  .RadDock_Breg.rdRtl span.rdUnpin:before {
    margin: 0.21429em 0.17857em 0em 0em;
  }
  .RadDock_Breg.rdRtl span.rdCustom:before {
    margin: 0.42857em 0.5em 0em 0em;
  }
  .RadDock_Breg.rdRtl .rdCommandButton:before {
    margin: 0.42857em 0.5em 0em 0em;
  }
  .RadDockZone_Breg {
    background-color: #fcfcfc;
    border-color: #dddddd;
  }
}