﻿.RadDropDownTree_Breg {
  color: #333333;
  line-height: 1.42857;
}
.RadDropDownTree_Breg .rddtInner {
  background: #ffffff;
  border-color: #eeeeee;
  border-radius: 4px;
  color: #333333;
  height: 2.42857em;
  padding-right: 3.57143em;
}
.RadDropDownTree_Breg .rddtFakeInput {
  height: 2.14286em;
  line-height: 2.14286em;
}
.RadDropDownTree_Breg .rddtEmptyMessage {
  color: #888888;
  font-style: italic;
}
.RadDropDownTree_Breg .rddtClearButton {
  border-color: #eeeeee;
  border-radius: 0.14286em;
  color: #333333;
  right: 2.14286em;
}
.RadDropDownTree_Breg .rddtClearButton.rddtClearButtonHovered {
  background-color: linear-gradient(#e6e6e6);
  border-color: #d0d0d0;
  color: #333333;
}
.RadDropDownTree_Breg .rddtIcon {
  font-size: 1em;
  height: 2.28571em;
  line-height: 2.28571em;
  width: 2.28571em;
}
.RadDropDownTree_Breg .rddtHovered {
  background: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadDropDownTree_Breg .rddtFocused {
  background: #e6e6e6;
  border-color: #afafaf;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  color: #333333;
}
.rddtPopup_Breg {
  background: #ffffff;
  border-color: #dddddd;
  border-radius: 0.28571em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: #333333;
  margin-top: 0.14286em;
}
.rddtPopup_Breg .rddtFilter {
  background: #f5f5f5;
  border-color: #dddddd;
  border-radius: 0.21429em 0.21429em 0em 0em;
  color: #333333;
  margin: 0;
}
.rddtPopup_Breg .rddtFilter .rddtFilterInput {
  background: #ffffff;
  border-color: #dddddd;
  color: #555555;
  font: inherit;
}
.rddtPopup_Breg .rddtFilter .rddtFilterEmptyMessage {
  color: #888888;
  font-style: italic;
}
.rddtPopup_Breg .RadTreeView em {
  background: #efefef;
  color: #000000;
}