// Color variables (appears count calculates by raw css)
@color0:#333333;
// Appears 8 times
@color1:#dddddd;
// Appears 3 times
@color2:#ffffff;
// Appears 3 times
@color3:#e6e6e6;
// Appears 3 times
@color4:#d0d0d0;
// Appears 2 times
@color5:#888888;
// Appears 2 times
@color6:#eeeeee;
// Appears 2 times
.RadDropDownTree_Breg {
  color: @color0;
  line-height: 1.42857;
  .rddtInner {
    background: @color2;
    border-color: @color6;
    border-radius: 4px;
    color: @color0;
    height: 2.42857em;
    padding-right: 3.57143em;
  }
  .rddtFakeInput {
    height: 2.14286em;
    line-height: 2.14286em;
  }
  .rddtEmptyMessage {
    color: @color5;
    font-style: italic;
  }
  .rddtClearButton {
    border-color: @color6;
    border-radius: 0.14286em;
    color: @color0;
    right: 2.14286em;
  }
  .rddtClearButton.rddtClearButtonHovered {
    background-color: linear-gradient(@color3);
    border-color: @color4;
    color: @color0;
  }
  .rddtIcon {
    font-size: 1em;
    height: 2.28571em;
    line-height: 2.28571em;
    width: 2.28571em;
  }
  .rddtHovered {
    background: @color3;
    border-color: @color4;
    color: @color0;
  }
  .rddtFocused {
    background: @color3;
    border-color: #afafaf;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    color: @color0;
  }
}
.rddtPopup_Breg {
  background: @color2;
  border-color: @color1;
  border-radius: 0.28571em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: @color0;
  margin-top: 0.14286em;
  .rddtFilter {
    background: #f5f5f5;
    border-color: @color1;
    border-radius: 0.21429em 0.21429em 0em 0em;
    color: @color0;
    margin: 0;
    .rddtFilterInput {
      background: @color2;
      border-color: @color1;
      color: #555555;
      font: inherit;
    }
    .rddtFilterEmptyMessage {
      color: @color5;
      font-style: italic;
    }
  }
  .RadTreeView {
    em {
      background: #efefef;
      color: #000000;
    }
  }
}