// Color variables (appears count calculates by raw css)
@color0:#333333;
// Appears 5 times
@color1:#ffffff;
// Appears 3 times
@color2:#e6e6e6;
// Appears 2 times
@color3:#efefef;
// Appears 2 times
@color4:#000000;
// Appears 2 times
// Width variables (appears count calculates by raw css)
@width0:11.42857em;
// Appears 2 times
.RadDropDownList_Breg {
  color: @color0;
  line-height: 1.42857;
  width: @width0;
  .rddlInner {
    background-color: @color1;
    border-color: #eeeeee;
    border-radius: 4px;
    color: @color0;
    padding: 6px 32px 6px 12px;
  }
  .rddlIcon {
    font-size: 1em;
    height: 24px;
    line-height: 24px;
    margin-top: -12px;
    right: 0.28571em;
    top: 50%;
    width: 24px;
  }
  .rddlHovered {
    background-color: @color2;
    border-color: #d0d0d0;
    color: @color0;
  }
  .rddlFocused {
    background-color: @color2;
    border-color: #afafaf;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
    color: @color0;
  }
}
.rddlPopup_Breg {
  background-color: @color1;
  border-radius: 0.28571em;
  border: 1px solid #dddddd;
  color: @color0;
  line-height: 1.42857;
  margin-top: 2px;
  width: @width0;
  .rddlList {
    box-sizing: border-box;
    padding: 6px 0;
  }
  .rddlItem {
    padding: 2px 12px;
  }
  .rddlItemHovered {
    background-color: @color3;
    color: @color4;
  }
  .rddlItemSelected {
    background-color: #ff3300;
    color: @color1;
  }
  .rddlItemLoading {
    background-color: @color3;
    color: @color4;
  }
}