﻿.RadDropDownList_Breg {
  color: #333333;
  line-height: 1.42857;
  width: 11.42857em;
}
.RadDropDownList_Breg .rddlInner {
  background-color: #ffffff;
  border-color: #eeeeee;
  border-radius: 4px;
  color: #333333;
  padding: 6px 32px 6px 12px;
}
.RadDropDownList_Breg .rddlIcon {
  font-size: 1em;
  height: 24px;
  line-height: 24px;
  margin-top: -12px;
  right: 0.28571em;
  top: 50%;
  width: 24px;
}
.RadDropDownList_Breg .rddlHovered {
  background-color: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadDropDownList_Breg .rddlFocused {
  background-color: #e6e6e6;
  border-color: #afafaf;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
  color: #333333;
}
.rddlPopup_Breg {
  background-color: #ffffff;
  border-radius: 0.28571em;
  border: 1px solid #dddddd;
  color: #333333;
  line-height: 1.42857;
  margin-top: 2px;
  width: 11.42857em;
}
.rddlPopup_Breg .rddlList {
  box-sizing: border-box;
  padding: 6px 0;
}
.rddlPopup_Breg .rddlItem {
  padding: 2px 12px;
}
.rddlPopup_Breg .rddlItemHovered {
  background-color: #efefef;
  color: #000000;
}
.rddlPopup_Breg .rddlItemSelected {
  background-color: #ff3300;
  color: #ffffff;
}
.rddlPopup_Breg .rddlItemLoading {
  background-color: #efefef;
  color: #000000;
}