﻿.RadEditor_Breg {
  background-color: #f5f5f5;
  border-color: #dddddd;
  border-radius: 0.28571em;
  color: #333333;
  font-size: 1em;
}
.RadEditor_Breg .reToolIcon:before {
  font-size: 1.2307em;
  margin-left: 0.28571em \9;
  margin-left: 0.42857em;
}
.RadEditor_Breg .RadRibbonBar .reTool {
  height: 2.35714em;
  width: 2.35714em;
}
.RadEditor_Breg .RadRibbonBar .reTool:first-child {
  border-radius: 0.28571em 0em 0em 0.28571em;
}
.RadEditor_Breg .RadRibbonBar .reTool:last-child {
  border-radius: 0em 0.28571em 0.28571em 0em;
}
.RadEditor_Breg .RadRibbonBar .reTool.rrbSmallButton {
  height: 1.42857em;
  width: 1.42857em;
}
.RadEditor_Breg .RadRibbonBar .reDropdown {
  height: 2.14286em;
  line-height: 2.28571em;
}
.RadEditor_Breg .RadRibbonBar .reDropdown:before {
  line-height: 1.78571em;
}
.RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
  height: 2.28571em;
  width: 2.28571em;
}
.RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
  font-size: 1.35714em;
  font-size: 1em \9;
  vertical-align: top;
}
.RadEditor_Breg .RadRibbonBar .rrbMediumButton.reRibbonTool {
  height: 1.39286em;
}
.RadEditor_Breg .RadRibbonBar .rrbMediumButton.reRibbonTool .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
  height: 1.78571em;
  margin-top: -0.78571em;
}
.RadEditor_Breg .RadRibbonBar .rrbMediumButton.reRibbonTool .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
  vertical-align: text-top;
}
.RadEditor_Breg .RadRibbonBar .rrbLargeButton {
  height: 4.64286em;
  width: inherit;
}
.RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
  height: 2.85714em;
}
.RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
  font-size: 0.85714em \9;
  font-size: 2.21429em;
  font-size: 2.28571em;
  vertical-align: text-top;
}
.RadEditor_Breg .RadRibbonBar _:-ms-fullscreen {
  font-size: .38em;
  font-size: .79em;
}
.RadEditor_Breg .reToolBar {
  border: 0;
  padding: 0.16667em 0;
}
.RadEditor_Breg .reToolBar:after {
  background-color: #dddddd;
  content: "";
  display: inline-block;
  height: 2.42857em;
  margin: 0em 0.14286em 0em 0.21429em;
  vertical-align: top;
  width: 1px;
}
.RadEditor_Breg .reToolBar:last-child after {
  display: none;
}
.RadEditor_Breg .reToolBar li {
  border-color: #eeeeee;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}
.RadEditor_Breg .reToolBar li:first-child {
  border-radius: 0.28571em 0em 0em 0.28571em;
  border-width: 1px 1px 1px 0;
}
.RadEditor_Breg .reToolBar li:first-child .reTool {
  border-radius: 0.28571em 0em 0em 0.28571em;
}
.RadEditor_Breg .reToolBar li:first-child last-child {
  border-radius: 0.28571em;
}
.RadEditor_Breg .reToolBar li:first-child last-child .reTool {
  border-radius: 0.28571em;
}
.RadEditor_Breg .reToolBar li:first-child .reDropdown {
  border-radius: 0.28571em 0em 0em 0.28571em;
}
.RadEditor_Breg .reToolBar .reToolLastItem {
  border-radius: 0.28571em 0em 0em 0.28571em;
  border-width: 1px 1px 1px 0;
}
.RadEditor_Breg .reToolBar .reToolLastItem .reTool {
  border-radius: 0.28571em 0em 0em 0.28571em;
}
.RadEditor_Breg .reToolBar .reDropdown:last-child {
  border-radius: 0em 0.28571em 0.28571em 0em;
}
.RadEditor_Breg .reSeparator + li {
  border-left-width: 1px;
}
.RadEditor_Breg .reTool {
  background-color: #ffffff;
  border-radius: 0;
  height: 2.28571em;
  line-height: 1.75em;
  width: 2.28571em;
}
.RadEditor_Breg .reTool .reSplitArrow {
  margin: 0.35714em 0em 0em 0.5em;
  width: 1.07143em;
}
.RadEditor_Breg .reTool:hover .reSplitArrow {
  border-left-color: transparent;
}
.RadEditor_Breg .reTool.reSplitButton {
  width: 3.71429em;
}
.RadEditor_Breg .rePopupButton {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #333333;
}
.RadEditor_Breg .reCommentButton {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #333333;
}
.RadEditor_Breg .reAjaxSpellButton {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #333333;
}
.RadEditor_Breg .reCustomLinks a {
  color: #ff3300;
}
.RadEditor_Breg .reCustomLinks a:hover {
  color: #991e00;
}
.RadEditor_Breg .reDOMElement {
  color: #428bca;
}
.RadEditor_Breg .reDOMElementSelected {
  color: #3071a9;
}
.RadEditor_Breg li.reSeparator {
  border-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  max-width: 0.28571em;
  width: 0.28571em;
}
.RadEditor_Breg .reToolBarWrapperLeft {
  left: 0.21429em;
}
.RadEditor_Breg .reToolBarWrapperLeft li.reSeparator {
  border-bottom-color: transparent;
  border-color: transparent;
  border-top-color: transparent;
  display: none;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li {
  border-width: 1px 1px 0 1px;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:last-child {
  border-radius: 0em 0em 0.28571em 0.28571em;
  border-width: 1px;
}
.RadEditor_Breg .reToolBarWrapperLeft .reTool {
  width: 3.71429em;
}
.RadEditor_Breg .reToolBarWrapperLeft .reDropdown {
  width: 3.57em;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolIcon:before {
  margin-left: 0;
}
.RadEditor_Breg .reToolBarWrapperRight {
  right: 0.57143em;
}
.RadEditor_Breg .reToolBarWrapperRight li.reSeparator {
  border-bottom-color: transparent;
  border-color: transparent;
  border-top-color: transparent;
  display: none;
}
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li {
  border-width: 1px 1px 0 1px;
}
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:last-child {
  border-radius: 0em 0em 0.28571em 0.28571em;
  border-width: 1px;
}
.RadEditor_Breg .reToolBarWrapperRight .reTool {
  width: 3.71429em;
}
.RadEditor_Breg .reToolBarWrapperRight .reDropdown {
  width: 3.57em;
}
.RadEditor_Breg .reToolBarWrapperRight .reToolIcon:before {
  margin-left: 0;
}
.RadEditor_Breg .reContent {
  background-color: #ffffff;
  border-color: #dddddd;
  border-radius: 0.28571em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.RadEditor_Breg .reTableDiv .reModule {
  border-top-color: #dddddd;
}
.RadEditor_Breg .reTableDiv .reRow {
  border-top-color: #dddddd;
}
.RadEditor_Breg .reTableDiv input[type="text"] {
  background-color: #ffffff;
  border-color: #dddddd;
  border-radius: 0.28571em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 2.42857em;
  padding: 0.42857em 0.85714em;
}
.RadEditor_Breg .reTableDiv input[type="text"]:hover {
  background-color: #ffffff;
  border-color: #c4c4c4;
  color: #555555;
}
.RadEditor_Breg .reTableDiv input[type="text"]:focus {
  background-color: #ffffff;
  border-color: #ff471a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  color: #555555;
  outline: 0 none;
}
.RadEditor_Breg .reTableDiv input[type="text"]:active {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #555555;
}
.RadEditor_Breg .reRemoveDOMElement {
  color: red;
}
.RadEditor_Breg .reRemoveDOMElement:before {
  color: red;
}
.RadEditor_Breg .reResize:before {
  color: #d9d9d9;
  margin: 0.45em 0 0 -0.3em;
}
.RadEditor_Breg .reFormatSetsHeader {
  background-color: #fcfcfc;
  color: #333333;
}
.RadEditor_Breg .reModes a {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  border-radius: 0.28571em;
  color: #333333;
  height: 2.42857em;
  line-height: 2.14286em;
  margin-right: 0.71429em;
}
.RadEditor_Breg .reModes a:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #d0d0d0;
  box-shadow: inset 0 0 1px #ffffff;
  color: #333333;
}
.RadEditor_Breg .reModes a .reIcon:before {
  margin: 0.15em 0 0 0.33333em;
}
.RadEditor_Breg .reDropdown {
  height: 1.96429em;
  line-height: 1.85714em;
}
.RadEditor_Breg .reDropdown:before {
  content: "\E00E";
  font-size: 1.75em;
  right: -0.21429em;
  top: -0.14286em;
}
.RadEditor_Breg .reStatistic {
  color: #999999;
}
.RadEditor_Breg .reModule .reRow {
  height: 2.57143em;
}
.RadEditor_Breg .reRow .reLabel + span {
  margin: 0em 1.42857em 0em 0.71429em;
}
.RadEditor_Breg .reRow .reLabel + .reTool {
  margin: 0em 1.42857em 0em 0.71429em;
}
.RadEditor_Breg .reRow .reLabel + .reDropdown {
  margin: 0em 1.42857em 0em 0.71429em;
}
.RadEditor_Breg .reRow .reSplitButton {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  border-radius: 0.28571em;
  color: #333333;
  height: 2.42857em;
  position: relative;
  width: 4.78571em;
}
.RadEditor_Breg .reRow .reSplitButton:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #d0d0d0;
  box-shadow: inset 0 0 1px #ffffff;
  color: #333333;
}
.RadEditor_Breg .reRow .reSplitButton:active {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadEditor_Breg .reRow .reSplitButton .reSplitArrow {
  border-left: 1px solid #dddddd;
  border-radius: 0em 0.28571em 0.28571em 0em;
  height: 2.28571em;
  margin: 0;
  position: absolute;
  right: 0;
  width: 2.35714em;
}
.RadEditor_Breg .reRow .reSplitButton .reSplitArrow:before {
  line-height: 1.5em;
  margin: 0 0 0 0.1em;
}
.RadEditor_Breg .reRow .reSpinBox {
  width: 6.07143em;
}
.RadEditor_Breg .reRow .reSpinBox input[type="text"] {
  background-color: #ffffff;
  border-color: #dddddd;
  border-radius: 0.28571em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  height: 2.42857em;
  padding: 0.08333em 2.5em 0.08333em 0.08333em;
  width: 6.07143em;
}
.RadEditor_Breg .reRow .reSpinBox input[type="text"]:hover {
  background-color: #ffffff;
  border-color: #c4c4c4;
  color: #555555;
}
.RadEditor_Breg .reRow .reSpinBox input[type="text"]:focus {
  background-color: #ffffff;
  border-color: #ff471a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  color: #555555;
  outline: 0 none;
}
.RadEditor_Breg .reRow .reSpinBox input[type="text"]:active {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #555555;
}
.RadEditor_Breg .reRow .reSpinBox .reSpinBoxButtons {
  border-left: 1px solid #dddddd;
  height: 2.35714em;
  width: 2.35714em;
}
.RadEditor_Breg .reRow .reSetCellProperties {
  border-radius: 0.28571em;
  border: 1px solid #dddddd;
}
.RadEditor_Breg .reRow .reSetCellProperties.reToolIcon:before {
  line-height: 1.57143em \9;
  line-height: 1.85714em;
  margin-left: 0.25em \9;
  margin-left: 0.39286em;
}
.RadEditor_Breg .reRow .reclassName {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  border-radius: 0.28571em;
  color: #333333;
  height: 2.14286em;
}
.RadEditor_Breg .reRow .reclassName:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #d0d0d0;
  color: #333333;
}
.RadEditor_Breg .reRow .reclassName:focus {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
  outline-color: #d0d0d0;
  outline-offset: -2px;
  outline-width: thin;
}
.RadEditor_Breg .reRow .reclassName:active {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadEditor_Breg .reRow .reTool {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  border-radius: 0.28571em;
  color: #333333;
}
.RadEditor_Breg .reRow .reTool:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #d0d0d0;
  color: #333333;
}
.RadEditor_Breg .reRow .reTool:focus {
  outline-color: #d0d0d0;
  outline-offset: -2px;
  outline-width: thin;
}
.RadEditor_Breg .reRow .reTool:active {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadEditor_Breg .reSpinBoxButtons span {
  border-radius: 0;
  height: 1.07143em;
  right: 0.07143em;
  width: 2.14286em;
}
.RadEditor_Breg .reSpinBoxButtons span:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #d0d0d0;
  color: #333333;
}
.RadEditor_Breg .reSpinBoxButtons span:active {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #afafaf;
  color: #333333;
}
.RadEditor_Breg .reSpinBoxButtons .reSpinBoxIncrease {
  top: 0.07143em;
}
.RadEditor_Breg .reSpinBoxButtons .reSpinBoxDecrease {
  bottom: 0;
}
.RadEditor_Breg .reBottomZone .reToolBar li {
  border: 0;
}
.RadEditor_Breg .reBottomZone .reToolBar li:first-child .reTool {
  border-width: 1px;
}
.RadEditor_Breg .reBottomZone .reToolBar .reTool {
  border-radius: 0;
  border-width: 1px 1px 1px 0;
  height: 2.42857em;
  width: 2.42857em;
}
.RadEditor_Breg .reBottomZone .reToolBar .reSeparator + li .reTool {
  border-width: 1px;
}
.RadEditor_Breg .reBottomZone .reTool.reSplitButton {
  width: 4.78571em;
}
:root .RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
  font-size: .79em;
}
:root .RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
  font-size: .38em;
}
.RadEditor_Breg.rePopupContainer,
.RadEditor_Breg .rePopupTitle,
.RadEditor_Breg .reCommentInfoPanel,
.RadEditor_Breg .reCommentView,
.RadEditor_Breg .reCommentViewText,
.RadEditor_Breg .reCommentEdit {
  background-color: #fcfcfc;
  background-image: linear-gradient(to bottom, #fefefe 0, #e6e6e6 100%);
  border-color: #dddddd;
}
.RadEditor_Breg .reToolBar li:last-child,
.RadEditor_Breg .reToolBar li:last-child .reTool,
.RadEditor_Breg .reToolBar .reToolLastItem,
.RadEditor_Breg .reToolBar .reToolLastItem .reTool {
  border-radius: 0em 0.28571em 0.28571em 0em;
}
.RadEditor_Breg .reTool:hover,
.RadEditor_Breg .reToolText:hover,
.RadEditor_Breg .reDropdown:hover,
.RadEditor_Breg.reAlignmentSelector td div:hover:before,
.RadEditor_Breg .rePopupButton:hover,
.RadEditor_Breg .reCommentButton:hover,
.RadEditor_Breg .reAjaxSpellButton:hover {
  background-color: #e6e6e6;
  border-color: transparent;
}
.RadEditor_Breg .reTool:active,
.RadEditor_Breg .reTool:focus,
.RadEditor_Breg .reToolText:active,
.RadEditor_Breg .reToolText:focus,
.RadEditor_Breg .reToolSelected,
.RadEditor_Breg .reToolSelected:hover,
.RadEditor_Breg .reDropdown:active,
.RadEditor_Breg .reDropdown:focus,
.RadEditor_Breg .rePopupButton:active,
.RadEditor_Breg .rePopupButton:focus,
.RadEditor_Breg .reCommentButton:active,
.RadEditor_Breg .reCommentButton:focus,
.RadEditor_Breg .reAjaxSpellButton:focus,
.RadEditor_Breg .reAjaxSpellButton:active {
  background-color: #e6e6e6;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadEditor_Breg .reTool:before,
.RadEditor_Breg .reTool.reToolDisabled:hover:before,
.RadEditor_Breg .reTool.reToolDisabled:active:before,
.RadEditor_Breg .reTool.reToolDisabled:focus:before,
.RadEditor_Breg .reTool.reToolDisabled:hover .reSplitArrow:before,
.RadEditor_Breg .reTool.reToolDisabled:hover .reSplitArrow:hover:before,
.RadEditor_Breg .reToolText,
.RadEditor_Breg .reSplitArrow:before,
.RadEditor_Breg .reDropdown:before,
.RadEditor_Breg .reModes .reIcon:before,
.RadEditor_Breg .reCustomColor {
  color: #333333;
}
.RadEditor_Breg .reTool:hover:before,
.RadEditor_Breg .reTool:active:before,
.RadEditor_Breg .reTool:focus:before,
.RadEditor_Breg .reToolSelected:before,
.RadEditor_Breg .reTool:hover .reSplitArrow:hover:before,
.RadEditor_Breg .reTool:hover .reSplitArrow:active:before,
.RadEditor_Breg .reTool:hover .reSplitArrow:focus:before,
.RadEditor_Breg .reDropdown:hover,
.RadEditor_Breg .reDropdown:hover:before,
.RadEditor_Breg .reDropdown:active,
.RadEditor_Breg .reDropdown:active:before,
.RadEditor_Breg .reDropdown:focus,
.RadEditor_Breg .reDropdown:focus:before,
.RadEditor_Breg .reModes a:hover,
.RadEditor_Breg .reModes a:hover .reIcon:before,
.RadEditor_Breg .reModes a:active,
.RadEditor_Breg .reModes a:focus,
.RadEditor_Breg .reModes a:active .reIcon:before,
.RadEditor_Breg .reModes a:focus .reIcon:before,
.RadEditor_Breg .reModes .reSelectedMode,
.RadEditor_Breg .reModes .reSelectedMode .reIcon:before,
.RadEditor_Breg.reAlignmentSelector td div:hover:before,
.RadEditor_Breg .rePopupButton:hover,
.RadEditor_Breg .reCommentButton:hover,
.RadEditor_Breg .rePopupButton:active,
.RadEditor_Breg .rePopupButton:focus,
.RadEditor_Breg .reCommentButton:active,
.RadEditor_Breg .reCommentButton:focus,
.RadEditor_Breg .reSpinBoxButtons span:hover:before,
.RadEditor_Breg .reAjaxSpellButton:hover {
  color: #333333;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child,
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar .reSeparator + li,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar .reSeparator + li {
  border-width: 1px 1px 0 1px;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child,
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child .reTool,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child .reTool {
  border-radius: 0.28571em 0.28571em 0em 0em;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:last-child .reTool,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:last-child .reTool,
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:last-child .reDropdown,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:last-child .reDropdown {
  border-radius: 0em 0em 0.28571em 0.28571em;
}
.RadEditor_Breg .reDropdown.reToolDisabled,
.RadEditor_Breg .reDropdown.reToolDisabled:hover,
.RadEditor_Breg .reDropdown.reToolDisabled:active,
.RadEditor_Breg .reDropdown.reToolDisabled:focus,
.RadEditor_Breg .reDropdown.reToolDisabled:before,
.RadEditor_Breg .reDropdown.reToolDisabled:hover:before,
.RadEditor_Breg .reDropdown.reToolDisabled:active:before,
.RadEditor_Breg .reDropdown.reToolDisabled:focus:before,
.RadEditor_Breg.reInsertTable .reTableWizard.reTool:hover:before {
  color: #333333;
}
.RadEditor_Breg .reDropdown,
.RadEditor_Breg .reDropdown.reToolDisabled,
.RadEditor_Breg .reDropdown.reToolDisabled:hover,
.RadEditor_Breg .reDropdown.reToolDisabled:active,
.RadEditor_Breg .reDropdown.reToolDisabled:focus {
  background-color: #ffffff;
  border-color: transparent;
  color: #333333;
  margin: 0;
}
.RadEditor_Breg.reDropDownBody.reAjaxSpellCheck input[type="text"] {
  background-color: #ffffff;
  border-color: #dddddd;
  border-radius: 0.28571em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 2.42857em;
  padding: 0.42857em 0.85714em;
}
.RadEditor_Breg.reDropDownBody.reAjaxSpellCheck input[type="text"]:hover {
  background-color: #ffffff;
  border-color: #c4c4c4;
  color: #555555;
}
.RadEditor_Breg.reDropDownBody.reAjaxSpellCheck input[type="text"]:focus {
  background-color: #ffffff;
  border-color: #ff471a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  color: #555555;
  outline: 0 none;
}
.RadEditor_Breg.reDropDownBody.reAjaxSpellCheck input[type="text"]:active {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #555555;
}
.RadEditor_Breg.reToolBarLeft .reResize:before {
  margin: -0.45em 0 0;
}
.RadEditor_Breg.reToolBarRight .reResize:before {
  margin: -0.45em 0 0;
}
.RadEditor_Breg.reInlineEditor:hover {
  border-color: #dddddd;
}
.RadEditor_Breg.RadWindow {
  background-color: #fcfcfc;
  border-color: #d9d9d9;
}
.RadEditor_Breg.RadWindow .rwContent {
  background-color: #fcfcfc;
}
.RadEditor_Breg.RadWindow.reInlineEditor:hover {
  border-color: #d9d9d9;
}
.RadEditor_Breg.reInlineEditorSelected {
  border-color: #dddddd;
}
.RadEditor_Breg.reInlineEditorSelected:hover {
  border-color: #dddddd;
}
.RadEditor_Breg.reInsertTable td {
  border-color: #dddddd;
}
.RadEditor_Breg.reInsertTable .reItemOver {
  background-color: #fcfcfc;
  color: #333333;
}
.RadEditor_Breg .reModes a:active,
.RadEditor_Breg .reModes a:focus,
.RadEditor_Breg .reModes .reSelectedMode,
.RadEditor_Breg .reModes .reSelectedMode:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadEditor_Breg.reDropDownBody {
  background-color: #ffffff;
}
.RadEditor_Breg.reDropDownBody .RadEditor_Breg {
  background-color: #ffffff;
}
.RadEditor_Breg.reDropDownBody li {
  border-color: #dddddd;
  padding: 0.28571em 0.35714em 0.28571em;
}
.RadEditor_Breg.reDropDownBody li:hover {
  background-color: #fcfcfc;
  border-color: #c4c4c4;
}
.RadEditor_Breg.reDropDownBody li:hover .reTool {
  background-color: #fcfcfc;
  border-color: #c4c4c4;
}
.RadEditor_Breg.reDropDownBody .reToolBar li {
  border-radius: 0;
  border: 0;
}
.RadEditor_Breg.reDropDownBody .reToolBar .reTool {
  height: 1.21429em;
  line-height: 1.21429em;
}
.RadEditor_Breg.reDropDownBody .reToolBar .reToolIcon:before {
  display: inline-block;
  margin-top: -0.21429em;
  vertical-align: top;
}
.RadEditor_Breg.reDropDownBody.reColorPicker {
  height: 17.5em !important;
  width: 19.64286em !important;
}
.RadEditor_Breg.reDropDownBody.reColorPicker li {
  height: 1.42857em;
  padding: 0;
  width: 1.42857em;
}
.RadEditor_Breg.reDropDownBody.reColorPicker li div {
  height: 1.42857em;
  width: 1.42857em;
}
.RadEditor_Breg.reDropDownBody.reColorPicker li.reClear {
  height: 0;
  width: 0;
}
.RadEditor_Breg.reDropDownBody.reInsertTable {
  width: 1 1.42857em !important;
}
.RadEditor_Breg.reDropDownBody.reInsertTable .reToolBar .reTool {
  width: 1.7em;
}
.RadEditor_Breg.reDropDownBody.reInsertTable li:hover {
  background-color: transparent;
  opacity: .7;
}
.RadEditor_Breg.reDropDownBody.reInsertTable li:hover .reTool {
  background-color: transparent;
}
.RadEditor_Breg.reDropDownBody.reInsertTable li .reTool {
  background-color: transparent;
}
.RadEditor_Breg.reDropDownBody.reAlignmentSelector {
  width: 7.5em !important;
}
.RadEditor_Breg.reDropDownBody.reInsertSymbol {
  width: 11.78571em !important;
}
.reToolBar.RadEditor_Breg {
  background-color: transparent;
  border-color: transparent;
}
.reToolBar.RadEditor_Breg li {
  border-color: #eeeeee;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}
.reToolBar.RadEditor_Breg li:first-child {
  border-radius: 0.28571em 0em 0em 0.28571em;
  border-width: 1px;
}
.reToolBar.RadEditor_Breg li:first-child .reTool {
  border-radius: 0.28571em 0em 0em 0.28571em;
}
.reToolBar.RadEditor_Breg .reSeparator {
  border-color: transparent;
}
.reToolBar.RadEditor_Breg .reSeparator + li {
  border-width: 1px;
}
.reToolBar.RadEditor_Breg li:last-child,
.reToolBar.RadEditor_Breg .reToolLastItem,
.reToolBar.RadEditor_Breg li:last-child .reTool,
.reToolBar.RadEditor_Breg .reToolLastItem .reTool {
  border-radius: 0em 0.28571em 0.28571em 0em;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .RadEditor_Breg .reToolIcon:before {
    margin-left: 0.28571em;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadEditor_Breg .reToolIcon:before {
    margin-left: 0.35714em;
  }
}
@media screen {
  .RadEditor_Breg .reToolIcon:before {
    font-size: .8em;
  }
}
@media screen {
  .RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
    font-size: 1.28571em;
  }
  .RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
    font-size: 2.21429em;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadEditor_Breg .reTool {
    height: 2.3em;
    line-height: 2em;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadEditor_Breg .reDropdown {
    height: 2em;
  }
}