// Color variables (appears count calculates by raw css)
@color0:#333333;
// Appears 31 times
@color1:#ffffff;
// Appears 26 times
@color2:#dddddd;
// Appears 20 times
@color3:#e6e6e6;
// Appears 14 times
@color4:#555555;
// Appears 12 times
@color5:#eeeeee;
// Appears 9 times
@color6:#fcfcfc;
// Appears 7 times
@color7:#d0d0d0;
// Appears 7 times
@color8:#afafaf;
// Appears 6 times
@color9:#c4c4c4;
// Appears 5 times
@color10:#d9d9d9;
// Appears 3 times
@color11:#ff471a;
// Appears 3 times
// Width variables (appears count calculates by raw css)
@width6:2.35714em;
// Appears 3 times
@width9:1.42857em;
// Appears 3 times
@width12:3.71429em;
// Appears 3 times
// Height variables (appears count calculates by raw css)
@height6:2.42857em;
// Appears 7 times
@height8:1.42857em;
// Appears 3 times
@height9:2.28571em;
// Appears 3 times
.RadEditor_Breg {
  background-color: #f5f5f5;
  border-color: @color2;
  border-radius: 0.28571em;
  color: @color0;
  font-size: 1em;
  .reToolIcon {
    &:before {
      font-size: 1.2307em;
      margin-left: 0.28571em \9;
      margin-left: 0.42857em;
    }
  }
  .RadRibbonBar {
    .reTool {
      height: 2.35714em;
      width: @width6;
      &:first-child {
        border-radius: 0.28571em 0em 0em 0.28571em;
      }
      &:last-child {
        border-radius: 0em 0.28571em 0.28571em 0em;
      }
    }
    .reTool.rrbSmallButton {
      height: @height8;
      width: @width9;
    }
    .reDropdown {
      height: 2.14286em;
      line-height: @height9;
      &:before {
        line-height: 1.78571em;
      }
    }
    .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
      height: @height9;
      width: 2.28571em;
      &:before {
        font-size: 1.35714em;
        font-size: 1em \9;
        vertical-align: top;
      }
    }
    .rrbMediumButton.reRibbonTool {
      height: 1.39286em;
      .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
        height: 1.78571em;
        margin-top: -0.78571em;
        &:before {
          vertical-align: text-top;
        }
      }
    }
    .rrbLargeButton {
      height: 4.64286em;
      width: inherit;
      .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
        height: 2.85714em;
        &:before {
          font-size: 0.85714em \9;
          font-size: 2.21429em;
          font-size: 2.28571em;
          vertical-align: text-top;
        }
      }
    }
    _ {
      &:-ms-fullscreen {
        font-size: .38em;
        font-size: .79em;
      }
    }
  }
  .reToolBar {
    border: 0;
    padding: 0.16667em 0;
    &:after {
      background-color: @color2;
      content: "";
      display: inline-block;
      height: @height6;
      margin: 0em 0.14286em 0em 0.21429em;
      vertical-align: top;
      width: 1px;
    }
    &:last-child {
      after {
        display: none;
      }
    }
    li {
      border-color: @color5;
      border-radius: 0;
      border-style: solid;
      border-width: 1px 1px 1px 0;
      &:first-child {
        border-radius: 0.28571em 0em 0em 0.28571em;
        border-width: 1px 1px 1px 0;
        .reTool {
          border-radius: 0.28571em 0em 0em 0.28571em;
        }
        last-child {
          border-radius: 0.28571em;
          .reTool {
            border-radius: 0.28571em;
          }
        }
        .reDropdown {
          border-radius: 0.28571em 0em 0em 0.28571em;
        }
      }
    }
    .reToolLastItem {
      border-radius: 0.28571em 0em 0em 0.28571em;
      border-width: 1px 1px 1px 0;
      .reTool {
        border-radius: 0.28571em 0em 0em 0.28571em;
      }
    }
    .reDropdown {
      &:last-child {
        border-radius: 0em 0.28571em 0.28571em 0em;
      }
    }
  }
  .reSeparator+li {
    border-left-width: 1px;
  }
  .reTool {
    background-color: @color1;
    border-radius: 0;
    height: @height9;
    line-height: 1.75em;
    width: 2.28571em;
    .reSplitArrow {
      margin: 0.35714em 0em 0em 0.5em;
      width: 1.07143em;
    }
    &:hover {
      .reSplitArrow {
        border-left-color: transparent;
      }
    }
  }
  .reTool.reSplitButton {
    width: @width12;
  }
  .rePopupButton {
    background-color: @color1;
    background-image: linear-gradient();
    border-color: @color5;
    color: @color0;
  }
  .reCommentButton {
    background-color: @color1;
    background-image: linear-gradient();
    border-color: @color5;
    color: @color0;
  }
  .reAjaxSpellButton {
    background-color: @color1;
    background-image: linear-gradient();
    border-color: @color5;
    color: @color0;
  }
  .reCustomLinks {
    a {
      color: #ff3300;
      &:hover {
        color: #991e00;
      }
    }
  }
  .reDOMElement {
    color: #428bca;
  }
  .reDOMElementSelected {
    color: #3071a9;
  }
  li.reSeparator {
    border-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    max-width: 0.28571em;
    width: 0.28571em;
  }
  .reToolBarWrapperLeft {
    left: 0.21429em;
    li.reSeparator {
      border-bottom-color: transparent;
      border-color: transparent;
      border-top-color: transparent;
      display: none;
    }
    .reToolBar {
      li {
        border-width: 1px 1px 0 1px;
        &:last-child {
          border-radius: 0em 0em 0.28571em 0.28571em;
          border-width: 1px;
        }
      }
    }
    .reTool {
      width: @width12;
    }
    .reDropdown {
      width: 3.57em;
    }
    .reToolIcon {
      &:before {
        margin-left: 0;
      }
    }
  }
  .reToolBarWrapperRight {
    right: 0.57143em;
    li.reSeparator {
      border-bottom-color: transparent;
      border-color: transparent;
      border-top-color: transparent;
      display: none;
    }
    .reToolBar {
      li {
        border-width: 1px 1px 0 1px;
        &:last-child {
          border-radius: 0em 0em 0.28571em 0.28571em;
          border-width: 1px;
        }
      }
    }
    .reTool {
      width: @width12;
    }
    .reDropdown {
      width: 3.57em;
    }
    .reToolIcon {
      &:before {
        margin-left: 0;
      }
    }
  }
  .reContent {
    background-color: @color1;
    border-color: @color2;
    border-radius: 0.28571em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }
  .reTableDiv {
    .reModule {
      border-top-color: @color2;
    }
    .reRow {
      border-top-color: @color2;
    }
    input[type="text"] {
      background-color: @color1;
      border-color: @color2;
      border-radius: 0.28571em;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      color: @color4;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      min-height: @height6;
      padding: 0.42857em 0.85714em;
      &:hover {
        background-color: @color1;
        border-color: @color9;
        color: @color4;
      }
      &:focus {
        background-color: @color1;
        border-color: @color11;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        color: @color4;
        outline: 0 none;
      }
      &:active {
        background-color: @color1;
        border-color: @color2;
        color: @color4;
      }
    }
  }
  .reRemoveDOMElement {
    color: red;
    &:before {
      color: red;
    }
  }
  .reResize {
    &:before {
      color: @color10;
      margin: 0.45em 0 0 -0.3em;
    }
  }
  .reFormatSetsHeader {
    background-color: @color6;
    color: @color0;
  }
  .reModes {
    a {
      background-color: @color1;
      background-image: linear-gradient();
      border-color: @color5;
      border-radius: 0.28571em;
      color: @color0;
      height: @height6;
      line-height: 2.14286em;
      margin-right: 0.71429em;
      &:hover {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color7;
        box-shadow: inset 0 0 1px @color1;
        color: @color0;
      }
      .reIcon {
        &:before {
          margin: 0.15em 0 0 0.33333em;
        }
      }
    }
  }
  .reDropdown {
    height: 1.96429em;
    line-height: 1.85714em;
    &:before {
      content: "\E00E";
      font-size: 1.75em;
      right: -0.21429em;
      top: -0.14286em;
    }
  }
  .reStatistic {
    color: #999999;
  }
  .reModule {
    .reRow {
      height: 2.57143em;
    }
  }
  .reRow {
    .reLabel+span {
      margin: 0em 1.42857em 0em 0.71429em;
    }
    .reLabel+.reTool {
      margin: 0em 1.42857em 0em 0.71429em;
    }
    .reLabel+.reDropdown {
      margin: 0em 1.42857em 0em 0.71429em;
    }
    .reSplitButton {
      background-color: @color1;
      background-image: linear-gradient();
      border-color: @color5;
      border-radius: 0.28571em;
      color: @color0;
      height: @height6;
      position: relative;
      width: 4.78571em;
      &:hover {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color7;
        box-shadow: inset 0 0 1px @color1;
        color: @color0;
      }
      &:active {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color8;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
        color: @color0;
        color: @color0;
      }
      .reSplitArrow {
        border-left: 1px solid @color2;
        border-radius: 0em 0.28571em 0.28571em 0em;
        height: @height9;
        margin: 0;
        position: absolute;
        right: 0;
        width: @width6;
        &:before {
          line-height: 1.5em;
          margin: 0 0 0 0.1em;
        }
      }
    }
    .reSpinBox {
      width: 6.07143em;
      input[type="text"] {
        background-color: @color1;
        border-color: @color2;
        border-radius: 0.28571em;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: @color4;
        height: @height6;
        padding: 0.08333em 2.5em 0.08333em 0.08333em;
        width: 6.07143em;
        &:hover {
          background-color: @color1;
          border-color: @color9;
          color: @color4;
        }
        &:focus {
          background-color: @color1;
          border-color: @color11;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
          color: @color4;
          outline: 0 none;
        }
        &:active {
          background-color: @color1;
          border-color: @color2;
          color: @color4;
        }
      }
      .reSpinBoxButtons {
        border-left: 1px solid @color2;
        height: 2.35714em;
        width: @width6;
      }
    }
    .reSetCellProperties {
      border-radius: 0.28571em;
      border: 1px solid @color2;
    }
    .reSetCellProperties.reToolIcon {
      &:before {
        line-height: 1.57143em \9;
        line-height: 1.85714em;
        margin-left: 0.25em \9;
        margin-left: 0.39286em;
      }
    }
    .reclassName {
      background-color: @color1;
      background-image: linear-gradient();
      border-color: @color5;
      border-radius: 0.28571em;
      color: @color0;
      height: 2.14286em;
      &:hover {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color7;
        color: @color0;
      }
      &:focus {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color8;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
        color: @color0;
        color: @color0;
        outline-color: @color7;
        outline-offset: -2px;
        outline-width: thin;
      }
      &:active {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color8;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
        color: @color0;
        color: @color0;
      }
    }
    .reTool {
      background-color: @color1;
      background-image: linear-gradient();
      border-color: @color5;
      border-radius: 0.28571em;
      color: @color0;
      &:hover {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color7;
        color: @color0;
      }
      &:focus {
        outline-color: @color7;
        outline-offset: -2px;
        outline-width: thin;
      }
      &:active {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color8;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
        color: @color0;
        color: @color0;
      }
    }
  }
  .reSpinBoxButtons {
    span {
      border-radius: 0;
      height: 1.07143em;
      right: 0.07143em;
      width: 2.14286em;
      &:hover {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color7;
        color: @color0;
      }
      &:active {
        background-color: @color3;
        background-image: linear-gradient();
        border-color: @color8;
        color: @color0;
      }
    }
    .reSpinBoxIncrease {
      top: 0.07143em;
    }
    .reSpinBoxDecrease {
      bottom: 0;
    }
  }
  .reBottomZone {
    .reToolBar {
      li {
        border: 0;
        &:first-child {
          .reTool {
            border-width: 1px;
          }
        }
      }
      .reTool {
        border-radius: 0;
        border-width: 1px 1px 1px 0;
        height: @height6;
        width: 2.42857em;
      }
      .reSeparator+li {
        .reTool {
          border-width: 1px;
        }
      }
    }
    .reTool.reSplitButton {
      width: 4.78571em;
    }
  }
}
&:root {
  .RadEditor_Breg {
    .RadRibbonBar {
      .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
        &:before {
          font-size: .79em;
        }
      }
      .rrbLargeButton {
        .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
          &:before {
            font-size: .38em;
          }
        }
      }
    }
  }
}
.RadEditor_Breg.rePopupContainer,
.RadEditor_Breg .rePopupTitle,
.RadEditor_Breg .reCommentInfoPanel,
.RadEditor_Breg .reCommentView,
.RadEditor_Breg .reCommentViewText,
.RadEditor_Breg .reCommentEdit {
  background-color: @color6;
  background-image: linear-gradient(to bottom, #fefefe 0, @color3 100%);
  border-color: @color2;
}
.RadEditor_Breg .reToolBar li:last-child,
.RadEditor_Breg .reToolBar li:last-child .reTool,
.RadEditor_Breg .reToolBar .reToolLastItem,
.RadEditor_Breg .reToolBar .reToolLastItem .reTool {
  border-radius: 0em 0.28571em 0.28571em 0em;
}
.RadEditor_Breg .reTool:hover,
.RadEditor_Breg .reToolText:hover,
.RadEditor_Breg .reDropdown:hover,
.RadEditor_Breg.reAlignmentSelector td div:hover:before,
.RadEditor_Breg .rePopupButton:hover,
.RadEditor_Breg .reCommentButton:hover,
.RadEditor_Breg .reAjaxSpellButton:hover {
  background-color: @color3;
  border-color: transparent;
}
.RadEditor_Breg .reTool:active,
.RadEditor_Breg .reTool:focus,
.RadEditor_Breg .reToolText:active,
.RadEditor_Breg .reToolText:focus,
.RadEditor_Breg .reToolSelected,
.RadEditor_Breg .reToolSelected:hover,
.RadEditor_Breg .reDropdown:active,
.RadEditor_Breg .reDropdown:focus,
.RadEditor_Breg .rePopupButton:active,
.RadEditor_Breg .rePopupButton:focus,
.RadEditor_Breg .reCommentButton:active,
.RadEditor_Breg .reCommentButton:focus,
.RadEditor_Breg .reAjaxSpellButton:focus,
.RadEditor_Breg .reAjaxSpellButton:active {
  background-color: @color3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: @color0;
}
.RadEditor_Breg .reTool:before,
.RadEditor_Breg .reTool.reToolDisabled:hover:before,
.RadEditor_Breg .reTool.reToolDisabled:active:before,
.RadEditor_Breg .reTool.reToolDisabled:focus:before,
.RadEditor_Breg .reTool.reToolDisabled:hover .reSplitArrow:before,
.RadEditor_Breg .reTool.reToolDisabled:hover .reSplitArrow:hover:before,
.RadEditor_Breg .reToolText,
.RadEditor_Breg .reSplitArrow:before,
.RadEditor_Breg .reDropdown:before,
.RadEditor_Breg .reModes .reIcon:before,
.RadEditor_Breg .reCustomColor {
  color: @color0;
}
.RadEditor_Breg .reTool:hover:before,
.RadEditor_Breg .reTool:active:before,
.RadEditor_Breg .reTool:focus:before,
.RadEditor_Breg .reToolSelected:before,
.RadEditor_Breg .reTool:hover .reSplitArrow:hover:before,
.RadEditor_Breg .reTool:hover .reSplitArrow:active:before,
.RadEditor_Breg .reTool:hover .reSplitArrow:focus:before,
.RadEditor_Breg .reDropdown:hover,
.RadEditor_Breg .reDropdown:hover:before,
.RadEditor_Breg .reDropdown:active,
.RadEditor_Breg .reDropdown:active:before,
.RadEditor_Breg .reDropdown:focus,
.RadEditor_Breg .reDropdown:focus:before,
.RadEditor_Breg .reModes a:hover,
.RadEditor_Breg .reModes a:hover .reIcon:before,
.RadEditor_Breg .reModes a:active,
.RadEditor_Breg .reModes a:focus,
.RadEditor_Breg .reModes a:active .reIcon:before,
.RadEditor_Breg .reModes a:focus .reIcon:before,
.RadEditor_Breg .reModes .reSelectedMode,
.RadEditor_Breg .reModes .reSelectedMode .reIcon:before,
.RadEditor_Breg.reAlignmentSelector td div:hover:before,
.RadEditor_Breg .rePopupButton:hover,
.RadEditor_Breg .reCommentButton:hover,
.RadEditor_Breg .rePopupButton:active,
.RadEditor_Breg .rePopupButton:focus,
.RadEditor_Breg .reCommentButton:active,
.RadEditor_Breg .reCommentButton:focus,
.RadEditor_Breg .reSpinBoxButtons span:hover:before,
.RadEditor_Breg .reAjaxSpellButton:hover {
  color: @color0;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child,
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar .reSeparator+li,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar .reSeparator+li {
  border-width: 1px 1px 0 1px;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child,
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child .reTool,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child .reTool {
  border-radius: 0.28571em 0.28571em 0em 0em;
}
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:last-child .reTool,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:last-child .reTool,
.RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:last-child .reDropdown,
.RadEditor_Breg .reToolBarWrapperRight .reToolBar li:last-child .reDropdown {
  border-radius: 0em 0em 0.28571em 0.28571em;
}
.RadEditor_Breg .reDropdown.reToolDisabled,
.RadEditor_Breg .reDropdown.reToolDisabled:hover,
.RadEditor_Breg .reDropdown.reToolDisabled:active,
.RadEditor_Breg .reDropdown.reToolDisabled:focus,
.RadEditor_Breg .reDropdown.reToolDisabled:before,
.RadEditor_Breg .reDropdown.reToolDisabled:hover:before,
.RadEditor_Breg .reDropdown.reToolDisabled:active:before,
.RadEditor_Breg .reDropdown.reToolDisabled:focus:before,
.RadEditor_Breg.reInsertTable .reTableWizard.reTool:hover:before {
  color: @color0;
}
.RadEditor_Breg .reDropdown,
.RadEditor_Breg .reDropdown.reToolDisabled,
.RadEditor_Breg .reDropdown.reToolDisabled:hover,
.RadEditor_Breg .reDropdown.reToolDisabled:active,
.RadEditor_Breg .reDropdown.reToolDisabled:focus {
  background-color: @color1;
  border-color: transparent;
  color: @color0;
  margin: 0;
}
.RadEditor_Breg.reDropDownBody.reAjaxSpellCheck {
  input[type="text"] {
    background-color: @color1;
    border-color: @color2;
    border-radius: 0.28571em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: @color4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: @height6;
    padding: 0.42857em 0.85714em;
    &:hover {
      background-color: @color1;
      border-color: @color9;
      color: @color4;
    }
    &:focus {
      background-color: @color1;
      border-color: @color11;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
      color: @color4;
      outline: 0 none;
    }
    &:active {
      background-color: @color1;
      border-color: @color2;
      color: @color4;
    }
  }
}
.RadEditor_Breg.reToolBarLeft {
  .reResize {
    &:before {
      margin: -.45em 0 0;
    }
  }
}
.RadEditor_Breg.reToolBarRight {
  .reResize {
    &:before {
      margin: -.45em 0 0;
    }
  }
}
.RadEditor_Breg.reInlineEditor {
  &:hover {
    border-color: @color2;
  }
}
.RadEditor_Breg.RadWindow {
  background-color: @color6;
  border-color: @color10;
  .rwContent {
    background-color: @color6;
  }
}
.RadEditor_Breg.RadWindow.reInlineEditor {
  &:hover {
    border-color: @color10;
  }
}
.RadEditor_Breg.reInlineEditorSelected {
  border-color: @color2;
  &:hover {
    border-color: @color2;
  }
}
.RadEditor_Breg.reInsertTable {
  td {
    border-color: @color2;
  }
  .reItemOver {
    background-color: @color6;
    color: @color0;
  }
}
.RadEditor_Breg .reModes a:active,
.RadEditor_Breg .reModes a:focus,
.RadEditor_Breg .reModes .reSelectedMode,
.RadEditor_Breg .reModes .reSelectedMode:hover {
  background-color: @color3;
  background-image: linear-gradient();
  border-color: @color8;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: @color0;
  color: @color0;
}
.RadEditor_Breg.reDropDownBody {
  background-color: @color1;
  .RadEditor_Breg {
    background-color: @color1;
  }
  li {
    border-color: @color2;
    padding: 0.28571em 0.35714em 0.28571em;
    &:hover {
      background-color: @color6;
      border-color: @color9;
      .reTool {
        background-color: @color6;
        border-color: @color9;
      }
    }
  }
  .reToolBar {
    li {
      border-radius: 0;
      border: 0;
    }
    .reTool {
      height: 1.21429em;
      line-height: 1.21429em;
    }
    .reToolIcon {
      &:before {
        display: inline-block;
        margin-top: -0.21429em;
        vertical-align: top;
      }
    }
  }
}
.RadEditor_Breg.reDropDownBody.reColorPicker {
  height: 17.5em !important;
  width: 19.64286em !important;
  li {
    height: @height8;
    padding: 0;
    width: @width9;
    div {
      height: @height8;
      width: @width9;
    }
  }
  li.reClear {
    height: 0;
    width: 0;
  }
}
.RadEditor_Breg.reDropDownBody.reInsertTable {
  width: 1@width9 !important;
  .reToolBar {
    .reTool {
      width: 1.7em;
    }
  }
  li {
    &:hover {
      background-color: transparent;
      opacity: .7;
      .reTool {
        background-color: transparent;
      }
    }
    .reTool {
      background-color: transparent;
    }
  }
}
.RadEditor_Breg.reDropDownBody.reAlignmentSelector {
  width: 7.5em !important;
}
.RadEditor_Breg.reDropDownBody.reInsertSymbol {
  width: 11.78571em !important;
}
.reToolBar.RadEditor_Breg {
  background-color: transparent;
  border-color: transparent;
  li {
    border-color: @color5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    &:first-child {
      border-radius: 0.28571em 0em 0em 0.28571em;
      border-width: 1px;
      .reTool {
        border-radius: 0.28571em 0em 0em 0.28571em;
      }
    }
  }
  .reSeparator {
    border-color: transparent;
  }
  .reSeparator+li {
    border-width: 1px;
  }
}
.reToolBar.RadEditor_Breg li:last-child,
.reToolBar.RadEditor_Breg .reToolLastItem,
.reToolBar.RadEditor_Breg li:last-child .reTool,
.reToolBar.RadEditor_Breg .reToolLastItem .reTool {
  border-radius: 0em 0.28571em 0.28571em 0em;
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
  .RadEditor_Breg .reToolIcon:before {
    margin-left: 0.28571em;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .RadEditor_Breg .reToolIcon:before {
    margin-left: 0.35714em;
  }
}
@media screen {
  .RadEditor_Breg .reToolIcon:before {
    font-size: .8em;
  }
}
@media screen {
  .RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
    font-size: 1.28571em;
  }
  .RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
    font-size: 2.21429em;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .RadEditor_Breg .reTool {
    height: 2.3em;
    line-height: 2em;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .RadEditor_Breg .reDropdown {
    height: 2em;
  }
}