﻿.RadFileExplorer_Breg {
  border-color: #dddddd;
}
.RadFileExplorer_Breg .rfeFilterTxt {
  border-color: #dddddd;
}
.RadFileExplorer_Breg .rfeAddressBox {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #555555;
}
.RadFileExplorer_Breg .rfeLink {
  color: #333333;
}
.RadFileExplorer_Breg .rfeLink:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #d0d0d0;
  color: #333333;
}
.RadFileExplorer_Breg .rfeSelectedLink {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #afafaf;
  color: #333333;
}
.RadFileExplorer_Breg .rfeSelectedLink:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient();
  border-color: #afafaf;
  color: #333333;
}
.RadFileExplorer_Breg .rfeFilterContainer {
  background-color: #f2f2f2;
}
.RadFileExplorer_Breg .rfeDropZone {
  background-color: rgba(236, 236, 236, 0.8);
}
.RadFileExplorer_Breg .rfePageControlContainer {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #dddddd;
  color: #333333;
}
.RadFileExplorer_Breg .rfePageControlContainer span {
  color: #333333;
}
.RadFileExplorer_Breg .rfeThumbnailView .rlvI .rfeFileCount span {
  background-color: #ffffff;
  color: #333333;
}
.RadFileExplorer_Breg .rfeDropUploadInfoPanel {
  background-color: #ffffff;
  color: #333333;
}
.RadFileExplorer_Breg .RadToolBar_Breg {
  padding: 0.28571em 0em;
}
.RadFileExplorer_Breg .RadToolBar_Breg .rtbUL {
  margin: -0.14286em 0em 0em;
}
.RadFileExplorer_Breg .RadToolBar_Breg .rtbItem + .rtbItem {
  margin-left: -1px;
}
.RadFileExplorer_Breg .RadToolBar_Breg .rtbButton {
  border-radius: 0;
}
.RadFileExplorer_Breg .RadToolBar_Breg .rtbGroupStart .rtbButton {
  border-radius: 0.28571em 0 0 0.28571em;
}
.RadFileExplorer_Breg .RadToolBar_Breg .rtbGroupEnd .rtbButton {
  border-radius: 0 0.28571em 0.28571em 0;
}
.RadFileExplorer_Breg .RadSlider .rslHorizontal a.rslHandle {
  margin-top: -1.2em;
}
.RadWindow_Breg .rfeUploadInfoPanel {
  background-color: #f2f2f2;
  border-color: #dddddd;
  color: #333333;
}
.rfeUploadContainer .RadUpload_Breg .ruInputs {
  height: 8.21429em;
}