// Color variables (appears count calculates by raw css)
@color0:#333333;
// Appears 9 times
@color1:#dddddd;
// Appears 5 times
@color2:#ffffff;
// Appears 4 times
@color3:#e6e6e6;
// Appears 3 times
@color4:#f2f2f2;
// Appears 2 times
@color5:#afafaf;
// Appears 2 times
.RadFileExplorer_Breg {
  border-color: @color1;
  .rfeFilterTxt {
    border-color: @color1;
  }
  .rfeAddressBox {
    background-color: @color2;
    border-color: @color1;
    color: #555555;
  }
  .rfeLink {
    color: @color0;
    &:hover {
      background-color: @color3;
      background-image: linear-gradient();
      border-color: #d0d0d0;
      color: @color0;
    }
  }
  .rfeSelectedLink {
    background-color: @color3;
    background-image: linear-gradient();
    border-color: @color5;
    color: @color0;
    &:hover {
      background-color: @color3;
      background-image: linear-gradient();
      border-color: @color5;
      color: @color0;
    }
  }
  .rfeFilterContainer {
    background-color: @color4;
  }
  .rfeDropZone {
    background-color: rgba(236, 236, 236, 0.8);
  }
  .rfePageControlContainer {
    background-color: @color2;
    background-image: linear-gradient();
    border-color: @color1;
    color: @color0;
    span {
      color: @color0;
    }
  }
  .rfeThumbnailView {
    .rlvI {
      .rfeFileCount {
        span {
          background-color: @color2;
          color: @color0;
        }
      }
    }
  }
  .rfeDropUploadInfoPanel {
    background-color: @color2;
    color: @color0;
  }
  .RadToolBar_Breg {
    padding: 0.28571em 0em;
    .rtbUL {
      margin: -0.14286em 0em 0em;
    }
    .rtbItem+.rtbItem {
      margin-left: -1px;
    }
    .rtbButton {
      border-radius: 0;
    }
    .rtbGroupStart {
      .rtbButton {
        border-radius: 0.28571em 0 0 0.28571em;
      }
    }
    .rtbGroupEnd {
      .rtbButton {
        border-radius: 0 0.28571em 0.28571em 0;
      }
    }
  }
  .RadSlider {
    .rslHorizontal {
      a.rslHandle {
        margin-top: -1.2em;
      }
    }
  }
}
.RadWindow_Breg {
  .rfeUploadInfoPanel {
    background-color: @color4;
    border-color: @color1;
    color: @color0;
  }
}
.rfeUploadContainer {
  .RadUpload_Breg {
    .ruInputs {
      height: 8.21429em;
    }
  }
}