﻿.RadFilter_Breg {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadFilter_Breg a {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadFilter_Breg .rfText {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #333333;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadFilter_Breg .rfText:hover {
  border-color: #c4c4c4;
  color: #555555;
}
.RadFilter_Breg .rfApply input {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadFilter_Breg .rfApply a {
  background: #ffffff;
  border-radius: .29em;
  border: 1px solid #eeeeee;
  color: #555555;
  height: 1.86em;
  padding: 0.14em 1.14em;
}
.RadFilter_Breg .rfApply a input {
  line-height: 1.9;
  padding: 0;
}
.RadFilter_Breg .rfApply a:hover {
  background: #e6e6e6;
  border: 1px solid #d0d0d0;
  color: #333333;
}
.RadFilter_Breg .rfApply span {
  background: #ffffff;
  border-radius: .29em;
  border: 1px solid #eeeeee;
  color: #555555;
  height: 1.86em;
  padding: 0.14em 1.14em;
}
.RadFilter_Breg .rfApply span input {
  line-height: 1.9;
  padding: 0;
}
.RadFilter_Breg .rfApply span:hover {
  background: #e6e6e6;
  border: 1px solid #d0d0d0;
  color: #333333;
}
.RadFilter_Breg li li .rfDiv {
  padding-top: .55em;
}
.RadFilter_Breg .rfMid {
  background: #f5f5f5;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  height: 2.3em;
  padding-left: .57em;
  padding: .5em 0;
}
.RadFilter_Breg .rfTools {
  background: #f5f5f5;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  height: 2.3em;
  padding-right: .57em;
  padding: .5em 0;
}
.RadFilter_Breg .rfCheckBox {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  display: inline-block;
  height: 2.14em;
  margin-right: 0;
  margin: 0 0 0 -1px;
  text-align: center;
  width: 2.14em;
}
.RadFilter_Breg .rfCheckBox input {
  margin-top: .67em;
}
.RadFilter_Breg .rfDel {
  background-color: #ffffff;
  border-left-width: 0;
  border-radius: 0 0.29em 0.29em 0;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  color: #333333;
  height: 2.42857em;
  line-height: 2.29;
  margin: 0;
  width: 2.14em;
}
.RadFilter_Breg .rfDel:before {
  line-height: 1.9;
}
.RadFilter_Breg .rfAddGr {
  background-color: #ffffff;
  border-left-width: 0;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  color: #333333;
  height: 2.42857em;
  line-height: 2.29;
  margin: 0;
  width: 2.14em;
}
.RadFilter_Breg .rfAddGr:before {
  line-height: 1.9;
}
.RadFilter_Breg .rfAddExp {
  background-color: #ffffff;
  border-left-width: 0;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  color: #333333;
  height: 2.42857em;
  line-height: 2.29;
  margin: 0;
  width: 2.14em;
}
.RadFilter_Breg .rfAddExp:before {
  line-height: 1.9;
}
.RadFilter_Breg .rfField {
  border-radius: 0.29em 0 0 0.29em;
  color: #333333;
}
.RadFilter_Breg .rfField:before {
  line-height: 1.6;
}
.RadFilter_Breg .rfOper {
  border-radius: 0.29em 0 0 0.29em;
}
.RadFilter_Breg .rfOper:before {
  line-height: 1.6;
}
.RadFilter_Breg .rfExp:before {
  line-height: 1.6;
}
.RadFilter_Breg a.rcTimePopup {
  border-radius: 0;
}
.RadFilter_Breg .rfPreview {
  color: #333333;
}
.RadFilter_Breg .rfPreview em {
  color: #428bca;
}
.RadFilter_Breg .rfPreview .rfBr {
  color: #428bca;
  font-weight: bold;
}
.RadFilter_Breg .rfLast .rfDiv:after {
  border-color: #dddddd;
}
.RadFilter_Breg .rfLines li li:before {
  border-color: #dddddd;
}
.RadFilter_Breg .rfLines li li .rfDiv:before {
  border-color: #dddddd;
}
.RadFilter_Breg .rfOper:hover,
.RadFilter_Breg .rfField:hover,
.RadFilter_Breg .rfExp:hover,
.RadFilter_Breg .rfAddGr:hover,
.RadFilter_Breg .rfAddExp:hover,
.RadFilter_Breg .rfDel:hover {
  background-color: #e6e6e6;
  border-color: #d0d0d0;
  color: #333333;
}
.RadFilter_Breg .rfOper,
.RadFilter_Breg .rfField,
.RadFilter_Breg .rfExp,
.RadFilter_Breg .rfText {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  display: inline-block;
  height: 2.42857em;
  line-height: 2.29;
  padding: 0 27px 0 8px;
  vertical-align: top;
}
.RadFilter_Breg .RadDropDownList .rddlInner,
.RadFilter_Breg .rfExp,
.RadFilter_Breg .rfText,
.RadFilter_Breg input.riTextBox {
  border-left-width: 0;
  border-radius: 0;
}