// Color variables (appears count calculates by raw css)
@color0:#333333;
// Appears 12 times
@color1:#ffffff;
// Appears 8 times
@color2:#dddddd;
// Appears 7 times
@color3:#eeeeee;
// Appears 6 times
@color4:#555555;
// Appears 4 times
@color5:#e6e6e6;
// Appears 3 times
@color6:#d0d0d0;
// Appears 3 times
@color7:#f5f5f5;
// Appears 2 times
@color8:#428bca;
// Appears 2 times
// Width variables (appears count calculates by raw css)
@width0:2.14em;
// Appears 4 times
// Height variables (appears count calculates by raw css)
@height0:2.42857em;
// Appears 4 times
@height2:1.86em;
// Appears 2 times
@height3:2.3em;
// Appears 2 times
.RadFilter_Breg {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  a {
    color: @color0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .rfText {
    background-color: @color1;
    border-color: @color2;
    color: @color0;
    color: @color4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    &:hover {
      border-color: #c4c4c4;
      color: @color4;
    }
  }
  .rfApply {
    input {
      color: @color0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    a {
      background: @color1;
      border-radius: .29em;
      border: 1px solid @color3;
      color: @color4;
      height: @height2;
      padding: 0.14em 1.14em;
      input {
        line-height: 1.9;
        padding: 0;
      }
      &:hover {
        background: @color5;
        border: 1px solid @color6;
        color: @color0;
      }
    }
    span {
      background: @color1;
      border-radius: .29em;
      border: 1px solid @color3;
      color: @color4;
      height: @height2;
      padding: 0.14em 1.14em;
      input {
        line-height: 1.9;
        padding: 0;
      }
      &:hover {
        background: @color5;
        border: 1px solid @color6;
        color: @color0;
      }
    }
  }
  li {
    li {
      .rfDiv {
        padding-top: .55em;
      }
    }
  }
  .rfMid {
    background: @color7;
    border-color: @color2;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    height: @height3;
    padding-left: .57em;
    padding: .5em 0;
  }
  .rfTools {
    background: @color7;
    border-color: @color2;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    height: @height3;
    padding-right: .57em;
    padding: .5em 0;
  }
  .rfCheckBox {
    background-color: @color1;
    border: 1px solid @color2;
    display: inline-block;
    height: 2.14em;
    margin-right: 0;
    margin: 0 0 0 -1px;
    text-align: center;
    width: @width0;
    input {
      margin-top: .67em;
    }
  }
  .rfDel {
    background-color: @color1;
    border-left-width: 0;
    border-radius: 0 0.29em 0.29em 0;
    border: 1px solid @color3;
    box-sizing: border-box;
    color: @color0;
    height: @height0;
    line-height: 2.29;
    margin: 0;
    width: @width0;
    &:before {
      line-height: 1.9;
    }
  }
  .rfAddGr {
    background-color: @color1;
    border-left-width: 0;
    border: 1px solid @color3;
    box-sizing: border-box;
    color: @color0;
    height: @height0;
    line-height: 2.29;
    margin: 0;
    width: @width0;
    &:before {
      line-height: 1.9;
    }
  }
  .rfAddExp {
    background-color: @color1;
    border-left-width: 0;
    border: 1px solid @color3;
    box-sizing: border-box;
    color: @color0;
    height: @height0;
    line-height: 2.29;
    margin: 0;
    width: @width0;
    &:before {
      line-height: 1.9;
    }
  }
  .rfField {
    border-radius: 0.29em 0 0 0.29em;
    color: @color0;
    color: @color0;
    &:before {
      line-height: 1.6;
    }
  }
  .rfOper {
    border-radius: 0.29em 0 0 0.29em;
    &:before {
      line-height: 1.6;
    }
  }
  .rfExp {
    &:before {
      line-height: 1.6;
    }
  }
  a.rcTimePopup {
    border-radius: 0;
  }
  .rfPreview {
    color: @color0;
    em {
      color: @color8;
    }
    .rfBr {
      color: @color8;
      font-weight: bold;
    }
  }
  .rfLast {
    .rfDiv {
      &:after {
        border-color: @color2;
      }
    }
  }
  .rfLines {
    li {
      li {
        &:before {
          border-color: @color2;
        }
        .rfDiv {
          &:before {
            border-color: @color2;
          }
        }
      }
    }
  }
}
.RadFilter_Breg .rfOper:hover,
.RadFilter_Breg .rfField:hover,
.RadFilter_Breg .rfExp:hover,
.RadFilter_Breg .rfAddGr:hover,
.RadFilter_Breg .rfAddExp:hover,
.RadFilter_Breg .rfDel:hover {
  background-color: @color5;
  border-color: @color6;
  color: @color0;
}
.RadFilter_Breg .rfOper,
.RadFilter_Breg .rfField,
.RadFilter_Breg .rfExp,
.RadFilter_Breg .rfText {
  background-color: @color1;
  border: 1px solid @color3;
  box-sizing: border-box;
  display: inline-block;
  height: @height0;
  line-height: 2.29;
  padding: 0 27px 0 8px;
  vertical-align: top;
}
.RadFilter_Breg .RadDropDownList .rddlInner,
.RadFilter_Breg .rfExp,
.RadFilter_Breg .rfText,
.RadFilter_Breg input.riTextBox {
  border-left-width: 0;
  border-radius: 0;
}