@unit1:0.85714em;
@unit2:1px;
@unit3:1em;
@color1:#ffffff;
@color2:#fcfcfc;
@color3:#ff3300;
@color4:#333333;
@color5:#eeeeee;
@color6:#e6e6e6;
@color7:#dddddd;

.fy-mixin-1 {
  background-color: #ffffff;
  color: #555555;
  border-color: #c4c4c4;
}
.fy-mixin-2 {
  background-color: #ffffff;
  color: #555555;
  border-color: #3c87c8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.fy-mixin-3 {
  background-color: #ffffff;
  color: #555555;
  border-color: #dddddd;
}
.fy-mixin-4 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: inset 0 0 1px #ffffff;
}
.fy-mixin-5 {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.RadForm_Breg {
  background-color: @color1;
  .rfdTextInput {
    font-size: @unit3;
    color: #555555;
    min-height: 2.42857em;
    padding: 0.42857em @unit1;
    background-color: @color1;
    border-color: @color7;
    box-shadow: 0 @unit2 @unit2 rgba(0, 0, 0, 0.075) inset;
    &:hover {
      .fy-mixin-1;
    }
    &:focus {
      .fy-mixin-2;
    }
    &:active {
      .fy-mixin-3;
    }
  }
  &.rfdLabel {
    label {
      font-size: @unit3;
      color: @color4;
      line-height: 32px;
    }
    .rfdAspLabel {
      font-size: @unit3;
      color: @color4;
      line-height: 32px;
    }
  }
  &.rfdTextbox {
    .rfdTextInput {
      font-size: @unit3;
      color: @color4;
    }
  }
  &.rfdTextarea {
    textarea {
      font-size: @unit3;
      color: #555555;
      background-color: @color1;
      border-color: @color7;
      box-shadow: 0 @unit2 @unit2 rgba(0, 0, 0, 0.075) inset;
    }
    textarea:hover {
      .fy-mixin-3;
    }
    textarea:focus {
      .fy-mixin-3;
    }
    textarea:active {
      .fy-mixin-3;
    }
  }
  &.rfdFieldset {
    fieldset {
      font-size: @unit3;
      color: @color4;
    }
    legend {
      font-size: @unit3;
      color: @color4;
    }
  }
  .rfdHeading {
    font-size: @unit3;
    color: @color4;
    border-bottom-color: @color7;
  }
  .riTextBox {
    font-size: @unit3;
    color: @color4;
  }
  .rfdValidationSummaryControl {
    font-size: @unit3;
    color: @color4;
  }
  .rfdLoginControl {
    font-size: @unit3;
    color: @color4;
  }
  &.rfdZone {
    background-color: @color1;
  }
  &.RadForm {
    &.rfdFieldset fieldset {
      border-color: @color7;
      background-color: @color2;
    }
    .rfdCheckboxChecked {
      color: @color3;
    }
    .rfdRadioChecked {
      color: @color3;
    }
  }
  &.rfdRadio {
    input[type="radio"] + label {
      line-height: normal;
    }
  }
  &.rfdCheckbox {
    input[type="checkbox"] + label {
      line-height: normal;
    }
  }
  legend {
    > label {
      line-height: normal;
    }
  }
  .rfdSkinnedButton {
    border-color: @color5;
    color: @color4;
    background-color: @color1;
    background-image: linear-gradient();
    padding: 0.64286em @unit1;
    min-height: 2.42857em;
    &:hover {
      .fy-mixin-4;
    }
    &:focus {
      .fy-mixin-4;
    }
    &:active {
      .fy-mixin-5;
    }
  }
  _ {
    &:-ms-fullscreen {
      padding: 0.64286em @unit1;
    }
  }
  .rfdClickedButton {
    .fy-mixin-5;
  }
  .rfdFocusedButton {
    .fy-mixin-5;
  }
  .rfdCheckboxUnchecked {
    color: @color4;
    .rfdToggleImage {
      color: @color4;
    }
    &:hover {
      color: @color3;
    }
    &:hover .rfdToggleImage {
      color: @color3;
    }
  }
  .rfdRadioUnchecked {
    color: @color4;
    .rfdToggleImage {
      color: @color4;
    }
    &:hover {
      color: @color3;
    }
    &:hover .rfdToggleImage {
      color: @color3;
    }
  }
  .rfdCheckboxChecked {
    &:hover .rfdToggleImage {
      color: @color3;
    }
  }
  .rfdRadioChecked {
    &:hover .rfdToggleImage {
      color: @color3;
    }
  }
  .rfdSelect_Breg {
    padding: 0.53571em 2.28571em 0.53571em @unit1;
    border-color: @color5;
    color: @color4;
    background-color: @color1;
    background-image: linear-gradient();
    min-height: 2.42857em;
    &:hover {
      border-color: #d0d0d0;
      color: @color4;
      background-color: @color6;
      background-image: linear-gradient();
    }
    &:focus {
      outline-width: thin;
      outline-offset: -2px;
      outline-color: #d0d0d0;
    }
  }
  .rfdDropDownArrow {
    width: 2.28571em;
    height: 2.28571em;
    &:before {
      margin: 0.42857em 0em 0em 0.21429em;
    }
  }
  &.rfdScrollBars {
    scrollbar-3dlight-color: @color5;
    scrollbar-arrow-color: #616161;
    scrollbar-base-color: @color1;
    scrollbar-darkshadow-color: @color5;
    scrollbar-face-color: @color6;
    scrollbar-highlight-color: @color6;
    scrollbar-shadow-color: @color6;
    scrollbar-track-color: @color1;
    textarea::-webkit-scrollbar-corner {
      background-color: @color1;
    }
    ::-webkit-scrollbar-button:horizontal:decrement {
      background-position: -17.5px -1118px;
    }
    ::-webkit-scrollbar-button:horizontal:increment {
      background-position: -17.5px -1168px;
    }
    ::-webkit-scrollbar-button:vertical:decrement {
      background-position: -18px -1018px;
    }
    ::-webkit-scrollbar-button:vertical:increment {
      background-position: -18px -1068px;
    }
  }
  &.rfdGrids {
    .rfdTable {
      border: @unit2 solid @color7;
      background: @color1;
      color: @color4;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
    }
    .rfdTable th {
      border-bottom: @unit2 solid @color7;
      border-left: @unit2 solid @color7;
      background-color: #f5f5f5;
      color: @color4;
    }
    .rfdTable a {
      color: @color4;
    }
  }
  a {
    &.rfdLoginControl:hover {
      color: #991e00;
    }
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .RadForm_Breg {
    &.rfdRadio input[type="radio"] {
      color: @color4;
    }
    &.rfdRadio input[type="radio"]:hover {
      color: @color3;
    }
    &.rfdRadio input[type="radio"]:hover + label {
      color: @color3;
    }
    &.rfdRadio input[type="radio"]:checked {
      color: @color3;
    }
    &.rfdRadio input[type="radio"]:checked + label {
      color: @color3;
    }
    &.rfdCheckbox input[type="checkbox"] {
      color: @color4;
    }
    &.rfdCheckbox input[type="checkbox"]:hover {
      color: @color3;
    }
    &.rfdCheckbox input[type="checkbox"]:hover + label {
      color: @color3;
    }
    &.rfdCheckbox input[type="checkbox"]:checked {
      color: @color3;
    }
    &.rfdCheckbox input[type="checkbox"]:checked + label {
      color: @color3;
    }
  }
}
.RadForm_Breg .rfdSelect_Breg,
.RadForm_Breg .rfdSelect_Breg.rfdDropDownExpanded {
  border-radius: 0.28571em;
}
.RadForm_Breg .rfdSelect_Breg:active,
.RadForm_Breg .rfdSelect_Breg:focus {
  border-color: #afafaf;
  color: @color4;
  background-color: @color6;
  background-image: linear-gradient();
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.RadForm_Breg.rfdScrollBars .rfdSelectBox::-webkit-scrollbar,
.RadForm_Breg.rfdScrollBars .rfdSelectBox::-webkit-scrollbar-thumb:vertical,
.RadForm_Breg.rfdScrollBars .rfdSelectBox::-webkit-scrollbar-thumb:horizontal,
.RadForm_Breg.rfdScrollBars form::-webkit-scrollbar,
.RadForm_Breg.rfdScrollBars form::-webkit-scrollbar-thumb:vertical,
.RadForm_Breg.rfdScrollBars form::-webkit-scrollbar-thumb:horizontal {
  background-color: @color2;
}
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-button:vertical:decrement,
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-button:vertical:increment,
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-button:horizontal:decrement,
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-button:horizontal:increment,
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-thumb:vertical,
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-thumb:horizontal {
  border-color: @color7;
  background-color: @color2;
}
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-button:vertical:decrement,
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-button:vertical:increment,
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-button:horizontal:decrement,
.RadForm_Breg.rfdScrollBars::-webkit-scrollbar-button:horizontal:increment {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Bootstrap.Common.radActionsSprite.png")%>');
  background-color: @color2;
}
.RadForm_Breg .rfdValidationSummaryControl,
.RadForm_Breg .rfdLoginControl {
  background-color: @color2;
  border: @unit2 solid @color7;
}
.RadForm_Breg a.rfdLoginControl,
.RadForm_Breg a.rfdLoginControl:active,
.RadForm_Breg a.rfdLoginControl:visited {
  color: @color4;
}
.rfdSelectBox_Breg {
  border-color: @color5;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 2em;
  li {
    /*padding: 0.35714em @unit1 \9;*/
    background-color: @color1;
    color: @color4;
  }
  .rfdSelectBox_optgroup_label {
    &:hover {
      background: none;
      color: @color4;
    }
  }
}
.rfdRoundedCorners {
  .rfdSelectBox_Breg {
    &.rfdSelectBoxDropDown {
      margin-top: 0.14286em;
      border-radius: 0.28571em;
    }
  }
}
_:-ms-fullscreen,
:root .rfdSelectBox_Breg li {
  padding: 0.35714em @unit1;
}
.rfdSelectBox_Breg li:hover,
.rfdSelectBox_Breg .rfdSelect_hovered,
.rfdSelectBox.rfdSelectBox_Breg li:hover {
  color: #000000;
  background-color: #fbfbfb;
}
.rfdSelectBox_Breg .rfdSelect_selected,
.rfdSelectBox.rfdSelectBox_Breg .rfdSelect_selected:hover {
  color: @color1;
  background-color: #337ab7;
}