@unit1: 2.28571em;
@unit2: 0.28571em;
@unit3: 12.5px;
@unit4: 1.6em;
@unit5: 0.5em;
@unit6: -5px;
@unit7: -1px;
@unit8: 100%;
@unit9: 1px;
@unit10: 5px;
@unit11: 1em;
@unit12: 0px;
@unit13: 1.2;
@unit14: 7px;

@grid-header-bg: #B7B7B7;
@grid-altRow-bg: #eeeeee;
@color1: #dddddd;
@color2: #37AAF1;
@color3: #e6e6e6;
@color4: #eeeeee;
@color5: #f2f2f2;
@color6: #f5f5f5;
@color7: #ffffff;
@color8: #333333;
@color-accent: #428bca;
@selected-row-bg: rgba(255, 51, 0, 0.14);

@fontSize: 13px;
@lineHeight: 1.42857;
@fontFamily: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
@font: @fontSize/@lineHeight @fontFamily;
@grid-lineHeight: 1.2;
@grid-fontSize: 12.5px;
@grid-font: @grid-fontSize/@grid-lineHeight @fontFamily;

.grid-font {
  font-family: @fontFamily;
  line-height: @grid-lineHeight;
  font-size: @grid-fontSize;
}

.grid-header-font {
  color: white;
  font-weight: 500 !important;
  text-decoration: none;
  font-size: 11.5px;
}

.grid-pager {
  color: @color8;
  background-color: @color1;
  border-top: @unit9 solid @color1;
  padding: 4px;
  border-bottom: @unit9 solid @color7;
}

.grid-pager-button {
  border-width: @unit9;
  border-style: solid;
  box-sizing: content-box;
  border-color: @color4;
  color: @color8;
  background-color: @color7;
  font-size: @unit11;
  border-radius: @unit2;

  &:hover {
    .fy-mixin-4;
  }
}

.grid-pager-numpart-link {
  line-height: 22px;
  border-width: @unit9;
  border-style: solid;
  box-sizing: content-box;
  border-color: @color4;
  color: @color8;
  background-color: @color7;
  font-size: @unit11;
  margin: 0;
  width: 1.42857em;
  border-left-width: 0;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  float: none !important;
  padding: 0 2.5px;
  text-decoration: none;
}

.grid-cell {
  background-color: @color7;
  color: @color8;
  border-color: @color5;
  padding: 0.35714em @unit5 @unit2 @unit5;
  height: @unit1;
  border-style: solid;
  border-width: 0 0 @unit9 @unit9;
  .grid-font;
}

.fy-mixin-1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.selected-row {
  background-color: @selected-row-bg;
  border-color: #ffffff;
}

.selected-row-cell {
  border: 1px solid #cccccc;
  border-radius: .3em;
}

.fy-mixin-4 {
  color: #333333;
  background-color: #e6e6e6;
}

.fy-mixin-5 {
  width: 2.28571em;
  height: 2.28571em;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0.28571em;
}

.grid-header {
  background-color: @grid-header-bg;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #f2f2f2 !important;
  border-left: 1px solid #f2f2f2 !important;
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-color: #f2f2f2 !important;
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  .grid-header-font;
}

.fy-mixin-7 {
  font-size: 1em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.28571em;
}

.grid-style {
  border: 0 solid transparent;
  width: 100% !important;
  overflow-x: auto;
  border-radius: @unit12;
  color: @color8;
  background-color: @color7;
  .grid-font;
}

.SelectedRow_Breg > td,
.SelectedRow_Breg.GridAltRow_Breg > td {
  .selected-row !important;
}

.rgMasterTable {
  .grid-font;

  .rgSelectedCell {
    .selected-row;
  }

  > tbody tr:first-child .rgGroupCol {
    border-top-width: 0;
  }

  > tbody > tr.rgCommandRow .rgCommandCell {
    border-top: @unit9 solid @color5;
    border-bottom: 0;
  }
}

.rgDetailTable {
  .grid-font;
  border-color: @color5;

  .rgRow td:first-child {
    border-left-width: 0;
  }

  .rgAltRow td:first-child {
    border-left-width: 0;
  }
}

.rgMultiHeaderRow {
  th.rgHeader,
  th.rgResizeCol {
    border: 0;
    border-bottom: @unit9 solid @color5;
    border-left: @unit9 solid @color5;
  }
}

.rgHeaderDiv {
  border-right: @unit9 solid @color5;
}


.rgRow,
.GridRow_Breg,
.RadGrid_Breg > tbody > tr,
.rgEditRow {
    word-wrap:break-word;

  > td {
    .grid-cell;
  }

  .rgGroupCol {
    border-bottom-width: 0;
    background: #fbfbfb;
  }

  [type="text"] {
    .selected-row-cell;
  }

  [type="text"]:disabled
  {
    background-color:lightgrey !important;
    color:black !important;
  }

  .rgExpandCol,
  .rgCollapseCol {
    border-left-width: 0;
  }
}

.rgAltRow,
.GridAltRow_Breg,
.RadGrid_Breg > tbody > tr:nth-child(odd) {
  > td {
    border-color: @color5;
    padding: 0.35714em @unit5 @unit2 @unit5;
    height: @unit1;
    border-style: solid;
    border-width: 0 0 @unit9 @unit9;
    background-color: @grid-altRow-bg;
    color: @color8;
  }

  .rgSorted {
    background-color: @grid-altRow-bg;
  }

  th.rgSorted {
    background-color: @grid-header-bg;
  }

  &.rgHoveredRow .rgSorted {
    background-color: @color1;
  }

  .rgGroupCol {
    border-bottom-width: 0;
    background: #fbfbfb;
  }

  [type="text"] {
    .selected-row-cell;
  }

  .rgExpandCol,
  .rgCollapseCol {
    border-left-width: 0;
  }
}

.rgFooter {
  background: @color6;

  > td {
    border-color: @color5;
    border-left: @unit9 solid @color5;
    padding: 0.71429em 0.35714em;
  }

  > td:first-child {
    border-left-width: 0;
  }

  .rgGroupCol,
  .rgGroupCol ~ td {
    border-bottom: @unit9 solid @color5;
  }

  .rgExpandCol {
    border-left-width: 0;
  }
}

.rgActiveRow {
  td:not(.rgExpandCol) {
    box-shadow: inset @unit12 @unit10 @unit10 @unit6 @color2, inset @unit12 @unit6 @unit10 @unit6 @color2;
  }

  td:not(.rgExpandCol):last-child {
    box-shadow: inset @unit12 @unit10 @unit10 @unit6 @color2, inset @unit12 @unit6 @unit10 @unit6 @color2, inset @unit6 @unit12 @unit10 @unit6 @color2;
  }

  td:first-child:not(.rgExpandCol) {
    box-shadow: inset @unit12 @unit10 @unit10 @unit6 @color2, inset @unit12 @unit6 @unit10 @unit6 @color2, inset @unit10 @unit12 @unit10 @unit6 @color2;
  }

  .rgExpandCol + td {
    box-shadow: inset @unit12 @unit10 @unit10 @unit6 @color2, inset @unit12 @unit6 @unit10 @unit6 @color2, inset @unit10 @unit12 @unit10 @unit6 @color2;
  }
}

.rgActiveCell {
  box-shadow: inset 0 0 @unit10 @color2;
}

.rgHoveredRow {
  > td {
    background: #efefef;
    color: #000000;
  }
}

.rgEditRow {
  background: @color7;

  > td {
    border-style: solid;
    border-width: 0 0 @unit9 0;
    border-color: @color5;
  }

  > td input {
    padding: 0 @unit5;
    height: 2.42857em;
    line-height: 2.42857em;
    border: @unit9 solid @color1;
    border-radius: @unit2;
    font-size: @unit11;
  }

  > td input[type="image"] {
    width: auto;
    height: auto;
  }
}

.rgSorted {
  background-color: @grid-header-bg;
}

.rgSelectedRow {
  > td {
      background-color: @selected-row-bg !important;
  }

  > td.rgSorted {
      background-color: @selected-row-bg !important;
  }

  &.rgHoveredRow {
    background: #ff3300;
  }

  a {
    color: @color7;
  }
}

.RadGrid_Breg {
  .grid-style;
}

.rgHeader {
  height: 2.3em;
  background: @grid-header-bg;
  border: 0;
  border-bottom: @unit9 solid @color5;
  border-left: @unit9 solid @color5;
  color: @color7;
  font-weight: bold;

  > img {
    .fy-mixin-1;
  }

  a {
    color: @color7;
    font-weight: bold;
  }
}

.rgCommandRow {
  height: 2.3em;
  background: @color6;
  background-color: @color6;
  border-bottom: @unit9 solid @color5;

  table {
    font-size: @unit3;
    font-family: @fontFamily;
    line-height: @unit13;
  }

  .rgAdd,
  .rgSave,
  .rgCancel,
  .rgRefresh {
    .rgIcon:hover {
      border: @unit9 solid @color4;
      background: @color3;
    }
  }

  .rgIcon {
    width: @unit4;
    height: @unit4;
    line-height: @unit4;
    border: @unit9 solid transparent;
    border-radius: 0.2em;
    font-size: 1.4em;
  }
}

.rgGroupPanel {
  margin: @unit7;
  padding: .71em;
  border-bottom: @unit9 solid @color5;
  background: @color6;

  table {
    .grid-font;
  }
}

#customBracePOBlock .rgEditForm {
  background: #ffffff;
}

.rgEditForm {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(230,230,230,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(100%, rgba(230,230,230,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(230,230,230,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(230,230,230,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(230,230,230,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(230,230,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 );
  table {
    .grid-font;
    width:100%;
  }

  .rgHeader {
    padding: 10px;
    border-left-width: 0;
  }

  [type="text"] {
    .selected-row-cell;
  }
}

.rgActionButton {
  width: auto;
  height: auto;
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgDrag {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgDragClue {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgExpandIcon,
.rgExpand,
.rgExpandCol > input {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgCollapseIcon,
.rgCollapse,
.rgCollapseCol > input {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgGroupPanelExpand {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgGroupPanelCollapse {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgButtonSortDesc {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgButtonSortAsc {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgButtonSortClear {
  color: @color8;

  &:hover {
    color: @color8;
  }
}

.rgMobileExportForm {
  .rgColumnItem {
    color: @color8;
  }

  .rgColumnItem:hover {
    color: @color8;
  }
}

a {
  &.rgFilter,
  &.rgFilter:hover,
  &.rgColumns,
  &.rgColumns:hover {
    color: @color8;
  }

  &.rcCalPopup,
  &.rcTimePopup {
    margin-right: 0;
    border-radius: 0;
  }
}

.rgEdit,
.rgDel {
  text-indent: 0;
}

.rgIcon {
  width: @unit4;
  height: @unit4;
  line-height: @unit4;
  display: inline-block;

  &:before {
    width: 100%;
    height: 100%;
  }
}

&.rgMultiHeader {
  .rgDataDiv > table,
  .rgFooterDiv > table {
    margin-left: @unit7;
  }
}

.rgMobileMenu {
  background: #fcfcfc;
}

.rgMobileForm,
.rgMobileColumnForm {
  background: @color7;
}

.rgValue {
  height: 2.42em;
  border: @unit9 solid @color1;
  font-size: @unit11;
}

.rgColumnItem {
  .rgDrag:before {
    border-right: @unit9 solid @color5;
  }
}

.rgMobileGroupForm {
  .rgMobileForm {
    border-color: @color1;
    background: #fcfcfc;
  }
}

th {
  &.rgResizeCol {
    border: 0;
    border-bottom: @unit9 solid @color5;
    border-left: @unit9 solid @color5;
  }

  &.rgResizeCol > img {
    .selected-row-cell;
  }

  &.rgCheck {
    width: 20px !important;
  }
}

.rgHeaderWrapper {
  border: 0;
  border-bottom: @unit9 solid @color5;
  border-left: @unit9 solid @color5;

  > img {
    .selected-row-cell;
  }
}

td {
  &.rgEditRow .rgSelectedRow {
    .selected-row-cell;
  }

  &.rgGroupCol {
    background: #ccc !important;
  }
}

.rgSelectedCell {
  a {
    color: @color7;
  }
}

.rgFooterWrapper {
  background: @color6;
  border-top: @unit9 solid @color5;

  tr.rgFooter td {
    border-bottom-width: 0;
  }
}

.rgWrap {
  width: 50%;
  line-height: inherit;
  white-space: normal;
  display: inline-block;
  font-size: 11px;

  &.rgInfoPart {
    float: right;
    text-align: right;
  }
}

.rgPager {
  .rgStatus {
    width: 3.36em;
    background-color: @color6;
    border-right: 0 none;
  }
}

.rgStatus {
  div {
    width: auto;
    height: 2.5em;
    background-image: url("images/Common/loading_small.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

tr.rgPager td.rgPagerCell,
td.rgPagerCell,
tr.GridPager_Breg > td {
  .grid-pager;

  .rgWrap {
    padding: 0;
  }

  .rgNumPart a,
  > a,
  > span {
    .grid-pager-numpart-link;

    &:hover {
      .fy-mixin-4;
    }
  }

  .rgNumPart a.rgCurrentPage,
  > span {
    border-color: #e62e00;
    color: @color7;
    background-color: #ff3300;
  }

  .rgPagerButton {
    .grid-pager-button;
  }

  .rgActionButton {
    border-width: @unit9;
    border-style: solid;
    box-sizing: content-box;
    border-color: @color4;
    color: @color8;
    background-color: @color7;
    font-size: @unit11;
    margin: 0;
    width: 1.42857em;
    border-left-width: 0;
  }

  .rgActionButton:hover {
    .fy-mixin-4;
  }

  .rgPageFirst,
  .NumericPages .rgNumPart a:first-child,
  &.NumericPages .rgNumPart a:first-child,
  > span,
  > a:first-child {
    border-left-width: @unit9;
    border-top-left-radius: @unit2;
    border-bottom-left-radius: @unit2;
  }

  .rgPageLast,
  .NumericPages .rgNumPart a:last-child,
  &.NumericPages .rgNumPart a:last-child,
  > a:last-child {
    border-top-right-radius: @unit2;
    border-bottom-right-radius: @unit2;
  }

  .rgInfoPart {
    line-height: 2 !important;
  }
}

.rgGroupItem {
  padding: 0 @unit5;
  border: @unit9 solid @color1;
  color: @color8;
}

.rgGroupHeader {
  td {
    padding: .5em 0;
    height: 2.3em;
    border-bottom: @unit9 solid #ccc;
    background: #e0e0e0;
    font-weight: bold;
    border-right: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
  }

  td p {
    font-weight: bold;
  }

  + .rgGroupHeader ~ tr > .rgGroupCol:nth-child(2) {
    background: #dcdcdc !important;
  }

  + .rgGroupHeader ~ tr > td[colspan="7"],
  + .rgGroupHeader > td[colspan="7"] {
    background: #dadada !important;
  }

  .rgGroupCol {
    border-bottom-width: 0;
  }
}

table {
  &.rgMasterTable .rgGroupCol {
    border-left-width: 0;
  }
}

.rgFilterRow {
  > td {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: @unit9 solid @color5;
  }

  .RadPicker .RadInput {
    width: 100%;
  }

  .riTextBox {
    border-radius: @unit2 0 0 @unit2;
  }

  .riSingle .riTextBox {
    vertical-align: top;
  }
}

.rgFilterBox {
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  color: #555555;
  border: @unit9 solid @color1;
  border-radius: @unit2 0 0 @unit2;
}

.rgFilter {
  margin-left: @unit7;
  width: @unit1;
  height: @unit1;
  border: @unit9 solid @color1;
  border-radius: 0 @unit2 @unit2 0;
  background-color: @color7;
  box-sizing: content-box;

  &:hover {
    background-color: @color3;
  }

  .rgIcon {
    line-height: 1.9;
  }
}

.rgFiltered {
  background-color: @color3;

  &:hover {
    background-color: @color3;
  }
}

.rgEditFormContainer {
  padding-top: 10px;

  table {
    padding-left: 10px;
  }

  .rgUpdate {
    margin-left: 0.71429em;
    width: @unit1;
    height: @unit1;
    background-color: @color7;
    border: @unit9 solid @color4;
    border-radius: @unit2;
  }

  .rgUpdate:hover {
    background-color: @color3;
  }

  .rgUpdate .rgIcon {
    width: auto;
    height: auto;
  }

  .rgCancel {
    .fy-mixin-5;
  }

  .rgCancel:hover {
    background-color: @color3;
  }

  .rgCancel .rgIcon {
    width: auto;
    height: auto;
  }
}

.RadComboBox {
  .rcbInput {
    border: 0 none;
    padding: 0;
  }
}

.rgCommandCell {
  height: 2.85714em;
  padding: 0 0.71429em;
  border: 0;
  border-bottom: @unit9 solid @color5;
}

tfoot {
  .rgCommandCell {
    border-top: @unit9 solid @color5;
    border-bottom: 0;
  }
}

.rgCommandTable {
  td {
    border: 0;
    padding: 0.14em @unit5;
  }
}


.RadGrid,
.RadGrid_Breg {
  .rgHeader,
  th,
  th.resizeCol,
  .gridHeader_Breg,
  .rgHeaderWrapper {
    .grid-header;

    a,
    span {
      .grid-header-font;
    }
  }
}

* {
  + html {
    .RadGrid_Breg .rgFilter {
      height: 34px;
    }
  }
}

.GridItemDropIndicator_Breg {
  border-top: @unit9 dashed #666;
}

.GridToolTip_Breg {
  border: @unit9 solid #c98400;
  padding: 3px;
  background: #ffefbd;
  color: #333;
}

.RadGridRTL_Breg {
  .rgHeader {
    &:first-child {
      border-left-width: @unit9;
      padding-left: @unit14;
    }
  }

  th {
    &.rgResizeCol:first-child {
      border-left-width: @unit9;
      padding-left: @unit14;
    }
  }

  .rgFilterRow,
  .rgRow,
  .rgAltRow {
    > td:first-child {
      border-left-width: @unit9;
      padding-left: @unit14;
    }
  }
}

.GridContextMenu_Breg {
  .rgHCMClear {
    .fy-mixin-7;

    &:hover {
      .fy-mixin-7;
    }
  }

  .rgHCMFilter {
    .fy-mixin-7;

    &:hover {
      .fy-mixin-7;
    }
  }

  .rmGroup {
    .rgHCMItem div.rmContent {
      padding: 15px;
      margin: 0 auto;
    }
  }
}

tr.rgNoRecords {
  font-style: italic;
  color: gray;

  td {
    padding: 5px;
  }
}


.rgExpand {
  background-image: url('images/Common/expand.png');
  background-size: cover;

  &:hover {
    opacity: 0.5;
  }
}

.rgCollapse {
  background-image: url('images/Common/collapse.png');
  background-size: cover;

  &:hover {
    opacity: 0.5;
  }
}

.rgDetailTable tr.rgEditRow + tr {
  > td {
    padding-top: 0;

    .rgEditForm {
      border: 1px solid @grid-header-bg;
      border-top-width: 0 !important;
      border-collapse: separate;

      table {
        border-width: 0;
      }
    }
  }
}

table.dataTable {
  .grid-style;

  th {
    .grid-header;
  }

  td {
    .grid-cell;

    &.edit {
      form {
        display: flex;
        flex-direction: row;

        input[name="value"] {
          max-width: 80px !important;
          height: auto !important;
        }
      }
    }
  }
}

.dataTables_info {
  float: right;
}

.dataTables_length {
  float: right;
}

.dataTables_paginate {
  .grid-pager;

  > a {
    .grid-pager-button;
  }
}

.rgPager > td {
  padding: 0 !important;
}

.GridPager_Breg > td *:NOT(span, a) {
  display: none;
}

.GridTotals tr > td:last-child,
.GridTotals tr > th:last-child {
  text-align: right;
}

.GridTotals td,
.GridTotals th {
  text-align: center;
}

.RadGrid .rgNumPart span {
  float: none !important;
  padding: 0 !important;
}

.rgExpandCol,
.rgCollapseCol {
  input {
    padding: 2px 8px !important;
  }
}

/* DataTables overrides */
div.dataTables_wrapper {
  background-color:#f5f5f5;
  > .dataTables_info,
  > .dataTables_length {
    float:right !important;
    margin:5px 10px 5px 5px;
  }
  > .dataTables_paginate,
  > .dataTables_filter {
    float:left !important;
    margin:5px;
  }
   .dataTables_paginate { 
     padding:0 !important;
     a.paginate_button {
       min-width:3px;
       border-right:1px solid #ccc;
       .grid-pager-numpart-link !important;
       &:hover {
         background:none;
         background-color: #e6e6e6 !important;
         color:#000 !important;
       }
       &.current,
       &.current:hover {
         background:none;
         background-color:#ff3300 !important;
         color:white !important;
       }
       &:first-child {
         border-top-left-radius:4px !important;
         border-bottom-left-radius:4px !important;
       }
       &:last-child {
         border-top-right-radius:4px !important;
         border-bottom-right-radius:4px !important;
         border-right:none;
       }
     }
   }
   .dataTables_info {
     padding-top:0;
     line-height:26px;
   }
}

td.edit {
  img {
    opacity:0.7;
  }
  &:hover {
    cursor:pointer;
    img {
      opacity:1;
    }
  }
}


.GridTotals table table tfoot > tr > td {
  border-top: 2px solid gray;
}

.GridTotals .GridFooter_Breg td {
  padding: 15px 5px;
  border-bottom: 3px double gray;
  text-decoration:none !important;
  font-weight:bold;
}