﻿.grid-font {
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
.grid-header-font {
  color: white;
  font-weight: 500 !important;
  text-decoration: none;
  font-size: 11.5px;
}
.grid-pager {
  color: #333333;
  background-color: #dddddd;
  border-top: 1px solid #dddddd;
  padding: 4px;
  border-bottom: 1px solid #ffffff;
}
.grid-pager-button {
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  border-radius: 0.28571em;
}
.grid-pager-button:hover {
  color: #333333;
  background-color: #e6e6e6;
}
.grid-pager-numpart-link {
  line-height: 22px;
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  margin: 0;
  width: 1.42857em;
  border-left-width: 0;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  float: none !important;
  padding: 0 2.5px;
  text-decoration: none;
}
.grid-cell {
  background-color: #ffffff;
  color: #333333;
  border-color: #f2f2f2;
  padding: 0.35714em 0.5em 0.28571em 0.5em;
  height: 2.28571em;
  border-style: solid;
  border-width: 0 0 1px 1px;
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
.fy-mixin-1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.selected-row {
  background-color: rgba(255, 51, 0, 0.14);
  border-color: #ffffff;
}
.selected-row-cell {
  border: 1px solid #cccccc;
  border-radius: .3em;
}
.fy-mixin-4 {
  color: #333333;
  background-color: #e6e6e6;
}
.fy-mixin-5 {
  width: 2.28571em;
  height: 2.28571em;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0.28571em;
}
.grid-header {
  background-color: #B7B7B7;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #f2f2f2 !important;
  border-left: 1px solid #f2f2f2 !important;
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-color: #f2f2f2 !important;
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  color: white;
  font-weight: 500 !important;
  text-decoration: none;
  font-size: 11.5px;
}
.fy-mixin-7 {
  font-size: 1em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.28571em;
}
.grid-style {
  border: 0 solid transparent;
  width: 100% !important;
  overflow-x: auto;
  border-radius: 0px;
  color: #333333;
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
.SelectedRow_Breg > td,
.SelectedRow_Breg.GridAltRow_Breg > td {
  background-color: rgba(255, 51, 0, 0.14) !important;
  border-color: #ffffff !important;
}
.rgMasterTable {
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
.rgMasterTable .rgSelectedCell {
  background-color: rgba(255, 51, 0, 0.14);
  border-color: #ffffff;
}
.rgMasterTable > tbody tr:first-child .rgGroupCol {
  border-top-width: 0;
}
.rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
  border-top: 1px solid #f2f2f2;
  border-bottom: 0;
}
.rgDetailTable {
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
  border-color: #f2f2f2;
}
.rgDetailTable .rgRow td:first-child {
  border-left-width: 0;
}
.rgDetailTable .rgAltRow td:first-child {
  border-left-width: 0;
}
.rgMultiHeaderRow th.rgHeader,
.rgMultiHeaderRow th.rgResizeCol {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.rgHeaderDiv {
  border-right: 1px solid #f2f2f2;
}
.rgRow,
.GridRow_Breg,
.RadGrid_Breg > tbody > tr,
.rgEditRow {
  word-wrap: break-word;
}
.rgRow > td,
.GridRow_Breg > td,
.RadGrid_Breg > tbody > tr > td,
.rgEditRow > td {
  background-color: #ffffff;
  color: #333333;
  border-color: #f2f2f2;
  padding: 0.35714em 0.5em 0.28571em 0.5em;
  height: 2.28571em;
  border-style: solid;
  border-width: 0 0 1px 1px;
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
.rgRow .rgGroupCol,
.GridRow_Breg .rgGroupCol,
.RadGrid_Breg > tbody > tr .rgGroupCol,
.rgEditRow .rgGroupCol {
  border-bottom-width: 0;
  background: #fbfbfb;
}
.rgRow [type="text"],
.GridRow_Breg [type="text"],
.RadGrid_Breg > tbody > tr [type="text"],
.rgEditRow [type="text"] {
  border: 1px solid #cccccc;
  border-radius: .3em;
}
.rgRow [type="text"]:disabled,
.GridRow_Breg [type="text"]:disabled,
.RadGrid_Breg > tbody > tr [type="text"]:disabled,
.rgEditRow [type="text"]:disabled {
  background-color: lightgrey !important;
  color: black !important;
}
.rgRow .rgExpandCol,
.GridRow_Breg .rgExpandCol,
.RadGrid_Breg > tbody > tr .rgExpandCol,
.rgEditRow .rgExpandCol,
.rgRow .rgCollapseCol,
.GridRow_Breg .rgCollapseCol,
.RadGrid_Breg > tbody > tr .rgCollapseCol,
.rgEditRow .rgCollapseCol {
  border-left-width: 0;
}
.rgAltRow > td,
.GridAltRow_Breg > td,
.RadGrid_Breg > tbody > tr:nth-child(odd) > td {
  border-color: #f2f2f2;
  padding: 0.35714em 0.5em 0.28571em 0.5em;
  height: 2.28571em;
  border-style: solid;
  border-width: 0 0 1px 1px;
  background-color: #eeeeee;
  color: #333333;
}
.rgAltRow .rgSorted,
.GridAltRow_Breg .rgSorted,
.RadGrid_Breg > tbody > tr:nth-child(odd) .rgSorted {
  background-color: #eeeeee;
}
.rgAltRow th.rgSorted,
.GridAltRow_Breg th.rgSorted,
.RadGrid_Breg > tbody > tr:nth-child(odd) th.rgSorted {
  background-color: #B7B7B7;
}
.rgAltRow.rgHoveredRow .rgSorted,
.GridAltRow_Breg.rgHoveredRow .rgSorted,
.RadGrid_Breg > tbody > tr:nth-child(odd).rgHoveredRow .rgSorted {
  background-color: #dddddd;
}
.rgAltRow .rgGroupCol,
.GridAltRow_Breg .rgGroupCol,
.RadGrid_Breg > tbody > tr:nth-child(odd) .rgGroupCol {
  border-bottom-width: 0;
  background: #fbfbfb;
}
.rgAltRow [type="text"],
.GridAltRow_Breg [type="text"],
.RadGrid_Breg > tbody > tr:nth-child(odd) [type="text"] {
  border: 1px solid #cccccc;
  border-radius: .3em;
}
.rgAltRow .rgExpandCol,
.GridAltRow_Breg .rgExpandCol,
.RadGrid_Breg > tbody > tr:nth-child(odd) .rgExpandCol,
.rgAltRow .rgCollapseCol,
.GridAltRow_Breg .rgCollapseCol,
.RadGrid_Breg > tbody > tr:nth-child(odd) .rgCollapseCol {
  border-left-width: 0;
}
.rgFooter {
  background: #f5f5f5;
}
.rgFooter > td {
  border-color: #f2f2f2;
  border-left: 1px solid #f2f2f2;
  padding: 0.71429em 0.35714em;
}
.rgFooter > td:first-child {
  border-left-width: 0;
}
.rgFooter .rgGroupCol,
.rgFooter .rgGroupCol ~ td {
  border-bottom: 1px solid #f2f2f2;
}
.rgFooter .rgExpandCol {
  border-left-width: 0;
}
.rgActiveRow td:not(.rgExpandCol) {
  box-shadow: inset 0px 5px 5px -5px #37AAF1, inset 0px -5px 5px -5px #37AAF1;
}
.rgActiveRow td:not(.rgExpandCol):last-child {
  box-shadow: inset 0px 5px 5px -5px #37AAF1, inset 0px -5px 5px -5px #37AAF1, inset -5px 0px 5px -5px #37AAF1;
}
.rgActiveRow td:first-child:not(.rgExpandCol) {
  box-shadow: inset 0px 5px 5px -5px #37AAF1, inset 0px -5px 5px -5px #37AAF1, inset 5px 0px 5px -5px #37AAF1;
}
.rgActiveRow .rgExpandCol + td {
  box-shadow: inset 0px 5px 5px -5px #37AAF1, inset 0px -5px 5px -5px #37AAF1, inset 5px 0px 5px -5px #37AAF1;
}
.rgActiveCell {
  box-shadow: inset 0 0 5px #37AAF1;
}
.rgHoveredRow > td {
  background: #efefef;
  color: #000000;
}
.rgEditRow {
  background: #ffffff;
}
.rgEditRow > td {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #f2f2f2;
}
.rgEditRow > td input {
  padding: 0 0.5em;
  height: 2.42857em;
  line-height: 2.42857em;
  border: 1px solid #dddddd;
  border-radius: 0.28571em;
  font-size: 1em;
}
.rgEditRow > td input[type="image"] {
  width: auto;
  height: auto;
}
.rgSorted {
  background-color: #B7B7B7;
}
.rgSelectedRow > td {
  background-color: rgba(255, 51, 0, 0.14) !important;
}
.rgSelectedRow > td.rgSorted {
  background-color: rgba(255, 51, 0, 0.14) !important;
}
.rgSelectedRow.rgHoveredRow {
  background: #ff3300;
}
.rgSelectedRow a {
  color: #ffffff;
}
.RadGrid_Breg {
  border: 0 solid transparent;
  width: 100% !important;
  overflow-x: auto;
  border-radius: 0px;
  color: #333333;
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
.rgHeader {
  height: 2.3em;
  background: #B7B7B7;
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  color: #ffffff;
  font-weight: bold;
}
.rgHeader > img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.rgHeader a {
  color: #ffffff;
  font-weight: bold;
}
.rgCommandRow {
  height: 2.3em;
  background: #f5f5f5;
  background-color: #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
}
.rgCommandRow table {
  font-size: 12.5px;
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
}
.rgCommandRow .rgAdd .rgIcon:hover,
.rgCommandRow .rgSave .rgIcon:hover,
.rgCommandRow .rgCancel .rgIcon:hover,
.rgCommandRow .rgRefresh .rgIcon:hover {
  border: 1px solid #eeeeee;
  background: #e6e6e6;
}
.rgCommandRow .rgIcon {
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  border: 1px solid transparent;
  border-radius: 0.2em;
  font-size: 1.4em;
}
.rgGroupPanel {
  margin: -1px;
  padding: .71em;
  border-bottom: 1px solid #f2f2f2;
  background: #f5f5f5;
}
.rgGroupPanel table {
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
#customBracePOBlock .rgEditForm {
  background: #ffffff;
}
.rgEditForm {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 39%, #e6e6e6 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(39%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 39%, #e6e6e6 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 39%, #e6e6e6 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 39%, #e6e6e6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 39%, #e6e6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
}
.rgEditForm table {
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
  width: 100%;
}
.rgEditForm .rgHeader {
  padding: 10px;
  border-left-width: 0;
}
.rgEditForm [type="text"] {
  border: 1px solid #cccccc;
  border-radius: .3em;
}
.rgActionButton {
  width: auto;
  height: auto;
  color: #333333;
}
.rgActionButton:hover {
  color: #333333;
}
.rgDrag {
  color: #333333;
}
.rgDrag:hover {
  color: #333333;
}
.rgDragClue {
  color: #333333;
}
.rgDragClue:hover {
  color: #333333;
}
.rgExpandIcon,
.rgExpand,
.rgExpandCol > input {
  color: #333333;
}
.rgExpandIcon:hover,
.rgExpand:hover,
.rgExpandCol > input:hover {
  color: #333333;
}
.rgCollapseIcon,
.rgCollapse,
.rgCollapseCol > input {
  color: #333333;
}
.rgCollapseIcon:hover,
.rgCollapse:hover,
.rgCollapseCol > input:hover {
  color: #333333;
}
.rgGroupPanelExpand {
  color: #333333;
}
.rgGroupPanelExpand:hover {
  color: #333333;
}
.rgGroupPanelCollapse {
  color: #333333;
}
.rgGroupPanelCollapse:hover {
  color: #333333;
}
.rgButtonSortDesc {
  color: #333333;
}
.rgButtonSortDesc:hover {
  color: #333333;
}
.rgButtonSortAsc {
  color: #333333;
}
.rgButtonSortAsc:hover {
  color: #333333;
}
.rgButtonSortClear {
  color: #333333;
}
.rgButtonSortClear:hover {
  color: #333333;
}
.rgMobileExportForm .rgColumnItem {
  color: #333333;
}
.rgMobileExportForm .rgColumnItem:hover {
  color: #333333;
}
a.rgFilter,
a.rgFilter:hover,
a.rgColumns,
a.rgColumns:hover {
  color: #333333;
}
a.rcCalPopup,
a.rcTimePopup {
  margin-right: 0;
  border-radius: 0;
}
.rgEdit,
.rgDel {
  text-indent: 0;
}
.rgIcon {
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  display: inline-block;
}
.rgIcon:before {
  width: 100%;
  height: 100%;
}
.rgMultiHeader .rgDataDiv > table,
.rgMultiHeader .rgFooterDiv > table {
  margin-left: -1px;
}
.rgMobileMenu {
  background: #fcfcfc;
}
.rgMobileForm,
.rgMobileColumnForm {
  background: #ffffff;
}
.rgValue {
  height: 2.42em;
  border: 1px solid #dddddd;
  font-size: 1em;
}
.rgColumnItem .rgDrag:before {
  border-right: 1px solid #f2f2f2;
}
.rgMobileGroupForm .rgMobileForm {
  border-color: #dddddd;
  background: #fcfcfc;
}
th.rgResizeCol {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
th.rgResizeCol > img {
  border: 1px solid #cccccc;
  border-radius: .3em;
}
th.rgCheck {
  width: 20px !important;
}
.rgHeaderWrapper {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.rgHeaderWrapper > img {
  border: 1px solid #cccccc;
  border-radius: .3em;
}
td.rgEditRow .rgSelectedRow {
  border: 1px solid #cccccc;
  border-radius: .3em;
}
td.rgGroupCol {
  background: #ccc !important;
}
.rgSelectedCell a {
  color: #ffffff;
}
.rgFooterWrapper {
  background: #f5f5f5;
  border-top: 1px solid #f2f2f2;
}
.rgFooterWrapper tr.rgFooter td {
  border-bottom-width: 0;
}
.rgWrap {
  width: 50%;
  line-height: inherit;
  white-space: normal;
  display: inline-block;
  font-size: 11px;
}
.rgWrap.rgInfoPart {
  float: right;
  text-align: right;
}
.rgPager .rgStatus {
  width: 3.36em;
  background-color: #f5f5f5;
  border-right: 0 none;
}
.rgStatus div {
  width: auto;
  height: 2.5em;
  background-image: url("images/Common/loading_small.gif");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
tr.rgPager td.rgPagerCell,
td.rgPagerCell,
tr.GridPager_Breg > td {
  color: #333333;
  background-color: #dddddd;
  border-top: 1px solid #dddddd;
  padding: 4px;
  border-bottom: 1px solid #ffffff;
}
tr.rgPager td.rgPagerCell .rgWrap,
td.rgPagerCell .rgWrap,
tr.GridPager_Breg > td .rgWrap {
  padding: 0;
}
tr.rgPager td.rgPagerCell .rgNumPart a,
td.rgPagerCell .rgNumPart a,
tr.GridPager_Breg > td .rgNumPart a,
tr.rgPager td.rgPagerCell > a,
td.rgPagerCell > a,
tr.GridPager_Breg > td > a,
tr.rgPager td.rgPagerCell > span,
td.rgPagerCell > span,
tr.GridPager_Breg > td > span {
  line-height: 22px;
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  margin: 0;
  width: 1.42857em;
  border-left-width: 0;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  float: none !important;
  padding: 0 2.5px;
  text-decoration: none;
}
tr.rgPager td.rgPagerCell .rgNumPart a:hover,
td.rgPagerCell .rgNumPart a:hover,
tr.GridPager_Breg > td .rgNumPart a:hover,
tr.rgPager td.rgPagerCell > a:hover,
td.rgPagerCell > a:hover,
tr.GridPager_Breg > td > a:hover,
tr.rgPager td.rgPagerCell > span:hover,
td.rgPagerCell > span:hover,
tr.GridPager_Breg > td > span:hover {
  color: #333333;
  background-color: #e6e6e6;
}
tr.rgPager td.rgPagerCell .rgNumPart a.rgCurrentPage,
td.rgPagerCell .rgNumPart a.rgCurrentPage,
tr.GridPager_Breg > td .rgNumPart a.rgCurrentPage,
tr.rgPager td.rgPagerCell > span,
td.rgPagerCell > span,
tr.GridPager_Breg > td > span {
  border-color: #e62e00;
  color: #ffffff;
  background-color: #ff3300;
}
tr.rgPager td.rgPagerCell .rgPagerButton,
td.rgPagerCell .rgPagerButton,
tr.GridPager_Breg > td .rgPagerButton {
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  border-radius: 0.28571em;
}
tr.rgPager td.rgPagerCell .rgPagerButton:hover,
td.rgPagerCell .rgPagerButton:hover,
tr.GridPager_Breg > td .rgPagerButton:hover {
  color: #333333;
  background-color: #e6e6e6;
}
tr.rgPager td.rgPagerCell .rgActionButton,
td.rgPagerCell .rgActionButton,
tr.GridPager_Breg > td .rgActionButton {
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  margin: 0;
  width: 1.42857em;
  border-left-width: 0;
}
tr.rgPager td.rgPagerCell .rgActionButton:hover,
td.rgPagerCell .rgActionButton:hover,
tr.GridPager_Breg > td .rgActionButton:hover {
  color: #333333;
  background-color: #e6e6e6;
}
tr.rgPager td.rgPagerCell .rgPageFirst,
td.rgPagerCell .rgPageFirst,
tr.GridPager_Breg > td .rgPageFirst,
tr.rgPager td.rgPagerCell .NumericPages .rgNumPart a:first-child,
td.rgPagerCell .NumericPages .rgNumPart a:first-child,
tr.GridPager_Breg > td .NumericPages .rgNumPart a:first-child,
tr.rgPager td.rgPagerCell.NumericPages .rgNumPart a:first-child,
td.rgPagerCell.NumericPages .rgNumPart a:first-child,
tr.GridPager_Breg > td.NumericPages .rgNumPart a:first-child,
tr.rgPager td.rgPagerCell > span,
td.rgPagerCell > span,
tr.GridPager_Breg > td > span,
tr.rgPager td.rgPagerCell > a:first-child,
td.rgPagerCell > a:first-child,
tr.GridPager_Breg > td > a:first-child {
  border-left-width: 1px;
  border-top-left-radius: 0.28571em;
  border-bottom-left-radius: 0.28571em;
}
tr.rgPager td.rgPagerCell .rgPageLast,
td.rgPagerCell .rgPageLast,
tr.GridPager_Breg > td .rgPageLast,
tr.rgPager td.rgPagerCell .NumericPages .rgNumPart a:last-child,
td.rgPagerCell .NumericPages .rgNumPart a:last-child,
tr.GridPager_Breg > td .NumericPages .rgNumPart a:last-child,
tr.rgPager td.rgPagerCell.NumericPages .rgNumPart a:last-child,
td.rgPagerCell.NumericPages .rgNumPart a:last-child,
tr.GridPager_Breg > td.NumericPages .rgNumPart a:last-child,
tr.rgPager td.rgPagerCell > a:last-child,
td.rgPagerCell > a:last-child,
tr.GridPager_Breg > td > a:last-child {
  border-top-right-radius: 0.28571em;
  border-bottom-right-radius: 0.28571em;
}
tr.rgPager td.rgPagerCell .rgInfoPart,
td.rgPagerCell .rgInfoPart,
tr.GridPager_Breg > td .rgInfoPart {
  line-height: 2 !important;
}
.rgGroupItem {
  padding: 0 0.5em;
  border: 1px solid #dddddd;
  color: #333333;
}
.rgGroupHeader td {
  padding: .5em 0;
  height: 2.3em;
  border-bottom: 1px solid #ccc;
  background: #e0e0e0;
  font-weight: bold;
  border-right: 0px solid transparent !important;
  border-left: 0px solid transparent !important;
}
.rgGroupHeader td p {
  font-weight: bold;
}
.rgGroupHeader + .rgGroupHeader ~ tr > .rgGroupCol:nth-child(2) {
  background: #dcdcdc !important;
}
.rgGroupHeader + .rgGroupHeader ~ tr > td[colspan="7"],
.rgGroupHeader + .rgGroupHeader > td[colspan="7"] {
  background: #dadada !important;
}
.rgGroupHeader .rgGroupCol {
  border-bottom-width: 0;
}
table.rgMasterTable .rgGroupCol {
  border-left-width: 0;
}
.rgFilterRow > td {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #f2f2f2;
}
.rgFilterRow .RadPicker .RadInput {
  width: 100%;
}
.rgFilterRow .riTextBox {
  border-radius: 0.28571em 0 0 0.28571em;
}
.rgFilterRow .riSingle .riTextBox {
  vertical-align: top;
}
.rgFilterBox {
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  color: #555555;
  border: 1px solid #dddddd;
  border-radius: 0.28571em 0 0 0.28571em;
}
.rgFilter {
  margin-left: -1px;
  width: 2.28571em;
  height: 2.28571em;
  border: 1px solid #dddddd;
  border-radius: 0 0.28571em 0.28571em 0;
  background-color: #ffffff;
  box-sizing: content-box;
}
.rgFilter:hover {
  background-color: #e6e6e6;
}
.rgFilter .rgIcon {
  line-height: 1.9;
}
.rgFiltered {
  background-color: #e6e6e6;
}
.rgFiltered:hover {
  background-color: #e6e6e6;
}
.rgEditFormContainer {
  padding-top: 10px;
}
.rgEditFormContainer table {
  padding-left: 10px;
}
.rgEditFormContainer .rgUpdate {
  margin-left: 0.71429em;
  width: 2.28571em;
  height: 2.28571em;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0.28571em;
}
.rgEditFormContainer .rgUpdate:hover {
  background-color: #e6e6e6;
}
.rgEditFormContainer .rgUpdate .rgIcon {
  width: auto;
  height: auto;
}
.rgEditFormContainer .rgCancel {
  width: 2.28571em;
  height: 2.28571em;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0.28571em;
}
.rgEditFormContainer .rgCancel:hover {
  background-color: #e6e6e6;
}
.rgEditFormContainer .rgCancel .rgIcon {
  width: auto;
  height: auto;
}
.RadComboBox .rcbInput {
  border: 0 none;
  padding: 0;
}
.rgCommandCell {
  height: 2.85714em;
  padding: 0 0.71429em;
  border: 0;
  border-bottom: 1px solid #f2f2f2;
}
tfoot .rgCommandCell {
  border-top: 1px solid #f2f2f2;
  border-bottom: 0;
}
.rgCommandTable td {
  border: 0;
  padding: 0.14em 0.5em;
}
.RadGrid .rgHeader,
.RadGrid_Breg .rgHeader,
.RadGrid th,
.RadGrid_Breg th,
.RadGrid th.resizeCol,
.RadGrid_Breg th.resizeCol,
.RadGrid .gridHeader_Breg,
.RadGrid_Breg .gridHeader_Breg,
.RadGrid .rgHeaderWrapper,
.RadGrid_Breg .rgHeaderWrapper {
  background-color: #B7B7B7;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #f2f2f2 !important;
  border-left: 1px solid #f2f2f2 !important;
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-color: #f2f2f2 !important;
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  color: white;
  font-weight: 500 !important;
  text-decoration: none;
  font-size: 11.5px;
}
.RadGrid .rgHeader a,
.RadGrid_Breg .rgHeader a,
.RadGrid th a,
.RadGrid_Breg th a,
.RadGrid th.resizeCol a,
.RadGrid_Breg th.resizeCol a,
.RadGrid .gridHeader_Breg a,
.RadGrid_Breg .gridHeader_Breg a,
.RadGrid .rgHeaderWrapper a,
.RadGrid_Breg .rgHeaderWrapper a,
.RadGrid .rgHeader span,
.RadGrid_Breg .rgHeader span,
.RadGrid th span,
.RadGrid_Breg th span,
.RadGrid th.resizeCol span,
.RadGrid_Breg th.resizeCol span,
.RadGrid .gridHeader_Breg span,
.RadGrid_Breg .gridHeader_Breg span,
.RadGrid .rgHeaderWrapper span,
.RadGrid_Breg .rgHeaderWrapper span {
  color: white;
  font-weight: 500 !important;
  text-decoration: none;
  font-size: 11.5px;
}
* + html .RadGrid_Breg .rgFilter {
  height: 34px;
}
.GridItemDropIndicator_Breg {
  border-top: 1px dashed #666;
}
.GridToolTip_Breg {
  border: 1px solid #c98400;
  padding: 3px;
  background: #ffefbd;
  color: #333;
}
.RadGridRTL_Breg .rgHeader:first-child {
  border-left-width: 1px;
  padding-left: 7px;
}
.RadGridRTL_Breg th.rgResizeCol:first-child {
  border-left-width: 1px;
  padding-left: 7px;
}
.RadGridRTL_Breg .rgFilterRow > td:first-child,
.RadGridRTL_Breg .rgRow > td:first-child,
.RadGridRTL_Breg .rgAltRow > td:first-child {
  border-left-width: 1px;
  padding-left: 7px;
}
.GridContextMenu_Breg .rgHCMClear {
  font-size: 1em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.28571em;
}
.GridContextMenu_Breg .rgHCMClear:hover {
  font-size: 1em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.28571em;
}
.GridContextMenu_Breg .rgHCMFilter {
  font-size: 1em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.28571em;
}
.GridContextMenu_Breg .rgHCMFilter:hover {
  font-size: 1em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.28571em;
}
.GridContextMenu_Breg .rmGroup .rgHCMItem div.rmContent {
  padding: 15px;
  margin: 0 auto;
}
tr.rgNoRecords {
  font-style: italic;
  color: gray;
}
tr.rgNoRecords td {
  padding: 5px;
}
.rgExpand {
  background-image: url('images/Common/expand.png');
  background-size: cover;
}
.rgExpand:hover {
  opacity: 0.5;
}
.rgCollapse {
  background-image: url('images/Common/collapse.png');
  background-size: cover;
}
.rgCollapse:hover {
  opacity: 0.5;
}
.rgDetailTable tr.rgEditRow + tr > td {
  padding-top: 0;
}
.rgDetailTable tr.rgEditRow + tr > td .rgEditForm {
  border: 1px solid #B7B7B7;
  border-top-width: 0 !important;
  border-collapse: separate;
}
.rgDetailTable tr.rgEditRow + tr > td .rgEditForm table {
  border-width: 0;
}
table.dataTable {
  border: 0 solid transparent;
  width: 100% !important;
  overflow-x: auto;
  border-radius: 0px;
  color: #333333;
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
table.dataTable th {
  background-color: #B7B7B7;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #f2f2f2 !important;
  border-left: 1px solid #f2f2f2 !important;
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-color: #f2f2f2 !important;
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  color: white;
  font-weight: 500 !important;
  text-decoration: none;
  font-size: 11.5px;
}
table.dataTable td {
  background-color: #ffffff;
  color: #333333;
  border-color: #f2f2f2;
  padding: 0.35714em 0.5em 0.28571em 0.5em;
  height: 2.28571em;
  border-style: solid;
  border-width: 0 0 1px 1px;
  font-family: "Roboto", "Helvetica-Neue", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 12.5px;
}
table.dataTable td.edit form {
  display: flex;
  flex-direction: row;
}
table.dataTable td.edit form input[name="value"] {
  max-width: 80px !important;
  height: auto !important;
}
.dataTables_info {
  float: right;
}
.dataTables_length {
  float: right;
}
.dataTables_paginate {
  color: #333333;
  background-color: #dddddd;
  border-top: 1px solid #dddddd;
  padding: 4px;
  border-bottom: 1px solid #ffffff;
}
.dataTables_paginate > a {
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  border-radius: 0.28571em;
}
.dataTables_paginate > a:hover {
  color: #333333;
  background-color: #e6e6e6;
}
.rgPager > td {
  padding: 0 !important;
}
.GridPager_Breg > td *:NOT(span, a) {
  display: none;
}
.GridTotals tr > td:last-child,
.GridTotals tr > th:last-child {
  text-align: right;
}
.GridTotals td,
.GridTotals th {
  text-align: center;
}
.RadGrid .rgNumPart span {
  float: none !important;
  padding: 0 !important;
}
.rgExpandCol input,
.rgCollapseCol input {
  padding: 2px 8px !important;
}
/* DataTables overrides */
div.dataTables_wrapper {
  background-color: #f5f5f5;
}
div.dataTables_wrapper > .dataTables_info,
div.dataTables_wrapper > .dataTables_length {
  float: right !important;
  margin: 5px 10px 5px 5px;
}
div.dataTables_wrapper > .dataTables_paginate,
div.dataTables_wrapper > .dataTables_filter {
  float: left !important;
  margin: 5px;
}
div.dataTables_wrapper .dataTables_paginate {
  padding: 0 !important;
}
div.dataTables_wrapper .dataTables_paginate a.paginate_button {
  min-width: 3px;
  border-right: 1px solid #ccc;
  line-height: 22px !important;
  border-width: 1px !important;
  border-style: solid !important;
  box-sizing: content-box !important;
  border-color: #eeeeee !important;
  color: #333333 !important;
  background-color: #ffffff !important;
  font-size: 1em !important;
  margin: 0 !important;
  width: 1.42857em !important;
  border-left-width: 0 !important;
  border-radius: 0 !important;
  text-align: center !important;
  display: inline-block !important;
  float: none !important !important;
  padding: 0 2.5px !important;
  text-decoration: none !important;
}
div.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
  background: none;
  background-color: #e6e6e6 !important;
  color: #000 !important;
}
div.dataTables_wrapper .dataTables_paginate a.paginate_button.current,
div.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
  background: none;
  background-color: #ff3300 !important;
  color: white !important;
}
div.dataTables_wrapper .dataTables_paginate a.paginate_button:first-child {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
div.dataTables_wrapper .dataTables_paginate a.paginate_button:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-right: none;
}
div.dataTables_wrapper .dataTables_info {
  padding-top: 0;
  line-height: 26px;
}
td.edit img {
  opacity: 0.7;
}
td.edit:hover {
  cursor: pointer;
}
td.edit:hover img {
  opacity: 1;
}
.GridTotals table table tfoot > tr > td {
  border-top: 2px solid gray;
}
.GridTotals .GridFooter_Breg td {
  padding: 15px 5px;
  border-bottom: 3px double gray;
  text-decoration: none !important;
  font-weight: bold;
}