@unit1:0.28571em;
@color1:#333333;
@color2:#dddddd;
@color3:#fcfcfc;
.RadImageEditor_Breg {
  border-color: @color2;
  background-color: @color3;
  color: @color1;
  &.rieDialogs {
    .riePrintContent {
      border-color: @color2;
      background-color: @color3;
    }
  }
  .rieHighlightVertical {
    border-color: @color2;
    background-color: @color3;
  }
  .rieHighlightHorizontal {
    border-color: @color2;
    background-color: @color3;
  }
  .rieStatusBarInfo {
    .rieLabel {
      color: @color1;
    }
    span {
      color: #666666;
    }
  }
  .RadToolBar_Breg {
    .rtbItem + .rtbItem {
      margin-left: -0.07143em;
    }
    .rtbSeparator {
      margin: 0em 0.21429em;
      border-color: transparent;
    }
    .rtbLI:first-child .rtbButton {
      border-radius: @unit1 0 0 @unit1;
    }
    .rtbLI:last-child .rtbButton {
      border-radius: 0 @unit1 @unit1 0;
    }
    .rtbButton {
      border-radius: 0;
    }
  }
}
.RadDock_Breg.rieDialogs .rieActiveThumbsLink,
.RadDock_Breg.rieDialogs .rieThumbsLink:hover,
.RadDock_Breg.rieDialogs .riePrintContent,
.RadDock_Breg.rieDialogs .riePrintContent img {
  border-color: @color2;
  background-color: @color3;
}
.RadDock_Breg.rieDialogs .rdContent {
  color: @color1;
}
.RadDock_Breg {
  &.rieDialogs {
    .rieThumbsBottomRow td {
      border-color: @color2;
    }
    .rieDialogsThumbsLeft {
      border-color: @color2;
    }
    .rieThumbsLink {
      border-color: @color2;
    }
  }
}
.RadImageEditor_Breg .rieContentArea {
  border-color: @color2;
}
.rieRotateTable .rbIcon:before,
.rieResizeButtons .rbIcon:before {
  color: @color1;
}
.rieRotateTable .rbHovered .rbIcon:before,
.rieResizeButtons .rbHovered .rbIcon:before {
  color: #ff3300;
}
.rieBottomCell {
  border-color: @color2;
}
.rtbLink {
  &:before {
    margin: 0.08333em 0.66667em 0 -1em;
  }
}
.RadToolBarDropDown_Breg_rtl {
  .rtbLink {
    &:before {
      margin: 0.08333em -1em 0 0.66667em;
    }
  }
}
.rieRtl {
  .RadToolBar_Breg_rtl {
    .rtbItem + .rtbItem {
      margin-right: -0.07143em;
    }
    .rtbLI:first-child .rtbButton {
      border-radius: 0 @unit1 @unit1 0;
    }
    .rtbLI:last-child .rtbButton {
      border-radius: @unit1 0 0 @unit1;
    }
  }
}