﻿.fy-mixin-1 {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.fy-mixin-2 {
  border-color: #888888;
  color: #888888;
  background: #eeeeee;
}
.input {
  margin-bottom: 1px;
  padding: 5px 6px !important;
  border-color: #cccccc;
  border-radius: 4px;
  color: #555555;
  background: #ffffff;
  box-shadow: none;
  max-width: 97.5%;
  /*width:auto !important;*/
  border-image: none;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  background-image: none;
  background-clip: none;
}
.input:focus {
  outline-offset: 0;
}
.RadInput_Breg .riTextBox,
.RadInputMgr_Breg,
input[type="text"]:NOT(.ComboBoxInput_Breg):NOT(.ComboBoxInputHover_Breg):NOT(.rcbInput),
input[type="search"]:NOT(.ComboBoxInput_Breg):NOT(.ComboBoxInputHover_Breg):NOT(.rcbInput),
input[type="password"] {
  margin-bottom: 1px;
  padding: 5px 6px !important;
  border-color: #cccccc;
  border-radius: 4px;
  color: #555555;
  background: #ffffff;
  box-shadow: none;
  max-width: 97.5%;
  /*width:auto !important;*/
  border-image: none;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  background-image: none;
  background-clip: none;
}
.RadInput_Breg .riTextBox:focus,
.RadInputMgr_Breg:focus,
input[type="text"]:NOT(.ComboBoxInput_Breg):NOT(.ComboBoxInputHover_Breg):NOT(.rcbInput):focus,
input[type="search"]:NOT(.ComboBoxInput_Breg):NOT(.ComboBoxInputHover_Breg):NOT(.rcbInput):focus,
input[type="password"]:focus {
  outline-offset: 0;
}
.RadInput_Breg .riEmpty,
.RadInput_Empty_Breg {
  color: #888888;
}
.RadInput_Breg .riDisabled,
.RadInput_Disabled_Breg {
  opacity: .7;
  cursor: default;
  color: #888888;
}
.RadInput_Breg,
.RadInputMgr_Breg,
.RadForm_Breg.RadForm.rfdTextbox input.riTextBox.rfdDecorated {
  /*height: 100%;*/
  width: auto;
  max-width: 100%;
}
.RadInputMultiline_Breg,
textarea {
  height: auto !important;
  line-height: 1.1 !important;
  font-family: 'Roboto';
}
.RadInput_Breg .riHover,
.RadInput_Hover_Breg {
  border-color: #c4c4c4;
  color: #555555;
  background-color: #ffffff;
}
td > .RadInput,
td > .RadInput_Breg {
  display: inline-block;
  position: relative;
}
td > .RadInput > input,
td > .RadInput_Breg > input {
  max-width: 90%;
}
html body .RadInput_Breg .riFocused {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
html body .RadInput_Breg .riRead,
html body .RadInput_Focused_Breg,
html body .RadInput_Read_Breg {
  border-color: #888888;
  color: #888888;
  background: #eeeeee;
}
html body .RadInput_Breg .riError,
html body .RadInput_Error_Breg {
  border-color: #a94442;
}
html body .RadInput_Breg .riNegative,
html body .RadInput_Negative_Breg {
  color: #6f6f6f;
}
.RadInput_Breg .riSelect {
  right: 7px;
}
.RadInput_Breg a,
.RadInput_Breg a:hover {
  color: #333333;
}
.RadInput_Breg .riUp,
.RadInput_Breg .riDown {
  margin-left: 0.21429em;
  /*border-left: 1px solid #eeeeee;*/
}
.RadInput_Breg .riLabel {
  color: #555555;
  line-height: 1em;
  white-space: nowrap;
}
.RadPicker_Breg table .riTextBox {
  margin-bottom: 1px;
  padding: 5px 6px !important;
  border-color: #cccccc;
  border-radius: 4px;
  color: #555555;
  background: #ffffff;
  box-shadow: none;
  max-width: 97.5%;
  /*width:auto !important;*/
  border-image: none;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  background-image: none;
  background-clip: none;
}
.RadPicker_Breg table .riTextBox:focus {
  outline-offset: 0;
}
.RadInput_Breg.fill {
  width: 98% !important;
}
input[type="radio"] + label {
  margin: 0 10px 0 5px;
}
.FieldLabelLeft {
  font-size: .9em;
  margin-right: 2.5px;
}
.FieldLabelLeft + input {
  margin-right: 5px;
}
.riUp,
.riDown > span {
  display: block;
  overflow: hidden;
  position: relative;
  outline: none;
  z-index: 2;
  text-indent: -2222px;
  text-align: center;
  text-decoration: none;
}
.suggestedOrderTextBox {
  padding-right: 15px;
}
.riSpin {
  margin-left: 10px;
  overflow: visible;
}
.overflowVisible {
  overflow: visible;
}
.riCell {
  overflow: visible !important;
}
.riSpin > a.riUp {
  background-image: url('images/Common/riSpinnerUp.png');
  background-position: right;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
}
.riSpin > a.riDown {
  background-image: url('images/Common/riSpinnerDown.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
  display: block;
  background-position: right;
  width: 16px;
}
/*spin*/
.RadInput_Vision .riSpin a {
  width: 15px;
  height: 7px;
  line-height: 7px;
}
.RadInput_Breg .riTextBox,
.RadInputMgr_Breg,
input[type="text"]:disabled {
  background-color: #eeeeee !important;
  color: black !important;
}
.RadInput_Breg .riTextBox,
.RadInputMgr_Breg,
input[type="text"]:enabled {
  background-color: #ffffff !important;
  color: black !important;
}
.alertMsg {
  display: none;
  color: #FF0000;
}