@unit1:2.42857em;
@unit2:-4px;
@unit3:4px;
@color1:#333333;
.fy-mixin-1 {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-2 {
  padding: 3px 12px;
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadListBox_Breg {
  line-height: 1.42857;
  .rlbButton {
    border-color: #eeeeee;
    color: @color1;
    background-color: #ffffff;
    padding: 0.35714em;
    border-radius: @unit3;
    &:hover:not(.rlbDisabled) {
      border-color: #d0d0d0;
      color: @color1;
      background-color: #e6e6e6;
    }
    &:active:not(.rlbDisabled) {
      border-color: #afafaf;
      color: @color1;
      background-color: #e6e6e6;
    }
  }
  .rlbGroup {
    .fy-mixin-1;
    .rlbSelected.rlbDropClueAbove {
      border-top-color: #fff;
    }
    .rlbSelected.rlbDropClueBelow {
      border-bottom-color: #fff;
    }
  }
  .rlbTemplateContent {
    .fy-mixin-1;
  }
  .rlbHeader {
    .fy-mixin-2;
  }
  .rlbFooter {
    .fy-mixin-2;
  }
  .rlbList {
    padding: 0;
  }
  .rlbCheckAllItems {
    color: @color1;
    background-color: #f5f5f5;
  }
  .rlbCheckAllItemsHovered {
    color: @color1;
    background-color: #e4e4e4;
  }
  .rlbCheck {
    margin-left: @unit2;
    margin-right: @unit3;
  }
  .rlbItem {
    padding: 3px 12px;
    &.rlbSelected {
      border-color: #cc2900;
      color: #ffffff;
      background-color: #ff3300;
      background-image: linear-gradient();
    }
    &.rlbSelected .rlbCheck:hover {
      background-position: 0 0;
    }
    &.rlbHovered {
      border-color: #e2e2e2;
      color: #000000;
      background-color: #efefef;
      background-image: linear-gradient();
    }
  }
  .rlbHighlight {
    border-color: #e2e2e2;
    color: #000000;
    background-color: #efefef;
    background-image: linear-gradient();
  }
  .rlbImage {
    margin-left: @unit2;
    margin-right: @unit3;
    padding: 0;
  }
  &.RadListBoxButtonAreaTop {
    &.rlbFixedHeight .rlbGroup {
      top: @unit1;
    }
    &.rlbFixedHeight .rlbTemplate {
      top: @unit1;
    }
  }
  &.RadListBoxButtonAreaBottom {
    &.rlbFixedHeight .rlbGroup {
      bottom: @unit1;
    }
    &.rlbFixedHeight .rlbTemplate {
      bottom: @unit1;
    }
  }
}
.RadListBox_Breg[dir="rtl"] {
  .rlbCheck {
    margin-left: @unit3;
    margin-right: @unit2;
  }
  .rlbImage {
    margin-left: @unit3;
    margin-right: @unit2;
  }
}