﻿.fy-mixin-1 {
  margin: 9px 0;
  height: 1px;
  border-width: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.fy-mixin-2 {
  color: #777777;
  border-color: transparent;
  background-color: transparent;
}
.fy-mixin-3 {
  padding: 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-4 {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.fy-mixin-5 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadMenu_Breg {
  color: #333333;
  background-color: #f5f5f5;
  line-height: 1.42857;
}
.RadMenu_Breg .rmLink {
  text-decoration: none;
}
.RadMenu_Breg .rmIcon {
  line-height: 1.4em;
}
.RadMenu_Breg .rmRootGroup {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadMenu_Breg .rmRootGroup.rmVertical > .rmItem {
  float: none;
}
.RadMenu_Breg .rmRootGroup.rmVertical > .rmItem.rmSeparator {
  margin: 9px 0;
  height: 1px;
  border-width: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.RadMenu_Breg .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem {
  float: none;
}
.RadMenu_Breg .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem.rmSeparator {
  margin: 9px 0;
  height: 1px;
  border-width: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.RadMenu_Breg .rmRootGroup > .rmItem {
  border-width: 0;
}
.RadMenu_Breg .rmRootGroup > .rmRootScrollGroup > .rmItem {
  border-width: 0;
}
.RadMenu_Breg .rmRootGroup .rmRootLink {
  padding: 15px;
  color: #333333;
}
.RadMenu_Breg .rmRootGroup.rmHorizontal > .rmSeparator {
  display: none;
}
.RadMenu_Breg .rmRootGroup.rmHorizontal > .rmRootScrollGroup > .rmSeparator {
  display: none;
}
.RadMenu_Breg .rmVertical .rmRootLink {
  padding-top: 10px;
  padding-bottom: 10px;
}
.RadMenu_Breg .rmVertical .rmRootLink .rmText {
  padding: 0;
}
.RadMenu_Breg .rmRootLink .rmText {
  padding: 0;
}
.RadMenu_Breg .rmRootLink:hover {
  color: #333333;
  background-color: #e4e4e4;
}
.RadMenu_Breg .rmSelected .rmRootLink {
  color: #333333;
  background-color: #e4e4e4;
}
.RadMenu_Breg .rmExpanded .rmRootLink {
  color: #333333;
  background-color: #e4e4e4;
}
.RadMenu_Breg .rmDisabled .rmRootLink {
  color: #777777;
  border-color: transparent;
  background-color: transparent;
}
.RadMenu_Breg .rmGroup {
  padding: 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #333333;
  background-color: #ffffff;
}
.RadMenu_Breg .rmGroup.rmVertical {
  padding: 5px 0;
}
.RadMenu_Breg .rmGroup.rmHorizontal {
  padding: 5px;
}
.RadMenu_Breg .rmGroup .rmLink {
  padding: 3px 30px;
  color: #333333;
}
.RadMenu_Breg .rmGroup .rmLink .rmText {
  padding: 0;
  margin: 0;
}
.RadMenu_Breg .rmGroup .rmLink:hover {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
}
.RadMenu_Breg .rmGroup .rmSelected > .rmLink {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.RadMenu_Breg .rmGroup .rmSelected > .rmLink:hover {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.RadMenu_Breg .rmGroup .rmExpanded > .rmLink {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.RadMenu_Breg .rmGroup .rmExpanded > .rmLink:hover {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.RadMenu_Breg .rmGroup .rmDisabled > .rmLink {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.RadMenu_Breg .rmGroup .rmDisabled > .rmLink:hover {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.RadMenu_Breg .rmMultiColumn {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.RadMenu_Breg .rmSlide .rmScrollWrap .rmHorizontal {
  padding: 5px;
}
.RadMenu_Breg .rmSeparator {
  border-color: #dddddd transparent transparent #dddddd;
}
.RadMenu_Breg .rmLeftArrow {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-width: 0;
  border-style: solid;
  height: 100%;
  border-right-width: 1px;
}
.RadMenu_Breg .rmLeftArrow:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadMenu_Breg .rmRightArrow {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-width: 0;
  border-style: solid;
  height: 100%;
  border-left-width: 1px;
}
.RadMenu_Breg .rmRightArrow:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadMenu_Breg .rmTopArrow {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
}
.RadMenu_Breg .rmTopArrow:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadMenu_Breg .rmBottomArrow {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-width: 0;
  border-style: solid;
  border-top-width: 1px;
}
.RadMenu_Breg .rmBottomArrow:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadMenu_Breg .rmTopFix {
  display: none;
}
.RadMenu_Breg .rmTopLeft {
  display: none;
}
.RadMenu_Breg .rmTopRight {
  display: none;
}
.RadMenu_Breg .rmBottomFix {
  display: none;
}
.RadMenu_Breg .rmBottomLeft {
  display: none;
}
.RadMenu_Breg .rmBottomRight {
  display: none;
}