@unit1:1px;
@color1:#ffffff;
@color2:#e4e4e4;
@color3:#333333;
@color4:#dddddd;
@color5:#eeeeee;
.fy-mixin-1 {
  margin: 9px 0;
  height: 1px;
  border-width: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.fy-mixin-2 {
  color: #777777;
  border-color: transparent;
  background-color: transparent;
}
.fy-mixin-3 {
  padding: 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-4 {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.fy-mixin-5 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadMenu_Breg {
  color: @color3;
  background-color: #f5f5f5;
  line-height: 1.42857;
  .rmLink {
    text-decoration: none;
  }
  .rmIcon {
    line-height: 1.4em;
  }
  .rmRootGroup {
    border-color: @color4;
    color: @color3;
    background-color: #f5f5f5;
    &.rmVertical > .rmItem {
      float: none;
    }
    &.rmVertical > .rmItem.rmSeparator {
      .fy-mixin-1;
    }
    &.rmVertical > .rmRootScrollGroup > .rmItem {
      float: none;
    }
    &.rmVertical > .rmRootScrollGroup > .rmItem.rmSeparator {
      .fy-mixin-1;
    }
    > .rmItem {
      border-width: 0;
    }
    > .rmRootScrollGroup > .rmItem {
      border-width: 0;
    }
    .rmRootLink {
      padding: 15px;
      color: @color3;
    }
    &.rmHorizontal > .rmSeparator {
      display: none;
    }
    &.rmHorizontal > .rmRootScrollGroup > .rmSeparator {
      display: none;
    }
  }
  .rmVertical {
    .rmRootLink {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .rmRootLink .rmText {
      padding: 0;
    }
  }
  .rmRootLink {
    .rmText {
      padding: 0;
    }
    &:hover {
      color: @color3;
      background-color: @color2;
    }
  }
  .rmSelected {
    .rmRootLink {
      color: @color3;
      background-color: @color2;
    }
  }
  .rmExpanded {
    .rmRootLink {
      color: @color3;
      background-color: @color2;
    }
  }
  .rmDisabled {
    .rmRootLink {
      .fy-mixin-2;
    }
  }
  .rmGroup {
    .fy-mixin-3;
    &.rmVertical {
      padding: 5px 0;
    }
    &.rmHorizontal {
      padding: 5px;
    }
    .rmLink {
      padding: 3px 30px;
      color: @color3;
    }
    .rmLink .rmText {
      padding: 0;
      margin: 0;
    }
    .rmLink:hover {
      border-color: #e2e2e2;
      color: #000000;
      background-color: #efefef;
    }
    .rmSelected > .rmLink {
      .fy-mixin-4;
    }
    .rmSelected > .rmLink:hover {
      .fy-mixin-4;
    }
    .rmExpanded > .rmLink {
      .fy-mixin-4;
    }
    .rmExpanded > .rmLink:hover {
      .fy-mixin-4;
    }
    .rmDisabled > .rmLink {
      .fy-mixin-4;
    }
    .rmDisabled > .rmLink:hover {
      .fy-mixin-4;
    }
  }
  .rmMultiColumn {
    .fy-mixin-4;
  }
  .rmSlide {
    .rmScrollWrap .rmHorizontal {
      padding: 5px;
    }
  }
  .rmSeparator {
    border-color: @color4 transparent transparent @color4;
  }
  .rmLeftArrow {
    border-color: @color5;
    color: @color3;
    background-color: @color1;
    border-width: 0;
    border-style: solid;
    height: 100%;
    border-right-width: @unit1;
    &:hover {
      .fy-mixin-5;
    }
  }
  .rmRightArrow {
    border-color: @color5;
    color: @color3;
    background-color: @color1;
    border-width: 0;
    border-style: solid;
    height: 100%;
    border-left-width: @unit1;
    &:hover {
      .fy-mixin-5;
    }
  }
  .rmTopArrow {
    border-color: @color5;
    color: @color3;
    background-color: @color1;
    border-width: 0;
    border-style: solid;
    border-bottom-width: @unit1;
    &:hover {
      .fy-mixin-5;
    }
  }
  .rmBottomArrow {
    border-color: @color5;
    color: @color3;
    background-color: @color1;
    border-width: 0;
    border-style: solid;
    border-top-width: @unit1;
    &:hover {
      .fy-mixin-5;
    }
  }
  .rmTopFix {
    display: none;
  }
  .rmTopLeft {
    display: none;
  }
  .rmTopRight {
    display: none;
  }
  .rmBottomFix {
    display: none;
  }
  .rmBottomLeft {
    display: none;
  }
  .rmBottomRight {
    display: none;
  }
}