@unit1:0.5;
@color1:rgba(204, 41, 0, 0.5);
@color2:#ffffff;
@color3:#333333;
.fy-mixin-1 {
  color: #333333;
  background-color: #e4e4e4;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.RadNavigation_Breg {
  .rnvRootGroupWrapper {
    border-color: #dddddd;
    color: @color3;
    background: #f5f5f5;
  }
  .rnvRootLink {
    border-color: transparent;
  }
  .rnvMore {
    border: 0;
    color: @color3;
    background: #f5f5f5;
    padding: 14px;
    margin-top: 0;
    &.rnvRight {
      margin-right: 0;
    }
    &:before {
      width: auto;
      height: auto;
      line-height: 0.95238em;
      font-size: 1.5em;
    }
  }
  .rnvHovered {
    &.rnvMore {
      color: @color3;
      background-color: #e4e4e4;
    }
    > .rnvRootLink {
      color: @color3;
      background-color: #e4e4e4;
    }
  }
  .rnvSelected {
    &.rnvMore {
      .fy-mixin-1;
    }
    > .rnvRootLink {
      .fy-mixin-1;
    }
  }
  .rnvExpanded {
    > .rnvRootLink {
      .fy-mixin-1;
    }
  }
  .rnvFocused {
    &.rnvMore {
      border-color: rgba(204, 41, 0, @unit1);
      box-shadow: inset 0 0 3px rgba(204, 41, 0, @unit1);
    }
    > .rnvRootLink {
      border-color: rgba(204, 41, 0, @unit1);
      box-shadow: inset 0 0 3px rgba(204, 41, 0, @unit1);
    }
  }
}
.radSkin_Breg {
  .rnvPopup {
    border-color: #dddddd;
    color: @color3;
    background-color: @color2;
    .rnvHovered > .rnvLink {
      color: #000000;
      background-color: #efefef;
    }
    .rnvSelected > .rnvLink {
      color: @color2;
      background-color: #ff3300;
    }
    .rnvExpanded > .rnvLink {
      color: @color2;
      background-color: #ff3300;
    }
    .rnvFocused > .rnvLink {
      box-shadow: inset 0 0 3px rgba(204, 41, 0, @unit1);
    }
  }
}