@unit1:0em;
@color1:#333333;
.RadNotification_Breg {
  background-color: #ffffff;
  border-color: #dddddd;
  color: @color1;
  &.rnShadows {
    box-shadow: 2px 2px 3px rgba(221, 221, 221, 0.5);
  }
  .rnTitleBar {
    border-color: #dddddd;
    color: @color1;
    background-color: #f5f5f5;
    background-image: linear-gradient();
  }
  .rnCommands {
    margin: -0.82143em @unit1 @unit1;
    a {
      width: 1.66666em;
      height: 1.66666em;
    }
    a:hover {
      border-radius: 0.21429em;
      border-color: #d0d0d0;
      color: @color1;
      background-color: #e6e6e6;
      background-image: linear-gradient();
    }
    li a:before {
      margin: 0.10714em @unit1 @unit1 0.10714em;
    }
  }
}