.fy-mixin-1 {
  color: #333333;
  border-radius: 5px;
  border-color: #f2f2f2;
  background-color: #ffffff;
}
.fy-mixin-2 {
  color: #333333;
  border-color: #eeeeee;
  background-color: #ffffff;
  border-radius: 3px;
}
.fy-mixin-3 {
  color: #333333;
  border-color: #dddddd;
  background-color: #ffffff;
}
.RadOrgChart_Breg {
  color: #333333;
  line-height: 1.42857;
  .rocGroup {
    border-radius: 10px;
    background: #f5f5f5;
  }
  .rocItem {
    .fy-mixin-1;
  }
  .rocItemTemplate {
    .fy-mixin-1;
  }
  .rocExpandArrow {
    .fy-mixin-2;
  }
  .rocCollapseArrow {
    .fy-mixin-2;
  }
  .rocExpandGroupArrow {
    .fy-mixin-2;
  }
  .rocCollapseGroupArrow {
    .fy-mixin-2;
  }
  .rocLoadingNodes {
    .rocExpandArrow {
      background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Bootstrap.Common.loading_small.gif")%>');
    }
    .rocCollapseArrow {
      background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Bootstrap.Common.loading_small.gif")%>');
    }
  }
  .rocLoadingGroups {
    .rocExpandGroupArrow {
      background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Bootstrap.Common.loading_small.gif")%>');
    }
    .rocCollapseGroupArrow {
      background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Bootstrap.Common.loading_small.gif")%>');
    }
  }
  &.rocHorizontal {
    .rocNode {
      padding: 1.28571em 0em;
    }
  }
  &.rocDetachedItem {
    .fy-mixin-3;
  }
  &.rocDetachedNode {
    .fy-mixin-3;
  }
}
.rocToolbar_Breg {
  background: #f5f5f5;
  border-radius: 4px;
  .rocToolbarButton {
    color: #333333;
    border-color: #eeeeee;
    background-color: #ffffff;
    border-radius: 2px;
  }
}