@color1:#fcfcfc;
@color2:#000000;
@color3:#ffffff;
.fy-mixin-1 {
  margin: 0;
  color: #333333;
  background: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd #dddddd #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.14em;
  line-height: 2.50627em;
}
.fy-mixin-2 {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
}
.fy-mixin-3 {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.fy-mixin-4 {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  opacity: .5;
}
.fy-mixin-5 {
  border: 0;
  background: none;
  font-size: inherit;
  line-height: 2.14286em;
  box-shadow: none;
}
.RadPanelBar_Breg {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  .rpRootGroup {
    color: #333333;
    border-color: #dddddd;
    background: @color3;
  }
  .rpLink {
    .fy-mixin-1;
    &.rpFocused {
      border-color: #ff471a;
      box-shadow: inset 0 0 8px rgba(40, 94, 142, 0.4);
    }
    &:hover {
      .fy-mixin-2;
    }
    &.rpExpanded:hover {
      .fy-mixin-2;
    }
    &.rpSelected {
      .fy-mixin-3;
    }
    &.rpDisabled {
      .fy-mixin-4;
    }
  }
  .rpHeaderTemplate {
    .fy-mixin-4;
    &.rpFocused {
      border-color: #ff471a;
      box-shadow: inset 0 0 8px rgba(40, 94, 142, 0.4);
    }
    &:hover {
      .fy-mixin-4;
    }
    &.rpExpanded:hover {
      .fy-mixin-4;
    }
    &.rpSelected {
      .fy-mixin-4;
    }
    &.rpDisabled {
      .fy-mixin-4;
    }
  }
  .rpFirst {
    .rpRootLink {
      border-width: 1px;
      padding-top: 0;
    }
  }
  .rpImage {
    margin-top: 3px;
  }
  .rpOut {
    border-color: transparent;
  }
  .rpGroup {
    .rpItem {
      padding: 0;
    }
    .rpItem .rpLink {
      .fy-mixin-5;
    }
    .rpItem .rpLink:hover {
      color: @color2;
      background-color: @color1;
    }
    .rpItem .rpLink.rpFocused {
      color: @color2;
      background-color: @color1;
    }
    .rpItem .rpLink.rpSelected {
      color: @color3;
      background-color: #ff3300;
    }
    .rpItem .rpHeaderTemplate {
      .fy-mixin-5;
    }
    .rpItem .rpHeaderTemplate:hover {
      color: @color2;
      background-color: @color1;
    }
    .rpItem .rpHeaderTemplate.rpFocused {
      color: @color2;
      background-color: @color1;
    }
    .rpItem .rpHeaderTemplate.rpSelected {
      color: @color3;
      background-color: #ff3300;
    }
    .rpItem.rpFirst {
      padding: 0;
    }
    .rpExpandHandle {
      margin: 0.57143em 0.07143em 0em;
    }
  }
  .rpExpandable {
    .rpExpandHandle {
      font-size: 1em;
    }
    .rpExpandHandle:before {
      content: "\E002";
    }
  }
  .rpExpanded {
    .rpExpandHandle:before {
      content: "\E001";
    }
  }
  .rpRootLink {
    .rpExpandHandle {
      margin-top: 0.87719em;
    }
  }
  .rpDisabled {
    .rpExpandHandle {
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
  }
}