﻿.fy-mixin-1 {
  margin: 0;
  color: #333333;
  background: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd #dddddd #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.14em;
  line-height: 2.50627em;
}
.fy-mixin-2 {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
}
.fy-mixin-3 {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.fy-mixin-4 {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  opacity: .5;
}
.fy-mixin-5 {
  border: 0;
  background: none;
  font-size: inherit;
  line-height: 2.14286em;
  box-shadow: none;
}
.RadPanelBar_Breg {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadPanelBar_Breg .rpRootGroup {
  color: #333333;
  border-color: #dddddd;
  background: #ffffff;
}
.RadPanelBar_Breg .rpLink {
  margin: 0;
  color: #333333;
  background: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd #dddddd #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.14em;
  line-height: 2.50627em;
}
.RadPanelBar_Breg .rpLink.rpFocused {
  border-color: #ff471a;
  box-shadow: inset 0 0 8px rgba(40, 94, 142, 0.4);
}
.RadPanelBar_Breg .rpLink:hover {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
}
.RadPanelBar_Breg .rpLink.rpExpanded:hover {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
}
.RadPanelBar_Breg .rpLink.rpSelected {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.RadPanelBar_Breg .rpLink.rpDisabled {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  opacity: .5;
}
.RadPanelBar_Breg .rpHeaderTemplate {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  opacity: .5;
}
.RadPanelBar_Breg .rpHeaderTemplate.rpFocused {
  border-color: #ff471a;
  box-shadow: inset 0 0 8px rgba(40, 94, 142, 0.4);
}
.RadPanelBar_Breg .rpHeaderTemplate:hover {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  opacity: .5;
}
.RadPanelBar_Breg .rpHeaderTemplate.rpExpanded:hover {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  opacity: .5;
}
.RadPanelBar_Breg .rpHeaderTemplate.rpSelected {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  opacity: .5;
}
.RadPanelBar_Breg .rpHeaderTemplate.rpDisabled {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  opacity: .5;
}
.RadPanelBar_Breg .rpFirst .rpRootLink {
  border-width: 1px;
  padding-top: 0;
}
.RadPanelBar_Breg .rpImage {
  margin-top: 3px;
}
.RadPanelBar_Breg .rpOut {
  border-color: transparent;
}
.RadPanelBar_Breg .rpGroup .rpItem {
  padding: 0;
}
.RadPanelBar_Breg .rpGroup .rpItem .rpLink {
  border: 0;
  background: none;
  font-size: inherit;
  line-height: 2.14286em;
  box-shadow: none;
}
.RadPanelBar_Breg .rpGroup .rpItem .rpLink:hover {
  color: #000000;
  background-color: #fcfcfc;
}
.RadPanelBar_Breg .rpGroup .rpItem .rpLink.rpFocused {
  color: #000000;
  background-color: #fcfcfc;
}
.RadPanelBar_Breg .rpGroup .rpItem .rpLink.rpSelected {
  color: #ffffff;
  background-color: #ff3300;
}
.RadPanelBar_Breg .rpGroup .rpItem .rpHeaderTemplate {
  border: 0;
  background: none;
  font-size: inherit;
  line-height: 2.14286em;
  box-shadow: none;
}
.RadPanelBar_Breg .rpGroup .rpItem .rpHeaderTemplate:hover {
  color: #000000;
  background-color: #fcfcfc;
}
.RadPanelBar_Breg .rpGroup .rpItem .rpHeaderTemplate.rpFocused {
  color: #000000;
  background-color: #fcfcfc;
}
.RadPanelBar_Breg .rpGroup .rpItem .rpHeaderTemplate.rpSelected {
  color: #ffffff;
  background-color: #ff3300;
}
.RadPanelBar_Breg .rpGroup .rpItem.rpFirst {
  padding: 0;
}
.RadPanelBar_Breg .rpGroup .rpExpandHandle {
  margin: 0.57143em 0.07143em 0em;
}
.RadPanelBar_Breg .rpExpandable .rpExpandHandle {
  font-size: 1em;
}
.RadPanelBar_Breg .rpExpandable .rpExpandHandle:before {
  content: "\E002";
}
.RadPanelBar_Breg .rpExpanded .rpExpandHandle:before {
  content: "\E001";
}
.RadPanelBar_Breg .rpRootLink .rpExpandHandle {
  margin-top: 0.87719em;
}
.RadPanelBar_Breg .rpDisabled .rpExpandHandle {
  opacity: 0.4;
  filter: alpha(opacity=40);
}