@color1:rgba(255, 255, 255, 0.15);
@color2:#f5f5f5;
@color3:#dddddd;
@color4:#333333;
.RadUploadProgressArea_Breg {
  color: @color4;
  border-color: @color3;
  border-radius: 0.21429em;
  background: #ffffff;
  .ruHeader {
    color: @color4;
    background-color: @color2;
    border-color: @color3;
    padding: 0.35714em 0.85714em;
  }
  .ruFooter {
    color: @color4;
    background: @color2;
    border-color: @color3;
    padding: 0.5em 0.85714em;
  }
  .ruProgressBar {
    border-color: @color3;
    border-radius: 0.31746em;
    background: @color2;
  }
  .ruProgress {
    background-color: #ff3300;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  }
  .radButton {
    padding: 0.42857em 0.85714em;
    color: @color4;
    background-color: #ffffff;
    border-radius: 0.21429em;
    border-color: #eeeeee;
    &.ruHovered {
      color: @color4;
      background-color: #e6e6e6;
      border-color: #d0d0d0;
    }
  }
}