@unit1:1px;
@color1:rgba(255, 255, 255, 0.15);
@color2:#dddddd;
.RadProgressBar_Breg {
  font-size: 1em;
  color: #333333;
  background-color: #f5f5f5;
  .rpbChunksWrapper {
    .rpbChunkLast {
      border: 0;
    }
  }
  &.rpbHorizontal {
    height: 1.42857em;
    box-shadow: 0 @unit1 3px @unit1 @color2 inset;
    .rpbChunk {
      border-width: 0 @unit1 0 0;
    }
    .rpbStateSelected {
      box-shadow: 0 -1px 0 @unit1 #cc2900 inset;
    }
    .rpbStateSelected .rpbLabelWrapper {
      line-height: 1.1em;
    }
  }
  &.rpbVertical {
    width: 1.42857em;
    box-shadow: @unit1 0 3px @unit1 @color2 inset;
    .rpbChunk {
      border-width: 0 0 @unit1 0;
    }
    .rpbLabel {
      padding: 0 1em;
    }
    .rpbStateSelected {
      box-shadow: -1px 0 0 @unit1 #cc2900 inset;
    }
  }
  .rpbStateSelected {
    background-image: none;
    border: 0;
    color: #ffffff;
    background-color: #ff3300;
    &:hover {
      background-image: none;
    }
  }
  &.rpbStripped {
    .rpbStateSelected:before {
      content: "";
      display: block;
      height: 100%;
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 24px 24px;
    }
  }
  .rpbLabel {
    font-size: 0.85714em;
  }
  > .rpbLabelWrapper {
      line-height: normal;    
  }
  .rpbChunk {
    border-color: @color2;
    &.rpbStateSelected {
      border: 0;
    }
  }
  &.rpbIndeterminate {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.radIndeterminate.gif")%>');
  }
}