﻿@gray: #f00;
@black: #000;
@breg-font: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;

@import "Breg.less";
@import "Window.Breg.less";
@import "Button.Breg.less";

html {
    overflow: hidden;
}
body {
    overflow: hidden;
    margin: 0 7px;
}
form {
    overflow: hidden;
}
.RadSpell {
    /*width: 466px;*/
    height: 330px;
    padding: 0;
    margin: 0;
    background: inherit;
    box-sizing: content-box;
    line-height: 1.42857143;
    font-family: @breg-font;
    * {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }
    ul {
        list-style-type: none !important;
    }
    .RichTextView {
        margin-left: 7px;
        overflow: auto;
        height: 70px;
        border-width: 1px;
        border-style: solid;
        border-color: #000 #ccc #ccc #000;
        background: #fff;
        font-size: 1.1em;
        width: 320px;
        padding: 3px;
        font-family: @breg-font;
        cursor: text;
        strong {
            color: @gray;
            text-decoration: underline;
        }
        em {
            font-style: normal;
            color: @black;
        }
    }
    textarea {
        margin-left: 7px;
        display: none;
        overflow: auto;
        font-family: @breg-font;
        height: 70px;
        border-width: 1px;
        border-style: solid;
        border-color: #000 #ccc #ccc #000;
        background: #fff;
        font-size: 1.1em;
        width: 318px;
        padding: 3px 5px 3px 3px;
    }
    select {
        margin-left: 7px;
        font-family: @breg-font;
        width: 328px;
        height: 60px;
        font-size: 1.1em;
        margin-left: 0;
        margin-right: 0;
        option {
            padding: 1px 3px 0;
        }
    }
    .MainOptions {
        margin-left: 7px;
        width: 328px;
        margin-top: 10px;
        li {
            float: right;
            margin-left: 10px;
        }
    }
    .rfdSkinnedButton {
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .SpellOptions {
        a {
            display: block;
        }
        a.disabled {
            cursor: no-drop;
        }
        &:after {
            content: ".";
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
        li {
            height: 23px;
            padding: 2px 0;
            text-align: center;
            line-height: 23px;
        }
    }
    h3 {
        &:after {
            content: ".";
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
        height: 44px;
        line-height: 35px;
        margin: 0;
        padding-left: 7px;
        background: #e5e5e5;
        font-size: 1.1em;
        overflow: hidden;
        em {
            .RadSpell {
                h3 {
                    span {
                        height: 44px;
                        line-height: 35px;
                    }
                }
            }
            float: left;
            padding-right: 7px;
            font-style: normal;
            cursor: default;
        }
        span {
            float: left;
            padding: 0 10px;
            background: #fff;
            height: 28px;
            margin-top: 16px;
            line-height: 28px;
        }
    }
    &:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
    h4 {
        margin-top: 7px;
        padding-left: 7px;
        font-size: 1.1em;
        font-weight: normal;
    }
    >.rfdSelectBox {
        margin-left: 7px;
        width: 326px !important;
    }
    .AuxOptions {
        float: right;
        margin-top: 20px;
        margin-right: 8px;
        li {
            margin-top: 8px;
        }
    }
    button {
        width: 84px !important;
    }
    ul.SpellOptions {
        .rfdSkinnedButton {
            button {
                padding: 0 0 0 3px;
            }
        }
        .rfdSkinnedButton.rfdInputDisabled {
            button {
                padding: 0 0 0 3px;
            }
            &:hover {
                button {
                    padding: 0 0 0 3px;
                }
            }
        }
    }
}
* {
    &:first-child&+html {
        .RadSpell {
            textarea {
                margin-top: -1px;
                margin-bottom: -1px;
            }
            select {
                height: 85px;
            }
        }
    }
}
.rfdRtl {
    .RadSpell {
        width: 445px;
        .RichTextView {
            margin-left: 0;
            margin-right: 7px;
        }
        textarea {
            margin-left: 0;
            margin-right: 7px;
        }
        .MainOptions {
            margin-left: 0;
            margin-right: 7px;
        }
    }
    .SpellOptions.AuxOptions {
        float: left;
        margin: 50px 0 0 10px !important;
        margin: 50px 0 0 10px !important;
    }
    .SpellOptions.MainOptions {
        float: left;
        width: 310px;
        width: 310px;
    }
}
div.RadSpell {
    textarea {
        line-height: 20px;
    }
    h4 {
        margin-top: 3px;
        padding-bottom: 3px;
        font-size: 16px;
    }
    .MainOptions {
        margin: 15px -5px 0 28px;
    }
    .AuxOptions {
        margin-right: -2px;
        margin-right: 0;
        width: 114px;
        *width: 110px;
    }
    ul.SpellOptions {
        li {
            height: auto;
            line-height: normal;
            width: 128px;
        }
        width: 280px;
    }
    ul.AuxOptions.SpellOptions {
        width: 146px;
    }
    /*ul.AuxOptions {
        li {
            width: 73px;
        }
    }*/
    select {
        width: 302px;
        margin: 0 0 0 8px;
    }
    label {
        line-height: 1.9em;
    }
}
.redSpellCheckDialog {
    body {
        height: 330px;
    }
}
.redSpellCheckDialog.RadForm {
    body {
        height: 350px;
    }
}