﻿/* TEXT */
.font-styling {
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
html > form,
body > form {
  overflow: hidden;
}
html.iFrame,
body.iFrame {
  overflow-y: auto;
}
a {
  text-decoration: none;
  color: #ff3300;
}
a:hover,
a:focus {
  color: #cc2900;
  outline: none !important;
}
a[disabled] {
  color: #333;
}
.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}
p,
div,
input,
button,
a,
select,
option {
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
h1 {
  font-size: 24px !important;
  font-weight: 900 !important;
}
h2 {
  font-size: 20px !important;
  font-weight: 500;
}
h3 {
  font-size: 17px;
}
.riLabel {
  margin-right: 5px;
}
.no-wrap {
  white-space: nowrap;
}
.light {
  font-weight: 200;
}
.strong {
  font-weight: 500;
}
.x-strong {
  font-weight: 900;
}
.text-gray {
  color: #aaa;
}
.text-large {
  font-size: larger;
}
.text-separator::before {
  content: '\2022';
  margin: 0 5px;
  font-weight: 200;
  color: gray;
}
.SuccessMsg:not(:empty) {
  margin: 0 5px;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  padding-bottom: 10px;
}
.SuccessMsg:not(:empty):before {
  font-size: 28px !important;
  padding-right: 3px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  content: '\e5ca';
  vertical-align: middle;
}
.WarningMsg:not(:empty) {
  margin: 0 5px;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  padding-bottom: 10px;
}
.WarningMsg:not(:empty):before {
  font-size: 28px !important;
  padding-right: 3px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  content: '\E002';
  vertical-align: middle;
}
.ErrorMsg:not(:empty) {
  margin: 0 5px;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  padding-bottom: 10px;
  color: #EF4023;
}
.ErrorMsg:not(:empty):before {
  font-size: 28px !important;
  padding-right: 3px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  content: '\E001';
  vertical-align: middle;
}
/* POSITIONING */
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.display-none {
  display: none;
}
table.hide-tfoot tfoot {
  display: none !important;
}
/* LAYOUT */
.main-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.section {
  margin-bottom: 20px;
  width: 100%;
}
.section > h2,
.section > .flex-row h2 {
  padding: 20px 0;
  margin: 0;
}
.tabContent-container {
  overflow: hidden;
  height: calc(100vh - 120px);
}
.subTabContent-container {
  overflow-y: auto;
  overflow-x: auto;
  height: calc(100vh - 170px);
}
.subTabContent-container > .flex-row:NOT(.flex-full) {
  height: 100%;
}
.subTabContent-container > .flex-row:NOT(.flex-full) > .flex-column {
  height: 100%;
}
.subTabContent-container > .flex-row:NOT(.flex-full) > .flex-column > div:first-child:last-child {
  height: 100%;
}
.subTabContent-container > .flex-row.flex-full {
  align-items: flex-start;
  height: 100%;
}
.flex-row .help-icon {
  display: inline-block;
}
.flex-full-height {
  height: calc(100vh - 230px);
}
#ctl00_MainContent_grdSummary2 {
  height: calc(100vh - 240px);
  overflow-y: hidden;
}
#ctl00_MainContent_grdSummary2_GridData {
  height: calc(100vh - 315px) !important;
}
#ctl00_MainContent_grdSummary2_GridData > table > tbody > tr > td:first-child {
  line-height: 34px;
  z-index: 99;
}
#ctl00_MainContent_grdSummary2_GridData > table > tbody > tr > td:nth-child(2) input {
  margin-top: 2px;
}
#ctl00_MainContent_grdSummary2_GridData > table > tbody > tr > td:nth-child(2) input .hide {
  display: none;
}
#ctl00_MainContent_grdSummary2_GridData > table > tbody > tr > td td:last-child {
  padding-right: 5px;
}
#ctl00_MainContent_grdSummary2_GridData > table > tbody > tr > td:nth-child(-n+2) {
  vertical-align: middle !important;
}
#ctl00_MainContent_grdSummary2_GridData .rgDetailTable tfoot,
#ctl00_MainContent_grdSummary2_GridData .rgDetailTable thead {
  display: none;
}
#ctl00_MainContent_grdSummary2_GridData .rgDetailTable .rgSelectedRow > td {
  background-color: #ffffff !important;
}
.subTabContent-container RadGrid_WebBlue .rgNumPart a:hover,
.subTabContent-container .RadGrid_WebBlue .rgNumPart a:hover span,
.subTabContent-container .RadGrid_WebBlue .rgNumPart a.rgCurrentPage span {
  background: none;
}
.subTabContent-container .RadGrid_WebBlue .rgNumPart a.rgCurrentPage {
  background-color: #ff3300;
  background-image: none;
}
#RAD_SPLITTER_PANE_CONTENT_ctl00_MainContent_paneDispenseQueue {
  overflow-y: hidden !important;
}
#ctl00_MainContent_grdSummary2_GridHeader th.rgHeader {
  padding-bottom: 0;
  height: 17.5px !important;
}
/*#ctl00_MainContent_splitterDispense, 
#RAD_SPLITTER_ctl00_MainContent_splitterDispense {
  width:100% !important;
}*/
.subSubTab-container {
  height: calc(100vh - 254px);
}
.subSubTabContent-container {
  overflow-y: auto;
  width: calc(100% - 40px);
  margin: 0 10px;
  align-items: stretch;
  flex-direction: column;
  height: calc(100vh - 254px);
}
.subSubTabContent-container > div {
  width: 99%;
}
.layout-padding {
  padding: 10px !important;
}
.content,
.layout-margin {
  margin: 20px 1%;
}
.content {
  width: 98%;
  max-width: 98%;
}
.rspPane,
.rspPane > div {
  overflow-x: hidden !important;
}
/* SITE NAVBAR (logo, cart, user) */
.site-navbar {
  padding: 5px;
  height: 55px;
  max-height: 55px;
}
.site-navbar > div {
  flex: 1 1 50%;
}
.addToCart-container > * {
  display: inline-block !important;
}
.siteHelp-button {
  margin-left: -40px;
}
.site-navbar-actions > div:first-child:last-child {
  float: right;
}
/* WELCOME BAR (location drop-down, main tabs) */
.welcome-bar {
  padding: 5px;
  background-color: #eeeeee !important;
  height: 50px;
  max-height: 50px;
  z-index: 1000;
}
.welcome-bar:after {
  content: '';
  box-shadow: rgba(10, 10, 10, 0.3) 0 6px 5px 0;
  width: 100%;
  position: fixed;
  height: 6px;
  left: 0;
  top: 164px;
  z-index: 999;
}
.practice-location {
  -js-display: flex;
  display: flex;
}
.practice-location input {
  font-size: 25.5px;
}
.practice-location span {
  -js-display: flex;
  display: flex;
}
.practice-location span.light {
  font-size: 24px;
  display: inline;
}
.actions-bar,
.actions-bar > div:NOT(.search-container, .RadToolBar) {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.actions-bar {
  height: 55px;
}
.actions-bar h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions-bar > div:first-child {
  justify-content: flex-start;
}
.actions-bar > div:last-child {
  justify-content: flex-end;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.actions-bar-last-child-left {
  height: 55px;
}
.actions-bar-last-child-left h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions-bar-last-child-left > div:first-child {
  justify-content: flex-start;
}
.actions-bar-last-child-left > div:last-child {
  justify-content: flex-start;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.flex-no-space-between-children {
  justify-content: flex-start !important;
}
.calculate-par-levels-row > div,
.calculate-par-levels-row input {
  justify-content: flex-start !important;
  margin-right: 5px;
  margin-left: 5px;
}
/* SUB-WELCOME BAR (page title, page-specific sub-tabs) */
.subWelcome-bar {
  padding: 5px;
  padding-left: 10px;
  background-color: #f8f8f8 !important;
  height: 35px;
  max-height: 35px;
}
/* LEFT TAB MENU */
.left-menu-tabs {
  position: fixed;
  height: calc(100vh - 170px);
  background-color: #F5F5F5;
  margin-right: 20px;
}
.left-menu-tabs h2 {
  margin-top: 10px;
}
.left-menu-tabs .rtsLI {
  margin: 0 !important;
}
.left-menu-tabs .rtsTxt {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}
.left-menu-tabs .rtsLink,
.left-menu-tabs .rtsIn {
  padding-left: 0 !important;
}
.left-menu-tabs + div .content {
  margin-top: 4px;
  margin-right: 30px;
}
.left-menu-tabs + div .content .actions-bar,
.left-menu-tabs + div .content > .flex-row {
  width: 100%;
}
.left-menu-tabs + div .content .actions-bar h2,
.left-menu-tabs + div .content > .flex-row h2 {
  flex: 0 1 auto;
  white-space: nowrap;
}
/* FLEX */
.flex {
  -js-display: flex;
  display: flex;
}
.flex-grow {
  /*flex: 1 0 100%;*/
  width: 100%;
}
.flex-grow > div {
  flex: 1 0 100%;
}
.flex-auto {
  flex: 1 1 auto;
}
.fifth {
  max-width: 19%;
  width: 19%;
  margin-right: 1%;
}
.fifth:last-child {
  margin-right: 0;
}
.flex-33 {
  flex: 0 1 33%;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-full {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 100%;
  align-items: center;
}
.flex-full > * {
  -js-display: flex;
  display: flex;
}
.flex-full > table,
.flex-full > table td {
  border-width: 0;
  position: relative;
}
.flexRow {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}
.flexRowCenter {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
}
.flexRowCenterJustify {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
}
.flex-row {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
}
.flex-row > div:not(.flex-column, .search-container, .RadToolBar) {
  margin-right: 1%;
}
.flex-row > div:not(.flex-column, .search-container, .RadToolBar):last-child {
  margin-right: 0;
}
.flex-row-start {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
}
.flex-row-stretch {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  align-items: stretch;
}
.flex-row-end {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center !important;
}
.flex-row-align-start {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: flex-start;
}
.flex-row-align-end {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: flex-end;
  justify-content: space-between;
}
.flex-row > h1 {
  margin: 0;
}
.flexColumn {
  -js-display: flex;
  display: flex;
  flex-direction: column;
}
.flex-column {
  -js-display: flex;
  display: flex;
  flex-direction: column;
}
.flex-column-start {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.justify-spaceAround {
  justify-content: space-around !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center !important;
}
.align-self-center {
  align-self: center !important;
}
/*MATERIAL ICONS*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.help-icon {
  display: block;
  width: 15px;
  margin: 0 2px;
}
.help-icon:hover {
  cursor: pointer;
}
.RadButton_Breg.rbToggleButton {
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 2.5px;
  margin-right: 3px;
}
.RadButton_Breg.rbToggleButton + .FieldLabel {
  margin-bottom: 0;
}
.RadButton_Breg .rbToggleCheckboxChecked.rbPrimaryIcon {
  top: 0 !important;
  margin: 0 !important;
  left: 0 !important;
  position: relative !important;
}
.rbToggleCheckboxChecked::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  content: '\E876';
  color: #fff;
  margin: 0 !important;
  top: 0;
  left: 0;
  font-size: 15px;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  border-style: solid;
  outline: none;
}
#ctl00_ctlSiteHelp_txtHelpSearch_wrapper {
  width: 250px !important;
}
#ctl00_ctlSiteHelp_txtHelpSearch_text {
  padding-right: 30px !important;
}
#ctl00_cbxChangeLocation,
#ctl00_cbxChangeLocation *,
#ctl00_ctl00_cbxChangeLocation,
#ctl00_ctl00_cbxChangeLocation *,
#ctl00_ctl00_ctl00_cbxChangeLocation_Input,
#ctl00_ctl00_ctl00_cbxChangeLocation_Input * {
  width: auto !important;
}
#ctl00_ctlMainMenu_divNavigateLabel,
#ctl00_ctl00_ctlMainMenu_divNavigateLabel {
  margin-left: 0 !important;
}
#ctl00_ctlMainMenu_MainRadTabStrip .rtsUL,
#ctlMainMenu_MainRadTabStrip .rtsUL,
.RadTabStripTop_Breg .rtsUL {
  justify-content: flex-end;
}
#ctl00_ctl00_ctl00_MainContent_ctlPracticeMenu_PracticeAdminTabStrip .rtsLI,
#ctl00_ctl00_MainContent_ctlPracticeMenu_PracticeAdminTabStrip .rtsLI {
  margin-right: 10px;
}
.location-static #lblLocation {
  font-size: 25.5px;
  font-weight: 200 !important;
  margin: auto;
}
.RadGrid_Breg .MasterTable_Breg .SelectedRow_Breg > td,
.RadGrid_Breg .MasterTable_Breg .BlueRow_Office2007 > td,
.RadGrid_Breg .MasterTable_Breg .YellowRow_Office2007 > td,
.RadGrid_Breg .MasterTable_Breg .RedRow_Office2007 > td {
  color: #333333;
}
.RadGrid_Breg .MasterTable_Breg .BlueRow_Office2007,
.RadGrid_Breg .MasterTable_Breg .YellowRow_Office2007,
.RadGrid_Breg .MasterTable_Breg .RedRow_Office2007 {
  background-color: transparent !important;
}
.recordsDisplayed .RadInput {
  width: auto !important;
}
.recordsDisplayed .RadInput .riCell {
  width: 60px !important;
  max-width: 60px;
}
.recordsDisplayed .RadInput input[type="text"] {
  width: 50px !important;
  max-width: 50px;
}
/* home - search dropdown */
#ctl00_MainContent_RadToolbar1_rttbSearchFilter_ctl00_cboSearchFilter_wrapper {
  height: 28px !important;
}
#ctl00_MainContent_RadToolbar1_rttbSearchFilter_ctl00_cboSearchFilter {
  height: 27px !important;
  padding: 5px 6px;
}
/*.RadGrid .rgRow td .DispenseQueueTable td,
.RadGrid .rgAltRow td .DispenseQueueTable td {
  padding: 2px;
  vertical-align: top;
  position: relative;
}

.DispenseQueueTable td {
  max-width: 10px !important;
  position: relative;
  text-align: center;
}

#ctl00_MainContent_grdSummary2_ctl00_Header > thead > tr > th:nth-child(-n+5) {
  width: 18.5px !important;
  max-width: 18.5px !important;
  position: relative;
}

#ctl00_MainContent_grdSummary2_ctl00_Header > thead > tr > th {
  max-width: 30px !important;
}

#ctl00_MainContent_grdSummary2_ctl00 > tbody > tr > td:nth-child(-n+5) {
  width: 30px !important;
  max-width: 30px !important;
}

#ctl00_MainContent_grdSummary2_ctl00 > tbody > tr > td {
  text-align: left;
}

.DispenseQueue-Master > table > tbody > tr td {
  position: relative;
  width: 15px !important;
  max-width: 15px !important;
  vertical-align: top;
  text-align: center;

  > input[type="text"] {
    max-width: 87.5%;
  }
}*/
.rgRow > td,
.rgAltRow > td {
  position: relative;
}
/*.DispenseQueue-Master > table > tbody tr.rgGroupHeader td:nth-child(2) {
  text-align: left;
}*/
td > select {
  max-width: 97.5%;
  width: 97.5% !important;
}
/*.rcCalPopup {
  width: 2px !important;
  padding: 2px !Important;
  background-color: #37AAF1 !important;
}*/
.riCell > input {
  width: 80% !important;
  max-width: 80% !important;
}
/*.rdfd_, #ctl00_MainContent_grdSummary2_ctl00_ctl08_txtDateDispensed {
  display: none !important;
}

.patientDetails-btn {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 4px !important;
}

#ctl00_MainContent_grdSummary2_ctl00 > tbody > tr.rgGroupHeader > td:nth-child(2) > div {
  width: auto !important;
  height: auto !important;
  position: inherit !important;

  > div {
    position: relative !important;
    top: auto !important;
    padding: inherit !important;
  }
}*/
.legend > div,
.legend > div span {
  display: inline-block;
}
.legend .priorityIcon {
  margin-left: 20px;
}
td > .RadInput_Breg + img {
  position: absolute;
  top: 24px;
  right: 0;
}
.rcbSlide {
  z-index: 999999 !important;
}
span.priorityIcon {
  display: block;
  height: 15px;
  width: 15px;
}
.priority-1 span.priorityIcon {
  background-color: #EF4023;
  /*Critical*/
}
.priority-2 span.priorityIcon {
  background-color: #EDBC2B;
  /*Reorder*/
}
.shoppingCart span.priorityIcon {
  background-color: #1FCA23;
  /*In Cart*/
}
.priority-3 span.priorityIcon {
  background-color: #275E8E;
  /*On Order*/
}
.priority-split {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 16px solid #00cc00;
}
.preAuthorization {
  /*color: #ff0000;*/
  font-style: italic;
}
.subTabContent-container .flex-column .adminPage {
  width: 100%;
}
.AdminPageTitle span {
  font-size: 16px;
  font-weight: 500;
}
table#OuterTable,
table#OuterTable td,
table#OuterTable table {
  border-width: 0px;
  border-color: white;
}
span.FieldLabel {
  font-size: .85em;
  margin-bottom: 2px;
  display: block;
  color: #777;
}
span.FieldLabel.FieldLabelLeft {
  display: inline;
  max-width: 90px;
}
.FieldLabel {
  width: calc(100% - 14px) !important;
  white-space: nowrap;
}
.FieldLabelSelect {
  width: 100% !important;
  max-width: 100% !important;
  padding: 4px;
}
td > span.RadInput {
  width: 100%;
}
.rdfd_ {
  margin: 0 !important;
  display: none !important;
}
.admin-form {
  -js-display: flex;
  display: flex;
  flex-direction: column;
}
.admin-form > div {
  height: 60px;
  width: 100%;
}
.admin-form > div .help-icon {
  display: inline-block;
}
.admin-form > div > div {
  margin-right: 5px;
}
.admin-form > div > div:last-child {
  margin-right: 0;
}
.left-menu-tabs + div {
  width: calc(100vw - 210px);
  margin-left: 210px;
  overflow-x: auto;
}
.left-menu-tabs + div > div > div:NOT(.no-max-width) {
  max-width: 1000px;
}
.left-menu-tabs + div > div > div:NOT(.no-max-width) input {
  max-width: 100% !important;
}
.left-menu-tabs + div > div > div:NOT(.no-max-width) select {
  min-height: 27px;
}
.left-menu-tabs + div > div > div:NOT(.no-max-width) .help-icon {
  display: inline;
}
.admin-form-element {
  height: 60px;
  width: 100%;
}
.admin-form-element .help-icon {
  display: inline-block;
}
.table-4col-even td {
  width: 25%;
  position: relative;
}
.table-4col-even td input:NOT([type="checkbox"]) {
  /*flex: 1 0 100%;*/
  width: 100% !important;
}
.table-4col-even td input:NOT([type="checkbox"]) > div {
  flex: 1 0 100% !important;
}
.table-4col-even td div.RadComboBox + img {
  position: absolute;
  right: 0;
  top: 45%;
}
#ctl00_MainContent_grdItemsforReorder_ctl01 > tfoot > tr > td > a {
  margin-left: -0.25em;
}
.justify-end {
  justify-content: flex-end !important;
}
.rtbItem .rcbReadOnly {
  line-height: 25px !important;
}
input[type="checkbox"] + label {
  white-space: nowrap;
  font-size: .9em;
  line-height: 1.1;
}
/*.DispenseQueueRow {
  display:block;
  width:100%

}
table.rgMasterTable#ctl00_MainContent_grdSummary2_ctl00 {
  display:block;
  tr {
    display:flex;
    flex-direction:row;
    tr {
      flex-direction:column;
    }
  }
> tbody td {
  flex: 1 1 40px;
    width:40px !important;
    max-width:40px !important;
    display:inline;
    td, td input {
      display:block;
      width:100% !important;
           max-width:100% !important;
    }
    &:nth-child(3) {
      display:flex;
      flex-direction:column;
      flex-grow: 3;
          width: 300px !important;
    max-width: 300px !important;
    height: auto;
    }
  }
}*/
#ctl00_ctl00_ctl00_ctlMainMenu_divNavigateLabel,
#ctlMainMenu_divNavigateLabel {
  display: none !important;
  margin: 0 !important;
}
.third > select {
  width: calc(100% - 14px);
}
.rgEditForm > table > tbody > tr > td {
  border: 5px solid transparent;
}
.rgEditForm > table > tbody > tr > td > input {
  width: calc(100% - 14px) !important;
  max-width: none;
}
.rgEditForm > table > tbody > tr > td > textarea {
  width: calc(100% - 14px) !important;
  max-width: none;
}
.rgEditForm > table > tbody > tr > td:nth-child(odd) {
  font-size: .9em;
  font-weight: 500;
  color: #888;
  text-align: right;
  padding-left: 4px;
  width: 30px;
}
.rgEditForm > table > tbody > tr > td .half {
  text-align: right;
}
.rgEditForm .customFormRow {
  text-align: left;
  padding: 5px;
  border-right: 1px solid #CCCCCC;
}
.rgEditForm .customBraceForm > table > tbody > tr > td:nth-child(odd) {
  text-align: left;
}
.rgEditForm .customBraceForm > table > tbody > tr > td .half {
  text-align: left;
}
.DispenseModificationTable {
  width: 100%;
}
.DispenseModificationTable td {
  width: 8.75%;
  vertical-align: top;
}
.DispenseModificationTable td small {
  line-height: 1;
  white-space: nowrap;
}
.DispenseModificationTable td:nth-child(-n+8),
.DispenseModificationTable td:nth-last-child(-n+5) {
  width: 5%;
}
#ctl00_MainContent_grdSummary2_ctl00_Header th:first-child {
  text-align: center;
}
#ctl00_MainContent_pnlTransfer .ComboBox_Breg {
  display: block !important;
}
#ctl00_MainContent_pnlTransfer .ComboBox_Breg > input {
  line-height: 25px;
}
#ctl00_MainContent_cbxTransferToLocation_DropDown {
  height: auto !important;
}
.sideSizeGender {
  width: 100%;
}
.sideSizeGender tr td:first-child {
  text-align: left;
}
.sideSizeGender tr td:last-child {
  text-align: right;
}
#ctl00_MainContent_grdSummary2_ctl00 h3 {
  justify-content: space-between;
  margin-bottom: 0;
}
#ctl00_MainContent_grdSummary2_ctl00 > thead {
  background-color: #B7B7B7;
}
#ctl00_MainContent_grdSummary2_ctl00 > tbody > tr > td:nth-child(-n+2) {
  vertical-align: top;
  text-align: center;
  background-color: #ffffff;
}
.DispenseQueueTable {
  width: 100%;
  margin-top: 5px;
}
.DispenseQueueTable > tbody > tr > td {
  height: 32px !important;
}
.block {
  display: block;
}
.Dropdown-Report {
  margin-right: 5px;
  max-width: 200px;
}
.DispenseQueueTable > tbody > tr > td,
.admin-editUser table > tbody > tr > td {
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
}
.DispenseQueueTable > tbody > tr > td > .RadPicker,
.admin-editUser table > tbody > tr > td > .RadPicker {
  width: 100% !important;
}
.DispenseQueueTable > tbody > tr > td > input:NOT([type="checkbox"]),
.admin-editUser table > tbody > tr > td > input:NOT([type="checkbox"]),
.DispenseQueueTable > tbody > tr > td > span > input:NOT([type="checkbox"]),
.admin-editUser table > tbody > tr > td > span > input:NOT([type="checkbox"]) {
  width: calc(100% - 14px);
  position: relative;
}
.DispenseQueueTable > tbody > tr > td > input:NOT([type="checkbox"])[type="text"] + input[type="button"],
.admin-editUser table > tbody > tr > td > input:NOT([type="checkbox"])[type="text"] + input[type="button"],
.DispenseQueueTable > tbody > tr > td > span > input:NOT([type="checkbox"])[type="text"] + input[type="button"],
.admin-editUser table > tbody > tr > td > span > input:NOT([type="checkbox"])[type="text"] + input[type="button"] {
  position: absolute;
  right: 0;
  top: 1px;
}
.DispenseQueueTable td,
.admin-editUser table td {
  border-width: 0 !important;
}
.DispenseQueueTable td .help-icon,
.admin-editUser table td .help-icon {
  display: inline;
}
.DispenseQueueTable td .RadComboBox_Breg.dropdown-input,
.admin-editUser table td .RadComboBox_Breg.dropdown-input {
  width: calc(100% - 14px) !important;
}
.DispenseQueueTable td > textarea,
.admin-editUser table td > textarea {
  width: calc(100% - 14px) !important;
  min-height: 15px;
}
.DispenseQueueTable td .rcbInputCell,
.admin-editUser table td .rcbInputCell {
  position: relative;
}
.DispenseQueueTable td .rcbInputCell .rcbInput,
.admin-editUser table td .rcbInputCell .rcbInput {
  position: absolute;
  left: 5px;
  top: 0;
  height: 100% !important;
  width: calc(100% - 40px);
  color: #545454;
}
.DispenseQueueTable td > span.RadInput,
.admin-editUser table td > span.RadInput {
  width: 100% !important;
  position: relative;
}
.DispenseQueueTable td > span.RadInput > input,
.admin-editUser table td > span.RadInput > input {
  width: calc(100% - 14px) !important;
}
.DispenseQueueTable td > span.RadInput > input.rdfd_,
.admin-editUser table td > span.RadInput > input.rdfd_ {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.DispenseQueueTable td span.validation-error-message[style*="inline"],
.admin-editUser table td span.validation-error-message[style*="inline"] {
  display: block !important;
}
.DispenseQueueTable .icd9code .rcbInput {
  position: inherit !important;
  float: left;
}
.DispenseQueueTable td:first-child {
  width: 30%;
  font-size: .9em;
  text-align: right;
  padding-right: 5px;
  color: #888;
}
input[type="checkbox"] + label {
  margin-left: 5px;
}
input[type="button"][value="..."] {
  max-width: 35px !important;
}
.RadPicker table.rcTable tr,
.RadInput table tr {
  position: relative;
}
.RadPicker table.rcTable td,
.RadInput table td {
  /*display:inline-block;*/
  padding: 0 !important;
  background-color: transparent !important;
  border-width: 0 !important;
  width: 20px;
}
.RadPicker table.rcTable td.rcInputCell,
.RadInput table td.rcInputCell,
.RadPicker table.rcTable td.riCell,
.RadInput table td.riCell {
  width: calc(92.5% - 20px) !important;
}
#ctl00_MainContent_grdSummary2_GridHeader {
  padding-right: 0 !important;
}
.DispenseQueueRow td .RadComboBox_Breg > table > tbody > tr > td.rcbInputCell.rcbInputCellLeft {
  width: 95.5% !important;
}
.DispenseQueueRow td > .RadComboBox_Breg {
  width: auto !important;
}
.dq-column {
  max-width: 510px;
}
.riCell > input.records-per-page {
  width: 23px !important;
}
.rcCalPopup::before {
  content: "...";
  position: absolute;
  height: 10px;
  width: 10px;
  color: white;
  /* background-color: yellow; */
  display: block;
  top: 7.5px;
  font-size: 10px;
  line-height: 1;
}
.rcTitlebar td a {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
.rcTitlebar td a img {
  vertical-align: middle;
}
.RadCalendar .rcWeek th {
  text-align: center !important;
  border-bottom: 1px solid #CCCCCC !important;
}
.RadPicker table.rcTable td:last-child {
  width: 28px !important;
  position: absolute;
  right: 0;
  top: 2px;
}
html body .RadPicker table.rcTable .RadInput .riTextBox {
  width: calc(100% - 14px) !important;
}
.RadToolBar .RadPicker {
  max-width: 120px !important;
}
.RadToolBar_Horizontal .rtbSeparator {
  height: 35px !important;
  width: 1px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-color: #CCC;
  margin: 0 10px;
}
.subWelcome-bar > h1 {
  flex: 1 1 10%;
  align-items: flex-start;
  white-space: nowrap;
}
.subWelcome-bar > div:nth-child(2):NOT(:last-child) {
  flex: 1 1 30%;
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subWelcome-bar > div:nth-child(2):NOT(:last-child) a > div,
.subWelcome-bar > div:nth-child(2):NOT(:last-child) > img {
  display: inline-block !important;
}
.subWelcome-bar > div:last-child {
  flex: 2 1 60%;
  justify-content: flex-end;
}
.subWelcome-bar > div:last-child .rtsLevel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.subWelcome-bar > div:last-child .rtsLevel .rtsIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.admin-editUser {
  width: 95%;
  margin: 0 auto;
}
.admin-editUser .RadComboBox_Breg {
  display: inline-block;
}
.admin-editUser td:not(.rcbInputCell) {
  padding-bottom: 10px;
  white-space: nowrap;
  background-color: #fff !important;
  border-bottom-color: transparent !important;
}
.admin-editUser td:not(.rcbInputCell) .layout-margin {
  margin-top: 0;
}
.admin-editUser td:not(.rcbInputCell) .help-icon {
  display: inline-block;
}
/*REPORTS*/
#ctlPracticeReports_ReportViewerUpdatePanel {
  flex: 1 1 100%;
}
#ParametersRowctlPracticeReports_ReportViewer1 table {
  background-color: #eee !important;
}
#ParametersRowctlPracticeReports_ReportViewer1 table select,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="image"] {
  height: 25px !important;
}
#ParametersRowctlPracticeReports_ReportViewer1 table td {
  padding: 2.5px !important;
  background-color: #eee !important;
}
#ParametersRowctlPracticeReports_ReportViewer1 table td > span,
#ParametersRowctlPracticeReports_ReportViewer1 table select,
#ParametersRowctlPracticeReports_ReportViewer1 table input {
  font-size: 11px !important;
}
#ParametersRowctlPracticeReports_ReportViewer1 table select {
  width: 100% !important;
}
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="text"]:first-child:last-child {
  width: calc(100% - 12px) !important;
}
#ctlPracticeReports_ReportViewer1_ToggleParam {
  background-color: #DDDDDD !important;
}
#ctlPracticeReports_ReportViewer1_fixedTable td[colspan="3"] > div > div {
  background-color: #eee !important;
}
#ctlPracticeReports_ReportViewer1_fixedTable td[colspan="3"] > div > div > * {
  background-color: transparent;
}
#ctl00_ctl00_ctl00_MainContent_MainContent_MainContent_ctl00_ctl00_ctl00_MainContent_MainContent_MainContent_ctlPracticeLocationDispensementModifications_grdPracticeCatalogPanel {
  width: 100%;
}
#ctlPracticeReports_ReportViewerUpdatePanel td > span,
#ctlPracticeReports_ReportViewerUpdatePanel select,
#ctlPracticeReports_ReportViewerUpdatePanel input,
#ctlPracticeReports_ReportViewerUpdatePanel a,
#ctlPracticeReports_ReportViewerUpdatePanel div {
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif !important;
}
#ctlPracticeReports_ReportViewerUpdatePanel div {
  margin-bottom: 10px;
}
.home-search-container > div {
  height: 30px;
  margin: 6.5px;
}
tr[isparameterrow="true"] > td > div > div {
  display: table-cell !important;
}
tr[isparameterrow="true"] > td > div > div > input {
  vertical-align: middle !important;
}
.CheckboxList {
  list-style: none;
  padding-left: 25px;
}
.CheckboxList li {
  margin-bottom: 10px;
}
.CheckboxList li input {
  margin-left: -25px;
}
.CheckboxList span {
  margin-top: -2px;
}
.buttons-container {
  text-align: right;
  margin-bottom: 10px;
}
/* patient schedule popup grid */
#grdPatientSchedule_ctl00 tbody tr:hover td {
  background-color: rgba(255, 51, 0, 0.14);
  cursor: pointer;
}
.half {
  width: 48%;
  display: inline-block;
  position: relative;
}
.half:last-child {
  margin-left: .85%;
}
.three-quarters {
  width: 75%;
  margin: 2px;
}
.half > input {
  width: calc(98% - 12px);
}
.third {
  width: 32%;
  display: inline-block;
  position: relative;
}
.third:NOT(:first-child) {
  margin-left: .85%;
}
#ctl00_MainContent_grdSummary2 .subTabContent-container > .flex-row:NOT(.flex-full) {
  overflow: hidden;
}
.rspCollapseBarExpand {
  background-image: url('images/Common/arrowRight.png');
  background-color: black;
}
.rspCollapseBarCollapse {
  background-image: url('images/Common/arrowLeft.png');
  background-color: black;
}
.rspCollapseBarSpacer {
  background-image: url('images/Common/resize.png');
}
.rspCollapseBarExpand,
.rspCollapseBarCollapse,
.rspCollapseBarSpacer {
  background-position: center center;
  background-repeat: no-repeat;
}
#ctl00_MainContent_splitterDispense {
  position: relative;
}
#ctl00_MainContent_splitterDispense > div {
  position: relative;
}
table#RAD_SPLITTER_ctl00_MainContent_splitterDispense {
  max-width: 100% !important;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/* check in - search POs toolbar (taller)*/
#ctl00_MainContent_ctlSearchPOs_ctlSearchPOsToolbar_rtbToolbar .rtbUL {
  margin-top: -10px;
  height: 45px;
}
#ctl00_MainContent_ctlSearchPOs_ctlSearchPOsToolbar_rtbToolbar .rtbUL .rtbSeparator {
  margin-top: 10px;
}
.Dropdown-Container .abnFlag {
  border: 1px solid #ff3300 !important;
}
.Dropdown-Container .hide {
  display: none;
}
#spnChangeLocation .RadComboBox {
  width: auto !important;
}
#spnChangeLocation .RadComboBox input {
  padding-right: 30px !important;
}
.comma-list span:not(:empty):not(:first-child)::before {
  content: ', ';
}
.subTabContent-container .alignLeft {
  text-align: left;
}
.queueIcon {
  width: 30px;
  padding: 0 5px 0 0;
  float: right;
}
.customBraceSearch {
  width: 150px;
}
.RadWindow {
  padding: 10px;
}
.rwWindowContent {
  width: 100%;
  height: 100%;
}
.rwTitlebarControls {
  float: right;
}
.rwControlButtons {
  list-style: none;
}
.rwControlButtons li {
  display: inline-block;
}
.rwControlButtons span {
  color: transparent;
}
.rwReloadButton {
  background-image: url('images/Common/refresh.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.rwCloseButton {
  background-image: url('images/Common/close.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.rwWindowContent > div {
  height: auto !important;
  width: auto !important;
  overflow: hidden !important;
}
.RadWindow_Breg {
  background-color: #d0d0d0;
  color: #afafaf;
  font-size: 1em;
  border-color: #ffffff;
}
.RadWindow_Breg.rwShadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.RadWindow_Breg.RadWindow.rwRoundedCorner .rwTitleBar {
  border-radius: 0.28571em 0.28571em 0em 0em;
}
.RadWindow_Breg .rwTitleBar {
  background-color: #f5f5f5;
}
.RadWindow_Breg .rwTitleBar .rwTitleWrapper {
  min-height: 2.14286em;
  padding: 0.42857em 0.71429em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}
.RadWindow_Breg.rwCollapsed .rwTitleBar {
  border-bottom-color: #ffffff;
}
.RadWindow_Breg.rwMinimizedWindow .rwTitleWrapper {
  border-bottom: 0;
}
.RadWindow_Breg.rwMinimizedWindow .rwTitleWrapper .rwTitle {
  width: 40%;
}
.RadWindow_Breg .rwCommands {
  margin: -1.21429em 0em 0em;
}
.RadWindow_Breg .rwCommands .rwCommandButton {
  text-indent: 0;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.RadWindow_Breg .rwCommands .rwCommandButton:hover {
  background-color: #ebebeb;
  border-color: #d0d0d0;
  border-radius: 0.21429em;
}
.RadWindow_Breg .rwCommands .rwCommandButton:before {
  text-align: center;
  color: #afafaf;
  margin: 0.28571em 0em 0em 0.21429em;
}
.RadWindow_Breg .rwContent {
  background-color: #d0d0d0;
  border: 0;
}
.RadWindow_Breg .rwStatusBar {
  background-color: #d0d0d0;
  border-color: transparent;
  border-top-color: #ffffff;
  margin: 0.5em -0.5em 0em -0.5em;
  height: 2.64286em;
  height: 2.14286em \9;
  border-radius: 0em 0em 0.28571em 0.28571em;
}
.RadWindow_Breg .rwStatusBar input {
  color: #afafaf;
  font-size: 1em;
}
.RadWindow_Breg .rwStatusBar .rwResize {
  right: .1em;
  right: 0.21429em;
  bottom: 0.14286em;
}
.RadWindow_Breg .rwLoading.rwStatusBar {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Silk.Common.loading_small.gif")%>');
}
.RadWindow_Breg .rwListItem {
  width: 2.28571em;
  height: 2.28571em;
}
.RadWindow_Breg .rwListItem .rwCommandButton {
  width: 2.28571em;
  height: 2.28571em;
  margin: 0em 0.14286em;
}
.RadWindow_Breg .rwDialog {
  margin: 0.35714em 0em 0em;
  background-image: none;
}
.RadWindow_Breg .rwDialog:before {
  font-size: 36px;
}
.RadWindow_Breg .rwAlertDialog:before {
  content: "\E0FA";
}
.RadWindow_Breg .rwConfirmDialog:before {
  content: "\E0FB";
}
.RadWindow_Breg .rwDialogButtons input {
  padding: 0.42857em 0.85714em;
  padding: 0.46429em 0.85714em \9;
  border-color: #eeeeee;
  color: #afafaf;
  background-color: #d0d0d0;
  background-image: linear-gradient();
}
.RadWindow_Breg .rwDialogButtons input:focus {
  outline-width: thin;
  outline-style: dotted;
  outline-offset: -2px;
  outline-color: #d0d0d0;
}
.RadWindow_Breg .rwDialogButtons input:active {
  border-color: #afafaf;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.RadWindow_Breg .rwPromptInput:focus {
  background-color: #d0d0d0;
  color: #eeeeee;
  border-color: #3c87c8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.RadWindow_Breg .rwPromptInput:active {
  background-color: #d0d0d0;
  color: #eeeeee;
  border-color: #ddd;
}
.RadWindow_Breg .rwPromptInput:disabled {
  background-color: #eeeeee;
  color: #888888;
  border-color: #ddd;
}
.RadWindow_Breg.rwRtl .rwCommands {
  margin: -1.21429em 0em 0em;
}
.RadWindow_Breg.rwRtl .rwCommands .rwCommandButton:before {
  margin: 0.21429em 0.21429em 0em 0em;
}
.RadWindow_Breg.RadWindow.rwRoundedCorner,
.RadWindow_Breg.RadWindow.rwCollapsed.rwRoundedCorner .rwTitleBar,
.RadWindow_Breg.RadWindow.rwMinimizedWindow.rwRoundedCorner .rwTitleBar {
  border-radius: 0.28571em;
}
.button {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.button:focus,
.button:hover {
  cursor: pointer;
}
.button-hover {
  cursor: pointer;
}
.button-primary {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
.button-primary:focus,
.button-primary:hover {
  cursor: pointer;
}
.button-primary:focus,
.button-primary:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
.button-primary-colors {
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
.button-primary-colors-hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
.button-accent-colors {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
.button-accent-colors-hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
.button-accent {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
.button-accent:focus,
.button-accent:hover {
  cursor: pointer;
}
.button-accent:focus,
.button-accent:hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
.button-primary-container img,
.breg_radtbutton_normal,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"],
.breg_radtbutton_hover,
.breg_radtbutton_mousedown,
.breg_radtbutton_toggled {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
.button-primary-container img:focus,
.breg_radtbutton_normal:focus,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"]:focus,
.breg_radtbutton_hover:focus,
.breg_radtbutton_mousedown:focus,
.breg_radtbutton_toggled:focus,
.button-primary-container img:hover,
.breg_radtbutton_normal:hover,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"]:hover,
.breg_radtbutton_hover:hover,
.breg_radtbutton_mousedown:hover,
.breg_radtbutton_toggled:hover {
  cursor: pointer;
}
.button-primary-container img:focus,
.breg_radtbutton_normal:focus,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"]:focus,
.breg_radtbutton_hover:focus,
.breg_radtbutton_mousedown:focus,
.breg_radtbutton_toggled:focus,
.button-primary-container img:hover,
.breg_radtbutton_normal:hover,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"]:hover,
.breg_radtbutton_hover:hover,
.breg_radtbutton_mousedown:hover,
.breg_radtbutton_toggled:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
.button-primary-container img + .help-icon,
.breg_radtbutton_normal + .help-icon,
#ParametersRowctlPracticeReports_ReportViewer1 table input[type="submit"] + .help-icon,
.breg_radtbutton_hover + .help-icon,
.breg_radtbutton_mousedown + .help-icon,
.breg_radtbutton_toggled + .help-icon {
  margin-left: 15px;
}
.RadButton_Breg.accent-button {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
.RadButton_Breg.accent-button:focus,
.RadButton_Breg.accent-button:hover {
  cursor: pointer;
}
.RadButton_Breg.accent-button:focus,
.RadButton_Breg.accent-button:hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
.RadButton_Breg.accent-button + .help-icon {
  margin-left: 15px;
}
.RadButton_Breg {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
.RadButton_Breg:focus,
.RadButton_Breg:hover {
  cursor: pointer;
}
.RadButton_Breg:focus,
.RadButton_Breg:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
.RadButton_Breg + .help-icon {
  margin-left: 15px;
}
.RadButton_Breg _:-ms-fullscreen {
  margin: -0.35714em -0.85714em -0.28571em 0.35714em;
  margin: -0.35714em 0.35714em -0.28571em -0.85714em;
  margin: 0.28571em 0em 0em 0.07143em;
  padding: 0.46429em 0.85714em;
}
.RadButton_Breg .rbSplitPart {
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #333333;
  height: 2.28571em;
  width: 2.28571em;
}
.RadButton_Breg .rbSplitPartRight {
  margin: -0.35714em -0.85714em -0.21429em 0.35714em;
  /*margin: -0.35714em -0.85714em -0.21429em 0.35714em \9;*/
}
.RadButton_Breg .rbSplitPartRight:hover {
  border-left-color: #d0d0d0;
}
.RadButton_Breg .rbSplitPartLeft {
  margin: -0.35714em 0.35714em -0.21429em -0.85714em;
  /*margin: -0.35714em 0.35714em -0.21429em -0.85714em \9;*/
}
.RadButton_Breg .rbSplitPartLeft:hover {
  border-right-color: #d0d0d0;
}
.RadButton_Breg .rbSplitIcon {
  /*margin: 0.28571em 0 0 0.07143em \9;*/
  margin: 0.35714em 0em 0em 0.28571em;
}
.RadButton_Breg .rbSplitPartRight.rbHovered {
  border-left-color: #d0d0d0;
}
.RadButton_Breg .rbSplitPartRight.rbSelected {
  border-left-color: #afafaf;
}
.RadButton_Breg .rbSplitPartLeft.rbHovered {
  border-right-color: #d0d0d0;
}
.RadButton_Breg .rbSplitPartLeft.rbSelected {
  border-right-color: #afafaf;
}
.RadButton_Breg.text-large {
  font-size: 14px;
}
.RadButton_Breg.rbButton,
input[type="button"],
input[type="submit"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.RadButton_Breg.rbButton:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.RadButton_Breg.rbButton:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="image"] {
  opacity: 0.6;
}
input[type="image"]:hover {
  opacity: 1;
}
.RadButton_Breg.rbLinkButton {
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  text-decoration: none;
}
.RadButton_Breg.rbLinkButton .rbText {
  margin-top: 2.5px;
}
.RadButton_Breg.rbLinkButton .rbPrimaryIcon + .rbText {
  margin-left: 5px;
}
:root .RadButton_Breg.rbButton {
  padding: 0.46429em 0.85714em;
}
:root .RadButton_Breg .rbSplitPartRight {
  margin: -0.35714em -0.85714em -0.28571em 0.35714em;
}
:root .RadButton_Breg .rbSplitPartLeft {
  margin: -0.35714em 0.35714em -0.28571em -0.85714em;
}
:root .RadButton_Breg .rbSplitIcon {
  margin: 0.28571em 0em 0em 0.07143em;
}
:root span.RadButton_Breg.rbButton {
  padding: 0.21429em 0.85714em;
}
.RadButton_Breg.rbButton.rbHovered,
.RadButton_Breg .rbSplitPart.rbHovered,
.RadButton_Breg.rbButton:hover,
.RadButton_Breg .rbSplitPart:hover,
.RadButton_Breg.rbButton:focus,
.breg_radtbutton_hover {
  cursor: pointer;
}
.RadButton_Breg.rbButton.rbSelected {
  cursor: pointer;
}
.RadButton_Breg.rbButton.rbSelected .rbSplitPart {
  background-color: #ddd;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadButton_Breg.rbButton.rbToggled {
  background-color: #ddd;
  background-image: linear-gradient();
  border-color: #afafaf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  color: #333333;
}
.RadButton_Breg.rbPrimaryButton {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.RadButton_Breg.rbPrimaryButton:focus,
.RadButton_Breg.rbPrimaryButton:hover {
  cursor: pointer;
}
.RadButton_Breg.rbPrimaryButton.rbHovered,
.RadButton_Breg.rbPrimaryButton:hover,
.RadButton_Breg.rbPrimaryButton.rbFocused,
.RadButton_Breg.rbPrimaryButton:focus,
.RadButton_Breg.rbPrimaryButton.rbFocused,
.RadButton_Breg.rbPrimaryButton.rbSelected {
  cursor: pointer;
}
.RadButton_Breg.rbCheckBox,
.RadButton_Breg.rbRadioButton,
.RadButton_Breg.rbToggleButton,
.RadButton_Breg.rbCheckBox .rbIcon,
.RadButton_Breg.rbRadioButton .rbIcon,
.RadButton_Breg.rbToggleButton .rbIcon {
  color: #333333;
}
.RadButton_Breg.rbCheckBox.rbHovered,
.RadButton_Breg.rbRadioButton.rbHovered,
.RadButton_Breg.rbToggleButton.rbHovered,
.RadButton_Breg.rbCheckBox.rbHovered .rbIcon,
.RadButton_Breg.rbRadioButton.rbHovered .rbIcon,
.RadButton_Breg.rbToggleButton.rbHovered .rbIcon,
.RadButton_Breg.rbCheckBox.rbSelected .rbIcon,
.RadButton_Breg.rbRadioButton.rbSelected .rbIcon,
.RadButton_Breg.rbToggleButton.rbSelected .rbIcon {
  color: #428bca;
}
.RadButton_Breg.rbCheckBox.rbHovered.rbSelected,
.RadButton_Breg.rbRadioButton.rbHovered.rbSelected,
.RadButton_Breg.rbToggleButton.rbSelected.rbSelected,
.RadButton_Breg.rbCheckBox.rbHovered.rbSelected .rbIcon,
.RadButton_Breg.rbRadioButton.rbHovered.rbSelected .rbIcon,
.RadButton_Breg.rbToggleButton.rbSelected.rbSelected .rbIcon {
  color: #3071a9;
}
.RadButton_Breg.rbButton.rbPrimaryButton.rbCheckBox,
.RadButton_Breg.rbButton.rbPrimaryButton.rbRadioButton,
.RadButton_Breg.rbButton.rbPrimaryButton.rbToggleButton,
.RadButton_Breg.rbButton.rbPrimaryButton.rbCheckBox .rbIcon,
.RadButton_Breg.rbButton.rbPrimaryButton.rbRadioButton .rbIcon,
.RadButton_Breg.rbButton.rbPrimaryButton.rbToggleButton .rbIcon {
  color: #ffffff;
}
.RadButton_Breg.rbButton.rbRtl .rbSplitPart {
  border-right-color: #eeeeee;
}
.RadButton_Breg.rbButton.rbRtl .rbSplitPart.rbHovered {
  border-right-color: #eeeeee;
}
.RadButton_Breg.rbButton.rbRtl .rbSplitPart.rbSelected {
  border-right-color: #afafaf;
}
span.RadButton_Breg.rbButton {
  padding: 0.14286em 0.85714em 0.07143em;
  /*padding: 0.21429em 0.85714em 0.14286em \9;*/
}
span.RadButton_Breg.rbButton .rbText {
  vertical-align: sub;
}
_:-ms-fullscreen {
  padding: 0.21429em 0.85714em;
}
.RadButton_Breg[disabled] {
  opacity: .6;
}
.RadButton_Breg[disabled]:hover {
  cursor: not-allowed;
}
.rbPrimaryIcon {
  background-size: contain;
  display: inline-block;
}
.text-large .rbPrimaryIcon {
  height: 18px;
  width: 18px;
}
a.rcCalPopup {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
a.rcCalPopup:focus,
a.rcCalPopup:hover {
  cursor: pointer;
}
.materialIcon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.breg_radtbutton_normal,
.breg_radtbutton_hover,
.breg_radtbutton_mousedown,
.breg_radtbutton_toggled,
.breg_radtbutton_hover_toggled {
  margin-left: 4px;
  padding: 0 2px !important;
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.breg_radtbutton_normal:focus,
.breg_radtbutton_hover:focus,
.breg_radtbutton_mousedown:focus,
.breg_radtbutton_toggled:focus,
.breg_radtbutton_hover_toggled:focus,
.breg_radtbutton_normal:hover,
.breg_radtbutton_hover:hover,
.breg_radtbutton_mousedown:hover,
.breg_radtbutton_toggled:hover,
.breg_radtbutton_hover_toggled:hover {
  cursor: pointer;
}
.breg_radtbutton_normal::after,
.breg_radtbutton_hover::after,
.breg_radtbutton_mousedown::after,
.breg_radtbutton_toggled::after,
.breg_radtbutton_hover_toggled::after,
.breg_radtbutton_normal:hover::after,
.breg_radtbutton_hover:hover::after,
.breg_radtbutton_mousedown:hover::after,
.breg_radtbutton_toggled:hover::after,
.breg_radtbutton_hover_toggled:hover::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #fff;
  content: '\E8B6';
}
.breg_radtbutton_normal > img,
.breg_radtbutton_hover > img,
.breg_radtbutton_mousedown > img,
.breg_radtbutton_toggled > img,
.breg_radtbutton_hover_toggled > img,
.breg_radtbutton_normal:hover > img,
.breg_radtbutton_hover:hover > img,
.breg_radtbutton_mousedown:hover > img,
.breg_radtbutton_toggled:hover > img,
.breg_radtbutton_hover_toggled:hover > img {
  display: none;
}
.rgSortDesc {
  background-image: url('images/Common/sortAsc.png');
}
.rgSortAsc {
  background-image: url('images/Common/sortDesc.png');
}
.rgSortAsc,
.rgSortDesc {
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px 5px !important;
  background-color: #333;
  border-color: #333;
}
.RadToolBar .rtbIcon {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
}
.RadToolBar .rtbIcon:focus,
.RadToolBar .rtbIcon:hover {
  cursor: pointer;
}
.image-button {
  background-size: cover;
}
.rgAdd {
  background-image: url('images/Common/add.png');
  background-size: cover;
}
.rgRefresh {
  background-image: url('images/Common/refresh.png');
  background-size: cover;
}
button[type="submit"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
button[type="submit"]:focus,
button[type="submit"]:hover {
  cursor: pointer;
}
button[type="submit"]:focus,
button[type="submit"]:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
button[type="submit"] + .help-icon {
  margin-left: 15px;
}
button[type="cancel"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
button[type="cancel"]:focus,
button[type="cancel"]:hover {
  cursor: pointer;
}
button[type="cancel"]:focus,
button[type="cancel"]:hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
button[type="cancel"] + .help-icon {
  margin-left: 15px;
}
#rtbFilter .rtbIcon,
#rtbBrowse .rtbIcon {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
#rtbFilter .rtbIcon:focus,
#rtbBrowse .rtbIcon:focus,
#rtbFilter .rtbIcon:hover,
#rtbBrowse .rtbIcon:hover {
  cursor: pointer;
}
#rtbFilter .rtbIcon:focus,
#rtbBrowse .rtbIcon:focus,
#rtbFilter .rtbIcon:hover,
#rtbBrowse .rtbIcon:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
#rtbFilter .rtbIcon + .help-icon,
#rtbBrowse .rtbIcon + .help-icon {
  margin-left: 15px;
}
img[alt="Search"].rtbIcon,
img[alt="Browse all products"].rtbIcon {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1;
  background-image: linear-gradient();
  border-color: #37AAF1;
  color: #ffffff;
}
img[alt="Search"].rtbIcon:focus,
img[alt="Browse all products"].rtbIcon:focus,
img[alt="Search"].rtbIcon:hover,
img[alt="Browse all products"].rtbIcon:hover {
  cursor: pointer;
}
img[alt="Search"].rtbIcon:focus,
img[alt="Browse all products"].rtbIcon:focus,
img[alt="Search"].rtbIcon:hover,
img[alt="Browse all products"].rtbIcon:hover {
  background-color: #0d75b5;
  background-image: linear-gradient();
  border-color: #0d75b5;
  color: #ffffff;
}
img[alt="Search"].rtbIcon + .help-icon,
img[alt="Browse all products"].rtbIcon + .help-icon {
  margin-left: 15px;
}
.RadioButtons td,
.RadioButtons td * {
  white-space: nowrap;
}
.rcCalPopup,
input[type="button"][value="..."] {
  font-size: 13px !important;
  font-weight: 500 !important;
  border-radius: 7.5px !important;
  border-width: 1px !important;
  text-transform: uppercase !important;
  height: auto !important;
  line-height: normal !important;
  padding: 0.42857em 0.85714em !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0 !important;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #37AAF1 !important;
  background-image: linear-gradient() !important;
  border-color: #37AAF1 !important;
  color: #ffffff !important;
}
.rcCalPopup:focus,
input[type="button"][value="..."]:focus,
.rcCalPopup:hover,
input[type="button"][value="..."]:hover {
  cursor: pointer !important;
}
.rcCalPopup:focus,
input[type="button"][value="..."]:focus,
.rcCalPopup:hover,
input[type="button"][value="..."]:hover {
  background-color: #0d75b5 !important;
  background-image: linear-gradient() !important;
  border-color: #0d75b5 !important;
  color: #ffffff !important;
}
.rcCalPopup + .help-icon,
input[type="button"][value="..."] + .help-icon {
  margin-left: 15px !important;
}
.RadPicker table.rcTable {
  position: relative;
}
input[type="button"][title="Spell Check"] {
  font-size: 13px;
  font-weight: 500;
  border-radius: 7.5px;
  border-width: 1px;
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  padding: 0.42857em 0.85714em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0;
  /*padding: 0.46429em 0.85714em \9;*/
  background-color: #ffffff;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #37AAF1;
}
input[type="button"][title="Spell Check"]:focus,
input[type="button"][title="Spell Check"]:hover {
  cursor: pointer;
}
input[type="button"][title="Spell Check"]:focus,
input[type="button"][title="Spell Check"]:hover {
  background-color: #eeeeee;
  background-image: linear-gradient();
  border-color: #eeeeee;
  color: #0d75b5;
}
input[type="button"][title="Spell Check"] + .help-icon {
  margin-left: 15px;
}
.rspCollapseBarExpand,
.rspCollapseBarSpacer,
.rspCollapseBarCollapse {
  padding: 1px;
}
.rbToggleButton {
  display: block;
  width: 98% !important;
  margin-bottom: 10px;
}
.rbToggleButton .rbText {
  text-transform: capitalize;
  color: white;
}
#trIsSpecificContact .rbToggleButton {
  display: inline-block;
  width: 15px !important;
}
.rgAdd,
.rgRefresh {
  margin-right: 5px;
}
.button-primary + .button-primary,
.button-primary + .button-accent,
.button-accent + .button-accent,
.button-accent + .button-primary {
  margin-left: 10px;
}
.button-primary + .help-icon,
.button-accent + .help-icon,
.RadButton_Breg + .help-icon {
  margin-left: 15px;
}
input[type="button"].button-moreInfo {
  background-color: transparent;
  background-image: url("images/Common/moreInfoPopup.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px !important;
  right: 8px !important;
  padding: 0 !important;
  border-radius: 0;
  box-shadow: none;
  border: none;
  height: 27px;
}
input[type="button"].button-moreInfo:hover {
  background-image: url("images/Common/moreInfoPopupHover.png");
}
html {
  overflow: hidden;
}
body {
  overflow: hidden;
  margin: 0 7px;
}
form {
  overflow: hidden;
}
.RadSpell {
  /*width: 466px;*/
  height: 330px;
  padding: 0;
  margin: 0;
  background: inherit;
  box-sizing: content-box;
  line-height: 1.42857143;
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;
}
.RadSpell * {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.RadSpell ul {
  list-style-type: none !important;
}
.RadSpell .RichTextView {
  margin-left: 7px;
  overflow: auto;
  height: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: #000 #ccc #ccc #000;
  background: #fff;
  font-size: 1.1em;
  width: 320px;
  padding: 3px;
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;
  cursor: text;
}
.RadSpell .RichTextView strong {
  color: #f00;
  text-decoration: underline;
}
.RadSpell .RichTextView em {
  font-style: normal;
  color: #000;
}
.RadSpell textarea {
  margin-left: 7px;
  display: none;
  overflow: auto;
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;
  height: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: #000 #ccc #ccc #000;
  background: #fff;
  font-size: 1.1em;
  width: 318px;
  padding: 3px 5px 3px 3px;
}
.RadSpell select {
  margin-left: 7px;
  font-family: 'Roboto', 'Helvetica-Neue', 'Helvetica', sans-serif;
  width: 328px;
  height: 60px;
  font-size: 1.1em;
  margin-left: 0;
  margin-right: 0;
}
.RadSpell select option {
  padding: 1px 3px 0;
}
.RadSpell .MainOptions {
  margin-left: 7px;
  width: 328px;
  margin-top: 10px;
}
.RadSpell .MainOptions li {
  float: right;
  margin-left: 10px;
}
.RadSpell .rfdSkinnedButton {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.RadSpell .SpellOptions a {
  display: block;
}
.RadSpell .SpellOptions a.disabled {
  cursor: no-drop;
}
.RadSpell .SpellOptions:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.RadSpell .SpellOptions li {
  height: 23px;
  padding: 2px 0;
  text-align: center;
  line-height: 23px;
}
.RadSpell h3 {
  height: 44px;
  line-height: 35px;
  margin: 0;
  padding-left: 7px;
  background: #e5e5e5;
  font-size: 1.1em;
  overflow: hidden;
}
.RadSpell h3:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.RadSpell h3 em {
  float: left;
  padding-right: 7px;
  font-style: normal;
  cursor: default;
}
.RadSpell h3 em .RadSpell h3 span {
  height: 44px;
  line-height: 35px;
}
.RadSpell h3 span {
  float: left;
  padding: 0 10px;
  background: #fff;
  height: 28px;
  margin-top: 16px;
  line-height: 28px;
}
.RadSpell:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.RadSpell h4 {
  margin-top: 7px;
  padding-left: 7px;
  font-size: 1.1em;
  font-weight: normal;
}
.RadSpell > .rfdSelectBox {
  margin-left: 7px;
  width: 326px !important;
}
.RadSpell .AuxOptions {
  float: right;
  margin-top: 20px;
  margin-right: 8px;
}
.RadSpell .AuxOptions li {
  margin-top: 8px;
}
.RadSpell button {
  width: 84px !important;
}
.RadSpell ul.SpellOptions .rfdSkinnedButton button {
  padding: 0 0 0 3px;
}
.RadSpell ul.SpellOptions .rfdSkinnedButton.rfdInputDisabled button {
  padding: 0 0 0 3px;
}
.RadSpell ul.SpellOptions .rfdSkinnedButton.rfdInputDisabled:hover button {
  padding: 0 0 0 3px;
}
*:first-child* + html .RadSpell textarea {
  margin-top: -1px;
  margin-bottom: -1px;
}
*:first-child* + html .RadSpell select {
  height: 85px;
}
.rfdRtl .RadSpell {
  width: 445px;
}
.rfdRtl .RadSpell .RichTextView {
  margin-left: 0;
  margin-right: 7px;
}
.rfdRtl .RadSpell textarea {
  margin-left: 0;
  margin-right: 7px;
}
.rfdRtl .RadSpell .MainOptions {
  margin-left: 0;
  margin-right: 7px;
}
.rfdRtl .SpellOptions.AuxOptions {
  float: left;
  margin: 50px 0 0 10px !important;
}
.rfdRtl .SpellOptions.MainOptions {
  float: left;
  width: 310px;
}
div.RadSpell {
  /*ul.AuxOptions {
        li {
            width: 73px;
        }
    }*/
}
div.RadSpell textarea {
  line-height: 20px;
}
div.RadSpell h4 {
  margin-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
}
div.RadSpell .MainOptions {
  margin: 15px -5px 0 28px;
}
div.RadSpell .AuxOptions {
  margin-right: -2px;
  margin-right: 0;
  width: 114px;
  *width: 110px;
}
div.RadSpell ul.SpellOptions {
  width: 280px;
}
div.RadSpell ul.SpellOptions li {
  height: auto;
  line-height: normal;
  width: 128px;
}
div.RadSpell ul.AuxOptions.SpellOptions {
  width: 146px;
}
div.RadSpell select {
  width: 302px;
  margin: 0 0 0 8px;
}
div.RadSpell label {
  line-height: 1.9em;
}
.redSpellCheckDialog body {
  height: 330px;
}
.redSpellCheckDialog.RadForm body {
  height: 350px;
}