﻿.RadRating_Breg {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadRating_Breg a:before {
  color: #c4c4c4;
}
.RadRating_Breg a:hover:before {
  color: #c4c4c4;
}
.RadRating_Breg a:hover .rrtPartComplement:before {
  color: #adadad;
}
.RadRating_Breg .rrtOver span:before {
  color: #adadad;
}
.RadRating_Breg .rrtVertical .rrtSelected.rrtOver a:before {
  color: #adadad;
}
.RadRating_Breg .rrtSelected a .rrtPartSelected:before {
  color: #adadad;
}
.RadRating_Breg .rrtSelected.rrtOver a:before {
  color: #adadad;
}
.RadRating_Breg .rrtSelected.rrtOver span:before {
  color: #991e00;
}
.RadRating_Breg .rrtSelected span:before {
  color: #ff3300;
}
.RadRating_Breg .rrtSelected .rrtPart:before {
  color: #991e00;
}
.RadRating_Breg .rrtReversed .rrtPart:before {
  color: #adadad;
}
.RadRating_Breg .rrtReversed .rrtSelected .rrtPartComplement:before {
  color: #991e00;
}