@color1:#adadad;
@color2:#991e00;
.RadRating_Breg {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  a {
    &:before {
      color: #c4c4c4;
    }
    &:hover:before {
      color: #c4c4c4;
    }
    &:hover .rrtPartComplement:before {
      color: @color1;
    }
  }
  .rrtOver {
    span:before {
      color: @color1;
    }
  }
  .rrtVertical {
    .rrtSelected.rrtOver a:before {
      color: @color1;
    }
  }
  .rrtSelected {
    a .rrtPartSelected:before {
      color: @color1;
    }
    &.rrtOver a:before {
      color: @color1;
    }
    &.rrtOver span:before {
      color: @color2;
    }
    span:before {
      color: #ff3300;
    }
    .rrtPart:before {
      color: @color2;
    }
  }
  .rrtReversed {
    .rrtPart:before {
      color: @color1;
    }
    .rrtSelected .rrtPartComplement:before {
      color: @color2;
    }
  }
}