﻿.fy-mixin-1 {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.fy-mixin-2 {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-3 {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
  background-image: linear-gradient();
}
.fy-mixin-4 {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-5 {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5;
}
.RadRibbonBar_Breg {
  color: #333333;
}
.RadRibbonBar_Breg .rrbWrap {
  border-color: #dddddd;
  background-color: #f5f5f5;
}
.RadRibbonBar_Breg .rrbTabs {
  border-bottom-color: #c4c4c4;
}
.RadRibbonBar_Breg .rrbTabs .rrbItem {
  margin-right: 7px;
}
.RadRibbonBar_Breg .rrbTabs .rrbItem .rrbLink {
  padding: 10px 15px;
  border-radius: 0.28571em 0.28571em 0em 0em;
  border-color: transparent;
  color: #333333;
}
.RadRibbonBar_Breg .rrbTabs .rrbItem.rrbHovered .rrbLink {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
}
.RadRibbonBar_Breg .rrbTabs .rrbItem.rrbSelected .rrbLink {
  color: #333333;
  border-color: #c4c4c4;
  background-color: #e4e4e4;
}
.RadRibbonBar_Breg .rrbTabs .rrbApplicationItem {
  margin-right: 7px;
}
.RadRibbonBar_Breg .rrbContextualItem {
  padding-top: 2.85714em;
}
.RadRibbonBar_Breg .rrbContextualItem .rrbLabel {
  color: #ffffff;
}
.RadRibbonBar_Breg .rrbQat {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbQat + .rrbTabs .rrbContextualItem {
  margin-top: -2.85714em;
}
.RadRibbonBar_Breg .rrbQat .rrbButton {
  border-color: transparent;
  background: transparent;
}
.RadRibbonBar_Breg .rrbQat .rrbButton:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbQat .rrbButton:active {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButton {
  padding: 6px;
  border-radius: 0.28571em;
  border-color: transparent;
  color: #333333;
  background-color: #ffffff;
  background: transparent;
}
.RadRibbonBar_Breg .rrbButton .rrbArrow {
  border-color: transparent;
  background: transparent;
}
.RadRibbonBar_Breg .rrbButton:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButton.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButton.rrbClicked {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButton.rrbPressed {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButton.rrbExpanded {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButton.rrbToggled {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbAbox > .rrbButtonGroup .rrbButton {
  border-radius: 0;
}
.RadRibbonBar_Breg .rrbAbox > .rrbButtonGroup .rrbButton + .rrbButton {
  margin-left: -1px;
}
.RadRibbonBar_Breg .rrbAbox > .rrbButtonGroup .rrbButton:first-child {
  border-radius: 0.28571em 0em 0em 0.28571em;
}
.RadRibbonBar_Breg .rrbAbox > .rrbButtonGroup .rrbButton:last-child {
  border-radius: 0em 0.28571em 0.28571em 0em;
}
.RadRibbonBar_Breg .rrbApplicationItem {
  margin-bottom: 7px;
}
.RadRibbonBar_Breg .rrbApplicationItem .rrbLink {
  width: 1.42857em;
  padding: 6px;
  border-radius: 0.28571em;
  color: transparent;
  border-color: #eeeeee;
  background-color: #ffffff;
}
.RadRibbonBar_Breg .rrbApplicationItem .rrbLink:before {
  content: "\E002";
  font: 1.14286em TelerikWebUI;
  color: #333333;
  vertical-align: middle;
}
.RadRibbonBar_Breg .rrbApplicationItem.rrbSelected .rrbHeaderBar {
  border-color: #dddddd;
  background: #f5f5f5;
}
.RadRibbonBar_Breg .rrbApplicationItem.rrbSelected .rrbLink {
  border-color: #c4c4c4;
  background-color: #e4e4e4;
}
.RadRibbonBar_Breg .rrbApplicationItem.rrbSelected .rrbLink:before {
  color: #333333;
}
.RadRibbonBar_Breg .rrbMenu .rrbHeader {
  color: #333333;
  background-color: #f5f5f5;
}
.RadRibbonBar_Breg .rrbToolTip {
  color: #333333;
  border-color: #dddddd;
  background-color: #fcfcfc;
}
.RadRibbonBar_Breg .rrbCommandGroup {
  border-radius: 0.28571em;
  padding: 0.5em 0.5em 2.14286em;
  border-color: #eeeeee;
  background-color: #ffffff;
}
.RadRibbonBar_Breg .rrbCommandGroup:before {
  height: 4.64286em;
  padding: 19px 0;
}
.RadRibbonBar_Breg .rrbCommandGroup ~ .rrbCommandGroup {
  margin-left: 0.5em;
}
.RadRibbonBar_Breg .rrbCommandArea {
  padding: 0.5em;
  background-color: #f5f5f5;
}
.RadRibbonBar_Breg .rrbResizeHandle {
  background-position: -20px -2220px;
}
.RadRibbonBar_Breg .rrbTitle {
  color: #333333;
  background-color: #f5f5f5;
}
.RadRibbonBar_Breg .rrbCollapsedGroup {
  border-color: #dddddd;
}
.RadRibbonBar_Breg .rrbCollapsedGroup .rrbIcon {
  border-color: #eeeeee;
}
.RadRibbonBar_Breg .rrbSplitButton.rrbHovered .rrbArrow {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
}
.RadRibbonBar_Breg .rrbSplitButton .rrbArrow {
  border-radius: 0;
}
.RadRibbonBar_Breg .rrbSplitButton .rrbArrow:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbSplitButton.rrbExpanded .rrbArrow {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbSplitButton.rrbClicked .rrbArrow {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButtonGroup .rrbButton {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
}
.RadRibbonBar_Breg .rrbButtonGroup .rrbButton:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButtonGroup .rrbButton:active {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButtonGroup .rrbButton.rrbClicked {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbButtonGroup .rrbButton.rrbPressed {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbComboBox .rrbButton {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  padding: 6px;
}
.RadRibbonBar_Breg .rrbComboBox .rrbButton.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbComboBox .rrbButton.rrbClicked {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbComboBox .rrbCBInner {
  padding: 6px 34px 6px 6px;
  border-radius: 0.28571em;
  border-color: #dddddd;
  background-color: #ffffff;
}
.RadRibbonBar_Breg .rrbComboBox .rrbCBInner .rrbButton {
  border-radius: 0;
}
.RadRibbonBar_Breg .rrbComboBox .rrbCBInput {
  color: #555555;
}
.RadRibbonBar_Breg .rrbDropDown .rrbButton {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  padding: 6px;
  background: none;
}
.RadRibbonBar_Breg .rrbDropDown .rrbButton.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
  background: none;
}
.RadRibbonBar_Breg .rrbDropDown .rrbButton.rrbClicked {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbDropDown .rrbDDInner {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  padding: 6px 34px 6px 6px;
}
.RadRibbonBar_Breg .rrbDropDown .rrbDDInner .rrbButton {
  border-radius: 0;
}
.RadRibbonBar_Breg .rrbDropDown .rrbDDInner:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbDropDown .rrbDDInner:active {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbNumericTextBox {
  width: 4.28571em;
}
.RadRibbonBar_Breg .rrbNumericTextBox .rrbButton {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  padding: 6px;
}
.RadRibbonBar_Breg .rrbNumericTextBox .rrbButton.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbNumericTextBox .rrbButton.rrbClicked {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbNumericTextBox .rrbNTBInner {
  padding: 6px 34px 6px 6px;
  border-radius: 0.28571em;
  border-color: #dddddd;
  background-color: #ffffff;
}
.RadRibbonBar_Breg .rrbNumericTextBox .rrbNTBInner .rrbButton {
  border-radius: 0;
}
.RadRibbonBar_Breg .rrbNumericTextBox .rrbNTBInput {
  color: #555555;
}
.RadRibbonBar_Breg .rrbColorPicker .rrbButton {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  padding: 6px;
  background: none;
}
.RadRibbonBar_Breg .rrbColorPicker .rrbButton.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
  background: none;
}
.RadRibbonBar_Breg .rrbColorPicker .rrbButton.rrbClicked {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbColorPicker .rrbCPInner {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  padding: 6px 34px 6px 6px;
}
.RadRibbonBar_Breg .rrbColorPicker .rrbCPInner .rrbButton {
  border-radius: 0;
}
.RadRibbonBar_Breg .rrbColorPicker .rrbCPInner:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbColorPicker .rrbCPInner:active {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbGalleryActions .rrbButton {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  width: 32px;
  border-radius: 0;
}
.RadRibbonBar_Breg .rrbGalleryActions .rrbButton.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbGalleryActions .rrbButton.rrbClicked {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbGallery {
  height: 6em;
  padding-right: 32px;
  border-radius: 0.28571em;
  border-color: #dddddd;
  background-color: #ffffff;
}
.RadRibbonBar_Breg .rrbGallery .rrbItem.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbGallery .rrbItem.rrbSelected {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadRibbonBar_Breg .rrbGallery .rrbItem .rrbLink {
  color: #333333;
  background-color: #ffffff;
}
.RadRibbonBar_Breg .rrbSmallButton.rrbMenuButton {
  padding-right: 22px;
}
.RadRibbonBar_Breg .rrbSmallButton.rrbMenuButton .rrbImagePlaceholder {
  left: 6px;
}
.RadRibbonBar_Breg .rrbSmallButton.rrbMenuButton .rrbArrow {
  width: 22px;
}
.RadRibbonBar_Breg .rrbSmallButton.rrbSplitButton {
  padding-right: 22px;
}
.RadRibbonBar_Breg .rrbSmallButton.rrbSplitButton .rrbImagePlaceholder {
  left: 6px;
}
.RadRibbonBar_Breg .rrbSmallButton.rrbSplitButton .rrbArrow {
  width: 22px;
}
.RadRibbonBar_Breg .rrbMediumButton {
  padding-left: 24px;
}
.RadRibbonBar_Breg .rrbMediumButton.rrbMenuButton {
  padding-right: 24px;
}
.RadRibbonBar_Breg .rrbMediumButton.rrbSplitButton {
  padding-right: 24px;
}
.RadRibbonBar_Breg .rrbMediumButton .rrbImagePlaceholder {
  left: 4px;
}
.RadRibbonBar_Breg .rrbLargeButton {
  padding: 18px 0;
  height: 4.57143em;
}
.RadRibbonBar_Breg .rrbLargeButton .rrbImagePlaceholder {
  top: 0.7em;
}
.RadRibbonBar_Breg .rrbCategoryTitle {
  color: #333333;
  background-color: #f5f5f5;
}
.rrbSlide_Breg .rrbItem.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.rrbSlide_Breg .rrbItem.rrbSelected {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.rrbPopup_Breg {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
}
.rrbPopup_Breg .rrbPopup {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
}
.rrbPopup_Breg .rrbItem.rrbHovered > .rrbInner {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
  background-image: linear-gradient();
}
.rrbPopup_Breg .rrbItem.rrbHovered > .rrbInner .rrbToggle {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
  background-image: linear-gradient();
}
.rrbPopup_Breg .rrbItem.rrbExpanded > .rrbInner {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
  background-image: linear-gradient();
}
.rrbPopup_Breg .rrbItem.rrbExpanded > .rrbInner .rrbToggle {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
  background-image: linear-gradient();
}
.rrbPopup_Breg .rrbHeaderBar {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
}
.rrbPopup_Breg .rrbAuxiliaryPane {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5;
}
.rrbPopup_Breg .rrbHeader {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5;
}
.rrbPopup_Breg .rrbFooter {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5;
}
.RadRibbonBar_Breg .rrbMenu,
.rrbDropDownSlide_Breg .rrbPopup,
.rrbSlide_Breg .rrbPopup {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5;
}
.RadRibbonBar_Breg .rrbMenu .rrbItem.rrbHovered {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5;
}
.rrbDropDownSlide_Breg .rrbListItem:hover {
  color: #000000;
  background-color: #fcfcfc;
}
.rrbSlide_Breg .rrbCategoryTitle {
  color: #333333;
  background-color: #f5f5f5;
}
.rrbSlide_Breg .rrbGallery {
  background: #ffffff;
}
.rrbSlide_Breg .rrbLink {
  color: #333333;
  background-color: #ffffff;
}