@unit1:0.28571em;
@unit2:0.5em;
@unit3:22px;
@unit4:34px;
@unit5:0em;
@unit6:6px;
@color1:#e6e6e6;
@color2:#ffffff;
@color3:#d0d0d0;
@color4:#e4e4e4;
@color5:#c4c4c4;
@color6:#eeeeee;
@color7:#f5f5f5;
@color8:#dddddd;
@color9:#333333;
.fy-mixin-1 {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.fy-mixin-2 {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-3 {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
  background-image: linear-gradient();
}
.fy-mixin-4 {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-5 {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5;
}
.RadRibbonBar_Breg {
  color: @color9;
  .rrbWrap {
    border-color: @color8;
    background-color: @color7;
  }
  .rrbTabs {
    border-bottom-color: @color5;
    .rrbItem {
      margin-right: 7px;
    }
    .rrbItem .rrbLink {
      padding: 10px 15px;
      border-radius: @unit1 @unit1 @unit5 @unit5;
      border-color: transparent;
      color: @color9;
    }
    .rrbItem.rrbHovered .rrbLink {
      color: @color9;
      border-color: @color5;
      background-color: @color4;
    }
    .rrbItem.rrbSelected .rrbLink {
      color: @color9;
      border-color: @color5;
      background-color: @color4;
    }
    .rrbApplicationItem {
      margin-right: 7px;
    }
  }
  .rrbContextualItem {
    padding-top: 2.85714em;
    .rrbLabel {
      color: @color2;
    }
  }
  .rrbQat {
    border-color: #afafaf;
    color: @color9;
    background-color: @color1;
    + .rrbTabs .rrbContextualItem {
      margin-top: -2.85714em;
    }
    .rrbButton {
      border-color: transparent;
      background: transparent;
    }
    .rrbButton:hover {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    .rrbButton:active {
      .fy-mixin-1;
    }
  }
  .rrbButton {
    padding: @unit6;
    border-radius: @unit1;
    border-color: transparent;
    color: @color9;
    background-color: @color2;
    background: transparent;
    .rrbArrow {
      border-color: transparent;
      background: transparent;
    }
    &:hover {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    &.rrbHovered {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    &.rrbClicked {
      .fy-mixin-1;
    }
    &.rrbPressed {
      .fy-mixin-1;
    }
    &.rrbExpanded {
      .fy-mixin-1;
    }
    &.rrbToggled {
      .fy-mixin-1;
    }
  }
  .rrbAbox {
    > .rrbButtonGroup .rrbButton {
      border-radius: 0;
    }
    > .rrbButtonGroup .rrbButton + .rrbButton {
      margin-left: -1px;
    }
    > .rrbButtonGroup .rrbButton:first-child {
      border-radius: @unit1 @unit5 @unit5 @unit1;
    }
    > .rrbButtonGroup .rrbButton:last-child {
      border-radius: @unit5 @unit1 @unit1 @unit5;
    }
  }
  .rrbApplicationItem {
    margin-bottom: 7px;
    .rrbLink {
      width: 1.42857em;
      padding: @unit6;
      border-radius: @unit1;
      color: transparent;
      border-color: @color6;
      background-color: @color2;
    }
    .rrbLink:before {
      content: "\E002";
      font: 1.14286em TelerikWebUI;
      color: @color9;
      vertical-align: middle;
    }
    &.rrbSelected .rrbHeaderBar {
      border-color: @color8;
      background: @color7;
    }
    &.rrbSelected .rrbLink {
      border-color: @color5;
      background-color: @color4;
    }
    &.rrbSelected .rrbLink:before {
      color: @color9;
    }
  }
  .rrbMenu {
    .rrbHeader {
      color: @color9;
      background-color: @color7;
    }
  }
  .rrbToolTip {
    color: @color9;
    border-color: @color8;
    background-color: #fcfcfc;
  }
  .rrbCommandGroup {
    border-radius: @unit1;
    padding: @unit2 @unit2 2.14286em;
    border-color: @color6;
    background-color: @color2;
    &:before {
      height: 4.64286em;
      padding: 19px 0;
    }
    ~ .rrbCommandGroup {
      margin-left: @unit2;
    }
  }
  .rrbCommandArea {
    padding: @unit2;
    background-color: @color7;
  }
  .rrbResizeHandle {
    background-position: -20px -2220px;
  }
  .rrbTitle {
    color: @color9;
    background-color: @color7;
  }
  .rrbCollapsedGroup {
    border-color: @color8;
    .rrbIcon {
      border-color: @color6;
    }
  }
  .rrbSplitButton {
    &.rrbHovered .rrbArrow {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
    }
    .rrbArrow {
      border-radius: 0;
    }
    .rrbArrow:hover {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    &.rrbExpanded .rrbArrow {
      .fy-mixin-1;
    }
    &.rrbClicked .rrbArrow {
      .fy-mixin-1;
    }
  }
  .rrbButtonGroup {
    .rrbButton {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
    }
    .rrbButton:hover {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    .rrbButton:active {
      .fy-mixin-1;
    }
    .rrbButton.rrbClicked {
      .fy-mixin-1;
    }
    .rrbButton.rrbPressed {
      .fy-mixin-1;
    }
  }
  .rrbComboBox {
    .rrbButton {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
      padding: @unit6;
    }
    .rrbButton.rrbHovered {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    .rrbButton.rrbClicked {
      .fy-mixin-1;
    }
    .rrbCBInner {
      padding: @unit6 @unit4 @unit6 @unit6;
      border-radius: @unit1;
      border-color: @color8;
      background-color: @color2;
    }
    .rrbCBInner .rrbButton {
      border-radius: 0;
    }
    .rrbCBInput {
      color: #555555;
    }
  }
  .rrbDropDown {
    .rrbButton {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
      padding: @unit6;
      background: none;
    }
    .rrbButton.rrbHovered {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
      background: none;
    }
    .rrbButton.rrbClicked {
      .fy-mixin-1;
    }
    .rrbDDInner {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
      padding: @unit6 @unit4 @unit6 @unit6;
    }
    .rrbDDInner .rrbButton {
      border-radius: 0;
    }
    .rrbDDInner:hover {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    .rrbDDInner:active {
      .fy-mixin-1;
    }
  }
  .rrbNumericTextBox {
    width: 4.28571em;
    .rrbButton {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
      padding: @unit6;
    }
    .rrbButton.rrbHovered {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    .rrbButton.rrbClicked {
      .fy-mixin-1;
    }
    .rrbNTBInner {
      padding: @unit6 @unit4 @unit6 @unit6;
      border-radius: @unit1;
      border-color: @color8;
      background-color: @color2;
    }
    .rrbNTBInner .rrbButton {
      border-radius: 0;
    }
    .rrbNTBInput {
      color: #555555;
    }
  }
  .rrbColorPicker {
    .rrbButton {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
      padding: @unit6;
      background: none;
    }
    .rrbButton.rrbHovered {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
      background: none;
    }
    .rrbButton.rrbClicked {
      .fy-mixin-1;
    }
    .rrbCPInner {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
      padding: @unit6 @unit4 @unit6 @unit6;
    }
    .rrbCPInner .rrbButton {
      border-radius: 0;
    }
    .rrbCPInner:hover {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    .rrbCPInner:active {
      .fy-mixin-1;
    }
  }
  .rrbGalleryActions {
    .rrbButton {
      border-color: @color6;
      color: @color9;
      background-color: @color2;
      width: 32px;
      border-radius: 0;
    }
    .rrbButton.rrbHovered {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    .rrbButton.rrbClicked {
      .fy-mixin-1;
    }
  }
  .rrbGallery {
    height: 6em;
    padding-right: 32px;
    border-radius: @unit1;
    border-color: @color8;
    background-color: @color2;
    .rrbItem.rrbHovered {
      border-color: @color3;
      color: @color9;
      background-color: @color1;
    }
    .rrbItem.rrbSelected {
      .fy-mixin-1;
    }
    .rrbItem .rrbLink {
      color: @color9;
      background-color: @color2;
    }
  }
  .rrbSmallButton {
    &.rrbMenuButton {
      padding-right: @unit3;
    }
    &.rrbMenuButton .rrbImagePlaceholder {
      left: @unit6;
    }
    &.rrbMenuButton .rrbArrow {
      width: @unit3;
    }
    &.rrbSplitButton {
      padding-right: @unit3;
    }
    &.rrbSplitButton .rrbImagePlaceholder {
      left: @unit6;
    }
    &.rrbSplitButton .rrbArrow {
      width: @unit3;
    }
  }
  .rrbMediumButton {
    padding-left: 24px;
    &.rrbMenuButton {
      padding-right: 24px;
    }
    &.rrbSplitButton {
      padding-right: 24px;
    }
    .rrbImagePlaceholder {
      left: 4px;
    }
  }
  .rrbLargeButton {
    padding: 18px 0;
    height: 4.57143em;
    .rrbImagePlaceholder {
      top: 0.7em;
    }
  }
  .rrbCategoryTitle {
    color: @color9;
    background-color: @color7;
  }
}
.rrbSlide_Breg .rrbItem.rrbHovered {
  border-color: @color3;
  color: @color9;
  background-color: @color1;
}
.rrbSlide_Breg .rrbItem.rrbSelected {
  .fy-mixin-1;
}
.rrbPopup_Breg {
  .fy-mixin-2;
  .rrbPopup {
    .fy-mixin-2;
  }
  .rrbItem {
    &.rrbHovered > .rrbInner {
      .fy-mixin-3;
    }
    &.rrbHovered > .rrbInner .rrbToggle {
      .fy-mixin-3;
    }
    &.rrbExpanded > .rrbInner {
      .fy-mixin-3;
    }
    &.rrbExpanded > .rrbInner .rrbToggle {
      border-color: #cc2900;
      color: @color2;
      background-color: #ff3300;
      background-image: linear-gradient();
    }
  }
  .rrbHeaderBar {
    .fy-mixin-4;
  }
  .rrbAuxiliaryPane {
    .fy-mixin-5;
  }
  .rrbHeader {
    .fy-mixin-5;
  }
  .rrbFooter {
    .fy-mixin-5;
  }
}
.RadRibbonBar_Breg .rrbMenu,
.rrbDropDownSlide_Breg .rrbPopup,
.rrbSlide_Breg .rrbPopup {
  .fy-mixin-5;
}
.RadRibbonBar_Breg .rrbMenu .rrbItem.rrbHovered {
  .fy-mixin-5;
}
.rrbDropDownSlide_Breg {
  .rrbListItem {
    &:hover {
      color: #000000;
      background-color: #fcfcfc;
    }
  }
}
.rrbSlide_Breg {
  .rrbCategoryTitle {
    color: @color9;
    background-color: @color7;
  }
  .rrbGallery {
    background: @color2;
  }
  .rrbLink {
    color: @color9;
    background-color: @color2;
  }
}