@unit1:0.28571em;
@unit2:0em;
@color1:#333333;
.RadRotator_Breg {
  font-size: 1em;
  .rrClipRegion {
    border: 1px solid #dddddd;
    border-radius: @unit1;
  }
  a {
    &.rrButton {
      width: 2.42857em;
      height: 2.42857em;
      border-color: #eeeeee;
      color: @color1;
      background-color: #ffffff;
      background-image: linear-gradient();
    }
    &.rrButton:focus {
      outline-width: thin;
      outline-offset: -2px;
      outline-color: #d0d0d0;
    }
    &.rrButton:active {
      border-color: #afafaf;
      color: @color1;
      background-color: #e6e6e6;
      background-image: linear-gradient();
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    }
    &.rrButton:before {
      font-size: .7em\9;
      line-height: 1;
      font-family: TelerikWebUI, monospace;
    }
    &.rrButton:hover:before {
      color: @color1;
    }
    &.rrButtonUp {
      top: 0.07143em;
      border-radius: @unit1 @unit1 @unit2 @unit2;
    }
    &.rrButtonUp:before {
      content: "\E001";
    }
    &.rrButtonRight {
      border-radius: @unit2 @unit1 @unit1 @unit2;
    }
    &.rrButtonRight:before {
      content: "\E000";
    }
    &.rrButtonDown {
      border-radius: @unit2 @unit2 @unit1 @unit1;
    }
    &.rrButtonDown:before {
      content: "\E002";
    }
    &.rrButtonLeft {
      left: 1px;
      border-radius: @unit1 @unit2 @unit2 @unit1;
    }
    &.rrButtonLeft:before {
      content: "\E003";
    }
  }
  .rrLoadingSign {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Silk.Common.loading_small.gif")%>');
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .RadRotator_Breg {
    a.rrButtonUp {
      top: 0;
    }
    a.rrButtonRight {
      right: 0;
    }
    a.rrButtonDown {
      bottom: 0;
    }
    a.rrButtonLeft {
      left: 0;
    }
  }
}
.RadRotator_Breg a.rrButton:hover,
.RadRotator_Breg a.rrButton:focus {
  border-color: #d0d0d0;
  color: @color1;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: inset 0 0 1px #ffffff;
}
.RadRotator_Breg _:-ms-fullscreen,
.RadRotator_Breg a.rrButton:before {
  font-size: .5em;
}
.RadRotator {
  a {
    &.rrButton:before {
      color: inherit;
    }
  }
}