﻿.RadRotator_Breg {
  font-size: 1em;
}
.RadRotator_Breg .rrClipRegion {
  border: 1px solid #dddddd;
  border-radius: 0.28571em;
}
.RadRotator_Breg a.rrButton {
  width: 2.42857em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadRotator_Breg a.rrButton:focus {
  outline-width: thin;
  outline-offset: -2px;
  outline-color: #d0d0d0;
}
.RadRotator_Breg a.rrButton:active {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.RadRotator_Breg a.rrButton:before {
  font-size: .7em\9;
  line-height: 1;
  font-family: TelerikWebUI, monospace;
}
.RadRotator_Breg a.rrButton:hover:before {
  color: #333333;
}
.RadRotator_Breg a.rrButtonUp {
  top: 0.07143em;
  border-radius: 0.28571em 0.28571em 0em 0em;
}
.RadRotator_Breg a.rrButtonUp:before {
  content: "\E001";
}
.RadRotator_Breg a.rrButtonRight {
  border-radius: 0em 0.28571em 0.28571em 0em;
}
.RadRotator_Breg a.rrButtonRight:before {
  content: "\E000";
}
.RadRotator_Breg a.rrButtonDown {
  border-radius: 0em 0em 0.28571em 0.28571em;
}
.RadRotator_Breg a.rrButtonDown:before {
  content: "\E002";
}
.RadRotator_Breg a.rrButtonLeft {
  left: 1px;
  border-radius: 0.28571em 0em 0em 0.28571em;
}
.RadRotator_Breg a.rrButtonLeft:before {
  content: "\E003";
}
.RadRotator_Breg .rrLoadingSign {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Silk.Common.loading_small.gif")%>');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadRotator_Breg a.rrButtonUp {
    top: 0;
  }
  .RadRotator_Breg a.rrButtonRight {
    right: 0;
  }
  .RadRotator_Breg a.rrButtonDown {
    bottom: 0;
  }
  .RadRotator_Breg a.rrButtonLeft {
    left: 0;
  }
}
.RadRotator_Breg a.rrButton:hover,
.RadRotator_Breg a.rrButton:focus {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: inset 0 0 1px #ffffff;
}
.RadRotator_Breg _:-ms-fullscreen,
.RadRotator_Breg a.rrButton:before {
  font-size: .5em;
}
.RadRotator a.rrButton:before {
  color: inherit;
}