@unit1:3px;
@color1:#eeeeee;
@color2:#ff3300;
@color3:#f5f5f5;
@color4:#dddddd;
@color5:#ffffff;
@color6:#333333;
@color7:#d2d2d2;
.fy-mixin-1 {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-2 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.fy-mixin-3 {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.fy-mixin-4 {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg {
  .fy-mixin-1;
  .rsToolbar {
    .rsButton {
      border-radius: 0;
    }
    > li:first-child .rsButton {
      border-radius: @unit1 0 0 @unit1;
    }
    > li:last-child .rsButton {
      border-radius: 0 @unit1 @unit1 0;
    }
  }
  .rsButton {
    border-radius: @unit1;
    border-color: @color1;
    color: @color6;
    background-color: @color5;
    &.rsHovered {
      .fy-mixin-2;
    }
    &.rsPressed {
      .fy-mixin-3;
    }
  }
  .rsHovered {
    > .rsButton {
      .fy-mixin-3;
    }
  }
  .rsSelected {
    > .rsButton {
      .fy-mixin-3;
    }
  }
  .rsPressed {
    > .rsButton {
      .fy-mixin-3;
    }
  }
  .rsHeader {
    .fy-mixin-4;
  }
  .rsFooter {
    .fy-mixin-4;
  }
  .rsHorizontalHeaderWrapper {
    .fy-mixin-4;
  }
  .rsSpacerCell {
    border-color: @color4;
  }
  .rsAllDayHeader {
    border-color: @color4;
  }
  .rsHorizontalHeaderTable {
    th {
      border-color: @color4;
    }
  }
  .rsVerticalHeaderTable {
    th {
      border-color: transparent @color4;
    }
    .rsAlt th {
      border-color: @color4 @color4;
    }
    .rsMainHeader th:first-child {
      border-bottom-color: @color4;
    }
  }
  .rsAllDayRow {
    td {
      border-color: @color4;
    }
  }
  .rsContentTable {
    .rsAllDayRow td {
      border-color: @color4;
    }
    td {
      border-color: @color1 @color1;
    }
    .rsAlt td {
      border-color: @color4 @color1;
    }
  }
  .rsOtherMonth {
    background: @color3;
  }
  .rsNonWorkHour {
    background: @color3;
  }
  .rsSunCol {
    background: @color3;
  }
  .rsSatCol {
    background: @color3;
  }
  .rsApt {
    color: @color5;
  }
  .rsAptContent {
    border-radius: 4px;
    color: @color5;
    background-color: @color2;
  }
  .rsAptResize {
    &:before {
      background-color: rgba(238, 238, 238, 0.75);
    }
  }
  .rsOvertimeArrow {
    border-color: @color1;
    color: @color6;
    background-color: @color5;
    &:hover {
      .fy-mixin-4;
    }
  }
  .rsAgendaView {
    .rsDateBox small {
      opacity: .75;
    }
  }
  .rsAgendaTable {
    th {
      border-bottom-color: @color7;
      border-right-color: @color7;
      color: @color6;
      background-color: @color3;
    }
    td {
      border-bottom-color: @color7;
      border-right-color: @color7;
    }
    .rsAgendaRowHovered {
      border-color: #e2e2e2;
      color: #000000;
      background-color: #efefef;
      background-image: linear-gradient();
    }
    .rsAgendaRowSelected {
      border-color: #cc2900;
      color: @color5;
      background-color: @color2;
      background-image: linear-gradient();
    }
  }
  .rsSelectedSlot {
    color: @color5;
    background-color: @color2;
  }
  .rsAptCreate {
    border-color: #e2e2e2;
    color: #000000;
    background-color: #efefef;
    background-image: linear-gradient();
  }
  .rsPopup {
    .fy-mixin-4;
  }
  .rsAdvancedModal {
    .fy-mixin-4;
  }
  .rsTitle {
    .fy-mixin-4;
  }
  .rsInlineForm {
    .fy-mixin-4;
    .rsTextarea {
      border-color: @color4;
      color: #555555;
      background-color: @color5;
    }
  }
  .RadPicker {
    width: 130px;
    .riTextBox {
      height: inherit;
    }
  }
  .rsBody {
    .rsCommandFooter {
      background: @color3;
    }
  }
  .rsAdvancedEdit {
    .rsInvalid {
      color: #d51923;
    }
    .rsInvalid textarea {
      border-color: #d51923;
    }
  }
}