﻿.fy-mixin-1 {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
}
.fy-mixin-2 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.fy-mixin-3 {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.fy-mixin-4 {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
}
.RadScheduler_Breg .rsToolbar .rsButton {
  border-radius: 0;
}
.RadScheduler_Breg .rsToolbar > li:first-child .rsButton {
  border-radius: 3px 0 0 3px;
}
.RadScheduler_Breg .rsToolbar > li:last-child .rsButton {
  border-radius: 0 3px 3px 0;
}
.RadScheduler_Breg .rsButton {
  border-radius: 3px;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
}
.RadScheduler_Breg .rsButton.rsHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadScheduler_Breg .rsButton.rsPressed {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadScheduler_Breg .rsHovered > .rsButton {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadScheduler_Breg .rsSelected > .rsButton {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadScheduler_Breg .rsPressed > .rsButton {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
}
.RadScheduler_Breg .rsHeader {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsFooter {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsHorizontalHeaderWrapper {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsSpacerCell {
  border-color: #dddddd;
}
.RadScheduler_Breg .rsAllDayHeader {
  border-color: #dddddd;
}
.RadScheduler_Breg .rsHorizontalHeaderTable th {
  border-color: #dddddd;
}
.RadScheduler_Breg .rsVerticalHeaderTable th {
  border-color: transparent #dddddd;
}
.RadScheduler_Breg .rsVerticalHeaderTable .rsAlt th {
  border-color: #dddddd #dddddd;
}
.RadScheduler_Breg .rsVerticalHeaderTable .rsMainHeader th:first-child {
  border-bottom-color: #dddddd;
}
.RadScheduler_Breg .rsAllDayRow td {
  border-color: #dddddd;
}
.RadScheduler_Breg .rsContentTable .rsAllDayRow td {
  border-color: #dddddd;
}
.RadScheduler_Breg .rsContentTable td {
  border-color: #eeeeee #eeeeee;
}
.RadScheduler_Breg .rsContentTable .rsAlt td {
  border-color: #dddddd #eeeeee;
}
.RadScheduler_Breg .rsOtherMonth {
  background: #f5f5f5;
}
.RadScheduler_Breg .rsNonWorkHour {
  background: #f5f5f5;
}
.RadScheduler_Breg .rsSunCol {
  background: #f5f5f5;
}
.RadScheduler_Breg .rsSatCol {
  background: #f5f5f5;
}
.RadScheduler_Breg .rsApt {
  color: #ffffff;
}
.RadScheduler_Breg .rsAptContent {
  border-radius: 4px;
  color: #ffffff;
  background-color: #ff3300;
}
.RadScheduler_Breg .rsAptResize:before {
  background-color: rgba(238, 238, 238, 0.75);
}
.RadScheduler_Breg .rsOvertimeArrow {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
}
.RadScheduler_Breg .rsOvertimeArrow:hover {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsAgendaView .rsDateBox small {
  opacity: .75;
}
.RadScheduler_Breg .rsAgendaTable th {
  border-bottom-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsAgendaTable td {
  border-bottom-color: #d2d2d2;
  border-right-color: #d2d2d2;
}
.RadScheduler_Breg .rsAgendaTable .rsAgendaRowHovered {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
  background-image: linear-gradient();
}
.RadScheduler_Breg .rsAgendaTable .rsAgendaRowSelected {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
  background-image: linear-gradient();
}
.RadScheduler_Breg .rsSelectedSlot {
  color: #ffffff;
  background-color: #ff3300;
}
.RadScheduler_Breg .rsAptCreate {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
  background-image: linear-gradient();
}
.RadScheduler_Breg .rsPopup {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsAdvancedModal {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsTitle {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsInlineForm {
  border-color: #dddddd;
  color: #333333;
  background-color: #f5f5f5;
}
.RadScheduler_Breg .rsInlineForm .rsTextarea {
  border-color: #dddddd;
  color: #555555;
  background-color: #ffffff;
}
.RadScheduler_Breg .RadPicker {
  width: 130px;
}
.RadScheduler_Breg .RadPicker .riTextBox {
  height: inherit;
}
.RadScheduler_Breg .rsBody .rsCommandFooter {
  background: #f5f5f5;
}
.RadScheduler_Breg .rsAdvancedEdit .rsInvalid {
  color: #d51923;
}
.RadScheduler_Breg .rsAdvancedEdit .rsInvalid textarea {
  border-color: #d51923;
}