@unit1:20px;
@unit2:1px;
@unit3:4px;
@color1:#e6e6e6;
@color2:#333333;
@color3:#dddddd;
@color4:#ffffff;
.RadSearchBox_Breg {
  color: @color2;
  line-height: 1.42857;
  .rsbInner {
    padding: 0;
    border-radius: @unit3;
    border-color: @color3;
    color: #555555;
    background-color: @color4;
    box-shadow: 0 @unit2 @unit2 rgba(0, 0, 0, 0.075) inset;
  }
  .rsbInput {
    margin: 0;
    padding: 5px 12px;
    height: @unit1;
    line-height: @unit1;
    font-family: inherit;
  }
  .rsbEmptyMessage {
    color: #888888;
  }
  .rsbButton {
    padding: 6px 12px;
    width: 32px;
    height: 32px;
    border-color: #eeeeee;
    color: @color2;
    background-color: @color4;
    &:hover {
      border-color: #d0d0d0;
      color: @color2;
      background-color: @color1;
    }
    &:active {
      border-color: #afafaf;
      color: @color2;
      background-color: @color1;
    }
  }
  .rsbButtonSearch {
    margin: 0;
    border-width: 0 0 0 @unit2;
    border-radius: 0 @unit3 @unit3 0;
    .rsbIcon {
      width: @unit1;
      height: @unit1;
    }
  }
  .rsbButtonsLeft {
    .rsbButton {
      border-width: 0 @unit2 0 0;
    }
    .rsbButton:first-child {
      border-radius: @unit3 0 0 @unit3;
    }
  }
  .rsbButtonsRight {
    .rsbButton {
      border-width: 0 0 0 @unit2;
    }
  }
  .rsbSearchContext {
    margin: -1px 0 -1px -1px;
  }
  .rsbSCInner {
    padding: 6px 40px 6px 12px;
    height: auto;
    border-radius: @unit3 0 0 @unit3;
    line-height: inherit;
    border-color: #eeeeee;
    color: @color2;
    background-color: @color4;
  }
  .rsbSCIcon {
    right: 5px;
  }
  .rsbSCHovered {
    border-color: #d0d0d0;
    color: @color2;
    background-color: @color1;
  }
  .rsbSCFocused {
    border-color: #afafaf;
    color: @color2;
    background-color: @color1;
  }
  .rsbLoadingIcon {
    background-image: url("images/Common/loading_small.gif");
  }
}
.rsbPopup_Breg {
  border-color: @color3;
  color: @color2;
  background-color: @color4;
  margin: 2px 0 0 0;
  padding: 5px 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857;
  .rsbShowAll {
    border-color: @color3;
    color: @color2;
    background-color: #f5f5f5;
  }
  .rsbListItem {
    padding: 3px @unit1;
  }
  .rsbListItemHovered {
    color: #000000;
    background-color: #fcfcfc;
  }
  .rsbListItemSelected {
    color: @color4;
    background-color: #ff3300;
  }
  .rsbListItemLoading {
    color: #000000;
    background-color: #fcfcfc;
  }
}
.RadSearchBox_Breg[dir="rtl"] {
  .rsbButtonSearch {
    border-width: 0 @unit2 0 0;
    border-radius: @unit3 0 0 @unit3;
  }
  .rsbButtonsLeft {
    .rsbButton {
      border-width: 0 @unit2 0 0;
    }
    .rsbButton:first-child {
      border-radius: @unit3 0 0 @unit3;
    }
  }
  .rsbButtonsRight {
    .rsbButton {
      border-width: 0 0 0 @unit2;
    }
  }
}