﻿.fy-mixin-1 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
}
.fy-mixin-2 {
  border-color: #ff471a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.fy-mixin-3 {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: none;
}
.RadSlider_Breg {
  font-size: 1em;
}
.RadSlider_Breg.rslDecreaseHandle .rslHorizontal {
  padding-left: 2.75em;
}
.RadSlider_Breg.rslDecreaseHandle .rslVertical {
  padding-top: 2.75em;
}
.RadSlider_Breg.rslIncreaseHandle .rslHorizontal {
  padding-right: 2.75em;
}
.RadSlider_Breg.rslIncreaseHandle .rslVertical {
  padding-bottom: 2.75em;
}
.RadSlider_Breg .rslTrack {
  border-radius: 0;
  border-color: #eeeeee;
  background-color: #f5f5f5;
}
.RadSlider_Breg .rslSelectedregion {
  border-width: 1px;
  border-color: #e62e00;
  background-color: #ff3300;
}
.RadSlider_Breg a.rslHandle {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
  width: 2.42857em;
  height: 2.42857em;
  line-height: 1.5em;
  border-radius: 90px;
}
.RadSlider_Breg a.rslHandle:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
}
.RadSlider_Breg a.rslHandle:focus {
  border-color: #ff471a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.RadSlider_Breg a.rslHandle:active {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: none;
}
.RadSlider_Breg a.rslHandle:before {
  font-size: .5em;
  line-height: 1;
  color: #333333;
}
.RadSlider_Breg a.rslDraghandle {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadSlider_Breg a.rslDraghandle span {
  width: 1.71429em;
  height: 1.71429em;
}
.RadSlider_Breg a.rslDraghandle:hover {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: none;
}
.RadSlider_Breg a.rslDraghandle:focus {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: none;
}
.RadSlider_Breg a.rslDraghandle:active {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: none;
}
.RadSlider_Breg _:-ms-fullscreen {
  font-size: .5em;
}
.RadSlider_Breg div.rslHorizontal a.rslDecrease:before {
  content: "\E003";
}
.RadSlider_Breg div.rslHorizontal a.rslIncrease {
  right: 0.15em;
}
.RadSlider_Breg div.rslHorizontal a.rslIncrease:before {
  content: "\E000 ";
}
.RadSlider_Breg div.rslHorizontal a.rslHandle {
  margin-top: -1.21429em;
}
.RadSlider_Breg div.rslHorizontal a.rslDraghandle {
  width: 1.71429em;
  height: 1.71429em;
  top: 0.35714em !important;
  margin-top: -0.92857em;
  border-radius: 90px;
}
.RadSlider_Breg div.rslHorizontal.rslMiddle a.rslHandle {
  margin-top: -1.21429em;
  top: 50%;
}
.RadSlider_Breg div.rslHorizontal.rslBottom a.rslHandle {
  bottom: .15em;
}
.RadSlider_Breg div.rslHorizontal.rslBottom div.rslTrack {
  bottom: 1em;
}
.RadSlider_Breg div.rslHorizontal.rslBottom .rslLargeTick span {
  top: -0.35em;
}
.RadSlider_Breg div.rslHorizontal.rslBottom .rslSmallTick span {
  top: -0.35em;
}
.RadSlider_Breg div.rslHorizontal .rslTrack {
  height: 0.57143em;
  line-height: 0.57143em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.RadSlider_Breg div.rslHorizontal .rslSelectedregion {
  height: 0.64286em;
  line-height: 0.57143em;
  top: -0.07143em;
}
.RadSlider_Breg div.rslHorizontal li.rslItem span {
  display: inline-block;
}
.RadSlider_Breg div.rslHorizontal.rslTop .rslTrack {
  top: 1.21em;
}
.RadSlider_Breg div.rslHorizontal.rslTop a.rslHandle {
  top: 1.21em;
}
.RadSlider_Breg div.rslHorizontal.rslTop .rslItemsWrapper {
  top: 1.5em;
}
.RadSlider_Breg div.rslHorizontal.rslTop .rslLargeTick span {
  bottom: .1em;
}
.RadSlider_Breg div.rslHorizontal.rslTop .rslSmallTick span {
  bottom: .1em;
}
.RadSlider_Breg div.rslHorizontal .rslItem {
  background-image: url("images/Slider/ItemHorizontalBgr.png");
}
.RadSlider_Breg div.rslVertical a.rslDecrease:before {
  content: "\E001";
}
.RadSlider_Breg div.rslVertical a.rslIncrease:before {
  content: "\E002 ";
}
.RadSlider_Breg div.rslVertical a.rslHandle {
  margin-left: -1.21429em;
}
.RadSlider_Breg div.rslVertical a.rslDraghandle {
  width: 1.71429em;
  height: 1.71429em;
  left: 0.07143em !important;
  border-radius: 90px;
}
.RadSlider_Breg div.rslVertical .rslTrack {
  top: 2.75em;
}
.RadSlider_Breg div.rslVertical .rslItemsWrapper {
  top: 2.75em;
}
.RadSlider_Breg div.rslVertical.rslRight a.rslHandle {
  right: 0.21429em;
}
.RadSlider_Breg div.rslVertical div.rslTrack {
  width: 0.71429em !important;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1) inset;
}
.RadSlider_Breg div.rslVertical .rslSelectedregion {
  width: 0.71429em;
  left: -0.07143em;
}
.RadSlider_Breg div.rslVertical li.rslItem span {
  padding: 0.07143em 0.21429em;
}
.RadSlider_Breg div.rslVertical .rslItem {
  background-image: url("images/Slider/ItemVerticalBgr.png");
}
.RadSlider_Breg .rslItemsWrapper .rslItem {
  color: #333333;
}
.RadSlider_Breg .rslItemsWrapper .rslLargeTick span {
  color: #333333;
}
.RadSlider_Breg .rslItemsWrapper .rslItemSelected {
  color: #333333;
}
.RadSlider_Breg .rslTop .rslSmallTick {
  background-image: url("images/Slider/SmallChangeHorizontal.png");
}
.RadSlider_Breg .rslTop .rslLargeTick {
  background-image: url("images/Slider/LargeChangeHorizontal.png");
}
.RadSlider_Breg .rslBottom .rslSmallTick {
  background-image: url("images/Slider/SmallChangeHorizontal.png");
}
.RadSlider_Breg .rslBottom .rslLargeTick {
  background-image: url("images/Slider/LargeChangeHorizontal.png");
}
.RadSlider_Breg .rslLeft .rslSmallTick {
  background-image: url("images/Slider/SmallChangeVertical.png");
}
.RadSlider_Breg .rslLeft .rslLargeTick {
  background-image: url("images/Slider/LargelChangeVertical.png");
}
.RadSlider_Breg .rslRight .rslSmallTick {
  background-image: url("images/Slider/SmallChangeVertical.png");
}
.RadSlider_Breg .rslRight .rslLargeTick {
  background-image: url("images/Slider/LargelChangeVertical.png");
}
.RadSlider_Breg .rslMiddle .rslSmallTick {
  background-image: url("images/Slider/SmallChangeMiddleHorizontal.png");
}
.RadSlider_Breg .rslLargeTick {
  background-image: url("images/Slider/LargeChangeMiddleHorizontal.png");
}
.RadSlider_Breg .rslCenter .rslSmallTick {
  background-image: url("images/Slider/SmallChangeCenterVertical.png");
}
.RadSlider_Breg .rslCenter .rslLargeTick {
  background-image: url("images/Slider/LargelChangeCenterVertical.png");
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .RadSlider_Breg .rslHorizontal.rslTop .rslLargeTick span {
    bottom: -0.57143em;
  }
  .RadSlider_Breg .rslHorizontal.rslTop .rslSmallTick span {
    bottom: -0.57143em;
  }
}
.RadSlider_Breg .rslHorizontal.rslTop .rslLargeTick span,
.RadSlider_Breg .rslHorizontal.rslTop .rslSmallTick span {
  /*bottom: -0.57143em \9;*/
}
div.RadSlider a.rslHandle:before {
  color: inherit;
}