@unit1:1.71429em;
@unit2:2.75em;
@color1:#333333;
@color2:#eeeeee;
.fy-mixin-1 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
}
.fy-mixin-2 {
  border-color: #ff471a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.fy-mixin-3 {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  box-shadow: none;
}
.RadSlider_Breg {
  font-size: 1em;
  &.rslDecreaseHandle {
    .rslHorizontal {
      padding-left: @unit2;
    }
    .rslVertical {
      padding-top: @unit2;
    }
  }
  &.rslIncreaseHandle {
    .rslHorizontal {
      padding-right: @unit2;
    }
    .rslVertical {
      padding-bottom: @unit2;
    }
  }
  .rslTrack {
    border-radius: 0;
    border-color: @color2;
    background-color: #f5f5f5;
  }
  .rslSelectedregion {
    border-width: 1px;
    border-color: #e62e00;
    background-color: #ff3300;
  }
  a {
    &.rslHandle {
      border-color: @color2;
      color: @color1;
      background-color: #ffffff;
      background-image: linear-gradient();
      width: 2.42857em;
      height: 2.42857em;
      line-height: 1.5em;
      border-radius: 90px;
    }
    &.rslHandle:hover {
      .fy-mixin-1;
    }
    &.rslHandle:focus {
      .fy-mixin-2;
    }
    &.rslHandle:active {
      .fy-mixin-3;
    }
    &.rslHandle:before {
      font-size: .5em;
      line-height: 1;
      color: @color1;
    }
    &.rslDraghandle {
      border-color: @color2;
      color: @color1;
      background-color: #ffffff;
      background-image: linear-gradient();
    }
    &.rslDraghandle span {
      width: @unit1;
      height: @unit1;
    }
    &.rslDraghandle:hover {
      .fy-mixin-3;
    }
    &.rslDraghandle:focus {
      .fy-mixin-3;
    }
    &.rslDraghandle:active {
      .fy-mixin-3;
    }
  }
  _ {
    &:-ms-fullscreen {
      font-size: .5em;
    }
  }
  div {
    &.rslHorizontal a.rslDecrease:before {
      content: "\E003";
    }
    &.rslHorizontal a.rslIncrease {
      right: 0.15em;
    }
    &.rslHorizontal a.rslIncrease:before {
      content: "\E000 ";
    }
    &.rslHorizontal a.rslHandle {
      margin-top: -1.21429em;
    }
    &.rslHorizontal a.rslDraghandle {
      width: @unit1;
      height: @unit1;
      top: 0.35714em !important;
      margin-top: -0.92857em;
      border-radius: 90px;
    }
    &.rslHorizontal.rslMiddle a.rslHandle {
      margin-top: -1.21429em;
      top: 50%;
    }
    &.rslHorizontal.rslBottom a.rslHandle {
      bottom: .15em;
    }
    &.rslHorizontal.rslBottom div.rslTrack {
      bottom: 1em;
    }
    &.rslHorizontal.rslBottom .rslLargeTick span {
      top: -.35em;
    }
    &.rslHorizontal.rslBottom .rslSmallTick span {
      top: -.35em;
    }
    &.rslHorizontal .rslTrack {
      height: 0.57143em;
      line-height: 0.57143em;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    }
    &.rslHorizontal .rslSelectedregion {
      height: 0.64286em;
      line-height: 0.57143em;
      top: -0.07143em;
    }
    &.rslHorizontal li.rslItem span {
      display: inline-block;
    }
    &.rslHorizontal.rslTop .rslTrack {
      top: 1.21em;
    }
    &.rslHorizontal.rslTop a.rslHandle {
      top: 1.21em;
    }
    &.rslHorizontal.rslTop .rslItemsWrapper {
      top: 1.5em;
    }
    &.rslHorizontal.rslTop .rslLargeTick span {
      bottom: .1em;
    }
    &.rslHorizontal.rslTop .rslSmallTick span {
      bottom: .1em;
    }
    &.rslHorizontal .rslItem {
      background-image: url("images/Slider/ItemHorizontalBgr.png");
    }
    &.rslVertical a.rslDecrease:before {
      content: "\E001";
    }
    &.rslVertical a.rslIncrease:before {
      content: "\E002 ";
    }
    &.rslVertical a.rslHandle {
      margin-left: -1.21429em;
    }
    &.rslVertical a.rslDraghandle {
      width: @unit1;
      height: @unit1;
      left: 0.07143em !important;
      border-radius: 90px;
    }
    &.rslVertical .rslTrack {
      top: @unit2;
    }
    &.rslVertical .rslItemsWrapper {
      top: @unit2;
    }
    &.rslVertical.rslRight a.rslHandle {
      right: 0.21429em;
    }
    &.rslVertical div.rslTrack {
      width: 0.71429em !important;
      box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1) inset;
    }
    &.rslVertical .rslSelectedregion {
      width: 0.71429em;
      left: -0.07143em;
    }
    &.rslVertical li.rslItem span {
      padding: 0.07143em 0.21429em;
    }
    &.rslVertical .rslItem {
      background-image: url("images/Slider/ItemVerticalBgr.png");
    }
  }
  .rslItemsWrapper {
    .rslItem {
      color: @color1;
    }
    .rslLargeTick span {
      color: @color1;
    }
    .rslItemSelected {
      color: @color1;
    }
  }
  .rslTop {
    .rslSmallTick {
      background-image: url("images/Slider/SmallChangeHorizontal.png");
    }
    .rslLargeTick {
      background-image: url("images/Slider/LargeChangeHorizontal.png");
    }
  }
  .rslBottom {
    .rslSmallTick {
      background-image: url("images/Slider/SmallChangeHorizontal.png");
    }
    .rslLargeTick {
      background-image: url("images/Slider/LargeChangeHorizontal.png");
    }
  }
  .rslLeft {
    .rslSmallTick {
      background-image: url("images/Slider/SmallChangeVertical.png");
    }
    .rslLargeTick {
      background-image: url("images/Slider/LargelChangeVertical.png");
    }
  }
  .rslRight {
    .rslSmallTick {
      background-image: url("images/Slider/SmallChangeVertical.png");
    }
    .rslLargeTick {
      background-image: url("images/Slider/LargelChangeVertical.png");
    }
  }
  .rslMiddle {
    .rslSmallTick {
      background-image: url("images/Slider/SmallChangeMiddleHorizontal.png");
    }
  }
  .rslLargeTick {
    background-image: url("images/Slider/LargeChangeMiddleHorizontal.png");
  }
  .rslCenter {
    .rslSmallTick {
      background-image: url("images/Slider/SmallChangeCenterVertical.png");
    }
    .rslLargeTick {
      background-image: url("images/Slider/LargelChangeCenterVertical.png");
    }
  }
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
  .RadSlider_Breg {
    .rslHorizontal.rslTop .rslLargeTick span {
      bottom: -0.57143em;
    }
    .rslHorizontal.rslTop .rslSmallTick span {
      bottom: -0.57143em;
    }
  }
}
.RadSlider_Breg .rslHorizontal.rslTop .rslLargeTick span,
.RadSlider_Breg .rslHorizontal.rslTop .rslSmallTick span {
  /*bottom: -0.57143em \9;*/
}
div {
  &.RadSlider {
    a.rslHandle:before {
      color: inherit;
    }
  }
}