@color1:#333333;
.RadSocialShare_Breg {
  background-color: #f5f5f5;
  color: @color1;
  border-color: #dddddd;
  padding: 0.42857em 0.85714em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  .sshLinkItem {
    color: @color1;
    &:hover {
      color: #ff3300;
    }
  }
}
.RadComboBoxDropDown_Breg {
  .rcbItem {
    .sshLinkItem {
      color: @color1;
    }
  }
  .rcbHovered {
    .sshLinkItem {
      color: #ff3300;
    }
  }
}