@unit1:26px;
@unit2:24px;
@unit3:1px;
@unit4:2px;
@unit5:6px;
@color1:#ff3300;
@color2:#cc2900;
@color3:#ffffff;
@color4:#eeeeee;
@color5:#333333;
@color6:#e6e6e6;
@color7:#dddddd;
.fy-mixin-1 {
  height: 32px;
  width: 32px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: #333333;
}
.fy-mixin-2 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: @color3;
  background-image: linear-gradient();
}
.RadSplitter_Breg {
  background-color: @color4;
  color: @color5;
  border-color: @color4;
  .rspLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.loading.gif")%>');
  }
  .rspPaneTabContainer {
    background-color: @color3;
    color: @color1;
    border-color: @color4;
    &:hover {
      background-color: @color6;
      color: @color2;
    }
  }
  .rspPane {
    background-color: @color3;
    color: @color5;
    border-color: @color4;
  }
  .rspResizeBar {
    color: @color5;
    border-color: @color4;
    background-image: linear-gradient(to left, );
    border-right-color: @color7;
  }
  .rspSlideContainerResize {
    background-color: @color3;
    color: @color5;
    border-color: @color4;
    background-image: linear-gradient(to left, );
    border-right-color: @color7;
  }
  .rspPaneHorizontal {
    background-color: @color4;
    color: @color5;
    border-color: @color4;
    .rspPaneTabContainer {
      height: 22px !important;
      overflow: hidden;
    }
  }
  .rspResizeBarHorizontal {
    background-color: @color4;
    color: @color5;
    border-color: @color4;
    background-image: linear-gradient();
    border-bottom-color: @color7;
    .rspCollapseBarSpacer {
      height: @unit5 !important;
    }
  }
  .rspSlideContainerResizeHorizontal {
    background-color: @color4;
    color: @color5;
    border-color: @color4;
    background-image: linear-gradient();
    border-bottom-color: @color7;
  }
  .rspSlideHeader {
    background-image: linear-gradient();
    table {
      height: 39px;
      background-color: #f5f5f5;
    }
    .rspSlideTitle {
      color: @color5;
      margin: 0 5px 0 15px;
    }
    .rspSlideHeaderIconWrapper {
      padding: 0 @unit4 0 0;
    }
  }
  .rspSlideTitleContainer {
    background-image: linear-gradient();
    border-bottom: @unit3 solid @color7;
  }
  .rspSlideTitle {
    color: @color5;
  }
  .rspSlideHeaderIconWrapper {
    border-bottom: @unit3 solid @color7;
  }
  .rspSlideHeaderDockIcon {
    .fy-mixin-1;
    &:hover {
      .fy-mixin-2;
    }
    &:before {
      margin: @unit5 0 0 @unit5;
    }
  }
  .rspSlideHeaderUndockIcon {
    .fy-mixin-2;
    &:hover {
      .fy-mixin-2;
    }
    &:before {
      margin: @unit5 0 0 @unit5;
    }
  }
  .rspSlideHeaderCollapseIcon {
    .fy-mixin-2;
    &:hover {
      .fy-mixin-2;
    }
    &:before {
      margin: @unit5 0 0 @unit5;
    }
  }
  .rspSlideContent {
    background-color: @color3;
    color: @color5;
  }
  .rspTabsContainer {
    background-color: @color3;
    color: @color5;
  }
  .rspResizeBarOver {
    background-image: linear-gradient(to left, );
  }
  .rspSlideContainerResizeOver {
    background-image: linear-gradient(to left, );
  }
  .rspResizeBarOverHorizontal {
    background-image: linear-gradient();
  }
  .rspSlideContainerResizeOverHorizontal {
    background-image: linear-gradient();
  }
  .rspBottom {
    .rspPaneTabContainer {
      background-color: @color3;
      color: @color1;
    }
    .rspPaneTabContainer:hover {
      background-color: @color6;
      color: @color2;
    }
    .rspPaneTabContainerExpanded {
      background-color: @color6;
      color: @color2;
    }
  }
  .rspTop {
    .rspPaneTabContainer {
      background-color: @color3;
      color: @color1;
    }
    .rspPaneTabContainer:hover {
      background-color: @color6;
      color: @color2;
    }
    .rspPaneTabContainerExpanded {
      background-color: @color6;
      color: @color2;
    }
  }
  .rspPaneTabContainerExpanded {
    background-color: @color6;
    color: @color2;
  }
  .rspCollapseBarExpand {
    background-color: @color3;
    border-color: @color4;
    height: @unit1;
    line-height: @unit1;
    width: @unit5;
    margin: @unit4 0;
    &:before {
      font-size: @unit2;
      margin: @unit3 0 0 -18px;
    }
  }
  .rspCollapseBarCollapse {
    background-color: @color3;
    border-color: @color4;
    height: @unit1;
    line-height: @unit1;
    width: @unit5;
    margin: @unit4 0;
    + .rspCollapseBarExpand {
      margin: -3px 0 0;
    }
    &:before {
      font-size: @unit2;
      margin: @unit3 0 0 -10px;
    }
  }
  .rspCollapseBarHorizontalExpand {
    background-color: @color3;
    border-color: @color4;
    width: @unit1;
    height: @unit5;
    line-height: @unit1;
    margin: 0 @unit3;
    &:before {
      font-size: @unit2;
      margin: -9px 0 0 -14px;
    }
  }
  .rspCollapseBarHorizontalCollapse {
    background-color: @color3;
    border-color: @color4;
    width: @unit1;
    height: @unit5;
    line-height: @unit1;
    margin: 0 @unit3;
    + .rspCollapseBarHorizontalExpand {
      margin: 0 0 0 -2px;
    }
    &:before {
      font-size: @unit2;
      margin: -10px 0 0 -14px;
    }
  }
  .rspCollapseBarExpandOver {
    background-color: @color6;
  }
  .rspCollapseBarCollapseOver {
    background-color: @color6;
  }
  .rspCollapseBarHorizontalExpandOver {
    background-color: @color6;
  }
  .rspCollapseBarHorizontalCollapseOver {
    background-color: @color6;
  }
  .rspSlideContainer {
    td.rspSlideContainerResize {
      padding: 0 @unit4;
      border-color: @color7;
    }
    td.rspSlideContainerResizeHorizontal {
      padding: @unit4 0 3px 0;
    }
  }
}
div {
  &.RadSplitter {
    .rspHelperBarDrag {
      background-color: @color1 !important;
      opacity: 1;
    }
    .rspHelperBarSlideDrag {
      background-color: @color1 !important;
      opacity: 1;
    }
  }
}