﻿.fy-mixin-1 {
  height: 32px;
  width: 32px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: #333333;
}
.fy-mixin-2 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadSplitter_Breg {
  background-color: #eeeeee;
  color: #333333;
  border-color: #eeeeee;
}
.RadSplitter_Breg .rspLoading {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.loading.gif")%>');
}
.RadSplitter_Breg .rspPaneTabContainer {
  background-color: #ffffff;
  color: #ff3300;
  border-color: #eeeeee;
}
.RadSplitter_Breg .rspPaneTabContainer:hover {
  background-color: #e6e6e6;
  color: #cc2900;
}
.RadSplitter_Breg .rspPane {
  background-color: #ffffff;
  color: #333333;
  border-color: #eeeeee;
}
.RadSplitter_Breg .rspResizeBar {
  color: #333333;
  border-color: #eeeeee;
  background-image: linear-gradient(to left);
  border-right-color: #dddddd;
}
.RadSplitter_Breg .rspSlideContainerResize {
  background-color: #ffffff;
  color: #333333;
  border-color: #eeeeee;
  background-image: linear-gradient(to left);
  border-right-color: #dddddd;
}
.RadSplitter_Breg .rspPaneHorizontal {
  background-color: #eeeeee;
  color: #333333;
  border-color: #eeeeee;
}
.RadSplitter_Breg .rspPaneHorizontal .rspPaneTabContainer {
  height: 22px !important;
  overflow: hidden;
}
.RadSplitter_Breg .rspResizeBarHorizontal {
  background-color: #eeeeee;
  color: #333333;
  border-color: #eeeeee;
  background-image: linear-gradient();
  border-bottom-color: #dddddd;
}
.RadSplitter_Breg .rspResizeBarHorizontal .rspCollapseBarSpacer {
  height: 6px !important;
}
.RadSplitter_Breg .rspSlideContainerResizeHorizontal {
  background-color: #eeeeee;
  color: #333333;
  border-color: #eeeeee;
  background-image: linear-gradient();
  border-bottom-color: #dddddd;
}
.RadSplitter_Breg .rspSlideHeader {
  background-image: linear-gradient();
}
.RadSplitter_Breg .rspSlideHeader table {
  height: 39px;
  background-color: #f5f5f5;
}
.RadSplitter_Breg .rspSlideHeader .rspSlideTitle {
  color: #333333;
  margin: 0 5px 0 15px;
}
.RadSplitter_Breg .rspSlideHeader .rspSlideHeaderIconWrapper {
  padding: 0 2px 0 0;
}
.RadSplitter_Breg .rspSlideTitleContainer {
  background-image: linear-gradient();
  border-bottom: 1px solid #dddddd;
}
.RadSplitter_Breg .rspSlideTitle {
  color: #333333;
}
.RadSplitter_Breg .rspSlideHeaderIconWrapper {
  border-bottom: 1px solid #dddddd;
}
.RadSplitter_Breg .rspSlideHeaderDockIcon {
  height: 32px;
  width: 32px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: #333333;
}
.RadSplitter_Breg .rspSlideHeaderDockIcon:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadSplitter_Breg .rspSlideHeaderDockIcon:before {
  margin: 6px 0 0 6px;
}
.RadSplitter_Breg .rspSlideHeaderUndockIcon {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadSplitter_Breg .rspSlideHeaderUndockIcon:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadSplitter_Breg .rspSlideHeaderUndockIcon:before {
  margin: 6px 0 0 6px;
}
.RadSplitter_Breg .rspSlideHeaderCollapseIcon {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadSplitter_Breg .rspSlideHeaderCollapseIcon:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadSplitter_Breg .rspSlideHeaderCollapseIcon:before {
  margin: 6px 0 0 6px;
}
.RadSplitter_Breg .rspSlideContent {
  background-color: #ffffff;
  color: #333333;
}
.RadSplitter_Breg .rspTabsContainer {
  background-color: #ffffff;
  color: #333333;
}
.RadSplitter_Breg .rspResizeBarOver {
  background-image: linear-gradient(to left);
}
.RadSplitter_Breg .rspSlideContainerResizeOver {
  background-image: linear-gradient(to left);
}
.RadSplitter_Breg .rspResizeBarOverHorizontal {
  background-image: linear-gradient();
}
.RadSplitter_Breg .rspSlideContainerResizeOverHorizontal {
  background-image: linear-gradient();
}
.RadSplitter_Breg .rspBottom .rspPaneTabContainer {
  background-color: #ffffff;
  color: #ff3300;
}
.RadSplitter_Breg .rspBottom .rspPaneTabContainer:hover {
  background-color: #e6e6e6;
  color: #cc2900;
}
.RadSplitter_Breg .rspBottom .rspPaneTabContainerExpanded {
  background-color: #e6e6e6;
  color: #cc2900;
}
.RadSplitter_Breg .rspTop .rspPaneTabContainer {
  background-color: #ffffff;
  color: #ff3300;
}
.RadSplitter_Breg .rspTop .rspPaneTabContainer:hover {
  background-color: #e6e6e6;
  color: #cc2900;
}
.RadSplitter_Breg .rspTop .rspPaneTabContainerExpanded {
  background-color: #e6e6e6;
  color: #cc2900;
}
.RadSplitter_Breg .rspPaneTabContainerExpanded {
  background-color: #e6e6e6;
  color: #cc2900;
}
.RadSplitter_Breg .rspCollapseBarExpand {
  background-color: #ffffff;
  border-color: #eeeeee;
  height: 26px;
  line-height: 26px;
  width: 6px;
  margin: 2px 0;
}
.RadSplitter_Breg .rspCollapseBarExpand:before {
  font-size: 24px;
  margin: 1px 0 0 -18px;
}
.RadSplitter_Breg .rspCollapseBarCollapse {
  background-color: #ffffff;
  border-color: #eeeeee;
  height: 26px;
  line-height: 26px;
  width: 6px;
  margin: 2px 0;
}
.RadSplitter_Breg .rspCollapseBarCollapse + .rspCollapseBarExpand {
  margin: -3px 0 0;
}
.RadSplitter_Breg .rspCollapseBarCollapse:before {
  font-size: 24px;
  margin: 1px 0 0 -10px;
}
.RadSplitter_Breg .rspCollapseBarHorizontalExpand {
  background-color: #ffffff;
  border-color: #eeeeee;
  width: 26px;
  height: 6px;
  line-height: 26px;
  margin: 0 1px;
}
.RadSplitter_Breg .rspCollapseBarHorizontalExpand:before {
  font-size: 24px;
  margin: -9px 0 0 -14px;
}
.RadSplitter_Breg .rspCollapseBarHorizontalCollapse {
  background-color: #ffffff;
  border-color: #eeeeee;
  width: 26px;
  height: 6px;
  line-height: 26px;
  margin: 0 1px;
}
.RadSplitter_Breg .rspCollapseBarHorizontalCollapse + .rspCollapseBarHorizontalExpand {
  margin: 0 0 0 -2px;
}
.RadSplitter_Breg .rspCollapseBarHorizontalCollapse:before {
  font-size: 24px;
  margin: -10px 0 0 -14px;
}
.RadSplitter_Breg .rspCollapseBarExpandOver {
  background-color: #e6e6e6;
}
.RadSplitter_Breg .rspCollapseBarCollapseOver {
  background-color: #e6e6e6;
}
.RadSplitter_Breg .rspCollapseBarHorizontalExpandOver {
  background-color: #e6e6e6;
}
.RadSplitter_Breg .rspCollapseBarHorizontalCollapseOver {
  background-color: #e6e6e6;
}
.RadSplitter_Breg .rspSlideContainer td.rspSlideContainerResize {
  padding: 0 2px;
  border-color: #dddddd;
}
.RadSplitter_Breg .rspSlideContainer td.rspSlideContainerResizeHorizontal {
  padding: 2px 0 3px 0;
}
div.RadSplitter .rspHelperBarDrag {
  background-color: #ff3300 !important;
  opacity: 1;
}
div.RadSplitter .rspHelperBarSlideDrag {
  background-color: #ff3300 !important;
  opacity: 1;
}