﻿.tab-hover {
  border-color: #eeeeee;
  color: #991e00;
  background-color: transparent;
  cursor: pointer;
}
.RadTabStrip_Breg {
  color: #333333;
}
.rtsGhostTab {
  border-color: transparent;
  border-radius: 0;
  color: #333333;
  background-color: #f5f5f5;
}
.rtsUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
.rtsLI {
  display: inline-block;
  text-align: left;
  margin: 0 20px;
}
.rtsLI .help-icon {
  display: inline-block;
}
.RadTabStripVertical .rtsLI {
  display: block;
}
.rtsLink {
  color: #333333;
  border-color: transparent;
  background-color: transparent;
  margin-right: 5px;
  text-decoration: none;
  display: block;
}
.rtsLink:hover {
  border-color: #eeeeee;
  color: #991e00;
  background-color: transparent;
  cursor: pointer;
}
.rtsLink:focus {
  border-color: transparent;
  box-shadow: none;
}
.rtsLink.rtsSelected {
  color: #ff3300;
}
.rtsLink .rtsTxt {
  font-size: 13px;
  font-weight: lighter;
  text-decoration: none;
}