@unit1: 4px;
@unit2: 5px;

@clear: transparent;

@link-color: #333333;
@link-active-color: #ff3300;
@link-hover-color: #991e00;

.tab-hover {
  border-color: #eeeeee;
  color: @link-hover-color;
  background-color: @clear;
  cursor:pointer;
}

.RadTabStrip_Breg {
  color: @link-color;
}

.rtsGhostTab {
  border-color: @clear;
  border-radius: 0;
  color: @link-color;
  background-color: #f5f5f5;
}

.rtsUL {
  list-style-type: none;
  margin:0;
  padding:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.rtsLI {
  display: inline-block;
  text-align: left;
  margin:0 20px;
  .help-icon {
    display:inline-block;
  }
}

.RadTabStripVertical {
  .rtsLI {
    display:block;
  }
}

.rtsLink {
  color:@link-color;
  border-color: @clear;
  background-color: @clear;
  margin-right: @unit2;
  text-decoration:none;
  display:block;

  &:hover {
    .tab-hover;
  }

  &:focus {
    border-color: @clear;
    box-shadow: none;
  }

  &.rtsSelected {
    color: @link-active-color;
  }

  .rtsTxt {
    font-size: 13px;
    font-weight: lighter;
    text-decoration:none;
  }
}
