.RadTagCloud_Breg {
  background-color: #ffffff;
  border: 1px dotted #dddddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  .rtcTagList {
    .rtcTagItem {
      color: #ff3300;
    }
    .rtcTagItem:hover {
      color: #991e00;
    }
    .rtcTagItem a {
      color: #ff3300;
    }
    .rtcTagItem a:hover {
      background-color: #eeeeee;
      color: #991e00;
    }
  }
  &.rtcLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.loading_small.gif")%>');
  }
}