@color1:#ffffff;
.RadTile_Breg {
  color: @color1;
  background-color: #ff3300;
  &.rtileSelected {
    border-color: #f0ad4e;
    &.rtileHovered {
      border-color: rgba(240, 173, 78, 0.7);
    }
    .rtileSelectedIcon {
      background-color: #f0ad4e;
      color: @color1;
    }
  }
  &.rtileHovered {
    border-color: #a82200;
  }
  .rtileBadgeIcon {
    color: @color1;
  }
  .rtilePeekContent {
    background-color: #fcfcfc;
  }
  &.rtileLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.loading_small.gif")%>');
  }
  .rtileLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.loading_small.gif")%>');
  }
}
html {
  .RadTile_Breg {
    &.RadTile h6.rtileTitle {
      color: @color1;
    }
  }
}