@color1:#eeeeee;
@color2:#333333;
@searchToolbar-bgColor: #f5f5f5;
.fy-mixin-1 {
  color: #333333;
  border-color: #afafaf;
  background-color: #e6e6e6;
}
  .breg_radtoolbar_horizontal {
    + .breg_radtoolbar_horizontal {
      padding-left: 5px;
    }
  }
.search-container {
  background-color: @searchToolbar-bgColor;
}
.RadToolBar_Breg,
.RadToolBar,
.search-container > div {
  color: @color2;
  border-color: #dddddd;
  background-color: @searchToolbar-bgColor;
  flex-direction:row;
  .rtbItem {
    + .rtbItem {
      margin-left: 5px;
    }
  }
  .rtbArrow {
    padding: 2px 10px;
    margin-right: -10px;
  }
  .rtbSeparator {
    border-color: transparent #fff transparent @color1;
  }
  .rtbButton {
    padding: 6px 12px;
    color: @color2;
    border-color: @color1;
    background-color: #ffffff;
    border-radius: 0.28571em;
  }
  .rtbSplitButton {
    .rtbArrow {
      border-color: @color1;
    }
  }
  .rtbHovered {
    .rtbButton {
      color: @color2;
      border-color: #d0d0d0;
      background-color: #e6e6e6;
    }
  }
  .rtbFocused {
    .rtbButton {
      box-shadow: 0 0 3px 1px #afafaf inset;
    }
  }
  .rtbPressed {
    .rtbButton {
      .fy-mixin-1;
    }
  }
  .rtbChecked {
    .rtbButton {
      .fy-mixin-1;
    }
  }
  .rtbExpanded {
    .rtbButton {
      .fy-mixin-1;
    }
  }
}
.RadToolBar_Vertical {
  .rtbSeparator {
    border-color: @color1 transparent #fff transparent;
  }
}
.rtbPopup_Breg {
  color: @color2;
  border-color: #dddddd;
  background-color: #ffffff;
  &.rtbRoundedCorners {
    border-radius: 0.28571em;
  }
  .rtbSeparator {
    border-color: @color1;
  }
  .rtbItem {
    .rtbLink {
      border-radius: 0.28571em;
    }
    &.rtbHovered .rtbLink {
      color: #000000;
      border-color: #e2e2e2;
      background-color: #efefef;
    }
  }
  .rtbImage {
    margin-left: -24px;
    margin-right: 8px;
  }
}
.RadToolBar_Breg_rtl {
  .rtbItem {
    + .rtbItem {
      margin-left: 0;
      margin-right: 5px;
    }
  }
  .rtbArrow {
    margin-left: -10px;
    margin-right: 0;
  }
  .rtbSplitButton {
    .rtbArrow {
      margin-left: -10px;
      margin-right: 8px;
    }
  }
}
.RadToolBarDropDown_Breg_rtl {
  .rtbImage {
    margin-left: 8px;
    margin-right: -24px;
  }
}
.RadToolBar .rtbIn {
  overflow:visible !important;
}

.RadToolBar {
  min-height:28px !important;
  padding:5px;
   .rtbIcon {
    height:20px;
    width:20px;
    padding: 2px 4px !important;
  }
}

.rtbUL > li.rtbItem:nth-child(2) {
    position: relative;
    /*.rtbWrap,
    .rtbOut {
      width:100%;
    }*/
}

.RadToolBar .rtbInner {
  margin:5px 4px 5px 5px;
}

.rtbBtn .rtbIcon,
#rtbFilter .rtbIcon, 
#rtbBrowse .rtbIcon {
  margin-left:0;
}

.search-container { 
  flex: 0 1 auto;
  padding-right:5px;
  > div > div:NOT(.rtbOuter, #ctl00_MainContent_ctl00_MainContent_ctlSearchToolbar_rtbToolbarPanel) {
    margin:6.5px 4px 6.5px 5px;
  }
  .help-icon {
    margin-right:6px;
  }
}

.rtbUL {
  display:table;
  list-style-type: none;
  margin:0;
  padding:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.rtbItem {
  display:inline-block;
  margin-right:4px;
  vertical-align:middle;
  max-height:28px;
}

.RadToolBarDropDown {
  .rtbItem {
    display:block;
    margin-left:5px;
  }
}
