@color1: #dddddd;
@color2: #333333;
@color3: #ffffff;

.RadToolTip_Breg {
  background-color: @color3;
  color: @color2;
  border-color: @color1;

  .rtTitleWrapper {
    color: @color2;
  }

  .rtClose {
    border-color: #eeeeee;
    color: @color2;
    background-color: @color3;
    background-image: linear-gradient();

    &:hover {
      border-color: #d0d0d0;
      color: @color2;
      background-color: #e6e6e6;
      background-image: linear-gradient();
    }

    &:active {
      border-color: #afafaf;
      color: @color2;
      background-color: #e6e6e6;
      background-image: linear-gradient();
    }
  }

  .rtCalloutTopRight {
    border-bottom-color: @color1;

    &:before {
      border-bottom-color: @color3;
    }
  }

  .rtCalloutTopCenter {
    border-bottom-color: @color1 !important;

    &:before {
      border-bottom-color: @color3 !important;
    }
  }

  .rtCalloutTopLeft {
    border-bottom-color: @color1;

    &:before {
      border-bottom-color: @color3;
    }
  }

  .rtCalloutMiddleRight {
    border-left-color: @color1;

    &:before {
      border-left-color: @color3;
    }
  }

  .rtCalloutMiddleLeft {
    border-right-color: @color1;

    &:before {
      border-right-color: @color3;
    }
  }

  .rtCalloutBottomRight {
    border-top-color: @color1;

    &:before {
      border-top-color: @color3;
    }
  }

  .rtCalloutBottomCenter {
    border-top-color: @color1 !important;

    &:before {
      border-top-color: @color3;
    }
  }

  .rtCalloutBottomLeft {
    border-top-color: @color1;

    &:before {
      border-top-color: @color3;
    }
  }

  &.rtLoading {
    background-image: url("images/Common/loading.gif");
  }

  .rtWrapper {

    tr:first-child {
      /*display: none;*/
    }
  }
}


/*TOOLTIP LITE*/

.RadToolTip {
  position: absolute;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  curosor: default;
  font-size: .85em;
  line-height: 1.42857143;
}

.RadToolTip, .RadToolTip .rtTitleWrapper * {
  box-sizing: content-box;
}

.RadToolTip.rtLoading {
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.RadToolTip.rtRoundedCorner {
  border-radius: .35714286em;
}

.RadToolTip.rtShadow {
  box-shadow: 2px 3px 4px #828282;
}

.RadToolTip .rtRelativeWrapper {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding: .35714286em .71428571em;
}

.RadToolTip .rtTitleBar {
  position: relative;
}

.RadToolTip.rtRoundedCorner .rtTitleBar {
  border-radius: .35714286em .35714286em 0 0;
}

.RadToolTip .rtTitleBar .rtTitleWrapper {
  padding: .28571429em 0;
}

.RadToolTip .rtTitleWrapper .rtTitle {
  margin: 0;
  padding: 0;
  font-size: 1.14285714em;
  font-weight: normal;
  display: inline-block;
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  border: 0;
}

.RadToolTip .rtClose {
  width: 1.28571429em;
  height: 1.28571429em;
  padding: 0;
  position: absolute;
  top: -0.64285714em;
  right: -0.64285714em;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 45px;
  display: block;
  text-indent: -9999px;
  background-color: transparent;
  font-size: inherit;
}

.RadToolTip .rtClose:hover {
  cursor: pointer;
}

.RadToolTip .rtCloseIcon:before {
  display: block;
  text-indent: 0;

  vertical-align: middle;
  line-height: 1em;
  content: "\E038";
  font-family: "TelerikWebUI";
  font-size: 1.07142857em;
  font-size: 1.33333em;
  margin: -0.07142857em 0 0 -0.07142857em;
}

.RadToolTip _:-ms-fullscreen, :root .RadToolTip .rtCloseIcon:before {
  margin: 0 0 0 -0.07142857em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .RadToolTip .rtCloseIcon:before {
    margin: -0.03571429em 0 0 -0.10714286em;
  }
}

.RadToolTip.rtRoundedCorner .rtContent {
  border-radius: .35714286em;
}

.RadToolTip.rtRoundedCorner .rtTitleBar + .rtContent {
  border-radius: 0 0 .35714286em .35714286em;
}

.RadToolTip .rtCallout {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  display: none;
}

.RadToolTip .rtCallout:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  display: block;
  position: absolute;
}

.RadToolTip.rtVisibleCallout .rtCallout {
  display: block;
}

.RadToolTip .rtCalloutTopRight, 
.RadToolTip .rtCalloutTopCenter, 
.RadToolTip .rtCalloutTopLeft {
  margin: -10px 0 0 -10px;
  border-width: 0 10px 10px 10px;
  top: 0;
  left: 50%;
  &:before {
    border-width: 0 8px 8px 8px;
    top: 2px;
    left: -8px;
  }
}

.RadToolTip .rtCalloutTopRight {
  left: auto;
  right: 30px;
}

.RadToolTip .rtCalloutTopLeft {
  left: 30px;
}

.RadToolTip .rtCalloutMiddleRight {
  margin: -10px 0 0;
  border-width: 10px 0 10px 10px;
  top: 50%;
  left: 100%;
  &:before {
    border-width: 8px 0 8px 8px;
    top: -8px;
    left: -10px;
  }
}

.RadToolTip .rtCalloutMiddleLeft {
  margin: -10px 0 0;
  border-width: 10px 10px 10px 0;
  top: 50%;
  right: 100%;
  &:before {
    border-width: 8px 8px 8px 0;
    top: -8px;
    right: -10px;
  }
}

.RadToolTip .rtCalloutBottomRight, 
.RadToolTip .rtCalloutBottomCenter, 
.RadToolTip .rtCalloutBottomLeft {
  margin: 0 0 -10px -10px;
  border-width: 10px 10px 0 10px;
  bottom: 0;
  left: 50%;
  &:before {
    border-width: 8px 8px 0 8px;
    bottom: 2px;
    left: -8px;
  }
}

.RadToolTip .rtCalloutBottomRight {
  left: auto;
  right: 30px;
}

.RadToolTip .rtCalloutBottomLeft {
  left: 30px;
}

.RadToolTip.rtRtl .rtClose {
  left: -0.64285714em;
  right: auto;
}
