﻿.fy-mixin-1 {
  color: #333333;
  border-color: #afafaf;
  background-color: #e6e6e6;
}
.breg_radtoolbar_horizontal + .breg_radtoolbar_horizontal {
  padding-left: 5px;
}
.search-container {
  background-color: #f5f5f5;
}
.RadToolBar_Breg,
.RadToolBar,
.search-container > div {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5;
  flex-direction: row;
}
.RadToolBar_Breg .rtbItem + .rtbItem,
.RadToolBar .rtbItem + .rtbItem,
.search-container > div .rtbItem + .rtbItem {
  margin-left: 5px;
}
.RadToolBar_Breg .rtbArrow,
.RadToolBar .rtbArrow,
.search-container > div .rtbArrow {
  padding: 2px 10px;
  margin-right: -10px;
}
.RadToolBar_Breg .rtbSeparator,
.RadToolBar .rtbSeparator,
.search-container > div .rtbSeparator {
  border-color: transparent #fff transparent #eeeeee;
}
.RadToolBar_Breg .rtbButton,
.RadToolBar .rtbButton,
.search-container > div .rtbButton {
  padding: 6px 12px;
  color: #333333;
  border-color: #eeeeee;
  background-color: #ffffff;
  border-radius: 0.28571em;
}
.RadToolBar_Breg .rtbSplitButton .rtbArrow,
.RadToolBar .rtbSplitButton .rtbArrow,
.search-container > div .rtbSplitButton .rtbArrow {
  border-color: #eeeeee;
}
.RadToolBar_Breg .rtbHovered .rtbButton,
.RadToolBar .rtbHovered .rtbButton,
.search-container > div .rtbHovered .rtbButton {
  color: #333333;
  border-color: #d0d0d0;
  background-color: #e6e6e6;
}
.RadToolBar_Breg .rtbFocused .rtbButton,
.RadToolBar .rtbFocused .rtbButton,
.search-container > div .rtbFocused .rtbButton {
  box-shadow: 0 0 3px 1px #afafaf inset;
}
.RadToolBar_Breg .rtbPressed .rtbButton,
.RadToolBar .rtbPressed .rtbButton,
.search-container > div .rtbPressed .rtbButton {
  color: #333333;
  border-color: #afafaf;
  background-color: #e6e6e6;
}
.RadToolBar_Breg .rtbChecked .rtbButton,
.RadToolBar .rtbChecked .rtbButton,
.search-container > div .rtbChecked .rtbButton {
  color: #333333;
  border-color: #afafaf;
  background-color: #e6e6e6;
}
.RadToolBar_Breg .rtbExpanded .rtbButton,
.RadToolBar .rtbExpanded .rtbButton,
.search-container > div .rtbExpanded .rtbButton {
  color: #333333;
  border-color: #afafaf;
  background-color: #e6e6e6;
}
.RadToolBar_Vertical .rtbSeparator {
  border-color: #eeeeee transparent #fff transparent;
}
.rtbPopup_Breg {
  color: #333333;
  border-color: #dddddd;
  background-color: #ffffff;
}
.rtbPopup_Breg.rtbRoundedCorners {
  border-radius: 0.28571em;
}
.rtbPopup_Breg .rtbSeparator {
  border-color: #eeeeee;
}
.rtbPopup_Breg .rtbItem .rtbLink {
  border-radius: 0.28571em;
}
.rtbPopup_Breg .rtbItem.rtbHovered .rtbLink {
  color: #000000;
  border-color: #e2e2e2;
  background-color: #efefef;
}
.rtbPopup_Breg .rtbImage {
  margin-left: -24px;
  margin-right: 8px;
}
.RadToolBar_Breg_rtl .rtbItem + .rtbItem {
  margin-left: 0;
  margin-right: 5px;
}
.RadToolBar_Breg_rtl .rtbArrow {
  margin-left: -10px;
  margin-right: 0;
}
.RadToolBar_Breg_rtl .rtbSplitButton .rtbArrow {
  margin-left: -10px;
  margin-right: 8px;
}
.RadToolBarDropDown_Breg_rtl .rtbImage {
  margin-left: 8px;
  margin-right: -24px;
}
.RadToolBar .rtbIn {
  overflow: visible !important;
}
.RadToolBar {
  min-height: 28px !important;
  padding: 5px;
}
.RadToolBar .rtbIcon {
  height: 20px;
  width: 20px;
  padding: 2px 4px !important;
}
.rtbUL > li.rtbItem:nth-child(2) {
  position: relative;
  /*.rtbWrap,
    .rtbOut {
      width:100%;
    }*/
}
.RadToolBar .rtbInner {
  margin: 5px 4px 5px 5px;
}
.rtbBtn .rtbIcon,
#rtbFilter .rtbIcon,
#rtbBrowse .rtbIcon {
  margin-left: 0;
}
.search-container {
  flex: 0 1 auto;
  padding-right: 5px;
}
.search-container > div > div:NOT(.rtbOuter, #ctl00_MainContent_ctl00_MainContent_ctlSearchToolbar_rtbToolbarPanel) {
  margin: 6.5px 4px 6.5px 5px;
}
.search-container .help-icon {
  margin-right: 6px;
}
.rtbUL {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
.rtbItem {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
  max-height: 28px;
}
.RadToolBarDropDown .rtbItem {
  display: block;
  margin-left: 5px;
}