@unit1:.2em;
@color1:#dddddd;
@color2:#ff3300;
.RadTreeView_Breg {
  color: #333333;
  .rtLI {
    margin-top: 1px;
    overflow: hidden;
  }
  .rtImg {
    position: relative;
    margin: 0em -1.42857em 0em 0.5em;
    zoom: 1;
    + .rtIn {
      padding-left: 1.78571em;
    }
  }
  .rtIn {
    margin: 0.14286em 0em;
    padding: 0.14286em 0.57143em;
    border-radius: 0.28571em;
  }
  .rtHover {
    .rtIn {
      border-color: #e2e2e2;
      color: #000000;
      background-color: #efefef;
    }
  }
  .rtSelected {
    .rtIn {
      border-color: #cc2900;
      color: #ffffff;
      background-color: @color2;
    }
  }
  .rtChecked,
  .rtUnchecked,
  .rtIndeterminate {
    background-image: url("images/Common/radFormToggleSprite.png");
  }
  .rtLoadingIcon {
    background-image: url("images/Common/loading_small.gif");
  }
  .rtPlus,
  .rtMinus {
    top: @unit1;
    left: @unit1;
  }
  .rtPlusHover,
  .rtMinusHover {
    color: @color2;
  }
  .rtLines {
    .rtLI,
    .rtTop,
    .rtMid,
    .rtBot {
      &:before {
        border-color: @color1;
      }
    }
  }
}