﻿.RadTreeView_Breg {
  color: #333333;
}
.RadTreeView_Breg .rtLI {
  margin-top: 1px;
  overflow: hidden;
}
.RadTreeView_Breg .rtImg {
  position: relative;
  margin: 0em -1.42857em 0em 0.5em;
  zoom: 1;
}
.RadTreeView_Breg .rtImg + .rtIn {
  padding-left: 1.78571em;
}
.RadTreeView_Breg .rtIn {
  margin: 0.14286em 0em;
  padding: 0.14286em 0.57143em;
  border-radius: 0.28571em;
}
.RadTreeView_Breg .rtHover .rtIn {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
}
.RadTreeView_Breg .rtSelected .rtIn {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
}
.RadTreeView_Breg .rtChecked,
.RadTreeView_Breg .rtUnchecked,
.RadTreeView_Breg .rtIndeterminate {
  background-image: url("images/Common/radFormToggleSprite.png");
}
.RadTreeView_Breg .rtLoadingIcon {
  background-image: url("images/Common/loading_small.gif");
}
.RadTreeView_Breg .rtPlus,
.RadTreeView_Breg .rtMinus {
  top: 0.2em;
  left: 0.2em;
}
.RadTreeView_Breg .rtPlusHover,
.RadTreeView_Breg .rtMinusHover {
  color: #ff3300;
}
.RadTreeView_Breg .rtLines .rtLI:before,
.RadTreeView_Breg .rtLines .rtTop:before,
.RadTreeView_Breg .rtLines .rtMid:before,
.RadTreeView_Breg .rtLines .rtBot:before {
  border-color: #dddddd;
}