@unit1:0.28571em;
@unit2:-5px;
@unit3:.3em;
@unit4:0px;
@unit5:1em;
@unit6:1px;
@unit7:5px;
@color1:#f2f2f2;
@color2:#f5f5f5;
@color3:#eeeeee;
@color4:#ffffff;
@color5:#333333;
@color6:#ff3300;
@color7:#cc2900;
@color8:#dddddd;
.fy-mixin-1 {
  padding: 0.3em 0.5em;
  height: 2.25em;
  border-color: #f2f2f2;
}
.fy-mixin-2 {
  left: 0;
  top: 0;
  border: 0 none;
}
.fy-mixin-3 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.TreeListToolTip_Breg {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-color: #828282;
  background: @color4;
  color: @color5;
}
.RadTreeList_Breg {
  border-color: @color8;
  background: @color4;
  color: @color5;
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  .rtlTable {
    a {
      color: @color6;
    }
    td {
      vertical-align: middle;
    }
  }
  .rtlHeader {
    background-color: @color2;
    th {
      .fy-mixin-1;
    }
    a {
      color: @color5;
    }
  }
  .rtlREdit {
    .fy-mixin-1;
    td {
      .fy-mixin-1;
    }
    [type="text"] {
      padding-top: 0;
      padding-bottom: 0;
      height: 32px;
      border: @unit6 solid @color8;
      border-radius: @unit3;
    }
  }
  .rtlR {
    td {
      .fy-mixin-1;
    }
  }
  .rtlA {
    .fy-mixin-1;
    td {
      .fy-mixin-1;
    }
  }
  div {
    &.rtlHeader {
      border-color: @color1;
    }
  }
  .rtlScroller {
    border-color: @color1;
  }
  .rtlRFooter {
    background-color: @color2;
    td {
      border-color: @color8;
    }
  }
  .rtlEditForm {
    border-color: @color1;
    font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: @unit6 solid @color8;
    [type="text"] {
      padding-top: 0;
      padding-bottom: 0;
      height: 32px;
      border: @unit6 solid @color8;
      border-radius: @unit3;
      margin-bottom: @unit3;
      margin-left: @unit3;
    }
    table {
      margin: .5em;
    }
    .rtlHeader {
      padding: 0.64em 0.5em;
    }
  }
  .rtlRSel {
    background: @color6;
    color: @color4;
    background-color: @color6;
    .rtlActionButton:hover .rtlIcon {
      color: @color5;
    }
    a {
      color: @color4;
    }
  }
  .rtlRActive {
    .rtlCF {
      box-shadow: inset @unit4 @unit7 @unit7 @unit2 @color7, inset @unit4 @unit2 @unit7 @unit2 @color7, inset @unit7 @unit4 @unit7 @unit2 @color7;
    }
    .rtlCF ~ td {
      box-shadow: inset @unit4 @unit7 @unit7 @unit2 @color7, inset @unit4 @unit2 @unit7 @unit2 @color7;
    }
    .rtlCF ~ td:last-child {
      box-shadow: inset @unit4 @unit7 @unit7 @unit2 @color7, inset @unit4 @unit2 @unit7 @unit2 @color7, inset @unit2 @unit4 @unit7 @unit2 @color7;
    }
    td {
      border-color: @color7;
    }
  }
  .rtlVBorders {
    td.rtlL {
      background-color: @color4;
    }
  }
  .rtlLines {
    td.rtlL {
      background-color: @color4;
    }
  }
  .rtlActionButton {
    width: 2.28571em;
    height: 2.28571em;
    box-sizing: content-box;
    border: @unit6 solid transparent;
    background: none;
    font-size: @unit5;
    &:hover {
      border: @unit6 solid @color3;
      border-radius: @unit3;
      background: #e6e6e6;
    }
  }
  .rtlIcon {
    color: @color5;
  }
  .rtlExpand {
    .fy-mixin-2;
    &:hover {
      border: 0 none;
      background: none;
    }
  }
  .rtlCollapse {
    .fy-mixin-2;
    &:hover {
      border: 0 none;
      background: none;
    }
  }
  &.RadTreeListRTL {
    .rtlExpand {
      margin-right: -.425em;
    }
    .rtlCollapse {
      margin-right: -.425em;
    }
    .rtlExpandIcon:before {
      content: '\E003';
    }
  }
  .rtlCollapseIcon {
    color: @color6;
    &:before {
      content: '\E002';
    }
  }
  .rtlExpandIcon {
    &:before {
      content: '\E000';
    }
  }
  .rtlAddIcon {
    &:before {
      content: '\E039';
    }
  }
  .rtlEditIcon {
    &:before {
      content: '\E0D5';
    }
  }
  .rtlUpdateIcon {
    &:before {
      content: '\E037';
    }
  }
  .rtlDelIcon {
    &:before {
      content: '\E038';
    }
  }
  .rtlCancelIcon {
    &:before {
      content: '\E038';
    }
  }
  .rtlClosePopUpIcon {
    &:before {
      content: '\E038';
    }
  }
  .rtlSortDescIcon {
    &:before {
      content: '\E00D';
      margin-top: -.56em;
    }
  }
  .rtlSortAscIcon {
    &:before {
      content: '\E00E';
    }
  }
  .rtlPagerCell {
    color: @color5;
    background: @color2;
    border-top: @unit6 solid @color8;
    .rtlWrap {
      padding: 0;
    }
    .rtlNumPart a {
      border-width: @unit6;
      border-style: solid;
      box-sizing: content-box;
      border-color: @color3;
      color: @color5;
      background-color: @color4;
      font-size: @unit5;
      margin: 0;
      width: 1.42857em;
      border-left-width: 0;
      border-radius: 0;
      text-align: center;
    }
    .rtlNumPart a:hover {
      .fy-mixin-3;
    }
    .rtlNumPart a.rtlCurrentPage {
      border-color: #e62e00;
      color: @color4;
      background-color: @color6;
    }
    .rtlPagerButton {
      border-width: @unit6;
      border-style: solid;
      box-sizing: content-box;
      border-color: @color3;
      color: @color5;
      background-color: @color4;
      font-size: @unit5;
      border-radius: @unit1;
    }
    .rtlPagerButton:hover {
      .fy-mixin-3;
    }
    .rtlActionButton {
      border-width: @unit6;
      border-style: solid;
      box-sizing: content-box;
      border-color: @color3;
      color: @color5;
      background-color: @color4;
      font-size: @unit5;
      margin: 0;
      width: 1.42857em;
      border-left-width: 0;
    }
    .rtlActionButton:hover {
      .fy-mixin-3;
    }
    .rtlPageFirst {
      border-left-width: @unit6;
      border-radius: @unit1 0 0 @unit1;
    }
    .rtlPageLast {
      border-radius: 0 @unit1 @unit1 0;
    }
    .NumericPages .rtlNumPart a:first-child {
      border-left-width: @unit6;
      border-radius: @unit1 0 0 @unit1;
    }
    .NumericPages .rtlNumPart a:last-child {
      border-radius: 0 @unit1 @unit1 0;
    }
  }
}
.TreeListReorderTop_Breg,
.TreeListReorderBottom_Breg {
  font-size: 2.2em;
  color: #000;
  text-shadow: 0 0 @unit6 #fff;
  text-indent: 2px;
}