﻿.fy-mixin-1 {
  padding: 0.3em 0.5em;
  height: 2.25em;
  border-color: #f2f2f2;
}
.fy-mixin-2 {
  left: 0;
  top: 0;
  border: 0 none;
}
.fy-mixin-3 {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.TreeListToolTip_Breg {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-color: #828282;
  background: #ffffff;
  color: #333333;
}
.RadTreeList_Breg {
  border-color: #dddddd;
  background: #ffffff;
  color: #333333;
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadTreeList_Breg .rtlTable a {
  color: #ff3300;
}
.RadTreeList_Breg .rtlTable td {
  vertical-align: middle;
}
.RadTreeList_Breg .rtlHeader {
  background-color: #f5f5f5;
}
.RadTreeList_Breg .rtlHeader th {
  padding: 0.3em 0.5em;
  height: 2.25em;
  border-color: #f2f2f2;
}
.RadTreeList_Breg .rtlHeader a {
  color: #333333;
}
.RadTreeList_Breg .rtlREdit {
  padding: 0.3em 0.5em;
  height: 2.25em;
  border-color: #f2f2f2;
}
.RadTreeList_Breg .rtlREdit td {
  padding: 0.3em 0.5em;
  height: 2.25em;
  border-color: #f2f2f2;
}
.RadTreeList_Breg .rtlREdit [type="text"] {
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  border: 1px solid #dddddd;
  border-radius: 0.3em;
}
.RadTreeList_Breg .rtlR td {
  padding: 0.3em 0.5em;
  height: 2.25em;
  border-color: #f2f2f2;
}
.RadTreeList_Breg .rtlA {
  padding: 0.3em 0.5em;
  height: 2.25em;
  border-color: #f2f2f2;
}
.RadTreeList_Breg .rtlA td {
  padding: 0.3em 0.5em;
  height: 2.25em;
  border-color: #f2f2f2;
}
.RadTreeList_Breg div.rtlHeader {
  border-color: #f2f2f2;
}
.RadTreeList_Breg .rtlScroller {
  border-color: #f2f2f2;
}
.RadTreeList_Breg .rtlRFooter {
  background-color: #f5f5f5;
}
.RadTreeList_Breg .rtlRFooter td {
  border-color: #dddddd;
}
.RadTreeList_Breg .rtlEditForm {
  border-color: #f2f2f2;
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #dddddd;
}
.RadTreeList_Breg .rtlEditForm [type="text"] {
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  border: 1px solid #dddddd;
  border-radius: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0.3em;
}
.RadTreeList_Breg .rtlEditForm table {
  margin: .5em;
}
.RadTreeList_Breg .rtlEditForm .rtlHeader {
  padding: 0.64em 0.5em;
}
.RadTreeList_Breg .rtlRSel {
  background: #ff3300;
  color: #ffffff;
  background-color: #ff3300;
}
.RadTreeList_Breg .rtlRSel .rtlActionButton:hover .rtlIcon {
  color: #333333;
}
.RadTreeList_Breg .rtlRSel a {
  color: #ffffff;
}
.RadTreeList_Breg .rtlRActive .rtlCF {
  box-shadow: inset 0px 5px 5px -5px #cc2900, inset 0px -5px 5px -5px #cc2900, inset 5px 0px 5px -5px #cc2900;
}
.RadTreeList_Breg .rtlRActive .rtlCF ~ td {
  box-shadow: inset 0px 5px 5px -5px #cc2900, inset 0px -5px 5px -5px #cc2900;
}
.RadTreeList_Breg .rtlRActive .rtlCF ~ td:last-child {
  box-shadow: inset 0px 5px 5px -5px #cc2900, inset 0px -5px 5px -5px #cc2900, inset -5px 0px 5px -5px #cc2900;
}
.RadTreeList_Breg .rtlRActive td {
  border-color: #cc2900;
}
.RadTreeList_Breg .rtlVBorders td.rtlL {
  background-color: #ffffff;
}
.RadTreeList_Breg .rtlLines td.rtlL {
  background-color: #ffffff;
}
.RadTreeList_Breg .rtlActionButton {
  width: 2.28571em;
  height: 2.28571em;
  box-sizing: content-box;
  border: 1px solid transparent;
  background: none;
  font-size: 1em;
}
.RadTreeList_Breg .rtlActionButton:hover {
  border: 1px solid #eeeeee;
  border-radius: 0.3em;
  background: #e6e6e6;
}
.RadTreeList_Breg .rtlIcon {
  color: #333333;
}
.RadTreeList_Breg .rtlExpand {
  left: 0;
  top: 0;
  border: 0 none;
}
.RadTreeList_Breg .rtlExpand:hover {
  border: 0 none;
  background: none;
}
.RadTreeList_Breg .rtlCollapse {
  left: 0;
  top: 0;
  border: 0 none;
}
.RadTreeList_Breg .rtlCollapse:hover {
  border: 0 none;
  background: none;
}
.RadTreeList_Breg.RadTreeListRTL .rtlExpand {
  margin-right: -0.425em;
}
.RadTreeList_Breg.RadTreeListRTL .rtlCollapse {
  margin-right: -0.425em;
}
.RadTreeList_Breg.RadTreeListRTL .rtlExpandIcon:before {
  content: '\E003';
}
.RadTreeList_Breg .rtlCollapseIcon {
  color: #ff3300;
}
.RadTreeList_Breg .rtlCollapseIcon:before {
  content: '\E002';
}
.RadTreeList_Breg .rtlExpandIcon:before {
  content: '\E000';
}
.RadTreeList_Breg .rtlAddIcon:before {
  content: '\E039';
}
.RadTreeList_Breg .rtlEditIcon:before {
  content: '\E0D5';
}
.RadTreeList_Breg .rtlUpdateIcon:before {
  content: '\E037';
}
.RadTreeList_Breg .rtlDelIcon:before {
  content: '\E038';
}
.RadTreeList_Breg .rtlCancelIcon:before {
  content: '\E038';
}
.RadTreeList_Breg .rtlClosePopUpIcon:before {
  content: '\E038';
}
.RadTreeList_Breg .rtlSortDescIcon:before {
  content: '\E00D';
  margin-top: -0.56em;
}
.RadTreeList_Breg .rtlSortAscIcon:before {
  content: '\E00E';
}
.RadTreeList_Breg .rtlPagerCell {
  color: #333333;
  background: #f5f5f5;
  border-top: 1px solid #dddddd;
}
.RadTreeList_Breg .rtlPagerCell .rtlWrap {
  padding: 0;
}
.RadTreeList_Breg .rtlPagerCell .rtlNumPart a {
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  margin: 0;
  width: 1.42857em;
  border-left-width: 0;
  border-radius: 0;
  text-align: center;
}
.RadTreeList_Breg .rtlPagerCell .rtlNumPart a:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadTreeList_Breg .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
  border-color: #e62e00;
  color: #ffffff;
  background-color: #ff3300;
}
.RadTreeList_Breg .rtlPagerCell .rtlPagerButton {
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  border-radius: 0.28571em;
}
.RadTreeList_Breg .rtlPagerCell .rtlPagerButton:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadTreeList_Breg .rtlPagerCell .rtlActionButton {
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  font-size: 1em;
  margin: 0;
  width: 1.42857em;
  border-left-width: 0;
}
.RadTreeList_Breg .rtlPagerCell .rtlActionButton:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
}
.RadTreeList_Breg .rtlPagerCell .rtlPageFirst {
  border-left-width: 1px;
  border-radius: 0.28571em 0 0 0.28571em;
}
.RadTreeList_Breg .rtlPagerCell .rtlPageLast {
  border-radius: 0 0.28571em 0.28571em 0;
}
.RadTreeList_Breg .rtlPagerCell .NumericPages .rtlNumPart a:first-child {
  border-left-width: 1px;
  border-radius: 0.28571em 0 0 0.28571em;
}
.RadTreeList_Breg .rtlPagerCell .NumericPages .rtlNumPart a:last-child {
  border-radius: 0 0.28571em 0.28571em 0;
}
.TreeListReorderTop_Breg,
.TreeListReorderBottom_Breg {
  font-size: 2.2em;
  color: #000;
  text-shadow: 0 0 1px #fff;
  text-indent: 2px;
}