@color1: #333333;

.RadUpload_Breg {
  color: @color1;
  line-height: 34px;
  .ruFileLI {
    .ruButton {
      color: #ff3300;
    }
    .ruFileProgressWrap {
      top: 1.92857em;
      background-color: #f5f5f5;
    }
    .ruFileProgress {
      background-color: #ff3300;
    }
  }
  .ruSelectWrap {
    margin-top: 0.71429em;
    .ruFakeInput {
      height: 2.28571em;
      background-color: #ffffff;
      border-color: #dddddd;
      border-radius: 0.28571em;
    }
    .ruButton {
      padding: 0em 0.85714em;
      line-height: 2.28571em;
      color: @color1;
      border-color: #eeeeee;
      background-color: #ffffff;
      border-radius: 0.28571em;
    }
    .ruButton.ruButtonHover {
      color: @color1;
      border-color: #eeeeee;
      background-color: #e6e6e6;
    }
  }
  .ruDropZone {
    color: @color1;
    border-color: #dddddd;
    background-color: #fcfcfc;
    border-radius: 0.28571em;
  }
}