@color1:#d9d9d9;
@color2:#ffffff;
@color3:#333333;
@color4:#dddddd;
@color5:#555555;

.RadWindow {
  padding: 10px;
}

.rwWindowContent {
  width: 100%;
  height: 100%;
}

.rwTitlebarControls {
  float: right;
}

.rwControlButtons {
  list-style: none;
}

.rwControlButtons li {
  display: inline-block;
}

.rwControlButtons span {
  color: transparent;
}

.rwReloadButton {
  background-image: url('images/Common/refresh.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.rwCloseButton {
  background-image: url('images/Common/close.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.rwWindowContent > div {
  height:auto !important;
  width:auto !important;
  overflow:hidden !important;
}

.RadWindow_Breg {
  background-color: @color2;
  color: @color3;
  font-size: 1em;
  border-color: @color1;
  &.rwShadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &.RadWindow {
    &.rwRoundedCorner {
      .rwTitleBar {
        border-radius: 0.28571em 0.28571em 0em 0em;
      }
    }
  }
  .rwTitleBar {
    background-color: #f5f5f5;
    .rwTitleWrapper {
      min-height: 2.14286em;
      padding: 0.42857em 0.71429em;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: @color1;
    }
  }
  &.rwCollapsed {
    .rwTitleBar {
      border-bottom-color: @color1;
    }
  }
  &.rwMinimizedWindow {
    .rwTitleWrapper {
      border-bottom: 0;
      .rwTitle {
        width: 40%;
      }
    }
  }
  .rwCommands {
    margin: -1.21429em 0em 0em;
    .rwCommandButton {
      text-indent: 0;
      background-image: none;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      &:hover {
        background-color: #ebebeb;
        border-color: #d0d0d0;
        border-radius: 0.21429em;
      }
      &:before {
        text-align: center;
        color: @color3;
        margin: 0.28571em 0em 0em 0.21429em;
      }
    }
  }
  .rwContent {
    background-color: @color2;
    border: 0;
  }
  .rwStatusBar {
    background-color: @color2;
    border-color: transparent;
    border-top-color: @color1;
    margin: 0.5em -0.5em 0em -0.5em;
    height: 2.64286em;
    height: 2.14286em \9;
    border-radius: 0em 0em 0.28571em 0.28571em;
    input {
      color: @color3;
      font-size: 1em;
    }
    .rwResize {
      right: .1em;
      right: 0.21429em;
      bottom: 0.14286em;
    }
  }
  .rwLoading {
    &.rwStatusBar {
      background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Silk.Common.loading_small.gif")%>');
    }
  }
  .rwListItem {
    width: 2.28571em;
    height: 2.28571em;
    .rwCommandButton {
      width: 2.28571em;
      height: 2.28571em;
      margin: 0em 0.14286em;
    }
  }
  .rwDialog {
    margin: 0.35714em 0em 0em;
    background-image: none;
    &:before {
      font-size: 36px;
    }
  }
  .rwAlertDialog {
    &:before {
      content: "\E0FA";
    }
  }
  .rwConfirmDialog {
    &:before {
      content: "\E0FB";
    }
  }
  .rwDialogButtons {
    input {
      padding: 0.42857em 0.85714em;
      padding: 0.46429em 0.85714em \9;
      border-color: #eeeeee;
      color: @color3;
      background-color: @color2;
      background-image: linear-gradient();
      &:focus {
        outline-width: thin;
        outline-style: dotted;
        outline-offset: -2px;
        outline-color: #d0d0d0;
      }
      &:active {
        border-color: #afafaf;
        color: @color3;
        background-color: #e6e6e6;
        background-image: linear-gradient();
        color: @color3;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
      }
    }
  }
  .rwPromptInput {
    &:focus {
      background-color: @color2;
      color: @color5;
      border-color: #3c87c8;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
      outline: 0 none;
    }
    &:active {
      background-color: @color2;
      color: @color5;
      border-color: @color4;
    }
    &:disabled {
      background-color: #eeeeee;
      color: #888888;
      border-color: @color4;
    }
  }
  &.rwRtl {
    .rwCommands {
      margin: -1.21429em 0em 0em;
      .rwCommandButton {
        &:before {
          margin: 0.21429em 0.21429em 0em 0em;
        }
      }
    }
  }
}
.RadWindow_Breg.RadWindow.rwRoundedCorner,
.RadWindow_Breg.RadWindow.rwCollapsed.rwRoundedCorner .rwTitleBar,
.RadWindow_Breg.RadWindow.rwMinimizedWindow.rwRoundedCorner .rwTitleBar {
  border-radius: 0.28571em;
}