﻿.RadWindow {
  padding: 10px;
}
.rwWindowContent {
  width: 100%;
  height: 100%;
}
.rwTitlebarControls {
  float: right;
}
.rwControlButtons {
  list-style: none;
}
.rwControlButtons li {
  display: inline-block;
}
.rwControlButtons span {
  color: transparent;
}
.rwReloadButton {
  background-image: url('images/Common/refresh.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.rwCloseButton {
  background-image: url('images/Common/close.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.rwWindowContent > div {
  height: auto !important;
  width: auto !important;
  overflow: hidden !important;
}
.RadWindow_Breg {
  background-color: #ffffff;
  color: #333333;
  font-size: 1em;
  border-color: #d9d9d9;
}
.RadWindow_Breg.rwShadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.RadWindow_Breg.RadWindow.rwRoundedCorner .rwTitleBar {
  border-radius: 0.28571em 0.28571em 0em 0em;
}
.RadWindow_Breg .rwTitleBar {
  background-color: #f5f5f5;
}
.RadWindow_Breg .rwTitleBar .rwTitleWrapper {
  min-height: 2.14286em;
  padding: 0.42857em 0.71429em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d9d9d9;
}
.RadWindow_Breg.rwCollapsed .rwTitleBar {
  border-bottom-color: #d9d9d9;
}
.RadWindow_Breg.rwMinimizedWindow .rwTitleWrapper {
  border-bottom: 0;
}
.RadWindow_Breg.rwMinimizedWindow .rwTitleWrapper .rwTitle {
  width: 40%;
}
.RadWindow_Breg .rwCommands {
  margin: -1.21429em 0em 0em;
}
.RadWindow_Breg .rwCommands .rwCommandButton {
  text-indent: 0;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.RadWindow_Breg .rwCommands .rwCommandButton:hover {
  background-color: #ebebeb;
  border-color: #d0d0d0;
  border-radius: 0.21429em;
}
.RadWindow_Breg .rwCommands .rwCommandButton:before {
  text-align: center;
  color: #333333;
  margin: 0.28571em 0em 0em 0.21429em;
}
.RadWindow_Breg .rwContent {
  background-color: #ffffff;
  border: 0;
}
.RadWindow_Breg .rwStatusBar {
  background-color: #ffffff;
  border-color: transparent;
  border-top-color: #d9d9d9;
  margin: 0.5em -0.5em 0em -0.5em;
  height: 2.64286em;
  height: 2.14286em \9;
  border-radius: 0em 0em 0.28571em 0.28571em;
}
.RadWindow_Breg .rwStatusBar input {
  color: #333333;
  font-size: 1em;
}
.RadWindow_Breg .rwStatusBar .rwResize {
  right: .1em;
  right: 0.21429em;
  bottom: 0.14286em;
}
.RadWindow_Breg .rwLoading.rwStatusBar {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Silk.Common.loading_small.gif")%>');
}
.RadWindow_Breg .rwListItem {
  width: 2.28571em;
  height: 2.28571em;
}
.RadWindow_Breg .rwListItem .rwCommandButton {
  width: 2.28571em;
  height: 2.28571em;
  margin: 0em 0.14286em;
}
.RadWindow_Breg .rwDialog {
  margin: 0.35714em 0em 0em;
  background-image: none;
}
.RadWindow_Breg .rwDialog:before {
  font-size: 36px;
}
.RadWindow_Breg .rwAlertDialog:before {
  content: "\E0FA";
}
.RadWindow_Breg .rwConfirmDialog:before {
  content: "\E0FB";
}
.RadWindow_Breg .rwDialogButtons input {
  padding: 0.42857em 0.85714em;
  padding: 0.46429em 0.85714em \9;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  background-image: linear-gradient();
}
.RadWindow_Breg .rwDialogButtons input:focus {
  outline-width: thin;
  outline-style: dotted;
  outline-offset: -2px;
  outline-color: #d0d0d0;
}
.RadWindow_Breg .rwDialogButtons input:active {
  border-color: #afafaf;
  background-color: #e6e6e6;
  background-image: linear-gradient();
  color: #333333;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.RadWindow_Breg .rwPromptInput:focus {
  background-color: #ffffff;
  color: #555555;
  border-color: #3c87c8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.RadWindow_Breg .rwPromptInput:active {
  background-color: #ffffff;
  color: #555555;
  border-color: #dddddd;
}
.RadWindow_Breg .rwPromptInput:disabled {
  background-color: #eeeeee;
  color: #888888;
  border-color: #dddddd;
}
.RadWindow_Breg.rwRtl .rwCommands {
  margin: -1.21429em 0em 0em;
}
.RadWindow_Breg.rwRtl .rwCommands .rwCommandButton:before {
  margin: 0.21429em 0.21429em 0em 0em;
}
.RadWindow_Breg.RadWindow.rwRoundedCorner,
.RadWindow_Breg.RadWindow.rwCollapsed.rwRoundedCorner .rwTitleBar,
.RadWindow_Breg.RadWindow.rwMinimizedWindow.rwRoundedCorner .rwTitleBar {
  border-radius: 0.28571em;
}