﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VisionLandingNew.ascx.cs" Inherits="BregVision.UserControls.LandingPage.VisionLandingNew" %>
<script language="javascript" type="text/javascript">
// <![CDATA[

    function Img4_onclick() {

    }

// ]]>
</script>



<style type="text/css">


.addToCart 
{
    height: 48px;
    width: 224px;
    background-image: url(Images/DefaultRotaterBaseImageRight.gif);    
}
 .Copyright
 {
    text-align: center;
    font-family: Verdana, Arial;
    font-size: 8pt;
    color: Black;
    /*background-color: #F4F8FA;
    height: 10px;*/
 }
.jewelryImage 
{
    height: 251px;
    width: 153px;    
    float: left;
}
.jewelryRightPane 
{
    height: 251px;
    width: 224px;
    float: left;
}
.jewelryDescription 
{
    height: 168px;
    width: 600px;
    background-image: url(Images/DefaultRotaterBaseImageRight.gif);
}
.jewelryDescription_Text 
{
    font: normal 14px Arial, Verdana, Helvetica;
    color: #575759;
    margin-left: 10px;
    padding-top: 10px;
    margin-right: 5px;
}
.jewelryName
{
    height: 35px;
    width: 224px;
}



    .style2
    {
        width: 175px;
    }



</style>


<table cellpadding="0" cellspacing="0" width="100%" border="0">
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" width="745px" border="0">
                    <tr>
                        <td>
                            <table width="745px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width:211px">
                                        <a href="http://www.breg.com" target="_blank">
                                        <img border="0" id="Img1" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_07.jpg")%>"  /></a>
                                    </td>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr align="left">
                                                <td colspan="5"></td>
                                            </tr>
                                            <tr align="left">
                                                <td>
                                                    <a href="http://www.breg.com/orthopedic-practice-solutions/select.html" target="_blank">
                                                    <img border="0" id="Img2" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_11.jpg")%>"  /></a>
                                                </td>
                                                <td style="width:20px" align="center">
                                                    <img id="Img3" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_13.jpg")%>"  />
                                                </td>
                                                <td>
                                                    <a href="http://www.bregcalc.com" target="_blank">
                                                    <img border="0" id="Img4" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_15.jpg")%>"" /></a>
                                                </td>
                                                <td style="width:20px" align="center">
                                                    <img id="Img5" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_17.jpg")%>"  />
                                                </td>
                                                <td>
                                                    <a href="http://www.breg.com" target="_blank">
                                                    <img id="Img6" border="0" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_19.jpg")%>"  /></a>
                                               </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="left">
                                        <table border="0" style="color:#666666;font-family:Arial;font-size:0.8em;">
                                            <tr> 
                                                <td colspan="2" align="right">
                                                    <%--<input type="image" name="ctlExpressLanding$Login$LoginImageButton" id="ctlExpressLanding_Login_LoginImageButton" src="~/Images/LoginButton.gif" alt="Log In" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctlExpressLanding$Login$LoginImageButton&quot;, &quot;&quot;, true, &quot;ctlExpressLanding$Login&quot;, &quot;&quot;, false, false))" style="color:#284E98;background-color:White;border-color:#507CD1;border-width:1px;border-style:None;font-family:Verdana;font-size:0.8em;" />--%>
                                                    <asp:Login ID="Login" runat="server" BackColor="White" BorderColor="#0e4e96" BorderPadding="2"
                                                        BorderStyle="None" BorderWidth="1px" DestinationPageUrl="~/processlogin.aspx"
                                                        DisplayRememberMe="true" EnableTheming="true" EnableViewState="false" 
                                                        Font-Names="Arial" Font-Size="0.8em" ForeColor="#666666" LoginButtonImageUrl="~/Images/LoginButton.gif"
                                                        LoginButtonType="Image" RememberMeText="Remember Me" TitleText="">
                                                        <TitleTextStyle BackColor="#507CD1" Font-Bold="True" Font-Size="0.9em" ForeColor="White" />
                                                        <TextBoxStyle Font-Size="0.8em" Width="100px" />
                                                        <LabelStyle Font-Size="0.8em" />
                                                        <InstructionTextStyle Font-Italic="True" Font-Size="0.8em" ForeColor="Black" />
                                                        <LoginButtonStyle BackColor="White" BorderColor="#507CD1" BorderStyle="None" BorderWidth="1px"
                                                            Font-Names="Verdana" Font-Size="0.8em" ForeColor="#284E98" />
                                                    </asp:Login>
                                                 </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>  
                            </table>
            <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td><img src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_23new.jpg")%>" /></td>
                <td align="left"><img src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_24new.jpg")%>" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr align="left">
                            <td valign="top"><img src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_26new.jpg")%>" /><br /><br />
                                <img src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_29new.jpg")%>" />
                            </td>
                            <td>
                                <a href="http://www.cio.com/cio100/detail/2009" target="_blank">
                                <img border="0" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_27new.jpg")%>"  /></a><br /><br />
                                <a href="<%=GetAbsPath("~/content/breg vision quick_demo.exe")%>" target="_blank">
                                <img border="0" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_33.jpg")%>" /></a><br /><br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
                               
                        </td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="770px">
                    <tr>
                        <td align="left" colspan="5" style="background-color: #D9B33B; height: 1px"></td>
                    </tr>
                    <tr>
                        <td align="left" valign="top"><br />
                            <table cellpadding="3" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img id="Img7" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_44.jpg")%>"  />
                                        <br />
                                    </td>
                                 </tr>
                                <tr>
                                    <td>
                                        <img id="Img8" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_51.jpg")%>"  /><br />
                                        <img id="Img9" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_60.jpg")%>"  /><br />
                                        <a href="http://www.breg.com/orthopedic-practice-solutions/select.html" target="_blank">
                                            <img border="0" id="Img10" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_61.jpg")%>"  />
                                        </a>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                         <a href="http://www.breg.com/orthopedic-practice-solutions/select.html" target="_blank">
                                        <img src="<%=GetAbsPath("~/images/VisionLanding/breg_web_vision_71.jpg")%>" alt="" border="0"> 
                                        </a>
                                    </td>
                                </tr>                                
                            </table>
                           
                        </td>
                        <td rowspan="3" style="background-color: #D9B33B; width:1px">
                            </td>
                        <td align="left" class="style2" valign="top">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td colspan="2"><br />
                                        <img id="Img11" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_46.jpg")%>"  /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img id="Img12" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_56.jpg")%>"  /><br />
                                        <img id="Img13" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_68.jpg")%>"  /><br />
                                        <a href="http://www.bregcalc.com" target="_blank">
                                        <img border="0" id="Img14" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_69new.jpg")%>"  /></a>
                                    </td>
                                    <td>
                                        <a href="http://www.cio.com/cio100/detail/2009" target="_blank">
                                        <img border="0" id="Img15" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_57.jpg")%>"  /></a>
                                    </td>                                 
                                </tr>
                           </table>
                        </td>
                        <td rowspan ="3" style="background-color: #D9B33B; width:1px">
                        </td>
                        <td align="left" valign="top">
                            <table>
                                <tr>
                                    <td>
                                        <br />
                                         <img id="Img16" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_49.jpg")%>"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         <img id="Img17" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_58.jpg")%>"  /><br />
                                         <img id="Img18" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_64.jpg")%>"  /><br />
                                         <a href="http://www.breg.com" target="_blank">
                                         <img border="0" id="Img19" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_65.jpg")%>"  /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                         <a href="http://www.bregcalc.com" target="_blank">
                            <img border="0" id="Img21" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_76.jpg")%>"  /></a>     
                                    </td>
                                </tr>           
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">
                            <%--<a href="http://www.breg.com/orthopedic-practice-solutions/select.html" target="_blank">
                            <img src="<%=GetAbsPath("~/images/VisionLanding/breg_web_vision_71.jpg")%>" width="146" height="54" alt="" border="0"> 
                            </a>--%>
                        </td>
                        <td align="left" class="style2">
                        </td>
                        <td align="right" valign="top">                            
                            <%--<a href="http://www.bregcalc.com" target="_blank">
                            <img border="0" id="Img21" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_76.jpg")%>"  /></a>--%>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="background-color: #D9B33B; height:1px;"></td>
                    </tr>
                    <tr>
                        <td colspan="5" align="left">
                             <br />
                             <img id="Img22" src="<%=GetAbsPath("~/Images/VisionLanding/breg_web_vision_84.jpg")%>"  />
                        </td>
                    </tr>
                </table>            

            </td>
        </tr>
     </table>
