/* r.a.d.inpput MAC skin */

.radInput_Mac, .radInput_Mac table
{
	/*set the commented width style if you have set ShowButton="true" in the control*/
	width: 180px !important; /*width: 200px !important; */
	height: 24px !important;
	margin: 0;
	padding: 0;
	border: 0;
}

.radInput_Mac
{
	*padding-bottom: 4px; /*IE hack*/	
}

.radEnabledCss_Mac,
.radDisabledCss_Mac,
.radEmptyMessageCss_Mac,
.radFocusedCss_Mac,
.radNegativeCss_Mac,
.radInvalidCss_Mac,
.radHoverCss_Mac
{
	height: 22px;
	width: 167px !important;
	padding: 6px 6px 0 6px !important;
	margin: 0 3px 0 0;
	border: 0;
	font: bold 12px Arial, Verdana, Tahoma, Sans-Serif;
	vertical-align: middle !important;
}

.radHoverCss_Mac
{
	background: transparent url('Img/over.gif') no-repeat;
	_background-attachment: fixed;
	color: #262626;
}

.radEnabledCss_Mac,
.radEmptyMessageCss_Mac,
.radNegativeCss_Mac
{
	background: transparent url('Img/default.gif') no-repeat;
	_background-attachment: fixed;
	color: #262626;
}

.radDisabledCss_Mac
{
	background: transparent url('Img/default.gif') no-repeat;
	_background-attachment: fixed;	
	color: Gray;
}

.radFocusedCss_Mac
{
	background: transparent url('Img/focus.gif') no-repeat;
	_background-attachment: fixed;
	color: #262626;
}

/* nasty Safari hack */
:root .radFocusedCss_Mac 
{
	[hack: safari; /* (the first property will always fail, it is a dummy one) */
	background: none;
	height: 19px !important;
	width: 172px !important;
	margin: 3px 10px 0 3px;
	padding: 3px 0 0 2px !important;]
}

.radInvalidCss_Mac
{
	background: transparent url('Img/error.gif') no-repeat;
	_background-attachment: fixed;
	color: red;
}

.radLabelCss_Mac
{
	font: normal 10px Verdana, Arial, Sans-serif; 
	color: #b7b7b7; 
	padding-right: 5px;
}

/* input buttons */

/* SPIN BUTTONS */
.radInput_Mac .spinImgCell
{			
	padding: 5px 0 0 0;	
}

.radInput_Mac a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;	
}

.radInput_Mac a.spinbutton.up
{
	background-position: left 0;
}

.radInput_Mac a.spinbutton.down
{
	background-position: left -9px;
}

.radInput_Mac a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;
}

/* end of input buttons */

.radHint_Mac
{
	background: white url(Img/hintBg.gif) no-repeat;
	_background-attachment: fixed;
	height: 25px;	
	width: 179px;
	padding-top: 8px;
	margin-top:-5px;
}

.radHint_Mac a,
.Hint_Mac a:visited,
.radHint_Mac a:hover
{
	color: black;
	text-decoration: none;
	font-size: 12px;
	margin: 2px;
}