@font-face { font-family: 'Avenir'; src: url('fonts/AvenirNextLTPro-Regular.woff') format('woff'); }

/* general */
html, body { position: relative; height: 100%; width: 100%; margin: 0; padding: 0; }

/* general element styles */
#imgr-container input[type="checkbox"] { margin: 0; vertical-align: top; }
#imgr-container input[type="text"], #imgr-container input[type="number"], #imgr-container select { height: 19px; }
#imgr-actions-container input { color: #999999 !important; font-family: 'Avenir' !important; }
#imgr-container input[required="true"] { /*border-width: medium medium 2px; border-style: none none solid; border-color: #56b7fa; border-image: none; transition: border 0.3s ease 0s;*/ }
#imgr-editor-container input { color: #303030; }

/* containers */
#imgr-container { position: relative; width: 90%; height: 100%; margin-left: auto; margin-right: auto; font-family: 'Avenir', 'Arial', sans-serif; font-size: 9pt; min-height: 950px; }
#imgr-actions-container { position: absolute; top: 0; left: 0; width: 200px; height: 100%; background-color: #f2f2f2; color: #999999; }
#imgr-editor-container { position: relative; padding-left: 210px; height: 100%; color: #999999; min-width: 800px; }
#imgr-editor-container > div { left: 210px; right:0; }

/* sub-containers (action boxes) */
#imgr-invoice-actions { position: absolute; top: 0; left: 4px; right: 4px; text-align: center; padding-top: 42px; bottom: 50%; }
#imgr-po-actions { position: absolute; top: 50%; left: 4px; right: 4px; bottom: 0; text-align: center; }

/* sub-containers (editor windows) */
#imgr-current-invoice, #imgr-export-invoice { position: absolute; top: 0; height: 50%; background-color: #fbfbfb; }
#imgr-current-po { position: absolute; top: 50%; height: 50%; background-color: #fbfbfb; }

/* action box titles */
#imgr-action-search-title, #imgr-action-create-title, #imgr-action-po-title { line-height: 3; margin: 0 -4px; color: white; margin-bottom: 8px; font-size: 120%; }
.imgr-action-title, .imgr-action-expandcollapse { display: inline-block; }
.imgr-action-expandcollapse { position: absolute; right: 8px; cursor: pointer; }
#imgr-action-search-title { background-color: #035083; position: absolute; width: 100px; top: 0; right: 0; cursor: pointer; }
#imgr-action-create-title { background-color: #558810; position: absolute; width: 100px; top: 0; left: 0; cursor: pointer; }
#imgr-action-search-title img, #imgr-action-create-title img { vertical-align: middle; }
#imgr-action-po-title { background-color: #803f67; }

/* editor window titles */
#imgr-invoice-title, #imgr-po-title, #imgr-export-title { line-height: 3; font-size: 120%; margin-bottom: 10px; text-align: center; color: white; }
#imgr-invoice-title { background-color: #99531e; }
#imgr-po-title { background-color: #3f7b80; }
#imgr-export-title { background-color: #aa8439; }

/* action box content */
.imgr-search-parameter, .imgr-search-action { margin-bottom: 10px; }

/* editor window content (overlays) */
.imgr-overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 64px; background-color: rgba(255,255,255,0.75); }
.imgr-modal-overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 64px; background-color: rgba(255,255,255,0.75); }
.imgr-overlay-text { position: absolute; top: 50%; left: 0; right: 0; bottom: 0; margin-top: -32px; text-align: center; color: #c5c5c5; }

.imgr-export-legend { float: left; padding-left: 20px; }
.imgr-export-legend-coloritem { display: inline-block; width: 20px; height: 20px; vertical-align: middle; }


		.imgr-search-dateinput, .imgr-search-dateinputsmall { text-align: center; display: inline-block; }
		.imgr-search-dateinput input[type="text"], .imgr-search-dateinputsmall input[type="text"] { margin-bottom: 1px; }
		.imgr-search-dateinputsmall input[type="text"] { width: 70px !important; }
		.imgr-search-dateinput label, .imgr-search-dateinputsmall label { display: block; }
		#imgr-invoice-action-create { display: none; }
		.imgr-invoice-details, .imgr-invoice-headerrow, .imgr-invoice-itemrow, .imgr-invoice-totalrow, .imgr-po-details, .imgr-po-headerrow, .imgr-po-itemrow, .imgr-export-headerrow, .imgr-export-itemrow { position: relative; left: 8px; margin-right: 16px; margin-bottom: 8px; }
		.imgr-invoice-totalrow { margin-bottom: 4px; }
		.imgr-invoice-details > div { display: inline-block; margin-right: 10px; }

		.imgr-invoice-actionrow, .imgr-po-actionrow, .imgr-export-actionrow { text-align: right; position: absolute; bottom: 0; left: 0; right: 0; line-height: 4; background-color: #f2f2f2; padding-right: 32px; border-top: 1px solid #e1e1e1; }
		#imgr-container button { margin: 12px 3px 10px 3px; height: 30px; width: 150px; border: 0; border-bottom: 1px solid #828282; color: white; cursor: pointer; }
		.imgr-modal { position: absolute; top: 30%; bottom: 30%; left: 32%; right: 32%; background-color: #f2f2f2; border: 2px solid #d8d8d8; }
		.imgr-search-parameter select { width: 150px; }
		.imgr-search-parameter input[type="text"] { width: 150px; }
		.imgr-invoice-search { background-color: #035083;color: #d9d9d9; cursor: default !important; }
		.imgr-invoice-refresh { background-color: #99531e;color: #d9d9d9; cursor: default !important; }
		.imgr-po-refresh { background-color: #99531e;color: #d9d9d9; cursor: default !important; }
		.imgr-invoice-create { background-color: #558810;color: #d9d9d9; cursor: default !important; }
		.imgr-invoice-create:disabled { background-color: gray;color: #d9d9d9; cursor: default !important; }
		.imgr-purchase-order-search { background-color: #803f67;color: #d9d9d9; cursor: default !important; }
		.imgr-save-invoice-button { background-color: #558810;color: #d9d9d9; cursor: default !important; }
		.imgr-save-invoice-button:disabled{background-color: grey;  cursor: default !important; }
		.imgr-add-to-invoice-button { background-color: #3f7b80;color: #d9d9d9; cursor: default !important; }
		.imgr-add-to-invoice-button:disabled{background-color: grey;  cursor: default !important; }
		.imgr-inactive-button { color: #d9d9d9 !important; cursor: default !important; }
		.imgr-dialog-buttons .imgr-destructive-button { background-color: #bc0031 !important; }
		button.imgr-destructive-button { background-color: #bc0031; }
		.imgr-modal .imgr-dialog-prompt { font-size: 120%; text-align: center; position: absolute; top: 50%; left: 0; right: 0; margin-top: -10%; }
		.imgr-modal .imgr-dialog-buttons { text-align: center; position: absolute; top: 50%; left: 0; right: 0; margin-bottom: -10%; }
		.imgr-modal .imgr-dialog-buttons .imgr-safe-button { background-color: #b5b5b5; }
		.imgr-button-yesno { font-size: 120%; }



		#imgr-invoice-items, #imgr-po-items, #imgr-export-items { overflow: auto; min-height: 50px; }

        .imgr-invoice-headerrow, .imgr-po-headerrow, .imgr-invoice-searchresults-headerrow, .imgr-po-searchresults-headerrow, .imgr-export-headerrow { color: #555555; margin-bottom: 6px; }

        .imgr-invoice-headerrow > div, .imgr-po-headerrow > div, .imgr-invoice-searchresults-headerrow > div, .imgr-po-searchresults-headerrow > div, .imgr-export-headerrow > div { display: inline-block; border-bottom: 1px solid #d9d9d9; vertical-align: text-bottom; }

        .imgr-invoice-itemrow, .imgr-po-itemrow, .imgr-invoice-searchresults-itemrow, .imgr-po-searchresults-itemrow, .imgr-export-itemrow { cursor: pointer; line-height: 1.4; margin-bottom: 3px; }
		.imgr-invoice-itemrow:hover, .imgr-po-itemrow:hover, .imgr-invoice-searchresults-itemrow:hover, .imgr-po-searchresults-itemrow:hover, .imgr-export-itemrow:hover { color: #5fb2fc; }

        .imgr-invoice-itemrow a > img { vertical-align: text-bottom; margin: 0; padding: 0; }
        .imgr-invoice-itemrow input { width: 50%; vertical-align: bottom; }

        .imgr-invoice-itemrow > div, .imgr-invoice-searchresults-itemrow > div, .imgr-po-searchresults-itemrow > div, .imgr-export-itemrow > div { display: inline-block; vertical-align: middle; }
        .imgr-po-itemrow > div { display: inline-block; vertical-align: top; }

		.imgr-invoice-header-item1, .imgr-invoice-row-item1 { width: 30%; text-align: left; }
		.imgr-invoice-header-item2, .imgr-invoice-row-item2 { width: 10%; text-align: left; }
		.imgr-invoice-header-item3, .imgr-invoice-row-item3 { width: 25%; text-align: left; }
		.imgr-invoice-header-item4, .imgr-invoice-row-item4 { width: 5%; text-align: center; }
		.imgr-invoice-header-item5, .imgr-invoice-row-item5 { width: 10%; text-align: left; }
		.imgr-invoice-header-item6, .imgr-invoice-row-item6 { width: 10%; text-align: left; }
		.imgr-invoice-header-item7, .imgr-invoice-row-item7 { width: 5%; text-align: left; border: none; }

        .imgr-po-header-item1, .imgr-po-row-item1 { width: 4%; text-align: center; }
		.imgr-po-header-item2, .imgr-po-row-item2 { width: 30%; text-align: left; }
		.imgr-po-header-item3, .imgr-po-row-item3 { width: 10%; text-align: left; }
		.imgr-po-header-item4, .imgr-po-row-item4 { width: 5%; text-align: center; }
		.imgr-po-header-item5, .imgr-po-row-item5 { width: 5%; text-align: center; }
		.imgr-po-header-item6, .imgr-po-row-item6 { width: 5%; text-align: center; }
		.imgr-po-header-item7, .imgr-po-row-item7 { width: 10%; text-align: left; }
		.imgr-po-header-item8, .imgr-po-row-item8 { width: 26%; text-align: left; }

        .imgr-po-item8-subitem1, .imgr-po-item8-subitem2 { display: inline-block; overflow-wrap: break-word; vertical-align: top; }
        .imgr-po-item8-subitem1 { width: 50%; }

		.imgr-invoice-searchresults-header-item0, .imgr-invoice-searchresults-row-item0 { width:  50px; }
		.imgr-invoice-searchresults-header-item1, .imgr-invoice-searchresults-row-item1 { width: 150px; }
		.imgr-invoice-searchresults-header-item2, .imgr-invoice-searchresults-row-item2 { width: 200px; }
		.imgr-invoice-searchresults-header-item3, .imgr-invoice-searchresults-row-item3 { width: 100px; }
		.imgr-invoice-searchresults-header-item4, .imgr-invoice-searchresults-row-item4 { width: 160px; }
		.imgr-invoice-searchresults-header-item5, .imgr-invoice-searchresults-row-item5 { width: 160px; }
		.imgr-invoice-searchresults-header-item6, .imgr-invoice-searchresults-row-item6 { width: 160px; }
		.imgr-invoice-searchresults-header-item7, .imgr-invoice-searchresults-row-item7 { width: 160px; }

        .imgr-po-searchresults-header-item1, .imgr-po-searchresults-row-item1 { width: 300px; }
		.imgr-po-searchresults-header-item2, .imgr-po-searchresults-row-item2 { width: 200px; }
		.imgr-po-searchresults-header-item3, .imgr-po-searchresults-row-item3 { width: 140px; }

        .imgr-export-header-item0, .imgr-export-row-item0 { width: 4%; text-align: center; }
        .imgr-export-header-item1, .imgr-export-row-item1 { width: 15%; text-align: left; }
        .imgr-export-header-item2, .imgr-export-row-item2 { width: 15%; text-align: left; }
        .imgr-export-header-item3, .imgr-export-row-item3 { width: 10%; text-align: left; }
        .imgr-export-header-item4, .imgr-export-row-item4 { width: 8%; text-align: left; }
        .imgr-export-header-item5, .imgr-export-row-item5 { width: 4%; text-align: center; }
        .imgr-export-header-item6, .imgr-export-row-item6 { width: 10%; text-align: left; }
        .imgr-export-header-item7, .imgr-export-row-item7 { width: 10%; text-align: left; }
        .imgr-export-header-item8, .imgr-export-row-item8 { width: 15%; text-align: left; }

		.imgr-invoice-totalrow > div { display: inline-block; }
		.imgr-invoice-totalrow .imgr-invoice-row-label { width: 81%; text-align: right; }
		.imgr-invoice-totalrow .imgr-invoice-row-value { width: 14%; text-align: left; }
		.imgr-invoice-totalrow .imgr-invoice-row-value-readonly input, .imgr-invoice-suppliername input { background-color: #d5d5d5 !important;border-style: solid;border-color: #d5d5d5;border-width: 2px}






		#imgr-invoice-action-search .imgr-invoice-action-select-decoration { width: 30px; position: relative; left: 130px; }
		#imgr-invoice-action-create .imgr-invoice-action-select-decoration { width: 30px; position: relative; left: 32px; }
		#imgr-invoice-action-searchresults, #imgr-po-action-searchresults { position: absolute; top: 10px; left: 206px; width: 0; bottom: 10px; overflow: hidden; }
		#imgr-invoice-action-searchresults #imgr-invoice-searchresults-title, #imgr-po-action-searchresults #imgr-po-searchresults-title { line-height: 3; font-size: 120%; margin-bottom: 10px; text-align: center; color: #fff; }
		#imgr-invoice-action-searchresults #imgr-invoice-searchresults-title { background-color: #035083; }
		#imgr-po-action-searchresults #imgr-po-searchresults-title { background-color: #803f67; }
		#imgr-invoice-action-searchresults .imgr-searchresults-decoration, #imgr-po-action-searchresults .imgr-searchresults-decoration { position: absolute; left: 0; top: 50%; bottom: 0; width: 15px; margin-top: -15px; }
		#imgr-invoice-action-searchresults .imgr-searchresults-content, #imgr-po-action-searchresults .imgr-searchresults-content { position: absolute; left: 15px; top: 0; bottom: 0; width: 675px; margin: 0; border-width: 1px 1px 1px 8px; border-style: solid; background-color: #fbfbfb; }
		#imgr-invoice-action-searchresults, #imgr-po-action-searchresults { filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4)); }
		#imgr-invoice-action-searchresults .imgr-searchresults-content { border-color: #035083; }
		#imgr-po-action-searchresults .imgr-searchresults-content { border-color: #803f67; text-align: center; }





		.imgr-searchcolor { background-color: #0099ff !important; }
		.imgr-savecolor { background-color: #009900 !important; }
		.imgr-addcolor { background-color: #f26239 !important; }
		.imgr-deletecolor { background-color: #bc0031 !important; }
        .imgr-po-searchresults-detailsrow { margin-bottom: 10px; }
        .imgr-results-row-even { background-color: #fbfbfb; }
		.imgr-results-row-odd { background-color: #f5f5f5; }
        .imgr-warn {color: #bc0031}
        .hidden{display: none}
        .exported{background-color: lightgreen}
