﻿/* WRAPPER SETTINGS */

.radInput_WebBlue
{
	font-family: Arial, Verdana, Tahoma, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
}

.radInput_WebBlue table
{
	width: 179px;
	border: 0;
	margin: 0;
	padding: 0;
}

.radInput_WebBlue .inputCell 
{
	padding: 0 2px 0 0;	
	*padding: 0 4px 0 0; /*IE hack*/	
}

.radInput_WebBlue .inputCell input,
.radInput_WebBlue .inputCell textarea
{	
	margin: 0;
}

.radInput_WebBlue .imageCell,
.radInput_WebBlue .spinImgCell
{	
	padding: 2px 2px 0 0;	
	outline: none;
}

/* SPIN BUTTONS */

.radInput_WebBlue a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	top: 2px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;	
}

.radInput_WebBlue a.spinbutton.up
{
	background-position: center 0;
}

.radInput_WebBlue a.spinbutton.down
{
	background-position: center -9px;
}

.radInput_WebBlue a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;
}

/* END OF WRAPPER SETTINGS */



/* INPUT STYLES SETTINGS */
.radEnabledCss_WebBlue 
{
	width: 179px;
	color: #afbec5;
	border: solid 1px #afbec5;
	background: #f7f8f9;
	background-color: #fff;
}

.radHoverCss_WebBlue 
{
	width: 179px;
	color: #899aa2;
	border: solid 1px #899aa2;
	background-color: #fff;
}

.radDisabledCss_WebBlue
{
	width: 179px;
	color: #e7e9eb;
	border: solid 1px #afbec5;
	background: #f7f8f9;
}

.radDisabledCss_WebBlue a.gobutton,
.radDisabledCss_WebBlue a.spinbutton
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity: .3; 
	-moz-opacity: .3;
	cursor: no-drop;
}

.radEmptyMessageCss_WebBlue
{
	width: 179px;
	color: #99ccff;
	border: solid 1px #899aa2;
	background: #fff;
}


.radFocusedCss_WebBlue
{
	width: 179px;
	background-color: #f7f8f9 !important;
	color: #899aa2;
	border: solid 1px #899aa2;
}

.radNegativeCss_WebBlue
{
	width: 179px;
	color: #003399;
	border: solid 1px #afbec5;
	background: #f7f8f9;
}

.radInvalidCss_WebBlue
{
	width: 179px;
	color: #003399;
	border: solid 1px #afbec5;
	background: #eaf0f1;
}

.radLabelCss_WebBlue
{
	color: #afbec5; 
	padding-right: 5px;
}

.radHint_WebBlue 
{
	background: infobackground;
	margin-top: 5px;
	border: solid 1px black;
	text-align: left;
	overflow: auto; 
}

.radHint_WebBlue a,
.radHint_WebBlue a:visited,
.radHint_WebBlue a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}
