﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VisionLiteLocationNavPanel.ascx.cs" Inherits="BregVision.Admin.PracticeSetup.VisionLiteLocationNavPanel" %>

<telerik:RadTabStrip ID="rtsLocationWizard" runat="server" Orientation="VerticalLeft" ScrollButtonsPosition="Left" 
                     SelectedIndex="0" OnTabClick="rtsLocationWizard_OnTabClick" CausesValidation="false"  Skin="Web20">
</telerik:RadTabStrip>