﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Changepassword.aspx.cs" Inherits="BregVision.Admin.Changepassword" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        
        <asp:ChangePassword 
            ID="ChangePassword1" 
            runat="server" 
            createuserurl="CreateUser.aspx" 
            createusertext="Create a New Account"  
            canceldestinationpageurl="HomeChangePassword.aspx" 
            displayusername="true" 
            continuedestinationpageurl="HomeChangePassword.aspx"/>

    </form>
</body>
</html>
