<%@ Page Language="C#" MasterPageFile="~/MasterPages/PracticeAdmin.Master"  AutoEventWireup="true" Inherits="Practice_Admin" Codebehind="Practice_Admin.aspx.cs" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

        <div style="width:100%; text-align: center">
        
                   
            
        </div>            
        
</asp:Content>
