<%@ Control Language="C#" AutoEventWireup="True" Codebehind="PracticeAdminImageHeader.ascx.cs"
    Inherits="BregVision.Admin.PracticeAdminImageHeader" %>
    <%@ OutputCache VaryByParam="none" Duration="360000" %>
<table width="779px" border="0" cellpadding="1" cellspacing="1">
    <tr valign="bottom">
        <td>
            <img src="Images/BregHeader.jpg" alt="BregHeader" />
        </td>
        <td align="left">
            <div id="CartID">
                <table border="0" cellpadding="1" cellspacing="1">
                    <tr>
                        <td style="width: 247px" align="right">
                            <img src="Images/admin.gif" alt="Administration" style="border: 0" /></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
