.radInput_Macromedia, .radInput_Macromedia table
{
	/*set the commented width style if you have set ShowButton="true" in the control*/
	width: 180px !important; /*width: 200px !important;*/
	height: 24px !important; 
	margin: 0;
	padding: 0;
	border: 0;
}

.radInput_Macromedia
{
	*padding-bottom: 4px; /*IE hack*/	
}

.radEnabledCss_Macromedia,
.radDisabledCss_Macromedia,
.radEmptyMessageCss_Macromedia,
.radFocusedCss_Macromedia,
.radNegativeCss_Macromedia,
.radInvalidCss_Macromedia,
.radHoverCss_Macromedia
{
	height:19px;
	width: 167px !important;
	padding: 6px 6px 0 6px !important;
	margin: 0 3px 0 0;
	border: 0;
	font: normal 12px Verdana, Arial, Tahoma, Sans-Serif;
	vertical-align: middle !important;
}

.radHoverCss_Macromedia
{
	background: transparent url('Img/over.gif') no-repeat;
	_background-attachment: fixed;
	color: #000000;
}

.radEnabledCss_Macromedia,
.radEmptyMessageCss_Macromedia,
.radNegativeCss_Macromedia
{
	background: transparent url('Img/default.gif') no-repeat;
	_background-attachment: fixed;
	color: #000000;
}

.radEmptyMessageCss_Macromedia
{
	color: #bfbfbf;
}

.radDisabledCss_Macromedia
{
	background: transparent url('Img/default.gif') no-repeat;
	_background-attachment: fixed;
	color: Gray;
}

.radInvalidCss_Macromedia
{
	background: transparent url('Img/error.gif') no-repeat;
	_background-attachment: fixed;
	color: #000;
	padding-right: 22px !important;
	width: 150px !important;
	margin-right: 9px;
}

.radFocusedCss_Macromedia
{
	background: transparent url('Img/focus.gif') no-repeat;
	_background-attachment: fixed;
	color: #000000;
}

.radNegativeCss_Macromedia
{
	color: #ff3333;
}

.radLabelCss_Macromedia
{
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	color: #000000;
	padding-right: 5px;
	font-size: 10px;
}

/* input buttons */

/* SPIN BUTTONS */
.radInput_Macromedia  .spinImgCell
{			
	padding: 5px 0 0 0;	
}

.radInput_Macromedia a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;		
}

.radInput_Macromedia a.spinbutton.up
{
	background-position: center 0;
}

.radInput_Macromedia a.spinbutton.down
{
	background-position: center -9px;
}

.radInput_Macromedia a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;
}

/* end of input buttons */
