<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="MasterBregAdmin.master.cs" Inherits="BregVision.BregAdmin.MasterBregAdmin" %>



<%@ Register Src="~/BregAdmin/UserBregAdmin.ascx" TagName="UserBregAdmin"
    TagPrefix="ucUser" %>

<%@ Register Assembly="RadComboBox.Net2" Namespace="Telerik.WebControls" TagPrefix="radC" %>
<%@ Register Assembly="RadSplitter.Net2" Namespace="Telerik.WebControls" TagPrefix="radspl" %>
<%@ Register Assembly="RadChart.Net2" Namespace="Telerik.WebControls" TagPrefix="radC" %>
<%@ Register Assembly="RadChart.Net2" Namespace="Telerik.Charting" TagPrefix="radC" %>
<%@ Register Assembly="RadTabStrip.Net2" Namespace="Telerik.WebControls" TagPrefix="radTS" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    
  
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Breg Vision</title>
    <link href="../Admin/Styles/AdminMasterStyle.css" rel="stylesheet" type="text/css" />
      <link runat="server" type="text/css" href="../App_Themes/Vision/Grid.Vision.css" rel="stylesheet" />

</head>
<body class="twoColHybRtHdr">
    <form id="Form1" runat="server">
        <div id="container">
            <div id="header">

                 <table width="779px" border="0" cellpadding="1" cellspacing="1">
                      <tr valign="bottom">
                        <td width="503px"><img src="../Admin/Images/BregHeader.jpg"/></td>
                        <td width="260px">
                            <div id="CartID">
                                <table width="263px" border="0" cellpadding="1" cellspacing="1">
                                    <tr>
                                        <td width="247px" align="right"><img src="../Admin/Images/admin.gif" alt="Administration" border="0"/></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                   </tr>
                </table>    
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height: 25px" colspan="3">
                        <span style="width: 100%"><img src="../Admin/Images/HeaderRow.jpg" alt="" width="100%" height="25px" border="0" id="IMG1" onclick="return IMG1_onclick()" /></span></td>
                    </tr>
                    <tr >
                        <td style="height: 61px" valign="top">
                            <!-- div plmbo user control  goes here-->
                            <!-- uc2:PracticeAdminPLHIM ID="PracticeAdminPLHIM1" -->
                            <ucUser:UserBregAdmin ID="UserBregAdmin1" runat="server" />
                        </td>
                    </tr>
             </table>
            </div>
            <div id="divMainContent" class="">
                <table style="text-align: center; width: 100%;" cellpadding="3" class="" border="0">
                    <tr align="center">
                        <td>
                            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                            </asp:ContentPlaceHolder>
                        </td>
                    </tr>
                </table>
            </div>
            <br class="clearfloat" />
            <div id="footer">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="Copyright">
                            <p>&copy; Breg Copyright 2007</p>
                        </td>
                    </tr>
                </table>
                <!-- end #footer -->
            </div>
        </div>
        <!-- end #container -->
    </form>
</body>
</html>

