﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PracticePhysicians.ascx.cs" Inherits="BregVision.UserControls.General.PracticePhysicians" %>
<asp:DropDownList ID="cboPhysicians" runat="server" OnSelectedIndexChanged="cboPhysicians_SelectedIndexChanged">
</asp:DropDownList>
