﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DispenseReceiptCtl.ascx.cs" Inherits="com.breg.vision.EmailTemplates.DispenseReceiptCtl" %>
<div id="divReceipt" runat="server" style="page-break-after:always"></div>
