﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Blog.ascx.cs" Inherits="BregVision.MasterPages.UserControls.Blog" %>

<table>
    <tr>
            <td>
                <a href="http://www.bregvision.blogspot.com/" target="_blank"><b>New! </b>Vision Blog</a>
            </td>
    </tr>
</table>