﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteHeaderLogo.ascx.cs" Inherits="BregVision.MasterPages.UserControls.SiteHeaderLogo" %>
<asp:Image ID="imgSiteLogo" runat="server" ImageUrl="~/images/SiteMasterHeader/MockUpHomeMouseOver_01.gif" />