/* r.a.d.grid Office2007 skin */

.RadGrid_Office2007
{
	border: solid 1px #3b5a82;
	background: white;
	scrollbar-face-color: #E9E9E9;
	scrollbar-highlight-color: white;
	scrollbar-shadow-color: #E9E9E9;
	scrollbar-3dlight-color: #DBDBDB;
	scrollbar-arrow-color: #787878;
	scrollbar-track-color: #F5F5F5;
	scrollbar-darkshadow-color: #AEAEAE;

}

.RadGrid_Office2007,
.RadGrid_Office2007 table,
.GridFilterMenu_Office2007 table
{
	font: normal 11px Tahoma, Arial, Verdana, Sans-serif;
}

.MasterTable_Office2007
{
	border-collapse: separate !important;
	color: #27413e;
	/*-moz-user-select: none;*/ /*disables text selecting in Firefox to combat unpleasant visual appearance*/
}

.RadGrid_Office2007 a
{ 
	color: #000000;
}

.MasterTable_Office2007 th
{
	text-align: left;
}

.GridRow_Office2007 td,
.GridAltRow_Office2007 td,
.GridFilterRow_Office2007 td,
.GridEditRow_Office2007 td,
.GridFooter_Office2007 td
{
	padding-left:2px;
}

.GridHeader_Office2007,
.ResizeHeader_Office2007
{
	padding-top:2px;
	padding-bottom:3px;
	background: #d3dbe9 url('Img/GridHeaderBg.gif') repeat-x;
	border-bottom: solid 1px #9eb6ce;
	font-weight: bold;
	color: #27413e;
	padding-left:3px;
}
.GridHeader_Office2007 a
{
	color: #27413e;
	text-decoration: none;
}

.GridRow_Office2007,
.GridAltRow_Office2007
{
	background: transparent;
}
.GridFilterRow_Office2007 td,
.GridRow_Office2007 td,
.GridAltRow_Office2007 td,
.GridEditRow_Office2007 td
{
	border-right: solid 1px #d0d7e5;
	border-bottom: solid 1px #d0d7e5;
	padding-top:4px;
	padding-bottom:4px;
}


.SelectedRow_Office2007,
.RedRow_Office2007
{
	background: url('Img/gridRedRow.gif') repeat-x;	
}
.SelectedRow_Office2007,
.YellowRow_Office2007
{
	background:  url('Img/gridYellowRow.gif') repeat-x;
}
.SelectedRow_Office2007,
.BlueRow_Office2007
{
	background: url('Img/gridBlueRow.gif') repeat-x;	
}

.SelectedRow_Office2007,
.ActiveRow_Office2007
{
	background:  url('Img/gridSelectedRow.gif') repeat-x;
	background-color: #F1C15F;
}

.GridRowOver_Office2007
{
	background:none #f1c15f;
}

.GridRowOver_Office2007 td,
.SelectedRow_Office2007 td,
.ActiveRow_Office2007 td,
.BlueRow_Office2007 td,
.YellowRow_Office2007 td,
.RedRow_Office2007 td
{
	border-right: solid 1px #9A9A9A;/*#f29536;*/
	border-bottom: solid 1px #9A9A9A;/*#f29536;*/
}

.GridEditRow_Office2007
{
	background: #ffffe1;
}

.GridEditRow_Office2007 input
{
	font-size: 11px;
}

.GridPager_Office2007
{
	background: #9ab5db url('Img/GriPagerBg.gif') repeat-x;
	color: white;
}

.GridPager_Office2007 .PagerPanel *
{
	vertical-align:middle;
}

.GridPager_Office2007 td
{
    padding-top:2px;
    padding-bottom:2px;
}

.GridFooter_Office2007
{
	background: #fbfbfb;
	height: 19px;
	color: #666;
}
.GridFooter_Office2007 td
{
	border: solid 1px #fbfbfb;
	border-top: 1px solid #637783;
	border-left:0;
}

.GridFooter_Office2007 td a
{
	color: #666;
}

.GridPager_Office2007 div
{
	color: #000;
}

.GridPager_Office2007 td a
{
	color: #fff;
}

.GridPager_Office2007 td a:hover,
.GridFooter_Office2007 td a:hover
{
	color: #000;
}

tr.GroupHeader_Office2007
{
	background: #e4ecf7;
	height: 22px;
}

tr.GroupHeader_Office2007 td
{
	padding-right:3px;
}

.GroupHeader_Office2007 td div div
{
	top:-0.5em;
}

.GroupHeader_Office2007 td div div div
{
	top:0;
}
* html .GroupHeader_Office2007 td div div{top:0.2em;}
*+html .GroupHeader_Office2007 td div div{top:0.2em;}

.GroupPanel_Office2007
{
	background: #9ebde5 url('Img/GridGroupPanelBg.gif') repeat-x;
	width: 100%;
	height: 23px;
	border-bottom: solid 1px #688caf;
	border-collapse: collapse;
}

.GroupPanelItems_Office2007
{
	background: white;
	color: black;
	border: solid 1px #325373;
	white-space:  nowrap;
	padding-left:2px;
	font-size: 11px;
	height: 15px;
}
td.GridHeader_Office2007 input
{
	width: auto;
	float: left;
	border: solid 1px #3b5a82;
	background: #fafafa;
	font: bold 10px Verdana, Arial, Sans-serif;
	color: #989cb0;
	height: 14px;
	vertical-align:middle;
}


.TopReorderIndicator_Office2007
{
	background: url('MoveDown.gif') no-repeat;
}

.BottomReorderIndicator_Office2007
{
	background: url('MoveUp.gif') no-repeat;
}

.GridCommandRow_Office2007, 
.GridFilterRow_Office2007
{
	background: #fafafa;
}

.GridFilterRow_Office2007 td
{
	white-space:nowrap;
}

.GridFilterRow_Office2007 input
{
	border: 1px groove #3b5a82;
}

.GridFilterRow_Office2007 input:hover
{
	border: 1px inset threedshadow;
}

.GridFilterRow_Office2007 img
{
}

.GridFilterMenu_Office2007
{
    cursor:default;
}

.GridFilterMenu_Office2007 .GridFilterMenuSelectColumn_Office2007,
.GridFilterMenu_Office2007 .GridFilterMenuTextColumn_Office2007
{
	padding:4px 4px 5px;
}

.GridFilterMenu_Office2007 .GridFilterMenuSelectColumn_Office2007
{
    background:#e9eeee;
    text-align:center;
}

.GridFilterMenu_Office2007 .GridFilterMenuTextColumn_Office2007
{
    background:#fff;
    color:#333;
}

.GridFilterMenu_Office2007 .GridFilterMenuHover_Office2007
{
    background:url(Img/filterHoverBg.gif) repeat-x #ffdb75;
}

/*AJAX Loading*/

.GridLoadingTemplate_Office2007
{
	background:#fff !important;
	font:normal 16px/16px arial,sans-serif;
	color:#01285c;
}

/* rtl support */

.RadGridRTL_Office2007 th,
.RadGridRTL_Office2007 td
{
    text-align:right;
}

.RadGridRTL_Office2007 .GridPager_Office2007 span
{
    float:none !important;
}
