
    body  {
	    font: 100% Verdana, Arial, Helvetica, sans-serif;
	    background: #ffffff;
	    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	    padding: 0;
	    text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	    color: #000000;
    }
    
    /*----These classes are for BregVision/BregAdmin/BregAdmin.aspx ----*/
   a.managemenulink:link
    {
        font-size: 9pt;
        font-weight: 600;
        color: #02284D;
        display: block;
        padding: 14 0 0 0;
        list-style:none; 
        text-decoration: underline;
    }
    a.managemenulink:visited
    {
        font-size: 9pt;
        font-weight: 600;
        color: #02284D;
        display: block;
        padding: 14 0 0 0;
        list-style:none; 
        text-align:center; 
    }
     a.managemenulink:hover
    {
        font-size: 9pt;
        font-weight: 600;
        color: Blue;
        display: block;
        padding: 14 0 0 0;
        text-decoration: underline;
    }
    
    .AdminPageTitle
    {
        background-color: #3B55B6;
        font-family: Verdana, Arial;
        font-size: 11pt;
        font-weight: 500;
        color: White;
        height: 40px;
     }
     .AdminSubTitle
     {
        background-color: #D3DBE9;
        font-family: Verdana, Arial;
        font-size: 9pt;
        font-weight: bold;
        color: #646464;
        height: 25px;
     }
     .Copyright
     {
        text-align: center;
        font-family: Verdana, Arial;
        font-size: 8pt;
        color: Black;
        /*background-color: #F4F8FA;
        height: 10px;*/
     }
     .FieldLabel
     {
        font-family: Verdana, Arial;
        font-size: 8pt;
        color: #000000;
     }
     .FieldLabelBold
     {
        font-family: Verdana, Arial;
        font-size: 8pt;
        font-weight: bold;
        color: #000000;
     }
     .TextMed
     {
        font-family: Verdana, Arial ;
        font-size: 9pt;
        color: #000000;    
     }
     .WarningMsg
     {
        font-family: Verdana, Arial;
        font-size: 10pt;
        color: Red;
     }
     .WarningMsgBold
     {
        font-family: Verdana, Arial;
        font-size: 10pt;
        font-weight: bolder;
        color: Red;
     }
     .WarningMsgMed
     {
        font-family: Verdana, Arial;
        font-size: 11pt;
        font-weight: 500;
        color: Red;
     }
    .twoColHybRtHdr #container { 
	    /*width: 790px;*/  /* this will create a container 80% of the browser width */
	    background: #FFFFFF;
	    margin: 0 left; /* the auto margins (in conjunction with a width) center the page */
	    border: 0px solid #000000;
	    text-align: left; /* this overrides the text-align: center on the body element. */
    } 
    .twoColHybRtHdr #header { 
	    background: #ffffff; 
	    padding: 0 10px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
    } 
    .twoColHybRtHdr #header h1 {
	    margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	    padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
    }

    /* Tips for sidebar1:
    1. Since we are working in relative units, it's best not to use padding on the sidebar. It will be added to the overall width for standards compliant browsers creating an unknown actual width. 
    2. Since em units are used for the sidebar value, be aware that its width will vary with different default text sizes.
    3. Space between the side of the div and the elements within it can be created by placing a left and right margin on those elements as seen in the ".twoColHybRtHdr #sidebar1 p" rule.
    */
    .twoColHybRtHdr #sidebar1 {
	    float: right; 
	    width: 8em; /* since this element is floated, a width must be given */
	    background: #ffffff; /* the background color will be displayed for the length of the content in the column, but no further */
	    padding: 1px 0; /* top and bottom padding create visual space within this div  */
    }
    .twoColHybRtHdr #sidebar1 h3, .twoColHybRtHdr #sidebar1 p {
	    margin-left: 10px; /* the left and right margin should be given to every element that will be placed in the side columns */
	    margin-right: 10px;
    }

    /* Tips for mainContent:
    1. The space between the mainContent and sidebar1 is created with the right margin on the mainContent div.  No matter how much content the sidebar1 div contains, the column space will remain. You can remove this right margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends.
    2. Be aware it is possible to cause float drop (the dropping of the non-floated mainContent area below the sidebar) if an element wider than it can contain is placed within the mainContent div. WIth a hybrid layout (percentage-based overall width with em-based sidebar), it may not be possible to calculate the exact width available. If the user's text size is larger than average, you will have a wider sidebar div and thus, less room in the mainContent div. You should be aware of this limitation - especially if the client is adding content with Contribute.
    3. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This may help avoid several IE-specific bugs.
    */
    .twoColHybRtHdr #mainContent {
      margin: 0 13em 0 10px; /* the left margin's value is equal to the header and footer which creates alignment down the left side of the document. */
    } 
    .pwoColHybRtHdr #footer { 
	    padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	    background:#ffffff;
    } 
    .twoColHybRtHdr #footer p {
	    margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	    padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
    }

    /* Miscellaneous classes for reuse */
    .fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	    float: right;
	    margin-left: 8px;
    }
    .fltlft { /* this class can be used to float an element left in your page */
	    float: left;
	    margin-right: 8px;
    }
    .clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	    clear:both;
        height:0;
        font-size: 1px;
        line-height: 0px;
    }
    .style2 {color: #003399}
