/* RadMenu Default skin */

.RadMenu_Default 
{
	border: 1px solid #010101;
	border-bottom-width: 0;
	border-top-color: #383838;
	background: #444 url("img/MenuBackground.gif") repeat-x top left;
	text-align: left;
}

.RadMenu_Default_rtl
{
	text-align: right;
}

.RadMenu_Default_Context
{
	background: none;
	border: 0;
}

.RadMenu_Default a
{
	text-decoration: none;
}

.RadMenu_Default .link
{
	line-height: 24px;
	text-decoration: none;
	color: #fff;
	position: relative;
	display: inline-block !important;
}

.RadMenu_Default .link:focused,
.RadMenu_Default .focused
{
	outline: 0;
}

.RadMenu_Default .expanded
{
	z-index: 10000;
}

.RadMenu_Default .rootGroup .link:hover,
.RadMenu_Default .rootGroup .focused,
.RadMenu_Default .rootGroup .expanded
{
	background-color: #fff;
	color: #333;
}

.RadMenu_Default .rootGroup .link .text
{
	font: normal 12px Arial, sans-serif;
}

.RadMenu_Default .group
{
	background: #fff;
}

.RadMenu_Default .group .link
{
	text-decoration: none;
	color: #333;
	background: #fff;
}

.RadMenu_Default_rtl .group .link
{
	text-align: right;
}

.RadMenu_Default .group .link:hover,
.RadMenu_Default .group .focused,
.RadMenu_Default .group .expanded
{
	color: #fff;
	background: #444;
}

.RadMenu_Default .text
{
	padding: 3px 16px 5px 16px;
}

.RadMenu_Default .group .link .text
{
	font-size: 11px;
}

/* <expand arrows styling> */

.RadMenu_Default .group .link .expandLeft
{
	background: transparent url("img/ArrowExpand.gif") no-repeat right -3px;
}

.RadMenu_Default .group .link .expandRight
{
	background: transparent url("img/ArrowExpandRTL.gif") no-repeat left -3px;
}

.RadMenu_Default .group .link:hover .expandLeft,
.RadMenu_Default .group .focused .expandLeft,
.RadMenu_Default .group .expanded .expandLeft
{
	background-image: url("img/ArrowExpandHovered.gif");
}

.RadMenu_Default .group .link:hover .expandRight,
.RadMenu_Default .group .focused .expandRight,
.RadMenu_Default .group .expanded .expandRight
{
	background-image: url("img/ArrowExpandHoveredRTL.gif");
}

/* </expand arrows styling> */

.RadMenu_Default .horizontal .item { border-right: 1px solid #353535; }
.RadMenu_Default .horizontal .last { border-right: 0; }

.RadMenu_Default .vertical .item { border-bottom: 1px solid #353535; }
.RadMenu_Default .vertical .last { border-bottom: 0; }

.RadMenu_Default_rtl .horizontal .item { border-left: 0; }

.RadMenu_Default .rootGroup .group .item { border-right: 0; border-bottom: 0; }

.RadMenu_Default .group
{
	border: 1px solid #828282;
	background-color: #fff;
}

.RadMenu_Default .group .expanded
{
	z-index: 11;
}

.RadMenu_Default .topArrowDisabled,
.RadMenu_Default .bottomArrowDisabled,
.RadMenu_Default .leftArrowDisabled,
.RadMenu_Default .rightArrowDisabled
{
	display: none;
}

.RadMenu_Default .topArrow,
.RadMenu_Default .bottomArrow,
.RadMenu_Default .leftArrow,
.RadMenu_Default .rightArrow
{
	font-size: 0;
	line-height: 0;
	color: #fff;
}

.RadMenu_Default .topArrow,
.RadMenu_Default .bottomArrow
{
	height: 10px;
	width: 100%;
	background: #fff url("img/ArrowScrollUpDown.gif") no-repeat top center;
}

.RadMenu_Default .bottomArrow
{
	background-position: center -18px;
}

.RadMenu_Default .leftArrow,
.RadMenu_Default .rightArrow
{
	width: 10px;
	height: 100%;
	background: #fff url("img/ArrowScrollLeftRight.gif") no-repeat left center;
}

.RadMenu_Default .rightArrow
{
	background-position: -18px center;
}

.RadMenu_Default .rootGroup .item .disabled .text,
.RadMenu_Default .group .item .disabled .text
{
	color: #999;
}

.RadMenu_Default .rootGroup .item .disabled
{
	background: none;
}

.RadMenu_Default .group .item .disabled
{
	background-color: #fff;
}

.RadMenu_Default .horizontal .separator
{
	height: 20px;
	width: 1px;
}

.RadMenu_Default .rootGroup .separator
{
	background-color: #8f8f8f;
	border-top: 1px solid #676767;
}

.RadMenu_Default .vertical .separator
{
	height: 1px;
	margin: 3px 0;
	border: 0;
	background-color: #8f8f8f;
}

.RadMenu_Default .separator .text
{
	display: none;
}

.RadMenu_Default .slide
{
	margin: -1px 0 0 -1px !important;
}

* html .RadMenu_Default .vertical .slide
{
	margin-left: -2px !important;
}

* html .RadMenu_Default .horizontal .slide
{
	margin-top: -2px !important;
}

.RadMenu_Default_rtl .slide
{
	margin: -1px 0 0 2px !important;
}

* html .RadMenu_Default_rtl .vertical .slide
{
	margin-left: 3px !important;
}

* html .RadMenu_Default_rtl .horizontal .slide
{
	margin-top: -2px !important;
	margin-left: 0 !important;
}

.RadMenu_Default .rootGroup .item .disabled:hover
{
	background: none;
}