﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Help.ascx.cs" Inherits="BregVision.UserControls.Help.Help" %>
<asp:Image ID="imgHelp" ImageUrl="~/Images/info16.png" runat="server" Visible="true" Style="vertical-align: middle;" CssClass="help-icon" title="Click to see more info" />
