<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DispenseReceipt.aspx.cs"
    Inherits="BregVision.Authentication.DispenseReceipt" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Receipt</title>
</head>
<body>
    <form id="form1" runat="server">

        <asp:Literal ID="litHTML" runat="server"></asp:Literal>
    </form>
</body>
</html>
