﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DispenseReceiptCtl.ascx.cs" Inherits="BregVision.Authentication.DispenseReceiptCtl" %>
<div id="divReceipt" runat="server" style="page-break-after:always"></div>
