﻿/* RadInput Inox skin */

.radInput_Inox, .radInput_Inox table
{
	/*set the commented width style if you have set ShowButton="true" in the control*/
	width: 48px !important; /* width: 185px !important; */ 
	height: 20px !important;
	margin: 0;
	padding: 0;
	border: 0;
}

.radHoverCss_Inox,
.radEnabledCss_Inox,
.radDisabledCss_Inox,
.radEmptyMessageCss_Inox,
.radFocusedCss_Inox,
.radNegativeCss_Inox,
.radInvalidCss_Inox
{
	_background-attachment: fixed; /* IE */
	height: 20px;
	width: 44px !important;
	padding: 3px 3px 0 3px !important;
	margin: 0;
	border: 0;
	font: bold 12px Verdana, Arial, Sans-serif;
	top: 3px;
}

.radHoverCss_Inox
{
	background: transparent url(Img/hover.gif) no-repeat;
	color: #333;	
}
.radEnabledCss_Inox,
.radEmptyMessageCss_Inox,
.radNegativeCss_Inox
{
	background: transparent url(Img/default.gif) no-repeat;
	color: #b7b7b7;
}

.radFocusedCss_Inox
{
	background: transparent url(Img/focus.gif) no-repeat;
	color: #333;
}

.radEmptyMessageCss_Inox
{
	color: gray;
}

.radNegativeCss_Inox
{
	color: #990000;
}

.radInvalidCss_Inox
{
	background: transparent url(Img/error.gif) no-repeat;
	color: red;
	padding-right: 22px !important;
	width: 140px !important;
}

.radLabelCss_Inox 
{
	font: normal 10px Verdana, Arial, Sans-serif; 
	color: #b7b7b7; 
	padding-right: 5px;
}

.radDisabledCss_Inox
{
	background-color: #ccc;
	height: 15px !important;
	top: 0;
}

/* input buttons */

/* SPIN BUTTONS */
.radInput_Inox  .imageCell,
.radInput_Inox  .spinImgCell
{		
	padding-bottom: 5px;		
}

.radInput_Inox a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	top: 5px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;	
}

.radInput_Inox a.spinbutton.up
{
	background-position: center 0;
}

.radInput_Inox a.spinbutton.down
{
	background-position: center -9px;
}

.radInput_Inox a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;
	top: 2px;
}

/* end of input buttons */