.RadAutoCompleteBox_Breg {
  line-height: 1.42857; }
  .RadAutoCompleteBox_Breg .racTokenList {
    padding-right: 27px;
    border-radius: 4px;
    color: #555555;
    border-color: #dddddd;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .RadAutoCompleteBox_Breg .racTokenList:hover {
      border-color: #c4c4c4; }
    .RadAutoCompleteBox_Breg .racTokenList.racFocused {
      border-color: #ff471a;
      box-shadow: 0 0 8px rgba(255, 71, 26, 0.6); }
    .RadAutoCompleteBox_Breg .racTokenList.racDisabled {
      color: #888888;
      border-color: #dddddd;
      background-color: #eeeeee; }
  .RadAutoCompleteBox_Breg .racToken {
    padding: 4px 8px;
    border-radius: 4px;
    color: #ffffff;
    border-color: #e62e00;
    background-color: #ff3300; }
  .RadAutoCompleteBox_Breg .racToken:hover {
    color: #ffffff;
    border-color: #a82200;
    background-color: #cc2900; }
  .RadAutoCompleteBox_Breg .racToken.racTokenSelected {
    outline: 1px dotted #fff;
    outline-offset: -2px; }
  .RadAutoCompleteBox_Breg .racTextToken {
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 28px; }
  .RadAutoCompleteBox_Breg .racInput {
    height: 2.14286em;
    line-height: 2.14286em; }
  .RadAutoCompleteBox_Breg .racEmptyMessage {
    color: #888888; }
  .RadAutoCompleteBox_Breg .racLoadingIcon {
    right: 5px;
    bottom: 0.35714em;
    background-image: url("images/Common/loading_small.gif"); }

.RadAutoCompleteBoxPopup_Breg {
  margin-top: 3px;
  padding: 5px 0;
  line-height: 1.42857;
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .RadAutoCompleteBoxPopup_Breg .racShowAll {
    color: #ff3300;
    border-color: #dddddd; }
    .RadAutoCompleteBoxPopup_Breg .racShowAll:hover {
      color: #991e00; }
  .RadAutoCompleteBoxPopup_Breg .racItem {
    padding: 3px 12px; }
  .RadAutoCompleteBoxPopup_Breg .racItemHovered {
    color: #000000;
    background-color: #fcfcfc; }
