.RadButton_Breg {
  font-size: 1em;
}
.RadButton_Breg.text-large {
  font-size: 14px;
}
  /* Primary Button styles */
  /* CheckBox and RadioButton Styles */
  /* Right to Left Support */ 
  .RadButton_Breg.rbButton,
  .RadButton_Breg.rbLinkButton {
    padding: 0.42857em 0.85714em;
    padding: 0.46429em 0.85714em \9;
    line-height: normal;
    height: auto;
  }
  .RadButton_Breg _:-ms-fullscreen, :root .RadButton_Breg.rbButton {
    padding: 0.46429em 0.85714em; }
  .RadButton_Breg.rbButton,
  .RadButton_Breg .rbSplitPart {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient(); }
  .RadButton_Breg.rbButton.rbHovered,
  .RadButton_Breg .rbSplitPart.rbHovered,
  .RadButton_Breg.rbButton:hover,
  .RadButton_Breg .rbSplitPart:hover,
  .RadButton_Breg.rbButton:focus {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    box-shadow: inset 0 0 1px #ffffff;
    cursor: pointer;
  }
  .RadButton_Breg.rbButton:focus {
    outline-width: thin;
    outline-offset: -2px;
    outline-color: #d0d0d0; }
  .RadButton_Breg.rbButton.rbSelected,
  .RadButton_Breg.rbButton.rbToggled,
  .RadButton_Breg.rbButton.rbSelected .rbSplitPart {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    color: #333333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
  .RadButton_Breg .rbSplitPart {
    width: 2.28571em;
    height: 2.28571em; }
  .RadButton_Breg .rbSplitPartRight {
    margin: -0.35714em -0.85714em -0.21429em 0.35714em;
    margin: -0.35714em -0.85714em -0.21429em 0.35714em \9; }
  .RadButton_Breg _:-ms-fullscreen, :root .RadButton_Breg .rbSplitPartRight {
    margin: -0.35714em -0.85714em -0.28571em 0.35714em; }
  .RadButton_Breg .rbSplitPartLeft {
    margin: -0.35714em 0.35714em -0.21429em -0.85714em;
    margin: -0.35714em 0.35714em -0.21429em -0.85714em \9; }
  .RadButton_Breg _:-ms-fullscreen, :root .RadButton_Breg .rbSplitPartLeft {
    margin: -0.35714em 0.35714em -0.28571em -0.85714em; }
  .RadButton_Breg .rbSplitIcon {
    margin: 0.35714em 0em 0em 0.28571em;
    margin: 0.28571em 0 0 0.07143em \9; }
  .RadButton_Breg _:-ms-fullscreen, :root .RadButton_Breg .rbSplitIcon {
    margin: 0.28571em 0em 0em 0.07143em; }
  .RadButton_Breg .rbSplitPartRight.rbHovered,
  .RadButton_Breg .rbSplitPartRight:hover {
    border-left-color: #d0d0d0; }
  .RadButton_Breg .rbSplitPartRight.rbSelected {
    border-left-color: #afafaf; }
  .RadButton_Breg .rbSplitPartLeft.rbHovered,
  .RadButton_Breg .rbSplitPartLeft:hover {
    border-right-color: #d0d0d0; }
  .RadButton_Breg .rbSplitPartLeft.rbSelected {
    border-right-color: #afafaf; }
  .RadButton_Breg.rbPrimaryButton {
    background-color: #ff3300;
    color: #ffffff;
    border-color: #e62e00; }
    .RadButton_Breg.rbPrimaryButton.rbHovered,
    .RadButton_Breg.rbPrimaryButton:hover,
    .RadButton_Breg.rbPrimaryButton.rbFocused,
    .RadButton_Breg.rbPrimaryButton:focus {
      background-color: #cc2900;
      color: #ffffff;
      border-color: #a82200;
      box-shadow: none; }
    .RadButton_Breg.rbPrimaryButton.rbFocused,
    .RadButton_Breg.rbPrimaryButton:focus {
      outline-color: #ffffff; }
    .RadButton_Breg.rbPrimaryButton.rbSelected {
      background-color: #cc2900;
      color: #ffffff;
      border-color: #661400;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
  .RadButton_Breg.rbCheckBox,
  .RadButton_Breg.rbRadioButton,
  .RadButton_Breg.rbToggleButton,
  .RadButton_Breg.rbCheckBox .rbIcon,
  .RadButton_Breg.rbRadioButton .rbIcon,
  .RadButton_Breg.rbToggleButton .rbIcon {
    color: #333333; }
  .RadButton_Breg.rbCheckBox.rbHovered,
  .RadButton_Breg.rbRadioButton.rbHovered,
  .RadButton_Breg.rbToggleButton.rbHovered,
  .RadButton_Breg.rbCheckBox.rbHovered .rbIcon,
  .RadButton_Breg.rbRadioButton.rbHovered .rbIcon,
  .RadButton_Breg.rbToggleButton.rbHovered .rbIcon,
  .RadButton_Breg.rbCheckBox.rbSelected .rbIcon,
  .RadButton_Breg.rbRadioButton.rbSelected .rbIcon,
  .RadButton_Breg.rbToggleButton.rbSelected .rbIcon {
    color: #428bca; }
  .RadButton_Breg.rbCheckBox.rbHovered.rbSelected,
  .RadButton_Breg.rbRadioButton.rbHovered.rbSelected,
  .RadButton_Breg.rbToggleButton.rbSelected.rbSelected,
  .RadButton_Breg.rbCheckBox.rbHovered.rbSelected .rbIcon,
  .RadButton_Breg.rbRadioButton.rbHovered.rbSelected .rbIcon,
  .RadButton_Breg.rbToggleButton.rbSelected.rbSelected .rbIcon {
    color: #3071a9; }
  .RadButton_Breg.rbButton.rbPrimaryButton.rbCheckBox,
  .RadButton_Breg.rbButton.rbPrimaryButton.rbRadioButton,
  .RadButton_Breg.rbButton.rbPrimaryButton.rbToggleButton,
  .RadButton_Breg.rbButton.rbPrimaryButton.rbCheckBox .rbIcon,
  .RadButton_Breg.rbButton.rbPrimaryButton.rbRadioButton .rbIcon,
  .RadButton_Breg.rbButton.rbPrimaryButton.rbToggleButton .rbIcon {
    color: #ffffff; }
  .RadButton_Breg.rbButton.rbRtl .rbSplitPart,
  .RadButton_Breg.rbButton.rbRtl .rbSplitPart.rbHovered {
    border-right-color: #eeeeee; }
  .RadButton_Breg.rbButton.rbRtl .rbSplitPart.rbSelected {
    border-right-color: #afafaf; }

span.RadButton_Breg.rbButton {
  padding: 0.14286em 0.85714em 0.07143em;
  padding: 0.21429em 0.85714em 0.14286em \9; }

_:-ms-fullscreen, :root span.RadButton_Breg.rbButton {
  padding: 0.21429em 0.85714em; }

span.RadButton_Breg.rbButton .rbText {
  vertical-align: sub; }

 .RadButton_Breg[disabled] {
   opacity: .6;
 }
  .RadButton_Breg[disabled]:hover {
       cursor: not-allowed;
  }

  .rbPrimaryIcon {
    background-size: contain;
  }
  .text-large .rbPrimaryIcon {
    height: 18px;
    width: 18px;
  }