.RadCalendar_Breg {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadCalendar_Breg .rcTitlebar {
    padding: 0;
    border-radius: 0.29em 0.29em 0 0;
    border-color: #dddddd;
    background-color: #f5f5f5;
    color: #333333;
    line-height: 2.78;
    font-size: 1em; }
    .RadCalendar_Breg .rcTitlebar .rcPrev,
    .RadCalendar_Breg .rcTitlebar .rcNext,
    .RadCalendar_Breg .rcTitlebar .rcFastPrev,
    .RadCalendar_Breg .rcTitlebar .rcFastNext {
      margin: .14em;
      width: 2.3em;
      height: 2.3em;
      border: 1px solid transparent;
      border-radius: .3em; }
      .RadCalendar_Breg .rcTitlebar .rcPrev:before,
      .RadCalendar_Breg .rcTitlebar .rcNext:before,
      .RadCalendar_Breg .rcTitlebar .rcFastPrev:before,
      .RadCalendar_Breg .rcTitlebar .rcFastNext:before {
        line-height: 2.3; }
      .RadCalendar_Breg .rcTitlebar .rcPrev:hover,
      .RadCalendar_Breg .rcTitlebar .rcNext:hover,
      .RadCalendar_Breg .rcTitlebar .rcFastPrev:hover,
      .RadCalendar_Breg .rcTitlebar .rcFastNext:hover {
        background-color: #e6e6e6;
        border-color: #d0d0d0;
        color: #333333; }
  .RadCalendar_Breg .rcMain {
    background: #ffffff;
    border-color: #dddddd;
    border-radius: 0 0 0.29em 0.29em; }
  .RadCalendar_Breg .rcMainTable {
    font: 1em/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadCalendar_Breg .rcCalendars > .rcMainTable {
    border-collapse: collapse; }
  .RadCalendar_Breg .rcHeader,
  .RadCalendar_Breg .rcFooter {
    border-color: #dddddd; }
  .RadCalendar_Breg th.rcViewSel {
    padding: 0.48em 1em;
    width: .43em;
    background: #f5f5f5;
    border-right: 1px solid #dddddd; }
  .RadCalendar_Breg .rcWeek th {
    margin-left: 1px;
    padding-top: .5em;
    padding-bottom: .5em;
    color: #333333;
    text-align: center; }
  .RadCalendar_Breg .rcRow th {
    border-right: 1px solid #dddddd;
    background-color: #f5f5f5; }
  .RadCalendar_Breg .rcRow td {
    border-color: transparent; }
  .RadCalendar_Breg .rcMain .rcRow a,
  .RadCalendar_Breg .rcMain .rcRow span {
    padding: 0;
    width: 2.3em;
    height: 2.3em;
    border: 1px solid transparent;
    border-radius: .29em;
    color: #333333;
    line-height: 2.3;
    text-align: center; }
  .RadCalendar_Breg .rcRow th,
  .RadCalendar_Breg .rcMain .rcWeekend a,
  .RadCalendar_Breg .rcMain .rcOtherMonth a,
  .RadCalendar_Breg .rcMain .rcOutOfRange span {
    color: #999999; }
  .RadCalendar_Breg .rcRow .rcToday a {
    background: #ffffff;
    border-color: #ff471a;
    box-shadow: 0 0 6px 1px #ff471a; }
  .RadCalendar_Breg .rcMain .rcRow .rcSelected a {
    border-color: #357ebd;
    background: #ff3300;
    color: #ffffff; }
  .RadCalendar_Breg .rcRow .rcHover a {
    color: #000000;
    border-color: #e2e2e2;
    background-color: #efefef;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .RadCalendar_Breg .rcRow .rcFocus a {
    border-color: #cc2900;
    box-shadow: 0 0 3px #cc2900 inset; }

.RadCalendarMultiView_Breg .rcTitlebar {
  padding: 0;
  line-height: 2.65;
  background: #f5f5f5;
  border-bottom: 0 none;
  border-radius: 0.29em 0.29em 0 0; }
  .RadCalendarMultiView_Breg .rcTitlebar td {
    height: 2.64em; }

.RadCalendarMultiView_Breg .rcMain {
  border-color: #dddddd;
  border-radius: 0 0 0.29em 0.29em;
  border-width: 0 1px 1px 0; }

.RadCalendarMultiView_Breg .rcCalendar {
  border-color: #dddddd;
  border-width: 1px 0 0 1px; }

.RadCalendarMultiView_Breg .rcMainTable .rcMainTable {
  font-size: 1em; }

.RadCalendarMultiView_Breg .rcMainTable .rcTitle {
  border-color: #e6e6e6;
  background: #ffffff;
  color: #333333;
  line-height: 2.65em; }

.RadCalendarMonthView_Breg {
  border-color: #dddddd;
  border-radius: .29em;
  background: #ffffff;
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .RadCalendarMonthView_Breg td {
    width: 3.7em;
    height: 1.86em;
    line-height: 1.86; }
  .RadCalendarMonthView_Breg #rcMView_Feb,
  .RadCalendarMonthView_Breg #rcMView_Apr,
  .RadCalendarMonthView_Breg #rcMView_Jun,
  .RadCalendarMonthView_Breg #rcMView_Aug,
  .RadCalendarMonthView_Breg #rcMView_Oct,
  .RadCalendarMonthView_Breg #rcMView_Dec {
    border-right: 1px solid #dddddd; }
  .RadCalendarMonthView_Breg a {
    margin: 1px;
    padding: 0;
    width: 3.57em;
    height: 1.79em;
    border-radius: .29em;
    color: #333333;
    line-height: 1.79em; }
  .RadCalendarMonthView_Breg a:hover {
    background-color: #efefef;
    color: #000000;
    border-color: #e2e2e2; }
  .RadCalendarMonthView_Breg .rcSelected a {
    margin: 0;
    padding: 0;
    border: 0 none;
    border-radius: .29em;
    background: #ff3300;
    color: #ffffff; }
  .RadCalendarMonthView_Breg #rcMView_PrevY a,
  .RadCalendarMonthView_Breg #rcMView_NextY a {
    height: 1.4em; }
  .RadCalendarMonthView_Breg .rcButtons input {
    margin: 0 0.36em 0.36em;
    height: 2.4em;
    border-radius: .29em;
    border-width: 1px;
    border-style: solid;
    color: #333333;
    float: left; }
  .RadCalendarMonthView_Breg #rcMView_Today,
  .RadCalendarMonthView_Breg #rcMView_OK,
  .RadCalendarMonthView_Breg #rcMView_Cancel {
    padding: 0 0.71em;
    border: 1px solid #dddddd;
    background: #ffffff; }
    .RadCalendarMonthView_Breg #rcMView_Today:hover,
    .RadCalendarMonthView_Breg #rcMView_OK:hover,
    .RadCalendarMonthView_Breg #rcMView_Cancel:hover {
      background: #e6e6e6;
      border-color: #d0d0d0;
      color: #333333; }
  .RadCalendarMonthView_Breg #rcMView_Today {
    margin: 0 0.36em 0.36em;
    width: 4.64em; }
  .RadCalendarMonthView_Breg #rcMView_OK {
    margin: 0 0.36em 0.36em 0;
    width: 4.45em;
    border: 1px solid #e62e00;
    background: #ff3300;
    color: #ffffff; }
  .RadCalendarMonthView_Breg #rcMView_Cancel {
    margin: 0 0 0.36em 0;
    width: 4.45em; }

table.RadCalendarTimeView_Breg {
  border-color: #dddddd;
  border-radius: 0.28571em;
  background: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif; }

.RadCalendarTimeView_Breg th {
  padding: 0;
  border-bottom: 1px solid #dddddd;
  border-radius: 0.29em 0.29em 0 0;
  background: #f5f5f5;
  line-height: 2.25; }

table.RadCalendarTimeView_Breg td {
  padding: 0.14em 0.36em;
  width: .36em;
  border-color: #dddddd; }

.RadCalendarTimeView_Breg a {
  padding: 1px;
  white-space: nowrap;
  border-radius: .32em;
  color: #333333; }

.RadCalendarTimeView_Breg td.rcSelected a {
  padding: 0;
  border: 0;
  background: #ff3300;
  color: #ffffff; }

.RadCalendarTimeView_Breg td.rcHover a {
  padding: 0;
  background: #efefef;
  border: 0; }

.RadCalendarTimeView_Breg .rcFooter {
  border-color: #dddddd; }

.RadPicker_Breg .rcCalPopup,
.RadPicker_Breg .rcTimePopup {
  width: 2.28571em;
  border-left: 1px solid #eeeeee;
  color: #333333;
  background: #ffffff; }
  .RadPicker_Breg .rcCalPopup:hover,
  .RadPicker_Breg .rcTimePopup:hover {
    background: #e6e6e6; }

.RadPicker_Breg .rcTimePopup {
  border-radius: 0 0.28571em 0.28571em 0; }

.RadMonthYearPicker.RadPicker_Breg .rcCalPopup {
  border-radius: 0 0.28571em 0.28571em 0; }

.RadCalendarPopup {
  margin: 2px 0; }
  .RadCalendarPopup .RadCalendar_Breg {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-radius: 3px; }
