.RadColorPicker_Breg {
  font-size: 1em;
  color: #333333; }
  .RadColorPicker_Breg .rcpPalette {
    background-color: #fcfcfc;
    border-color: #dddddd; }
  .RadColorPicker_Breg .rcpHeader {
    background-color: #f5f5f5;
    background-image: linear-gradient();
    border-color: #dddddd; }
  .RadColorPicker_Breg .rcpImageButton,
  .RadColorPicker_Breg a.rslDraghandle:before {
    color: #333333; }
  .RadColorPicker_Breg .rcpImageButton:hover {
    color: #ff3300; }
  .RadColorPicker_Breg .rcpIcon em,
  .RadColorPicker_Breg .rcpColorPreview,
  .RadColorPicker_Breg .rcpInput,
  .RadColorPicker_Breg .rcpHexInput,
  .RadColorPicker_Breg .rcpMillionColorsPalette,
  .RadColorPicker_Breg .rcpMillionColorsSlider div.rslTrack {
    background-color: #ffffff;
    color: #555555;
    border-color: #dddddd; }
  .RadColorPicker_Breg .rcpIcon a,
  .RadColorPicker_Breg .rcpTabs li,
  .RadColorPicker_Breg .rcpButton {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient(); }
  .RadColorPicker_Breg .rcpIcon a:before,
  .RadColorPicker_Breg .rcpTabs a {
    color: #333333; }
  .RadColorPicker_Breg .rcpIcon a:hover,
  .RadColorPicker_Breg .rcpTabs li:hover,
  .RadColorPicker_Breg .rcpButton:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadColorPicker_Breg .rcpIcon a:hover:before,
  .RadColorPicker_Breg .rcpTabs li:hover a {
    color: #333333; }
  .RadColorPicker_Breg .rcpIcon a:active,
  .RadColorPicker_Breg .rcpTabs .rcpSelectedTab,
  .RadColorPicker_Breg .rcpTabs .rcpSelectedTab:hover,
  .RadColorPicker_Breg .rcpButton:active {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadColorPicker_Breg .rcpIcon a:focus {
    box-shadow: inset 0 0 5px rgba(175, 175, 175, 0.5); }
  .RadColorPicker_Breg .rcpIcon a:active:before,
  .RadColorPicker_Breg .rcpTabs .rcpSelectedTab a,
  .RadColorPicker_Breg .rcpTabs .rcpSelectedTab:hover a {
    color: #333333; }
  .RadColorPicker_Breg .rcpRecentColors {
    border-color: #dddddd; }
  .RadColorPicker_Breg.rcpCustomColorWrapper .rcpPalette {
    box-shadow: 2px 2px 3px rgba(221, 221, 221, 0.5); }
