.RadComboBox_Breg {
  color: #333333;
  line-height: 1.42857; }
  .RadComboBox_Breg .rcbInner {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #555555;
    border-color: #eeeeee;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    overflow: hidden; }
  .RadComboBox_Breg .rcbInput {
    height: 1.71429em; }
  .RadComboBox_Breg .rcbEmptyMessage {
    color: #555555; }
  .RadComboBox_Breg .rcbActionButton {
    width: 2.28571em;
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff; }
    .RadComboBox_Breg .rcbActionButton .rcbIconDown {
      font-size: 1em; }
  .RadComboBox_Breg .rcbLabel {
    line-height: 32px; }
  .RadComboBox_Breg .rcbReadOnly {
    color: #333333;
    border-color: #eeeeee;
    background-color: #ffffff;
    box-shadow: none; }
    .RadComboBox_Breg .rcbReadOnly.rcbHovered {
      color: #333333;
      border-color: #d0d0d0;
      background-color: #e6e6e6; }
    .RadComboBox_Breg .rcbReadOnly.rcbFocused {
      color: #333333;
      border-color: #dddddd;
      background-color: #e6e6e6; }
    .RadComboBox_Breg .rcbReadOnly.rcbDisabled {
      color: #888888;
      border-color: #dddddd;
      background-color: #eeeeee; }
  .RadComboBox_Breg .rcbHovered {
    color: #555555;
    border-color: #c4c4c4;
    background-color: #ffffff; }
    .RadComboBox_Breg .rcbHovered .rcbActionButton {
      color: #333333;
      border-color: #d0d0d0;
      background-color: #e6e6e6; }
  .RadComboBox_Breg .rcbFocused {
    color: #555555;
    border-color: #dddddd;
    background-color: #ffffff;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.08); }
    .RadComboBox_Breg .rcbFocused .rcbActionButton {
      color: #333333;
      border-color: #dddddd;
      background-color: #e6e6e6;
      box-shadow: inset -2px 2px 3px rgba(0, 0, 0, 0.08); }
  .RadComboBox_Breg .rcbDisabled {
    opacity: 1;
    color: #888888;
    border-color: #dddddd;
    background-color: #eeeeee; }
    .RadComboBox_Breg .rcbDisabled .rcbActionButton {
      color: #888888;
      border-color: #dddddd;
      background-color: #eeeeee; }

.RadComboBox_Breg_rtl .rcbFocused .rcbActionButton {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.08); }

.RadComboBoxDropDown_Breg {
  margin-top: 2px;
  line-height: 1.42857;
  color: #333333;
  border-color: #dddddd;
  border-radius: 0.28571em;
  background: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  overflow: hidden; }
  .RadComboBoxDropDown_Breg .rcbScroll {
    padding: 5px 0; }
  .RadComboBoxDropDown_Breg .rcbHeader,
  .RadComboBoxDropDown_Breg .rcbFooter {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd; }
  .RadComboBoxDropDown_Breg .rcbItem {
    margin: 0;
    padding: 2px 12px; }
  .RadComboBoxDropDown_Breg .rcbHovered {
    margin: 0;
    padding: 2px 12px;
    color: #000000;
    background-color: #efefef; }
  .RadComboBoxDropDown_Breg .rcbSelected {
    margin: 0;
    padding: 2px 12px;
    color: #ffffff;
    background-color: #ff3300; }
  .RadComboBoxDropDown_Breg .rcbDisabled {
    margin: 0;
    padding: 2px 12px; }
  .RadComboBoxDropDown_Breg .rcbLoading {
    margin: 0;
    padding: 2px 12px;
    color: #000000;
    background-color: #efefef; }
  .RadComboBoxDropDown_Breg .rcbItem em {
    color: #000000;
    background-color: #efefef; }
  .RadComboBoxDropDown_Breg .rcbCheckAllItems {
    color: #333333;
    background-color: #f5f5f5; }
  .RadComboBoxDropDown_Breg .rcbCheckAllItems,
  .RadComboBoxDropDown_Breg .rcbCheckAllItemsHovered {
    padding: 0.14286em 0.85714em; }
  .RadComboBoxDropDown_Breg .rcbMoreResults {
    border-color: #dddddd;
    color: #333333;
    background-color: #f5f5f5; }
  .RadComboBoxDropDown_Breg .rcbMoreResults a {
    border-top-color: #333333; }
  .RadComboBoxDropDown_Breg .rcbSeparator {
    margin-top: 10px;
    border-top: 1px solid #dddddd;
    color: #333333;
    background: #f5f5f5; }
