.RadDataForm_Breg {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  overflow: hidden; }
  .RadDataForm_Breg .rdfLegend,
  .RadDataForm_Breg .rdfBorders {
    border-color: #dddddd; }
  .RadDataForm_Breg .rdfHr {
    color: #dddddd; }
  .RadDataForm_Breg .rdfFieldHint {
    color: #b3b3b3; }
  .RadDataForm_Breg .rdfLegend {
    font-size: 1.17em; }
  .RadDataForm_Breg .rdfFieldHint {
    font-size: 0.83em;
    line-height: .8;
    padding: 0 0 0 0.42em; }
  .RadDataForm_Breg .rdfFieldHint.rdfBlock {
    padding: .42em 0 0 0; }
  .RadDataForm_Breg .rdfLabel.rdfBlock {
    padding: 0 0 0.17em 0; }
  .RadDataForm_Breg .rdfPager {
    margin-top: 1.25em; }
    .RadDataForm_Breg .rdfPager .rdfFirst,
    .RadDataForm_Breg .rdfPager .rdfPrev,
    .RadDataForm_Breg .rdfPager .rdfNext,
    .RadDataForm_Breg .rdfPager .rdfLast {
      margin-left: 2px;
      width: 32px;
      height: 32px;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      background: #ffffff no-repeat url(skin-image-url("DataForm", "sprite.png")); }
      .RadDataForm_Breg .rdfPager .rdfFirst:hover,
      .RadDataForm_Breg .rdfPager .rdfPrev:hover,
      .RadDataForm_Breg .rdfPager .rdfNext:hover,
      .RadDataForm_Breg .rdfPager .rdfLast:hover {
        background-color: #e6e6e6; }
    .RadDataForm_Breg .rdfPager .rdfFirst {
      background-position: 3px 3px; }
    .RadDataForm_Breg .rdfPager .rdfPrev {
      background-position: 1px -47px; }
    .RadDataForm_Breg .rdfPager .rdfNext {
      background-position: 4px -97px; }
    .RadDataForm_Breg .rdfPager .rdfLast {
      background-position: 4px -147px; }
