.RadDataPager_Breg {
  color: #333333;
  background: #f5f5f5;
  border: 1px solid #dddddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadDataPager_Breg .rdpWrap {
    padding: 0; }
  .RadDataPager_Breg .rdpNumPart a,
  .RadDataPager_Breg .rdpPagerButton,
  .RadDataPager_Breg .rdpActionButton {
    border-width: 1px;
    border-style: solid;
    box-sizing: content-box;
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    font-size: 1em; }
    .RadDataPager_Breg .rdpNumPart a:hover,
    .RadDataPager_Breg .rdpPagerButton:hover,
    .RadDataPager_Breg .rdpActionButton:hover {
      border-color: #d0d0d0;
      color: #333333;
      background-color: #e6e6e6; }
  .RadDataPager_Breg .rdpNumPart a,
  .RadDataPager_Breg .rdpActionButton {
    margin: 0;
    width: 1.42857em;
    border-left-width: 0; }
  .RadDataPager_Breg .rdpNumPart a {
    border-radius: 0;
    text-align: center; }
    .RadDataPager_Breg .rdpNumPart a.rdpCurrentPage {
      border-color: #e62e00;
      color: #ffffff;
      background-color: #ff3300; }
  .RadDataPager_Breg .rdpPageFirst {
    border-left-width: 1px;
    border-radius: 0.28571em 0 0 0.28571em; }
  .RadDataPager_Breg .rdpPageLast {
    border-radius: 0 0.28571em 0.28571em 0; }
  .RadDataPager_Breg .NumericPages .rdpNumPart a:first-child {
    border-left-width: 1px;
    border-radius: 0.28571em 0 0 0.28571em; }
  .RadDataPager_Breg .NumericPages .rdpNumPart a:last-child {
    border-radius: 0 0.28571em 0.28571em 0; }
  .RadDataPager_Breg .rdpActionButton {
    box-sizing: content-box; }
  .RadDataPager_Breg .rdpPagerButton {
    border-radius: 0.28571em; }
