.RadDropDownTree_Breg {
  color: #333333;
  line-height: 1.42857; }
  .RadDropDownTree_Breg .rddtInner {
    height: 2.42857em;
    padding-right: 3.57143em;
    color: #333333;
    background: #ffffff;
    border-color: #eeeeee;
    border-radius: 4px; }
  .RadDropDownTree_Breg .rddtFakeInput {
    height: 2.14286em;
    line-height: 2.14286em; }
  .RadDropDownTree_Breg .rddtEmptyMessage {
    color: #888888;
    font-style: italic; }
  .RadDropDownTree_Breg .rddtClearButton {
    right: 2.14286em;
    color: #333333;
    border-color: #eeeeee;
    border-radius: 0.14286em; }
    .RadDropDownTree_Breg .rddtClearButton.rddtClearButtonHovered {
      color: #333333;
      border-color: #d0d0d0;
      background-color: linear-gradient(#e6e6e6); }
  .RadDropDownTree_Breg .rddtIcon {
    width: 2.28571em;
    height: 2.28571em;
    line-height: 2.28571em;
    font-size: 1em; }
  .RadDropDownTree_Breg .rddtHovered {
    color: #333333;
    background: #e6e6e6;
    border-color: #d0d0d0; }
  .RadDropDownTree_Breg .rddtFocused {
    color: #333333;
    background: #e6e6e6;
    border-color: #afafaf;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.rddtPopup_Breg {
  margin-top: 0.14286em;
  color: #333333;
  background: #ffffff;
  border-color: #dddddd;
  border-radius: 0.28571em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .rddtPopup_Breg .rddtFilter {
    margin: 0;
    border-radius: 0.21429em 0.21429em 0em 0em;
    color: #333333;
    background: #f5f5f5;
    border-color: #dddddd; }
    .rddtPopup_Breg .rddtFilter .rddtFilterInput {
      font: inherit;
      color: #555555;
      background: #ffffff;
      border-color: #dddddd; }
    .rddtPopup_Breg .rddtFilter .rddtFilterEmptyMessage {
      color: #888888;
      font-style: italic; }
  .rddtPopup_Breg .RadTreeView em {
    color: #000000;
    background: #efefef; }
