.RadDropDownList_Breg {
  width: 11.42857em;
  color: #333333;
  line-height: 1.42857; }
  .RadDropDownList_Breg .rddlInner {
    border-color: #eeeeee;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff;
    padding: 6px 32px 6px 12px; }
  .RadDropDownList_Breg .rddlIcon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    top: 50%;
    right: 0.28571em;
    margin-top: -12px;
    font-size: 1em; }
  .RadDropDownList_Breg .rddlHovered {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6; }
  .RadDropDownList_Breg .rddlFocused {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset; }

.rddlPopup_Breg {
  width: 11.42857em;
  margin-top: 2px;
  line-height: 1.42857;
  color: #333333;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 0.28571em; }
  .rddlPopup_Breg .rddlList {
    padding: 6px 0;
    box-sizing: border-box; }
  .rddlPopup_Breg .rddlItem {
    padding: 2px 12px; }
  .rddlPopup_Breg .rddlItemHovered {
    color: #000000;
    background-color: #efefef; }
  .rddlPopup_Breg .rddlItemSelected {
    color: #ffffff;
    background-color: #ff3300; }
  .rddlPopup_Breg .rddlItemLoading {
    color: #000000;
    background-color: #efefef; }
