.RadEditor_Breg {
  font-size: 1em;
  background-color: #f5f5f5;
  border-color: #dddddd;
  color: #333333;
  border-radius: 0.28571em;
  /* ToolBar Bootstrap Styles */
  /* Base oveerides */
  /* Override DropDown Body when ToolBar styles are nested inside */ }
  .RadEditor_Breg .reToolIcon:before {
    font-size: 1.2307em;
    margin-left: 0.42857em;
    margin-left: 0.28571em \9; }
  .RadEditor_Breg .RadRibbonBar .reTool {
    width: 2.35714em;
    height: 2.35714em; }
    .RadEditor_Breg .RadRibbonBar .reTool.rrbSmallButton {
      width: 1.42857em;
      height: 1.42857em; }
    .RadEditor_Breg .RadRibbonBar .reTool:first-child {
      border-radius: 0.28571em 0em 0em 0.28571em; }
    .RadEditor_Breg .RadRibbonBar .reTool:last-child {
      border-radius: 0em 0.28571em 0.28571em 0em; }
  .RadEditor_Breg .RadRibbonBar .reDropdown {
    height: 2.14286em;
    line-height: 2.28571em; }
  .RadEditor_Breg .RadRibbonBar .reDropdown:before {
    line-height: 1.78571em; }
  .RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
    width: 2.28571em;
    height: 2.28571em; }
    .RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
      font-size: 1.35714em;
      font-size: 1em \9;
      vertical-align: top; }
  .RadEditor_Breg .RadRibbonBar .rrbMediumButton.reRibbonTool {
    height: 1.39286em; }
    .RadEditor_Breg .RadRibbonBar .rrbMediumButton.reRibbonTool .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
      margin-top: -0.78571em;
      height: 1.78571em; }
      .RadEditor_Breg .RadRibbonBar .rrbMediumButton.reRibbonTool .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
        vertical-align: text-top; }
  .RadEditor_Breg .RadRibbonBar .rrbLargeButton {
    width: inherit;
    height: 4.64286em; }
    .RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
      height: 2.85714em; }
      .RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
        font-size: 2.28571em;
        font-size: 0.85714em \9;
        vertical-align: text-top; }
  .RadEditor_Breg .RadRibbonBar _:-ms-fullscreen, :root .RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
    font-size: .79em; }
  .RadEditor_Breg .RadRibbonBar _:-ms-fullscreen, :root .RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
    font-size: .38em; }
  .RadEditor_Breg.rePopupContainer,
  .RadEditor_Breg .rePopupTitle,
  .RadEditor_Breg .reCommentInfoPanel,
  .RadEditor_Breg .reCommentView,
  .RadEditor_Breg .reCommentViewText,
  .RadEditor_Breg .reCommentEdit {
    background-color: #fcfcfc;
    border-color: #dddddd;
    background-image: linear-gradient(to bottom, #fefefe 0, #e6e6e6 100%); }
  .RadEditor_Breg .reToolBar {
    padding: 0.16667em 0;
    border: 0; }
  .RadEditor_Breg .reToolBar:after {
    display: inline-block;
    width: 1px;
    height: 2.42857em;
    margin: 0em 0.14286em 0em 0.21429em;
    background-color: #dddddd;
    content: "";
    vertical-align: top; }
  .RadEditor_Breg .reToolBar:last-child:after {
    display: none; }
  .RadEditor_Breg .reToolBar li {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #eeeeee;
    border-radius: 0; }
  .RadEditor_Breg .reToolBar li:first-child,
  .RadEditor_Breg .reToolBar .reToolLastItem {
    border-radius: 0.28571em 0em 0em 0.28571em;
    border-width: 1px 1px 1px 0; }
  .RadEditor_Breg .reToolBar li:first-child .reTool,
  .RadEditor_Breg .reToolBar .reToolLastItem .reTool {
    border-radius: 0.28571em 0em 0em 0.28571em; }
  .RadEditor_Breg .reToolBar li:last-child,
  .RadEditor_Breg .reToolBar li:last-child .reTool,
  .RadEditor_Breg .reToolBar .reToolLastItem,
  .RadEditor_Breg .reToolBar .reToolLastItem .reTool {
    border-radius: 0em 0.28571em 0.28571em 0em; }
  .RadEditor_Breg .reToolBar li:first-child:last-child,
  .RadEditor_Breg .reToolBar li:first-child:last-child .reTool {
    border-radius: 0.28571em; }
  .RadEditor_Breg .reSeparator + li {
    border-left-width: 1px; }
  .RadEditor_Breg .reTool {
    width: 2.28571em;
    height: 2.28571em;
    line-height: 1.75em;
    background-color: #ffffff;
    border-radius: 0; }
  .RadEditor_Breg .reTool.reSplitButton {
    width: 3.71429em; }
  .RadEditor_Breg .reTool .reSplitArrow {
    width: 1.07143em;
    margin: 0.35714em 0em 0em 0.5em; }
  .RadEditor_Breg .reTool:hover .reSplitArrow {
    border-left-color: transparent; }
  .RadEditor_Breg .rePopupButton,
  .RadEditor_Breg .reCommentButton,
  .RadEditor_Breg .reAjaxSpellButton {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient(); }
  .RadEditor_Breg .reTool:hover,
  .RadEditor_Breg .reToolText:hover,
  .RadEditor_Breg .reDropdown:hover,
  .RadEditor_Breg.reAlignmentSelector td div:hover:before,
  .RadEditor_Breg .rePopupButton:hover,
  .RadEditor_Breg .reCommentButton:hover,
  .RadEditor_Breg .reAjaxSpellButton:hover {
    background-color: #e6e6e6;
    border-color: transparent; }
  .RadEditor_Breg .reTool:active,
  .RadEditor_Breg .reTool:focus,
  .RadEditor_Breg .reToolText:active,
  .RadEditor_Breg .reToolText:focus,
  .RadEditor_Breg .reToolSelected,
  .RadEditor_Breg .reToolSelected:hover,
  .RadEditor_Breg .reDropdown:active,
  .RadEditor_Breg .reDropdown:focus,
  .RadEditor_Breg .rePopupButton:active,
  .RadEditor_Breg .rePopupButton:focus,
  .RadEditor_Breg .reCommentButton:active,
  .RadEditor_Breg .reCommentButton:focus,
  .RadEditor_Breg .reAjaxSpellButton:focus,
  .RadEditor_Breg .reAjaxSpellButton:active {
    background-color: #e6e6e6;
    color: #333333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
  .RadEditor_Breg .reTool:before,
  .RadEditor_Breg .reTool.reToolDisabled:hover:before,
  .RadEditor_Breg .reTool.reToolDisabled:active:before,
  .RadEditor_Breg .reTool.reToolDisabled:focus:before,
  .RadEditor_Breg .reTool.reToolDisabled:hover .reSplitArrow:before,
  .RadEditor_Breg .reTool.reToolDisabled:hover .reSplitArrow:hover:before,
  .RadEditor_Breg .reToolText,
  .RadEditor_Breg .reSplitArrow:before,
  .RadEditor_Breg .reDropdown:before,
  .RadEditor_Breg .reModes .reIcon:before,
  .RadEditor_Breg .reCustomColor {
    color: #333333; }
  .RadEditor_Breg .reCustomLinks a {
    color: #ff3300; }
  .RadEditor_Breg .reCustomLinks a:hover {
    color: #991e00; }
  .RadEditor_Breg .reDOMElement {
    color: #428bca; }
  .RadEditor_Breg .reDOMElementSelected {
    color: #3071a9; }
  .RadEditor_Breg .reTool:hover:before,
  .RadEditor_Breg .reTool:active:before,
  .RadEditor_Breg .reTool:focus:before,
  .RadEditor_Breg .reToolSelected:before,
  .RadEditor_Breg .reTool:hover .reSplitArrow:hover:before,
  .RadEditor_Breg .reTool:hover .reSplitArrow:active:before,
  .RadEditor_Breg .reTool:hover .reSplitArrow:focus:before,
  .RadEditor_Breg .reDropdown:hover,
  .RadEditor_Breg .reDropdown:hover:before,
  .RadEditor_Breg .reDropdown:active,
  .RadEditor_Breg .reDropdown:active:before,
  .RadEditor_Breg .reDropdown:focus,
  .RadEditor_Breg .reDropdown:focus:before,
  .RadEditor_Breg .reModes a:hover,
  .RadEditor_Breg .reModes a:hover .reIcon:before,
  .RadEditor_Breg .reModes a:active,
  .RadEditor_Breg .reModes a:focus,
  .RadEditor_Breg .reModes a:active .reIcon:before,
  .RadEditor_Breg .reModes a:focus .reIcon:before,
  .RadEditor_Breg .reModes .reSelectedMode,
  .RadEditor_Breg .reModes .reSelectedMode .reIcon:before,
  .RadEditor_Breg.reAlignmentSelector td div:hover:before,
  .RadEditor_Breg .rePopupButton:hover,
  .RadEditor_Breg .reCommentButton:hover,
  .RadEditor_Breg .rePopupButton:active,
  .RadEditor_Breg .rePopupButton:focus,
  .RadEditor_Breg .reCommentButton:active,
  .RadEditor_Breg .reCommentButton:focus,
  .RadEditor_Breg .reSpinBoxButtons span:hover:before,
  .RadEditor_Breg .reAjaxSpellButton:hover {
    color: #333333; }
  .RadEditor_Breg li.reSeparator {
    border-right-color: transparent;
    border-left-color: transparent;
    border-color: transparent;
    width: 0.28571em;
    max-width: 0.28571em; }
  .RadEditor_Breg .reToolBarWrapperLeft li.reSeparator,
  .RadEditor_Breg .reToolBarWrapperRight li.reSeparator {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-color: transparent;
    display: none; }
  .RadEditor_Breg .reToolBarWrapperLeft {
    left: 0.21429em; }
  .RadEditor_Breg .reToolBarWrapperRight {
    right: 0.57143em; }
  .RadEditor_Breg .reToolBarWrapperLeft .reToolBar li,
  .RadEditor_Breg .reToolBarWrapperRight .reToolBar li {
    border-width: 1px 1px 0 1px; }
  .RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child,
  .RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child,
  .RadEditor_Breg .reToolBarWrapperLeft .reToolBar .reSeparator + li,
  .RadEditor_Breg .reToolBarWrapperRight .reToolBar .reSeparator + li {
    border-width: 1px 1px 0 1px; }
  .RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child,
  .RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child,
  .RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:first-child .reTool,
  .RadEditor_Breg .reToolBarWrapperRight .reToolBar li:first-child .reTool {
    border-radius: 0.28571em 0.28571em 0em 0em; }
  .RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:last-child,
  .RadEditor_Breg .reToolBarWrapperRight .reToolBar li:last-child {
    border-width: 1px;
    border-radius: 0em 0em 0.28571em 0.28571em; }
  .RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:last-child .reTool,
  .RadEditor_Breg .reToolBarWrapperRight .reToolBar li:last-child .reTool,
  .RadEditor_Breg .reToolBarWrapperLeft .reToolBar li:last-child .reDropdown,
  .RadEditor_Breg .reToolBarWrapperRight .reToolBar li:last-child .reDropdown {
    border-radius: 0em 0em 0.28571em 0.28571em; }
  .RadEditor_Breg .reToolBarWrapperLeft .reTool,
  .RadEditor_Breg .reToolBarWrapperRight .reTool {
    width: 3.71429em; }
  .RadEditor_Breg .reToolBarWrapperLeft .reDropdown,
  .RadEditor_Breg .reToolBarWrapperRight .reDropdown {
    width: 3.57em; }
  .RadEditor_Breg .reToolBarWrapperLeft .reToolIcon:before,
  .RadEditor_Breg .reToolBarWrapperRight .reToolIcon:before {
    margin-left: 0; }
  .RadEditor_Breg .reContent {
    background-color: #ffffff;
    border-color: #dddddd;
    border-radius: 0.28571em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
  .RadEditor_Breg .reTableDiv .reModule,
  .RadEditor_Breg .reTableDiv .reRow {
    border-top-color: #dddddd; }
  .RadEditor_Breg .reDropdown.reToolDisabled,
  .RadEditor_Breg .reDropdown.reToolDisabled:hover,
  .RadEditor_Breg .reDropdown.reToolDisabled:active,
  .RadEditor_Breg .reDropdown.reToolDisabled:focus,
  .RadEditor_Breg .reDropdown.reToolDisabled:before,
  .RadEditor_Breg .reDropdown.reToolDisabled:hover:before,
  .RadEditor_Breg .reDropdown.reToolDisabled:active:before,
  .RadEditor_Breg .reDropdown.reToolDisabled:focus:before,
  .RadEditor_Breg.reInsertTable .reTableWizard.reTool:hover:before {
    color: #333333; }
  .RadEditor_Breg .reDropdown,
  .RadEditor_Breg .reDropdown.reToolDisabled,
  .RadEditor_Breg .reDropdown.reToolDisabled:hover,
  .RadEditor_Breg .reDropdown.reToolDisabled:active,
  .RadEditor_Breg .reDropdown.reToolDisabled:focus {
    background-color: #ffffff;
    border-color: transparent;
    color: #333333;
    margin: 0; }
  .RadEditor_Breg .reToolBar li:first-child .reDropdown {
    border-radius: 0.28571em 0em 0em 0.28571em; }
  .RadEditor_Breg .reToolBar .reDropdown:last-child {
    border-radius: 0em 0.28571em 0.28571em 0em; }
  .RadEditor_Breg .reRemoveDOMElement,
  .RadEditor_Breg .reRemoveDOMElement:before {
    color: red; }
  .RadEditor_Breg.reDropDownBody.reAjaxSpellCheck input[type="text"],
  .RadEditor_Breg .reTableDiv input[type="text"] {
    min-height: 2.42857em;
    padding: 0.42857em 0.85714em;
    border-radius: 0.28571em;
    background-color: #ffffff;
    color: #555555;
    border-color: #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadEditor_Breg.reDropDownBody.reAjaxSpellCheck input[type="text"]:hover,
  .RadEditor_Breg .reTableDiv input[type="text"]:hover {
    background-color: #ffffff;
    color: #555555;
    border-color: #c4c4c4; }
  .RadEditor_Breg.reDropDownBody.reAjaxSpellCheck input[type="text"]:focus,
  .RadEditor_Breg .reTableDiv input[type="text"]:focus {
    background-color: #ffffff;
    color: #555555;
    border-color: #ff471a;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none; }
  .RadEditor_Breg.reDropDownBody.reAjaxSpellCheck input[type="text"]:active,
  .RadEditor_Breg .reTableDiv input[type="text"]:active {
    background-color: #ffffff;
    color: #555555;
    border-color: #dddddd; }
  .RadEditor_Breg .reResize:before {
    color: #d9d9d9;
    margin: 0.45em 0 0 -0.3em; }
  .RadEditor_Breg.reToolBarLeft .reResize:before,
  .RadEditor_Breg.reToolBarRight .reResize:before {
    margin: -.45em 0 0; }
  .RadEditor_Breg.reInlineEditor:hover {
    border-color: #dddddd; }
  .RadEditor_Breg.RadWindow,
  .RadEditor_Breg.RadWindow.reInlineEditor:hover {
    border-color: #d9d9d9; }
  .RadEditor_Breg.reInlineEditorSelected,
  .RadEditor_Breg.reInlineEditorSelected:hover {
    border-color: #dddddd; }
  .RadEditor_Breg.RadWindow,
  .RadEditor_Breg.RadWindow .rwContent {
    background-color: #fcfcfc; }
  .RadEditor_Breg.reInsertTable td {
    border-color: #dddddd; }
  .RadEditor_Breg .reFormatSetsHeader,
  .RadEditor_Breg.reInsertTable .reItemOver {
    background-color: #fcfcfc;
    color: #333333; }
  .RadEditor_Breg .reModes a {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient();
    height: 2.42857em;
    line-height: 2.14286em;
    border-radius: 0.28571em;
    margin-right: 0.71429em; }
  .RadEditor_Breg .reModes a:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    box-shadow: inset 0 0 1px #ffffff; }
  .RadEditor_Breg .reModes a:active,
  .RadEditor_Breg .reModes a:focus,
  .RadEditor_Breg .reModes .reSelectedMode,
  .RadEditor_Breg .reModes .reSelectedMode:hover {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    color: #333333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
  .RadEditor_Breg .reModes a .reIcon:before {
    margin: 0.15em 0 0 0.33333em; }
  .RadEditor_Breg .reDropdown {
    height: 1.96429em;
    line-height: 1.85714em; }
  .RadEditor_Breg .reDropdown:before {
    right: -0.21429em;
    top: -0.14286em;
    content: "\E00E";
    font-size: 1.75em; }
  .RadEditor_Breg.reDropDownBody,
  .RadEditor_Breg.reDropDownBody .RadEditor_Breg {
    background-color: #ffffff; }
  .RadEditor_Breg.reDropDownBody li {
    padding: 0.28571em 0.35714em 0.28571em;
    border-color: #dddddd; }
  .RadEditor_Breg.reDropDownBody li:hover,
  .RadEditor_Breg.reDropDownBody li:hover .reTool {
    background-color: #fcfcfc;
    border-color: #c4c4c4; }
  .RadEditor_Breg.reDropDownBody .reToolBar li {
    border: 0;
    border-radius: 0; }
  .RadEditor_Breg.reDropDownBody .reToolBar .reTool {
    height: 1.21429em;
    line-height: 1.21429em; }
  .RadEditor_Breg.reDropDownBody .reToolBar .reToolIcon:before {
    display: inline-block;
    margin-top: -0.21429em;
    vertical-align: top; }
  .RadEditor_Breg.reDropDownBody.reColorPicker {
    width: 19.64286em !important;
    height: 17.5em !important; }
  .RadEditor_Breg.reDropDownBody.reColorPicker li {
    padding: 0; }
  .RadEditor_Breg.reDropDownBody.reColorPicker li,
  .RadEditor_Breg.reDropDownBody.reColorPicker li div {
    width: 1.42857em;
    height: 1.42857em; }
  .RadEditor_Breg.reDropDownBody.reColorPicker li.reClear {
    width: 0;
    height: 0; }
  .RadEditor_Breg.reDropDownBody.reInsertTable {
    width: 11.42857em !important; }
    .RadEditor_Breg.reDropDownBody.reInsertTable .reToolBar .reTool {
      width: 1.7em; }
    .RadEditor_Breg.reDropDownBody.reInsertTable li:hover,
    .RadEditor_Breg.reDropDownBody.reInsertTable li .reTool,
    .RadEditor_Breg.reDropDownBody.reInsertTable li:hover .reTool {
      background-color: transparent; }
    .RadEditor_Breg.reDropDownBody.reInsertTable li:hover {
      opacity: .7; }
  .RadEditor_Breg.reDropDownBody.reAlignmentSelector {
    width: 7.5em !important; }
  .RadEditor_Breg.reDropDownBody.reInsertSymbol {
    width: 11.78571em !important; }
  .RadEditor_Breg .reStatistic {
    color: #999999; }
  .RadEditor_Breg .reModule .reRow {
    height: 2.57143em; }
  .RadEditor_Breg .reRow .reLabel + span,
  .RadEditor_Breg .reRow .reLabel + .reTool,
  .RadEditor_Breg .reRow .reLabel + .reDropdown {
    margin: 0em 1.42857em 0em 0.71429em; }
  .RadEditor_Breg .reRow .reSplitButton {
    position: relative;
    width: 4.78571em;
    height: 2.42857em;
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient();
    border-radius: 0.28571em; }
  .RadEditor_Breg .reRow .reSplitButton:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    box-shadow: inset 0 0 1px #ffffff; }
  .RadEditor_Breg .reRow .reSplitButton:active {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    color: #333333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
  .RadEditor_Breg .reRow .reSplitButton .reSplitArrow {
    position: absolute;
    width: 2.35714em;
    height: 2.28571em;
    margin: 0;
    right: 0;
    border-left: 1px solid #dddddd;
    border-radius: 0em 0.28571em 0.28571em 0em; }
  .RadEditor_Breg .reRow .reSplitButton .reSplitArrow:before {
    line-height: 1.5em;
    margin: 0 0 0 0.1em; }
  .RadEditor_Breg .reRow .reSpinBox {
    width: 6.07143em; }
  .RadEditor_Breg .reRow .reSpinBox input[type="text"] {
    width: 6.07143em;
    height: 2.42857em;
    border-radius: 0.28571em;
    background-color: #ffffff;
    color: #555555;
    border-color: #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 0.08333em 2.5em 0.08333em 0.08333em; }
  .RadEditor_Breg .reRow .reSpinBox input[type="text"]:hover {
    background-color: #ffffff;
    color: #555555;
    border-color: #c4c4c4; }
  .RadEditor_Breg .reRow .reSpinBox input[type="text"]:focus {
    background-color: #ffffff;
    color: #555555;
    border-color: #ff471a;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none; }
  .RadEditor_Breg .reRow .reSpinBox input[type="text"]:active {
    background-color: #ffffff;
    color: #555555;
    border-color: #dddddd; }
  .RadEditor_Breg .reRow .reSpinBox .reSpinBoxButtons {
    width: 2.35714em;
    height: 2.35714em;
    border-left: 1px solid #dddddd; }
  .RadEditor_Breg .reSpinBoxButtons span {
    right: 0.07143em;
    border-radius: 0;
    width: 2.14286em;
    height: 1.07143em; }
  .RadEditor_Breg .reSpinBoxButtons span:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadEditor_Breg .reSpinBoxButtons span:active {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadEditor_Breg .reSpinBoxButtons .reSpinBoxIncrease {
    top: 0.07143em; }
  .RadEditor_Breg .reSpinBoxButtons .reSpinBoxDecrease {
    bottom: 0; }
  .RadEditor_Breg .reRow .reSetCellProperties {
    border-radius: 0.28571em;
    border: 1px solid #dddddd; }
  .RadEditor_Breg .reRow .reSetCellProperties.reToolIcon:before {
    margin-left: 0.39286em;
    margin-left: 0.25em \9;
    line-height: 1.85714em;
    line-height: 1.57143em \9; }
  .RadEditor_Breg .reRow .reclassName,
  .RadEditor_Breg .reRow .reTool {
    border-radius: 0.28571em;
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient(); }
  .RadEditor_Breg .reRow .reclassName:hover,
  .RadEditor_Breg .reRow .reTool:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadEditor_Breg .reRow .reclassName:focus,
  .RadEditor_Breg .reRow .reTool:focus {
    outline-width: thin;
    outline-offset: -2px;
    outline-color: #d0d0d0; }
  .RadEditor_Breg .reRow .reclassName:active,
  .RadEditor_Breg .reRow .reclassName:focus,
  .RadEditor_Breg .reRow .reTool:active {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    color: #333333; }
  .RadEditor_Breg .reRow .reclassName {
    height: 2.14286em; }
  .RadEditor_Breg .reBottomZone .reToolBar li {
    border: 0; }
  .RadEditor_Breg .reBottomZone .reToolBar .reTool {
    width: 2.42857em;
    height: 2.42857em;
    border-radius: 0;
    border-width: 1px 1px 1px 0; }
  .RadEditor_Breg .reBottomZone .reTool.reSplitButton {
    width: 4.78571em; }
  .RadEditor_Breg .reBottomZone .reToolBar li:first-child .reTool,
  .RadEditor_Breg .reBottomZone .reToolBar .reSeparator + li .reTool {
    border-width: 1px; }

.reToolBar.RadEditor_Breg {
  background-color: transparent;
  border-color: transparent; }

.reToolBar.RadEditor_Breg li {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #eeeeee;
  border-radius: 0; }

.reToolBar.RadEditor_Breg .reSeparator {
  border-color: transparent; }

.reToolBar.RadEditor_Breg li:first-child,
.reToolBar.RadEditor_Breg li:first-child .reTool {
  border-radius: 0.28571em 0em 0em 0.28571em; }

.reToolBar.RadEditor_Breg li:last-child,
.reToolBar.RadEditor_Breg .reToolLastItem,
.reToolBar.RadEditor_Breg li:last-child .reTool,
.reToolBar.RadEditor_Breg .reToolLastItem .reTool {
  border-radius: 0em 0.28571em 0.28571em 0em; }

.reToolBar.RadEditor_Breg li:first-child,
.reToolBar.RadEditor_Breg .reSeparator + li {
  border-width: 1px; }


  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .RadEditor_Breg .reToolIcon:before {
      margin-left: 0.28571em; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadEditor_Breg .reToolIcon:before {
      margin-left: 0.35714em; } }
  @media screen\0 {
    .RadEditor_Breg .reToolIcon:before {
      font-size: .8em; } }
  @media \0screen {
    .RadEditor_Breg .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
      font-size: 1.28571em; }
    .RadEditor_Breg .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
      font-size: 2.21429em; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadEditor_Breg .reTool {
      height: 2.3em;
      line-height: 2em; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadEditor_Breg .reDropdown {
      height: 2em; } }