.RadFilter_Breg {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadFilter_Breg a,
  .RadFilter_Breg .rfText,
  .RadFilter_Breg .rfApply input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333; }
  .RadFilter_Breg li li .rfDiv {
    padding-top: .55em; }
  .RadFilter_Breg .rfOper:hover,
  .RadFilter_Breg .rfField:hover,
  .RadFilter_Breg .rfExp:hover,
  .RadFilter_Breg .rfAddGr:hover,
  .RadFilter_Breg .rfAddExp:hover,
  .RadFilter_Breg .rfDel:hover {
    background-color: #e6e6e6;
    color: #333333;
    border-color: #d0d0d0; }
  .RadFilter_Breg .rfMid,
  .RadFilter_Breg .rfTools {
    padding: .5em 0;
    height: 2.3em;
    border-style: solid;
    border-color: #dddddd;
    background: #f5f5f5; }
  .RadFilter_Breg .rfMid {
    padding-left: .57em;
    border-width: 1px 0 1px 1px; }
  .RadFilter_Breg .rfTools {
    padding-right: .57em;
    border-width: 1px 1px 1px 0; }
  .RadFilter_Breg .rfCheckBox {
    display: inline-block;
    margin-right: 0;
    text-align: center; }
    .RadFilter_Breg .rfCheckBox input {
      margin-top: .67em; }
  .RadFilter_Breg .rfDel,
  .RadFilter_Breg .rfAddGr,
  .RadFilter_Breg .rfAddExp {
    box-sizing: border-box;
    margin: 0;
    width: 2.14em;
    height: 2.42857em;
    line-height: 2.29;
    border: 1px solid #eeeeee;
    border-left-width: 0;
    background-color: #ffffff;
    color: #333333; }
    .RadFilter_Breg .rfDel:before,
    .RadFilter_Breg .rfAddGr:before,
    .RadFilter_Breg .rfAddExp:before {
      line-height: 1.9; }
  .RadFilter_Breg .rfDel {
    border-radius: 0 0.29em 0.29em 0; }
  .RadFilter_Breg .rfField {
    color: #333333; }
  .RadFilter_Breg .rfOper:before,
  .RadFilter_Breg .rfField:before,
  .RadFilter_Breg .rfExp:before {
    line-height: 1.6; }
  .RadFilter_Breg .rfOper,
  .RadFilter_Breg .rfField,
  .RadFilter_Breg .rfExp,
  .RadFilter_Breg .rfText {
    box-sizing: border-box;
    padding: 0 27px 0 8px;
    height: 2.42857em;
    display: inline-block;
    line-height: 2.29;
    vertical-align: top;
    background-color: #ffffff;
    border: 1px solid #eeeeee; }
  .RadFilter_Breg .rfText {
    border-color: #dddddd;
    background-color: #ffffff;
    color: #555555; }
    .RadFilter_Breg .rfText:hover {
      border-color: #c4c4c4;
      color: #555555; }
  .RadFilter_Breg .rfOper {
    border-radius: 0.29em 0 0 0.29em; }
  .RadFilter_Breg .rfField {
    color: #333333;
    border-radius: 0.29em 0 0 0.29em; }
  .RadFilter_Breg a.rcTimePopup {
    border-radius: 0; }
  .RadFilter_Breg .RadDropDownList .rddlInner,
  .RadFilter_Breg .rfExp,
  .RadFilter_Breg .rfText,
  .RadFilter_Breg input.riTextBox {
    border-left-width: 0;
    border-radius: 0; }
  .RadFilter_Breg .rfCheckBox {
    width: 2.14em;
    height: 2.14em;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin: 0 0 0 -1px; }
  .RadFilter_Breg .rfPreview {
    color: #333333; }
    .RadFilter_Breg .rfPreview em,
    .RadFilter_Breg .rfPreview .rfBr {
      color: #428bca; }
    .RadFilter_Breg .rfPreview .rfBr {
      font-weight: bold; }
  .RadFilter_Breg .rfApply a,
  .RadFilter_Breg .rfApply span {
    padding: 0.14em 1.14em;
    height: 1.86em;
    border: 1px solid #eeeeee;
    border-radius: .29em;
    background: #ffffff;
    color: #555555; }
    .RadFilter_Breg .rfApply a input,
    .RadFilter_Breg .rfApply span input {
      padding: 0;
      line-height: 1.9; }
    .RadFilter_Breg .rfApply a:hover,
    .RadFilter_Breg .rfApply span:hover {
      color: #333333;
      background: #e6e6e6;
      border: 1px solid #d0d0d0; }
  .RadFilter_Breg .rfLast .rfDiv:after,
  .RadFilter_Breg .rfLines li li:before,
  .RadFilter_Breg .rfLines li li .rfDiv:before {
    border-color: #dddddd; }
