.RadForm_Breg {
  background-color: #ffffff; }
  .RadForm_Breg .rfdTextInput,
  .RadForm_Breg.rfdLabel label,
  .RadForm_Breg.rfdLabel .rfdAspLabel,
  .RadForm_Breg.rfdTextbox .rfdTextInput,
  .RadForm_Breg.rfdTextarea textarea,
  .RadForm_Breg.rfdFieldset fieldset,
  .RadForm_Breg.rfdFieldset legend,
  .RadForm_Breg .rfdHeading,
  .RadForm_Breg .riTextBox, .RadForm_Breg .rfdValidationSummaryControl,
  .RadForm_Breg .rfdLoginControl {
    font-size: 1em;
    color: #333333; }
  .RadForm_Breg.rfdZone {
    background-color: #ffffff; }
  .RadForm_Breg .rfdHeading {
    border-bottom-color: #dddddd; }
  .RadForm_Breg.RadForm.rfdFieldset fieldset {
    border-color: #dddddd;
    background-color: #fcfcfc; }
  .RadForm_Breg.rfdLabel label,
  .RadForm_Breg.rfdLabel .rfdAspLabel {
    line-height: 32px; }
  .RadForm_Breg.rfdRadio input[type="radio"] + label,
  .RadForm_Breg.rfdCheckbox input[type="checkbox"] + label,
  .RadForm_Breg legend > label,
  .RadForm_Breg legend > label {
    line-height: normal; }
  .RadForm_Breg .rfdSkinnedButton {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient();
    padding: 0.53571em 0.85714em;
    padding: 0.64286em 0.85714em \9;
    min-height: 2.42857em; }
  .RadForm_Breg _:-ms-fullscreen, .RadForm_Breg .rfdSkinnedButton {
    padding: 0.64286em 0.85714em; }
  .RadForm_Breg .rfdSkinnedButton:hover,
  .RadForm_Breg .rfdSkinnedButton:focus {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    box-shadow: inset 0 0 1px #ffffff; }
  .RadForm_Breg .rfdSkinnedButton:focus {
    outline-width: thin;
    outline-offset: -2px;
    outline-color: #d0d0d0; }
  .RadForm_Breg .rfdSkinnedButton:active,
  .RadForm_Breg .rfdClickedButton,
  .RadForm_Breg .rfdFocusedButton {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    color: #333333; }
  .RadForm_Breg .rfdTextInput {
    min-height: 2.42857em;
    padding: 0.42857em 0.85714em; }
  .RadForm_Breg .rfdTextInput,
  .RadForm_Breg.rfdTextarea textarea {
    background-color: #ffffff;
    color: #555555;
    border-color: #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; }
  .RadForm_Breg .rfdTextInput:hover,
  .RadForm_Breg.rfdTextarea textarea:hover {
    background-color: #ffffff;
    color: #555555;
    border-color: #c4c4c4; }
  .RadForm_Breg .rfdTextInput:focus,
  .RadForm_Breg.rfdTextarea textarea:focus {
    background-color: #ffffff;
    color: #555555;
    border-color: #3c87c8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none; }
  .RadForm_Breg .rfdTextInput:active,
  .RadForm_Breg.rfdTextarea textarea:active {
    background-color: #ffffff;
    color: #555555;
    border-color: #dddddd; }
  .RadForm_Breg .rfdCheckboxUnchecked,
  .RadForm_Breg .rfdRadioUnchecked,
  .RadForm_Breg .rfdCheckboxUnchecked .rfdToggleImage,
  .RadForm_Breg .rfdRadioUnchecked .rfdToggleImage {
    color: #333333; }
  .RadForm_Breg.RadForm .rfdCheckboxChecked,
  .RadForm_Breg.RadForm .rfdRadioChecked,
  .RadForm_Breg .rfdCheckboxUnchecked:hover,
  .RadForm_Breg .rfdRadioUnchecked:hover,
  .RadForm_Breg .rfdCheckboxChecked:hover .rfdToggleImage,
  .RadForm_Breg .rfdRadioChecked:hover .rfdToggleImage,
  .RadForm_Breg .rfdCheckboxUnchecked:hover .rfdToggleImage,
  .RadForm_Breg .rfdRadioUnchecked:hover .rfdToggleImage {
    color: #ff3300; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadForm_Breg.rfdRadio input[type="radio"],
    .RadForm_Breg.rfdCheckbox input[type="checkbox"] {
      color: #333333; }
    .RadForm_Breg.rfdRadio input[type="radio"]:hover + label,
    .RadForm_Breg.rfdCheckbox input[type="checkbox"]:hover + label,
    .RadForm_Breg.rfdRadio input[type="radio"]:hover,
    .RadForm_Breg.rfdCheckbox input[type="checkbox"]:hover,
    .RadForm_Breg.rfdRadio input[type="radio"]:checked + label,
    .RadForm_Breg.rfdCheckbox input[type="checkbox"]:checked + label,
    .RadForm_Breg.rfdRadio input[type="radio"]:checked,
    .RadForm_Breg.rfdCheckbox input[type="checkbox"]:checked {
      color: #ff3300; } }
  .RadForm_Breg .rfdSelect_Breg,
  .RadForm_Breg .rfdSelect_Breg.rfdDropDownExpanded {
    border-radius: 0.28571em; }
  .RadForm_Breg .rfdSelect_Breg {
    padding: 0.53571em 2.28571em 0.53571em 0.85714em;
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient();
    min-height: 2.42857em; }
  .RadForm_Breg .rfdSelect_Breg:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadForm_Breg .rfdSelect_Breg:focus {
    outline-width: thin;
    outline-offset: -2px;
    outline-color: #d0d0d0; }
  .RadForm_Breg .rfdSelect_Breg:active,
  .RadForm_Breg .rfdSelect_Breg:focus {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    color: #333333; }
  .RadForm_Breg .rfdDropDownArrow {
    width: 2.28571em;
    height: 2.28571em; }
  .RadForm_Breg .rfdDropDownArrow:before {
    margin: 0.42857em 0em 0em 0.21429em; }
  .RadForm_Breg.rfdScrollBars .rfdSelectBox::-webkit-scrollbar,
  .RadForm_Breg.rfdScrollBars .rfdSelectBox::-webkit-scrollbar-thumb:vertical,
  .RadForm_Breg.rfdScrollBars .rfdSelectBox::-webkit-scrollbar-thumb:horizontal,
  .RadForm_Breg.rfdScrollBars form::-webkit-scrollbar,
  .RadForm_Breg.rfdScrollBars form::-webkit-scrollbar-thumb:vertical,
  .RadForm_Breg.rfdScrollBars form::-webkit-scrollbar-thumb:horizontal {
    background-color: #fcfcfc; }
  .RadForm_Breg.rfdScrollBars textarea::-webkit-scrollbar-corner {
    background-color: #ffffff; }
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment,
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-thumb:vertical,
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-thumb:horizontal {
    border-color: #dddddd;
    background-color: #fcfcfc; }
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Bootstrap.Common.radActionsSprite.png")%>');
    background-color: #fcfcfc; }
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement {
    background-position: -17.5px -1118px; }
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
    background-position: -17.5px -1168px; }
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement {
    background-position: -18px -1018px; }
  .RadForm_Breg.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment {
    background-position: -18px -1068px; }
  .RadForm_Breg.rfdScrollBars {
    scrollbar-3dlight-color: #eeeeee;
    scrollbar-arrow-color: #616161;
    scrollbar-base-color: #ffffff;
    scrollbar-darkshadow-color: #eeeeee;
    scrollbar-face-color: #e6e6e6;
    scrollbar-highlight-color: #e6e6e6;
    scrollbar-shadow-color: #e6e6e6;
    scrollbar-track-color: #ffffff; }
  .RadForm_Breg.rfdGrids .rfdTable {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px; }
  .RadForm_Breg.rfdGrids .rfdTable th {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    background-color: #f5f5f5;
    color: #333333; }
  .RadForm_Breg.rfdGrids .rfdTable a {
    color: #333333; }
  .RadForm_Breg .rfdValidationSummaryControl,
  .RadForm_Breg .rfdLoginControl {
    background-color: #fcfcfc;
    border: 1px solid #dddddd; }
  .RadForm_Breg a.rfdLoginControl,
  .RadForm_Breg a.rfdLoginControl:active,
  .RadForm_Breg a.rfdLoginControl:visited {
    color: #333333; }
  .RadForm_Breg a.rfdLoginControl:hover {
    color: #991e00; }

.rfdSelectBox_Breg {
  border-color: #eeeeee;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 2em; }

.rfdRoundedCorners .rfdSelectBox_Breg.rfdSelectBoxDropDown {
  margin-top: 0.14286em;
  border-radius: 0.28571em; }

.rfdSelectBox_Breg li {
  padding: 0.32143em 0.85714em;
  padding: 0.35714em 0.85714em \9;
  background-color: #ffffff;
  color: #333333; }

_:-ms-fullscreen, :root .rfdSelectBox_Breg li {
  padding: 0.35714em 0.85714em; }

.rfdSelectBox_Breg li:hover,
.rfdSelectBox_Breg .rfdSelect_hovered,
.rfdSelectBox.rfdSelectBox_Breg li:hover {
  color: #000000;
  background-color: #fbfbfb; }

.rfdSelectBox_Breg .rfdSelect_selected,
.rfdSelectBox.rfdSelectBox_Breg .rfdSelect_selected:hover {
  color: #ffffff;
  background-color: #337ab7; }

.rfdSelectBox_Breg .rfdSelectBox_optgroup_label:hover {
  background: none;
  color: #333333; }
