.RadGrid_Breg {
  border: 1px solid #dddddd;
  width: 100% !important;
  overflow-x: auto;
  border-radius: 0px;
  color: #333333;
  background-color: #ffffff; }
  .RadGrid_Breg .rgHeader,
  .RadGrid_Breg .rgCommandRow {
    height: 2.3em;
    background: #f5f5f5; }
  .RadGrid_Breg .rgMasterTable,
  .RadGrid_Breg .rgDetailTable,
  .RadGrid_Breg .rgGroupPanel table,
  .RadGrid_Breg .rgCommandRow table,
  .RadGrid_Breg .rgEditForm table {
    font-size: 12.5px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
  }
  .RadGrid_Breg .rgActionButton {
    width: auto;
    height: auto; }
  .RadGrid_Breg .rgActionButton,
  .RadGrid_Breg .rgDrag,
  .RadGrid_Breg .rgDragClue,
  .RadGrid_Breg .rgExpandIcon,
  .RadGrid_Breg .rgCollapseIcon,
  .RadGrid_Breg .rgGroupPanelExpand,
  .RadGrid_Breg .rgGroupPanelCollapse,
  .RadGrid_Breg .rgButtonSortDesc,
  .RadGrid_Breg .rgButtonSortDesc,
  .RadGrid_Breg .rgButtonSortAsc,
  .RadGrid_Breg .rgButtonSortClear,
  .RadGrid_Breg .rgMobileExportForm .rgColumnItem,
  .RadGrid_Breg a.rgFilter,
  .RadGrid_Breg a.rgColumns {
    color: #333333; }
    .RadGrid_Breg .rgActionButton:hover,
    .RadGrid_Breg .rgDrag:hover,
    .RadGrid_Breg .rgDragClue:hover,
    .RadGrid_Breg .rgExpandIcon:hover,
    .RadGrid_Breg .rgCollapseIcon:hover,
    .RadGrid_Breg .rgGroupPanelExpand:hover,
    .RadGrid_Breg .rgGroupPanelCollapse:hover,
    .RadGrid_Breg .rgButtonSortDesc:hover,
    .RadGrid_Breg .rgButtonSortDesc:hover,
    .RadGrid_Breg .rgButtonSortAsc:hover,
    .RadGrid_Breg .rgButtonSortClear:hover,
    .RadGrid_Breg .rgMobileExportForm .rgColumnItem:hover,
    .RadGrid_Breg a.rgFilter:hover,
    .RadGrid_Breg a.rgColumns:hover {
      color: #333333; }
  .RadGrid_Breg .rgEdit,
  .RadGrid_Breg .rgDel {
    text-indent: 0; }
  .RadGrid_Breg .rgIcon {
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    display: inline-block; }
    .RadGrid_Breg .rgIcon:before {
      width: 100%;
      height: 100%; }
  .RadGrid_Breg.rgMultiHeader .rgDataDiv > table,
  .RadGrid_Breg.rgMultiHeader .rgFooterDiv > table {
    margin-left: -1px; }
  .RadGrid_Breg .rgMobileMenu {
    background: #fcfcfc; }
  .RadGrid_Breg .rgMobileForm,
  .RadGrid_Breg .rgMobileColumnForm {
    background: #ffffff; }
  .RadGrid_Breg .rgValue {
    height: 2.42em;
    border: 1px solid #dddddd;
    font-size: 1em; }
  .RadGrid_Breg .rgColumnItem .rgDrag:before {
    border-right: 1px solid #f2f2f2; }
  .RadGrid_Breg .rgMobileGroupForm .rgMobileForm {
    border-color: #dddddd;
    background: #fcfcfc; }
  .RadGrid .rgHeader,
  .RadGrid th.resizeCol,
  .RadGrid_Breg .rgHeader,
  .RadGrid_Breg th.rgResizeCol,
  .RadGrid_Breg .rgHeaderWrapper,
  .RadGrid_Breg .rgMultiHeaderRow th.rgHeader,
  .RadGrid_Breg .rgMultiHeaderRow th.rgResizeCol {
    border: 0;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2; }
  .RadGrid .rgHeader,
  .RadGrid th.resizeCol,
  .RadGrid_Breg .rgHeader,
  .RadGrid_Breg th.rgResizeCol,
  .RadGrid_Breg .rgHeaderWrapper {
    background-color: #f5f5f5;
    font-size: .95em;
    line-height: 1;
    font-weight: bold !important;
    border: 0;
    border-bottom: 1px solid #f2f2f2 !important;
    border-left: 1px solid #f2f2f2 !important;
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-color: #f2f2f2 !important;
    text-align: left;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
  }
  .RadGrid_Breg .rgHeader > img,
  .RadGrid_Breg th.rgResizeCol > img,
  .RadGrid_Breg .rgHeaderWrapper > img {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .RadGrid_Breg .rgHeaderDiv {
    border-right: 1px solid #f2f2f2; }
  .RadGrid_Breg .rgHeaderWrapper {
    border-bottom: 1px solid #f2f2f2; }
  .RadGrid_Breg .rgHeader,
  .RadGrid_Breg .rgHeader a {
    color: #ffffff;
    font-weight: bold;
  }
  .RadGrid_Breg .rgRow > td {
    background-color: #ffffff;
    color: #333333; }
  .RadGrid_Breg .rgRow > td,
  .RadGrid_Breg .rgAltRow > td,
  .RadGrid_Breg .rgFooter > td {
    border-color: #f2f2f2; }
  .RadGrid_Breg .rgRow > td,
  .RadGrid_Breg .rgAltRow > td {
    padding: 0.35714em 0.5em 0.28571em 0.5em;
    height: 2.28571em;
    border-style: solid;
    border-width: 0 0 1px 1px; }
  .RadGrid_Breg .rgAltRow > td {
    background-color: #f9f9f9;
    color: #333333; }
  .RadGrid_Breg .rgAltRow .rgSorted {
    background-color: #ececec; }
  .RadGrid_Breg .rgAltRow.rgHoveredRow .rgSorted {
    background-color: #dddddd; }
  .RadGrid_Breg .rgActiveRow td:not(.rgExpandCol) {
    box-shadow: inset 0px 5px 5px -5px #cc2900, inset 0px -5px 5px -5px #cc2900; }
  .RadGrid_Breg .rgActiveRow td:first-child:not(.rgExpandCol),
  .RadGrid_Breg .rgActiveRow .rgExpandCol + td {
    box-shadow: inset 0px 5px 5px -5px #cc2900, inset 0px -5px 5px -5px #cc2900, inset 5px 0px 5px -5px #cc2900; }
  .RadGrid_Breg .rgActiveRow td:not(.rgExpandCol):last-child {
    box-shadow: inset 0px 5px 5px -5px #cc2900, inset 0px -5px 5px -5px #cc2900, inset -5px 0px 5px -5px #cc2900; }
  .RadGrid_Breg .rgActiveCell {
    box-shadow: inset 0 0 5px #cc2900; }
  .RadGrid_Breg .rgHoveredRow > td {
    background: #efefef;
    color: #000000; }
  .RadGrid_Breg .rgEditRow {
    background: #ffffff; }
    .RadGrid_Breg .rgEditRow > td {
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: #f2f2f2; }
      .RadGrid_Breg .rgEditRow > td input {
        padding: 0 0.5em;
        height: 2.42857em;
        line-height: 2.42857em;
        border: 1px solid #dddddd;
        border-radius: 0.28571em;
        font-size: 1em; }
        .RadGrid_Breg .rgEditRow > td input[type="image"] {
          width: auto;
          height: auto; }
  .RadGrid_Breg .rgSorted {
    background-color: #e4e4e4; }
  .RadGrid_Breg .rgMasterTable .rgSelectedCell,
  .RadGrid_Breg .rgSelectedRow td,
  .RadGrid_Breg td.rgEditRow .rgSelectedRow,
  .RadGrid_Breg .rgSelectedRow td.rgSorted {
    color: #ffffff;
    background: #ff3300;
    border-color: #ffffff; }
  .RadGrid_Breg .rgSelectedRow.rgHoveredRow {
    background: #ff3300; }
  .RadGrid_Breg .rgSelectedCell a,
  .RadGrid_Breg .rgSelectedRow a {
    color: #ffffff; }
  .RadGrid_Breg .rgFooterWrapper,
  .RadGrid_Breg .rgFooter {
    background: #f5f5f5; }
  .RadGrid_Breg .rgFooterWrapper {
    border-top: 1px solid #f2f2f2; }
    .RadGrid_Breg .rgFooterWrapper tr.rgFooter td {
      border-bottom-width: 0; }
  .RadGrid_Breg .rgFooter > td {
    border-left: 1px solid #f2f2f2;
    padding: 0.71429em 0.35714em; }
    .RadGrid_Breg .rgFooter > td:first-child {
      border-left-width: 0; }
  .RadGrid_Breg .rgPager .rgStatus {
    width: 3.36em;
    background-color: #f5f5f5;
    border-right: 0 none; }
  .RadGrid_Breg .rgStatus div {
    width: auto;
    height: 2.5em;
    background-image: url("images/Common/loading_small.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .RadGrid_Breg .rgPagerCell {
    color: #333333;
    background: #f5f5f5;
    border-top: 1px solid #dddddd; }
    .RadGrid_Breg .rgPagerCell .rgWrap {
      padding: 0; }
    .RadGrid_Breg .rgPagerCell .rgNumPart a,
    .RadGrid_Breg .rgPagerCell .rgPagerButton,
    .RadGrid_Breg .rgPagerCell .rgActionButton {
      border-width: 1px;
      border-style: solid;
      box-sizing: content-box;
      border-color: #eeeeee;
      color: #333333;
      background-color: #ffffff;
      font-size: 1em; }
      .RadGrid_Breg .rgPagerCell .rgNumPart a:hover,
      .RadGrid_Breg .rgPagerCell .rgPagerButton:hover,
      .RadGrid_Breg .rgPagerCell .rgActionButton:hover {
        border-color: #d0d0d0;
        color: #333333;
        background-color: #e6e6e6; }
    .RadGrid_Breg .rgPagerCell .rgNumPart a,
    .RadGrid_Breg .rgPagerCell .rgActionButton {
      margin: 0;
      width: 1.42857em;
      border-left-width: 0; }
    .RadGrid_Breg .rgPagerCell .rgNumPart a {
      border-radius: 0;
      text-align: center; }
      .RadGrid_Breg .rgPagerCell .rgNumPart a.rgCurrentPage {
        border-color: #e62e00;
        color: #ffffff;
        background-color: #ff3300; }
    .RadGrid_Breg .rgPagerCell .rgPageFirst {
      border-left-width: 1px;
      border-radius: 0.28571em 0 0 0.28571em; }
    .RadGrid_Breg .rgPagerCell .rgPageLast {
      border-radius: 0 0.28571em 0.28571em 0; }
    .RadGrid_Breg .rgPagerCell .NumericPages .rgNumPart a:first-child {
      border-left-width: 1px;
      border-radius: 0.28571em 0 0 0.28571em; }
    .RadGrid_Breg .rgPagerCell .NumericPages .rgNumPart a:last-child {
      border-radius: 0 0.28571em 0.28571em 0; }
    .RadGrid_Breg .rgPagerCell .rgActionButton {
      box-sizing: content-box; }
    .RadGrid_Breg .rgPagerCell .rgPagerButton {
      border-radius: 0.28571em; }
  .RadGrid_Breg .rgGroupPanel {
    margin: -1px;
    padding: .71em;
    border-bottom: 1px solid #f2f2f2;
    background: #f5f5f5; }
  .RadGrid_Breg .rgGroupItem {
    padding: 0 0.5em;
    border: 1px solid #dddddd;
    color: #333333; }
  .RadGrid_Breg .rgGroupHeader td {
    padding: .5em 0;
    height: 2.3em;
    border-bottom: 1px solid #ccc;
    background: #d0d0d0;
  }
  .RadGrid_Breg .rgGroupHeader + .rgGroupHeader ~ tr > .rgGroupCol:nth-child(2) {
    background: #dcdcdc !important;
  }
  .RadGrid_Breg .rgGroupHeader + .rgGroupHeader > td[colspan="7"],
    .RadGrid_Breg .rgGroupHeader + .rgGroupHeader ~ tr > td[colspan="7"] {
    background: #dadada !important;
  }
  .RadGrid_Breg .rgGroupHeader td,
  .RadGrid_Breg .rgGroupHeader td p {
    font-weight: bold;
  }
  .RadGrid_Breg .rgGroupHeader .rgGroupCol {
    border-bottom-width: 0; }
  .RadGrid_Breg .rgRow .rgGroupCol,
  .RadGrid_Breg .rgAltRow .rgGroupCol {
    border-bottom-width: 0;
    background: #fbfbfb; }
  .RadGrid_Breg .rgMasterTable > tbody tr:first-child .rgGroupCol {
    border-top-width: 0; }
  .RadGrid_Breg table.rgMasterTable .rgGroupCol {
    border-left-width: 0; }
  .RadGrid_Breg .rgFooter .rgGroupCol,
  .RadGrid_Breg .rgFooter .rgGroupCol ~ td {
    border-bottom: 1px solid #f2f2f2; }
  .RadGrid_Breg td.rgGroupCol {
    background: #ccc !important; }
  .RadGrid_Breg .rgFilterRow > td {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #f2f2f2; }
  .RadGrid_Breg .rgFilterRow .RadPicker .RadInput {
    width: 100%; }
  .RadGrid_Breg .rgFilterBox {
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    color: #555555;
    border: 1px solid #dddddd;
    border-radius: 0.28571em 0 0 0.28571em; }
  .RadGrid_Breg .rgFilter {
    margin-left: -1px;
    width: 2.28571em;
    height: 2.28571em;
    border: 1px solid #dddddd;
    border-radius: 0 0.28571em 0.28571em 0;
    background-color: #ffffff;
    box-sizing: content-box; }
    .RadGrid_Breg .rgFilter:hover {
      background-color: #e6e6e6; }
    .RadGrid_Breg .rgFilter .rgIcon {
      line-height: 1.9; }
  * + html .RadGrid_Breg .rgFilter {
    height: 34px; }
  .RadGrid_Breg .rgFilterRow .riTextBox {
    border-radius: 0.28571em 0 0 0.28571em; }
  .RadGrid_Breg a.rcCalPopup,
  .RadGrid_Breg a.rcTimePopup {
    margin-right: 0;
    border-radius: 0; }
  .RadGrid_Breg .rgFiltered,
  .RadGrid_Breg .rgFiltered:hover {
    background-color: #e6e6e6; }
  .RadGrid_Breg .rgFilterRow .riSingle .riTextBox {
    vertical-align: top; }
  .RadGrid_Breg .rgEditForm .rgHeader {
    padding: 10px;
    border-left-width: 0; }
  .RadGrid_Breg .rgEditFormContainer table {
    padding-left: 10px; }
  .RadGrid_Breg .rgRow [type="text"],
  .RadGrid_Breg .rgAltRow [type="text"],
  .RadGrid_Breg .rgEditForm [type="text"] {
    padding: 0 0.5em;
    height: 32px;
    border: 1px solid #dddddd;
    border-radius: .3em; }
  .RadGrid_Breg .RadComboBox .rcbInput {
    border: 0 none;
    padding: 0; }
  .RadGrid_Breg .rgEditFormContainer {
    padding-top: 10px; }
    .RadGrid_Breg .rgEditFormContainer .rgUpdate {
      margin-left: 0.71429em; }
    .RadGrid_Breg .rgEditFormContainer .rgUpdate,
    .RadGrid_Breg .rgEditFormContainer .rgCancel {
      width: 2.28571em;
      height: 2.28571em;
      background-color: #ffffff;
      border: 1px solid #eeeeee;
      border-radius: 0.28571em; }
      .RadGrid_Breg .rgEditFormContainer .rgUpdate:hover,
      .RadGrid_Breg .rgEditFormContainer .rgCancel:hover {
        background-color: #e6e6e6; }
      .RadGrid_Breg .rgEditFormContainer .rgUpdate .rgIcon,
      .RadGrid_Breg .rgEditFormContainer .rgCancel .rgIcon {
        width: auto;
        height: auto; }
  .RadGrid_Breg .rgDetailTable {
    border-color: #f2f2f2; }
    .RadGrid_Breg .rgDetailTable .rgRow td:first-child,
    .RadGrid_Breg .rgDetailTable .rgAltRow td:first-child {
      border-left-width: 0; }
  .RadGrid_Breg .rgFooter .rgExpandCol {
    border-left-width: 0; }
  .RadGrid_Breg .rgRow .rgExpandCol,
  .RadGrid_Breg .rgRow .rgCollapseCol,
  .RadGrid_Breg .rgAltRow .rgExpandCol,
  .RadGrid_Breg .rgAltRow .rgCollapseCol {
    border-left-width: 0; }
  .RadGrid_Breg .rgCommandRow {
    background-color: #f5f5f5;
    border-bottom: 1px solid #f2f2f2; }
    .RadGrid_Breg .rgCommandRow .rgAdd .rgIcon:hover,
    .RadGrid_Breg .rgCommandRow .rgSave .rgIcon:hover,
    .RadGrid_Breg .rgCommandRow .rgCancel .rgIcon:hover,
    .RadGrid_Breg .rgCommandRow .rgRefresh .rgIcon:hover {
      border: 1px solid #eeeeee;
      background: #e6e6e6; }
    .RadGrid_Breg .rgCommandRow .rgIcon {
      width: 1.6em;
      height: 1.6em;
      line-height: 1.6em;
      border: 1px solid transparent;
      border-radius: 0.2em;
      font-size: 1.4em; }
  .RadGrid_Breg .rgCommandCell {
    height: 2.85714em;
    padding: 0 0.71429em;
    border: 0;
    border-bottom: 1px solid #f2f2f2; }
  .RadGrid_Breg tfoot .rgCommandCell,
  .RadGrid_Breg .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
    border-top: 1px solid #f2f2f2;
    border-bottom: 0; }
  .RadGrid_Breg .rgCommandTable td {
    border: 0;
    padding: 0.14em 0.5em; }

.GridItemDropIndicator_Breg {
  border-top: 1px dashed #666; }

.GridToolTip_Breg {
  border: 1px solid #c98400;
  padding: 3px;
  background: #ffefbd;
  color: #333; }

.RadGridRTL_Breg .rgHeader:first-child,
.RadGridRTL_Breg th.rgResizeCol:first-child,
.RadGridRTL_Breg .rgFilterRow > td:first-child,
.RadGridRTL_Breg .rgRow > td:first-child,
.RadGridRTL_Breg .rgAltRow > td:first-child {
  border-left-width: 1px;
  padding-left: 7px; }

.GridContextMenu_Breg .rgHCMClear,
.GridContextMenu_Breg .rgHCMFilter {
  font-size: 1em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.28571em; }
  .GridContextMenu_Breg .rgHCMClear:hover,
  .GridContextMenu_Breg .rgHCMFilter:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6; }

.GridContextMenu_Breg .rmGroup .rgHCMItem div.rmContent {
  padding: 15px;
  margin: 0 auto; }
