.RadImageEditor_Breg,
.RadImageEditor_Breg.rieDialogs .riePrintContent,
.RadImageEditor_Breg .rieHighlightVertical,
.RadImageEditor_Breg .rieHighlightHorizontal,
.RadDock_Breg.rieDialogs .rieActiveThumbsLink,
.RadDock_Breg.rieDialogs .rieThumbsLink:hover,
.RadDock_Breg.rieDialogs .riePrintContent,
.RadDock_Breg.rieDialogs .riePrintContent img {
  border-color: #dddddd;
  background-color: #fcfcfc; }

.RadImageEditor_Breg,
.RadImageEditor_Breg .rieStatusBarInfo .rieLabel,
.RadDock_Breg.rieDialogs .rdContent {
  color: #333333; }

.RadImageEditor_Breg .rieStatusBarInfo span {
  color: #666666; }

.RadImageEditor_Breg .rieContentArea,
.RadDock_Breg.rieDialogs .rieThumbsBottomRow td,
.RadDock_Breg.rieDialogs .rieDialogsThumbsLeft,
.RadDock_Breg.rieDialogs .rieThumbsLink {
  border-color: #dddddd; }

.rieRotateTable .rbIcon:before,
.rieResizeButtons .rbIcon:before {
  color: #333333; }

.rieRotateTable .rbHovered .rbIcon:before,
.rieResizeButtons .rbHovered .rbIcon:before {
  color: #ff3300; }

.rieBottomCell {
  border-color: #dddddd; }

.rtbLink:before {
  margin: 0.08333em 0.66667em 0 -1em; }

.RadImageEditor_Breg .RadToolBar_Breg .rtbItem + .rtbItem {
  margin-left: -0.07143em; }

.RadImageEditor_Breg .RadToolBar_Breg .rtbSeparator {
  margin: 0em 0.21429em;
  border-color: transparent; }

.RadImageEditor_Breg .RadToolBar_Breg .rtbLI:first-child .rtbButton {
  border-radius: 0.28571em 0 0 0.28571em; }

.RadImageEditor_Breg .RadToolBar_Breg .rtbLI:last-child .rtbButton {
  border-radius: 0 0.28571em 0.28571em 0; }

.RadImageEditor_Breg .RadToolBar_Breg .rtbButton {
  border-radius: 0; }

.RadToolBarDropDown_Breg_rtl .rtbLink:before {
  margin: 0.08333em -1em 0 0.66667em; }

.rieRtl .RadToolBar_Breg_rtl .rtbItem + .rtbItem {
  margin-right: -0.07143em; }

.rieRtl .RadToolBar_Breg_rtl .rtbLI:first-child .rtbButton {
  border-radius: 0 0.28571em 0.28571em 0; }

.rieRtl .RadToolBar_Breg_rtl .rtbLI:last-child .rtbButton {
  border-radius: 0.28571em 0 0 0.28571em; }
