.RadInput_Breg,
.RadInputMgr_Breg {
  font: 12px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif; 

}

.RadInput_Breg .riTextBox,
.RadInputMgr_Breg {
  margin-bottom: 1px;
  padding: 4px 5px !important;
  border-color: #cccccc;
  border-radius: 2px;
  color: #555555;
  background: #ffffff;
  box-shadow: none;
  font: 12px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.RadInput_Breg .riEmpty,
.RadInput_Empty_Breg {
  color: #888888; }

.RadInput_Breg .riDisabled,
.RadInput_Disabled_Breg {
  opacity: .7;
  cursor: default;
  color: #888888; }

.RadInput_Breg,
.RadInputMgr_Breg,
.RadForm_Breg.RadForm.rfdTextbox input.riTextBox.rfdDecorated {
  height: 100%;
  line-height: 0.21429em; }

.RadInputMultiline_Breg {
  height: auto; }

.RadInput_Breg .riHover,
.RadInput_Hover_Breg {
  border-color: #c4c4c4;
  color: #555555;
  background-color: #ffffff; }

html body .RadInput_Breg .riFocused,
html body .RadInput_Focused_Breg {
  border-color: #ff471a;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

html body .RadInput_Breg .riRead,
html body .RadInput_Read_Breg {
  border-color: #888888;
  color: #888888;
  background: #eeeeee; }

html body .RadInput_Breg .riError,
html body .RadInput_Error_Breg {
  border-color: #a94442; }

html body .RadInput_Breg .riNegative,
html body .RadInput_Negative_Breg {
  color: #6f6f6f; }

.RadInput_Breg .riSelect {
  right: 7px; }

.RadInput_Breg a {
  color: #333333; }
  .RadInput_Breg a:hover {
    color: #333333; }

.RadInput_Breg .riUp,
.RadInput_Breg .riDown {
  padding-left: 0.21429em;
  border-left: 1px solid #eeeeee; }

.RadInput_Breg .riLabel {
  color: #555555;
  line-height: 2.28571em; }
