.RadListBox_Breg {
  line-height: 1.42857; }
  .RadListBox_Breg .rlbButton {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    padding: 0.35714em;
    border-radius: 4px; }
    .RadListBox_Breg .rlbButton:hover:not(.rlbDisabled) {
      border-color: #d0d0d0;
      color: #333333;
      background-color: #e6e6e6; }
    .RadListBox_Breg .rlbButton:active:not(.rlbDisabled) {
      border-color: #afafaf;
      color: #333333;
      background-color: #e6e6e6; }
  .RadListBox_Breg .rlbGroup,
  .RadListBox_Breg .rlbTemplateContent {
    border-color: #dddddd;
    color: #333333;
    background-color: #ffffff; }
  .RadListBox_Breg .rlbHeader,
  .RadListBox_Breg .rlbFooter {
    padding: 3px 12px;
    border-color: #dddddd;
    color: #333333;
    background-color: #f5f5f5; }
  .RadListBox_Breg .rlbList {
    padding: 0; }
  .RadListBox_Breg .rlbCheckAllItems {
    color: #333333;
    background-color: #f5f5f5; }
  .RadListBox_Breg .rlbCheckAllItemsHovered {
    color: #333333;
    background-color: #e4e4e4; }
  .RadListBox_Breg .rlbCheck {
    margin-left: -4px;
    margin-right: 4px; }
  .RadListBox_Breg .rlbItem.rlbSelected .rlbCheck:hover {
    background-position: 0 0; }
  .RadListBox_Breg .rlbItem {
    padding: 3px 12px; }
  .RadListBox_Breg .rlbHighlight {
    border-color: #e2e2e2;
    color: #000000;
    background-color: #efefef;
    background-image: linear-gradient(); }
  .RadListBox_Breg .rlbItem.rlbHovered {
    border-color: #e2e2e2;
    color: #000000;
    background-color: #efefef;
    background-image: linear-gradient(); }
  .RadListBox_Breg .rlbItem.rlbSelected {
    border-color: #cc2900;
    color: #ffffff;
    background-color: #ff3300;
    background-image: linear-gradient(); }
  .RadListBox_Breg .rlbImage {
    margin-left: -4px;
    margin-right: 4px;
    padding: 0; }
  .RadListBox_Breg .rlbGroup .rlbSelected.rlbDropClueAbove {
    border-top-color: #fff; }
  .RadListBox_Breg .rlbGroup .rlbSelected.rlbDropClueBelow {
    border-bottom-color: #fff; }

.RadListBox_Breg[dir="rtl"] .rlbCheck {
  margin-left: 4px;
  margin-right: -4px; }

.RadListBox_Breg[dir="rtl"] .rlbImage {
  margin-left: 4px;
  margin-right: -4px; }

.RadListBox_Breg.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_Breg.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 2.42857em; }

.RadListBox_Breg.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_Breg.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 2.42857em; }
