.RadMenu_Breg {
  color: #333333;
  background-color: #f5f5f5;
  line-height: 1.42857; }
  .RadMenu_Breg .rmLink {
    text-decoration: none; }
  .RadMenu_Breg .rmIcon {
    line-height: 1.4em; }
  .RadMenu_Breg .rmRootGroup {
    border-color: #dddddd;
    color: #333333;
    background-color: #f5f5f5; }
  .RadMenu_Breg .rmRootGroup.rmVertical > .rmItem,
  .RadMenu_Breg .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem {
    float: none; }
  .RadMenu_Breg .rmRootGroup > .rmItem,
  .RadMenu_Breg .rmRootGroup > .rmRootScrollGroup > .rmItem {
    border-width: 0; }
  .RadMenu_Breg .rmRootGroup .rmRootLink {
    padding: 15px;
    color: #333333; }
  .RadMenu_Breg .rmVertical .rmRootLink {
    padding-top: 10px;
    padding-bottom: 10px; }
  .RadMenu_Breg .rmRootLink .rmText,
  .RadMenu_Breg .rmVertical .rmRootLink .rmText {
    padding: 0; }
  .RadMenu_Breg .rmRootLink:hover {
    color: #333333;
    background-color: #e4e4e4; }
  .RadMenu_Breg .rmSelected .rmRootLink,
  .RadMenu_Breg .rmExpanded .rmRootLink {
    color: #333333;
    background-color: #e4e4e4; }
  .RadMenu_Breg .rmDisabled .rmRootLink {
    color: #777777;
    border-color: transparent;
    background-color: transparent; }
  .RadMenu_Breg .rmRootGroup.rmHorizontal > .rmSeparator,
  .RadMenu_Breg .rmRootGroup.rmHorizontal > .rmRootScrollGroup > .rmSeparator {
    display: none; }
  .RadMenu_Breg .rmRootGroup.rmVertical > .rmItem.rmSeparator,
  .RadMenu_Breg .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem.rmSeparator {
    margin: 9px 0;
    height: 1px;
    border-width: 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .RadMenu_Breg .rmGroup,
  .RadMenu_Breg .rmMultiColumn {
    padding: 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff; }
  .RadMenu_Breg .rmGroup.rmVertical {
    padding: 5px 0; }
  .RadMenu_Breg .rmGroup.rmHorizontal {
    padding: 5px; }
  .RadMenu_Breg .rmSlide .rmScrollWrap .rmHorizontal {
    padding: 5px; }
  .RadMenu_Breg .rmGroup .rmLink {
    padding: 3px 30px;
    color: #333333; }
  .RadMenu_Breg .rmGroup .rmLink .rmText {
    padding: 0;
    margin: 0; }
  .RadMenu_Breg .rmGroup .rmLink:hover {
    border-color: #e2e2e2;
    color: #000000;
    background-color: #efefef; }
  .RadMenu_Breg .rmGroup .rmSelected > .rmLink,
  .RadMenu_Breg .rmGroup .rmSelected > .rmLink:hover,
  .RadMenu_Breg .rmGroup .rmExpanded > .rmLink,
  .RadMenu_Breg .rmGroup .rmExpanded > .rmLink:hover {
    border-color: #cc2900;
    color: #ffffff;
    background-color: #ff3300; }
  .RadMenu_Breg .rmGroup .rmDisabled > .rmLink,
  .RadMenu_Breg .rmGroup .rmDisabled > .rmLink:hover {
    color: #777777;
    border-color: transparent;
    background-color: transparent; }
  .RadMenu_Breg .rmSeparator {
    border-color: #dddddd transparent transparent #dddddd; }
  .RadMenu_Breg .rmLeftArrow,
  .RadMenu_Breg .rmRightArrow,
  .RadMenu_Breg .rmTopArrow,
  .RadMenu_Breg .rmBottomArrow {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    border-width: 0;
    border-style: solid; }
    .RadMenu_Breg .rmLeftArrow:hover,
    .RadMenu_Breg .rmRightArrow:hover,
    .RadMenu_Breg .rmTopArrow:hover,
    .RadMenu_Breg .rmBottomArrow:hover {
      border-color: #d0d0d0;
      color: #333333;
      background-color: #e6e6e6; }
  .RadMenu_Breg .rmLeftArrow,
  .RadMenu_Breg .rmRightArrow {
    height: 100%; }
  .RadMenu_Breg .rmLeftArrow {
    border-right-width: 1px; }
  .RadMenu_Breg .rmRightArrow {
    border-left-width: 1px; }
  .RadMenu_Breg .rmTopArrow {
    border-bottom-width: 1px; }
  .RadMenu_Breg .rmBottomArrow {
    border-top-width: 1px; }
  .RadMenu_Breg .rmTopFix,
  .RadMenu_Breg .rmTopLeft,
  .RadMenu_Breg .rmTopRight,
  .RadMenu_Breg .rmBottomFix,
  .RadMenu_Breg .rmBottomLeft,
  .RadMenu_Breg .rmBottomRight {
    display: none; }
