.RadNavigation_Breg .rnvRootGroupWrapper {
  border-color: #dddddd;
  color: #333333;
  background: #f5f5f5; }

.RadNavigation_Breg .rnvRootLink {
  border-color: transparent; }

.RadNavigation_Breg .rnvMore {
  border: 0;
  color: #333333;
  background: #f5f5f5; }
  .RadNavigation_Breg .rnvMore {
    padding: 14px;
    margin-top: 0; }
    .RadNavigation_Breg .rnvMore.rnvRight {
      margin-right: 0; }
    .RadNavigation_Breg .rnvMore:before {
      width: auto;
      height: auto;
      line-height: 0.95238em;
      font-size: 1.5em; }

.RadNavigation_Breg .rnvHovered.rnvMore,
.RadNavigation_Breg .rnvHovered > .rnvRootLink {
  color: #333333;
  background-color: #e4e4e4; }

.RadNavigation_Breg .rnvSelected.rnvMore,
.RadNavigation_Breg .rnvSelected > .rnvRootLink,
.RadNavigation_Breg .rnvExpanded > .rnvRootLink {
  color: #333333;
  background-color: #e4e4e4;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.RadNavigation_Breg .rnvFocused.rnvMore,
.RadNavigation_Breg .rnvFocused > .rnvRootLink {
  border-color: rgba(204, 41, 0, 0.5);
  box-shadow: inset 0 0 3px rgba(204, 41, 0, 0.5); }

.radSkin_Breg .rnvPopup {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff; }
  .radSkin_Breg .rnvPopup .rnvHovered > .rnvLink {
    color: #000000;
    background-color: #efefef; }
  .radSkin_Breg .rnvPopup .rnvSelected > .rnvLink,
  .radSkin_Breg .rnvPopup .rnvExpanded > .rnvLink {
    color: #ffffff;
    background-color: #ff3300; }
  .radSkin_Breg .rnvPopup .rnvFocused > .rnvLink {
    box-shadow: inset 0 0 3px rgba(204, 41, 0, 0.5); }
