.RadNotification_Breg {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #333333; }
  .RadNotification_Breg.rnShadows {
    box-shadow: 2px 2px 3px rgba(221, 221, 221, 0.5); }
  .RadNotification_Breg .rnTitleBar {
    border-color: #dddddd;
    color: #333333;
    background-color: #f5f5f5;
    background-image: linear-gradient(); }
  .RadNotification_Breg .rnCommands a:hover {
    border-radius: 0.21429em;
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadNotification_Breg .rnCommands {
    margin: -0.82143em 0em 0em; }
  .RadNotification_Breg .rnCommands a {
    width: 1.66666em;
    height: 1.66666em; }
  .RadNotification_Breg .rnCommands li a:before {
    margin: 0.10714em 0em 0em 0.10714em; }
