.RadOrgChart_Breg {
  /* Loading states */ }
  .RadOrgChart_Breg {
    color: #333333;
    line-height: 1.42857; }
  .RadOrgChart_Breg .rocGroup {
    border-radius: 10px;
    background: #f5f5f5; }
  .RadOrgChart_Breg .rocItem,
  .RadOrgChart_Breg .rocItemTemplate {
    color: #333333;
    border-radius: 5px;
    border-color: #f2f2f2;
    background-color: #ffffff; }
  .RadOrgChart_Breg .rocExpandArrow,
  .RadOrgChart_Breg .rocCollapseArrow,
  .RadOrgChart_Breg .rocExpandGroupArrow,
  .RadOrgChart_Breg .rocCollapseGroupArrow {
    color: #333333;
    border-color: #eeeeee;
    background-color: #ffffff;
    border-radius: 3px; }
  .RadOrgChart_Breg .rocLoadingNodes .rocExpandArrow,
  .RadOrgChart_Breg .rocLoadingNodes .rocCollapseArrow,
  .RadOrgChart_Breg .rocLoadingGroups .rocExpandGroupArrow,
  .RadOrgChart_Breg .rocLoadingGroups .rocCollapseGroupArrow {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Bootstrap.Common.loading_small.gif")%>'); }

.RadOrgChart_Breg.rocHorizontal .rocNode {
  padding: 1.28571em 0em; }

.RadOrgChart_Breg.rocDetachedItem,
.RadOrgChart_Breg.rocDetachedNode {
  color: #333333;
  border-color: #dddddd;
  background-color: #ffffff; }

.rocToolbar_Breg {
  background: #f5f5f5;
  border-radius: 4px; }
  .rocToolbar_Breg .rocToolbarButton {
    color: #333333;
    border-color: #eeeeee;
    background-color: #ffffff;
    border-radius: 2px; }
