.RadProgressBar_Breg {
  font-size: 1em;
  color: #333333;
  background-color: #f5f5f5; }
  .RadProgressBar_Breg .rpbChunksWrapper .rpbChunkLast {
    border: 0; }
  .RadProgressBar_Breg.rpbHorizontal .rpbChunk {
    border-width: 0 1px 0 0; }
  .RadProgressBar_Breg.rpbVertical .rpbChunk {
    border-width: 0 0 1px 0; }
  .RadProgressBar_Breg .rpbStateSelected {
    background-image: none; }
    .RadProgressBar_Breg .rpbStateSelected:hover {
      background-image: none; }
  .RadProgressBar_Breg.rpbStripped .rpbStateSelected:before {
    content: "";
    display: block;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 24px 24px; }
  .RadProgressBar_Breg .rpbLabel {
    font-size: 0.85714em; }
  .RadProgressBar_Breg > .rpbLabelWrapper {
    line-height: normal; }
  .RadProgressBar_Breg .rpbStateSelected {
    border: 0;
    color: #ffffff;
    background-color: #ff3300; }
  .RadProgressBar_Breg .rpbChunk {
    border-color: #dddddd; }
    .RadProgressBar_Breg .rpbChunk.rpbStateSelected {
      border: 0; }
  .RadProgressBar_Breg.rpbHorizontal {
    height: 1.42857em;
    box-shadow: 0 1px 3px 1px #dddddd inset; }
    .RadProgressBar_Breg.rpbHorizontal .rpbStateSelected {
      box-shadow: 0 -1px 0 1px #cc2900 inset; }
      .RadProgressBar_Breg.rpbHorizontal .rpbStateSelected .rpbLabelWrapper {
        line-height: 1.1em; }
  .RadProgressBar_Breg.rpbVertical {
    width: 1.42857em;
    box-shadow: 1px 0 3px 1px #dddddd inset; }
    .RadProgressBar_Breg.rpbVertical .rpbLabel {
      padding: 0 1em; }
    .RadProgressBar_Breg.rpbVertical .rpbStateSelected {
      box-shadow: -1px 0 0 1px #cc2900 inset; }
  .RadProgressBar_Breg.rpbIndeterminate {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.radIndeterminate.gif")%>'); }
