.RadUploadProgressArea_Breg {
  color: #333333;
  border-color: #dddddd;
  border-radius: 0.21429em;
  background: #ffffff; }

.RadUploadProgressArea_Breg .ruHeader {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
  padding: 0.35714em 0.85714em; }

.RadUploadProgressArea_Breg .ruFooter {
  color: #333333;
  background: #f5f5f5;
  border-color: #dddddd;
  padding: 0.5em 0.85714em; }

.RadUploadProgressArea_Breg .ruProgressBar {
  border-color: #dddddd;
  border-radius: 0.31746em;
  background: #f5f5f5; }

.RadUploadProgressArea_Breg .ruProgress {
  background-color: #ff3300;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.RadUploadProgressArea_Breg .radButton {
  padding: 0.42857em 0.85714em;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.21429em;
  border-color: #eeeeee; }
  .RadUploadProgressArea_Breg .radButton.ruHovered {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #d0d0d0; }
