.RadRibbonBar_Breg {
  color: #333333; }
  .RadRibbonBar_Breg .rrbWrap {
    border-color: #dddddd;
    background-color: #f5f5f5; }

.RadRibbonBar_Breg .rrbTabs {
  border-bottom-color: #c4c4c4; }
  .RadRibbonBar_Breg .rrbTabs .rrbItem .rrbLink {
    padding: 10px 15px;
    border-radius: 0.28571em 0.28571em 0em 0em;
    border-color: transparent;
    color: #333333; }
  .RadRibbonBar_Breg .rrbTabs .rrbItem.rrbHovered .rrbLink {
    color: #333333;
    border-color: #c4c4c4;
    background-color: #e4e4e4; }
  .RadRibbonBar_Breg .rrbTabs .rrbItem.rrbSelected .rrbLink {
    color: #333333;
    border-color: #c4c4c4;
    background-color: #e4e4e4; }
  .RadRibbonBar_Breg .rrbTabs .rrbItem,
  .RadRibbonBar_Breg .rrbTabs .rrbApplicationItem {
    margin-right: 7px; }

.RadRibbonBar_Breg .rrbContextualItem {
  padding-top: 2.85714em; }

.RadRibbonBar_Breg .rrbQat + .rrbTabs .rrbContextualItem {
  margin-top: -2.85714em; }

.RadRibbonBar_Breg .rrbButton {
  padding: 6px;
  border-radius: 0.28571em; }

.RadRibbonBar_Breg .rrbAbox > .rrbButtonGroup .rrbButton {
  border-radius: 0; }
  .RadRibbonBar_Breg .rrbAbox > .rrbButtonGroup .rrbButton + .rrbButton {
    margin-left: -1px; }

.RadRibbonBar_Breg .rrbAbox > .rrbButtonGroup .rrbButton:first-child {
  border-radius: 0.28571em 0em 0em 0.28571em; }

.RadRibbonBar_Breg .rrbAbox > .rrbButtonGroup .rrbButton:last-child {
  border-radius: 0em 0.28571em 0.28571em 0em; }

.RadRibbonBar_Breg .rrbApplicationItem {
  margin-bottom: 7px; }
  .RadRibbonBar_Breg .rrbApplicationItem .rrbLink {
    width: 1.42857em;
    padding: 6px;
    border-radius: 0.28571em;
    color: transparent;
    border-color: #eeeeee;
    background-color: #ffffff; }
    .RadRibbonBar_Breg .rrbApplicationItem .rrbLink:before {
      content: "\E002";
      font: 1.14286em TelerikWebUI;
      color: #333333;
      vertical-align: middle; }
  .RadRibbonBar_Breg .rrbApplicationItem.rrbSelected .rrbHeaderBar {
    border-color: #dddddd;
    background: #f5f5f5; }
  .RadRibbonBar_Breg .rrbApplicationItem.rrbSelected .rrbLink {
    border-color: #c4c4c4;
    background-color: #e4e4e4; }
    .RadRibbonBar_Breg .rrbApplicationItem.rrbSelected .rrbLink:before {
      color: #333333; }

.RadRibbonBar_Breg .rrbContextualItem .rrbLabel {
  color: #ffffff; }

.RadRibbonBar_Breg .rrbMenu .rrbHeader {
  color: #333333;
  background-color: #f5f5f5; }

.RadRibbonBar_Breg .rrbToolTip {
  color: #333333;
  border-color: #dddddd;
  background-color: #fcfcfc; }

.RadRibbonBar_Breg .rrbCommandGroup {
  border-radius: 0.28571em;
  padding: 0.5em 0.5em 2.14286em;
  border-color: #eeeeee;
  background-color: #ffffff; }
  .RadRibbonBar_Breg .rrbCommandGroup:before {
    height: 4.64286em;
    padding: 19px 0; }
  .RadRibbonBar_Breg .rrbCommandGroup ~ .rrbCommandGroup {
    margin-left: 0.5em; }

.RadRibbonBar_Breg .rrbCommandArea {
  padding: 0.5em;
  background-color: #f5f5f5; }

.RadRibbonBar_Breg .rrbResizeHandle {
  background-position: -20px -2220px; }

.RadRibbonBar_Breg .rrbTitle {
  color: #333333;
  background-color: #f5f5f5; }

.RadRibbonBar_Breg .rrbCollapsedGroup {
  border-color: #dddddd; }
  .RadRibbonBar_Breg .rrbCollapsedGroup .rrbIcon {
    border-color: #eeeeee; }

.RadRibbonBar_Breg .rrbButton, .RadRibbonBar_Breg .rrbSplitButton.rrbHovered .rrbArrow, .RadRibbonBar_Breg .rrbButtonGroup .rrbButton, .RadRibbonBar_Breg .rrbComboBox .rrbButton,
.RadRibbonBar_Breg .rrbDropDown .rrbButton,
.RadRibbonBar_Breg .rrbNumericTextBox .rrbButton,
.RadRibbonBar_Breg .rrbColorPicker .rrbButton, .RadRibbonBar_Breg .rrbDropDown .rrbDDInner, .RadRibbonBar_Breg .rrbColorPicker .rrbCPInner, .RadRibbonBar_Breg .rrbGalleryActions .rrbButton {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff; }

.RadRibbonBar_Breg .rrbComboBox .rrbCBInner, .RadRibbonBar_Breg .rrbDropDown .rrbDDInner, .RadRibbonBar_Breg .rrbNumericTextBox .rrbNTBInner, .RadRibbonBar_Breg .rrbColorPicker .rrbCPInner {
  padding: 6px 34px 6px 6px; }
  .RadRibbonBar_Breg .rrbComboBox .rrbCBInner .rrbButton, .RadRibbonBar_Breg .rrbDropDown .rrbDDInner .rrbButton, .RadRibbonBar_Breg .rrbNumericTextBox .rrbNTBInner .rrbButton, .RadRibbonBar_Breg .rrbColorPicker .rrbCPInner .rrbButton {
    border-radius: 0; }

.RadRibbonBar_Breg .rrbComboBox .rrbButton,
.RadRibbonBar_Breg .rrbDropDown .rrbButton,
.RadRibbonBar_Breg .rrbNumericTextBox .rrbButton,
.RadRibbonBar_Breg .rrbColorPicker .rrbButton {
  padding: 6px; }

.RadRibbonBar_Breg .rrbQat .rrbButton, .RadRibbonBar_Breg .rrbButton, .RadRibbonBar_Breg .rrbButton .rrbArrow {
  border-color: transparent;
  background: transparent; }

.RadRibbonBar_Breg .rrbQat .rrbButton:hover, .RadRibbonBar_Breg .rrbButton:hover,
.RadRibbonBar_Breg .rrbButton.rrbHovered, .RadRibbonBar_Breg .rrbSplitButton .rrbArrow:hover, .RadRibbonBar_Breg .rrbButtonGroup .rrbButton:hover, .RadRibbonBar_Breg .rrbComboBox .rrbButton.rrbHovered,
.RadRibbonBar_Breg .rrbDropDown .rrbButton.rrbHovered,
.RadRibbonBar_Breg .rrbNumericTextBox .rrbButton.rrbHovered,
.RadRibbonBar_Breg .rrbColorPicker .rrbButton.rrbHovered, .RadRibbonBar_Breg .rrbDropDown .rrbDDInner:hover, .RadRibbonBar_Breg .rrbColorPicker .rrbCPInner:hover, .RadRibbonBar_Breg .rrbGallery .rrbItem.rrbHovered, .RadRibbonBar_Breg .rrbGalleryActions .rrbButton.rrbHovered, .rrbSlide_Breg .rrbItem.rrbHovered {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6; }

.RadRibbonBar_Breg .rrbQat .rrbButton:active, .RadRibbonBar_Breg .rrbButton.rrbClicked,
.RadRibbonBar_Breg .rrbButton.rrbPressed,
.RadRibbonBar_Breg .rrbButton.rrbExpanded, .RadRibbonBar_Breg .rrbButton.rrbToggled, .RadRibbonBar_Breg .rrbSplitButton.rrbExpanded .rrbArrow,
.RadRibbonBar_Breg .rrbSplitButton.rrbClicked .rrbArrow, .RadRibbonBar_Breg .rrbButtonGroup .rrbButton:active,
.RadRibbonBar_Breg .rrbButtonGroup .rrbButton.rrbClicked,
.RadRibbonBar_Breg .rrbButtonGroup .rrbButton.rrbPressed, .RadRibbonBar_Breg .rrbComboBox .rrbButton.rrbClicked,
.RadRibbonBar_Breg .rrbDropDown .rrbButton.rrbClicked,
.RadRibbonBar_Breg .rrbNumericTextBox .rrbButton.rrbClicked,
.RadRibbonBar_Breg .rrbColorPicker .rrbButton.rrbClicked, .RadRibbonBar_Breg .rrbDropDown .rrbDDInner:active, .RadRibbonBar_Breg .rrbColorPicker .rrbCPInner:active, .RadRibbonBar_Breg .rrbGallery .rrbItem.rrbSelected, .RadRibbonBar_Breg .rrbGalleryActions .rrbButton.rrbClicked, .rrbSlide_Breg .rrbItem.rrbSelected {
  border-color: #afafaf;
  color: #333333;
  background-color: #e6e6e6; }

.RadRibbonBar_Breg .rrbMenu, .rrbDropDownSlide_Breg .rrbPopup, .rrbSlide_Breg .rrbPopup, .rrbPopup_Breg, .rrbPopup_Breg .rrbPopup {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff; }

/*%menu-item {
	color: $list-item-color;
	background-color: $list-item-bg;
}*/
.RadRibbonBar_Breg .rrbMenu .rrbItem.rrbHovered, .rrbPopup_Breg .rrbItem.rrbHovered > .rrbInner, .rrbPopup_Breg .rrbItem.rrbHovered > .rrbInner .rrbToggle, .rrbPopup_Breg .rrbItem.rrbExpanded > .rrbInner {
  border-color: #e2e2e2;
  color: #000000;
  background-color: #efefef;
  background-image: linear-gradient(); }

.rrbPopup_Breg .rrbItem.rrbExpanded > .rrbInner .rrbToggle {
  border-color: #cc2900;
  color: #ffffff;
  background-color: #ff3300;
  background-image: linear-gradient(); }

.RadRibbonBar_Breg .rrbToggleHandle,
.RadRibbonBar_Breg .rrbResizeHandle,
.RadRibbonBar_Breg .rrbGroupLauncher,
.RadRibbonBar_Breg .rrbGroupToggleIcon {
  /*background-image: url( $actions-sprite );*/ }

.RadRibbonBar_Breg .rrbSplitButton .rrbArrow {
  border-radius: 0; }

.RadRibbonBar_Breg .rrbSmallButton.rrbMenuButton,
.RadRibbonBar_Breg .rrbSmallButton.rrbSplitButton {
  padding-right: 22px; }
  .RadRibbonBar_Breg .rrbSmallButton.rrbMenuButton .rrbImagePlaceholder,
  .RadRibbonBar_Breg .rrbSmallButton.rrbSplitButton .rrbImagePlaceholder {
    left: 6px; }
  .RadRibbonBar_Breg .rrbSmallButton.rrbMenuButton .rrbArrow,
  .RadRibbonBar_Breg .rrbSmallButton.rrbSplitButton .rrbArrow {
    width: 22px; }

.RadRibbonBar_Breg .rrbMediumButton {
  padding-left: 24px; }
  .RadRibbonBar_Breg .rrbMediumButton.rrbMenuButton,
  .RadRibbonBar_Breg .rrbMediumButton.rrbSplitButton {
    padding-right: 24px; }
  .RadRibbonBar_Breg .rrbMediumButton .rrbImagePlaceholder {
    left: 4px; }

.RadRibbonBar_Breg .rrbLargeButton {
  padding: 18px 0;
  height: 4.57143em; }
  .RadRibbonBar_Breg .rrbLargeButton .rrbImagePlaceholder {
    top: 0.7em; }

.RadRibbonBar_Breg .rrbComboBox .rrbCBInner {
  border-radius: 0.28571em;
  border-color: #dddddd;
  background-color: #ffffff; }

.RadRibbonBar_Breg .rrbComboBox .rrbCBInput {
  color: #555555; }

.RadRibbonBar_Breg .rrbDropDown .rrbButton,
.RadRibbonBar_Breg .rrbDropDown .rrbButton.rrbHovered {
  background: none; }

.RadRibbonBar_Breg .rrbNumericTextBox {
  width: 4.28571em; }
  .RadRibbonBar_Breg .rrbNumericTextBox .rrbNTBInner {
    border-radius: 0.28571em;
    border-color: #dddddd;
    background-color: #ffffff; }
  .RadRibbonBar_Breg .rrbNumericTextBox .rrbNTBInput {
    color: #555555; }

.RadRibbonBar_Breg .rrbColorPicker .rrbButton,
.RadRibbonBar_Breg .rrbColorPicker .rrbButton.rrbHovered {
  background: none; }

.RadRibbonBar_Breg .rrbGallery {
  height: 6em;
  padding-right: 32px;
  border-radius: 0.28571em;
  border-color: #dddddd;
  background-color: #ffffff; }
  .RadRibbonBar_Breg .rrbGallery .rrbItem .rrbLink {
    color: #333333;
    background-color: #ffffff; }

.RadRibbonBar_Breg .rrbGalleryActions .rrbButton {
  width: 32px;
  border-radius: 0; }

.RadRibbonBar_Breg .rrbCategoryTitle {
  color: #333333;
  background-color: #f5f5f5; }

.rrbDropDownSlide_Breg .rrbListItem:hover {
  color: #000000;
  background-color: #fcfcfc; }

.rrbSlide_Breg .rrbCategoryTitle {
  color: #333333;
  background-color: #f5f5f5; }

.rrbSlide_Breg .rrbGallery {
  background: #ffffff; }

.rrbSlide_Breg .rrbLink {
  color: #333333;
  background-color: #ffffff; }

.rrbPopup_Breg .rrbHeaderBar {
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff; }

.rrbPopup_Breg .rrbAuxiliaryPane {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5; }

.rrbPopup_Breg .rrbHeader,
.rrbPopup_Breg .rrbFooter {
  color: #333333;
  border-color: #dddddd;
  background: #f5f5f5; }
