.RadSearchBox_Breg {
  color: #333333;
  line-height: 1.42857; }
  .RadSearchBox_Breg .rsbInner {
    padding: 0;
    border-radius: 4px;
    border-color: #dddddd;
    color: #555555;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; }
  .RadSearchBox_Breg .rsbInput {
    margin: 0;
    padding: 5px 12px;
    height: 20px;
    line-height: 20px;
    font-family: inherit; }
  .RadSearchBox_Breg .rsbEmptyMessage {
    color: #888888; }
  .RadSearchBox_Breg .rsbButton {
    padding: 6px 12px;
    width: 32px;
    height: 32px;
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff; }
    .RadSearchBox_Breg .rsbButton:hover {
      border-color: #d0d0d0;
      color: #333333;
      background-color: #e6e6e6; }
    .RadSearchBox_Breg .rsbButton:active {
      border-color: #afafaf;
      color: #333333;
      background-color: #e6e6e6; }
  .RadSearchBox_Breg .rsbButtonSearch {
    margin: 0;
    border-width: 0 0 0 1px;
    border-radius: 0 4px 4px 0; }
    .RadSearchBox_Breg .rsbButtonSearch .rsbIcon {
      width: 20px;
      height: 20px; }
  .RadSearchBox_Breg .rsbButtonsLeft .rsbButton {
    border-width: 0 1px 0 0; }
  .RadSearchBox_Breg .rsbButtonsLeft .rsbButton:first-child {
    border-radius: 4px 0 0 4px; }
  .RadSearchBox_Breg .rsbButtonsRight .rsbButton {
    border-width: 0 0 0 1px; }
  .RadSearchBox_Breg .rsbSearchContext {
    margin: -1px 0 -1px -1px; }
  .RadSearchBox_Breg .rsbSCInner {
    padding: 6px 40px 6px 12px;
    height: auto;
    border-radius: 4px 0 0 4px;
    line-height: inherit;
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff; }
  .RadSearchBox_Breg .rsbSCIcon {
    right: 5px; }
  .RadSearchBox_Breg .rsbSCHovered {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6; }
  .RadSearchBox_Breg .rsbSCFocused {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6; }
  .RadSearchBox_Breg .rsbLoadingIcon {
    background-image: url("images/Common/loading_small.gif"); }

.rsbPopup_Breg {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
  margin: 2px 0 0 0;
  padding: 5px 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857; }
  .rsbPopup_Breg .rsbShowAll {
    border-color: #dddddd;
    color: #333333;
    background-color: #f5f5f5; }
  .rsbPopup_Breg .rsbListItem {
    padding: 3px 20px; }
  .rsbPopup_Breg .rsbListItemHovered {
    color: #000000;
    background-color: #fcfcfc; }
  .rsbPopup_Breg .rsbListItemSelected {
    color: #ffffff;
    background-color: #ff3300; }
  .rsbPopup_Breg .rsbListItemLoading {
    color: #000000;
    background-color: #fcfcfc; }

.RadSearchBox_Breg[dir="rtl"] .rsbButtonSearch {
  border-width: 0 1px 0 0;
  border-radius: 4px 0 0 4px; }

.RadSearchBox_Breg[dir="rtl"] .rsbButtonsLeft .rsbButton {
  border-width: 0 1px 0 0; }

.RadSearchBox_Breg[dir="rtl"] .rsbButtonsLeft .rsbButton:first-child {
  border-radius: 4px 0 0 4px; }

.RadSearchBox_Breg[dir="rtl"] .rsbButtonsRight .rsbButton {
  border-width: 0 0 0 1px; }
