.RadSplitter_Breg .rspLoading {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.loading.gif")%>'); }

.RadSplitter_Breg,
.RadSplitter_Breg .rspPaneTabContainer,
.RadSplitter_Breg .rspPane,
.RadSplitter_Breg .rspResizeBar,
.RadSplitter_Breg .rspSlideContainerResize,
.RadSplitter_Breg .rspPaneHorizontal,
.RadSplitter_Breg .rspResizeBarHorizontal,
.RadSplitter_Breg .rspSlideContainerResizeHorizontal {
  background-color: #eeeeee;
  color: #333333;
  border-color: #eeeeee; }

.RadSplitter_Breg .rspSlideHeader,
.RadSplitter_Breg .rspSlideTitleContainer {
  background-image: linear-gradient(); }

.RadSplitter_Breg .rspSlideTitle {
  color: #333333; }

.RadSplitter_Breg .rspSlideTitleContainer,
.RadSplitter_Breg .rspSlideHeaderIconWrapper {
  border-bottom: 1px solid #dddddd; }

.RadSplitter_Breg .rspSlideHeaderDockIcon,
.RadSplitter_Breg .rspSlideHeaderUndockIcon,
.RadSplitter_Breg .rspSlideHeaderCollapseIcon {
  height: 32px;
  width: 32px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: #333333; }

.RadSplitter_Breg .rspSlideHeaderDockIcon:hover,
.RadSplitter_Breg .rspSlideHeaderUndockIcon:hover,
.RadSplitter_Breg .rspSlideHeaderCollapseIcon:hover {
  border-color: #d0d0d0;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient(); }

.RadSplitter_Breg .rspSlideHeaderDockIcon:before,
.RadSplitter_Breg .rspSlideHeaderUndockIcon:before,
.RadSplitter_Breg .rspSlideHeaderCollapseIcon:before {
  margin: 6px 0 0 6px; }

.RadSplitter_Breg .rspSlideContent,
.RadSplitter_Breg .rspTabsContainer {
  background-color: #ffffff;
  color: #333333; }

.RadSplitter_Breg .rspResizeBar,
.RadSplitter_Breg .rspSlideContainerResize {
  background-color: #ffffff;
  background-image: linear-gradient(to left, );
  border-right-color: #dddddd; }

.RadSplitter_Breg .rspResizeBarOver,
.RadSplitter_Breg .rspSlideContainerResizeOver {
  background-image: linear-gradient(to left, ); }

.RadSplitter_Breg .rspResizeBarHorizontal,
.RadSplitter_Breg .rspSlideContainerResizeHorizontal {
  background-image: linear-gradient();
  border-bottom-color: #dddddd; }

.RadSplitter_Breg .rspResizeBarOverHorizontal,
.RadSplitter_Breg .rspSlideContainerResizeOverHorizontal {
  background-image: linear-gradient(); }

.RadSplitter_Breg .rspPaneTabContainer,
.RadSplitter_Breg .rspBottom .rspPaneTabContainer,
.RadSplitter_Breg .rspTop .rspPaneTabContainer {
  background-color: #ffffff;
  color: #ff3300; }

.RadSplitter_Breg .rspPaneTabContainer:hover,
.RadSplitter_Breg .rspBottom .rspPaneTabContainer:hover,
.RadSplitter_Breg .rspTop .rspPaneTabContainer:hover {
  background-color: #e6e6e6;
  color: #cc2900; }

.RadSplitter_Breg .rspPaneTabContainerExpanded,
.RadSplitter_Breg .rspBottom .rspPaneTabContainerExpanded,
.RadSplitter_Breg .rspTop .rspPaneTabContainerExpanded {
  background-color: #e6e6e6;
  color: #cc2900; }

.RadSplitter_Breg .rspCollapseBarExpand,
.RadSplitter_Breg .rspCollapseBarCollapse,
.RadSplitter_Breg .rspCollapseBarHorizontalExpand,
.RadSplitter_Breg .rspCollapseBarHorizontalCollapse {
  background-color: #ffffff;
  border-color: #eeeeee; }

.RadSplitter_Breg .rspCollapseBarExpandOver,
.RadSplitter_Breg .rspCollapseBarCollapseOver,
.RadSplitter_Breg .rspCollapseBarHorizontalExpandOver,
.RadSplitter_Breg .rspCollapseBarHorizontalCollapseOver {
  background-color: #e6e6e6; }

.RadSplitter_Breg .rspCollapseBarHorizontalCollapse + .rspCollapseBarHorizontalExpand {
  margin: 0 0 0 -2px; }

.RadSplitter_Breg .rspCollapseBarCollapse + .rspCollapseBarExpand {
  margin: -3px 0 0; }

.RadSplitter_Breg .rspCollapseBarExpand:before,
.RadSplitter_Breg .rspCollapseBarCollapse:before,
.RadSplitter_Breg .rspCollapseBarHorizontalExpand:before,
.RadSplitter_Breg .rspCollapseBarHorizontalCollapse:before {
  font-size: 24px; }

.RadSplitter_Breg .rspCollapseBarExpand:before {
  margin: 1px 0 0 -18px; }

.RadSplitter_Breg .rspCollapseBarCollapse:before {
  margin: 1px 0 0 -10px; }

.RadSplitter_Breg .rspCollapseBarHorizontalExpand:before {
  margin: -9px 0 0 -14px; }

.RadSplitter_Breg .rspCollapseBarHorizontalCollapse:before {
  margin: -10px 0 0 -14px; }

.RadSplitter_Breg .rspSlideContainer td.rspSlideContainerResize {
  padding: 0 2px; }

.RadSplitter_Breg .rspResizeBar .rspCollapseBarSpacer {
  width: 8px !important; }

.RadSplitter_Breg .rspResizeBarHorizontal .rspCollapseBarSpacer {
  height: 8px !important; }

.RadSplitter_Breg .rspSlideContainer td.rspSlideContainerResize {
  padding: 0 2px;
  border-color: #dddddd; }

.RadSplitter_Breg .rspResizeBar .rspCollapseBarSpacer {
  width: 6px !important; }

.RadSplitter_Breg .rspResizeBarHorizontal .rspCollapseBarSpacer {
  height: 6px !important; }

.RadSplitter_Breg .rspCollapseBarExpand,
.RadSplitter_Breg .rspCollapseBarCollapse {
  height: 26px;
  line-height: 26px;
  width: 6px;
  margin: 2px 0; }

.RadSplitter_Breg .rspCollapseBarHorizontalExpand,
.RadSplitter_Breg .rspCollapseBarHorizontalCollapse {
  width: 26px;
  height: 6px;
  line-height: 26px;
  margin: 0 1px; }

.RadSplitter_Breg .rspSlideContainer td.rspSlideContainerResizeHorizontal {
  padding: 2px 0 3px 0; }

.RadSplitter_Breg .rspPaneHorizontal .rspPaneTabContainer {
  height: 22px !important;
  overflow: hidden; }

.RadSplitter_Breg .rspSlideHeader table {
  height: 39px;
  background-color: #f5f5f5; }

.RadSplitter_Breg .rspSlideHeader .rspSlideTitle {
  color: #333333;
  margin: 0 5px 0 15px; }

.RadSplitter_Breg .rspSlideHeader .rspSlideHeaderIconWrapper {
  padding: 0 2px 0 0; }

div.RadSplitter .rspHelperBarDrag,
div.RadSplitter .rspHelperBarSlideDrag {
  background-color: #ff3300 !important;
  opacity: 1; }
