.RadTabStrip_Breg {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.RadTabStrip.RadTabStrip_Breg .rtsUL {
   margin: 0 15px;
}
.RadTabStrip.RadTabStrip_Breg .rtsLink {
  background-color: #ffffff;
  margin-right: 5px;
}
  .RadTabStrip_Breg.rtsTop .rtsLevel1 {
    border-color: #dddddd;
    border-bottom-width: 0;
  }
    .RadTabStrip_Breg .rtsLevel1 .rtsLink {
      border-color: #dddddd;
       color: #333333;}
    .RadTabStrip_Breg .rtsLevel1 .rtsHovered.rtsLink,
    .RadTabStrip_Breg .rtsLevel1 .rtsLink:hover {
      border-color: #eeeeee;
      color: #991e00;
      background-color: #eeeeee; }
    .RadTabStrip_Breg .rtsLevel1 .rtsSelected.rtsLink {
      border-color: #eeeeee;
      color: #ff3300;
      background-color: #eeeeee; }
    .RadTabStrip_Breg .rtsLevel1 .rtsFocused.rtsLink,
    .RadTabStrip_Breg .rtsLevel1 .rtsLink:focus {
      border-color: #66afe9;
      box-shadow: inset 0 0 5px #66afe9; }
  .RadTabStrip_Breg .rtsLevel1 ~ .rtsLevel {
    border-color: transparent; /*#dddddd;*/
    color: #333333;
    background-color: #eeeeee;
    padding-top: 0px;
    border-width: 0px !important;
  }
    .RadTabStrip_Breg .rtsLevel1 ~ .rtsLevel .rtsLink {
      color: #ff3300; }
    .RadTabStrip_Breg .rtsLevel1 ~ .rtsLevel .rtsHovered .rtsLink {
      color: #991e00; }
    .RadTabStrip_Breg .rtsLevel1 ~ .rtsLevel .rtsSelected .rtsLink {
      color: #333333; }
    .RadTabStrip_Breg .rtsLevel1 ~ .rtsLevel .rtsFocused .rtsLink {
      border-color: #c4c4c4;
      box-shadow: inset 0 0 5px #c4c4c4; }
  .RadTabStrip_Breg .rtsGhostTab {
    border-color: #dddddd;
    border-radius: 4px;
    color: #333333;
    background-color: #f5f5f5; }

.RadTabStrip.rtsTop .rtsLevel1 .rtsLink {
  border-radius: 6px 6px 0 0; }

.RadTabStrip.rtsTop .rtsLevel1 .rtsSelected.rtsLink {
  border-bottom-color: transparent; }

.RadTabStrip.rtsBottom .rtsLevel1 .rtsLink {
  border-radius: 0 0 4px 4px; }

.RadTabStrip.rtsBottom .rtsLevel1 .rtsSelected.rtsLink {
  border-top-color: transparent; }

.RadTabStrip.rtsLeft .rtsLevel1 .rtsLink {
  border-radius: 4px 0 0 4px; }

.RadTabStrip.rtsLeft .rtsLevel1 .rtsSelected.rtsLink {
  border-right-color: transparent; }

.RadTabStrip.rtsRight .rtsLevel1 .rtsLink {
  border-radius: 0 4px 4px 0; }

.RadTabStrip.rtsRight .rtsLevel1 .rtsSelected.rtsLink {
  border-left-color: transparent; }

.RadTabStrip .rtsOut, 
.RadTabStripVertical .rtsOut {
  padding-right: 0 !important;
}

.RadTabStrip .rtsLink, 
.RadTabStripVertical .rtsLink {
  padding-left: 15px !important;
}
.RadTabStrip.RadTabStrip_Breg .rtsLink .rtsTxt {
  font-size: 13px;
  font-weight: lighter;
}