.RadTagCloud_Breg {
  background-color: #ffffff;
  border: 1px dotted #dddddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* Loading image */ }
  .RadTagCloud_Breg .rtcTagList .rtcTagItem {
    color: #ff3300; }
  .RadTagCloud_Breg .rtcTagList .rtcTagItem:hover {
    color: #991e00; }
  .RadTagCloud_Breg .rtcTagList .rtcTagItem a {
    color: #ff3300; }
  .RadTagCloud_Breg .rtcTagList .rtcTagItem a:hover {
    background-color: #eeeeee;
    color: #991e00; }
  .RadTagCloud_Breg.rtcLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.loading_small.gif")%>'); }
