.RadTile_Breg {
  color: #ffffff;
  background-color: #ff3300;
  /* Loading image */ }
  .RadTile_Breg.rtileSelected {
    border-color: #f0ad4e; }
  .RadTile_Breg.rtileHovered {
    border-color: #a82200; }
  .RadTile_Breg.rtileSelected.rtileHovered {
    border-color: rgba(240, 173, 78, 0.7); }
  .RadTile_Breg.rtileSelected .rtileSelectedIcon {
    background-color: #f0ad4e;
    color: #ffffff; }
  .RadTile_Breg .rtileBadgeIcon {
    color: #ffffff; }
  html .RadTile_Breg.RadTile h6.rtileTitle {
    color: #ffffff; }
  .RadTile_Breg .rtilePeekContent {
    background-color: #fcfcfc; }
  .RadTile_Breg.rtileLoading,
  .RadTile_Breg .rtileLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.BregVisionTheme.Common.loading_small.gif")%>'); }
