.RadToolTip_Breg {
  background-color: #ffffff;
  color: #333333;
  border-color: #dddddd; }
  .RadToolTip_Breg .rtTitleWrapper {
    color: #333333; }
  .RadToolTip_Breg .rtClose {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient(); }
  .RadToolTip_Breg .rtClose:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadToolTip_Breg .rtClose:active {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(); }
  .RadToolTip_Breg .rtCalloutTopRight,
  .RadToolTip_Breg .rtCalloutTopCenter,
  .RadToolTip_Breg .rtCalloutTopLeft {
    border-bottom-color: #dddddd; }
  .RadToolTip_Breg .rtCalloutTopRight:before,
  .RadToolTip_Breg .rtCalloutTopCenter:before,
  .RadToolTip_Breg .rtCalloutTopLeft:before {
    border-bottom-color: #ffffff; }
  .RadToolTip_Breg .rtCalloutMiddleRight {
    border-left-color: #dddddd; }
  .RadToolTip_Breg .rtCalloutMiddleRight:before {
    border-left-color: #ffffff; }
  .RadToolTip_Breg .rtCalloutMiddleLeft {
    border-right-color: #dddddd; }
  .RadToolTip_Breg .rtCalloutMiddleLeft:before {
    border-right-color: #ffffff; }
  .RadToolTip_Breg .rtCalloutBottomRight,
  .RadToolTip_Breg .rtCalloutBottomCenter,
  .RadToolTip_Breg .rtCalloutBottomLeft {
    border-top-color: #dddddd; }
  .RadToolTip_Breg .rtCalloutBottomRight:before,
  .RadToolTip_Breg .rtCalloutBottomCenter:before,
  .RadToolTip_Breg .rtCalloutBottomLeft:before {
    border-top-color: #ffffff; }
  .RadToolTip_Breg.rtLoading {
    background-image: url("images/Common/loading.gif"); }
