.RadToolBar_Breg {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5; }

.RadToolBar_Breg .rtbItem + .rtbItem {
  margin-left: 5px; }

.RadToolBar_Breg .rtbArrow {
  padding: 2px 10px;
  margin-right: -10px; }

.RadToolBar_Breg .rtbSeparator {
  border-color: transparent #fff transparent #eeeeee; }

.RadToolBar_Breg .rtbButton {
  padding: 6px 12px;
  color: #333333;
  border-color: #eeeeee;
  background-color: #ffffff;
  border-radius: 0.28571em; }

.RadToolBar_Breg .rtbSplitButton .rtbArrow {
  border-color: #eeeeee; }

.RadToolBar_Breg .rtbHovered .rtbButton {
  color: #333333;
  border-color: #d0d0d0;
  background-color: #e6e6e6; }

.RadToolBar_Breg .rtbFocused .rtbButton {
  box-shadow: 0 0 3px 1px #afafaf inset; }

.RadToolBar_Breg .rtbPressed .rtbButton,
.RadToolBar_Breg .rtbChecked .rtbButton,
.RadToolBar_Breg .rtbExpanded .rtbButton {
  color: #333333;
  border-color: #afafaf;
  background-color: #e6e6e6; }

.RadToolBar_Vertical .rtbSeparator {
  border-color: #eeeeee transparent #fff transparent; }

.rtbPopup_Breg {
  color: #333333;
  border-color: #dddddd;
  background-color: #ffffff; }
  .rtbPopup_Breg.rtbRoundedCorners {
    border-radius: 0.28571em; }
  .rtbPopup_Breg .rtbSeparator {
    border-color: #eeeeee; }
  .rtbPopup_Breg .rtbItem .rtbLink {
    border-radius: 0.28571em; }
  .rtbPopup_Breg .rtbItem.rtbHovered .rtbLink {
    color: #000000;
    border-color: #e2e2e2;
    background-color: #efefef; }
  .rtbPopup_Breg .rtbImage {
    margin-left: -24px;
    margin-right: 8px; }

.RadToolBar_Breg_rtl .rtbItem + .rtbItem {
  margin-left: 0;
  margin-right: 5px; }

.RadToolBar_Breg_rtl .rtbArrow {
  margin-left: -10px;
  margin-right: 0; }

.RadToolBar_Breg_rtl .rtbSplitButton .rtbArrow {
  margin-left: -10px;
  margin-right: 8px; }

.RadToolBarDropDown_Breg_rtl .rtbImage {
  margin-left: 8px;
  margin-right: -24px; }
