.RadUpload_Breg {
  color: #333333;
  line-height: 34px; }

.RadUpload_Breg .ruFileLI .ruButton {
  color: #ff3300; }

.RadUpload_Breg .ruFileLI .ruFileProgressWrap {
  top: 1.92857em;
  background-color: #f5f5f5; }

.RadUpload_Breg .ruFileLI .ruFileProgress {
  background-color: #ff3300; }

.RadUpload_Breg .ruSelectWrap {
  margin-top: 0.71429em; }
  .RadUpload_Breg .ruSelectWrap .ruFakeInput {
    height: 2.28571em;
    background-color: #ffffff;
    border-color: #dddddd;
    border-radius: 0.28571em; }
  .RadUpload_Breg .ruSelectWrap .ruButton {
    padding: 0em 0.85714em;
    line-height: 2.28571em;
    color: #333333;
    border-color: #eeeeee;
    background-color: #ffffff;
    border-radius: 0.28571em; }
    .RadUpload_Breg .ruSelectWrap .ruButton.ruButtonHover {
      color: #333333;
      border-color: #eeeeee;
      background-color: #e6e6e6; }

.RadUpload_Breg .ruDropZone {
  color: #333333;
  border-color: #dddddd;
  background-color: #fcfcfc;
  border-radius: 0.28571em; }
