/* WRAPPER SETTINGS */

.radInput_Outlook
{
	font-family: "Arial", "Verdana", "Tahoma", sans-serif;
	font-size: 12px;
	font-weight: normal;
	vertical-align: top;
}

.radInput_Outlook table
{
	width: 179px;
	border: 0;
	margin: 0;
	padding: 0;
}

.radInput_Outlook .inputCell 
{
	padding-right: 4px;	
	*padding-right: 4px; /*IE hack*/	
}

.radInput_Outlook .imageCell,
.radInput_Outlook .spinImgCell
{
	padding-top: 2px;
}

.radInput_Outlook .imageCell img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1; 
    opacity: 1; 
}

/* SPIN BUTTONS */

.radInput_Outlook a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 12px;
	height: 9px; 
	line-height: 9px;
	background: transparent url('Img/SpinButtonSprites.gif') no-repeat;
	font-size: 1px;
	top: 2px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;	
}

.radInput_Outlook a.spinbutton.up
{
	background-position: center 0;
}

.radInput_Outlook a.spinbutton.down
{
	background-position: center -9px;
}

.radInput_Outlook a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 17px; 
	line-height: 17px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	*position: inherit; /*IE fix*/
	outline: none;
}

/* END OF WRAPPER SETTINGS */



/* INPUT STYLES SETTINGS */
.radEnabledCss_Outlook 
{
	width: 179px;
	color: #424242;
	border: solid 1px #aeaeae;
}

.radHoverCss_Outlook 
{
	width: 179px;
	color: #242424;
	border: solid 1px #c6c6c6;
}

.radDisabledCss_Outlook
{
	width: 179px;
	color: Gray;
	border: solid 1px Grey; 
	background-color: #e3e3e3;
}

.radDisabledCss_Default a.gobutton,
.radDisabledCss_Default a.spinbutton
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity: .3; 
	-moz-opacity: .3;
	cursor: no-drop;
}

.radEmptyMessageCss_Outlook
{
	width: 179px;
	color: #000000;
	border: solid 1px #c4dbf9; 
	background-color: #e0eeff;
}


.radFocusedCss_Outlook
{
	width: 179px;
	color: #000000;
	background-color: #fff;
	border: solid 1px #000080;
}

.radNegativeCss_Outlook
{
	width: 179px;
	color:  #000000;
	border: solid 1px #990000; 
}

.radInvalidCss_Outlook
{
	width: 179px;
	color: red;
	border: solid 1px #ffad55;
	background-color: #ffffff;
}

.radLabelCss_Outlook
{
	color: #000000; 
	padding-right: 5px; 
}

.radHint_Outlook 
{
	background: infobackground;
	margin-top: 5px;
	border: solid 1px black;
	text-align: left;
	overflow: auto; 
}

.radHint_Outlook a,
.radHint_Outlook a:visited,
.radHint_Outlook a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}
